<%
	type = "content"
	page = "heal"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="container__wrap">
		<div class="content-visual type-baby">
			<div class="content-visual__box type-left">
				<div class="content-visual__wrap">
					<h2 class="content-visual__tit">
						바노바기 힐 에이징
						<span class="content-visual__tit-point">베이비<br class="hidden-p">페이스 <span class="inline-block">테라피</span></span>
					</h2>
					<p class="content-visual__txt1">
						피부 속 부터 달라지는 콜라겐 리모델링
					</p>
					<p class="content-visual__point">POINT</p>
					<p class="content-visual__txt2">
						피부 속부터 생기를 부여하여 보다 근본적이고 오래<br class="hidden-m">
						유지되는 시술
					</p>
				</div>
			</div>
			<div class="content-visual__box type-right">
				<div class="content-visual__img">베이비페이스 이미지</div>
			</div>
		</div>
		<!-- //content-visual-->
		<div class="content-seciton">
			<div class="baby-box1">
				<div class="content-top type-baby">
					<p class="content-top__subtit subtit-v1">바노바기의 노하우로 만든 고유의 시술</p>
					<h2 class="content-top__tit tit-v1"><span class="color-baby1">베이비페이스</span> 테라피</h2>
					<p class="content-top__txt txt-v1">
						베이비페이스 테라피는 물광PRP+힐링주사+울쎄라를 결합한 시술로 미백, 주름 보습, 탄력을 한 번에 개선하는 안전하고 검증된 시술입니다.
					</p>
				</div>
				<!-- //content-top-->
			</div><!-- //baby-box1 -->
			<div class="baby-box2 box-style1">
				<h2 class="baby-box2__tit tit-v1">베이비페이스 테라피의 <span class="color-baby1">효과</span></h2>
				<ul class="baby-box2__list">
					<li class="baby-box2__item">
						<div class="baby-box2__img">
							<img src="../../images/heal/baby/baby_effect1.jpg" alt="" class="img-responsive">
						</div>
						<p class="baby-box2__txt">
							<span class="color-baby1">POINT 01.</span> 리프팅 / 잔주름 개선 효과
						</p>
					</li>
					<li class="baby-box2__item">
						<div class="baby-box2__img">
							<img src="../../images/heal/baby/baby_effect2.jpg" alt="" class="img-responsive">
						</div>
						<p class="baby-box2__txt">
							<span class="color-baby1">POINT 02.</span> 피부치밀도 / 탄력 증가
						</p>
					</li>
					<li class="baby-box2__item">
						<div class="baby-box2__img">
							<img src="../../images/heal/baby/baby_effect3.jpg" alt="" class="img-responsive">
						</div>
						<p class="baby-box2__txt">
							<span class="color-baby1">POINT 03.</span> 피부 재생
						</p>
					</li>
					<li class="baby-box2__item">
						<div class="baby-box2__img">
							<img src="../../images/heal/baby/baby_effect4.jpg" alt="" class="img-responsive">
						</div>
						<p class="baby-box2__txt">
							<span class="color-baby1">POINT 04.</span> 모공축소 / 피지감소
						</p>
					</li>
					<li class="baby-box2__item">
						<div class="baby-box2__img">
							<img src="../../images/heal/baby/baby_effect5.jpg" alt="" class="img-responsive">
						</div>
						<p class="baby-box2__txt">
							<span class="color-baby1">POINT 05.</span> 피부결 개선
						</p>
					</li>
					<li class="baby-box2__item">
						<div class="baby-box2__img">
							<img src="../../images/heal/baby/baby_effect6.jpg" alt="" class="img-responsive">
						</div>
						<p class="baby-box2__txt">
							<span class="color-baby1">POINT 06.</span> 피부톤 개선
						</p>
					</li>
				</ul>
			</div>
			<div class="advantage box-style1">
				<p class="advantage__subtit subtit-v1">BABY FACE therapy</p>
				<h2 class="advantage__tit tit-v1">베이비페이스 테라피의 <span class="color-baby1">장점</span></h2>
				<div class="advantage__img">
					<p class="advantage__noti">※ 본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수 있으며, 환자 본인의 동의를 얻어 촬영 후 게재하였습니다.</p>
				</div>
				<div class="advantage__bg">
					<ul class="advantage__list">
						<li class="advantage__item">
							<div class="advantage__box">ONE DAY 시술</div>
						</li>
						<li class="advantage__item">
							<div class="advantage__box">비교적 빠르게 나타나는 효과 & 지속적인 효과 </div>
						</li>
						<li class="advantage__item">
							<div class="advantage__box">미백, 주름, 보습, 탄력을 한 번에 개선</div>
						</li>
						<li class="advantage__item">
							<div class="advantage__box">피부 속부터 건강해지는 진정한 힐링 뷰티</div>
						</li>
						<li class="advantage__item">
							<div class="advantage__box">안전하고 검증된 시술</div>
						</li>
						<li class="advantage__item">
							<div class="advantage__box">거의 티나지 않고 비교적 빠른 일상 복귀 가능</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="img-list8 box-style1">
				<h2 class="img-list8__tit tit-v1">베이비페이스 테라피가 <span class="color-baby1">필요한 분들</span></h2>
				<ul class="img-list8__list">
					<li class="img-list8__item">
						<div class="img-list8__img">
							<img src="../../images/heal/baby/baby_circle1.png" alt="피부 노화가 진행되는 분" class="img-responsive">
						</div>
						<p class="img-list8__txt">
							피부 노화가 진행되는 분
						</p>
					</li>
					<li class="img-list8__item">
						<div class="img-list8__img">
							<img src="../../images/heal/baby/baby_circle2.png" alt="피부가 건조하고 탄력이 떨어져 나이 들어 보이는 분" class="img-responsive">
						</div>
						<p class="img-list8__txt">
							피부가 건조하고 탄력이 떨어져 <span class="inline-block">나이 들어 보이는 분</span>
						</p>
					</li>
					<li class="img-list8__item">
						<div class="img-list8__img">
							<img src="../../images/heal/baby/baby_circle3.png" alt="피부톤이 칙칙하고 모공이 늘어져 보이는 분" class="img-responsive">
						</div>
						<p class="img-list8__txt">
							피부톤이 칙칙하고 모공이 <span class="inline-block">늘어져 보이는 분</span>
						</p>
					</li>
					<li class="img-list8__item">
						<div class="img-list8__img">
							<img src="../../images/heal/baby/baby_circle4.png" alt="턱선이 매끈하지 않고 늘어져 보이는 분" class="img-responsive">
						</div>
						<p class="img-list8__txt">
							턱선이 매끈하지 않고 <span class="inline-block">늘어져 보이는 분</span>
						</p>
					</li>
					<li class="img-list8__item">
						<div class="img-list8__img">
							<img src="../../images/heal/baby/baby_circle5.png" alt="여러 번 시간을 내서 시술 받기 어려운 분" class="img-responsive">
						</div>
						<p class="img-list8__txt">
							여러 번 시간을 내서 <span class="inline-block">시술 받기 어려운 분</span>
						</p>
					</li>
					<li class="img-list8__item">
						<div class="img-list8__img">
							<img src="../../images/heal/baby/baby_circle6.png" alt="티가 나지 않으면서 예뻐지기를 원하는 분" class="img-responsive">
						</div>
						<p class="img-list8__txt">
							티가 나지 않으면서 <span class="inline-block">예뻐지기를 원하는 분</span>
						</p>
					</li>
				</ul>
			</div>
			<!-- //img-list8-->
			<div class="baby-box5 box-style1">
				<p class="baby-box5__subtit subtit-v1">BANOBAGI SKIN</p>
				<h2 class="baby-box5__tit tit-v1">베이비페이스 테라피 <strong class="color-baby2">시술내용</strong></h2>
				<div class="baby-box5__wrap">
					<ul class="baby-box5__list">
						<li class="baby-box5__item">
							<h3 class="baby-box5__subject"><span class="color-baby1">STEP. 01</span> 물광 PRP</h3>
							<p class="baby-box5__txt">피부 노화를 저지하고 강력한 <span class="inline-block">보습 효과를 주는 시술</span></p>
							<p class="baby-box5__point">수분보충 / 피부재생유도 / 피부톤개선</p>
							<div class="baby-box5__box">
								<div class="baby-box5__img">
									<img src="../../images/heal/baby/baby_therapie1.jpg" alt="물광 PRP" class="img-responsive">
								</div>
								<p class="baby-box5__content txt-v1">
									PRP는 자가 혈액에서 뽑아낸 혈액에서 혈소판을 분리한 뒤 피부에 주입하는 시술로
									조골세포, 줄기세포, 내피세포, 섬유아세포 등 각종 성장 인자가 함유되어 있습니다.
									이 혈소판을 히알루론산 성분과 배합하여 시술하는 것이 물광 PRP이며, <span class="color-black1">피부에 수분
										보충</span>은 물론 <span class="color-black1">탄력과 재생을 유도</span>하는 시술로<span class="color-black1"> 피부톤이 맑아지고 탱탱</span>해지는 것을 느낄
									수 있습니다.
								</p>
							</div>
						</li>
						<li class="baby-box5__item">
							<h3 class="baby-box5__subject"><span class="color-baby1">STEP. 02</span> 힐링주사</h3>
							<p class="baby-box5__txt">피부 진피층에 채워주는 영양제, 피부 재생과<br class="hidden-p"> 기능 회복에 우수한 효과</p>
							<p class="baby-box5__point">피부 탄력 증가 / 피부 재생 / 피부 복원</p>
							<div class="baby-box5__box">
								<div class="baby-box5__img">
									<img src="../../images/heal/baby/baby_therapie2.jpg" alt="힐링주사" class="img-responsive">
								</div>
								<p class="baby-box5__content txt-v1">
									힐링주사는 피부 재생을 돕는 효과적인 생체복합 물질 (폴리뉴클레오티드)을 <span class="color-black1">피부 속
										진피까지 전달하여 손상된 피부 내부-피부세포 속부터 재생시키는 시술</span>입니다
								</p>
								<p class="baby-box5__noti">
									※ 폴리뉴클레오티드(PN,POLYNUCLEOTIDE)란 자가 피부 재생 능력을 활성화하여 피부 속 환경의 컨디션을 정상화 시키는
									우수한 약물로 연어에서 추출한 DNA를 정제하여 만들어 안전하고 이물작용이 거의 없습니다.
									얇고 늘어진 피부의 자가 재생 능력을 활성화하여 <span class="color-black1">피부의 표피, 진피 두께 및 전체 탄력을 증가시켜 노화를 예방</span>합니다.
								</p>
							</div>
						</li>
						<li class="baby-box5__item">
							<h3 class="baby-box5__subject"><span class="color-baby1">STEP. 03</span> 울쎄라</h3>
							<p class="baby-box5__txt">뛰어난 리프팅 레이저로 탄력 개선</p>
							<div class="baby-box5__box type-another">
								<div class="baby-box5__img">
									<img src="../../images/heal/baby/baby_therapie3.jpg" alt="울쎄라" class="img-responsive">
								</div>
								<p class="baby-box5__content txt-v1">
									울쎄라는 강력한 초음파 에너지가 피부깊은 근막층(SMAS층)까지 도달하여 리프팅
									해주는 레이저 입니다. <span class="color-black1">리프팅 레이저 장비 중에서도 우수한 효과와 완성도를 자랑
										합니다. </span>
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="real-story box-style1">
				<div class="real-story__wrap">
					<h2 class="real-story__tit">
						<span class="real-story__txt-wrap type-1">BABYFACE THERAPY</span>
						<span class="real-story__txt-wrap type-2">R E A L</span>
						<span class="real-story__txt-wrap type-3">S T O R Y</span>
					</h2>
				</div>
				<p class="real-story__subtit">
					스트레스가 많은 30대 직장 여성 김지선씨의<br> 베이비페이스 테라피 리얼스토리!
				</p>
				<div class="real-story__visual">
					<div class="real-story__area nth-1">
						<p class="real-story__subject">칙칙하고<br class="hidden-p"> 생기 없는 피부<br class="hidden-tm">
							탄력 없이 늘어지는 얼굴</p>
					</div>
					<div class="real-story__area nth-2">
						<p class="real-story__subject">한 번의 시술로 1년<br class="hidden-tm">
							이상 유지되는 효과</p>
					</div>
					<p class="real-story__noti">※ 본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수 있으며, <span class="inline-block">환자 본인의 동의를  얻어 촬영 후 게재하였습니다.</span></p>
				</div>
				<ul class="real-story__list">
					<li class="real-story__item type-img nth-1">
						그녀의 고민 이미지
					</li>
					<li class="real-story__item type-txt type-brown">
						<div class="real-story__wrap2">
							<h3 class="real-story__tit2">#01. 그녀의 고민</h3>
							<p class="real-story__txt">
								요즘 야근이 많아서 피부가 푸석푸석해지고 안색도 칙칙하니
								생기가 없어요.  사람들이 다들 너 어디 아프냐고 물어 보네요.
								그렇다고 자주 시간을 낼 수 있는 상황도 아니라 더 스트레스를
								받고 피부는 점점 더 엉망이 되고… 어떡하죠?!
							</p>
						</div>
					</li>
				</ul>
				<ul class="real-story__list">
					<li class="real-story__item type-img nth-2">
						원장님 진단 이미지
					</li>
					<li class="real-story__item type-txt type-gray">
						<div class="real-story__wrap2">
							<h3 class="real-story__tit2">#02. 원장님 진단</h3>
							<p class="real-story__txt">
								얼굴이 건조하고 푸석푸석해서 생기가 없어 보입니다.
								탄력이 떨어져 턱라인이 매끈하지 않다보니 나이보다
								더 들어 보이는 듯 하네요. <span class="color-white">병원에 자주 내원할 시간이 없다고
									하셔서 하루 만에 어려지고 예뻐지는 베이비페이스 테라피를
									추천</span>했습니다.
							</p>
						</div>
					</li>

				</ul>
			</div>
			<div class="content-step type-ulthera type-pb0">
				<div class="content-step__box">
					<h2 class="content-step__tit">베이비페이스 테라피 <span class="color-baby1">시술과정</span></h2>
					<ul class="content-step__list">
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/baby/baby_step1.jpg" alt="step1 - 클렌징" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 01</h3>
									<p class="txt-v2">클렌징</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/baby/baby_step2.jpg" alt="step2 - 더마비전 촬영" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 02</h3>
									<p class="txt-v2">더마비전 촬영</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/baby/baby_step3.jpg" alt="step3 - 원장님 진료" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 03</h3>
									<p class="txt-v2">원장님 진료</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/baby/baby_step4.jpg" alt="step4 - 마취" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 04</h3>
									<p class="txt-v2">마취</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/baby/baby_step5.jpg" alt="step5 - 혈액채취" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 05</h3>
									<p class="txt-v2">혈액채취</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/baby/baby_step6.jpg" alt="step6 - 울쎄라 리프팅" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 06</h3>
									<p class="txt-v2">울쎄라 리프팅</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/baby/baby_step7.jpg" alt="step7 - 물광 PRP" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 07</h3>
									<p class="txt-v2">물광 PRP</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/baby/baby_step8.jpg" alt="step8 - 힐링주사" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 08</h3>
									<p class="txt-v2">힐링주사</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/baby/baby_step9.jpg" alt="step9 - 이온 관리" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 09</h3>
									<p class="txt-v2">이온 관리</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/baby/baby_step10.jpg" alt="step10 - 진정팩" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 10</h3>
									<p class="txt-v2">진정팩</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/baby/baby_step11.jpg" alt="step11 - 광선치료" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 11</h3>
									<p class="txt-v2">광선치료</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
					</ul>
				</div>
			</div>
			<!-- //content-step-->
		</div>
	</div>
</div><!--//container-->
<% include ../_include/_footer %>
