<%
	type = "detail"
	page = "heal"
%>
<% include ../_include/_header %>
<div class="onepage type-another">
	<div class="content-section type-visual heal-section0" data-section-name="heal-section0">
		<div class="inner-wrap">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="detail-visual">
							<h3 class="detail-visual__tit">
								BANOBAGI<br>
								HEAL AGING<br>
								<strong>DETAIL</strong>
							</h3>
							<p class="onepage__subtit detail-visual__subtit">
								우아하게 노화를 치유하는 비결<br>
								피부 속에서부터 채우는 젊음
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="scroll type-detail">
			<div class="scroll__inner">
				<i class="scroll__ball"></i>
			</div>
			<p class="scroll__txt">SCROLL</p>
		</div>
	</div>
	<div class="content-section heal-section1" data-section-name="heal-section1">
		<div class="inner-wrap">
			<div class="heal-detail1__noti">
				※ 실제 시술사례가 아닌 이해를 돕기 위한 이미지입니다.
			</div>
			<div class="onepage__box type-half type-r">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<h3 class="detail__tit heal-detail1__tit">
							피부 세포를 <strong class="heal-detail1__color">젊어지게</strong> 합니다
						</h3>
						<p class="onepage__subtit heal-detail1__subtit">
							노화를 치료하는 여러가지 방식 중에서,<br>
							바노바기피부과의 특별함
						</p>
						<p class="onepage__txt type-detail heal-detail1__txt">
							바노바기피부과의 노화 치료 방식이 아주 특별하지는 않습니다.
							그저 우아하고 정직합니다. 바노바기피부과에서는 피부 노화 정도를 진단하고,
							부족한 것들을 채워 나가는 것으로 노화를 치료합니다. <br><br>

							콜라겐, 엘라스틴, 히알루론산 등 피부 젊음을 결정짓는 피부 요소들을 풍부하게
							만들고 젊음을 되살리는 것, 바노바기가 추구하는 힐 에이징입니다.
						</p>
						<ul class="heal-detail1__list">
							<li class="heal-detail1__item">
								<div class="heal-detail1__box">
									<img src="../../images/heal/detail/heal_detail_img1.png" alt="Young Skin">
								</div>
								<h4 class="heal-detail1__caption">Young Skin</h4>
							</li>
							<li class="heal-detail1__item">
								<div class="heal-detail1__box">
									<img src="../../images/heal/detail/heal_detail_img2.png" alt="Aging Skin">
								</div>
								<h4 class="heal-detail1__caption">Aging Skin</h4>
							</li>
						</ul>
					</div>
					<div class="detail__img2 heal-detail1__img">피부세포 이미지</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section heal-section2" data-section-name="heal-section2">
		<div class="inner-wrap">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<h3 class="detail__tit heal-detail2__tit">
							울쎄라와 써마지 FLX 는 <strong class="heal-detail2__color">기본</strong>입니다
						</h3>
						<p class="onepage__subtit heal-detail2__subtit">
							같은 장비를 사용하는데, 왜 바노바기에서 하면 다른가요?
						</p>
						<p class="onepage__txt type-detail heal-detail2__txt">
							저희 병원에 오시는 분들 중 가끔 이런 얘기를 하시는 분들이 계십니다.
							같은 울쎄라, 써마지를 사용하더라도 누가 사용하느냐에 따라
							결과는 충분히 달라질 수 있습니다. 같은 식재료를 사용하더라도 어떤 요리사가
							만드느냐에 따라 음식의 맛이 달라지는 것처럼요.
							<br><br>

							울쎄라나 써마지 FLX 는 기본으로 사용하면서 어떻게 변주하고 능수능란하게 다루는지,
							그 차이를 바노바기에서 느껴 보시기 바랍니다.
						</p>
					</div>
					<div class="detail__img2 heal-detail2__img">울쎄라,써마지 장비</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section heal-section3" data-section-name="heal-section3">
		<div class="inner-wrap">
			<div class="onepage__box type-half type-r">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<h3 class="detail__tit heal-detail3__tit">
							우리가 아는 방법을
							<strong class="heal-detail3__color">적극적으로 활용</strong>합니다
						</h3>
						<p class="onepage__subtit heal-detail3__subtit">
							더 좋은 결과를 위한 복합 처방의 노하우
						</p>
						<p class="onepage__txt type-detail heal-detail3__txt">
							특정 레이저 하나만 사용한다고 해서 좋은 결과를 기대할 수는 없습니다.
							피부를 빠르게 회복시키고 재생시키는 다른 방법들을 동원해야
							피부 세포가 활발하게 살아납니다.
							<br><br>

							바노바기피부과에서는 오랜 경험에서 얻어낸 노하우들을 이렇게도 적용하고,
							저렇게도 적용해 보며 환자분께 가장 적합한 치료 방법을 찾아드립니다.
						</p>
					</div>
					<div class="detail__img2 heal-detail3__img">피부과 원장님</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section heal-section4" data-section-name="heal-section4">
		<div class="inner-wrap">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<h3 class="detail__tit heal-detail4__tit">
							올인원시리즈는<br>
							<strong class="heal-detail4__color">신뢰</strong>의 치료법입니다.
						</h3>
						<p class="onepage__subtit heal-detail4__subtit">
							의사와 환자 간의 신뢰와 소통이 만드는 아름다운 결과
						</p>
						<p class="onepage__txt type-detail heal-detail4__txt">
							올인원 치료는 사실 조금 지루합니다. 최소 서너번은
							내원해야 하고, 길게는 석 달 정도 시간이 필요한 치료법입니다.
							그만큼 오랜 시간 공을 들여 치료하는 것이고,
							그 정성만큼 결과는 만족스러우실 겁니다.
							이 기다림의 시간 동안 의사와 환자의 소통은 필수이고,
							신뢰는 더욱 단단해집니다.<br><br>

							환자의 이야기를 듣고, 의사 치료법을 믿어야 하는 프로그램,
							바노바기 올인원은 그래서 더 자신 있습니다.
						</p>
					</div>
					<div class="detail__img2 heal-detail4__img">동안피부</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
