<%
	type = "content"
	page = "heal"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="container__wrap">
		<div class="content-visual type-necklift">
			<div class="content-visual__box type-left">
				<div class="content-visual__wrap">
					<h2 class="content-visual__tit">
						바노바기 힐 에이징
						<span class="content-visual__tit-point">목주름<span class="inline-block">리프팅</span></span>
					</h2>
					<p class="content-visual__txt1">
						지금 나이보다 더 늙어 보이게 만드는 목주름,
						멍 들 걱정 없이 주름살을 없애는 목주름리프팅
					</p>
					<p class="content-visual__point">POINT</p>
					<p class="content-visual__txt2">
						피부의 두께와 밀도, 탄력을 증가시켜주고 박리된 공간에<br class="hidden-m">
						콜라겐이 생성되어 피부 재생을 유도하여 목주름을 치료합니다.
					</p>
				</div>
			</div>
			<div class="content-visual__box type-right">
				<div class="content-visual__img">목주름리프팅 이미지</div>
			</div>
		</div>
		<!-- //content-visual-->
		<div class="content-seciton">
			<div class="necklift-box1">
				<div class="content-top type-necklift">
					<p class="content-top__subtit subtit-v1">젊음을 유지하는 기초</p>
					<h2 class="content-top__tit tit-v1">치료를 통해 <span class="inline-block">근본적으로 해결</span><br class="hidden-pt"><span class="color-thermage1 inline-block">목주름리프팅</span></h2>
					<p class="content-top__txt txt-v1">
						얼굴에 비해 관리가 소홀하기 쉬운 목 부위의 특성상 어느 순간 확연히 눈에 띄는 것이 목주름입니다.<br class="hidden-tm">
						탱탱한 동안을 유지하더라도 목에 주름이 지면 심각한 외적 콤플렉스가 될 수 있습니다.
					</p>
				</div>
				<!-- //content-top-->
			</div><!-- //necklift-box1 -->
			<div class="necklift-box2 box-style1">
				<h3 class="necklift-box2__tit tit-v1">목주름의 <span class="color-yellow">발생 원인</span></h3>
				<ul class="necklift-box2__list">
					<li class="necklift-box2__item">
						<div class="necklift-box2__img">
							<img src="../../images/heal/necklift/necklift_circle1.png" alt="노화" class="img-responsive">
						</div>
						<h4 class="necklift-box2__subject">노화</h4>
						<p class="necklift-box2__txt txt-v1">
							나이가 들어 세포 재생력이
							떨어지면 피부의 탄력이 저하되어
							자연스럽게 발생하게 됩니다.
						</p>
					</li>
					<li class="necklift-box2__item">
						<div class="necklift-box2__img">
							<img src="../../images/heal/necklift/necklift_circle2.png" alt="자세" class="img-responsive">
						</div>
						<h4 class="necklift-box2__subject">자세</h4>
						<p class="necklift-box2__txt txt-v1">
							높은 베개를 베고 자거나 턱을 괴는
							습관 등 잘못된 자세가 지속될
							경우에도 발생할 수 있습니다.
						</p>
					</li>
					<li class="necklift-box2__item">
						<div class="necklift-box2__img">
							<img src="../../images/heal/necklift/necklift_circle3.png" alt="살" class="img-responsive">
						</div>
						<h4 class="necklift-box2__subject">살</h4>
						<p class="necklift-box2__txt txt-v1">
							턱 주변의 살이 많을 경우
							목주름의 주된 원인이 됩니다.
						</p>
					</li>
					<li class="necklift-box2__item">
						<div class="necklift-box2__img">
							<img src="../../images/heal/necklift/necklift_circle1.png" alt="노화" class="img-responsive">
						</div>
						<h4 class="necklift-box2__subject">자외선</h4>
						<p class="necklift-box2__txt txt-v1">
							자외선은 피부의 콜라겐을 파괴하고
							피부를 얇게 만들고 탄력을 저하시켜
							주름을 발생시킵니다.
						</p>
					</li>
				</ul>
			</div>
			<!-- //necklift-box2 -->
			<div class="necklift-box3 box-style1 type-pb0">
				<h3 class="necklift-box3__tit tit-v1">
					젊음을 유지하는<br>
					기초는 <span class="color-necklift1">목주름의 유무</span>라고 해도<br class="hidden-tm">
					과언이 아닙니다.
				</h3>
				<p class="necklift-box3__txt txt-v1">
					얼굴에 비해 관리가 소홀하기 쉬운 목 부위의 특성상 어느 순간 확연히 눈에 띄는 것이 목주름입니다.<br class="hidden-tm">
					탱탱한 동안을 유지하더라도 목에 주름이 지면 심각한 외적 콤플렉스가 될 수 있습니다.
				</p>
				<div class="necklift-box3__img">
					<p class="necklift-box3__noti">
						※ 실제 시술사례가 아닌 이해를 돕기 위한 이미지입니다.
					</p>
				</div>
			</div>
			<div class="necklift-box4 box-style1">
				<h2 class="necklift-box4__tit tit-v1">목주름 <span class="color-necklift1">예방법</span></h2>
				<ul class="necklift-box4__list">
					<li class="necklift-box4__item nth-1">
						<div class="necklift-box4__img">
							목주름 예방 스트레칭
						</div>
						<div class="necklift-box4__box">
							<div class="vertical clear-t">
								<h4 class="necklift-box4__subject">목주름 예방 스트레칭</h4>
								<ol class="number-style">
									<li class="number-style__item">양손을 목 뒤로 한 다음 깍지를 끼고 양팔과 가슴을 활짝 폅니다.</li>
									<li class="number-style__item">고개를 숙이면서 양팔을 안쪽으로 접는 동작을 3~5초씩 반복합니다.</li>
									<li class="number-style__item">반복동작은 5분 정도 지속해줍니다.</li>
									<li class="number-style__item">목을 좌우로도 스트레칭해주고 마무리로 목을 좌우로 돌려줍니다.</li>
								</ol>
							</div>
						</div>
					</li>
					<li class="necklift-box4__item nth-2">
						<div class="necklift-box4__img">
							목 마사지
						</div>
						<div class="necklift-box4__box">
							<div class="vertical clear-t">
								<h4 class="necklift-box4__subject">목 마사지</h4>
								<ol class="number-style">
									<li class="number-style__item">주름크림이나 영양크림, 보습크림을 손에 바르고 위로 쓸어 올리듯 마사지합니다.</li>
									<li class="number-style__item">양손을 이용하여 목 중앙에서 옆으로 뒷목까지 마사지합니다.</li>
									<li class="number-style__item">목 옆선 귀 아래부터 어깨언저리까지 쓸어 내려주듯 마사지합니다.</li>
								</ol>
							</div>
						</div>
					</li>
					<li class="necklift-box4__item nth-3">
						<div class="necklift-box4__img">
							기타
						</div>
						<div class="necklift-box4__box">
							<div class="vertical clear-t">
								<h4 class="necklift-box4__subject">기타</h4>
								<ol class="number-style">
									<li class="number-style__item">목욕 시 때수건으로 강하게 밀면 주름의 원인이 됩니다.</li>
									<li class="number-style__item">세안하는 것처럼 부드럽게 씻고 보습크림 등을 발라 수분을 유지시켜줍니다.</li>
									<li class="number-style__item">너무 높은 베개 대신 7~8cm 정도의 낮은 베개로 수면을 취합니다.</li>
								</ol>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- //necklift-box4 -->
			<div class="necklift-box5 box-style1">
				<p class="necklift-box5__subtit">목주름, 예방만으로 부족하다면</p>
				<h3 class="necklift-box5__tit tit-v1">
					<span class="color-necklift2">치료를 통해 근본적으로<br>
						해결</span>해야 합니다.
				</h3>
				<ul class="necklift-box5__list">
					<li class="necklift-box5__item nth-1">
						<div class="vertical">
							<h4 class="necklift-box5__subject">리쥬란</h4>
							<p class="necklift-box5__txt txt-v1">
								피부의 두께와 밀도, 탄력을
								증가시켜주는 피부힐링 촉진제
							</p>
						</div>
					</li>
					<li class="necklift-box5__item nth-2">
						<div class="vertical">
							<h4 class="necklift-box5__subject">
								바노바기만의<br>
								멍 없는<br>
								목주름 치료
							</h4>
						</div>
					</li>
					<li class="necklift-box5__item nth-3">
						<div class="vertical">
							<h4 class="necklift-box5__subject">엑스카</h4>
							<p class="necklift-box5__txt txt-v1">
								박리된 공간에 콜라겐이
								생성되어 피부 재생을 유도
							</p>
						</div>
					</li>
				</ul>
				<p class="necklift-box5__subtit type-another">1개월 간격으로 <strong>3회 치료</strong></p>
			</div>
			<div class="necklift-box6 box-style1">
				<h2 class="necklift-box6__tit"><span class="color-necklift1">리쥬란</span>이란?</h2>
				<p class="necklift-box6__txt txt-v1">
					생체적합물질인 <strong>PN(Polynucleotide)</strong>를 활용한 주사제로 얇고 늘어진 피부를 표피부터 진피층까지
					<span class="inline-block"><strong>두께와 밀도, 탄력을 증가시켜주는 피부힐링 촉진제</strong>입니다.</span><br>
					피부 치유 능력을 활성화시키는 DNA 구성물질인 PN을 통해 표피, 진피, ECM(세포외기질: Extracellular matrix)을
					재생하여 <strong>탄력 있고 건강한 피부로 회복</strong>시켜 줍니다.
				</p>
				<ul class="necklift-box6__list">
					<li class="necklift-box6__item">
						<div class="vertical">
							<p class="necklift-box6__subject">레이저 장비</p>
						</div>
					</li>
					<li class="necklift-box6__item">
						<div class="vertical">
							<p class="necklift-box6__subject">물광주사</p>
						</div>
					</li>
					<li class="necklift-box6__item">
						<div class="vertical">
							<p class="necklift-box6__subject">보툴리늄 톡신</p>
						</div>
					</li>
					<li class="necklift-box6__item">
						<div class="vertical">
							<p class="necklift-box6__subject">볼륨필러</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="necklift-box7 box-style1">
				<div class="necklift-box7__box">
					<h3 class="necklift-box7__tit">PN에 대해 자세히 알려주세요.</h3>
					<p class="necklift-box7__txt txt-v1">
						DNA를 일정 규격으로 잘라 만든 PDRN(Polydeoxyribonucleotide) 중 보다 긴 DNA의 조각입니다.<br class="hidden-tm">
						인체 염기조성과 가장 유사한 연어에서 추출 정제한 특이 nucleotide로 열에 매우 안정하고 이물작용을 나타내지 않는 매우 안전한 물질입니다.<br class="hidden-tm">
						피부치유 능력을 활성화 하여 피부 속 환경을 개선하고 피부구조를 복원합니다.
					</p>
					<div class="necklift-box7__img">
						<img src="../../images/heal/necklift/necklift_table.jpg" alt="표피층,Polynucleotide(PN),진피,피하지방">
					</div>
				</div>
				<div class="content-info type-necklift">
					<div class="content-info__box type-subject">
						<div class="vertical clear-t">
							<h3 class="content-info__tit">
								특별한 부작용이나<br class="hidden-tm">
								금기 사항이 있나요?
							</h3>
						</div>
					</div>
					<div class="content-info__box type-list">
						<div class="vertical clear-t">
							<ul class="content-info__list">
								<li class="content-info__item txt-v1">리쥬란은 피부 속에서 일어나는 재생 작용의 기본 재료인 DNA를 제공하는 것으로 인공물을 넣는 방법이 아니기 때문에 기존에 알고 계시던 부작용의 개념이 없습니다.</li>
								<li class="content-info__item txt-v1">리쥬란은 단백질 이하의 DNA구조로 면역반응이 없습니다.</li>
								<li class="content-info__item txt-v1">다만 볼륨필러나 스컬트라, 엘란쎄, 지방이식 시술을 하였던 환자에게서는 부스팅 효과가 나타날 수 있으니 사용을 주의해야 합니다.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="necklift-box8 box-style1">
				<h3 class="necklift-box8__tit"><span class="color-necklift3">엑스카(Xcar)</span>란?</h3>
				<p class="necklift-box8__subtit subtit-v1">흉터, 주름, 피부 탄력 동시 개선이 가능한 토탈 피부재생</p>
				<p class="necklift-box8__txt txt-v1">
					피부에 일정한 손상을 가해 피부재생을 유도하는 첨단의료기기입니다. 피부에 이산화탄소를
					강한 압력으로 주입하여, 주름 및 흉터를 진피층에서 박리시키면 생기는 에어포켓에 2차적 화학작용이 일어나
					새로운 콜라겐이 생성되는 방식으로 통증이 적고 얇거나 뼈에 가까운 부위도 치료가 가능합니다.
				</p>

			</div>
			<div class="necklift-box9">
				<div class="necklift-box9__wrap">
					<div class="necklift-box9__box">
						<h3 class="necklift-box9__tit">엑스카의 특징</h3>
						<p class="necklift-box9__txt txt-v1">
							<span class="color-black1">neovasculization(혈관 생성) 및 collagen remodeling 효과</span>를 순차적으로 일으켜서 상처를 치유하는 메커니즘입니다.
							수직 및 수평 주입 시술이 모두 가능하여 <span class="color-black1">흉터 종류와 얼굴 형태에 제약 없이 자유로운 시술이 가능합니다.</span>
							<span class="color-black1 inline-block">모든 종류의 흉터와 주름 시술에 적용</span>할 수 있습니다.
						</p>
						<div class="necklift-box9__img nth-1">
							<img src="../../images/heal/necklift/xcar_necklift1.jpg" alt="엑스카의 특징" class="img-responsive">
						</div>
					</div>
					<div class="necklift-box9__box">
						<h3 class="necklift-box9__tit">피부 재생을 유도하는 차세대 치료법</h3>
						<div class="necklift-box9__img nth-2">
							<img src="../../images/heal/necklift/xcar_necklift2.jpg" alt="1차 물리적 손상(피부 박리), 2차 화학적 작용(콜라겐 생성)" class="img-responsive hidden-tm">
							<img src="../../images/heal/necklift/xcar_necklift2_t.jpg" alt="1차 물리적 손상(피부 박리), 2차 화학적 작용(콜라겐 생성)" class="img-responsive hidden-p">
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div><!--//container-->
<% include ../_include/_footer %>
