<%
	type = "content"
	page = "heal"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="container__wrap">
		<div class="content-visual type-thermage">
			<div class="content-visual__box type-left">
				<div class="content-visual__wrap">
					<h2 class="content-visual__tit">
						바노바기 힐 에이징
						<span class="content-visual__tit-point">써마지 <span class="inline-block">FLX </span> <span class="inline-block">탄력관리</span></span>
					</h2>
					<p class="content-visual__txt1">
						피부 속 부터 달라지는 콜라겐 리모델링
					</p>
					<p class="content-visual__point">POINT</p>
					<p class="content-visual__txt2">
						첨단 고주파 시술로 이루어지는 효과적인 피부탄력의 변화!
					</p>
				</div>
			</div>
			<div class="content-visual__box type-right">
				<div class="content-visual__img">써마지 이미지</div>
			</div>
		</div>
		<!-- //content-visual-->
		<div class="content-seciton">
			<div class="ulthermage-box1">
				<div class="content-top type-thermage">
					<p class="content-top__subtit subtit-v1">우수한 리프팅, 효과적인 주름개선,<br class="hidden-pt"> 지속적인 피부재생 효과</p>
					<h2 class="content-top__tit tit-v1">콜라겐 재생을 촉진시키는<br class="hidden-pt"><span class="color-thermage1 inline-block">써마지 FLX</span></h2>
					<p class="content-top__txt txt-v1">
						써마지 FLX는 고주파 에너지를 피부 속 깊은 곳까지 균일하게 전달하여 진피층을<br class="hidden-m">
						수축시키고 섬유아세포를 자극하여 콜라겐 재생을 촉진시킵니다.
					</p>
				</div>
				<!-- //content-top-->
			</div><!-- //thermage-box1 -->
			<!--<div class="thermage-box2 box-style1">
				<p class="thermage-box2__subtit">새로운 기능의 추가로 시술 효과가 더욱 높아진</p>
				<h2 class="thermage-box2__tit tit-v1">
					<strong class="color-thermage2">3세대 최신 고주파</strong> 기기<br> 써마지 FLX
				</h2>
				<ul class="thermage-box2__list">
					<li class="thermage-box2__item type-left">
						<div class="thermage-box2__box">
							<h3 class="thermage-box2__subject">바이브레이션 기능</h3>
							<p class="thermage-box2__txt">주름 개선고주파의 전달 효과를 높임</p>
							<ul class="thermage-box2__list2">
								<li class="thermage-box2__item2">리프팅 효과 <span class="color-thermage1">UP</span></li>
								<li class="thermage-box2__item2">주름 개선 효과 <span class="color-thermage1">UP</span></li>
								<li class="thermage-box2__item2">효과 지속기간 <span class="color-thermage1">UP</span></li>
								<li class="thermage-box2__item2">정교한 시술 <span class="color-thermage1">UP</span></li>
							</ul>
						</div>
					</li>
					<li class="thermage-box2__item type-right">
						<div class="thermage-box2__box">
							<h3 class="thermage-box2__subject">표피 냉각 기능</h3>
							<p class="thermage-box2__txt">시술 시 통증을 감소시킴</p>
							<ul class="thermage-box2__list2">
								<li class="thermage-box2__item2">통증 감소 <span class="color-thermage3">DOWN</span></li>
								<li class="thermage-box2__item2">부작용 최소화 <span class="color-thermage3">DOWN</span></li>
								<li class="thermage-box2__item2">시술 시간 단축 <span class="color-thermage3">DOWN</span></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>--><!-- //thermage-box2-->
			<!-- //thermage-box2 -->
			<div class="flx-box1">
				<p class="flx-box1__subtit">고품격 리프팅 치료의 대명사,</p>
				<h2 class="flx-box1__tit tit-v1">
					<strong class="color-thermage2">4세대 써마지 FLX</strong>도입!
				</h2>
				<p class="flx-box1__txt txt-v1">기술의 혁신, 아름다움의 진보! 새로운 써마지 FLX, 이번에도 바노바기피부과에서 먼저 도입했습니다.</p>
				<div class="flx-box1__img">
					<img src="../../images/heal/thermage/flx_img_1.png" alt="써마지 flx 장비" class="img-normal">
				</div>
				<ul class="flx-box1__list">
					<li class="flx-box1__item nth-1">
						<img src="../../images/heal/thermage/flx_logo_1.png" class="img-normal" alt="바노바기 피부과"/>
					</li>
					<li class="flx-box1__item nth-2">
						<img src="../../images/heal/thermage/flx_logo_2.png" class="img-normal" alt="thermage flx"/>
					</li>
				</ul>
			</div><!-- //flx-box1 -->
			<div class="flx-box2 box-style1">
				<h2 class="flx-box2__tit tit-v1">다시 한번 진화한 <strong class="color-thermage1 inline-block">Thermage FLX™</strong></h2>
				<div class="flx-box2__box">
					<ul class="flx-box2__list">
						<li class="flx-box2__item">
							<div class="vertical">
								<h3 class="flx-box2__subject"><strong>F</strong>aster</h3>
								<p class="flx-box2__txt">더 빠르고 진보된</p>
							</div>
						</li>
						<li class="flx-box2__item type-pink">
							<div class="vertical">
								<h3 class="flx-box2__subject">a<strong>L</strong>gorithm</h3>
								<p class="flx-box2__txt">알고리즘 기술의</p>
							</div>
						</li>
						<li class="flx-box2__item">
							<div class="vertical">
								<h3 class="flx-box2__subject">e<strong>X</strong>perienc</h3>
								<p class="flx-box2__txt">새로운 경험</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="img-list10">
					<ul class="img-list10__list">
						<li class="img-list10__item">
							<div class="img-list10__img">
								<img src="../../images/heal/thermage/flx_img_3.jpg" alt="ThermaCool® TC 시스템" class="img-responsive">
							</div>
							<div class="img-list10__wrap">
								<h3 class="img-list10__tit">ThermaCool® TC 시스템</h3>
								<p class="img-list10__txt">
									최초의 비침습적 주름개선 장비 - KFDA : 2003 / FDA : 2002
								</p>
							</div>
						</li>
						<li class="img-list10__item">
							<div class="img-list10__img">
								<img src="../../images/heal/thermage/flx_img_4.jpg" alt="Thermage NXT® TC 시스템" class="img-responsive">
							</div>
							<div class="img-list10__wrap">
								<h3 class="img-list10__tit">Thermage NXT® TC 시스템</h3>
								<p class="img-list10__txt">
									2세대 시스템 - KFDA : 2008 / FDA : 2007
								</p>
							</div>
						</li>
						<li class="img-list10__item">
							<div class="img-list10__img">
								<img src="../../images/heal/thermage/flx_img_5.jpg" alt="Thermage FLX® 시스템" class="img-responsive">
							</div>
							<div class="img-list10__wrap">
								<h3 class="img-list10__tit">Thermage FLX® 시스템</h3>
								<p class="img-list10__txt">
									Comfort Pulse Technology™ - KFDA : 2011 / FDA : 2009
								</p>
							</div>
						</li>
						<li class="img-list10__item">
							<div class="img-list10__img">
								<img src="../../images/heal/thermage/flx_img_6.jpg" alt="Thermage FLX™  시스템" class="img-responsive">
							</div>
							<div class="img-list10__wrap">
								<h3 class="img-list10__tit">Thermage FLX™  시스템</h3>
								<p class="img-list10__txt">
									AccuREP™ - KFDA : 2018 / FDA : 2017
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="vertical-style type-flx1">
				<div class="vertical-style__box">
					<div class="vertical-style__wrap">
						<p class="vertical-style__subtit">스피드가 만드는 시술 결과의 차이!</p>
						<h3 class="vertical-style__tit">더 빠르게! <span class="color-thermage1">25% FASTER</span></h3>
						<p class="vertical-style__txt txt-v1">
							Thermage FLX에서만 사용 가능한 4.0 cm² 토탈팁!<br> 기존 3.0 cm² 시술팁보다  25% 더 빠른 시술을 제공합니다.
						</p>
						<div class="vertical-style__img hidden-p">
							<img src="../../images/heal/thermage/flx_bg_2_t.jpg" alt="써마지 flx 시술 사진" class="img-normal">
						</div>
					</div>
				</div>
			</div>
			<!-- //vertical-style type-flx1 -->
			<div class="vertical-style type-flx2">
				<div class="vertical-style__box">
					<div class="vertical-style__wrap">
						<p class="vertical-style__subtit">최적화된 에너지를 전달하는 알고리즘 기술!</p>
						<h3 class="vertical-style__tit">더 정확하게! <span class="color-thermage1">aLgorithm</span></h3>
						<p class="vertical-style__txt txt-v1">
							각각의 샷마다 최적화된 에너지를 전달하는 알고리즘 기술!<br>
							치료 부위마다 동일하고 일정한 에너지를 조사할 수 있습니다.
						</p>
						<div class="vertical-style__img">
							<img src="../../images/heal/thermage/flx_img_7.jpg" alt="고주파 에너지 펄스 다이어 그램" class="img-normal">
						</div>
					</div>
				</div>
			</div>
			<div class="vertical-style type-flx3">
				<div class="vertical-style__box">
					<div class="vertical-style__wrap">
						<p class="vertical-style__subtit">Comfort Pulse Technology</p>
						<h3 class="vertical-style__tit">더 편안하게! <span class="color-thermage1">통증 완화 기술</span></h3>
						<p class="vertical-style__txt txt-v1">
							써마지FLX의 통증 완화 기술 Comfort Pulse Technology™ <br class="hidden-m">
							Pulse RF,  Cooling burst,  진동기능으로 뇌에 보내는 통증 시그널을<br class="hidden-m">
							교란시키는 기술력으로 더욱 편안하게 시술 받을 수 있습니다.
						</p>
					</div>
				</div>
				<div class="vertical-style__box">
					<div class="vertical-style__wrap">
						<div class="vertical-style__img">
							<img src="../../images/heal/thermage/flx_img_8.jpg" alt="써마지 flx 시술 사진" class="img-normal">
						</div>
					</div>
				</div>
			</div>
			<!-- //vertical-style type-flx3 -->
			<div class="thermage-box3 box-style1">
				<h2 class="thermage-box3__tit tit-v1">
					바노바기는 써마지 FLX의<br class="hidden-tm"> <span class="color-thermage1">정품만을 사용</span>합니다.
				</h2>
				<p class="thermage-box3__txt txt-v1">
					불법제조팁은 정상적인 임상 테스트나 안전성 시험을 거치지 않았기에 사용 시 여러 부작용으로 인한<br class="hidden-tm">
					의료사고의 위험성을 내포하고 있으며, 장비 사용시 폭발 및 화재 위험이 있습니다.
				</p>
				<ul class="thermage-box3__list">
					<li class="thermage-box3__item">
						<div class="thermage-box3__img">
							<img src="../../images/heal/thermage/thermage_img3.jpg" alt="써마지 FLX 정품사용, 우수 시술 인증병원" class="img-responsive">
						</div>
						<p class="thermage-box3__subject">
							써마지 FLX 정품사용, 우수 시술 인증병원
						</p>
					</li>
					<li class="thermage-box3__item">
						<div class="thermage-box3__img">
							<img src="../../images/heal/thermage/thermage_img4.jpg" alt="써마지 FLX 시술시 정품 인증서 제공" class="img-responsive">
						</div>
						<p class="thermage-box3__subject">
							써마지 FLX 시술시 정품 인증서 제공
						</p>
					</li>
				</ul>
				<p class="thermage-box3__noti">
					※인증되지 않은 경로를 통해 불법적으로 수입, 제조된 의료기기 사용에 대한 결과와 안전성은 보증할 수 없으며 한국식약처와 제조원에 의해 보호 받을 수 없습니다.
				</p>
			</div>
			<!-- //thermage-box3-->
			<div class="thermage-box4 box-style1">
				<h2 class="thermage-box4__tit"><strong class="color-thermage4">써마지 FLX 정품팁,</strong> <span class="inline-block">어떻게 확인하나요?</span></h2>
				<ul class="thermage-box4__list">
					<li class="thermage-box4__item">
						<div class="thermage-box4__img">
							<img src="../../images/heal/thermage/thermage_tip1.png" class="img-responsive" alt="써마지 정품팁 사용 인증마크">
						</div>
						<p class="thermage-box4__subject">써마지 정품팁 사용 인증마크</p>
					</li>
					<li class="thermage-box4__item">
						<div class="thermage-box4__img">
							<img src="../../images/heal/thermage/thermage_tip2.png" class="img-responsive" alt="써마지 정품팁 사용 인증패">
						</div>
						<p class="thermage-box4__subject">써마지 정품팁 사용 인증패</p>
					</li>
					<li class="thermage-box4__item">
						<div class="thermage-box4__img">
							<img src="../../images/heal/thermage/thermage_tip3.png" class="img-responsive" alt="써마지 정품팁 사용 인증라벨">
						</div>
						<p class="thermage-box4__subject">써마지 정품팁 사용 인증라벨</p>
					</li>
				</ul>
			</div>
			<div class="thermage-box5">
				<div class="thermage-box5__box">
					<h2 class="thermage-box5__tit">써마지 FLX 시술 시 <strong>정품<br class="hidden-pt"> 인증서</strong>를 <strong>제공</strong>해 드립니다.</h2>
					<p class="thermage-box5__txt txt-v1">
						바노바기에서 써마지 FLX 시술을 받으신 분들께는 정품팁 고유 시리얼 넘저가
						적힌 인증서를 제공해 드립니다. 인증서에 있는 QR코드 등을 통해 정품 여부를
						한 번 더 확인하실 수 있습니다.
					</p>
				</div>
			</div>
			<div class="circle-style3 box-style1 type-pb0">
				<h2 class="circle-style3__tit tit-v1">
					써마지 FLX <span class="color-thermage1">시술부위</span>
				</h2>
				<ul class="circle-style3__list">
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/heal/thermage/thermage_area1.png" alt="이마" class="img-responsive">
						</div>
						<p class="circle-style3__subject">이마</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/heal/thermage/thermage_area2.png" alt="눈가" class="img-responsive">
						</div>
						<p class="circle-style3__subject">눈가</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/heal/thermage/thermage_area3.png" alt="볼" class="img-responsive">
						</div>
						<p class="circle-style3__subject">볼</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/heal/thermage/thermage_area4.png" alt="입가" class="img-responsive">
						</div>
						<p class="circle-style3__subject">입가</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/heal/thermage/thermage_area5.png" alt="목" class="img-responsive">
						</div>
						<p class="circle-style3__subject">목</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/heal/thermage/thermage_area6.png" alt="팔" class="img-responsive">
						</div>
						<p class="circle-style3__subject">팔</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/heal/thermage/thermage_area7.png" alt="옆구리" class="img-responsive">
						</div>
						<p class="circle-style3__subject">옆구리</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/heal/thermage/thermage_area8.png" alt="복부" class="img-responsive">
						</div>
						<p class="circle-style3__subject">복부</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/heal/thermage/thermage_area9.png" alt="엉덩이" class="img-responsive">
						</div>
						<p class="circle-style3__subject">엉덩이</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/heal/thermage/thermage_area10.png" alt="허벅지" class="img-responsive">
						</div>
						<p class="circle-style3__subject">허벅지</p>
					</li>
				</ul>
			</div><!-- //circle-style3-->
			<div class="thermage-box7 box-style1 type-pb0">
				<h2 class="thermage-box7__tit tit-v1">피부 처짐의 핵심은 <span class="inline-block">바로 <span class="color-thermage1">유지 인대!</span></span></h2>
				<ul class="thermage-box7__list">
					<li class="thermage-box7__item type-video">
						<iframe src="https://player.vimeo.com/video/264944454?loop=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;quality=1080p"  class="video__iframe"></iframe>
					</li>
					<li class="thermage-box7__item type-txt">
						<div class="vertical clear-c">
							<p class="thermage-box7__txt txt-v1">
								피부에는 중력으로부터 피부가 처지지 않게 잡아주는 역할을 하는
								유지 인대가 있습니다. 이 유지 인대가 늘어나게 되면 피부는 탄력을
								잃고 쉽게 처지게 됩니다. 써마지 FLX 탄력관리는 피부 구조의
								기둥 역할을 하는 유지 인대를 곧게 펴주고 강화시킴으로피부 처짐을
								효과적으로 개선합니다.
							</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="thermage-box8 box-style1">
				<h2 class="thermage-box8__tit tit-v1">콜라겐 리모델링 과정</h2>
				<div class="img-list2">
					<ul class="img-list2__list">
						<li class="img-list2__item">
							<div class="img-list2__img">
								<img src="../../images/heal/thermage/thermage_collagen1.jpg" alt="수술직후" class="img-responsive">
							</div>
							<div class="img-list2__wrap">
								<h3 class="img-list2__tit">01. 수술직후</h3>
								<p class="img-list2__txt">
									피부 속 깊이 전달된 열 에너지가<br>
									콜라겐의 변성을 일으킵니다.
								</p>
							</div>
						</li>
						<li class="img-list2__item">
							<div class="img-list2__img">
								<img src="../../images/heal/thermage/thermage_collagen2.jpg" alt="4주" class="img-responsive">
							</div>
							<div class="img-list2__wrap">
								<h3 class="img-list2__tit">02. 4주</h3>
								<p class="img-list2__txt">
									콜라겐 리모델링이 본격화되면서<br>
									잔주름이 자연스럽게 개선됩니다.
								</p>
							</div>
						</li>
						<li class="img-list2__item">
							<div class="img-list2__img">
								<img src="../../images/heal/thermage/thermage_collagen3.jpg" alt="6개월" class="img-responsive">
							</div>
							<div class="img-list2__wrap">
								<h3 class="img-list2__tit">03. 6개월</h3>
								<p class="img-list2__txt">
									피부 탄력이 눈에 띄게 좋아지고<br>
									모공이 축소됩니다.
								</p>
							</div>
						</li>
						<li class="img-list2__item">
							<div class="img-list2__img">
								<img src="../../images/heal/thermage/thermage_collagen4.jpg" alt="2년 이후" class="img-responsive">
							</div>
							<div class="img-list2__wrap">
								<h3 class="img-list2__tit">04. 2년 이후</h3>
								<p class="img-list2__txt">
									1회 시술로도 대략 2~3년 이후까지<br>
									써마지 FLX의 시술 효과가 지속됩니다.
								</p>
							</div>
						</li>
					</ul>
				</div><!-- //img-list2 -->
			</div>
			<div class="thermage-box9 box-style1">
				<p class="thermage-box9__subtit subtit-v1">더욱 진보된 탄력, 주름치료</p>
				<h2 class="thermage-box9__tit tit-v1">써마지 FLX <strong class="color-thermage1 inline-block">탄력관리의 특징</strong></h2>
				<ul class="thermage-box9__list">
					<li class="thermage-box9__item">
						<div class="thermage-box9__img">
							<img src="../../images/heal/thermage/thermage_circle1.png" alt="1-day" class="img-responsive">
						</div>
						<p class="thermage-box9__txt txt-v1">
							바쁜 현대인을 위한<br>
							원데이 탄력관리
						</p>
					</li>
					<li class="thermage-box9__item">
						<div class="thermage-box9__img">
							<img src="../../images/heal/thermage/thermage_circle2.png" alt="피부변화" class="img-responsive">
						</div>
						<p class="thermage-box9__txt txt-v1">
							급작스럽지 않은<br>
							자연스러운 피부 변화
						</p>
					</li>
					<li class="thermage-box9__item">
						<div class="thermage-box9__img">
							<img src="../../images/heal/thermage/thermage_circle3.png" alt="안전한 시술" class="img-responsive">
						</div>
						<p class="thermage-box9__txt txt-v1">
							통증과 부작용이 거의 없는<br>
							안전한 시술
						</p>
					</li>
					<li class="thermage-box9__item">
						<div class="thermage-box9__img">
							<img src="../../images/heal/thermage/thermage_circle4.png" alt="리모델링 효과" class="img-responsive">
						</div>
						<p class="thermage-box9__txt txt-v1">
							오랜 기간 지속되는<br>
							콜라겐 리모델링 효과
						</p>
					</li>
				</ul>
			</div>
			<!--//thermage-box9 -->
			<div class="thermage-box10 box-style1">
				<p class="thermage-box10__subtit subtit-v1">만족도 높은 시술 결과를 만드는 바노바기</p>
				<h2 class="thermage-box10__tit tit-v1">시술 효과를 향상시키는 <strong class="inline-block">3대 요소</strong></h2>
				<div class="img-list1 type-thermage">
					<ul class="img-list1__list">
						<li class="img-list1__item nth-1">
							<div class="img-list1__box">
								<div class="img-list1__wrap">
									<h4 class="img-list1__tit">정밀한 피부 분석</h4>
									<p class="img-list1__txt txt-v1">
										바노바기는 신형 피부 정밀 검사 기기 (더마비전)를 사용하여
										개인의 피부 상태를 정밀하게 파악하고 진단합니다.
										면밀한 분석이 곧 1:1 맞춤식 피부 치료의 시작점입니다.
									</p>
								</div>
							</div>
						</li>
						<li class="img-list1__item nth-2">
							<div class="img-list1__box">
								<div class="img-list1__wrap">
									<h4 class="img-list1__tit">체계적인 프로그램 구성</h4>
									<p class="img-list1__txt txt-v1">
										다양한 치료 방법들은 개인의 특징에 맞게 체계적으로 프로그램화
										합니다. 목적에 맞게 체계화된 구성을 통해, 각 시술 간의 시너지
										작용을 더욱 효율적으로 활용합니다.
									</p>
								</div>
							</div>
						</li>
						<li class="img-list1__item nth-3">
							<div class="img-list1__box">
								<div class="img-list1__wrap">
									<h4 class="img-list1__tit">집도의의 경험과 노하우</h4>
									<p class="img-list1__txt txt-v1">
										집도의가 치료 결과에 대한 확신을 가지고 시술에 임할수록 환자의
										신뢰도와 만족도가 높아집니다. 풍부한 임상 경험과 우수한
										기술력을 보유한 바노바기는 여러분께 만족도 높은 피부 진료
										서비스를 제공해드립니다.
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<% include ../_include/_bfaf %>
	</div>
</div><!-- //container-->
<% include ../_include/_footer %>
