<%
	type = "content"
	page = "heal"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="container__wrap">
		<div class="content-visual type-ulthermage">
			<div class="content-visual__box type-left">
				<div class="content-visual__wrap">
					<h2 class="content-visual__tit">
						바노바기 힐 에이징
						<span class="content-visual__tit-point">울써마지 <span class="inline-block">PRP</span></span>
					</h2>
					<p class="content-visual__txt1">
						울쎄라와 써마지 FLX, 하이드로 PRP가 만났다!
					</p>
					<p class="content-visual__point">POINT</p>
					<p class="content-visual__txt2">
						피부 속은 당기고, 피부 겉은 조이고, 피부 세포를
						재생시키는 고품격 안티에이징 시술
					</p>
				</div>
			</div>
			<div class="content-visual__box type-right">
				<div class="content-visual__img">울써마지 이미지</div>
			</div>
			<div class="content-visual__box type-left type-another">
				<div class="content-visual__table">
					<h3 class="content-visual__subject">Effect Lifting</h3>
				</div>
			</div>
			<div class="content-visual__box type-right type-another">
				<ul class="content-table">
					<li class="content-table__item">
						<div class="content-table__tr">
							<div class="content-table__th">울쎄라</div>
							<div class="content-table__td">근막층 수축, 주름 완화, 처진 볼, 이중턱 개선</div>
						</div>
					</li>
					<li class="content-table__item">
						<div class="content-table__tr">
							<div class="content-table__th">써마지FLX</div>
							<div class="content-table__td">피부 타이트닝, 잔주름 개선, 모공, 피부결 개선</div>
						</div>
					</li>
					<li class="content-table__item">
						<div class="content-table__tr">
							<div class="content-table__th">하이드로PRP</div>
							<div class="content-table__td">강력한 보습, 고농측 성장인자, 피부재생 및 미백효과</div>
						</div>
					</li>
				</ul>
				<!-- //content-table-->
			</div>
		</div>
		<!-- //content-visual-->
		<div class="content-seciton">
			<div class="ulthermage-box1">
				<div class="content-top type-ulthermage">
					<p class="content-top__subtit subtit-v1">피부 모든 층이 재생할 수 있도록 하는 리프팅 프로그램</p>
					<h2 class="content-top__tit tit-v1">피부 모든 층의 <span class="inline-block">노화를 치료</span><span class="color-ulthermage1 inline-block">울써마지 PRP</span></h2>
					<p class="content-top__txt txt-v1">
						울쎄라로 피부 가장 깊은 곳부터 당기고, 써마지 FLX로 피부 겉을 강력하게 조여준 후<br class="hidden-m">
						하이드로 PRP리프팅으로 피부 보습력을 강화하는 리프팅 프로그램 입니다.
					</p>
				</div>
				<!-- //content-top-->
			</div><!-- //ulthermage-box1 -->
			<div class="ulthermage-box2 box-style1">
				<p class="ulthermage-box2__txt">피부 겉과 속을 확실하게 치료하는</p>
				<h2 class="ulthermage-box2__tit">Amazing Lifting 울써마지PRP</h2>
				<div class="ulthermage-box2__box">
					<ul class="ulthermage-box2__list">
						<li class="ulthermage-box2__item">
							<div class="ulthermage-box2__wrap">
								<h3 class="ulthermage-box2__subject subtit-v1">01. 하이드로PRP</h3>
								<p class="ulthermage-box2__txt2 txt-v1">진피층에 고농축 <span class="inline-block">성장인자 & 수분 공급</span></p>
							</div>
						</li>
						<li class="ulthermage-box2__item">
							<div class="ulthermage-box2__wrap">
								<h3 class="ulthermage-box2__subject subtit-v1">02. 써마지</h3>
								<p class="ulthermage-box2__txt2 txt-v1">진피, 피하지방층의 <span class="inline-block">콜라겐 리모델링</span></p>
							</div>
						</li>
						<li class="ulthermage-box2__item">
							<div class="ulthermage-box2__wrap">
								<h3 class="ulthermage-box2__subject subtit-v1">03. 울쎄라</h3>
								<p class="ulthermage-box2__txt2 txt-v1">근막층까지 적용, <span class="inline-block">늘어진 조직층 수축</span></p>
							</div>
						</li>
					</ul>
					<div class="ulthermage-box2__img">
						<img src="../../images/heal/ulthermage/ulthermage_img2.jpg" alt="">
					</div>
					<ul class="ulthermage-box2__list type-four">
						<li class="ulthermage-box2__item">
							<div class="ulthermage-box2__wrap">
								<h3 class="ulthermage-box2__subject subtit-v1">04. 표피층</h3>
								<p class="ulthermage-box2__txt2 txt-v1">피부톤 개선, <span class="inline-block">피부결 개선</span></p>
							</div>
						</li>
						<li class="ulthermage-box2__item">
							<div class="ulthermage-box2__wrap">
								<h3 class="ulthermage-box2__subject subtit-v1">05. 진피</h3>
								<p class="ulthermage-box2__txt2 txt-v1">콜라겐<br class="hidden-pm"> 리모델링</p>
							</div>
						</li>
						<li class="ulthermage-box2__item">
							<div class="ulthermage-box2__wrap">
								<h3 class="ulthermage-box2__subject subtit-v1">06. 피하지방</h3>
								<p class="ulthermage-box2__txt2 txt-v1">지방층<br class="hidden-pm"> 타이트닝</p>
							</div>
						</li>
						<li class="ulthermage-box2__item">
							<div class="ulthermage-box2__wrap">
								<h3 class="ulthermage-box2__subject subtit-v1">07. SMAS층</h3>
								<p class="ulthermage-box2__txt2 txt-v1">늘어진 근막 수축, <span class="inline-block">콜라겐 생성</span></p>
							</div>
						</li>
					</ul>
				</div>
			</div><!-- //ulthermage-box2-->
			<div class="img-list4 type-ulthermage box-style1">
				<h2 class="img-list4__tit">울써마지PRP의 <strong>장점</strong></h2>
				<ol class="img-list4__list">
					<li class="img-list4__item">
						<h3 class="img-list4__subject">근본적 노화 치료</h3>
						<p class="img-list4__txt">
							<strong>피부 탄력 세포 자체를 재생</strong>시키고 <strong>피부 환경을 건강하게</strong>
							만들어주기 때문에 보다 근본적인 안티에이징 시술
						</p>
					</li>
					<li class="img-list4__item">
						<h3 class="img-list4__subject">피부 모든 층의 노화를 치료</h3>
						<p class="img-list4__txt">
							표피, 진피, 피하지방, SMAS(근막)층으로 구성된 <strong>피부 모든
								조직에 작용화여 노화를 치료하는 체계적인 시술</strong>
						</p>
					</li>
					<li class="img-list4__item">
						<h3 class="img-list4__subject">빠른 회복</h3>
						<p class="img-list4__txt">
							시술 후 거의 티가 나지 않고 <strong>멍이나 부기가 거의없는
								시술</strong>이라 빠른 일상생활로 복귀가 가능합니다.
						</p>
					</li>
					<li class="img-list4__item">
						<h3 class="img-list4__subject">자연스럽다</h3>
						<p class="img-list4__txt">
							시간이 지나면서 서서히 <strong>주름이 완화되고 탄력이
								개선</strong>되어 자연스럽게 동안 피부로 만듦
						</p>
					</li>
					<li class="img-list4__item">
						<h3 class="img-list4__subject">피부 환경 개선</h3>
						<p class="img-list4__txt">
							피부 가득 수분을 채워 주면서 유수분 밸런스를 맞춰주어
							<strong>피부가 더욱 건강해집니다.</strong>
						</p>
					</li>
				</ol>
			</div>
			<!-- //img-list4 -->
			<div class="content-step type-ulthera">
				<div class="content-step__box">
					<h2 class="content-step__tit">울써마지PRP <span class="color-ulthermage1">시술과정</span></h2>
					<ul class="content-step__list">
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/ulthermage/ulthermage_step1.jpg" alt="step1 - 클렌징 후 더마비전 촬영" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 01</h3>
									<p class="txt-v2">클렌징 후 더마비전 촬영</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/ulthermage/ulthermage_step2.jpg" alt="step2 - 원장님 진료" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 02</h3>
									<p class="txt-v2">원장님 진료</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/ulthermage/ulthermage_step3.jpg" alt="step3 - 마취 연고 도포" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 03</h3>
									<p class="txt-v2">마취 연고 도포</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/ulthermage/ulthermage_step4.jpg" alt="step4 - 써마지 시술" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 04</h3>
									<p class="txt-v2">써마지 시술</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/ulthermage/ulthermage_step5.jpg" alt="step5 - 울쎄라 시술" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 05</h3>
									<p class="txt-v2">울쎄라 시술</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/ulthermage/ulthermage_step6.jpg" alt="step6 - PRP 시술" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 06</h3>
									<p class="txt-v2">PRP 시술</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/ulthermage/ulthermage_step7.jpg" alt="step7 - 진정 및 재생 관리" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 07</h3>
									<p class="txt-v2">진정 및 재생 관리</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/ulthermage/ulthermage_step8.jpg" alt="step8 - 1개월 후 경과 확인" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 08</h3>
									<p class="txt-v2">1개월 후 경과 확인</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
					</ul>
				</div>
			</div>
			<!-- //content-step-->
			<div class="content-faq">
				<div class="content-faq__box">
					<div class="content-faq__border">
						<p class="content-faq__txt">바노바기 꿀팁!</p>
						<h2 class="content-faq__tit">울써마지PRP FAQ</h2>
					</div>
				</div>
				<div class="content-faq__wrap box-style1">
					<ul class="content-faq__list">
						<!-- 질문 -->
						<li class="content-faq__item">
							<div class="talk type-1">
								<div class="talk__border">
									<h3 class="talk__tit">울쎄라, 써마지FLX 부작용이 걱정이에요.</h3>
								</div>
							</div>
						</li>
						<!-- //질문 -->
						<!-- 답변 -->
						<li class="content-faq__item">
							<div class="talk type-2">
								<div class="talk__border">
									<p class="talk__txt">
										울쎄라는 부분적으로 어느 정도 지방을 분해하는 효과가 있어서 얼굴 살이 많고 처진 경우에는
										많이 도움되지만 원래 살이 없거나 <span class="talk__point">피부가 얇은 분들은 전문의와 충분한 상담 후에 다른 시술
											방법으로 접근하거나 섬세하게 강도를 잘 조절해서 시술 받으셔야 합니다.</span>
										만약 볼륨감이 생각보다 많이 줄어들었다면 필러나 스컬트라와 같은 시술로 보완할 수 있습니다.
									</p>
								</div>
							</div>
						</li>
						<!-- //답변 -->
						<!-- 질문 -->
						<li class="content-faq__item">
							<div class="talk type-1">
								<div class="talk__border">
									<h3 class="talk__tit">써마지 정품 인증서라는 게 뭔가요?</h3>
								</div>
							</div>
						</li>
						<!-- //질문 -->
						<!-- 답변 -->
						<li class="content-faq__item">
							<div class="talk type-2">
								<div class="talk__border">
									<p class="talk__txt">
										써마지FLX 시술 시에는 피부에 직접 닿는 ‘팁’이라는 부품이 있는데, 이는 한명에게 시술할
										때마다 하나씩 교체해야 하는 소모품입니다. 이 정품 팁이 워낙 고가이다 보니 일부 의원에서는
										재생팁을 사용하는데, 이 경우 화상의 위험에 노출되기 쉽고, 치료 효과가 떨어지기 때문에
										반드시 정품팁 사용을 권장합니다. 그리고 <span class="talk__point">정품을 사용하는 의원에서는 인증서를 제공하고
											있으니, 시술 시 확인하시기 바랍니다. </span>
									</p>
								</div>
							</div>
						</li>
						<!-- //답변 -->
						<!-- 질문 -->
						<li class="content-faq__item">
							<div class="talk type-1">
								<div class="talk__border">
									<h3 class="talk__tit">울쎄라는 400샷, 500샷씩 하던데 많은 샷을 할수록 좋은 건가요? </h3>
								</div>
							</div>
						</li>
						<!-- //질문 -->
						<!-- 답변 -->
						<li class="content-faq__item">
							<div class="talk type-2">
								<div class="talk__border">
									<p class="talk__txt">
										꼭 그렇지는 않습니다. 얼마나 세게 시술하느냐보다 어떻게 시술하느냐가 더 중요합니다.
										같은 장비라고 해서 모두 같은 효과를 보장하지는 못합니다. 같은 식재료를 가지고 누가,
										어떻게 요리하느냐에 따라 천차만별의 결과가 나오듯이 말이지요.<br><br>
										<span class="talk__point">울쎄라든 써마지든 개개인의 피부상태나 두께, 지성인지 건성인지, 주름의 깊이는 어떠한지 등을
										 	면밀하게 살핀 후 적합한 시술을 받는 게 좋습니다.</span> 울쎄라를 비롯한 HIFU(초음파) 리프팅
										레이저는 한번에 강하게 시술하는 것보다 약 3~4개월에 한번씩 적은 샷을 나누어 받는 것이
										피부에 자극도 적고 자연스럽게 콜라겐 리모델링을 유도할 수 있습니다.
									</p>
								</div>
							</div>
						</li>
						<!-- //답변 -->
						<!-- 질문 -->
						<li class="content-faq__item">
							<div class="talk type-1">
								<div class="talk__border">
									<h3 class="talk__tit">하루에 모든 시술을 다 받을 수 있나요?</h3>
								</div>
							</div>
						</li>
						<!-- //질문 -->
						<!-- 답변 -->
						<li class="content-faq__item">
							<div class="talk type-2">
								<div class="talk__border">
									<p class="talk__txt">
										네, <span class="talk__point">울써마지PRP는 나누어 시술 받으실 수도 있고, 하루에 모두 시술 받으셔도 됩니다.</span>
										바쁜 현대인, 결혼을 앞둔 예비 신부나 부모님, 그리고 해외 거주하시는 분들 등 시간이 여유
										롭지 않은 분들이 선호하시는 프로그램이기도 합니다. 다만, 보다 만족스러운 시술 결과를 위해
										시술 후 약 1개월 후에 내원하셔서 경과를 보시도록 권유드립니다.
									</p>
								</div>
							</div>
						</li>
						<!-- //답변 -->
					</ul>
				</div>
			</div>
			<div class="circle-style2 box-style1">
				<h2 class="circle-style2__tit">
					울쎄라와 써마지,<br class="hidden-p"> <strong class="color-ulthermage2">왜 바노바기에서 하면<br> 결과가 다를까요?</strong>
				</h2>
				<ul class="circle-style2__list">
					<li class="circle-style2__item">
						<img src="../../images/heal/ulthermage/ulthermage_circle1.png" alt="울쎄라–리프팅 전문 의료기관 인증 사진">
						<p class="circle-style2__txt">울쎄라–리프팅 전문<br class="hidden-pt"> 의료기관 인증</p>
					</li>
					<li class="circle-style2__item">
						<img src="../../images/heal/ulthermage/ulthermage_circle2.png" alt="써마지FLX –정품 사용 인증 우수 의료기관 사진">
						<p class="circle-style2__txt">써마지FLX –정품 사용 인증<br class="hidden-pt"> 우수 의료기관</p>
					</li>
					<li class="circle-style2__item">
						<img src="../../images/heal/ulthermage/ulthermage_circle3.png" alt="PRP–PRP 세포치료 연구회 이사 사진">
						<p class="circle-style2__txt">PRP–PRP 세포치료<br class="hidden-pt"> 연구회 이사</p>
					</li>
					<li class="circle-style2__item">
						<img src="../../images/heal/ulthermage/ulthermage_circle4.png" alt="다양한 분야에 대한 앞서가는 연구와 시술 노하우로 국내외 의료진에게 강연하는 의료기관 사진">
						<p class="circle-style2__txt">다양한 분야에 대한 앞서가는 연구와 시술 노하우로 국내외 의료진에게 강연하는 의료기관</p>
					</li>
				</ul>
			</div>
			<div class="ulthermage-box4 box-style1">
				<p class="ulthermage-box4__subtit subtit-v1">바노바기 의료진의 PRP 치료에 대한<br class="hidden-p"> 끊임 없는 연구와 강연</p>
				<h2 class="ulthermage-box4__tit tit-v1">바노바기가 하면 <span class="inline-block"><strong class="color-ulthermage2">다른 이유</strong>입니다!</span></h2>
				<ul class="ulthermage-box4__list">
					<li class="ulthermage-box4__item">
						<div class="ulthermage-box4__img">
							<img src="../../images/heal/ulthermage/ulthermage_img3.jpg" alt="반재용 원장" class="img-responsive">
						</div>
						<div class="ulthermage-box4__wrap">
							<h3 class="ulthermage-box4__name">반재용 원장</h3>
							<ul class="ulthermage-box4__list2">
								<li class="ulthermage-box4__item2">대한피부과의사회 제15회 추계심포지엄 “PDRN/PRP 비교 연구” 연재 발표</li>
								<li class="ulthermage-box4__item2">제3회 Best stem cell 연구회 “Skin farming program" 연재 발표</li>
								<li class="ulthermage-box4__item2">대한피부과의사회 제15회 추계심포지엄 “물광주사 치료를 잘 하는 방법” 연재 발표</li>
								<li class="ulthermage-box4__item2">2013 대한외과개원의협의회 춘계학술세미나 “PDRN vs PRP head to head study" 연재 발표</li>
								<li class="ulthermage-box4__item2">대한피부항노화연구회 제19회 workshop "PRP와 PDRN을 이용한 dermal rejuvenation" 연재 발표</li>
								<li class="ulthermage-box4__item2">2015년 휴온스 피부성형외과 심포지엄 “Dermashine balance 치료 노하우와 새로운HIFU, Accutra 소개” 연재 발표</li>
								<li class="ulthermage-box4__item2">2015년 Best stem cell & thread 초청 강연 “Theoretical background of B-TCES and Practical cases in dermatologic filed” 연재 발표</li>
							</ul>
						</div>
					</li>
					<li class="ulthermage-box4__item">
						<div class="ulthermage-box4__img">
							<img src="../../images/heal/ulthermage/ulthermage_img4.jpg" alt="전희대 원장" class="img-responsive">
						</div>
						<div class="ulthermage-box4__wrap">
							<h3 class="ulthermage-box4__name">전희대 원장</h3>
							<ul class="ulthermage-box4__list2">
								<li class="ulthermage-box4__item2">The 2nd Best Stem Cell Research (Seoul, Korea) PRP Procedure Combines with B-TCES and BeCS</li>
								<li class="ulthermage-box4__item2">Hydrolifting, Vampire Face lift and PRP skin Rejuvenation 5th ITCAM (International Thaicosderm Congress on Aesthetic Medicine (Bangkok, Thailand)</li>
								<li class="ulthermage-box4__item2">Hydrolifting with DermashineBalace® & Using Accutra® in the middle, lower face and neck Korea Dermatological Association the 68th Autumn Meeting (Seoul, Korea)</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<% include ../_include/_bfaf %>
	</div>
</div><!-- //container -->
<% include ../_include/_footer %>
