<%
	type = "content"
	page = "heal"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="container__wrap">
		<div class="content-visual type-ulthera">
			<div class="content-visual__box type-left">
				<div class="content-visual__wrap">
					<h2 class="content-visual__tit">
						바노바기 힐 에이징
						<span class="content-visual__tit-point">울쎄라 <span class="inline-block">Pro</span></span>
					</h2>
					<p class="content-visual__txt1">
						절개하지 않고 피부를 팽팽하게 개선하는
						레이저 리프팅 시술
					</p>
					<p class="content-visual__point">POINT</p>
					<p class="content-visual__txt2">
						시술 후 거의 표시가 나지 않아서 회사에 다니시는 분들,
						중요한 모임을 앞둔 경우에도 받을 수 있습니다.
					</p>
				</div>
			</div>
			<div class="content-visual__box type-right">
				<div class="content-visual__img">울세라 pro 이미지</div>
			</div>
			<div class="content-visual__box type-left type-another">
				<div class="content-visual__table">
					<h3 class="content-visual__subject">울쎄라Pro 시술정보</h3>
				</div>
			</div>
			<div class="content-visual__box type-right type-another">
				<ul class="content-table type-multi">
					<li class="content-table__item">
						<div class="content-table__tr">
							<div class="content-table__th">시술시간</div>
							<div class="content-table__td">30분 이내</div>
						</div>
					</li>
					<li class="content-table__item">
						<div class="content-table__tr">
							<div class="content-table__th">회복기간</div>
							<div class="content-table__td">시술 직후 일상생활 가능</div>
						</div>
					</li>
					<li class="content-table__item">
						<div class="content-table__tr">
							<div class="content-table__th">마취방법</div>
							<div class="content-table__td">연고마취</div>
						</div>
					</li>
					<li class="content-table__item">
						<div class="content-table__tr">
							<div class="content-table__th">멍 or 부종</div>
							<div class="content-table__td">연고마취</div>
						</div>
					</li>
					<li class="content-table__item">
						<div class="content-table__tr">
							<div class="content-table__th">내원회수</div>
							<div class="content-table__td">1~2회</div>
						</div>
					</li>
					<li class="content-table__item">
						<div class="content-table__tr">
							<div class="content-table__td"><span class="content-table__noti">※ 시술정보는 개인차가 있을 수 있습니다.</span></div>
						</div>
					</li>
				</ul>
				<!-- //content-table-->
			</div>
		</div>
		<!-- //content-visual-->
		<div class="content-seciton">
			<div class="ulthera-box1">
				<div class="content-top type-ulthera">
					<p class="content-top__subtit subtit-v1">한 단계 더 좋아진 울쎄라로, 피부 업그레이드</p>
					<h2 class="content-top__tit tit-v1">더욱 정교하게, <span class="inline-block">더욱 안전하게!</span><br class="hidden-p"> <span class="color-ulthera1 inline-block">울쎄라 Pro</span></h2>
					<p class="content-top__txt txt-v1">
						바노바기의 울쎄라Pro는 가장 최근에 업그레이드된 장비로, 절개하지 않고<br class="hidden-m">
						피부를 팽팽하게 개선하는 레이저 리프팅 시술입니다.
					</p>
				</div>
				<!-- //content-top-->
			</div><!-- //ulthera-box1 -->
			<div class="ulthera-box2">
				<h2 class="ulthera-box2__tit">안전하게, 정교하게, 편안하게</h2>
				<div class="ulthera-box2__box">
					<p class="ulthera-box2__txt">
						울쎄라프로 Amplify<span class="font-web">Ⅱ™</span><br>
						소프트웨어 <span class="color-ulthera1">업그레이드</span>
					</p>
				</div>
			</div><!-- //ulthera-box2 -->
			<div class="circle-style">
				<ul class="circle-style__list">
					<li class="circle-style__item nth-1">
						<div class="circle-style__wrap">
							<h2 class="circle-style__tit">더욱 안전하게</h2>
							<p class="circle-style__txt">제로 에너지 트레이닝 모드<span class="fw-light inline-block">(Zero Energy Training Mode)</span></p>
						</div>
					</li>
					<li class="circle-style__item nth-2">
						<div class="circle-style__wrap">
							<h2 class="circle-style__tit">더욱 정교하게</h2>
							<p class="circle-style__txt"><span class="fw-light">다양한 깊이의 시술이 가능하도록 </span>치료 가이드맵 추가</p>
						</div>
					</li>
					<li class="circle-style__item nth-3">
						<div class="circle-style__wrap">
							<h2 class="circle-style__tit">더욱 편안하게</h2>
							<p class="circle-style__txt">개별 맞춤 모드 가능</p>
						</div>
					</li>
				</ul>
			</div>
			<!-- //circle-style -->
			<div class="ulthera-box3 box-style1">
				<h2 class="ulthera-box3__tit tit-v1">
					울쎄라 시술은<br class="hidden-pt"> 피부층에 따라<br class="hidden-m">
					<span class="color-ulthera1">맞춤 시술이 가능</span>합니다.
				</h2>
				<p class="ulthera-box3__txt txt-v1">
					울쎄라는 1.5mm, 3.0mm 및 4.5mm의 다수의 깊이를 시술하므로, 수술적 안면 거상술에 다뤄지는<br class="hidden-tm">
					표면 층과 깊은 기저 층 모두를 목표로 합니다.
				</p>
				<ul class="ulthera-box3__list">
					<li class="ulthera-box3__item">
						<div class="ulthera-box3__img">
							<img src="../../images/heal/ulthera/ulthera_img3.jpg" alt="울쎄라 초음파" class="img-responsive">
						</div>
						<div class="ulthera-box3__wrap type-another">
							<p class="ulthera-box3__subject">울쎄라 초음파</p>
						</div>
					</li>
					<li class="ulthera-box3__item">
						<div class="ulthera-box3__img">
							<img src="../../images/heal/ulthera/ulthera_img4.jpg" alt="수술적 안면거상술" class="img-responsive">
						</div>
						<div class="ulthera-box3__wrap">
							<p class="ulthera-box3__subject">수술적 안면거상술</p>
						</div>
					</li>
					<li class="ulthera-box3__item">
						<div class="ulthera-box3__img">
							<img src="../../images/heal/ulthera/ulthera_img5.jpg" alt="레이저" class="img-responsive">
						</div>
						<div class="ulthera-box3__wrap">
							<p class="ulthera-box3__subject">레이저</p>
						</div>
					</li>
					<li class="ulthera-box3__item">
						<div class="ulthera-box3__img">
							<img src="../../images/heal/ulthera/ulthera_img6.jpg" alt="고주파" class="img-responsive">
						</div>
						<div class="ulthera-box3__wrap">
							<p class="ulthera-box3__subject">고주파</p>
						</div>
					</li>
				</ul>
				<p class="ulthera-box3__noti subtit-v1">
					얼굴의 각 부위의 조직층은 그 깊이와 두께가 서로 다릅니다.
				</p>
			</div>
			<!--//ulthera-box3-->
			<div class="ulthera-box4 box-style1">
				<h2 class="ulthera-box4__tit tit-v1">바노바기 울쎄라Pro <span class="color-ulthera1 inline-block">왜 다른가요?</span></h2>
				<div class="img-list2">
					<ul class="img-list2__list">
						<li class="img-list2__item">
							<div class="img-list2__img">
								<img src="../../images/heal/ulthera/ulthera_thum1.jpg" alt="울쎄라 리프팅 전문화된 의료기관" class="img-responsive">
							</div>
							<div class="img-list2__wrap">
								<h3 class="img-list2__tit">울쎄라 리프팅 전문화된 의료기관</h3>
								<p class="img-list2__txt">
									울쎄라 R&D 부사장이자 멀츠(Merz)사의 의료기기
									이노베이션센터 기술담당 총괄책임자인 마이클 피터슨이
									바노바기에 내원하여 피부과전문의 원장님들과 울쎄라
									시술에 관한 심도 깊은 토론을 하였습니다.
								</p>
							</div>
						</li>
						<li class="img-list2__item">
							<div class="img-list2__img">
								<img src="../../images/heal/ulthera/ulthera_thum2.jpg" alt="피부과 전문의가 효과적으로 시술" class="img-responsive">
							</div>
							<div class="img-list2__wrap type-another">
								<h3 class="img-list2__tit">피부과 전문의가 효과적으로 시술</h3>
								<p class="img-list2__txt">
									울쎄라는 피부 조직에 대한 이해와 다양한 임상 경험을
									바탕으로 더욱 효과적인 시술을 할 수 있습니다.
									피부에 대해 더 많이 공부한 바노바기 피부과 전문의가
									시술하면 다를 수밖에 없습니다.
								</p>
							</div>
						</li>
						<li class="img-list2__item">
							<div class="img-list2__img">
								<img src="../../images/heal/ulthera/ulthera_thum3.jpg" alt="울쎄라 정품 사용" class="img-responsive">
							</div>
							<div class="img-list2__wrap">
								<h3 class="img-list2__tit">울쎄라 정품 사용</h3>
								<p class="img-list2__txt">
									울쎄라는 고가의 정품 장비, 고가의 소모품이 필요한 시술입니다.
									정품으로 제대로된 시술을 하려면 시술 비용이 고가일 수 밖에 없습니다.
									바노바기는 두말 할 것 없이, 정품 장비, 정품팁만 사용하고,
									시술 받으신 모든 분들께는 정품인증서를 제공합니다.
								</p>
							</div>
						</li>
						<li class="img-list2__item">
							<div class="img-list2__img">
								<img src="../../images/heal/ulthera/ulthera_thum4.jpg" alt="피부 환경에 따라 샷과 팁을 정교하게 적용" class="img-responsive">
							</div>
							<div class="img-list2__wrap">
								<h3 class="img-list2__tit">피부 환경에 따라 샷과 팁을 정교하게 적용</h3>
								<p class="img-list2__txt">
									울쎄라는 여러가지 종류의 정품팁이 있습니다.
									SMAS가 위치한 4.5mm 깊이에 타깃하는 팁,
									또 3.0mm, 1.5mm 깊이의 팁을 피부 환경에 맞게, 피부 처짐과
									피부 두께 등에 따라 다르게 적용하여 맞춤 시술이 가능합니다.
								</p>
							</div>
						</li>
						<li class="img-list2__item">
							<div class="img-list2__img">
								<img src="../../images/heal/ulthera/ulthera_thum5.jpg" alt="복합 시술로 효과를 높임" class="img-responsive">
							</div>
							<div class="img-list2__wrap">
								<h3 class="img-list2__tit">복합 시술로 효과를 높임</h3>
								<p class="img-list2__txt">
									울쎄라를 시술할 때도 더 좋은 치료 효과를 위하여
									<span class="inline-block">여러가지 복합 시술로 만족도를 높입니다.</span><br>
									<a href="" class="img-list2__link"><span>울쎄라를 이용한 복합 시술 : 베이비페이스 테라피</span></a>
								</p>
							</div>
						</li>
						<li class="img-list2__item">
							<div class="img-list2__img">
								<img src="../../images/heal/ulthera/ulthera_thum6.jpg" alt="런치타임 진료, 뛰어난 효과" class="img-responsive">
							</div>
							<div class="img-list2__wrap">
								<h3 class="img-list2__tit">런치타임 진료, 뛰어난 효과</h3>
								<p class="img-list2__txt">
									시술 시간이 짧고(얼굴 전체 시술에 20분 정도 소요) 회복이
									비교적 빨라 시술 후 빠른 일상 복귀가 가능합니다.
									또한 한 번의 시술로도 최대 18개월까지 콜라겐과 엘라스틴이
									지속적으로 재생되는 우수한 피부 개선 효과를 얻을 수 있습니다.
								</p>
							</div>
						</li>
					</ul>
				</div><!-- //img-list2 -->
			</div>
			<!-- //ulthera-box4-->
			<div class="ulthera-box5 box-style1">
				<p class="ulthera-box5__subtit">바노바기의 약속</p>
				<h2 class="ulthera-box5__tit tit-v1">
					<span class="color-ulthera2">애프터 케어</span> 시스템
				</h2>
				<p class="ulthera-box5__txt txt-v1">
					바노바기 피부과 진료는 울쎄라 시술 후 부족한 부분에 대해서는 철저한 애프터 케어를 위해
					약속카드를 발급해 드립니다. 울쎄라 시술 후, 대략 1~3개월 정도 후, 다시 내원하셔서 진료를 보시고,
					부족한 부분에 대해서는 추가 시술로 만족도를 높여드립니다.
				</p>
				<ul class="ulthera-box5__list">
					<li class="ulthera-box5__item">
						<img src="../../images/heal/ulthera/ulthera_thum7.jpg" alt="애프터 케어 시스템 과정1" class="img-responsive">
					</li>
					<li class="ulthera-box5__item">
						<img src="../../images/heal/ulthera/ulthera_thum8.jpg" alt="애프터 케어 시스템 과정2" class="img-responsive">
					</li>
					<li class="ulthera-box5__item">
						<img src="../../images/heal/ulthera/ulthera_thum9.jpg" alt="애프터 케어 시스템 과정3" class="img-responsive">
					</li>
					<li class="ulthera-box5__item">
						<img src="../../images/heal/ulthera/ulthera_thum10.jpg" alt="애프터 케어 시스템 과정4" class="img-responsive">
					</li>
				</ul>
			</div>
			<!-- //ulthera-box5 -->
			<div class="content-step type-ulthera">
				<div class="content-step__box">
					<h2 class="content-step__tit">울쎄라Pro <span class="color-ulthera1">시술과정</span></h2>
					<ul class="content-step__list">
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/ulthera/ulthera_step1.jpg" alt="step1 - 전문의 상담" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 01</h3>
									<p class="txt-v2">전문의 상담</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/ulthera/ulthera_step2.jpg" alt="step2 - 클렌징" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 02</h3>
									<p class="txt-v2">클렌징</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/ulthera/ulthera_step3.jpg" alt="step3 - 마취연고" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 03</h3>
									<p class="txt-v2">마취연고</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/ulthera/ulthera_step4.jpg" alt="step4 - 초음파젤" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 04</h3>
									<p class="txt-v2">초음파젤</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/ulthera/ulthera_step5.jpg" alt="step5 - 울쎄라 리프팅" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 05</h3>
									<p class="txt-v2">울쎄라 리프팅</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/ulthera/ulthera_step6.jpg" alt="step6 - 마무리팩" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 06</h3>
									<p class="txt-v2">마무리팩</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
					</ul>
				</div>
			</div>
			<!-- //content-step-->
			<div class="img-list9 box-style1">
				<p class="img-list9__subtit subtit-v3">BANOBAGI ULTHERA PRO</p>
				<h3 class="img-list9__tit tit-v3">바노바기 울쎄라Pro <span class="color-ulthera1">시술부위</span></h3>
				<div class="img-list9__box">
					<ul class="img-list9__list">
						<li class="img-list9__item">
							<div class="img-list9__img">
								<img src="../../images/heal/ulthera/ulthera_area1.png" alt="이마 사진" class="img-responsive"><!-- pc용 -->
							</div>
							<h4 class="img-list9__subject">이마</h4>
							<p class="img-list9__txt">이마 주름, 미간 주름 개선</p>
						</li>
						<li class="img-list9__item">
							<div class="img-list9__img">
								<img src="../../images/heal/ulthera/ulthera_area2.png" alt="눈가 사진" class="img-responsive"><!-- pc용 -->
							</div>
							<h4 class="img-list9__subject">눈가</h4>
							<p class="img-list9__txt">눈꺼풀 처짐, 눈가 주름, 다크서클 개선</p>
						</li>
						<li class="img-list9__item">
							<div class="img-list9__img">
								<img src="../../images/heal/ulthera/ulthera_area3.png" alt="볼 사진" class="img-responsive"><!-- pc용 -->
							</div>
							<h4 class="img-list9__subject">볼</h4>
							<p class="img-list9__txt">볼 처짐, 인디언 주름. 팔자 주름 개선</p>
						</li>
						<li class="img-list9__item">
							<div class="img-list9__img">
								<img src="../../images/heal/ulthera/ulthera_area4.png" alt="턱, 목 사진" class="img-responsive"><!-- pc용 -->
							</div>
							<h4 class="img-list9__subject">턱, 목</h4>
							<p class="img-list9__txt">처진 턱살, 이중턱 개선, 목주름 개선</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- //img-list9 -->
			<div class="ulthera-box7 box-style1 type-pb0">
				<h3 class="ulthera-box7__tit tit-v1">울쎄라Pro <span class="color-ulthera1">시너지 컨설팅</span></h3>
				<div class="img-list3">
					<div class="img-list3__box">
						<h4 class="img-list3__tit"><span class="img-list3__num">1</span><span>울쎄라Pro + 써마지FLX</span></h4>
						<p class="img-list3__txt">처진 볼살과 잔주름 개선</p>
						<ul class="img-list3__list">
							<li class="img-list3__item">
								<div class="img-list3__img">
									<img src="../../images/heal/ulthera/ulthera_synergy1.jpg" alt="울쎄라Pro" class="img-responsive">
								</div>
								<div class="img-list3__wrap">
									<h5 class="img-list3__subject">울쎄라Pro</h5>
								</div>
							</li>
							<li class="img-list3__item">
								<div class="img-list3__img">
									<img src="../../images/heal/ulthera/ulthera_synergy2.jpg" alt="써마지FLX" class="img-responsive">
								</div>
								<div class="img-list3__wrap">
									<h5 class="img-list3__subject">써마지FLX</h5>
								</div>
							</li>
						</ul>
					</div>
					<!-- //img-list3__box-->
					<div class="img-list3__box">
						<h4 class="img-list3__tit"><span class="img-list3__num">2</span><span>울쎄라Pro + 프락셀듀얼</span></h4>
						<p class="img-list3__txt">리프팅효과와 모공 축소</p>
						<ul class="img-list3__list">
							<li class="img-list3__item">
								<div class="img-list3__img">
									<img src="../../images/heal/ulthera/ulthera_synergy3.jpg" alt="울쎄라Pro" class="img-responsive">
								</div>
								<div class="img-list3__wrap">
									<h5 class="img-list3__subject">울쎄라Pro</h5>
								</div>
							</li>
							<li class="img-list3__item">
								<div class="img-list3__img">
									<img src="../../images/heal/ulthera/ulthera_synergy4.jpg" alt="프락셀듀얼" class="img-responsive">
								</div>
								<div class="img-list3__wrap">
									<h5 class="img-list3__subject">프락셀듀얼</h5>
								</div>
							</li>
						</ul>
					</div>
					<!-- //img-list3__box-->
					<div class="img-list3__box">
						<h4 class="img-list3__tit"><span class="img-list3__num">3</span><span>파워 울쎄라 (울쎄라Pro + 당기는 실리프팅)</span></h4>
						<p class="img-list3__txt">좀 더 확실한 리프팅 효과를 받고 싶을 때</p>
						<ul class="img-list3__list">
							<li class="img-list3__item">
								<div class="img-list3__img">
									<img src="../../images/heal/ulthera/ulthera_synergy5.jpg" alt="울쎄라Pro" class="img-responsive">
								</div>
								<div class="img-list3__wrap">
									<h5 class="img-list3__subject">울쎄라Pro</h5>
								</div>
							</li>
							<li class="img-list3__item">
								<div class="img-list3__img">
									<img src="../../images/heal/ulthera/ulthera_synergy6.jpg" alt="당기는 실리프팅" class="img-responsive">
								</div>
								<div class="img-list3__wrap">
									<h5 class="img-list3__subject">당기는 실리프팅</h5>
								</div>
							</li>
						</ul>
					</div>
					<!-- //img-list3__box-->
					<div class="img-list3__box">
						<h4 class="img-list3__tit"><span class="img-list3__num">4</span><span>울쎄라Pro + 물광PRP</span></h4>
						<p class="img-list3__txt">피부에 수분을 보충하고 재생력을 강화</p>
						<ul class="img-list3__list">
							<li class="img-list3__item">
								<div class="img-list3__img">
									<img src="../../images/heal/ulthera/ulthera_synergy7.jpg" alt="울쎄라Pro" class="img-responsive">
								</div>
								<div class="img-list3__wrap">
									<h5 class="img-list3__subject">울쎄라Pro</h5>
								</div>
							</li>
							<li class="img-list3__item">
								<div class="img-list3__img">
									<img src="../../images/heal/ulthera/ulthera_synergy8.jpg" alt="물광PRP" class="img-responsive">
								</div>
								<div class="img-list3__wrap">
									<h5 class="img-list3__subject">물광PRP</h5>
								</div>
							</li>
						</ul>
					</div>
					<!-- //img-list3__box-->
				</div>
			</div>
		</div>
		<% include ../_include/_bfaf %>
	</div>
</div><!-- //container-->
<% include ../_include/_footer %>
