<%
	type = "membership"
	page = "join"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h2 class="container__tit type-join">회원가입</h2>
		<p class="container__txt">바노바기 성형외과는 고객님의 개인정보보호를 위해 개인정보 보호지침을 마련하여 이를 준수하고 있습니다.</p>
	</div>
	<% include ../_include/_lnb %>
	<div class="container__wrap type-another">
		<div class="membership type-another">
			<div class="tab-v2">
				<div class="tab-v2__list">
					<li class="tab-v2__item is-active" data-tab="tab-1"><a href="" class="tab-v2__link js-tab-link">아이디 찾기</a></li>
					<li class="tab-v2__item" data-tab="tab-2"><a href="" class="tab-v2__link js-tab-link">패스워드 찾기</a></li>
				</div>
			</div>
			<div class="tab-v2__content type-membership tab-1">
				<h3 class="membership__tit">아이디 찾기</h3>
				<p class="membership__txt">
				아이디를 잊어버리셨나요?<br>
				가입시 등록된 이메일 주소를 입력하시면 이메일로<br class="hidden-pt"> 아이디가 발송됩니다.
				</p>
				<div class="membership__box type-another">
					<form action="">
						<ul class="membership__list">
							<li class="membership__item">
								<label class="membership__label" for="membership-name"><span class="membership__label-wrap">이름</span></label>
								<input type="text" name="" value="" class="membership__input" id="membership-name">
							</li>
							<li class="membership__item">
								<label class="membership__label" for="membership-email"><span class="membership__label-wrap">이메일</span></label>
								<input type="email" name="" value="" class="membership__input" id="membership-email">
							</li>
						</ul>
						<p class="membership__notice">* 회원가입 시 입력하신 이메일 주소를 정확하게 입력하여 주세요.</p>
						<button type="submit" href="#" class="membership__btn type-another">아이디찾기</button>
					</form>
				</div>
			</div><!--tab-1-->
			<div class="tab-v2__content type-membership tab-2">
				<h3 class="membership__tit">패스워드 찾기</h3>
				<p class="membership__txt">
					패스워드를 잊어버리셨나요?<br>
					가입시 등록된 이메일 주소를 입력하시면 이메일로<br class="hidden-pt"> 패스워드가 발송됩니다.
				</p>
				<div class="membership__box type-another">
					<form action="">
						<ul class="membership__list">
							<li class="membership__item">
								<label class="membership__label" for="membership-name"><span class="membership__label-wrap">아이디</span></label>
								<input type="text" name="" value="" class="membership__input" id="membership-name">
							</li>
							<li class="membership__item">
								<label class="membership__label" for="membership-email"><span class="membership__label-wrap">이메일</span></label>
								<input type="email" name="" value="" class="membership__input" id="membership-email">
							</li>
						</ul>
						<p class="membership__notice">* 회원가입 시 입력하신 이메일 주소를 정확하게 입력하여 주세요.</p>
						<button type="submit" href="#" class="membership__btn type-another">패스워드찾기</button>
					</form>
				</div>
			</div><!--tab-2-->
			<!-- 아이디 결과값 -->
			<div class="tab-v2__content type-membership is-active">
				<h3 class="membership__tit">아이디 찾기</h3>
				<p class="membership__txt">
					다음 정보로 가입된 아이디가 총 <span class="membership__num"><strong class="membership__point">6</strong>개</span> 있습니다.
				</p>
				<ul class="membership__find-list">
					<li class="membership__find-item">104fdjdk</li>
					<li class="membership__find-item">104fdj12313dk</li>
					<li class="membership__find-item">104fdfadfafjdk</li>
					<li class="membership__find-item">104fd@ver.com</li>
					<li class="membership__find-item">104fd@jer.com</li>
					<li class="membership__find-item">104f1423415d@j1231dkr.com</li>
				</ul><br>
				<button type="submit" class="membership__btn type-another js-login-open">로그인</button>
			</div>
			<!-- //아이디 결과값 -->
		</div><!-- //membership -->
	</div><!-- //container__wrap-->
</div>
<% include ../_include/_footer %>
