<%
	type = "detail"
	page = "medical"
%>
<% include ../_include/_header %>
<div class="onepage type-another">
	<div class="content-section type-visual medical-section0" data-section-name="medical-section0">
		<div class="inner-wrap">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="detail-visual">
							<h3 class="detail-visual__tit">
								BANOBAGI<br>
								MEDICAL<br>
								SKINCARE<br>
								<strong>DETAIL</strong>
							</h3>
							<p class="onepage__subtit detail-visual__subtit">
								치료 후 케어도 놓치지 않아야 합니다 <br>
								전문적이고 의학적인 피부 관리
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="scroll type-detail">
			<div class="scroll__inner">
				<i class="scroll__ball"></i>
			</div>
			<p class="scroll__txt">SCROLL</p>
		</div>
	</div>
	<div class="content-section medical-section1 type-popup" data-section-name="medical-section1">
		<div class="inner-wrap">
			<div class="onepage__box type-half type-r">
				<div class="detail__popup">
					<div class="detail__popup-wrap">
						<h2 class="detail__popup-tit">프리미엄급 피부 관리 장비<span class="medical-color2">.</span></h2>
						<div class="detail__popup-scroll">
							<div class="popup-style1">
								<ul class="popup-style1__list">
									<li class="popup-style1__item nth-1">
										<div class="popup-style1__img">
											<h4 class="popup-style1__tit">하이퍼럭스</h4>
											<p class="popup-style1__txt">피부 탄력, 여드름 관리</p>
										</div>
									</li>
									<li class="popup-style1__item nth-2">
										<div class="popup-style1__img">
											<h4 class="popup-style1__tit">크라이오셀</h4>
											<p class="popup-style1__txt">진정, 재생 관리</p>
										</div>
									</li>
									<li class="popup-style1__item nth-3">
										<div class="popup-style1__img">
											<h4 class="popup-style1__tit">더마에스</h4>
											<p class="popup-style1__txt">미백, 보습관리</p>
										</div>
									</li>
									<li class="popup-style1__item nth-4">
										<div class="popup-style1__img">
											<h4 class="popup-style1__tit">더미오 케어</h4>
											<p class="popup-style1__txt">음이온 항산화 관리</p>
										</div>
									</li>
									<li class="popup-style1__item nth-5">
										<div class="popup-style1__img">
											<h4 class="popup-style1__tit">클리어젯</h4>
											<p class="popup-style1__txt">각질 및 모공 클린 관리</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<a href="" class="detail__popup-close js-popup-close">닫기</a>
					</div>
				</div>
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<h3 class="detail__tit medical-detail1__tit">
							피부과 전문의가 처방하는<br><strong class="medical-detail2__color">맞춤 피부 관리</strong>
						</h3>
						<p class="onepage__subtit medical-detail1__subtit">
							메디컬 &amp; 스킨케어
						</p>
						<p class="onepage__txt type-detail medical-detail1__txt">
							피부과에서 레이저 시술과 같은 집중 치료를 받은 후에는 후처치와 유지 관리가
							무척 중요합니다. 바노바기에서는 치료 효과를 더 좋게 하기 위해 전문적이고
							효율적인 메디컬 스킨케어를 연구하여 제공하고 있습니다. 또 레이저 치료를
							받지 않았더라도 평소 건강한 피부 상태를 유지하고 개선하기 위해 메디컬
							스킨케어의 도움을 받는 것도 좋은 방법입니다.<br><br>

							바노바기피부과에서는 레이저 장비 못지 않게 다양한 프리미엄급 피부 관리
							장비를 보유하고 있고 전문적인 피부관리사가 꼼꼼하고 철저하게 피부를
							관리해드립니다.
						</p>
					</div>
					<div class="detail__img2 medical-detail1__img">피부세포 이미지</div>
				</div>
				<div class="detail__section-bottom">
					<div class="detail__section-set">
						프리미엄급 피부 관리 장비
						<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open">팝업버튼</a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section medical-section2" data-section-name="medical-section2">
		<div class="inner-wrap">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<h3 class="detail__tit medical-detail2__tit">
							자극 받고 지친 피부를 위한<br><strong class="medical-detail1__color">보습과 진정</strong>
						</h3>
						<p class="onepage__subtit medical-detail2__subtit">
							풍부한 보습과  휴식, 피부가 가장 좋아하는 것입니다
						</p>
						<p class="onepage__txt type-detail medical-detail2__txt">
							레이저 시술 후 피부는 붉어지거나 예민해집니다. 피부에 자극을 주어 탄력
							세포를 활성화 시키거나 색소 세포를 제거하다 보면 피부는 지치고
							건조해집니다. 이때 빠르고 효과적으로 피부를 진정시켜 풍부한 보습을
							제공해주는 것이 중요합니다.<br><br>

							바노바기는 과학적인 관리 장비를 이용하여 재생 및 보습 앰플을 피부에
							효과적으로 침투시켜 피부의 회복을 돕습니다.
						</p>
						<div class="detail-circle">
							<ul class="detail-circle__list">
								<li class="detail-circle__item nth-1">
									<div class="vertical">
										<p class="detail-circle__txt">
											레이저 시술 후<br>
											자극받은 피부에
										</p>
										<h4 class="detail-circle__tit">
											뛰어난<br>
											진정효과
										</h4>
									</div>
								</li>
								<li class="detail-circle__item nth-2">
									<div class="vertical">
										<p class="detail-circle__txt">
											수분 부족으로<br>
											건조해진 피부에
										</p>
										<h4 class="detail-circle__tit">
											강력한<br>
											보습 효과
										</h4>
									</div>
								</li>
								<li class="detail-circle__item nth-3">
									<div class="vertical">
										<p class="detail-circle__txt">
											다른 시술의<br>
											효과를 더욱 좋게 하는
										</p>
										<h4 class="detail-circle__tit">
											효율적인<br>
											시너지 작용
										</h4>
									</div>
								</li>
							</ul>
							<p class="detail-circle__subject">재생&amp;보습케어의 효과</p>
						</div>

					</div>
					<div class="detail__img2 medical-detail2__img">울쎄라,써마지 장비</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section medical-section3 type-popup" data-section-name="medical-section3">
		<div class="inner-wrap">
			<div class="onepage__box type-half type-r">
				<div class="detail__popup">
					<div class="detail__popup-wrap">
						<h2 class="detail__popup-tit">
							<span class="detail__popup-subtit">메디컬 스킨케어의</span>
							미백케어의 특징<span class="medical-color2">.</span>
						</h2>
						<div class="detail__popup-scroll">
							<div class="popup-style2">
								<ul class="popup-style2__list">
									<li class="popup-style2__item">
										<div class="popup-style2__wrap">
											<p class="popup-style2__num">01</p>
											<p class="popup-style2__txt">
												고농축의 비타민 C를 이용한
												뛰어난 미백 작용
											</p>
										</div>
									</li>
									<li class="popup-style2__item">
										<div class="popup-style2__wrap">
											<p class="popup-style2__num">02</p>
											<p class="popup-style2__txt">
												기미&middot;주근깨&middot;잡티 등의
												<span class="inline-block">색소 질환 개선</span>
											</p>
										</div>
									</li>
									<li class="popup-style2__item">
										<div class="popup-style2__wrap">
											<p class="popup-style2__num">03</p>
											<p class="popup-style2__txt">
												잔주름 개선 및 노화 예방 등의 안티에이징 효과
											</p>
										</div>
									</li>
									<li class="popup-style2__item">
										<div class="popup-style2__wrap">
											<p class="popup-style2__num">04</p>
											<p class="popup-style2__txt">
												시술 후 즉시 일상 복귀가
												가능한 간편한 시술
											</p>
										</div>
									</li>
									<li class="popup-style2__item">
										<div class="popup-style2__wrap">
											<p class="popup-style2__num">05</p>
											<p class="popup-style2__txt">
												통증 및 부작용이 거의 없는 안전한 시술
											</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<a href="" class="detail__popup-close js-popup-close">닫기</a>
					</div>
				</div>
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<h3 class="detail__tit medical-detail3__tit">
							<strong class="medical-detail3__color">화이트닝</strong> 치료의 필수 코스
						</h3>
						<p class="onepage__subtit medical-detail3__subtit">
							화이트닝, 유효 성분을 피부 속으로 침투시켜야만 합니다
						</p>
						<p class="onepage__txt type-detail medical-detail3__txt">
							화이트닝 기능의 화장품이 많이 있지만, 표피에 바르는 것만으로는 피부가
							원하는 깊이까지 유효성분을 충분히 침투시킬 수는 없습니다. 미백 메디컬
							스킨케어는 순수 비타민 C 및 다양한 미백 약물을 전류와 초음파 등을 이용하여
							피부 깊은 곳까지 흡수를 돕습니다.<br><br>

							올인원 테라피나 올인원 토닝과 같은 바노바기의 미백 치료를 받으실 때 필수
							과정이기도 하면서 피부를 맑고 투명하게 가꿔주는 똑똑한 관리법이기도
							합니다.
						</p>
					</div>
					<div class="detail__img2 medical-detail3__img">피부세포 이미지</div>
				</div>
				<div class="detail__section-bottom">
					<div class="detail__section-set">
						미백케어의 특징
						<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open">팝업버튼</a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section medical-section4" data-section-name="medical-section4">
		<div class="inner-wrap">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<h3 class="detail__tit medical-detail4__tit">
							피부에 <strong class="medical-detail4__color">탄탄한 생기</strong>를<br> 부여하는 관리
						</h3>
						<p class="onepage__subtit medical-detail4__subtit">
							노화를 실감하는 피부, 콜라겐 재생이 답입니다
						</p>
						<p class="onepage__txt type-detail medical-detail4__txt">
							나이가 들면서 가장 분명하게 드러나는 피부 변화는 콜라겐 감소, 그리고 그에
							따른 탄력 감소일 것입니다. 피부 탄력이 떨어지면 자연스레 주름이 늘고 입가와
							턱선등이 늘어지고 처지는 현상이 나타납니다.<br><br>

							울쎄라나 써마지와 같은 집중 탄력 치료를 받는 것도 좋지만 바노바기의 탄력
							메디컬 스킨케어로 평소 콜라겐 재생을 유도하는 관리와 피부 혈액 순환을
							촉진하는 관리를 받아보세요. 피부에 생기가 살아납니다.

						</p>
						<div class="detail-circle">
							<ul class="detail-circle__list">
								<li class="detail-circle__item nth-1">
									<div class="vertical">
										<p class="detail-circle__txt">
											각종 주름과<br>
											피부 처짐을 개선하는
										</p>
										<h4 class="detail-circle__tit">
											피부 탄력<br>
											강화 효과
										</h4>
									</div>
								</li>
								<li class="detail-circle__item nth-2">
									<div class="vertical">
										<p class="detail-circle__txt">
											다크서클과<br>
											피부 톤을 개선하는
										</p>
										<h4 class="detail-circle__tit">
											혈액순환<br>
											촉진효과
										</h4>
									</div>
								</li>
								<li class="detail-circle__item nth-3">
									<div class="vertical">
										<p class="detail-circle__txt">
											진피층 콜라겐의<br>
											재생을 통한
										</p>
										<h4 class="detail-circle__tit">
											리프팅 및<br>
											타이트닝 효과
										</h4>
									</div>
								</li>
							</ul>
							<p class="detail-circle__subject">탄력케어의 효과</p>
						</div>

					</div>
					<div class="detail__img2 medical-detail4__img">울쎄라,써마지 장비</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
