<%
	type = "content"
	page = "medical"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="container__wrap">
		<div class="content-visual type-stress">
			<div class="content-visual__box type-left">
				<div class="content-visual__wrap">
					<h2 class="content-visual__tit">
						노화와 질병의 근원 스트레스
						<span class="content-visual__tit-point">스트레스 Out<br class="hidden-p">프로그램</span>
					</h2>
					<p class="content-visual__txt1">
						바노바기 피부과의 스트레스 치료법, 주사 및 비타민
						치료를 소개합니다.
					</p>
					<p class="content-visual__point">POINT</p>
					<p class="content-visual__txt2">
						지속적인 스트레스로 발생하는 활성산소를 줄이고
						세포를 살리기 위한 프로그램입니다.
					</p>
				</div>
			</div>
			<div class="content-visual__box type-right">
				<div class="content-visual__img">스트레스 out 이미지</div>
			</div>
			<div class="content-visual__box type-left type-another">
				<div class="content-visual__table">
					<h3 class="content-visual__subject">마이어스 칵테일 핵심포인트</h3>
				</div>
			</div>
			<div class="content-visual__box type-right type-another">
				<ul class="content-table">
					<li class="content-table__item">
						<div class="content-table__tr">
							<div class="content-table__th">안전한 시술</div>
							<div class="content-table__td">수용성 비타민을 사용하여 부작용이 거의 없어 안전하게 치료</div>
						</div>
					</li>
					<li class="content-table__item">
						<div class="content-table__tr">
							<div class="content-table__th">빠르고 좋은 효과</div>
							<div class="content-table__td">정맥에 직접 주사하여 빠른 약효와 꾸준한 치료를 받을 경우 좋은 효과 기대</div>
						</div>
					</li>
					<li class="content-table__item">
						<div class="content-table__tr">
							<div class="content-table__th">계획적인 치료</div>
							<div class="content-table__td">충분한 상의를 통해 치료법과 치료기간을 정함</div>
						</div>
					</li>
				</ul>
				<!-- //content-table-->
			</div>
		</div>
		<!-- //content-visual-->
		<div class="content-seciton">
			<div class="stress-box1">
				<div class="content-top type-stress">
					<p class="content-top__subtit subtit-v1">고용량 비타민, 미네랄을 정맥에 주입하는 치료법</p>
					<h2 class="content-top__tit tit-v1">바노바기 <span class="color-stress1 inline-block">마이어스 칵테일</span></h2>
					<p class="content-top__txt txt-v1">
						분자교정의학의 한 분야로서 미국의존 마이어스(Jhon Myers)가 다양한 질환에 비타민과 미네랄을
						빠르게 주사하여 교정하는 요법을 선구적으로 이끌어낸것에서 유래 되었습니다.
						만성피로, 만성근육통, 근육긴장, 유해물질의 해독, 불안, 불면, 스트레스, 우울은 물론 피부 미백 등
						러 목적으로 사용되며 수용성 비타민으로 부작용이 거의 없는것이 장점입니다.
					</p>
				</div>
				<!-- //content-top-->
			</div><!-- //stress-box1 -->
			<div class="stress-box2">
				<h2 class="stress-box2__tit">스트레스란?</h2>
				<p class="stress-box2__txt">
					인간이 심리적, 육체적으로 감당하기 어려운 상황에 처했을 때 느끼는 불안과 위협의 감정으로<br class="hidden-tm"> 지속적인 스트레스는 활성산소를 유발하여 손상시킵니다.
				</p>
			</div><!-- //stress-box2 -->
			<div class="stress-box3 box-style1">
				<p class="stress-box3__subtit">마이어스 칵테일을 기본으로 한</p>
				<h2 class="stress-box3__tit">다양한 <span class="color-stress1">수액요법</span></h2>
				<div class="injection">
					<div class="injection__box">
						<h3 class="injection__tit">
							<span class="color-stress1">01.</span> 디톡스주사
						</h3>
						<p class="injection__txt">
							디톡스 주사란 비타민과 미네랄을 혼합한 마이어스 칵테일과 세포 내 면역시스템의 필수성분이자 독성물질을 중화하여<br class="hidden-tm">
							담즙으로 배설하는 역할을 하는 글루타치온을 함께 맞는 수액치료입니다.
						</p>
						<div class="injection__area">
							<ul class="injection__list">
								<li class="injection__item">
									<div class="injection__img">
										<img src="../../images/medical/stress/injection_1_1.jpg" alt="혈액순환촉진" class="img-responsive">
									</div>
									<div class="injection__wrap">
										<div class="vertical">
											<p class="injection__subject">혈액순환촉진</p>
										</div>
									</div>
								</li>
								<li class="injection__item">
									<div class="injection__img">
										<img src="../../images/medical/stress/injection_1_2.jpg" alt="면역기능향상" class="img-responsive">
									</div>
									<div class="injection__wrap">
										<div class="vertical">
											<p class="injection__subject">면역기능향상</p>
										</div>
									</div>
								</li>
								<li class="injection__item">
									<div class="injection__img">
										<img src="../../images/medical/stress/injection_1_3.jpg" alt="체내독소제거" class="img-responsive">
									</div>
									<div class="injection__wrap">
										<div class="vertical">
											<p class="injection__subject">체내독소제거</p>
										</div>
									</div>
								</li>
								<li class="injection__item">
									<div class="injection__img">
										<img src="../../images/medical/stress/injection_1_4.jpg" alt="산화환원반응기여" class="img-responsive">
									</div>
									<div class="injection__wrap">
										<div class="vertical">
											<p class="injection__subject">산화환원반응기여</p>
										</div>
									</div>
								</li>
								<li class="injection__item">
									<div class="injection__img">
										<img src="../../images/medical/stress/injection_1_5.jpg" alt="영양흡수촉진" class="img-responsive">
									</div>
									<div class="injection__wrap">
										<div class="vertical">
											<p class="injection__subject">영양흡수촉진</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="injection-point nth-1">
							<p class="injection-point__point">DETOX POINT</p>
							<p class="injection-point__txt">
								간에서 생성되는 가장 강력한 고분자 항산화 효소인<br>
								<span class="color-stress1">글루타치온</span>을 주사로 만나다!
							</p>
						</div>
					</div><!--//injection-box -->
					<!-- 맑은피부주사 -->
					<div class="injection__box">
						<h3 class="injection__tit">
							<span class="color-stress1">02.</span> 맑은 피부 주사
						</h3>
						<p class="injection__txt">
							아연은 항산화 작용을 원활하게 하기위해 필요한 구성성분으로 노화방지를 위해 필수적인 요소입니다.<br class="hidden-tm">
							이외에도 조직재생, 성장, 생식 등에 중요한 역할을 합니다. 맑은 피부주사는 중년층 남성들에게 필요한 주사입니다.
						</p>
						<div class="injection__area">
							<ul class="injection__list type-another">
								<li class="injection__item">
									<div class="injection__img">
										<img src="../../images/medical/stress/injection_1_1.jpg" alt="혈액순환촉진" class="img-responsive">
									</div>
									<div class="injection__wrap">
										<div class="vertical">
											<p class="injection__subject">혈액순환촉진</p>
										</div>
									</div>
								</li>
								<li class="injection__item">
									<div class="injection__img">
										<img src="../../images/medical/stress/injection_1_2.jpg" alt="면역기능향상" class="img-responsive">
									</div>
									<div class="injection__wrap">
										<div class="vertical">
											<p class="injection__subject">면역기능향상</p>
										</div>
									</div>
								</li>
								<li class="injection__item">
									<div class="injection__img">
										<img src="../../images/medical/stress/injection_1_3.jpg" alt="체내독소제거" class="img-responsive">
									</div>
									<div class="injection__wrap">
										<div class="vertical">
											<p class="injection__subject">체내독소제거</p>
										</div>
									</div>
								</li>
								<li class="injection__item">
									<div class="injection__img">
										<img src="../../images/medical/stress/injection_1_4.jpg" alt="산화환원반응기여" class="img-responsive">
									</div>
									<div class="injection__wrap">
										<div class="vertical">
											<p class="injection__subject">산화환원반응기여</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="injection-point nth-2">
							<p class="injection-point__point">CLEAN SKIN POINT</p>
							<p class="injection-point__txt">
								<span class="color-stress1">노화방지를 위해 필수적인 요소인 아연,</span><br>
								아연을 이용해 피부를 더욱 맑고 깨끗하게
							</p>
						</div>
					</div><!--//injection-box -->
					<!-- 면역주사-->
					<div class="injection__box">
						<h3 class="injection__tit">
							<span class="color-stress1">03.</span> 면역주사
						</h3>
						<p class="injection__txt type-another">
							고용량 비타민C를 주사하여 암과 각종 만성 질환을 예방, 치료하고 면역력 증가와<br class="hidden-tm">
							만성피로 해소, 해독작용, 노화방지, 피부탄력에 효과적인 주사입니다.
						</p>
						<div class="injection__area">
							<ul class="injection__list">
								<li class="injection__item">
									<div class="injection__img">
										<img src="../../images/medical/stress/injection_3_1.jpg" alt="항산화" class="img-responsive">
									</div>
									<div class="injection__wrap">
										<div class="vertical">
											<p class="injection__subject">항산화</p>
										</div>
									</div>
								</li>
								<li class="injection__item">
									<div class="injection__img">
										<img src="../../images/medical/stress/injection_3_2.jpg" alt="삶의질 개선" class="img-responsive">
									</div>
									<div class="injection__wrap">
										<div class="vertical">
											<p class="injection__subject">삶의질 개선</p>
										</div>
									</div>
								</li>
								<li class="injection__item">
									<div class="injection__img">
										<img src="../../images/medical/stress/injection_3_3.jpg" alt="암세포 파괴" class="img-responsive">
									</div>
									<div class="injection__wrap">
										<div class="vertical">
											<p class="injection__subject">암세포 파괴</p>
										</div>
									</div>
								</li>
								<li class="injection__item">
									<div class="injection__img">
										<img src="../../images/medical/stress/injection_1_2.jpg" alt="면역기능 증강" class="img-responsive">
									</div>
									<div class="injection__wrap">
										<div class="vertical">
											<p class="injection__subject">면역기능 증강</p>
										</div>
									</div>
								</li>
								<li class="injection__item">
									<div class="injection__img">
										<img src="../../images/medical/stress/injection_3_4.jpg" alt="암 증식 억제" class="img-responsive">
									</div>
									<div class="injection__wrap">
										<div class="vertical">
											<p class="injection__subject">암 증식 억제</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="injection-point nth-3">
							<p class="injection-point__point">immunity injection POINT</p>
							<p class="injection-point__txt">
								아스코르빈산이라고도 불리는 비타민 C,<br>
								활성산소로부터 신체를 보호하는 <span class="color-stress1">항산화물질</span>입니다.
							</p>
						</div>
					</div><!--//injection-box -->
					<!-- 에너지 주사 -->
					<div class="injection__box">
						<h3 class="injection__tit">
							<span class="color-stress1">04.</span> 에너지 주사
						</h3>
						<p class="injection__txt">
							마그네슘은 에너지 전달과 혈당 및 지질 조절, 항스트레스에 필요한 무기질이며,<br class="hidden-tm">
							비타민B5는 부신 기능 회복에 효과적입니다.
						</p>
						<div class="injection__area">
							<ul class="injection__list type-another">
								<li class="injection__item">
									<div class="injection__img">
										<img src="../../images/medical/stress/injection_4_1.jpg" alt="피로예방" class="img-responsive">
									</div>
									<div class="injection__wrap">
										<div class="vertical">
											<p class="injection__subject">피로예방</p>
										</div>
									</div>
								</li>
								<li class="injection__item">
									<div class="injection__img">
										<img src="../../images/medical/stress/injection_4_2.jpg" alt="감염예방" class="img-responsive">
									</div>
									<div class="injection__wrap">
										<div class="vertical">
											<p class="injection__subject">감염예방</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="injection-point nth-4">
							<p class="injection-point__point">ENERGY injection POINT</p>
							<p class="injection-point__txt">
								21세기 증후군이라고 불리는 부신프로증후군,<br>
								해결책은 <span class="color-stress1">마그네슘과 비타민 B5</span>입니다.
							</p>
						</div>
					</div><!--//injection-box -->
					<!-- 05 피로 해소 주사 -->
					<div class="injection__box">
						<h3 class="injection__tit">
							<span class="color-stress1">05.</span> 피로 해소 주사 (마늘주사)
						</h3>
						<p class="injection__txt type-another">
							푸리설티아민은 비타민 B1으로 열량대사에 중요하며, 신경계와 피부, 소화기관은 비타민 B1결핍에 특히 민감합니다.<br class="hidden-tm">
							피로회복 주사는 에너지 대사 촉진, 피로회복, 통증완화, 재생촉진, 신경기능개선, 심근대사장애 개선에 효과적입니다.
						</p>
						<div class="injection__area">
							<ul class="injection__list type-another">
								<li class="injection__item">
									<div class="injection__img">
										<img src="../../images/medical/stress/injection_1_3.jpg" alt="신진대사" class="img-responsive">
									</div>
									<div class="injection__wrap">
										<div class="vertical">
											<p class="injection__subject">신진대사</p>
										</div>
									</div>
								</li>
								<li class="injection__item">
									<div class="injection__img">
										<img src="../../images/medical/stress/injection_3_1.jpg" alt="항산화작용" class="img-responsive">
									</div>
									<div class="injection__wrap">
										<div class="vertical">
											<p class="injection__subject">항산화작용</p>
										</div>
									</div>
								</li>
								<li class="injection__item">
									<div class="injection__img">
										<img src="../../images/medical/stress/injection_5_2.jpg" alt="재생촉진" class="img-responsive">
									</div>
									<div class="injection__wrap">
										<div class="vertical">
											<p class="injection__subject">재생촉진</p>
										</div>
									</div>
								</li>
								<li class="injection__item">
									<div class="injection__img">
										<img src="../../images/medical/stress/injection_5_3.jpg" alt="통증완화" class="img-responsive">
									</div>
									<div class="injection__wrap">
										<div class="vertical">
											<p class="injection__subject">통증완화</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="injection-point nth-5">
							<p class="injection-point__point">garlic injection POINT</p>
							<p class="injection-point__txt">
								마늘에 많이 들어있는 <span class="color-stress1">알리신과 유사한 푸리설티아민제</span>를 이용,<br>
								마늘주사라는 이름으로 많이 알려진 주사치료입니다.
							</p>
						</div>
					</div><!--//injection-box -->
					<!-- iq200 주사 -->
					<div class="injection__box">
						<h3 class="injection__tit">
							<span class="color-stress1">06.</span> IQ200 주사
						</h3>
						<p class="injection__txt type-another">
							혈관에 특히 효과적인 주사이며, 특히 비타민 B12는 신경전달물질의 합성을 촉진시켜<br class="hidden-tm">
							정신을 안정시키며 집중력과 기억력을 높이는데 도움이 됩니다.
						</p>
						<h4 class="injection__tit2">체내 작용효과</h4>
						<ul class="injection__list type-one">
							<li class="injection__item">
								<div class="injection__img">
									<img src="../../images/medical/stress/injection_6_1.jpg" alt="혈액순환촉진" class="img-responsive">
								</div>
							</li>
						</ul>
						<div class="injection-point nth-6 type-another">
							<p class="injection-point__point">CLEAN SKIN POINT</p>
							<p class="injection-point__txt">
								21세기 증후군이라고 불리는 부신프로증후군,<br>
								해결책은 <span class="color-stress1">마그네슘과 비타민 B5</span>입니다.
							</p>
						</div>
					</div><!--//injection-box -->
					<!-- 뼈 튼튼 주사 -->
					<div class="injection__box">
						<h3 class="injection__tit">
							<span class="color-stress1">07.</span> 뼈 튼튼 주사
						</h3>
						<p class="injection__txt">
							비타민D3이 20만IU인 주사제를 통해 비타민D를 얻게 되면, 골밀도 증가, 근골격계 통증감소, 전립선, 대장<br>
							유방, 난소 등에서의 암 예방 효과를 얻을 수 있습니다.
						</p>
						<div class="injection-point nth-7">
							<p class="injection-point__point">CLEAN SKIN POINT</p>
							<p class="injection-point__txt">
								<span class="color-stress1">골밀도 증가에 핵심적인 역할</span>을 하는 비타민D,<br>
								주사를 통해 간단히 얻을 수있습니다.
							</p>
						</div>
					</div><!--//injection-box -->
				</div>
			</div><!-- //stress-box3 -->
			<div class="stress-box4 box-style1">
				<p class="stress-box4__eng">
					BANOBAGI STRESS OUT PROGRAM
				</p>
				<h3 class="stress-box4__tit tit-v1 type-bar">다양한 비타민 제품</h3>
				<p class="stress-box4__subtit subtit-v1">
					먹는 비타민으로도 스트레스를 치유할 수 있습니다.
				</p>
				<p class="stress-box4__txt txt-v1">
					세포노화의 동맥경화, 심근경색, 협심증 등 순환기 계통의 질환을 일으키는 활성산소,<br class="hidden-tm">
					항산화 비타민의 섭취로 이러한 증상을 효과적으로 예방할 수 있습니다.
				</p>
				<div class="img-list1 type-lifting">
					<ul class="img-list1__list">
						<li class="img-list1__item nth-1">
							<div class="img-list1__box">
								<div class="img-list1__wrap">
									<h4 class="img-list1__tit">종합비타민</h4>
									<p class="img-list1__txt txt-v1">
										고용량의 종합비타민으로 비타민 B, C, D, 마그네슘, 아연,셀레늄, 크롬 등이 있습니다.
										비만치료 시 부족한 영양을 보충해 줄 수 있는 제품입니다.
									</p>
								</div>
							</div>
						</li>
						<li class="img-list1__item nth-2">
							<div class="img-list1__box">
								<div class="img-list1__wrap">
									<h4 class="img-list1__tit">비타민C</h4>
									<p class="img-list1__txt txt-v1">
										콜라겐 합성과 콜레스테롤 대사에 관여하며 항산화 및 뇌기능에 필수적인 물질입니다.
										비타민C가 부족해지면 체내 콜라겐이 부족해져 힘줄이나 피부가 약해지고 탄력이
										떨어지는 증상이 나타나며 정상상태에서는 4~12g, 감기는 8g 이상 섭취를 권장합니다.
									</p>
								</div>
							</div>
						</li>
						<li class="img-list1__item nth-3">
							<div class="img-list1__box">
								<div class="img-list1__wrap">
									<h4 class="img-list1__tit">비타민D</h4>
									<p class="img-list1__txt txt-v1">
										비타민D는 뼈를 형성하고 유지하는데 필요한 물질입니다.   비타민D가 부족할 경우 뼈의골화가
										약해져 엉덩이, 척추 등이 골절되기 쉬우며 칼슘의 흡수도 저하되어 저칼슘 혈증이 동반됩니다.
										기름진 생선 이외에 비타민D 함량이 높은 식품은 그리 많지 않기 때문에 섭취할 수 있는 제품이
										유용합니다.
									</p>
								</div>
							</div>
						</li>
						<li class="img-list1__item nth-4">
							<div class="img-list1__box">
								<div class="img-list1__wrap">
									<h4 class="img-list1__tit">오메가3 지방산</h4>
									<p class="img-list1__txt txt-v1">
										불포화지방산의 일종으로 신경세포막과 망막에 분포하며, 세포막에서 전기적 자극을 빠른
										속도로 다음 세포에 전달하는 역할을 합니다. 결핍되면 우울증, 조현증, 시력저하 등이
										발생할 수 있으며 스트레스를 가중시킬 수 있는 것으로 알려져 있습니다.
									</p>
								</div>
							</div>
						</li>
						<li class="img-list1__item nth-5">
							<div class="img-list1__box">
								<div class="img-list1__wrap">
									<h4 class="img-list1__tit">코엔자임 Q10</h4>
									<p class="img-list1__txt txt-v1">
										코큐텐으로도 불리며 에너지를 생산하는 Kreb cycle의 마지막 전달단계에서 항산화 작용을
										발휘하면서 ATP를 생성시킨다는 것이 입증된 물질입니다. 질병, 스트레스와 환경 오염,
										나이가 증가함에 따라 체내 조직의 코엔자임 Q10의 보유수준은 감소하므로 지속적인 섭취가
										필요합니다.
									</p>
								</div>
							</div>
						</li>
						<li class="img-list1__item nth-6">
							<div class="img-list1__box">
								<div class="img-list1__wrap">
									<h4 class="img-list1__tit">유산균</h4>
									<p class="img-list1__txt txt-v1">
										유산균은 장 건강 이외에도 아토피, 류머티스 관절염 등 면역질환에도 큰 도움을 줍니다.
										영양소를 섭취할 때 중요한 역할을 하며 유제품으로 섭취할 수도 있지만 다양한 종류의
										유산균을 혼합한 형태로 일반 요거트에 비해 100배 정도 많은 유산균을 포함한 기능성
										제품으로 섭취하는 것이 효과적입니다.
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div><!-- //img-list1-->
			</div>
			<!-- //stress-box4-->
		</div>
		<% include ../_include/_bfaf %>
	</div>
</div><!-- //container -->
<% include ../_include/_footer %>
