<%
	type = "content"
	page = "medical"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="container__wrap">
		<div class="content-visual type-wedding">
			<div class="content-visual__box type-left">
				<div class="content-visual__wrap">
					<h2 class="content-visual__tit">
						한 번뿐인 소중하고 아름다운 그날을 위해
						<span class="content-visual__tit-point">웨딩<span class="inline-block"> D-day</span><br class="hidden-p"> 프로그램</span>
					</h2>
					<p class="content-visual__txt1">
						전문적인 피부케어로 화사한 아름다움을 선사해 드립니다.
					</p>
					<p class="content-visual__point">POINT</p>
					<p class="content-visual__txt2">
						바노바기 웨딩 D-day 프로그램은 기간별 맞춤 프로그램을
						진행하여 최고의 서비스와 만족을 제공해 드립니다.
					</p>
				</div>
			</div>
			<div class="content-visual__box type-right">
				<div class="content-visual__img">웨딩 이미지</div>
			</div>
		</div>
		<!-- //content-visual-->
		<div class="content-seciton">
			<div class="wedding-box1">
				<div class="content-top type-wedding">
					<p class="content-top__subtit subtit-v1">결혼을 앞둔 예비 신랑, 신부를 위한</span></p>
					<h2 class="content-top__tit tit-v1">바노바기 웨딩 D-day 프로그램</span></h2>
					<p class="content-top__txt txt-v1">
						결혼을 앞둔 예비 신랑, 신부를 위해 전문적인 치료와 케어로 최고의<br class="hidden-m">
						서비스와 만족을 제공해 드리는 바노바기 웨딩 프로그램 입니다.
					</p>
				</div>
				<!-- //content-top-->
				<div class="wedding-box1__box">
					<ul class="wedding-box1__list">
						<li class="wedding-box1__item">
							<div class="vertical">
								전문적인
								웨딩케어
							</div>
						</li><!-- //wedding-box1__item-->
						<li class="wedding-box1__item">
							<div class="vertical">
								신형 장비를 통한
								간편 기기 시술
							</div>
						</li><!-- //wedding-box1__item-->
						<li class="wedding-box1__item">
							<div class="vertical">
								빠르고 안전한
								레이저 시술
							</div>
						</li><!-- //wedding-box1__item-->
						<li class="wedding-box1__item">
							<div class="vertical">
								기간별
								<span class="inline-block">맞춤 솔루션</span>
							</div>
						</li><!-- //wedding-box1__item-->
					</ul>
				</div><!-- //wedding-box1__box -->
			</div>
			<div class="wedding-box2 box-style1">
				<h2 class="wedding-box2__tit tit-v1">웨딩 D-day 프로그램 <span class="color-wedding1 inline-block">기간별 맞춤 솔루션</span></h2>
				<p class="wedding-box2__txt txt-v1">뷰티포인트를 살려주는 효과적인 피부관리로 만족감을 높여드립니다.</p>
				<ul class="wedding-box2__list">
					<li class="wedding-box2__item nth-1">
						<div class="vertical">
							웨딩 D-day
							<span class="inline-block">30일 프로그램</span>
						</div>
					</li>
					<li class="wedding-box2__item nth-2">
						<div class="vertical">
							웨딩 D-day
							<span class="inline-block">60일 프로그램</span>
						</div>
					</li>
					<li class="wedding-box2__item nth-3">
						<div class="vertical">
							웨딩 D-day
							<span class="inline-block">90일 프로그램</span>
						</div>
					</li>
				</ul>
			</div><!-- //wedding-box2 -->
			<div class="wedding-box3 box-style1">
				<h2 class="wedding-box3__tit tit-v1">
					바노바기 웨딩 D-day 프로그램의
					<span class="inline-block color-wedding1">뷰티포인트</span>
				</h2>
				<p class="wedding-box3__txt txt-v1">
					눈부신 조명 아래 모두의 주목을 받는 날. 바노바기는 바쁜 결혼 준비로 거칠어지고 칙칙해진 피부를 가꾸고
					<br class="hidden-tm">얼굴의 처진 살, 이중 턱 등을 정리하여, <span class="color-normal">촉촉하고 화사한 피부와 매끄럽고 러블리한 라인을 만들어 드립니다.</span>
				</p>
				<div class="wedding-box3__box">
					<h3 class="wedding-box3__subject">바노바기 피부과 <span class="color-wedding1">웨딩 케어</span> 프로그램</h3>
					<div class="wedding-box3__list">
						<a href="normal" class="wedding-box3__item js-quick-link" data-tab="normal">
							<span class="vertical txt-v1">
								일반웨딩케어
							</span>
						</a>
						<a href="premium" class="wedding-box3__item js-quick-link" data-tab="premium">
							<span class="vertical txt-v1">
								프리미엄 웨딩케어
							</span>
						</a>
						<a href="full" class="wedding-box3__item js-quick-link" data-tab="full">
							<span class="vertical txt-v1">
								풀코스 웨딩케어
							</span>
						</a>
					</div>
				</div>
			</div>
			<!-- //wedding-box3-->
			<div class="content-step">
				<!-- 일반 -->
				<div class="content-step__box normal">
					<h2 class="content-step__tit"><span class="color-wedding1">일반</span> 웨딩케어 STEP</h2>
					<p class="content-step__txt">체계적인 보습 관리를 통해, 촉촉한 수분감이 느껴지는 맑고 투명한 이미지를 만들어 드립니다.</p>
					<ul class="content-step__list">
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/medical/wedding/normal_step1.jpg" alt="step1 - 클렌징" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 01</h3>
									<p class="txt-v2">클렌징</p>
								</div>
							</div>
						</li>
						<!-- //wedding-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/medical/wedding/normal_step2.jpg" alt="step2 - 각질정리" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 02</h3>
									<p class="txt-v2">각질정리</p>
								</div>
							</div>
						</li>
						<!-- //wedding-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/medical/wedding/normal_step3.jpg" alt="step3 - 1차 수분 마스크" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 03</h3>
									<p class="txt-v2">1차 수분 마스크</p>
								</div>
							</div>
						</li>
						<!-- //wedding-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/medical/wedding/normal_step4.jpg" alt="step4 - 크라이오셀 기기관리" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 04</h3>
									<p class="txt-v2">크라이오셀 기기관리</p>
								</div>
							</div>
						</li>
						<!-- //wedding-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/medical/wedding/normal_step5.jpg" alt="step5 - 벨벳 마스크" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 05</h3>
									<p class="txt-v2">벨벳 마스크</p>
								</div>
							</div>
						</li>
						<!-- //wedding-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/medical/wedding/normal_step6.jpg" alt="step6 - 피부재생 레이저" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 06</h3>
									<p class="txt-v2">피부재생 레이저</p>
								</div>
							</div>
						</li>
						<!-- //wedding-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/medical/wedding/normal_step7.jpg" alt="step7 - 마무리 관리" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 07</h3>
									<p class="txt-v2">마무리 관리</p>
								</div>
							</div>
						</li>
						<!-- //wedding-step__item -->
					</ul>
				</div>
				<!-- //wedding-step__box -->
				<!-- 프리미엄 -->
				<div class="content-step__box premium">
					<h2 class="content-step__tit"><span class="color-wedding1">프리미엄</span> 웨딩케어 STEP</h2>
					<p class="content-step__txt">기미, 잡티 등의 색소질환을 말끔하게 씻어내는 미백관리를 통해 깨끗하고 화사한 피부로 개선합니다.</p>
					<ul class="content-step__list">
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/medical/wedding/premium_step1.jpg" alt="step1 - 클렌징" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 01</h3>
									<p class="txt-v2">클렌징</p>
								</div>
							</div>
						</li>
						<!-- //wedding-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/medical/wedding/premium_step2.jpg" alt="step2 - 각질 정리" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 02</h3>
									<p class="txt-v2">각질 정리</p>
								</div>
							</div>
						</li>
						<!-- //wedding-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/medical/wedding/premium_step3.jpg" alt="step3 - 1차 수분 마스크" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 03</h3>
									<p class="txt-v2">1차 수분 마스크</p>
								</div>
							</div>
						</li>
						<!-- //wedding-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/medical/wedding/premium_step4.jpg" alt="step4 - 바이탈이온트 기기관리" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 04</h3>
									<p class="txt-v2">바이탈이온트 기기관리</p>
								</div>
							</div>
						</li>
						<!-- //wedding-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/medical/wedding/premium_step5.jpg" alt="step5 - 이온자임 기기관리" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 05</h3>
									<p class="txt-v2">이온자임 기기관리</p>
								</div>
							</div>
						</li>
						<!-- //wedding-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/medical/wedding/premium_step6.jpg" alt="step6 - 벨벳 마스크" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 06</h3>
									<p class="txt-v2">벨벳 마스크</p>
								</div>
							</div>
						</li>
						<!-- //wedding-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/medical/wedding/premium_step7.jpg" alt="step7 - 피부재생 레이저" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 07</h3>
									<p class="txt-v2">피부재생 레이저</p>
								</div>
							</div>
						</li>
						<!-- //wedding-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/medical/wedding/premium_step8.jpg" alt="step8 - 마무리관리" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 08</h3>
									<p class="txt-v2">마무리관리</p>
								</div>
							</div>
						</li>
						<!-- //wedding-step__item -->
					</ul>
				</div>
				<!-- //wedding-step__box -->
				<!-- 풀코스 -->
				<div class="content-step__box full">
					<h2 class="content-step__tit"><span class="color-wedding1">풀코스</span> 웨딩케어 STEP</h2>
					<p class="content-step__txt">기미, 잡티 등의 색소질환을 말끔하게 씻어내는 미백관리를 통해 깨끗하고 화사한 피부로 개선합니다.</p>
					<ul class="content-step__list">
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/medical/wedding/full_step1.jpg" alt="step1 - 클렌징" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 01</h3>
									<p class="txt-v2">클렌징</p>
								</div>
							</div>
						</li>
						<!-- //wedding-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/medical/wedding/full_step2.jpg" alt="step2 - 각질 정리" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 02</h3>
									<p class="txt-v2">각질 정리</p>
								</div>
							</div>
						</li>
						<!-- //wedding-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/medical/wedding/full_step3.jpg" alt="step3 - 아가로필링 (코)" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 03</h3>
									<p class="txt-v2">아가로필링 (코)</p>
								</div>
							</div>
						</li>
						<!-- //wedding-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/medical/wedding/full_step4.jpg" alt="step4 - 바이탈이온트 기기관리" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 04</h3>
									<p class="txt-v2">바이탈이온트 기기관리</p>
								</div>
							</div>
						</li>
						<!-- //wedding-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/medical/wedding/full_step5.jpg" alt="step5 - 이온자임 기기관리" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 05</h3>
									<p class="txt-v2">이온자임 기기관리</p>
								</div>
							</div>
						</li>
						<!-- //wedding-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/medical/wedding/full_step6.jpg" alt="step6 - 크라이오셀 기기관리" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 06</h3>
									<p class="txt-v2">크라이오셀 기기관리</p>
								</div>
							</div>
						</li>
						<!-- //wedding-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/medical/wedding/full_step7.jpg" alt="step7 - 벨벳 마스크" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 07</h3>
									<p class="txt-v2">벨벳 마스크</p>
								</div>
							</div>
						</li>
						<!-- //wedding-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/medical/wedding/full_step8.jpg" alt="step8 - 피부재생 레이저" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 08</h3>
									<p class="txt-v2">피부재생 레이저</p>
								</div>
							</div>
						</li>
						<!-- //wedding-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/medical/wedding/full_step9.jpg" alt="step9 - 마무리 관리" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 09</h3>
									<p class="txt-v2">마무리 관리</p>
								</div>
							</div>
						</li>
						<!-- //wedding-step__item -->
					</ul>
				</div>
				<!-- //wedding-step__box -->
			</div>
			<!-- //wedding-box4-->
			<div class="equipment box-style1 type-pb0">
				<h2 class="equipment__tit tit-v1">웨딩 D-day 프로그램 <span class="color-wedding1">주요장비</span></h2>
				<p class="equipment__txt txt-v1">촉촉하고 화사한 피부와 매끄럽고 <span class="inline-block">러블리한 페이스 라인을 만들어 드립니다.</span></p>
				<ul class="equipment__list">
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<img src="../../images/medical/wedding/wedding_pro1.jpg" alt="크라이오셀 장비" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">크라이오셀</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<img src="../../images/medical/wedding/wedding_pro2.jpg" alt="바이탈이온트" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">바이탈이온트</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<img src="../../images/medical/wedding/wedding_pro3.jpg" alt="이온자임" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">이온자임</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<img src="../../images/medical/wedding/wedding_pro4.jpg" alt="아가로필링" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">아가로필링</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div><!-- //content-seciton-->
		<% include ../_include/_bfaf %>
	</div>
</div><!-- //continer -->
<% include ../_include/_footer %>
