<!-- //section끝 -->
<!--footer시작-->
		<div class="footer">
			<div class="footer__noti">
				<span class="footer__noti-icon">수술 후 출혈, 감염, 염증 등의 합병증이 있을 수 있으며 주관적인 만족도는 개인마다 차이가 있을 수 있으므로 의사와 상의하시기 바랍니다.</span>
			</div>
			<div class="footer__wrap">
				<img src="../../images/common/logo_bottom.png" alt="바노바기 피부과의원" class="footer__logo-p">
				<img src="../../images/common/logo_bottom_m.png" alt="바노바기 피부과의원" class="footer__logo-m">
				<ul class="address">
					<li class="address__item">서울특별시 강남구 논현로 523 4층</li>
					<li class="address__item">CS CENTER <a href="tel:1588-6508" class="address__link">02 - 3288 - 3322</a></li>
					<li class="address__item">FAX 02-561-1755</li>
				</ul>
				<ul class="address">
					<li class="address__item">바노바기피부과의원 반재용 132-36-00311</li>
				</ul>
				<p class="copyright">Copyright © 2017 SKIN BANOBAGI ALL RIGHTS RESERVED.</p>
				<ul class="sns">
					<li class="sns__item"><a href="https://www.facebook.com/banobagiskin" target="_blank" class="sns__link"><i class="fa fa-facebook"></i></a></li>
					<li class="sns__item"><a href="https://blog.naver.com/botox50" target="_blank" class="sns__link type-blog"><img src="https://www.banobagi.com/img/common/blog.png" alt="블로그"></a></li>
					<!-- <li class="sns__item"><a href="https://www.instagram.com/banobagi15886508/" target="_blank" class="sns__link"><i class="fa fa-instagram"></i></a></li> -->
					<!-- <li class="sns__item"><a href="https://www.youtube.com/c/banobagips" target="_blank" class="sns__link"><i class="fa fa-youtube-play"></i></a></li> -->
				</ul>
				<ul class="footer-info">
					<li class="footer-info__item"><a class="footer-info__link" href="../etc/etc1.html">개인정보 취급방침</a></li>
					<li class="footer-info__item"><a class="footer-info__link" href="../etc/etc2.html">이용약관</a></li>
					<li class="footer-info__item"><a href="" class="footer-info__link">사이트맵</a></li>
				</ul>
			</div>
		</div>
	</div><!--// common-->
	<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.touchSwipe.js"></script>
	<script type="text/javascript" src="../../js/libs/owl.carousel.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.validate.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.mCustomScrollbar.js"></script>
	<script type="text/javascript" src="../../js/libs/slick.js"></script>
	<script type="text/javascript" src="../../js/common.js"></script>
	<!-- //공톹 js -->
	<% if (type == "content") { %>
		<script type="text/javascript" src="../../js/content.js"></script>
	<% }else if(type == "introduce"){ %>
		<script type="text/javascript" src="../../js/libs/TweenMax.min.js"></script>
		<script type="text/javascript" src="../../js/introduce.js"></script>
	<% }else if(type == "search"){ %>
		<script type="text/javascript" src="../../js/search.js"></script>
	<% }else if(type == "detail"){ %>
		<script type="text/javascript" src="../../js/libs/TweenMax.min.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.scrollify.js"></script>
		<script type="text/javascript" src="../../js/common_one.js"></script>
	<% }else if(type == "membership"){ %>
		<script type="text/javascript" src="../../js/membership.js"></script>
	<% } %>
	<% if (page == "main") { %>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm-4rzbyVatCfOJYLE7BPFApH0WagkKsA&callback=initMap" async defer></script>
		<script type="text/javascript" src="../../js/map.js"></script><!-- main js -->
		<script type="text/javascript" src="../../js/libs/typed.js"></script>
		<script type="text/javascript" src="../../js/photo.js"></script>
		<script type="text/javascript" src="../../js/main.js"></script><!-- main js -->
	<% }else if(page == "photo"){ %>
		<script type="text/javascript" src="../../js/photo.js"></script>
	<% }else if(page == "epilogue"){ %>
		<script type="text/javascript" src="../../js/epilogue.js"></script>
	<% }else if(page == "location"){ %>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm-4rzbyVatCfOJYLE7BPFApH0WagkKsA" async defer></script>
		<script type="text/javascript" src="../../js/map.js"></script><!-- main js -->
	<% }else if(page == "philosophy"){ %>
		<script type="text/javascript" src="../../js/libs/jquery.scrollify.js"></script>
		<script type="text/javascript" src="../../js/common_one.js"></script><!-- onepage js -->
	<% }else if(page == "program"){ %>
		<script type="text/javascript" src="../../js/program.js"></script>
	<% } %>

</body>
</html>
<!--footer끝-->
