<%
	var data = jsonData
%>
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<meta property="og:type" content="website">
<meta property="og:title" content="바노바기 피부과">
<meta property="og:description" content="">
<meta property="og:url" content="">
<title><%= data.site.name.kor %></title>
<!-- 공통 css -->
<link rel="stylesheet" href="../../css/libs/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="../../css/libs/font-awesome.min.css">
<link rel="stylesheet" href="../../css/libs/owl.carousel.css">
<link rel="stylesheet" href="../../css/libs/slick.css">
<link rel="stylesheet" href="../../css/libs/slick-theme.css">
<!-- <link rel="stylesheet" href="../../css/common.css"> -->
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/gnb.css">
<link rel="stylesheet" href="../../css/popup.css">
<link rel="stylesheet" href="../../css/login.css"><!-- //공통 css -->
<% if (type == "content") { %>
	<link rel="stylesheet" href="../../css/content_common.css">
<% }else if(type == "detail"){ %>
	<link rel="stylesheet" href="../../css/onepage_common.css">
<% }else if(type == "review"){ %>
	<link rel="stylesheet" href="../../css/review.css">
<% }else if(type == "introduce"){ %>
	<link rel="stylesheet" href="../../css/onepage_common.css">
	<link rel="stylesheet" href="../../css/introduce.css">
<% }else if(type == "search"){ %>
	<link rel="stylesheet" href="../../css/search.css">
<% }else if(type == "membership"){ %>
	<link rel="stylesheet" href="../../css/membership.css">
<% }else if(type == "sitemap"){ %>
	<link rel="stylesheet" href="../../css/sitemap.css">
<% } %>
<% if (page == "main") { %>
	<link rel="stylesheet" href="../../css/main.css"><!-- main css -->
<% }else if(page == "only"){ %>
	<link rel="stylesheet" href="../../css/only.css">
<% }else if(page == "medical"){ %>
	<link rel="stylesheet" href="../../css/medical.css">
<% }else if(page == "heal"){ %>
	<link rel="stylesheet" href="../../css/heal.css">
<% }else if(page == "contour"){ %>
	<link rel="stylesheet" href="../../css/contour.css">
<% }else if(page == "whitening"){ %>
	<link rel="stylesheet" href="../../css/whitening.css">
<% }else if(page == "pore"){ %>
	<link rel="stylesheet" href="../../css/pore.css">
<% }else if(page == "program"){ %>
	<link rel="stylesheet" href="../../css/program.css">
<% } %>
<link rel="icon" href="../../images/common/favicon.ico">
<!-- 공통 js -->

</head>
<body>
	<h1 class="hidden-tit">바노바기피부과</h1>
	<div class="common">
		<% include ../_include/_popup %>
		<!-- gnb-->
	<% if (page == "main") { %>
		<div class="header type-main">
	<% }else{ %>
		<div class="header">
	<% } %>
			<div class="mobile-menu"><!-- 모바일 햄버거 -->
				<a href="#" class="mobile-menu__wrap">
					<span class="mobile-menu__line"></span>
				</a>
			</div>
			<div class="header__bg">모바일 헤더 배경</div><!-- 모바일 헤더부분 bg -->
			<a href="" class="m-search__close js-search-close">닫기</a><!-- 모바일 검색창 닫기 -->
			<div class="m-gnb">
				<!-- <div class="national-gnb">
					<ul class="national-gnb__list">
						<li class="national-gnb__item nth-4">
							<a href="http://www.engbanobagi.com" class="national-gnb__link">EN</a>
						</li>
						<li class="national-gnb__item nth-1">
							<a href="https://www.banobagi.com" target="_blank" class="national-gnb__link">KOR</a>
						</li>
						<li class="national-gnb__item nth-2">
							<a href="http://www.chinabanobagi.com" target="_blank" class="national-gnb__link">CN</a>
						</li>
						<li class="national-gnb__item nth-5">
							<a href="http://www.vnbanobagi.com" target="_blank" class="national-gnb__link">VN</a>
						</li>
					</ul>
				</div> -->
				<div class="m-menu">
					<div class="m-1depth">
						<div class="m-1depth__wrap">
							<ul class="m-1depth__list">
								<li class="m-1depth__item nth-1 is-active"><a href="#" class="m-1depth__link" data-tab="only"><span class="m-1depth__icon">올인원시리즈</span></a></li>
								<li class="m-1depth__item nth-2"><a href="#" class="m-1depth__link" data-tab="heal"><span class="m-1depth__icon">힐에이징</span></a></li>
								<li class="m-1depth__item nth-3"><a href="#" class="m-1depth__link" data-tab="contour"><span class="m-1depth__icon">윤곽교정</span></a></li>
								<li class="m-1depth__item nth-4"><a href="#" class="m-1depth__link" data-tab="pore"><span class="m-1depth__icon">모공탄력</span></a></li>
								<li class="m-1depth__item nth-5"><a href="#" class="m-1depth__link" data-tab="white"><span class="m-1depth__icon">미백/브라이트닝</span></a></li>
								<li class="m-1depth__item nth-6"><a href="#" class="m-1depth__link" data-tab="medical"><span class="m-1depth__icon">메디컬 스킨케어</span></a></li>
								<li class="m-1depth__item nth-7"><a href="#" class="m-1depth__link" data-tab="bnbg"><span class="m-1depth__icon">바노바기</span></a></li>
								<li class="m-1depth__item nth-8"><a href="#" class="m-1depth__link" data-tab="review"><span class="m-1depth__icon">Review</span></a></li>
								<li class="m-1depth__item nth-9"><a href="#" class="m-1depth__link" data-tab="mypage"><span class="m-1depth__icon">마이페이지</span></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="m-2depth">
						<ul class="m-2depth__list only">
							<li class="m-2depth__item"><a href="../only/only_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">올인원시리즈 디테일</span></a></li>
						</ul>
						<ul class="m-2depth__list heal">
							<li class="m-2depth__item"><a href="../heal/heal_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">힐에이징 프로그램 디테일</span></a></li>
							<li class="m-2depth__item"><a href="../heal/ulthermage.html" class="m-2depth__link"><span class="m-2depth__wrap">울써마지 PRP </span></a></li>
							<li class="m-2depth__item"><a href="../heal/ulthera.html" class="m-2depth__link"><span class="m-2depth__wrap">울쎄라 Pro</span></a></li>
							<li class="m-2depth__item"><a href="../heal/thermage.html" class="m-2depth__link"><span class="m-2depth__wrap">써마지 FLX 탄력관리</span></a></li>
							<li class="m-2depth__item"><a href="../heal/necklift.html" class="m-2depth__link"><span class="m-2depth__wrap">목주름 리프팅</span></a></li>
							<li class="m-2depth__item"><a href="../heal/baby.html" class="m-2depth__link"><span class="m-2depth__wrap">베이비 페이스 테라피</span></a></li>
						</ul>
						<ul class="m-2depth__list contour">
							<li class="m-2depth__item"><a href="../contour/contour_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">윤곽교정 프로그램 디테일</span></a></li>
							<li class="m-2depth__item"><a href="../contour/lifting.html" class="m-2depth__link"><span class="m-2depth__wrap">올인원 리프팅</span></a></li>
							<li class="m-2depth__item"><a href="../contour/indian.html" class="m-2depth__link"><span class="m-2depth__wrap">인디언주름 필러</span></a></li>
							<li class="m-2depth__item"><a href="../contour/filler.html" class="m-2depth__link"><span class="m-2depth__wrap">이미지필러</span></a></li>
							<li class="m-2depth__item"><a href="../contour/cute.html" class="m-2depth__link"><span class="m-2depth__wrap">애교필러</span></a></li>
						</ul>
						<ul class="m-2depth__list pore">
							<li class="m-2depth__item"><a href="../pore/pore_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">모공탄력 프로그램 디테일</span></a></li>
							<li class="m-2depth__item"><a href="../pore/allpore.html" class="m-2depth__link"><span class="m-2depth__wrap">올인원 올모공</span></a></li>
							<li class="m-2depth__item"><a href="../pore/scar.html" class="m-2depth__link"><span class="m-2depth__wrap">굿바이 스카</span></a></li>
							<li class="m-2depth__item"><a href="../pore/acne.html" class="m-2depth__link"><span class="m-2depth__wrap">성인여드름 퀵테라피</span></a></li>
						</ul>
						<ul class="m-2depth__list white">
							<li class="m-2depth__item"><a href="../whitening/whitening_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">미백/브라이트닝 프로그램 디테일</span></a></li>
							<li class="m-2depth__item"><a href="../whitening/therapy.html" class="m-2depth__link"><span class="m-2depth__wrap">올인원 테라피</span></a></li>
							<li class="m-2depth__item"><a href="../whitening/toning.html" class="m-2depth__link"><span class="m-2depth__wrap">올인원 토닝</span></a></li>
							<li class="m-2depth__item"><a href="../whitening/luminance.html" class="m-2depth__link"><span class="m-2depth__wrap">광채토닝</span></a></li>
							<li class="m-2depth__item"><a href="../whitening/water.html" class="m-2depth__link"><span class="m-2depth__wrap">물광치료 시스템</span></a></li>
						</ul>
						<ul class="m-2depth__list medical">
							<li class="m-2depth__item"><a href="../medical/medical_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">메디컬스킨케어 디테일</span></a></li>
							<li class="m-2depth__item"><a href="../medical/wedding.html" class="m-2depth__link"><span class="m-2depth__wrap">웨딩 D-day</span></a></li>
							<li class="m-2depth__item"><a href="../medical/stress.html" class="m-2depth__link"><span class="m-2depth__wrap">스트레스 OUT</span></a></li>
						</ul>
						<ul class="m-2depth__list bnbg">
							<li class="m-2depth__item"><a href="../introduce/philosophy.html" class="m-2depth__link"><span class="m-2depth__wrap">진료철학</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/introduce_medical.html" class="m-2depth__link"><span class="m-2depth__wrap">의료진 소개</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/academic_list.html" class="m-2depth__link"><span class="m-2depth__wrap">학술교류</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/introduce_map.html" class="m-2depth__link"><span class="m-2depth__wrap">진료안내/오시는길</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/gear.html" class="m-2depth__link"><span class="m-2depth__wrap">보유 장비 소개</span></a></li>
							<li class="m-2depth__item type-3depth">
								<a href="" class="m-2depth__link"><span class="m-2depth__wrap">바노바기 in 미디어</span></a>
								<ul class="m-3depth__list">
									<li class="m-3depth__item"><a href="../introduce/news_list.html" class="m-3depth__link">News</a></li>
									<li class="m-3depth__item"><a href="../introduce/media.html" class="m-3depth__link">영상</a></li>
								</ul>
							</li>
							<li class="m-2depth__item"><a href="../program/program_list.html" class="m-2depth__link"><span class="m-2depth__wrap">추천 프로그램</span></a></li>
						</ul>
						<ul class="m-2depth__list review">
							<li class="m-2depth__item"><a href="../review/photo_gallery.html" class="m-2depth__link"><span class="m-2depth__wrap">포토갤러리</span></a></li>
							<li class="m-2depth__item"><a href="../review/epilogue_list.html" class="m-2depth__link"><span class="m-2depth__wrap">톡툭튀는 리얼후기</span></a></li>
						</ul>
						<ul class="m-2depth__list mypage">
							<li class="m-2depth__item type-logout"><a href="" class="m-2depth__link"><span class="m-2depth__wrap">로그아웃</span></a></li>
						</ul>
					</div>
				</div><!-- //m-menu-->
			</div><!-- //m-gnb-->
			<div class="m-search">
				<div class="m-search__inner">
					<div class="search_container">
						<form id="seearchForm2" name="seearchForm2" class="form-inline" method="post" action="http://renewal.engbanobagi.com/searchResult.html">
							<div class="m-search__box">
								<div class="m-search__group">
									<label class="sr-only" for="keyword2">Search</label>
									<input type="text" class="m-search__input" name="keyword" id="keyword2" autocomplete="off" placeholder="Search" required>
								</div>
								<button type="submit" class="m-search__btn"></button>
							</div> <!-- //searchGroup -->
						</form>
						<div class="keyword-box2">
							<ul class="keyword-tab2">
								<li class="keyword-tab2__item is-active nth-1 js-keyord-link" data-tab="popular">인기검색어</li>
								<li class="keyword-tab2__item nth-2 js-keyord-link" data-tab="recommended">추천검색어</li>
							</ul>
							<ul class="keyword-box2__list is-active popular">
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link first" href="#"><span class="keyword-box2__num">1</span>렛미인성형외과</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="#"><span class="keyword-box2__num">2</span>셀카리얼후기</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="#"><span class="keyword-box2__num">3</span>눈성형</a></li>
									</ul>
								</li>
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="#"><span class="keyword-box2__num">1</span>렛미인성형외과</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="#"><span class="keyword-box2__num">2</span>셀카리얼후기</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="#"><span class="keyword-box2__num">3</span>눈성형</a></li>
									</ul>
								</li>
							</ul>
							<ul class="keyword-box2__list recommended">
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="#"><em class="keyword-box2__icon">#</em>눈성형 디테일</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="#"><em class="keyword-box2__icon">#</em>모티바 재수술</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="#"><em class="keyword-box2__icon">#</em>1year 안면윤곽 컨설팅</a></li>
									</ul>
								</li>
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="#"><em class="keyword-box2__icon">#</em>눈성형 디테일</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="#"><em class="keyword-box2__icon">#</em>모티바 재수술</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="#"><em class="keyword-box2__icon">#</em>1year 안면윤곽 컨설팅</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="search-info">
							<div class="search-info__wrap">
								<div class="search-info__group">
									<div class="search-info__box">
										<h2 class="search-info__tit">진료안내</h2>
										<ul class="search-info__list">
											<li class="search-info__item">
												<span class="search-info__txt">평&nbsp;&nbsp;&nbsp;일</span>
												<span class="search-info__txt type-m">AM10:00 ~ PM06:30</span>
												<span class="search-info__txt type-t">10:00 ~ 18:30</span>
											</li>
											<li class="search-info__item">
												<span class="search-info__txt">금요일</span>
												<span class="search-info__txt type-m">AM10:00 ~ PM08:00</span>
												<span class="search-info__txt type-t">10:00 ~ 20:00</span>
												<span class="search-info__txt type-night">야간진료</span>
											</li>
											<li class="search-info__item">
												<span class="search-info__txt">토요일</span>
												<span class="search-info__txt type-m">AM10:00 ~ PM04:00</span>
												<span class="search-info__txt type-t">10:00 ~ 16:00</span>
											</li>
										</ul>
									</div>
									<div class="search-info__box">
										<h2 class="search-info__tit">고객상담전화</h2>
										<ul class="search-info__list">
											<li class="search-info__item"><a class="search-info__link" href="tel:1588-6508">1588. 6508</a></li>
											<li class="search-info__item"><a class="search-info__link" href="tel:02-562-6001">02. 562. 6001</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="search-info__addr">
								<span>서울특별시 강남구 논현로 517 바노바기피부과</span>
								<em>.</em>
								<span>2호선 역삼역 6번 출구 직진 100m</span>
							</div>
						</div> <!-- //infoWrapper -->
					</div> <!-- //search_container -->
				</div>  <!-- //search_inner -->
			</div> <!-- //inner searchWrapper -->
			<div class="header__logo">
				<a href="/" class="header__logo-link">logo</a>
			</div>
			<div class="header__wrap">
				<div class="gnb">
					<h2 class="gnb__tit"><span>Main Menu</span></h2>
					<ul class="gnb__depth1-list">
						<!-- 전체메뉴 -->
						<li class="gnb__all">
							<span class="gnb__all-tit">All</span>
							<a href="#" class="gnb__all-wrap js-all-menu">
								<span class="gnb__all-line"></span>
							</a>
							<div class="gnb__depth2-wrap type-all">
								<div class="gnb__depth2-align">
									<div class="total__depth-scroll">
										<ul class="total__depth1-list">
											<li class="total__depth1-item">
												<a href="../only/only_detail.html" class="total__depth1-link">Only Banobagi 올인원 시리즈</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../only/only_detail.html" class="total__depth2-link">올인원시리즈 디테일</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../heal/heal_detail.html" class="total__depth1-link">힐 에이징 프로그램</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../heal/heal_detail.html" class="total__depth2-link">힐에이징 프로그램 디테일</a>
													</li>
													<li class="total__depth2-item">
														<a href="../heal/ulthermage.html" class="total__depth2-link">울써마지 PRP</a>
													</li>
													<li class="total__depth2-item">
														<a href="../heal/ulthera.html" class="total__depth2-link">울쎄라 pro</a>
													</li>
													<li class="total__depth2-item">
														<a href="../heal/thermage.html" class="total__depth2-link">써마지 FLX 탄력관리</a>
													</li>
													<li class="total__depth2-item">
														<a href="../heal/necklift.html" class="total__depth2-link">목주름 리프팅</a>
													</li>
													<li class="total__depth2-item">
														<a href="../heal/baby.html" class="total__depth2-link">베이비 페이스 테라피</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../heal/heal_detail.html" class="total__depth1-link">힐에이징 프로그램</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../heal/heal_detail.html" class="total__depth2-link">힐에이징 프로그램 디테일</a>
													</li>
													<li class="total__depth2-item">
														<a href="../heal/ulthermage.html" class="total__depth2-link">울써마지 PRP </a>
													</li>
													<li class="total__depth2-item">
														<a href="../heal/ulthera.html" class="total__depth2-link">울쎄라 Pro</a>
													</li>
													<li class="total__depth2-item">
														<a href="../heal/thermage.html" class="total__depth2-link">써마지 FLX 탄력관리</a>
													</li>
													<li class="total__depth2-item">
														<a href="../heal/necklift.html" class="total__depth2-link">목주름 리프팅</a>
													</li>
													<li class="total__depth2-item">
														<a href="../heal/baby.html" class="total__depth2-link">베이비 페이스 테라피</a>
													</li>
												</ul>
											</li>

											<li class="total__depth1-item">
												<a href="../contour/contour_detail.html" class="total__depth1-link">윤곽교정 프로그램</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../contour/contour_detail.html" class="total__depth2-link">윤곽교정 프로그램 디테일</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/lifting.html" class="total__depth2-link">올인원 리프팅</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/indian.html" class="total__depth2-link">인디언주름 필러</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/filler.html" class="total__depth2-link">이미지필러</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/cute.html" class="total__depth2-link">애교필러</a>
													</li>
												</ul>
											</li>

											<li class="total__depth1-item">
												<a href="" class="total__depth1-link">모공탄력 프로그램</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../pore/pore_detail.html" class="total__depth2-link">모공탄력 프로그램 디테일</a>
													</li>
													<li class="total__depth2-item">
														<a href="../pore/allpore.html" class="total__depth2-link">올인원 올모공</a>
													</li>
													<li class="total__depth2-item">
														<a href="../pore/scar.html" class="total__depth2-link">굿바이 스카</a>
													</li>
													<li class="total__depth2-item">
														<a href="../pore/acne.html" class="total__depth2-link">성인여드름 퀵테라피</a>
													</li>
												</ul>
											</li>
										</ul>

										<ul class="total__depth1-list">
											<li class="total__depth1-item">
												<a href="" class="total__depth1-link">미백/브라이트닝 프로그램</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../whitening/whitening_detail.html" class="total__depth2-link">미백/브라이트닝 프로그램 디테일</a>
													</li>
													<li class="total__depth2-item">
														<a href="../whitening/therapy.html" class="total__depth2-link">올인원 테라피</a>
													</li>
													<li class="total__depth2-item">
														<a href="../whitening/toning.html" class="total__depth2-link">올인원 토닝</a>
													</li>
													<li class="total__depth2-item">
														<a href="../whitening/luminance.html" class="total__depth2-link">광채토닝</a>
													</li>
													<li class="total__depth2-item">
														<a href="../whitening/water.html" class="total__depth2-link">물광치료 시스템</a>
													</li>
												</ul>
											</li>

											<li class="total__depth1-item">
												<a href="" class="total__depth1-link">메디컬 스킨케어</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../medical/medical_detail.html" class="total__depth2-link">메디컬스킨케어 디테일</a>
													</li>
													<li class="total__depth2-item">
														<a href="../medical/wedding.html" class="total__depth2-link">웨딩 D-day</a>
													</li>
													<li class="total__depth2-item">
														<a href="../medical/stress.html" class="total__depth2-link">스트레스 OUT</a>
													</li>
												</ul>
											</li>
										</ul>

									</div>
								</div>
							</div>
						</li>
						<!-- //전체메뉴 -->
						<li class="gnb__depth1-item">
							<a href="../only/only_detail.html" class="gnb__depth1-link type-1depth"><span class="gnb__depth1-point">point</span>Only Banobagi 올인원 시리즈</a>
						</li>
						<!-- //올인원 시리즈 -->

						<li class="gnb__depth1-item">
							<a href="../heal/heal_detail.html" class="gnb__depth1-link">힐 에이징 <span class="gnb__depth1-hidden">프로그램</span></a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img owl-carousel">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img gnb__mini-img owl-carousel">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_mini.jpg" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../heal/heal_detail.html" class="gnb__depth2-link">힐에이징 프로그램 디테일</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../heal/ulthermage.html" class="gnb__depth2-link">울써마지 PRP</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../heal/ulthera.html" class="gnb__depth2-link">울쎄라 Pro</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../heal/thermage.html" class="gnb__depth2-link">써마지 FLX 탄력관리</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../heal/necklift.html" class="gnb__depth2-link">목주름 리프팅</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../heal/baby.html" class="gnb__depth2-link">베이비 페이스 테라피</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //힐 에이징 프로그램 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">윤곽 교정 <span class="gnb__depth1-hidden">프로그램</span></a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img owl-carousel">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img gnb__mini-img owl-carousel">
											<a href="" target="_blank"><img src="" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_detail.html" class="gnb__depth2-link">윤곽교정 프로그램 디테일</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/lifting.html" class="gnb__depth2-link">올인원 리프팅</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/indian.html" class="gnb__depth2-link">인디언주름 필러</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/filler.html" class="gnb__depth2-link">이미지필러</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/cute.html" class="gnb__depth2-link">애교필러</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //윤곽 교정 프로그램 -->
						<li class="gnb__depth1-item">
							<a href="../pore/pore_detail.html" class="gnb__depth1-link">모공 탄력 <span class="gnb__depth1-hidden">프로그램</span></a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img owl-carousel">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img gnb__mini-img owl-carousel">
											<a href="" target="_blank"><img src="" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../pore/pore_detail.html" class="gnb__depth2-link">모공탄력 프로그램 디테일</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../pore/allpore.html" class="gnb__depth2-link">올인원 올모공</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../pore/scar.html" class="gnb__depth2-link">굿바이 스카</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../pore/acne.html" class="gnb__depth2-link">성인여드름 퀵테라피</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //모공 탄력 프로그램 -->
						<li class="gnb__depth1-item">
							<a href="../whitening/whitening_detail.html" class="gnb__depth1-link">미백/브라이트닝 <span class="gnb__depth1-hidden">프로그램</span></a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img owl-carousel">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img gnb__mini-img owl-carousel">
											<a href="" target="_blank"><img src="" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../whitening/whitening_detail.html" class="gnb__depth2-link">미백/브라이트닝 프로그램 디테일</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../whitening/therapy.html" class="gnb__depth2-link">올인원 테라피</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../whitening/toning.html" class="gnb__depth2-link">올인원 토닝</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../whitening/luminance.html" class="gnb__depth2-link">광채토닝</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../whitening/water.html" class="gnb__depth2-link">물광치료 시스템</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //미백/브라이트닝 프로그램 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">메디컬 스킨케어</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img owl-carousel">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img gnb__mini-img owl-carousel">
											<a href="" target="_blank"><img src="" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../medical/medical_detail.html" class="gnb__depth2-link">메디컬스킨케어 디테일</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../medical/wedding.html" class="gnb__depth2-link">웨딩 D-day</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../medical/stress.html" class="gnb__depth2-link">스트레스 OUT</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //메디컬 스킨케어 -->
						<li class="gnb__depth1-item type-bano type-another">
							<a href="" class="gnb__depth1-link">바노바기</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img owl-carousel">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img gnb__mini-img owl-carousel">
											<a href="" target="_blank"><img src="" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../introduce/philosophy.html" class="gnb__depth2-link">진료철학</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_medical.html" class="gnb__depth2-link">의료진 소개</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/academic_list.html" class="gnb__depth2-link">학술교류</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_map.html" class="gnb__depth2-link">진료안내/오시는길</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/gear.html" class="gnb__depth2-link">보유 장비 소개</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/news_list.html" class="gnb__depth2-link">바노바기 in 미디어</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../program/program_list.html" class="gnb__depth2-link">추천프로그램</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //바노바기 -->
						<li class="gnb__depth1-item type-review type-another">
							<a href="" class="gnb__depth1-link">리뷰</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img gnb__full-img owl-carousel">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" alt=""></a>
										</div>
										<div class="gnb__depth2-img gnb__mini-img owl-carousel">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_mini.jpg" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../review/photo_gallery.html" class="gnb__depth2-link">포토갤러리</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../review/epilogue_list.html" class="gnb__depth2-link">톡툭튀는 리얼후기</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //바노바기 -->
					</ul>
				</div><!-- //gnb -->
			</div>
			<div class="header__right">
				<div class="snb">
					<ul class="snb__list">
						<li class="snb__item type-bano"><a href="#" class="snb__link1 js-bano-link">바노바기 소개</a></li>
						<li class="snb__item type-review"><a href="" class="snb__link1 js-review-link">후기</a></li>
						<li class="snb__item type-login">
							<a href="" class="snb__link1 js-login"><span class="snb__border">login</span></a>
							<ul class="login__list">
								<li class="login__item nth-1"><a href="" target="_blank" class="login__link">정보수정</a></li>
								<li class="login__item nth-2"><a href="" target="_blank" class="login__link">회원탈퇴</a></li>
								<li class="login__item nth-3"><a href="" target="_blank" class="login__link">로그아웃</a></li>
							</ul>
						</li>
						<li class="snb__item type-phone">
							<div class="snb__wrap">
								Call for consultation
							</div>
							<a href="tel:+82-2-522-6636" class="snb__link2">Call</a>
						</li>
						<li class="snb__item type-consultation">
							<div class="snb__wrap">
								<span class="consultation-icon">Icon</span>
								<span class="snb__wrap-consultation">
									<span class="snb__wrap-bg">상담신청</span>
								</span>
							</div>
							<a href="" class="snb__link2 js-consultation">Go</a>
						</li>
						<li class="snb__item type-search"><a href="#" class="snb__link2 js-search">search</a></li>
						<!-- <li class="snb__item type-global">
							<a href="" class="snb__link2 js-global">global</a>
							<ul class="global__list">
								<li class="global__item nth-6"><a href="http://www.engbanobagi.com" class="global__link">EN</a></li>
								<li class="global__item nth-1"><a href="https://www.banobagi.com" target="_blank" class="global__link">KR</a></li>
								<li class="global__item nth-2"><a href="http://www.chinabanobagi.com" target="_blank" class="global__link">CN</a></li>
								<li class="global__item nth-3"><a href="http://www.thailandbanobagi.com" target="_blank" class="global__link">TH</a></li>
								<li class="global__item nth-5"><a href="http://www.vnbanobagi.com" target="_blank" class="global__link">VN</a></li>
								<li class="global__item nth-4"><a href="http://www.mglbanobagi.com" target="_blank" class="global__link">MN</a></li>
								<li class="global__item nth-7"><a href="http://www.japanbanobagi.com" target="_blank" class="global__link">JP</a></li>
								<li class="global__item nth-8"><a href="http://www.rubanobagi.com" target="_blank" class="global__link">RU</a></li>
							</ul>
						</li> -->
						<li class="snb__item type-close">
							<a href="" class="snb__link2 js-intro-close">Close</a>
						</li>
					</ul>
				</div>
			</div><!-- //header__right-->

			<div class="header-search">
				<form id="seearchForm" name="seearchForm" class="form-inline" method="post" action="https://www.banobagi.com/searchResult.html">
					<input type="hidden" name="isFirstSearch" value="Y">
					<input type="hidden" name="inputSearch" id="gnbHiddenInputSearch">
					<div class="header-search__box">
						<div class="header-search__group animated fadeInRight">
							<button type="submit" class="header-search__btn type-submit">검색</button>
							<label class="sr-only" for="keyword">검색</label>
							<input type="text" class="header-search__input" name="keyword" id="keyword" autocomplete="off" placeholder="Search" required="">
						</div>
						<button type="button" class="header-search__btn type-close js-search-close"><img src="../../images/common/search_icon.png" alt="검색닫기"></button>
					</div> <!-- //header-search__box -->
				</form>
				<div class="keyword-box">
					<ul class="keyword-tab">
						<li class="keyword-tab__item is-active nth-1 js-keyord-link" data-tab="popular">인기검색어</li>
						<li class="keyword-tab__item nth-2 js-keyord-link" data-tab="recommended">추천검색어</li>
					</ul>
					<ul class="keyword-box__list is-active popular">
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('렛미인성형외과');"><span class="keyword-box__num">1</span>렛미인성형외과</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('셀카리얼후기');"><span class="keyword-box__num">2</span>셀카리얼후기</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('눈성형');"><span class="keyword-box__num">3</span>눈성형</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('코성형');"><span class="keyword-box__num">4</span>코성형</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('안면윤곽');"><span class="keyword-box__num">5</span>안면윤곽</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('가슴성형');"><span class="keyword-box__num">6</span>가슴성형</a></li>
					</ul>
					<ul class="keyword-box__list recommended">
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('눈성형 디테일');"><em class="keyword-box__icon">#</em>눈성형 디테일</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('모티바 재수술');"><em class="keyword-box__icon">#</em>모티바 재수술</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('1year 안면윤곽 컨설팅');"><em class="keyword-box__icon">#</em>1year 안면윤곽 컨설팅</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('비절개 탄력밴드 리프팅');"><em class="keyword-box__icon">#</em>비절개 탄력밴드 리프팅</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('복합 콧볼축소');"><em class="keyword-box__icon">#</em>복합 콧볼축소</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('비절골 안면윤곽');"><em class="keyword-box__icon">#</em>비절골 안면윤곽</a></li>
					</ul>
				</div>
			</div><!-- header-search -->
			<!--레이어팝업 로그인 -->
			<% include ../_include/_login %>
			<!--//레이어팝업 로그인 -->
		</div><!--header-->
		<!-- //gnb-->
	<!-- //header끝 -->
<!-- section시작 -->
