<!--popup시작 -->
<div class="p-login">
	<div class="p-login__wrap">
		<div class="p-login__content">
			<div class="p-login__layer">
				<div class="p-login__box">
					<h2 class="p-login__tit">BANOBAGI LOGIN</h2>
					<p class="p-login__txt"><strong>바노바기성형외과</strong>에 오신 것을 환영합니다.</p>
						<div class="p-login__area">
							<input type="text" class="p-login__input" placeholder="ID">
							<input type="password" class="p-login__input" placeholder="PW">
						</div>
						<button type="submit" class="p-login__btn">로그인</button>
					</form>
					<a href="" class="p-login__close2 js-bano-close">닫기</a>
				</div>
			</div>
			<div class="p-login__box">
				<h2 class="p-login__tit">BANOBAGI LOGIN</h2>
				<p class="p-login__txt">
					기존에 사용하시는 <strong>소셜 네트워크 계정</strong>을<br class="hidden-pt"> 이용하시면
					<span class="inline-block">편하게 로그인 하실 수 있습니다.</span>
				</p>
				<ul class="p-sns__list">
					<li class="p-sns__item">
						<a href="" class="p-sns__link type-ba js-open-layer">바노바기 회원 로그인</a>
					</li>
					<li class="p-sns__item">
						<a href="" class="p-sns__link type-na">네이버 로그인</a>
					</li>
					<li class="p-sns__item">
						<a href="" class="p-sns__link type-fa">페이스북 로그인</a>
					</li>
					<li class="p-sns__item">
						<a href="" class="p-sns__link type-ka">카카오톡 로그인</a>
					</li>
				</ul>
			</div>
		</div>
		<ul class="p-login__list">
			<li class="p-login__item nth-1">
				<div class="p-login__vertical">
					<p class="p-login__subject">회원가입</p>
				</div>
				<a href="" class="p-login__link">바로가기</a>
			</li>
			<li class="p-login__item nth-2">
				<div class="p-login__vertical">
					<p class="p-login__subject">아이디/패스워드 찾기</p>
				</div>
				<a href="" class="p-login__link">바로가기</a>
			</li>
		</ul>
		<a href="" class="p-login__close js-login-close">닫기</a>
	</div>
</div>
<div class="p-login-dim">bg</div>
<!--//popup끝-->
