<!--popup시작 -->
<div class="popup-c type-common">
	<div class="popup-c__wrap">
		<a href="" class="popup-c__close">닫기</a>
		<div class="popup-tab">
			<ul class="popup-tab__list">
				<li class="popup-tab__item is-active online"><a href="#" class="popup-tab__link" data-tab="online"><span class="popup-tab__wrap">온라인상담</span></a></li>
				<li class="popup-tab__item katalk"><a href="#" class="popup-tab__link" data-tab="katalk"><span class="popup-tab__wrap">카톡상담</span></a></li>
				<!-- <li class="popup-tab__item cost"><a href="#" class="popup-tab__link" data-tab="cost"><span class="popup-tab__wrap">비용상담</span></a></li> -->
				<!-- <li class="popup-tab__item"><a href="#" class="popup-tab__link" data-tab=""><span class="popup-tab__wrap">온라인예약</span></a></li> -->
			</ul>
		</div>
		<div class="popup-c__scroll">
			<div class="popup-c__box">
				<div class="popup-content online is-active">
					<form name="onlineForm" id="onlineForm" method="post">
						<h2 class="popup-content__tit2"><strong>바노바기 성형외과</strong> 전문 상담원이 <span class="inline-block">친절히 상담 도와드립니다.</span></h2>
						<div class="popup-content__wrap">
							<div class="popup-content__box">
								<div class="input1__box">
									<input type="text" placeholder="이름"  name="onlineName" id="onlineName" autocomplete="off" class="popup-input1" required>
									<button class="input1__clear"></button>
								</div>
								<div class="input1__box">
									<input type="tel" placeholder="연락처" class="popup-input1" id="onlinePhone" name="onlinePhone" autocomplete="off" required>
									<button class="input1__clear"></button>
								</div>
								<div class="popup-select">
									<a href="#" class="popup-select__tit">관심부위를 선택해주세요</a>
									<div class="popup-select__box">
										<p class="popup-select2__subject type-another">관심부위</p>
										<ul class="popup-select__list">
											<li class="popup-select__item" id="online_01">탄력실 맥스리프팅</li>
											<li class="popup-select__item" id="online_02">피팅리프팅(복합맞춤리프팅)</li>
											<li class="popup-select__item" id="online_03">이마엔도타인</li>
											<li class="popup-select__item" id="online_04">SVF 지방이식</li>
											<li class="popup-select__item" id="online_05">탄력실 맥스리프팅</li>
											<li class="popup-select__item" id="online_06">피팅리프팅(복합맞춤리프팅)</li>
											<li class="popup-select__item" id="online_07">이마엔도타인</li>
											<li class="popup-select__item" id="online_08">SVF 지방이식</li>
										</ul>
									</div>
								</div>
								<input type="text" name="onlinePartItem" id="onlinePartItem" value="" class="popup-content__hidden" required> <!-- 실제 관심부위 입력값 -->
								<!-- //select -->
							</div>
							<div class="popup-content__box">
								<textarea placeholder="메모" class="popup-textarea" name="onlineContent" id="onlineContent" required></textarea>
							</div>
						</div>
						<div class="popup-content__wrap">
							<div class="popup-content__box type-right">
								<div class="popup-content__check">
									<input type="checkbox" name="chkAgree1" id="chkAgree1" class="checkbox02 type-online" required><label for="chkAgree1">개인정보 수집 및 이용 동의(필수)</label>
									<a href="" class="popup-content__btn2 is-view js-terms-open">[자세히 보기]</a>
								</div>
							</div>
						</div>
						<button type="submit" class="popup-content__btn type-online">상담신청</button>
					</form>
				</div>
				<div class="popup-content katalk">
					<form name="kakaoForm" id="kakaoForm" method="post">
						<h2 class="popup-content__tit2"><strong>바노바기 성형외과</strong> 전문 상담원이 <span class="inline-block">친절히 상담 도와드립니다.</span></h2>
						<div class="popup-content__wrap">
							<div class="popup-content__box">
								<div class="input1__box">
									<input type="text" placeholder="이름"  name="kakaoName" id="kakaoName" autocomplete="off" class="popup-input1" required>
									<button class="input1__clear"></button>
								</div>
								<div class="input1__box">
									<input type="tel" placeholder="연락처" class="popup-input1" id="kakaoPhone" name="kakaoPhone" autocomplete="off" required>
									<button class="input1__clear"></button>
								</div>
								<div class="popup-select">
									<a href="#" class="popup-select__tit">관심부위를 선택해주세요</a>
									<div class="popup-select__box">
										<p class="popup-select2__subject type-another">관심부위</p>
										<ul class="popup-select__list">
											<li class="popup-select__item" id="katalk_01">탄력실 맥스리프팅</li>
											<li class="popup-select__item" id="katalk_02">피팅리프팅(복합맞춤리프팅)</li>
											<li class="popup-select__item" id="katalk_03">이마엔도타인</li>
											<li class="popup-select__item" id="katalk_04">SVF 지방이식</li>
											<li class="popup-select__item" id="katalk_05">탄력실 맥스리프팅</li>
											<li class="popup-select__item" id="katalk_06">피팅리프팅(복합맞춤리프팅)</li>
											<li class="popup-select__item" id="katalk_07">이마엔도타인</li>
											<li class="popup-select__item" id="katalk_08">SVF 지방이식</li>
										</ul>
									</div>
								</div>
								<input type="text" name="kakaoPartItem" id="kakaoPartItem" class="popup-content__hidden" value="" required> <!-- 실제 관심부위 입력값 -->
								<!-- //select -->
							</div>
							<div class="popup-content__box">
								<textarea placeholder="메모" class="popup-textarea" name="kakaoContent" id="kakaoContent" required></textarea>
							</div>
						</div>
						<div class="popup-content__wrap">
							<div class="popup-content__box type-right">
								<div class="popup-content__check">
									<input type="checkbox" name="chkAgree2" id="chkAgree2" class="checkbox02" required><label for="chkAgree2">개인정보 수집 및 이용 동의(필수)</label>
									<a href="" class="popup-content__btn2 is-view js-terms-open">[자세히 보기]</a>
								</div>
							</div>
						</div>
						<button type="submit" class="popup-content__btn type-katalk">상담신청</button>
					</form>
				</div>
				<div class="popup-c__footer">
					<div class="popup-c__info">
						<dl class="popup-c__dl">
							<dt class="popup-c__dt"><span>전</span><span>화</span></dt>
							<dd class="popup-c__dd"><span class="popup-c__number">1588-6508, 02-562-6001</span></dd>
						</dl>
						<dl class="popup-c__dl">
							<dt class="popup-c__dt">진료시간</dt>
							<dd class="popup-c__dd">평일 <span class="popup-c__number">10:00~18:30</span>, 토요일 <span class="popup-c__number">10:00~16:00</span>, <span class="inline-block">화·금 <span class="popup-c__number">10:00~20:00</span></span></dd>
						</dl>
					</div>
				</div>
				<div class="popup-c__terms">
					<div class="terms-c">
						<a href="" class="terms-c__btn js-terms-close">닫기</a>
						<div class="terms-c__box">
							<h3 class="terms-c__tit">개인정보 수집 및 이용 동의(필수)</h2>
							<div class="terms-c__area">
								<p>바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의 개인정보 보호를 매우 중요하게 생각하고 있으며, 이용자가 이용함에 있어서 본원에게 제공한 개인정보가 보호 받을 수 있도록 최선을 다하고 있습니다.</p>
								<br>
								<p>이에 따라, 본원은 통신비밀보호법, 전기통신사업법, 정보통신망이용촉진 등에 관한 법률 등 정보통신 서비스 제공자가 준수하여야 할 관련 법규를 바탕으로 개인정보 보호정책을 만들어 이를 준수해 나가고 있습니다.</p>
							</div>
						</div>
						<div class="terms-c__box">
							<h3 class="terms-c__tit">마케팅 광고 활용 동의(선택)</h2>
							<div class="terms-c__area">
								<p>바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의 개인정보 보호를 매우 중요하게 생각하고 있으며, 이용자가 이용함에 있어서 본원에게 제공한 개인정보가 보호 받을 수 있도록 최선을 다하고 있습니다.</p>
								<br>
								<p>이에 따라, 본원은 통신비밀보호법, 전기통신사업법, 정보통신망이용촉진 등에 관한 법률 등 정보통신 서비스 제공자가 준수하여야 할 관련 법규를 바탕으로 개인정보 보호정책을 만들어 이를 준수해 나가고 있습니다.</p>
							</div>
						</div>
					</div><!--//terms-c-->
				</div><!-- //popup-c__terms-->
			</div>
		</div>
	</div>
</div>
<!--//popup끝-->
