<%
	type = "search"
	page = "search"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top type-no-lnb">
		<h2 class="container__tit academic">통합검색</h2>
	</div>
	<div class="result">
		<div class="result-search">
			<div class="inner-wrap">
				<div class="result__wrap">
					<form class="" id="frmTotalSearch" name="frmTotalSearch" method="post">
						<input type="hidden" name="isFirstSearch" id="isFirstSearch" value="N">
						<div class="result-search__group">
							<label class="sr-only" for="inputSearch">통합검색</label>
							<button type="submit" class="result-search__btn">검색</button>
							<input type="text" class="result-search__input" id="inputSearch" name="inputSearch" placeholder="SEARCH" required="">
							<a href="" class="result-search__del">닫기</a>
						</div>
					</form>
					<p class="result-search__noti">검색어는 최소 2자이상 입력하세요!&nbsp; ※단 눈, 코는 제외</p>
				</div><!-- result__wrap -->
			</div>
		</div><!-- //result__search-->
		<!-- 검색어-->
		<div class="result-keyword">
			<div class="result-keyword__box">
				<div class="inner-wrap">
					<div class="result__wrap">
						<dl class="result-keyword__dl">
							<dt class="result-keyword__dt">인기검색어</dt>
							<dd class="result-keyword__dd">
								<ul class="result-keyword__list">
									<li class="result-keyword__item">
										<a class="result-keyword__link" href=""><span class="result-keyword__num">1</span>렛미인</a>
									</li>
									<li class="result-keyword__item">
										<a class="result-keyword__link" href=""><span class="result-keyword__num">2</span>렛미인</a>
									</li>
									<li class="result-keyword__item">
										<a class="result-keyword__link" href=""><span class="result-keyword__num">3</span>렛미인</a>
									</li>
									<li class="result-keyword__item">
										<a class="result-keyword__link" href=""><span class="result-keyword__num">4</span>렛미인</a>
									</li>
									<li class="result-keyword__item">
										<a class="result-keyword__link" href=""><span class="result-keyword__num">5</span>렛미인</a>
									</li>
									<li class="result-keyword__item">
										<a class="result-keyword__link" href=""><span class="result-keyword__num">6</span>렛미인</a>
									</li>
								</ul>
							</dd>
						</dl><!-- //result-keyword__dl -->
					</div>
				</div><!-- //inner-wrap-->
			</div>
			<div class="result-keyword__box">
				<div class="inner-wrap">
					<div class="result__wrap">
						<dl class="result-keyword__dl">
							<dt class="result-keyword__dt">추천검색어</dt>
							<dd class="result-keyword__dd">
								<ul class="result-keyword__list">
									<li class="result-keyword__item">
										<a class="result-keyword__link" href=""><span class="result-keyword__icon">#</span>렛미인성</a>
									</li>
									<li class="result-keyword__item">
										<a class="result-keyword__link" href=""><span class="result-keyword__icon">#</span>렛과</a>
									</li>
									<li class="result-keyword__item">
										<a class="result-keyword__link" href=""><span class="result-keyword__icon">#</span>렛미인성형외과</a>
									</li>
									<li class="result-keyword__item">
										<a class="result-keyword__link" href=""><span class="result-keyword__icon">#</span>렛미과</a>
									</li>
									<li class="result-keyword__item">
										<a class="result-keyword__link" href=""><span class="result-keyword__icon">#</span>렛미인성형외과</a>
									</li>
									<li class="result-keyword__item">
										<a class="result-keyword__link" href=""><span class="result-keyword__icon">#</span>렛미인성형외과</a>
									</li>
								</ul>
							</dd>
						</dl><!-- //result-keyword__dl -->
					</div>
				</div><!-- //inner-wrap-->
			</div>
		</div>
		<!-- //검색어-->
		<div class="result-info">
			총 <strong>11건</strong>의 검색 결과가 있습니다.
		</div>
		<div class="no-data text-center">
			<p class="no-data__txt">
				검색 결과가 없습니다<br>
				<span class="no-data__point">다른 검색어를 입력하시거나 카톡상담바로가기를 <span class="inline-block">이용하시면 친절히 상담하여드립니다.</span></span>
				<a href="" class="btn2 type-katalk"><span>카톡상담 바로가기</span></a>
			</p>
		</div>
		<div class="result-tab">
			<div class="inner-wrap">
				<div class="result__wrap">
					<ul class="result-tab__list">
						<li class="result-tab__item is-active">
							<a href="" class="result-tab__link type-all">전체 <span class="result-tab__block">(71)</span></a>
						</li>
						<li class="result-tab__item">
							<a href="" class="result-tab__link">바로가기<span class="result-tab__block">(33)</span></a>
						</li>
						<li class="result-tab__item">
							<a href="" class="result-tab__link">REVIEW<span class="result-tab__block">(33)</span></a>
						</li>
						<li class="result-tab__item">
							<a href="" class="result-tab__link">바노바기<span class="result-tab__block">(33)</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="result__box">
			<div class="inner-wrap">
				<div class="result__wrap">
					<dl class="result__dl">
						<dt class="result__dt">바로가기</dt>
						<dd class="result__dd">
							<ul class="direct">
								<li class="direct__item type-gear">
									<div class="direct__wrap">
										<img src="../../images/temp/gear_thum.jpg" alt="이온자임" class="direct__img">
										<p class="direct__tit"><strong>이온자임 (Ionzyme)</strong> 바로가기 <i class="fa fa-angle-right result__arrow"></i></p>
										<p class="direct__txt">피부 탄력 강화 / 피부 진정 및 재생</p>
									</div>
									<a href="" class="direct__link">바로가기</a>
								</li>
								<li class="direct__item type-mark">
									<p class="direct__tit"><strong>올인원목주름</strong> 바로가기 <i class="fa fa-angle-right result__arrow"></i></p>
									<p class="direct__txt">실제 가슴처럼 자연스럽고 아름다운 가슴라인 모티바 가슴 성형 입니다.</p>
									<a href="" class="direct__link">바로가기</a>
								</li>
								<li class="direct__item type-mark">
									<p class="direct__tit"><strong>올인원목주름</strong> 바로가기 <i class="fa fa-angle-right result__arrow"></i></p>
									<p class="direct__txt">실제 가슴처럼 자연스럽고 아름다운 가슴라인 모티바 가슴 성형 입니다.</p>
									<a href="" class="direct__link">바로가기</a>
								</li>
								<li class="direct__item">
									<p class="direct__tit"><strong>올인원목주름</strong> 바로가기 <i class="fa fa-angle-right result__arrow"></i></p>
									<p class="direct__txt">실제 가슴처럼 자연스럽고 아름다운 가슴라인 모티바 가슴 성형 입니다.</p>
									<a href="" class="direct__link">바로가기</a>
								</li>
								<li class="direct__item">
									<p class="direct__tit"><strong>올인원목주름</strong> 바로가기 <i class="fa fa-angle-right result__arrow"></i></p>
									<p class="direct__txt">실제 가슴처럼 자연스럽고 아름다운 가슴라인 모티바 가슴 성형 입니다.</p>
									<a href="" class="direct__link">바로가기</a>
								</li>
								<li class="direct__item is-hide">
									<p class="direct__tit"><strong>올인원목주름</strong> 바로가기 <i class="fa fa-angle-right result__arrow"></i></p>
									<p class="direct__txt">실제 가슴처럼 자연스럽고 아름다운 가슴라인 모티바 가슴 성형 입니다.</p>
									<a href="" class="direct__link">바로가기</a>
								</li>
								<li class="direct__item is-hide">
									<p class="direct__tit"><strong>올인원목주름</strong> 바로가기 <i class="fa fa-angle-right result__arrow"></i></p>
									<p class="direct__txt">실제 가슴처럼 자연스럽고 아름다운 가슴라인 모티바 가슴 성형 입니다.</p>
									<a href="" class="direct__link">바로가기</a>
								</li>
								<li class="direct__item is-hide">
									<p class="direct__tit"><strong>올인원목주름</strong> 바로가기 <i class="fa fa-angle-right result__arrow"></i></p>
									<p class="direct__txt">실제 가슴처럼 자연스럽고 아름다운 가슴라인 모티바 가슴 성형 입니다.</p>
									<a href="" class="direct__link">바로가기</a>
								</li>
								<li class="direct__item is-hide">
									<p class="direct__tit"><strong>올인원목주름</strong> 바로가기 <i class="fa fa-angle-right result__arrow"></i></p>
									<p class="direct__txt">실제 가슴처럼 자연스럽고 아름다운 가슴라인 모티바 가슴 성형 입니다.</p>
									<a href="" class="direct__link">바로가기</a>
								</li>
								<li class="direct__item is-hide">
									<p class="direct__tit"><strong>올인원목주름</strong> 바로가기 <i class="fa fa-angle-right result__arrow"></i></p>
									<p class="direct__txt">실제 가슴처럼 자연스럽고 아름다운 가슴라인 모티바 가슴 성형 입니다.</p>
									<a href="" class="direct__link">바로가기</a>
								</li>
							</ul>
							<a href="" class="result__btn js-more-btn"><span class="result__plus">+</span>MORE <i class="fa fa-angle-right result__arrow"></i></a>
							<!--pagination -->
							<div class="pagination is-hide">
								<ul class="pagination__list">
									<li class="pagination__item pagination__item-first">
										<a href="" class="pagination__link">처음</a>
									</li>
									<li class="pagination__item pagination__item-prev">
										<a href="" class="pagination__link">이전</a>
									</li>
									<li class="pagination__item pagination__item-num is-active">
										<a href="" class="pagination__link">1</a>
									</li>
									<li class="pagination__item pagination__item-num is-acitve">
										<a href="" class="pagination__link">2</a>
									</li>
									<li class="pagination__item pagination__item-num">
										<a href="" class="pagination__link">3</a>
									</li>
									<li class="pagination__item pagination__item-num">
										<a href="" class="pagination__link">4</a>
									</li>
									<li class="pagination__item pagination__item-num">
										<a href="" class="pagination__link">5</a>
									</li>
									<li class="pagination__item pagination__item-next">
										<a href="" class="pagination__link">다음</a>
									</li>
									<li class="pagination__item pagination__item-last">
										<a href="" class="pagination__link">마지막</a>
									</li>
								</ul>
							</div>
							<!-- //pagination-->
						</dd>
					</dl>
				</div>
			</div>
		</div>
		<div class="result__box">
			<div class="inner-wrap">
				<div class="result__wrap">
					<dl class="result__dl">
						<dt class="result__dt">REVIEW</dt>
						<dd class="result__dd">
							<div class="result__review">
								<div class="result__txt"><strong class="color1">포토갤러리</strong> 총 <span class="result__num">22건</span> 결과가 있습니다.</div>
								<a href="" class="result__btn"><span class="result__plus">+</span>MORE <i class="fa fa-angle-right result__arrow"></i></a>
							</div>
							<div class="result__review">
								<div class="result__txt"><strong class="color1">리얼후기</strong> 총 <span class="result__num">10건</span> 결과가 있습니다.</div>
								<div class="epilogue type-search">
									<ul class="epilogue__list">
										<li class="epilogue__item">
											<div class="epilogue__img">
												<img src="../../images/review/epilogue/epi_img01.jpg" alt="" class="img-responsive">
												<div class="epilogue__border">bg</div>
											</div>
											<div class="epilogue__box">
												<h4 class="epilogue__tit js-epilogue-tit">양념치퀸의 가슴축소 후기~ 양념치퀸의 가슴축소 후기~ </h4>
												<p class="epilogue__txt">
													리얼후기 <i class="fa fa-angle-right result__arrow"></i>
												</p>
											</div>
											<a href="" class="epilogue__link js-link-hover">상세보기</a>
										</li>
										<!--//epilogue__item-->
										<li class="epilogue__item">
											<div class="epilogue__img">
												<img src="../../images/review/epilogue/epi_img01.jpg" alt="" class="img-responsive">
												<div class="epilogue__border">bg</div>
											</div>
											<div class="epilogue__box">
												<h4 class="epilogue__tit js-epilogue-tit">양념치퀸의 가슴축소 후기~ 양념치퀸의 가슴축소 후기~ </h4>
												<p class="epilogue__txt">
													리얼후기 <i class="fa fa-angle-right result__arrow"></i>
												</p>
											</div>
											<a href="" class="epilogue__link js-link-hover">상세보기</a>
										</li>
										<!--//epilogue__item-->
										<li class="epilogue__item">
											<div class="epilogue__img">
												<img src="../../images/review/epilogue/epi_img01.jpg" alt="" class="img-responsive">
												<div class="epilogue__border">bg</div>
											</div>
											<div class="epilogue__box">
												<h4 class="epilogue__tit js-epilogue-tit">양념치퀸의 가슴축소 후기~ 양념치퀸의 가슴축소 후기~ </h4>
												<p class="epilogue__txt">
													리얼후기 <i class="fa fa-angle-right result__arrow"></i>
												</p>
											</div>
											<a href="" class="epilogue__link js-link-hover">상세보기</a>
										</li>
										<!--//epilogue__item-->

										<li class="epilogue__item is-hide">
											<div class="epilogue__img">
												<img src="../../images/review/epilogue/epi_img01.jpg" alt="" class="img-responsive">
												<div class="epilogue__border">bg</div>
											</div>
											<div class="epilogue__box">
												<h4 class="epilogue__tit js-epilogue-tit">양념치퀸의 가슴축소 후기~ 양념치퀸의 가슴축소 후기~ </h4>
												<p class="epilogue__txt">
													리얼후기 <i class="fa fa-angle-right result__arrow"></i>
												</p>
											</div>
											<a href="" class="epilogue__link js-link-hover">상세보기</a>
										</li>
										<!--//epilogue__item-->
										<li class="epilogue__item is-hide">
											<div class="epilogue__img">
												<img src="../../images/review/epilogue/epi_img01.jpg" alt="" class="img-responsive">
												<div class="epilogue__border">bg</div>
											</div>
											<div class="epilogue__box">
												<h4 class="epilogue__tit js-epilogue-tit">양념치퀸의 가슴축소 후기~ 양념치퀸의 가슴축소 후기~ </h4>
												<p class="epilogue__txt">
													리얼후기 <i class="fa fa-angle-right result__arrow"></i>
												</p>
											</div>
											<a href="" class="epilogue__link js-link-hover">상세보기</a>
										</li>
										<!--//epilogue__item-->
										<li class="epilogue__item is-hide">
											<div class="epilogue__img">
												<img src="../../images/review/epilogue/epi_img01.jpg" alt="" class="img-responsive">
												<div class="epilogue__border">bg</div>
											</div>
											<div class="epilogue__box">
												<h4 class="epilogue__tit js-epilogue-tit">양념치퀸의 가슴축소 후기~ 양념치퀸의 가슴축소 후기~ </h4>
												<p class="epilogue__txt">
													리얼후기 <i class="fa fa-angle-right result__arrow"></i>
												</p>
											</div>
											<a href="" class="epilogue__link js-link-hover">상세보기</a>
										</li>
										<!--//epilogue__item-->
									</ul>
								</div>
								<a href="" class="result__btn js-more-btn"><span class="result__plus">+</span>MORE <i class="fa fa-angle-right result__arrow"></i></a>
								<!--pagination -->
								<div class="pagination is-hide">
									<ul class="pagination__list">
										<li class="pagination__item pagination__item-first">
											<a href="" class="pagination__link">처음</a>
										</li>
										<li class="pagination__item pagination__item-prev">
											<a href="" class="pagination__link">이전</a>
										</li>
										<li class="pagination__item pagination__item-num is-active">
											<a href="" class="pagination__link">1</a>
										</li>
										<li class="pagination__item pagination__item-num is-acitve">
											<a href="" class="pagination__link">2</a>
										</li>
										<li class="pagination__item pagination__item-num">
											<a href="" class="pagination__link">3</a>
										</li>
										<li class="pagination__item pagination__item-num">
											<a href="" class="pagination__link">4</a>
										</li>
										<li class="pagination__item pagination__item-num">
											<a href="" class="pagination__link">5</a>
										</li>
										<li class="pagination__item pagination__item-next">
											<a href="" class="pagination__link">다음</a>
										</li>
										<li class="pagination__item pagination__item-last">
											<a href="" class="pagination__link">마지막</a>
										</li>
									</ul>
								</div>
								<!-- //pagination-->
							</div>
						</dd>
					</dl>
				</div><!-- //result__wrap-->
			</div><!-- //inner-wrap-->
		</div><!-- //result__box -->
		<div class="result__box">
			<div class="inner-wrap">
				<div class="result__wrap">
					<dl class="result__dl">
						<dt class="result__dt">바노바기</dt>
						<dd class="result__dd">
							<ul class="tab-v5">
								<li class="tab-v5__item is-active" data-tab="type-doctor">
									<a href="" class="tab-v5__link js-tab-link">의료진 (4)</a>
								</li>
								<li class="tab-v5__item" data-tab="type-academic">
									<a href="" class="tab-v5__link js-tab-link">학술교류</a>
								</li>
								<li class="tab-v5__item" data-tab="type-video">
									<a href="" class="tab-v5__link js-tab-link">동영상</a>
								</li>
								<li class="tab-v5__item" data-tab="type-news">
									<a href="" class="tab-v5__link js-tab-link">뉴스</a>
								</li>
							</ul>
							<div class="tab-v5__content type-doctor is-active">
								<ul class="s-medical__list">
									<li class="s-medical__item">
										<div class="s-medical__box">
											<a href="" class="s-medical__link">바로가기</a>
											<div class="s-medical__img">
												<div class="s-medical__wrap">
													<h4 class="s-medical__tit">성형외과 전문의</h4>
													<p class="s-medical__txt">서울대학교 병원</p>
												</div>
												<img src="../../images/introduce/medical/medical_thum1.jpg" alt="반재용" class="img-responsive">
											</div>
											<p class="s-medical__name"><span class="medical__en">DR.</span> 반재용</p>
										</div>
									</li><!-- //medical__item-->
									<li class="s-medical__item">
										<div class="s-medical__box">
											<a href="" class="s-medical__link">바로가기</a>
											<div class="s-medical__img">
												<div class="s-medical__wrap">
													<h4 class="s-medical__tit">성형외과 전문의</h4>
													<p class="s-medical__txt">서울대학교 병원</p>
												</div>
												<img src="../../images/introduce/medical/medical_thum1.jpg" alt="반재용" class="img-responsive">
											</div>
											<p class="s-medical__name"><span class="medical__en">DR.</span> 반재용</p>
										</div>
									</li><!-- //medical__item-->
									<li class="s-medical__item">
										<div class="s-medical__box">
											<a href="" class="s-medical__link">바로가기</a>
											<div class="s-medical__img">
												<div class="s-medical__wrap">
													<h4 class="s-medical__tit">성형외과 전문의</h4>
													<p class="s-medical__txt">서울대학교 병원</p>
												</div>
												<img src="../../images/introduce/medical/medical_thum1.jpg" alt="반재용" class="img-responsive">
											</div>
											<p class="s-medical__name"><span class="medical__en">DR.</span> 반재용</p>
										</div>
									</li><!-- //medical__item-->
									<li class="s-medical__item">
										<div class="s-medical__box">
											<a href="" class="s-medical__link">바로가기</a>
											<div class="s-medical__img">
												<div class="s-medical__wrap">
													<h4 class="s-medical__tit">성형외과 전문의</h4>
													<p class="s-medical__txt">서울대학교 병원</p>
												</div>
												<img src="../../images/introduce/medical/medical_thum1.jpg" alt="반재용" class="img-responsive">
											</div>
											<p class="s-medical__name"><span class="medical__en">DR.</span> 반재용</p>
										</div>
									</li><!-- //medical__item-->
								</ul>
							</div><!-- //tav-v5__content-->
							<div class="tab-v5__content type-academic">
								<ul class="s-news">
									<li class="s-news__item">
										<span class="s-news__category type-green">학술교류</span>
										<p class="s-news__txt js-news-ellipsis1">
											<span class="s-news__sub">[해외교류]</span>
											도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나
										</p>
										<a href="" class="s-news__link">바로가기</a>
									</li>
									<li class="s-news__item">
										<span class="s-news__category type-green">학술교류</span>
										<p class="s-news__txt js-news-ellipsis1">
											<span class="s-news__sub">[해외교류]</span>
											도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나
										</p>
										<a href="" class="s-news__link">바로가기</a>
									</li>
									<li class="s-news__item">
										<span class="s-news__category type-green">학술교류</span>
										<p class="s-news__txt js-news-ellipsis1">
											<span class="s-news__sub">[해외교류]</span>
											도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나
										</p>
										<a href="" class="s-news__link">바로가기</a>
									</li>
									<li class="s-news__item">
										<span class="s-news__category type-green">학술교류</span>
										<p class="s-news__txt js-news-ellipsis1">
											<span class="s-news__sub">[해외교류]</span>
											도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나
										</p>
										<a href="" class="s-news__link">바로가기</a>
									</li>
									<li class="s-news__item">
										<span class="s-news__category type-green">학술교류</span>
										<p class="s-news__txt js-news-ellipsis1">
											<span class="s-news__sub">[해외교류]</span>
											도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나
										</p>
										<a href="" class="s-news__link">바로가기</a>
									</li>
									<li class="s-news__item is-hide">
										<span class="s-news__category type-green">학술교류</span>
										<p class="s-news__txt js-news-ellipsis1">
											<span class="s-news__sub">[해외교류]</span>
											도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나
										</p>
										<a href="" class="s-news__link">바로가기</a>
									</li>
									<li class="s-news__item is-hide">
										<span class="s-news__category type-green">학술교류</span>
										<p class="s-news__txt js-news-ellipsis1">
											<span class="s-news__sub">[해외교류]</span>
											도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나
										</p>
										<a href="" class="s-news__link">바로가기</a>
									</li>
									<li class="s-news__item is-hide">
										<span class="s-news__category type-green">학술교류</span>
										<p class="s-news__txt js-news-ellipsis1">
											<span class="s-news__sub">[해외교류]</span>
											도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나
										</p>
										<a href="" class="s-news__link">바로가기</a>
									</li>
									<li class="s-news__item is-hide">
										<span class="s-news__category type-green">학술교류</span>
										<p class="s-news__txt js-news-ellipsis1">
											<span class="s-news__sub">[해외교류]</span>
											도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나 도쿄 모티바 학술세미나
										</p>
										<a href="" class="s-news__link">바로가기</a>
									</li>
								</ul>
								<a href="" class="result__btn js-more-btn"><span class="result__plus">+</span>MORE <i class="fa fa-angle-right result__arrow"></i></a>
								<!--pagination -->
								<div class="pagination is-hide">
									<ul class="pagination__list">
										<li class="pagination__item pagination__item-first">
											<a href="" class="pagination__link">처음</a>
										</li>
										<li class="pagination__item pagination__item-prev">
											<a href="" class="pagination__link">이전</a>
										</li>
										<li class="pagination__item pagination__item-num is-active">
											<a href="" class="pagination__link">1</a>
										</li>
										<li class="pagination__item pagination__item-num is-acitve">
											<a href="" class="pagination__link">2</a>
										</li>
										<li class="pagination__item pagination__item-num">
											<a href="" class="pagination__link">3</a>
										</li>
										<li class="pagination__item pagination__item-num">
											<a href="" class="pagination__link">4</a>
										</li>
										<li class="pagination__item pagination__item-num">
											<a href="" class="pagination__link">5</a>
										</li>
										<li class="pagination__item pagination__item-next">
											<a href="" class="pagination__link">다음</a>
										</li>
										<li class="pagination__item pagination__item-last">
											<a href="" class="pagination__link">마지막</a>
										</li>
									</ul>
								</div>
								<!-- //pagination-->
							</div>
							<!-- //tab-v5__content-->
							<div class="tab-v5__content type-video">
								<div class="thumbnail-v1 type-search">
									<ul class="thumbnail-v1__list">
										<li class="thumbnail-v1__item">
											<div class="thumbnail-v1__img is-on">
												<img src="../../images/media/thumbnail1.jpg" alt="[TV조선 광화문의 아침] 복아름 원장님 출연" class="img-responsive">
											</div>
											<p class="thumbnail-v1__txt">
												<span class="thumbnail-v1__color1">[TV조선 광화문의 아침 ]</span>  복아름 원장님 출연 복아름 원장님 출연 복아름 원장님 출연
											</p>
											<a href="" class="thumbnail-v1__link">바로가기</a>
										</li>
										<li class="thumbnail-v1__item">
											<div class="thumbnail-v1__img is-on">
												<img src="../../images/media/thumbnail1.jpg" alt="[TV조선 광화문의 아침] 복아름 원장님 출연" class="img-responsive">
											</div>
											<p class="thumbnail-v1__txt">
												<span class="thumbnail-v1__color1">[TV조선 광화문의 아침 ]</span>  복아름 원장님 출연 복아름 원장님 출연 복아름 원장님 출연
											</p>
											<a href="" class="thumbnail-v1__link">바로가기</a>
										</li>
										<li class="thumbnail-v1__item">
											<div class="thumbnail-v1__img is-on">
												<img src="../../images/media/thumbnail1.jpg" alt="[TV조선 광화문의 아침] 복아름 원장님 출연" class="img-responsive">
											</div>
											<p class="thumbnail-v1__txt">
												<span class="thumbnail-v1__color1">[TV조선 광화문의 아침 ]</span>  복아름 원장님 출연 복아름 원장님 출연 복아름 원장님 출연
											</p>
											<a href="" class="thumbnail-v1__link">바로가기</a>
										</li>
										<li class="thumbnail-v1__item">
											<div class="thumbnail-v1__img is-on">
												<img src="../../images/media/thumbnail1.jpg" alt="[TV조선 광화문의 아침] 복아름 원장님 출연" class="img-responsive">
											</div>
											<p class="thumbnail-v1__txt">
												<span class="thumbnail-v1__color1">[TV조선 광화문의 아침 ]</span>  복아름 원장님 출연 복아름 원장님 출연 복아름 원장님 출연
											</p>
											<a href="" class="thumbnail-v1__link">바로가기</a>
										</li>
										<li class="thumbnail-v1__item is-hide">
											<div class="thumbnail-v1__img is-on">
												<img src="../../images/media/thumbnail1.jpg" alt="[TV조선 광화문의 아침] 복아름 원장님 출연" class="img-responsive">
											</div>
											<p class="thumbnail-v1__txt">
												<span class="thumbnail-v1__color1">[TV조선 광화문의 아침 ]</span>  복아름 원장님 출연 복아름 원장님 출연 복아름 원장님 출연
											</p>
											<a href="" class="thumbnail-v1__link">바로가기</a>
										</li>
										<li class="thumbnail-v1__item is-hide">
											<div class="thumbnail-v1__img is-on">
												<img src="../../images/media/thumbnail1.jpg" alt="[TV조선 광화문의 아침] 복아름 원장님 출연" class="img-responsive">
											</div>
											<p class="thumbnail-v1__txt">
												<span class="thumbnail-v1__color1">[TV조선 광화문의 아침 ]</span>  복아름 원장님 출연 복아름 원장님 출연 복아름 원장님 출연
											</p>
											<a href="" class="thumbnail-v1__link">바로가기</a>
										</li>
										<li class="thumbnail-v1__item is-hide">
											<div class="thumbnail-v1__img is-on">
												<img src="../../images/media/thumbnail1.jpg" alt="[TV조선 광화문의 아침] 복아름 원장님 출연" class="img-responsive">
											</div>
											<p class="thumbnail-v1__txt">
												<span class="thumbnail-v1__color1">[TV조선 광화문의 아침 ]</span>  복아름 원장님 출연 복아름 원장님 출연 복아름 원장님 출연
											</p>
											<a href="" class="thumbnail-v1__link">바로가기</a>
										</li>
										<li class="thumbnail-v1__item is-hide">
											<div class="thumbnail-v1__img is-on">
												<img src="../../images/media/thumbnail1.jpg" alt="[TV조선 광화문의 아침] 복아름 원장님 출연" class="img-responsive">
											</div>
											<p class="thumbnail-v1__txt">
												<span class="thumbnail-v1__color1">[TV조선 광화문의 아침 ]</span>  복아름 원장님 출연 복아름 원장님 출연 복아름 원장님 출연
											</p>
											<a href="" class="thumbnail-v1__link">바로가기</a>
										</li>
									</ul>
									<a href="" class="result__btn js-more-btn"><span class="result__plus">+</span>MORE <i class="fa fa-angle-right result__arrow"></i></a>
									<!--pagination -->
									<div class="pagination is-hide">
										<ul class="pagination__list">
											<li class="pagination__item pagination__item-first">
												<a href="" class="pagination__link">처음</a>
											</li>
											<li class="pagination__item pagination__item-prev">
												<a href="" class="pagination__link">이전</a>
											</li>
											<li class="pagination__item pagination__item-num is-active">
												<a href="" class="pagination__link">1</a>
											</li>
											<li class="pagination__item pagination__item-num is-acitve">
												<a href="" class="pagination__link">2</a>
											</li>
											<li class="pagination__item pagination__item-num">
												<a href="" class="pagination__link">3</a>
											</li>
											<li class="pagination__item pagination__item-num">
												<a href="" class="pagination__link">4</a>
											</li>
											<li class="pagination__item pagination__item-num">
												<a href="" class="pagination__link">5</a>
											</li>
											<li class="pagination__item pagination__item-next">
												<a href="" class="pagination__link">다음</a>
											</li>
											<li class="pagination__item pagination__item-last">
												<a href="" class="pagination__link">마지막</a>
											</li>
										</ul>
									</div>
									<!-- //pagination-->
								</div>
							</div><!-- //tab-v5__content -->
							<div class="tab-v5__content type-news">
								<ul class="s-news">
									<li class="s-news__item">
										<span class="s-news__category type-gray">NEWS</span>
										<p class="s-news__txt js-news-ellipsis2">
											<span class="s-news__sub">파이낸셜뉴스</span>
											출산 후 수유로 인한 가슴 고민... 출산 전부터 신경써야 출산 후 수유로 인한 가슴 고민... 출산 전부터 신경써야 출산 후 수유로 인한 가슴 고민... 출산 전부터 신경써야
										</p>
										<a href="" class="s-news__link">바로가기</a>
									</li>
									<li class="s-news__item">
										<span class="s-news__category type-gray">NEWS</span>
										<p class="s-news__txt js-news-ellipsis2">
											<span class="s-news__sub">파이낸셜뉴스</span>
											출산 후 수유로 인한 가슴 고민... 출산 전부터 신경써야 출산 후 수유로 인한 가슴 고민... 출산 전부터 신경써야 출산 후 수유로 인한 가슴 고민... 출산 전부터 신경써야
										</p>
										<a href="" class="s-news__link">바로가기</a>
									</li>
								</ul>
								<!-- //걸색결과 없음 -->
								<!-- <div class="result-info">
									검색결과가 없습니다.
								</div> -->
							</div><!-- //tab-v5__content -->
						</dd>
					</dl>
				</div><!-- //result__wrap-->
			</div><!-- //inner-wrap-->
		</div><!-- //result__box -->
		<div class="result__box type-consultation">
			<div class="result-info">
				카톡상담바로가기를 이용하시면<br class="hidden-pt"> 친절히 상담하여드립니다.<br>
				<a href="" class="btn2 type-katalk"><span>카톡상담 바로가기</span></a>
			</div>
		</div>
		<div class="result__box type-consultation">
			<div class="result-info">
				다른 검색어를 입력하시거나<br class="hidden-pt"> 성형외과홈페이지바로가기를 이용하세요.<br>
				<a href="" class="btn2"><span>성형외과홈페이지 바로가기</span></a>
			</div>
		</div>
	</div><!-- //result-->

</div>
<% include ../_include/_footer %>
