<%
	type = "sitemap"
	page = "sitemap"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top type-another">
		<h2 class="container__tit academic">사이트맵</h2>
	</div>
	<div class="container__wrap type-another">
		<div class="sitemap">
			<ul class="sitemap__list">
				<li class="sitemap__item">
					<dl class="stemap__dl">
						<dt class="sitemap__dt">Only Banobagi 올인원 시리즈</dt>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">바노바기 올인원 시리즈 Detail</a></dd>
					</dl>
				</li>
				<li class="sitemap__item">
					<dl class="stemap__dl">
						<dt class="sitemap__dt">힐 에이징 프로그램</dt>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">힐 에이징 Detail</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">올인원 목주름</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">울써마지 PRP</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">울쎄라 pro</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">써마지 FLX 탄력관리</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">목주름 리프팅</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">베이비 페이스 테라피</a></dd>
					</dl>
				</li>
				<li class="sitemap__item">
					<dl class="stemap__dl">
						<dt class="sitemap__dt">윤곽 교정 프로그램</dt>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">윤곽 교정 프로그램 Detail</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">올인원 리프팅</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">인디언주름 필러</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">이미지필러</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">애교필러</a></dd>
					</dl>
				</li>
				<li class="sitemap__item">
					<dl class="stemap__dl">
						<dt class="sitemap__dt">모공 탄력 프로그램</dt>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">모공 탄력  Detail</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">올인원 올모공</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">굿바이 스카</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">성인여드림 퀵테라피</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">울트라 펄스*프락셀듀얼</a></dd>
					</dl>
				</li>
				<li class="sitemap__item">
					<dl class="stemap__dl">
						<dt class="sitemap__dt">미백/브라이트닝 프로그램</dt>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">미백/브라이트닝 Detail</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">올인원 테라피</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">올인원 토닝</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">광채토닝</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">물광치료 시스템</a></dd>
					</dl>
				</li>
				<li class="sitemap__item">
					<dl class="stemap__dl">
						<dt class="sitemap__dt">메디컬 스킨케어</dt>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">메디컬 스킨케어 Detail</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">웨딩 D-day</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">스트레스 OUT</a></dd>
					</dl>
				</li>
				<li class="sitemap__item">
					<dl class="stemap__dl">
						<dt class="sitemap__dt">Review</dt>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">포토갤러리</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">리얼후기</a></dd>
					</dl>
				</li>
				<li class="sitemap__item">
					<dl class="stemap__dl">
						<dt class="sitemap__dt">바노바기피부과</dt>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">진료철학</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">의료진소개</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">학술활동</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">진료안내/오시는길</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">보유장비소개</a></dd>
						<dd class="sitemap__dd"><a href="" class="sitemap__link">언록속의 바노바기</a></dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
