<%
	type = "detail"
	page = "contour"
%>
<% include ../_include/_header %>
<div class="onepage type-another">
	<div class="content-section type-visual contour-section0" data-section-name="contour-section0">
		<div class="inner-wrap">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="detail-visual">
							<h3 class="detail-visual__tit">
								BANOBAGI<br>
								contours<br>
								correction<br>
								<strong>DETAIL</strong>
							</h3>
							<p class="onepage__subtit detail-visual__subtit">
								아무도 모르게 달라지는 윤곽라인<br>
								미세한 차이로 더 아름답게
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="scroll type-detail">
			<div class="scroll__inner">
				<i class="scroll__ball"></i>
			</div>
			<p class="scroll__txt">SCROLL</p>
		</div>
	</div>
	<div class="content-section contour-section1" data-section-name="contour-section1">
		<div class="inner-wrap">
			<div class="onepage__box type-half type-r">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<h3 class="detail__tit contour-detail1__tit">
							<strong class="contour-detail1__color">수술하지 않고도</strong> 교정할 수 있습니다
						</h3>
						<p class="onepage__subtit contour-detail1__subtit">
							필러와 보톡스, 레이저 등 비수술적 방법의 조합
						</p>
						<p class="onepage__txt type-detail contour-detail1__txt">
							얼굴 윤곽 라인은 사실 아주 적은 변화에도 그 이미지가 달라 보이곤 합니다.
							굳이 수술을 하지 않아도 되는 셈이지요.
							물론 좀 더 적극적으로 드라마틱한 개선을 원하신다면 수술을 권유하겠지만
							티 내지 않고, 자연스러운 변화를 원한다면 단연 바노바기피부과지요.<br><br>

							바노바기피부과는 오랜 경험으로 필러와 보톡스, 윤곽주사, 실리프팅, 레이저 등을
							어느 부위에 어떻게 사용할 지를 너무나 잘 알고 있습니다.
							그래서 아주 능수능란하게 얼굴의 모양을 교정할 수 있습니다.
						</p>
					</div>
					<div class="detail__img2 contour-detail1__img">피부세포 이미지</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section contour-section2" data-section-name="contour-section2">
		<div class="inner-wrap">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<h3 class="detail__tit contour-detail2__tit">
							필러 명의, <strong class="contour-detail2__color">전희대 원장</strong>이 있습니다
						</h3>
						<p class="onepage__subtit contour-detail2__subtit">
							필러를 시술하는 의사는 많지만 정말 잘 하는 의사는 드뭅니다.
						</p>
						<p class="onepage__txt type-detail contour-detail2__txt">
							바노바기피부과 전희대 원장은 국내 피부과전문의들 사이에서 필러 명의로 통합니다.
							필러 시술을 좋아하고, 또 감각도 뛰어나며 워낙 시술 케이스가 많아서 전희대 원장의
							시술을 받아본 분들은 “무엇이 다른지 알 것 같다”고들 얘기합니다.
							<br><br>
							인디언주름 필러부터 얼굴전체에 시술하는 이미지필러 등
							전희대 원장이 먼저 시작했습니다. 그리고 그 노하우를 다른 의사들에게 강의합니다.
							비수술적 윤곽 교정은 필러 시술에서부터 시작합니다.
						</p>
					</div>
					<div class="detail__img2 contour-detail2__img">울쎄라,써마지 장비</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section contour-section3" data-section-name="contour-section3">
		<div class="inner-wrap">
			<div class="onepage__box type-half type-r">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<h3 class="detail__tit contour-detail3__tit">
							<strong class="contour-detail3__color">변화의 포인트</strong>를 알고 있습니다
						</h3>
						<p class="onepage__subtit contour-detail3__subtit">
							어느 부위를 시술할까를 결정하는 일, 믿고 맡기셔도 됩니다.
						</p>
						<p class="onepage__txt type-detail contour-detail3__txt">
							환자분들마다 선호하는 얼굴, 혹은 콤플렉스를 느끼는 부위가 다릅니다.
							원하는 부위를 개선할 수는 있지만 어느 부위를 정확하게 교정해야 더 아름다워질까,
							그 고민은 바노바기의료진에게 맡겨 주시기 바랍니다.
							<br><br>
							V라인이 더 어울리는지 혹은 부드러운 라인이 더 나을지, 앞광대에 볼륨이 필요한지,
							또 입꼬리 라인을 올려주면 좋을지, 눈 밑 애교살을 넣어줄지 말지,
							여러가지 변수에 대한 적절한 변화의 포인트를 바노바기는 잘 알고 있습니다.
						</p>
					</div>
					<div class="detail__img2 contour-detail3__img">피부과 원장님</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section contour-section4" data-section-name="contour-section4">
		<div class="inner-wrap">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<h3 class="detail__tit contour-detail4__tit">
							보다 <strong class="contour-detail4__color">신뢰</strong>의 치료법입니다.
						</h3>
						<p class="onepage__subtit contour-detail4__subtit">
							수술이 아니니까 회복 시간은 짧고 변화의 속도는 빠릅니다.
						</p>
						<p class="onepage__txt type-detail contour-detail4__txt">
							바노바기의 윤곽 교정 프로그램은 모두 마취 연고만 도포한 상태에서 시술합니다.
							통증은 개인차가 있지만 아파서 못하겠다는 얘기는 들어보지 못했습니다.
							비교적 간단한 시술이다 보니 회복 시간도 특별히 없고, 부기나 멍도 거의 없어서
							바로 변화와 만족을 느끼곤 합니다.<br><br>
							물론 보톡스나 일부 레이저 치료처럼 시간이 필요한 시술도 있습니다만
							빠른 변화를 원하신다면 일단 필러 시술부터 권해드립니다.
						</p>
					</div>
					<div class="detail__img2 contour-detail4__img">동안피부</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
