<%
	type = "content"
	page = "contour"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="container__wrap">
		<div class="content-visual type-cute">
			<div class="content-visual__box type-left">
				<div class="content-visual__wrap">
					<h2 class="content-visual__tit">
						바노바기 윤곽 교정
						<span class="content-visual__tit-point">애교<span class="inline-block">필러</span></span>
					</h2>
					<p class="content-visual__txt1">
						예쁘고 자연스러운 애교살은<br>
						동안과 귀여움의 상징!
					</p>
					<p class="content-visual__point">POINT</p>
					<p class="content-visual__txt2">
						멍 걱정 없이 눈 밑 애교살을 만드는<br class="hidden-m">
						바노바기의 특별한 필러 테크닉!
					</p>
				</div>
			</div>
			<div class="content-visual__box type-right">
				<div class="content-visual__img">애교필러 이미지</div>
			</div>
		</div>
		<!-- //content-visual-->
		<div class="content-seciton">
			<div class="cute-box1">
				<div class="content-top type-cute">
					<p class="content-top__subtit subtit-v1">멍이 거의 생기지 않는 정교한 필러 테크닉</p>
					<h2 class="content-top__tit tit-v1"><span class="color-cute1">애교</span> 필러</h2>
					<p class="content-top__txt txt-v1">
						주사 바늘이 아닌 30G 캐뉼라 및 애교살의 모양에 맞춰
						특수 고안한 애교 주름용 도구를 이용하여, 이름 그대로 멍이 생기지 않도록 정교하게
						애교살을 완성하는 바노바기 전희대 원장의 우수한 애교 필러 시술입니다.
					</p>
				</div>
				<!-- //content-top-->
			</div><!-- //cute-box1 -->
			<div class="cute-box2 box-style1">
				<div class="cute-box2__box">
					<p class="cute-box2__subtit subtit-v1">멍이 거의 없어 일상생활에 <span class="inline-block">지장을 주지 않는 애교필러를 통해</span></p>
					<h2 class="cute-box2__tit tit-v1">
						<span class="color-cute1">우수한 눈 밑 애교<br class="hidden-pt"> 시술</span>을<br class="hidden-m"> 만나보세요.
					</h2>
				</div>
				<ul class="cute-box2__list">
					<li class="cute-box2__item">
						<div class="vertical">
							우수한 시술 테크닉
						</div>
					</li>
					<li class="cute-box2__item">
						<div class="vertical">
							부작용이
							거의 없는
							간편한 시술
						</div>
					</li>
					<li class="cute-box2__item">
						<div class="vertical">
							동안이미지 완성
						</div>
					</li>
				</ul>
			</div>
			<div class="care-list1 box-style1 type-cute">
				<h2 class="care-list1__tit tit-v1">애교필러 <span class="color-cute1">시술 후 관리</span></h2>
				<ul class="care-list1__list">
					<li class="care-list1__item nth-1">
						<p class="care-list1__txt">
							시술 후 약 2주간 시술 부위에 압력이 가해지지 않도록 주의 바랍니다.
						</p>
					</li>
					<li class="care-list1__item nth-2">
						<p class="care-list1__txt">
							시술 후 약 일주일간 흡연과 음주를 삼가해 주시기 바랍니다.
						</p>
					</li>
				</ul>
			</div>
			<!-- //care-list1-->
			<div class="img-list5 box-style1 type-pb0">
				<h2 class="img-list5__tit tit-v1">
					높은 전문성과<br><span class="color-cute1">시술 테크닉의</span>우수성
				</h2>
				<p class="img-list5__txt txt-v1">
					바노바기는 심포지엄 강의, 세미나 발표, 시술 공개 시연 등 다양한 학술 · 학회 활동을 통해<br class="hidden-m">
					<strong>피부 관리에 대한 높은 전문성과 시술 테크닉의 우수성을 널리 인정받았습니다.</strong>
				</p>
				<ul class="img-list5__list">
					<li class="img-list5__item">
						<div class="img-list5__img">
							<img src="../../images/contour/cute/cute_technique1.jpg" alt="전희대원장" class="img-responsive">
						</div>
						<div class="img-list5__wrap">
							2008년 아시아 항노화학회 후<br>
							대만 CCTV 인터뷰(타이베이, 대만)
						</div>
					</li>
					<li class="img-list5__item">
						<div class="img-list5__img">
							<img src="../../images/contour/cute/cute_technique2.jpg" alt="전희대원장" class="img-responsive">
						</div>
						<div class="img-list5__wrap">
							2011년 제3차 국제 미세침습성형외과학회 (MIPS)<br>
							라이브 워크샵 강의(상해, 중국)
						</div>
					</li>
					<li class="img-list5__item">
						<div class="img-list5__img">
							<img src="../../images/contour/cute/cute_technique3.jpg" alt="전희대원장" class="img-responsive">
						</div>
						<div class="img-list5__wrap">
							2014년 5월 Secret of Beauty<br>
							 초청 강의
						</div>
					</li>
					<li class="img-list5__item">
						<div class="img-list5__img">
							<img src="../../images/contour/cute/cute_technique4.jpg" alt="전희대원장" class="img-responsive">
						</div>
						<div class="img-list5__wrap">
							2014년 6월 아시아 태평양 메디컬 에스테틱<br>
							콘퍼런스(APMAC) 강의
						</div>
					</li>
					<li class="img-list5__item">
						<div class="img-list5__img">
							<img src="../../images/contour/cute/cute_technique5.jpg" alt="전희대원장" class="img-responsive">
						</div>
						<div class="img-list5__wrap">
							제4회 APAS(쁘띠성형학회)<br>
							심포지엄 필러 시술 강의
						</div>
					</li>
					<li class="img-list5__item">
						<div class="img-list5__img">
							<img src="../../images/contour/cute/cute_technique6.jpg" alt="전희대원장" class="img-responsive">
						</div>
						<div class="img-list5__wrap">
							2013년 9월 볼벨라 론칭 심포지엄<br>
							이미지 필러 강의
						</div>
					</li>
				</ul>
			</div>
		</div>
		<% include ../_include/_bfaf %>
	</div>
</div>
<% include ../_include/_footer %>
