<%
	type = "content"
	page = "contour"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="container__wrap">
		<div class="content-visual type-filler">
			<div class="content-visual__box type-left">
				<div class="content-visual__wrap">
					<h2 class="content-visual__tit">
						바노바기 윤곽 교정
						<span class="content-visual__tit-point">이미지 <span class="inline-block">필러</span></span>
					</h2>
					<p class="content-visual__txt1">
						자연스러운 아름다움을 디자인하다!<br>
						어딘지 모르게 예뻐지는 토탈 필러 테라피
					</p>
					<p class="content-visual__point">POINT</p>
					<p class="content-visual__txt2">
						이미지 필러는 입체적이면서도 균형감이 느껴지는<br>
						아름다운 얼굴을 만들어주는 시술입니다.
					</p>
				</div>
			</div>
			<div class="content-visual__box type-right">
				<div class="content-visual__img">인디언필러 이미지</div>
			</div>
		</div>
		<!-- //content-visual-->
		<div class="content-seciton">
			<div class="filler-box1">
				<div class="content-top type-filler">
					<p class="content-top__subtit subtit-v1">얼굴의 한 부분이 아닌 전체적인 이미지를 디자인</p>
					<h2 class="content-top__tit tit-v1"><span class="color-filler1">이미지</span>필러</h2>
					<p class="content-top__txt txt-v1">
						이미지 필러는 이마 · 미간 · 코 · 볼 · 턱 등 얼굴 다양한 부위 중
						최소 세 군데 이상, 필요에 따라 더 많은 부위를 종합적으로 시술하여 입체적이면서도
						균형감이 느껴지는 아름다운 얼굴을 만들어주는 시술입니다.
					</p>
				</div>
				<!-- //content-top-->
			</div><!-- //filler-box1 -->
			<div class="circle-style3 type-filler box-style1">
				<h2 class="circle-style3__tit tit-v1">
					이미지 필러 <span class="color-filler1">시술부위</span>
				</h2>
				<ul class="circle-style3__list">
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/contour/filler/filler_area1.png" alt="이마" class="img-responsive">
						</div>
						<p class="circle-style3__subject">이마</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/contour/filler/filler_area2.png" alt="눈가" class="img-responsive">
						</div>
						<p class="circle-style3__subject">눈가</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/contour/filler/filler_area3.png" alt="볼" class="img-responsive">
						</div>
						<p class="circle-style3__subject">볼</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/contour/filler/filler_area4.png" alt="입가" class="img-responsive">
						</div>
						<p class="circle-style3__subject">입가</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/contour/filler/filler_area5.png" alt="목" class="img-responsive">
						</div>
						<p class="circle-style3__subject">목</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/contour/filler/filler_area6.png" alt="팔" class="img-responsive">
						</div>
						<p class="circle-style3__subject">팔</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/contour/filler/filler_area7.png" alt="옆구리" class="img-responsive">
						</div>
						<p class="circle-style3__subject">옆구리</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/contour/filler/filler_area8.png" alt="복부" class="img-responsive">
						</div>
						<p class="circle-style3__subject">복부</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/contour/filler/filler_area9.png" alt="엉덩이" class="img-responsive">
						</div>
						<p class="circle-style3__subject">엉덩이</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/contour/filler/filler_area10.png" alt="허벅지" class="img-responsive">
						</div>
						<p class="circle-style3__subject">허벅지</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/contour/filler/filler_area11.png" alt="복부" class="img-responsive">
						</div>
						<p class="circle-style3__subject">복부</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/contour/filler/filler_area12.png" alt="엉덩이" class="img-responsive">
						</div>
						<p class="circle-style3__subject">엉덩이</p>
					</li>
				</ul>
			</div><!-- //circle-style3-->
			<div class="comparison box-style1">
				<h2 class="comparison__tit tit-v1">일반적인 필러 VS <span class="color-filler1 inline-block">이미지 필러</span></h2>
				<div class="comparison__wrap">
					<div class="comparison__box nth-1">
						<div class="comparison__hexagon">
							<p class="comparison__txt">일반필러</p>
						</div>
						<ol class="comparison__list">
							<li class="comparison__item"><span class="comparison__subject">시술의 주안점 : </span><span class="comparison__txt2">볼륨감 증대 (지방이식의 연장 개념)</span></li>
							<li class="comparison__item"><span class="comparison__subject">강조 부위 : </span><span class="comparison__txt2">T존 강조</span></li>
							<li class="comparison__item"><span class="comparison__subject type-another">개요 : </span><span class="comparison__txt2 type-another">꺼진 부위에 필러를 채움으로써, 볼륨감을 높이고 입체적인 인상을 완성</span></li>
						</ol>
					</div>
					<div class="comparison__box nth-2">
						<div class="comparison__hexagon">
							<p class="comparison__txt">이미지 필러</p>
						</div>
						<ol class="comparison__list">
							<li class="comparison__item"><span class="comparison__subject">시술의 주안점 : </span><span class="comparison__txt2">비대칭 교정 (자연스러운 아름다움을 추구)</span></li>
							<li class="comparison__item"><span class="comparison__subject">강조 부위 : </span><span class="comparison__txt2">V라인 강조</span></li>
							<li class="comparison__item"><span class="comparison__subject type-another">개요 : </span><span class="comparison__txt2 type-another">얼굴 라인을 매끄럽게 만들어, 균형감 있고 좌우대칭적인 이미지를 완성</span></li>
						</ol>
					</div>
				</div>
			</div>
			<!-- //comparison-->
			<div class="filler-box3">
				<h2 class="filler-box3__tit tit-v1">
					바노바기 전희대 원장의<br>
					<strong>효과적인 필러 테크닉</strong>
				</h2>
				<p class="filler-box3__txt txt-v1">
					초얼굴 라인을 잡아주는 필러 테크닉에 대외적으로 이론과 실기를 정립한 바노바기는,<br class="hidden-m">
					본인의 고유한 모습을 유지하면서도 단점은 보완하고 매력적인 부분은 더욱 부각시킴으로써<br class="hidden-m">
					자연스러움과 아름다움을 추구합니다.
				</p>
				<ul class="filler-box3__list">
					<li class="filler-box3__item">
						<img src="../../images/contour/filler/filler_img2.jpg" alt="">
					</li>
					<li class="filler-box3__item">
						<img src="../../images/contour/filler/filler_img3.jpg" alt="">
					</li>
				</ul>
			</div>
			<!-- //filler-box3-->
			<div class="img-list4 type-filler box-style1">
				<h2 class="img-list4__tit">이미지필러의 <strong>장점</strong></h2>
				<ol class="img-list4__list">
					<li class="img-list4__item">
						<h3 class="img-list4__subject">자연스럽게 아름다워지는 변화</h3>
						<p class="img-list4__txt">
							다른 사람들의 관점에서 성형 의혹 없이 어딘지 모르게
							예뻐졌다고 반응할 정도로, 본인의 고유한 매력을 유지하면서
							자연스럽게 아름다워집니다.
						</p>
					</li>
					<li class="img-list4__item">
						<h3 class="img-list4__subject">오랫동안 지속되는 시술 효과</h3>
						<p class="img-list4__txt">
							시술 후 비교적 빠른 시술 효과가 나타나며, 다이어트를 해도
							얼굴 살이 빠지거나 거의 처지지 않습니다.
						</p>
					</li>
					<li class="img-list4__item">
						<h3 class="img-list4__subject">시술 후 비교적 빠른 일상 복귀 가능</h3>
						<p class="img-list4__txt">
							이미지 필러는 멍 · 부기 · 통증 등의 부작용이 거의 없어,
							바쁜 현대인들에게 적합한 주사 시술입니다.
						</p>
					</li>
					<li class="img-list4__item">
						<h3 class="img-list4__subject">균형감이 느껴지는 디테일한 교정</h3>
						<p class="img-list4__txt">
							 입술 라인 및 눈 밑 애교 등에서의 섬세한 균형감을 살림으로써 전체적으로 조화로운 이미지를 완성합니다.
						</p>
					</li>
				</ol>
			</div>
			<!-- //img-list4-->
			<div class="care-list1 box-style1 type-pb0 type-filler">
				<h2 class="care-list1__tit tit-v1">이미지필러 <span class="color-filler1">시술 후 관리</span></h2>
				<ul class="care-list1__list">
					<li class="care-list1__item nth-1">
						<p class="care-list1__txt">
							시술 후 약 12시간 동안은 화장을 하지 않는 것이 좋습니다.
						</p>
					</li>
					<li class="care-list1__item nth-2">
						<p class="care-list1__txt">
							시술 후 약 2~3일간은 과도한 운동을 피해주시기 바랍니다.
						</p>
					</li>
					<li class="care-list1__item nth-3">
						<p class="care-list1__txt">
							시술 후 당분간 음주나 흡연을 삼가주시기 바랍니다.
						</p>
					</li>
					<li class="care-list1__item nth-4">
						<p class="care-list1__txt">
							외출 시 반드시 자외선 차단제를 바르고 강한 햇빛과 열기는 피해주시기 바랍니다.
						</p>
					</li>
					<li class="care-list1__item nth-5">
						<p class="care-list1__txt">
							시술 부위에 부기가 있을 경우, 냉찜질을 하는 것이 좋습니다.
						</p>
					</li>
				</ul>
			</div>
			<div class="img-list5 box-style1 type-pb0">
				<h2 class="img-list5__tit tit-v1">
					높은 전문성과<br><span class="color-filler1">시술 테크닉의</span>우수성
				</h2>
				<p class="img-list5__txt txt-v1">
					바노바기는 심포지엄 강의, 세미나 발표, 시술 공개 시연 등 다양한 학술 · 학회 활동을 통해<br class="hidden-m">
					<strong>피부 관리에 대한 높은 전문성과 시술 테크닉의 우수성을 널리 인정받았습니다.</strong>
				</p>
				<ul class="img-list5__list">
					<li class="img-list5__item">
						<div class="img-list5__img">
							<img src="../../images/contour/filler/filler_technique1.jpg" alt="전희대원장" class="img-responsive">
						</div>
						<div class="img-list5__wrap">
							<span class="img-list5__date">2013.06.30</span>
							필리핀(PHI) 의사 초청 강연 이미지 필러 라이브 시연
						</div>
					</li>
					<li class="img-list5__item">
						<div class="img-list5__img">
							<img src="../../images/contour/filler/filler_technique2.jpg" alt="전희대원장" class="img-responsive">
						</div>
						<div class="img-list5__wrap">
							<span class="img-list5__date">2013.09.14</span>
							Volbella 론칭 기념 세미나 Dr.Jeon’s 이미지 필러
						</div>
					</li>
					<li class="img-list5__item">
						<div class="img-list5__img">
							<img src="../../images/contour/filler/filler_technique3.jpg" alt="전희대원장" class="img-responsive">
						</div>
						<div class="img-list5__wrap">
							<span class="img-list5__date">2013.09.28</span>
							제 5차 APAS CONGRESS 강연 이미지 필러 라이브 시연
						</div>
					</li>
					<li class="img-list5__item">
						<div class="img-list5__img">
							<img src="../../images/contour/filler/filler_technique4.jpg" alt="전희대원장" class="img-responsive">
						</div>
						<div class="img-list5__wrap">
							제 16차 대한피부과 의사회 추계심포지엄<br>
							2013年 11月3日 필러로 디자인하다, 이미지필러
						</div>
					</li>
					<li class="img-list5__item">
						<div class="img-list5__img">
							<img src="../../images/contour/filler/filler_technique5.jpg" alt="전희대원장" class="img-responsive">
						</div>
						<div class="img-list5__wrap">
							<span class="img-list5__date">2013.11.23</span>
							인도네시아 (IND) 의사 초청 강연 및 라이브 필러 시술
						</div>
					</li>
					<li class="img-list5__item">
						<div class="img-list5__img">
							<img src="../../images/contour/filler/filler_technique6.jpg" alt="전희대원장" class="img-responsive">
						</div>
						<div class="img-list5__wrap">
							<span class="img-list5__date">2014.03.16</span>
							서울성모병원 Vycross forum 이미지 필러 강연 및 라이브 필러 시술
						</div>
					</li>
				</ul>
			</div>
			<!-- //img-list5 -->
		</div>
		<% include ../_include/_bfaf %>
	</div>
</div><!-- //container -->
<% include ../_include/_footer %>
