<%
	type = "content"
	page = "contour"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="container__wrap">
		<div class="content-visual type-indian">
			<div class="content-visual__box type-left">
				<div class="content-visual__wrap">
					<h2 class="content-visual__tit">
						바노바기 윤곽 교정
						<span class="content-visual__tit-point">인디언 <span class="inline-block">주름</span></span>
					</h2>
					<p class="content-visual__txt1">
						입체적인 동안 페이스를 완성하는<br>
						인디언 주름 치료 솔루션
					</p>
					<p class="content-visual__point">POINT</p>
					<p class="content-visual__txt2">
						유지인대에 대한 올바른 이해와 원리를 응용하여<br>
						까다로은 인디언 주름도 안전하고 효과적으로 치료
					</p>
				</div>
			</div>
			<div class="content-visual__box type-right">
				<div class="content-visual__img">인디언필러 이미지</div>
			</div>
		</div>
		<!-- //content-visual-->
		<div class="content-seciton">
			<div class="indian-box1">
				<div class="content-top type-indian">
					<p class="content-top__subtit subtit-v1">바노바기 전희대 원장의 핵심 필러테크닉 </p>
					<h2 class="content-top__tit tit-v1"><span class="color-indian1">인디언 주름</span><br>(INDIAN BAND)</h2>
					<p class="content-top__txt txt-v1">
						인디언 주름 치료에 대한 이론과 실기를 확립한 바노바기 전희대 원장은 치료하기 까다로운
						인디언 주름을 효과적으로 치료함으로써 작아보이고 어려 보이는 입체적인 동안 페이스를 만듭니다.
					</p>
				</div>
				<ul class="indian-box1__list">
					<li class="indian-box1__item">
						<div class="vertical">
							입체적인<br>
							동안페이스
						</div>
					</li>
					<li class="indian-box1__item">
						<div class="vertical">
							호감을 주는<br>
							인상
						</div>
					</li>
				</ul>
				<!-- //content-top-->
			</div><!-- //indian-box1 -->
			<div class="indian-box2 box-style1 type-pb0">
				<div class="indian-box2__wrap">
					<h2 class="indian-box2__tit tit-v1">인디언 주름, <span class="color-indian2 inline-block">왜 생기는 걸까요?</span></h2>
					<p class="indian-box2__txt txt-v1">
						우리의 얼굴에는 피부와 뼈사이에 존재하는 유지인대라는것이 존재합니다.<br class="hidden-m">
						유지인대는 가지를 많이 뻗은 나무처럼 생겼으며 피부가 처지지 않게 잡아주는 역할을 합니다.
					</p>
				</div>
				<div class="indian-box2__img">
					인디언주름 - 피부,피하지방,SMAS층,유지인대,뼈
				</div>
			</div><!-- //indian-box2 -->
			<div class="indian-box3">
				<p class="indian-box3__txt subtit-v1">
					눈 아래 부분의 눈물고랑 인대와 광대뼈 부위의 광대 피부 인대의 작용으로 인해, 피하지방이
					위아래로 나뉘면서 눈물고랑이 생기고 인디언 주름이 나타나게 됩니다.
				</p>
			</div>
			<!-- //indian-box3 -->
			<div class="indian-box4 box-style1">
				<div class="indian-box4__box">
					<h2 class="indian-box4__tit tit-v1">
						인상의<br class="hidden-m">
						<span class="color-indian1">호감도를 <br class="hidden-pt">결정</span>하는
						미드 페이스
					</h2>
					<p class="indian-box4__txt txt-v1">
						안면 중앙 부위는 상대방으로 하여금 호감도를 결정짓게 하는 중요한
						부위입니다. 때문에 안면 중앙에 흉터가 있거나 인디언 주름이 있을 경우
						날카롭고 투박한 이미지 혹은 피곤해 보이고 우울해 보이는
						인상이 될 수 있습니다.
					</p>
					<p class="indian-box4__txt2">
						특히 동양인은 대체로 광대뼈가 많이 돌출되어 있는데,
						인디언 주름은 광대뼈 부위를 더욱 돋보이게 하는 요소로써
						얼굴이 더 넓어 보이게 만듭니다.
					</p>
				</div>
			</div>
			<div class="indian-box5 box-style1">
				<h2 class="indian-box5__tit tit-v1">인디언 주름의 <span class="color-indian1">올바른 치료방법</span></h2>
				<p class="indian-box5__txt txt-v1">
					인디언 주름을 치료하기 위해서는 피하공간을 충분히 확보하고 효과적인 주입을 통해<br class="hidden-m">
					볼륨을 높일 수 있어야 하는데 이러한 조건을 모두 갖춘 것이 필러 시술입니다.
				</p>
				<ul class="indian-box5__list">
					<li class="indian-box5__item type-img">
						유지인대 이미지
					</li>
					<li class="indian-box5__item type-txt">
						<div class="vertical clear-t">유지인대가 빽빽한 곳에는 고랑이 반대로
							유지인대가 느슨한 곳에는 능선이 생깁니다.
							이것을 모두 고르게 펴주는 테크닉이 바로
							피하 공간 확보술 입니다.	</div>
					</li>
				</ul>
				<p class="indian-box5__noti">인디언 주름은 어릴 때 생길수록, 색의 변성이 있을수록, 주름의 폭이 넓거나 깊이가 깊을수록, 주름의 위치가 눈가보다 광대뼈 쪽에 가까울수록 치료의 난이도가 올라갑니다.</p>
			</div>
			<!-- //indian-box5 -->
			<div class="indian-box6">
				<p class="indian-box6__subtit">2007년부터 인디언 주름 치료에 대한 연구를 진행해 온<br class="hidden-m"> 바노바기 전희대 원장은</p>
				<h2 class="indian-box6__tit">
					유지인대에 대한 올바른 이해와
					원리를 응용하여 까다로운<br class="hidden-tm">
					인디언 주름도 <span class="indian-box6__point">안전하고 효과적으로
						치료</span>할 수 있습니다.
				</h2>
			</div>
			<!-- //indian-box6-->
			<div class="img-list5 box-style1 type-pb0">
				<h2 class="img-list5__tit tit-v1">
					대외적으로 널리<br class="hidden-pt"> 인정받은<br class="hidden-m"> <span class="color-indian1">우수한 테크닉</span>
				</h2>
				<p class="img-list5__txt txt-v1">
					인디언 주름 치료의 핵심 포인트인 피하 공간 확보술은, 캐뉼라를 이용하여 혈관과 신경의 손상 없이<br class="hidden-tm">
					필러가 적절한 위치에 안착할 수 있게 만들어주는 특별한 필러 시술 테크닉입니다.<br class="hidden-tm">
					<strong>바노바기의 전희대 원장이 이단어를 고안해 많은 강의와 라이브 시술 시연을 했고 대외적으로 널리 호평을 받았습니다.</strong>
				</p>
				<ul class="img-list5__list">
					<li class="img-list5__item">
						<div class="img-list5__img">
							<img src="../../images/contour/indian/indian_img5.jpg" alt="전희대원장" class="img-responsive">
						</div>
						<div class="img-list5__wrap">
							<span class="img-list5__date">2013.07.13</span>
							HUGEL 초청 강연 ‘필러를 이용한 인디언 주름의 교정 방법’
						</div>
					</li>
					<li class="img-list5__item">
						<div class="img-list5__img">
							<img src="../../images/contour/indian/indian_img6.jpg" alt="전희대원장" class="img-responsive">
						</div>
						<div class="img-list5__wrap">
							<span class="img-list5__date">2013.09.04</span>
							HUGEL 초청 강연 ‘인디언 주름에 대한 치료 노하우’
						</div>
					</li>
					<li class="img-list5__item">
						<div class="img-list5__img">
							<img src="../../images/contour/indian/indian_img7.jpg" alt="전희대원장" class="img-responsive">
						</div>
						<div class="img-list5__wrap">
							<span class="img-list5__date">2013.11.23</span>
							인도네시아 의사 초청 강연 및 라이브필러 시술
						</div>
					</li>
					<li class="img-list5__item">
						<div class="img-list5__img">
							<img src="../../images/contour/indian/indian_img8.jpg" alt="전희대원장" class="img-responsive">
						</div>
						<div class="img-list5__wrap">
							<span class="img-list5__date">2014.05.23</span>
							중국 광동 제2인민병원 강의 ‘ 한국 필러 시술의 최신 경향’
						</div>
					</li>
				</ul>
			</div>
		</div>

	</div>
</div><!-- //container-->
<% include ../_include/_footer %>
