<%
	type = "content"
	page = "contour"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="container__wrap">
		<div class="content-visual type-lifting">
			<div class="content-visual__box type-left">
				<div class="content-visual__wrap">
					<h2 class="content-visual__tit">
						바노바기 윤곽 교정
						<span class="content-visual__tit-point">올인원<br class="hidden-p">리프팅</span>
					</h2>

					<p class="content-visual__txt1">
						주름을 모르는 피부 탄력!<br>
						볼륨감이 살아 있는 동안 페이스!
					</p>
					<p class="content-visual__point">POINT</p>
					<p class="content-visual__txt2">
						써마지 FLX, 프락셀 듀얼 레이저 시술과 같이 하시면, 모든 피부층의
						주름을 치료하는 효과가 있습니다.
					</p>
				</div>
			</div>
			<div class="content-visual__box type-right">
				<div class="content-visual__img">올인원 리프팅 이미지</div>
			</div>
			<div class="content-visual__box type-left type-another">
				<div class="content-visual__table">
					<h3 class="content-visual__subject">올인원리프팅 주요시술</h3>
				</div>
			</div>
			<div class="content-visual__box type-right type-another">
				<ul class="content-table">
					<li class="content-table__item">
						<div class="content-table__tr">
							<div class="content-table__th">더블로 리프팅</div>
							<div class="content-table__td">콜라겐 리모델링을 통한 피부 개선 효과</div>
						</div>
					</li>
					<li class="content-table__item">
						<div class="content-table__tr">
							<div class="content-table__th">이미지 필러</div>
							<div class="content-table__td">볼륨감 증대 및 비대칭 교정 효과</div>
						</div>
					</li>
					<li class="content-table__item">
						<div class="content-table__tr">
							<div class="content-table__th">브이 리프트</div>
							<div class="content-table__td">리프팅 및 타이트닝 효과</div>
						</div>
					</li>
				</ul>
				<!-- //content-table-->
			</div>
		</div>
		<!-- //content-visual-->
		<div class="content-seciton">
			<div class="allinone-box1">
				<div class="content-top">
					<p class="content-top__subtit subtit-v1">이미지 필러, 더블로 레이저, 브이 리프트 등을<span class="inline-block"> 복합적으로 이용</span></p>
					<h2 class="content-top__tit tit-v1">바노바기 <span class="color-allinone1">안티에이징<br> 종합리프팅</span></h2>
					<p class="content-top__txt txt-v1">
						개인의 특징에 따라 나이 들어 보이는 포인트를 정밀하게<br class="hidden-pt"> 포착하여,<br class="hidden-m">
						부족한 볼륨을 채우고 처진 피부를 리프팅하여 줄어든 <span class="inline-block">피부를 강화합니다.</span>
					</p>
					<ul class="allinone-box1__list">
						<li class="allinone-box1__item type-left">
							<p class="allinone-box1__txt vertical">부족한 볼륨을 채우고 처진 피부를 리프팅</p>
						</li>
						<li class="allinone-box1__item type-right">
							<p class="allinone-box1__txt vertical">이마, 눈가, 팔자주름 등 주름 개선</p>
						</li>
					</ul>
				</div>
				<!-- //content-top-->
			</div><!-- //allinone-box1 -->
			<div class="allinone-box2 box-style1 type-pt0">
			 	<div class="allinone-box2__box">
			 		<h2 class="allinone-box2__tit tit-v1">
			 			시간을 되돌리는<br>
			 			<span class="color-allinone1">안티에이징 솔루션</span>
			 		</h2>
						<p class="allinone-box2__txt txt-v1">
							피부의 탄력과 얼굴의 볼륨감을 효과적으로 유지할 수 있다면,<br>
							노화는 아무 것도 아닙니다.
						</p>
			 	</div>
			 	<ul class="allinone-box2__list">
			 		<li class="allinone-box2__item">
			 			<ul class="solution__list">
			 				<li class="solution__item nth-1">
			 					<div class="solution__box">
			 						<div class="solution__wrap">
			 							<h3 class="solution__tit">콜라겐 감소</h3>
			 											<p class="solution__txt">피부 탄력 저하, 넓어진 모공 등</p>
			 						</div>
			 					</div>
			 				</li>
			 								<li class="solution__item nth-2">
			 					<div class="solution__box">
			 						<div class="solution__wrap">
			 							<h3 class="solution__tit">더블로 리프팅</h3>
			 											<p class="solution__txt">콜라겐 리모델링을 통한 피부 개선 효과</p>
			 						</div>
			 					</div>
			 				</li>
			 			</ul>
			 		</li>
			 						<!-- //allinone-box2__item-->
			 						<li class="allinone-box2__item">
			 			<ul class="solution__list">
			 				<li class="solution__item nth-3">
			 					<div class="solution__box">
			 						<div class="solution__wrap">
			 							<h3 class="solution__tit">볼륨 감소</h3>
			 											<p class="solution__txt">눈 밑 꺼짐, 인디언 주름, 팔자주름, 마리오네트 주름 등</p>
			 						</div>
			 					</div>
			 				</li>
			 								<li class="solution__item nth-4">
			 					<div class="solution__box">
			 						<div class="solution__wrap">
			 							<h3 class="solution__tit">이미지 필러</h3>
			 											<p class="solution__txt">볼륨감 증대 및 비대칭 교정 효과</p>
			 						</div>
			 					</div>
			 				</li>
			 			</ul>
			 		</li>
			 						<!-- //allinone-box2__item-->
			 						<li class="allinone-box2__item">
			 			<ul class="solution__list">
			 				<li class="solution__item nth-5">
			 					<div class="solution__box">
			 						<div class="solution__wrap">
			 							<h3 class="solution__tit">피부 처짐</h3>
			 											<p class="solution__txt">눈가 처짐, 볼 처짐, 턱 라인 처짐 이중턱 등</p>
			 						</div>
			 					</div>
			 				</li>
			 								<li class="solution__item nth-6">
			 					<div class="solution__box">
			 						<div class="solution__wrap">
			 							<h3 class="solution__tit">브이 리프트</h3>
			 											<p class="solution__txt">리프팅 및 타이트닝 효과</p>
			 						</div>
			 					</div>
			 				</li>
			 			</ul>
			 		</li>
			 						<!-- //allinone-box2__item-->
			 	</ul>
			</div><!-- //allinone-box2 -->
			<div class="allinone-box3 box-style1">
				<h3 class="allinone-box3__tit tit-v1">올인원 리프팅 <span class="color-allinone1">시술과정</span></h3>
				<ul class="allinone-box3__list">
					<li class="allinone-box3__item nth-1">
						<div class="allinone-box3__wrap">
							<div class="allinone-box3__img">리프팅 1주차 이미지</div>
							<div class="allinone-box3__box">
								<h4 class="allinone-box3__subject">1주차</h4>
								<p class="allinone-box3__txt">더블로 리프팅 + 보톡스</p>
							</div>
						</div>
					</li>
					<li class="allinone-box3__item nth-2">
						<div class="allinone-box3__wrap">
							<div class="allinone-box3__img">리프팅 2주차 이미지</div>
							<div class="allinone-box3__box">
								<h4 class="allinone-box3__subject">2주차</h4>
								<p class="allinone-box3__txt">이미지 필러</p>
							</div>
						</div>
					</li>
					<li class="allinone-box3__item nth-3">
						<div class="allinone-box3__wrap">
							<div class="allinone-box3__img">리프팅 3주차 이미지</div>
							<div class="allinone-box3__box">
								<h4 class="allinone-box3__subject">3주차</h4>
								<p class="allinone-box3__txt">브이리프트</p>
							</div>
						</div>
					</li>
					<li class="allinone-box3__item nth-4">
						<div class="allinone-box3__wrap">
							<div class="allinone-box3__img">4주차</div>
							<div class="allinone-box3__box">
								<h4 class="allinone-box3__subject">4주차</h4>
								<p class="allinone-box3__txt">이미지 필러 리터치</p>
							</div>
						</div>
					</li>
				</ul>
				<div class="content-info">
					<div class="content-info__box type-subject">
						<div class="vertical clear-t">
							<h3 class="content-info__tit">
								올인원리프팅<br class="hidden-tm"> 시술안내
							</h3>
						</div>
					</div>
					<div class="content-info__box type-list">
						<div class="vertical clear-t">
							<ul class="content-info__list">
								<li class="content-info__item txt-v1">더블로 리프팅 대신 울쎄라 리프팅을 선택하여 진행할 수 있습니다.</li>
								<li class="content-info__item txt-v1">총 4회 내원하셔서 치료를 받습니다.</li>
								<li class="content-info__item txt-v1">치료 순서와 방법은 개인에 따라 변경될 수 있으며, 그에 따른 추가 비용이 발생할 수 있습니다. </li>
							</ul>
						</div>
					</div>
				</div><!-- //content-info"-->
			</div>
			<div class="allinone-box4 box-style1 type-pb0">
				<p class="allinone-box4__subtit subtit-v1">
					세밀한 진단이 <span class="color-allinone2">만족스러운 시술 결과</span>를 만듭니다.
				</p>
				<h3 class="allinone-box4__tit tit-v1 type-bar">더마비전 (DermaVision)</h3>
				<p class="allinone-box4__txt txt-v1">
					더마비전은 디지털 카메라를 통해 환자의 피부 상태를  면밀하게 분석하는 피부 정밀검사 기기입니다.<br class="hidden-tm">
					바노바기는 더마비전을 통해 환자의 상태를 진단하고, 증상에 따른 적절한 치료를 맞춤식으로 진행합니다.
				</p>
				<div class="allinone-box4__img">
					더마비전 이미지
				</div>
			</div>
			<!-- //allinone-box4-->
			<div class="allinone-box5 box-style1">
				<p class="allinone-box5__subtit subtit-v3">BANOBAGI ALL IN ONE LIFTING</p>
				<h3 class="allinone-box5__tit tit-v3">올인원 리프팅 <strong>메인시술</strong></h3>
				<div class="img-list1 type-lifting">
					<ul class="img-list1__list">
						<li class="img-list1__item nth-1">
							<div class="img-list1__box">
								<div class="img-list1__wrap">
									<h4 class="img-list1__tit">더블로 리프팅</h4>
									<p class="img-list1__txt txt-v1">
										<span>SMAS층의 수축 효과와 지속적인 피부 재생 효과</span>를 동시에 얻을 수 있어 안티에이징 시술로 곽광받고 있습니다.
									</p>
									<ul class="img-list1__area">
										<li class="img-list1__bullet">초음파 영상을 통해 시술이 진행되므로, 개인에 따른 맞춤식 치료가 가능합니다.</li>
										<li class="img-list1__bullet">KFDA의 승인을 받은 안전한 시술로 부작용이 적고 회복이 빠릅니다.</li>
										<li class="img-list1__bullet">한 번의 시술로 콜라겐과 엘라스틴 생성이 촉진되며, 이 효과는 약 일 년 이상 지속됩니다.</li>
									</ul>
								</div>
							</div>
						</li>
						<li class="img-list1__item nth-2">
							<div class="img-list1__box">
								<div class="img-list1__wrap">
									<h4 class="img-list1__tit">이미지 필러</h4>
									<p class="img-list1__txt txt-v1">
										다양한 얼굴 부위에 필러를 시술하며,  <span>바노바기 피부과의 세밀한 진료와 전희대 원장의 뛰어난 테크닉</span>으로
										입체적이면서도 균형감이 느껴지는 얼굴을 완성합니다.
									</p>
									<ul class="img-list1__area">
										<li class="img-list1__bullet">본인의 고유한 매력을 유지하면서도 자연스럽게 아룸다워집니다.</li>
										<li class="img-list1__bullet">FDA의 승인을 받은 쥬비덤 필러를 사용하므로 시술 효과가 최대 2년 이상 지속됩니다.</li>
										<li class="img-list1__bullet">멍, 부기, 통증 등의 부작용이 거의 없어, 일상으로의 빠른 복귀가 가능합니다. </li>
									</ul>
								</div>
							</div>
						</li>
						<li class="img-list1__item nth-3">
							<div class="img-list1__box">
								<div class="img-list1__wrap">
									<h4 class="img-list1__tit">더블로 리프팅</h4>
									<p class="img-list1__txt txt-v1">
										인체에 무해한 의료용 실 (PDO/Polydioxanone)을 피부에 주입하여 <span>피부 처짐을 막고
											얼굴의 각종 주름을 개선</span>하여 동안 페이스를 만들어주는 실 리프팅입니다.
									</p>
									<ul class="img-list1__area">
										<li class="img-list1__bullet">실을 주입한 방향과 리프팅 강도를 조절하는 1:1 개인 맞춤식 시술이 가능합니다.</li>
										<li class="img-list1__bullet">시술 후 비교적 빠른 일상생활이 가능하며, 뛰어난 리프팅 효과를 얻을 수 있습니다.</li>
										<li class="img-list1__bullet">실이 흡수되면서 주변에 콜라겐을 생성시키므로, 피부 톤과 피부 탄력이 개선됩니다.</li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</div><!-- //img-list1-->
			</div><!-- //allinone-box5-->
		</div>
		<% include ../_include/_bfaf %>
	</div>
</div>
<% include ../_include/_footer %>
