<%
	type = "introduce"
	page = "board"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="gear">
		<div class="gear__visual">
			<div class="gear__visual-wrap">
				<div class="vertical clear-t">
					<h2 class="gear__visual-tit">보유 장비 소개</h2>
					<p class="gear__visual-txt">
						바노바기 피부과는 첨단 레이저 기기와 의료장비를 보유하여
						환자 맞춤 의료서비스를 제공해 드리고 있습니다.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container__wrap type-another">
		<ul class="gear__list">
			<li class="gear__item">
				<div class="gear__box type-img">
					<div class="gear__img">
						<img src="../../images/introduce/gear/gear_img1.jpg" alt="울트라펄스 - BEST,미FDA승인,한KFDA승인" class="img-responsive">
					</div>
				</div>
				<div class="gear__box type-txt">
					<table class="gear__table">
						<colgroup>
							<col class="gear__th-w">
							<col class="gear__td-w">
						</colgroup>
						<tbody>
							<tr class="gear__tr type-tit">
								<th class="gear__th">장비명</th>
								<td class="gear__td">울트라펄스 (Ultra Pulse)</td>
							</tr>
							<tr class="gear__tr type-content">
								<th class="gear__th">내용</th>
								<td class="gear__td">
									기존 프락셔널 레이저보다 우수한 에너지로
									풍부한 콜라겐 재생 
								</td>
							</tr>
							<tr class="gear__tr type-effect">
								<th class="gear__th">효과</th>
								<td class="gear__td">흉터치료 / 모공축소 / 주름 선 / 튼살치료 / 피부결 개선 / 콜라겐 재생효과</td>
							</tr>
						</tbody>
					</table>
				</div>
			</li>
			<li class="gear__item">
				<div class="gear__box type-img">
					<div class="gear__img">
						<img src="../../images/introduce/gear/gear_img1.jpg" alt="울트라펄스 - BEST,미FDA승인,한KFDA승인" class="img-responsive">
					</div>
				</div>
				<div class="gear__box type-txt">
					<table class="gear__table">
						<colgroup>
							<col class="gear__th-w">
							<col class="gear__td-w">
						</colgroup>
						<tbody>
							<tr class="gear__tr type-tit">
								<th class="gear__th">장비명</th>
								<td class="gear__td">울트라펄스 (Ultra Pulse)</td>
							</tr>
							<tr class="gear__tr type-content">
								<th class="gear__th">내용</th>
								<td class="gear__td">
									기존 프락셔널 레이저보다 우수한 에너지로
									풍부한 콜라겐 재생 화상흉터부터 여드름 흉터,
									모공 치료까지 뛰어난 치료 효과
								</td>
							</tr>
							<tr class="gear__tr type-effect">
								<th class="gear__th">효과</th>
								<td class="gear__td">흉터치료 / 모공축소</td>
							</tr>
						</tbody>
					</table>
				</div>
			</li>
		</ul>
		<!-- pagination-->
		<div class="pagination">
			<ul class="pagination__list">
				<li class="pagination__item pagination__item-first">
					<a href="" class="pagination__link">처음</a>
				</li>
				<li class="pagination__item pagination__item-prev">
					<a href="" class="pagination__link">이전</a>
				</li>
				<li class="pagination__item pagination__item-num is-active">
					<a href="" class="pagination__link">1</a>
				</li>
				<li class="pagination__item pagination__item-num is-acitve">
					<a href="" class="pagination__link">2</a>
				</li>
				<li class="pagination__item pagination__item-num">
					<a href="" class="pagination__link">3</a>
				</li>
				<li class="pagination__item pagination__item-num">
					<a href="" class="pagination__link">4</a>
				</li>
				<li class="pagination__item pagination__item-num">
					<a href="" class="pagination__link">5</a>
				</li>
				<li class="pagination__item pagination__item-next">
					<a href="" class="pagination__link">다음</a>
				</li>
				<li class="pagination__item pagination__item-last">
					<a href="" class="pagination__link">마지막</a>
				</li>
			</ul>
		</div>
		<!-- //pagination -->
	</div>
</div>
<% include ../_include/_footer %>
