<%
	type = "introduce"
	page = "location"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h2 class="container__tit type-location">오시는 길 및 진료안내</h2>
		<p class="container__txt">역삼역 6번출구 바노바기 피부과</p>
	</div>
	<% include ../_include/_lnb %>
	<div class="dim type-sms">딤처리</div>
	<div class="map__wrap">
		<div class="map-box">
			<div id="map"></div> <!-- //Google Map -->
			<div class="map-motion__fake">
				<div class="map-motion__bg">
					<p class="map-motion__noti">지도를 움직이려면 클릭해 주세요</p>
				</div>
			</div>
		</div>
		<div class="map__box">
			<div class="map__info">
				<p class="map__info-kor">서울특별시 강남구 논현로 517<br class="hidden-m"> 바노바기 빌딩</p>
				<p class="map__info-eng">517 Nonhyeon-Ro, Gangnam-Gu, Seoul Korea</p>
				<p class="map__info-tel"><span>TEL</span>1588-6508 · 02-562-6001</p>
				<ul class="map__info-list">
					<li class="map__ifno-item"><a href="http://blog.naver.com/banobagips/220879400530" target="_blank" class="map__info-link type-1">네이버</a></li>
					<li class="map__ifno-item hidden-tm"><a href="#" class="map__info-link type-2" onClick="open_win()">프린트</a></li>
					<li class="map__ifno-item"><a href="" class="map__info-link type-3 js-sms-open">SMS</a></li>
				</ul>
				<div>
					<a href="" class="counseling-btn type-another js-consultation">상담신청</a>
				</div>
			</div>
		</div>
	</div><!-- //map__wrap -->
	<div class="container__wrap type-another">
		<div class="location">
			<div class="location__info">
				<ul class="location__list">
					<li class="location__item location__item-img1">
						<h2 class="location__tit">진료안내</h2>
						<div class="location__box">
							<dl class="location__dl">
								<dt class="location__dt">평&nbsp;&nbsp;&nbsp;&nbsp;일</dt>
								<dd class="location__dd">AM 10:00 ~ PM 7:00</dd>
								<dt class="location__dt">화&nbsp;,&nbsp;&nbsp;금</dt>
								<dd class="location__dd night">AM 10:00 ~ PM 8:30</dd>
								<dt class="location__dt">토요일</dt>
								<dd class="location__dd">AM 10:00 ~ PM 3:00</dd>
							</dl>
							<span class="location__notice">※ 공휴일 및 일요일은 휴진입니다.</span>
						</div>
					</li>
					<li class="location__item location__item-img2">
						<h2 class="location__tit">버스</h2>
						<p class="location__txt">
							<strong class="bus-color1">간선버스</strong> 146, 147, 242, 341, 360, 463, 740, N13(심야), N61(심야), <br class="hidden-pt"><strong class="bus-color2">지선버스</strong> 4211, <br class="hidden-p hidden-m"><strong class="bus-color3">공항버스</strong> 6000, 6020,<br class="hidden-p"><strong class="bus-color4">직행버스</strong> 1100, 1700, 2000, 2000-1, 3600, 7007, 8001, 9303, 9600
						</p>
					</li>
					<li class="location__item location__item-img3">
						<h2 class="location__tit">지하철</h2>
						<p class="location__txt subway type-2">역삼역 6번 출구로 나와서 <span class="inline-block">100m 정도 직진</span></p>
						<p class="location__txt subway type-9">언주역 7번 출구로 나와서 <span class="inline-block">400m 정도 직진</span></p>
					</li>
					<li class="location__item location__item-img4">
						<h2 class="location__tit">자가용</h2>
						<p class="location__txt">자가용 이용 고객님께는 발렛파킹 서비스를 제공해 드립니다.</p>
					</li>
				</ul>
			</div>
			<div class="clinic">
				<div class="clinic__area">
					<div class="clinic__box">
						<div class="clinic__wrap">
							<div class="clinic__header">
								<div class="clinic__vertical">
									<h3 class="clinic__tit">피부과 진료안내</h3>
								</div>
							</div>
							<div class="clinic__body">
								<div class="clinic__vertical">
									<ul class="clinic__list">
										<li class="clinic__item">
											<h4 class="clinic__subject">월, 수, 목</h4>
											<p class="clinic__txt">
												AM 10:00 ~ PM 07:00
											</p>
										</li>
										<li class="clinic__item">
											<h4 class="clinic__subject">화, 금</h4>
											<p class="clinic__txt">
												AM 10:00 ~ PM 07:00
												<span class="clinic__noti">화요일 : Dr.전희대 (오전휴진), <span class="inline-block">Dr. 김은진 / 목요일 : Dr.반재용, Dr 전인경</span></span>
											</p>
										</li>
										<li class="clinic__item">
											<h4 class="clinic__subject">토요일</h4>
											<p class="clinic__txt">
												AM 10:00 ~ PM 03:00
											</p>
										</li>
										<li class="clinic__item">
											<h4 class="clinic__subject">점심시간</h4>
											<p class="clinic__txt">
												PM 01:00 ~ PM 02:00 (토요일 점심시간 없음)
											</p>
										</li>
										<li class="clinic__item">
											<h4 class="clinic__subject">휴진</h4>
											<p class="clinic__txt">
												일요일, 공휴일, 매월 1&middot;3&middot;5주 목요일, 매월 2&middot;4주 토요일
											</p>
										</li>
									</ul>
								</div>
							</div><!-- //clinic__body -->
						</div><!-- //clinic__wrap -->
					</div><!-- //clinic__box-->
				</div><!--//clinic__area-->
				<div class="clinic__area type-skin">
					<div class="clinic__box">
						<div class="clinic__wrap">
							<div class="clinic__header">
								<div class="clinic__vertical">
									<h3 class="clinic__tit">피부과 진료안내</h3>
								</div>
							</div>
							<div class="clinic__body">
								<div class="clinic__vertical">
									<ul class="clinic__list">
										<li class="clinic__item">
											<h4 class="clinic__subject">평일</h4>
											<p class="clinic__txt">
												AM 10:30 ~ PM 09:00
											</p>
										</li>
										<li class="clinic__item">
											<h4 class="clinic__subject">토요일</h4>
											<p class="clinic__txt">
												AM 10:00 ~ PM 05:00
											</p>
										</li>
										<li class="clinic__item">
											<h4 class="clinic__subject">점심시간</h4>
											<p class="clinic__txt">
												PM 01:00 ~ PM 02:00
											</p>
										</li>
										<li class="clinic__item">
											<h4 class="clinic__subject">휴진</h4>
											<p class="clinic__txt">
												일요일, 공휴일
											</p>
										</li>
									</ul>
								</div>
							</div><!-- //clinic__body -->
						</div><!-- //clinic__wrap -->
					</div><!-- //clinic__box-->
				</div><!--//clinic__area-->
			</div><!-- //clinic-->
			<div class="procedure">
				<h3 class="procedure__tit">진료절차</h3>
				<h4 class="procedure__subtit">01. 진료예약</h4>
				<ul class="procedure__list">
					<li class="procedure__item">
						<div class="procedure__border">
							<dl class="procedure__dl">
								<dt class="procedure__dt type-phone">전화문의</dt>
								<dd class="procedure__dd"><a href="tel:02-3288-3322" class="procedure__link">02.3288.3322</a></dd>
							</dl>
						</div>
					</li>
					<li class="procedure__item">
						<div class="procedure__border">
							<dl class="procedure__dl">
								<dt class="procedure__dt type-katalk">카톡문의</dt>
								<dd class="procedure__dd">banobagiskin</dd>
							</dl>
						</div>
					</li>
				</ul>
				<h4 class="procedure__subtit">02. 내원</h4>
				<ul class="procedure__list">
					<li class="procedure__item">
						<div class="procedure__border">
							<div class="procedure__img">
								<img src="../../images/introduce/location/location_img1.jpg" alt="접수" class="img-responsive">
							</div>
							<div class="procedure__box">
								<div class="vertical clear-t">
									<h4 class="procedure__subject">접수</h4>
									<p class="procedure__txt">차트작성 및 설문조사, 담당 의료진 결정</p>
								</div>
							</div>
						</div>
					</li>
					<li class="procedure__item">
						<div class="procedure__border">
							<div class="procedure__img">
								<img src="../../images/introduce/location/location_img2.jpg" alt="피부측정촬영" class="img-responsive">
							</div>
							<div class="procedure__box">
								<div class="vertical clear-t">
									<h4 class="procedure__subject">피부측정촬영</h4>
									<p class="procedure__txt">필요시 촬영</p>
								</div>
							</div>
						</div>
					</li>
					<li class="procedure__item">
						<div class="procedure__border">
							<div class="procedure__img">
								<img src="../../images/introduce/location/location_img3.jpg" alt="의료진 상담" class="img-responsive">
							</div>
							<div class="procedure__box">
								<div class="vertical clear-t">
									<h4 class="procedure__subject">의료진 상담</h4>
									<p class="procedure__txt">시설&amp;관리의 필요성 여부판단, 방법결정</p>
								</div>
							</div>
						</div>
					</li>
					<li class="procedure__item">
						<div class="procedure__border">
							<div class="procedure__img">
								<img src="../../images/introduce/location/location_img4.jpg" alt="상담실장 상담" class="img-responsive">
							</div>
							<div class="procedure__box">
								<div class="vertical clear-t">
									<h4 class="procedure__subject">상담실장 상담</h4>
									<p class="procedure__txt">상담스케줄 예약, 시술 주의사항 설명, 시술비용상담</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- 문자 팝업 -->
		<div class="popup-sms">
			<div class="popup-sms__wrap">
				<div class="popup-sms__vertical">
					<p class="popup-sms__tit">
						연락처를 입력하시면<br>
						SMS로 <strong>약도를 전송</strong>해드립니다.
					</p>
					<div class="popup-sms__box">
						<input type="tel" placeholder="연락처를 입력해주세요" class="popup-sms__input">
						<button type="submit" class="popup-sms__button">전송</button>
					</div>
					<a href="" class="popup-sms__close js-sms-close">닫기</a>
				</div>
			</div>
		</div>
		<!-- // 문자팝업 끝 -->
	</div>
</div><!-- //container-->
<% include ../_include/_footer %>
