<%
	type = "introduce"
	page = "philosophy"
%>
<% include ../_include/_header %>
<div class="onepage type-philosophy">
	<div class="content-section section1" data-section-name="section1">
		<div class="inner-wrap">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="philosophy-box1">
							<h2 class="philosophy-box1__tit onepage__tit">
								<span>BEYOND</span>
								<strong>BEAUTY</strong>
							</h2>
							<h3 class="philosophy-box1__subtit onepage__subtit">바노바기피부과는 아름다움, 그 이상의 가치를 실현합니다.</h3>
							<p class="philosophy-box1__txt onepage__txt type-philosophy">
								피부과 전문의로만 구성된 의료진은 미용 시술 뿐만이 아니라<br class="hidden-m">
								문제성 피부 진단부터 피부 기능을 회복하고 피부 환경을 개선하는<br class="hidden-m">
								미용 시술까지 직접 진료하여 더욱 전문적이고 만족스러운 효과를 약속합니다.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="philosophy-box1 type-img">
							<div class="philosophy-box1__img">
								<img src="../../images/introduce/philosophy/philosophy_section1.jpg" alt="" class="img-responsive">
							</div>
						</div>
					</div>
				</div>
				<div class="leaf" id="canvas">
					잎
				</div>
			</div>
		</div>
		<div class="scroll type-detail type-another">
			<div class="scroll__inner">
				<i class="scroll__ball"></i>
			</div>
			<p class="scroll__txt">SCROLL</p>
		</div>
	</div>
	<div class="content-section section2" data-section-name="section2">
		<div class="inner-wrap">
			<div class="onepage__box">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="philosophy-box2">
							<h2 class="philosophy-box2__tit onepage__tit">
								<strong>premium</strong>
								<span>technology</span>
							</h2>
							<h3 class="philosophy-box2__subtit onepage__subtit">바노바기피부과는 첨단 레이저 기기 및 최신 의료 설비를 다양하게 보유하고 있습니다.</h3>
							<p class="philosophy-box2__txt onepage__txt type-philosophy">
								울쎄라와 써마지 FLX, 프락셀 듀얼, 레블라이트, 울트라펄스, 젠틀맥스 등 앞선 기술력의<br class="hidden-m">
								레이저 기기 및 피부 상태를 정확하게 측정하는 디지털 영상 분석기 더마비전 등을 엄선하여 보유함으로써,<br class="hidden-m">
								품격 높은 피부과 진료 서비스를 제공합니다.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section section3" data-section-name="section3">
		<div class="inner-wrap">
			<div class="onepage__box type-half type-r type-another">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="philosophy-box3">
							<h2 class="philosophy-box3__tit onepage__tit">
								<strong>original</strong>
								<span>therapy</span>
							</h2>
							<h3 class="philosophy-box3__subtit onepage__subtit">
								바노바기피부과는 압도적인 임상 케이스와 그 과정에서<br class="hidden-m"> 축적된 노하우로 완성도 높은 독창적인 시술 프로그램을 만들었습니다.
							</h3>
							<p class="philosophy-box3__txt onepage__txt type-philosophy">
								오직 바노바기에서만 만날 수 있는 오리지널 시술들로<br class="hidden-m">
								차원이 다른 치료를 제공해드리고자 합니다.
							</p>
							<div class="philosophy-box3__img">
								<img src="../../images/introduce/philosophy/philosophy_bg3_t.jpg" alt="" class="img-responsive">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section section4" data-section-name="section4">
		<div class="inner-wrap">
			<div class="onepage__box">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="philosophy-box4">
							<h2 class="philosophy-box4__tit onepage__tit">
								<strong>professional</strong>
								<span>service</span>
							</h2>
							<h3 class="philosophy-box4__subtit onepage__subtit">
								바노바기피부과는 피부과 전문의를 비롯하여 전 직원이 모두<br class="hidden-m">
								숙련된 전문 인력으로 구성되어 있습니다.
							</h3>
							<p class="philosophy-box4__txt onepage__txt type-philosophy">
								자체 세미나와 체계적인 교육을 통해 고객분들께 안전하고 표준화된 의료 시술 및 서비스를 제공하고 있습니다.
							</p>
							<ul class="philosophy-box4__list">
								<li class="philosophy-box4__item">
									<div class="philosophy-box4__img">
										<img src="../../images/introduce/philosophy/philosophy_section4_1.jpg" alt="" class="img-responsive">
									</div>
								</li>
								<li class="philosophy-box4__item">
									<div class="philosophy-box4__img">
										<img src="../../images/introduce/philosophy/philosophy_section4_2.jpg" alt="" class="img-responsive">
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
