<%
	type = "review"
	page = "epilogue"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h2 class="container__tit type-epilogue">톡톡튀는 리얼후기</h2>
		<p class="container__txt">바노바기와 함께한 분들의 생생한 리얼 후기를 확인해보세요.</p>
	</div>
	<% include ../_include/_lnb %>
	<div class="container__wrap type-another">
		<div class="board">
			<div class="review">
				<div class="epilogue">
					<ul class="epilogue__list">
						<li class="epilogue__item">
							<div class="epilogue__img">
								<img src="../../images/review/epilogue/epi_img01.jpg" alt="" class="img-responsive">
								<div class="epilogue__border">bg</div>
							</div>
							<div class="epilogue__box">
								<p class="epilogue__txt">
									웃음이의 윤곽3종+눈성형+코필러 후기입니다!
								</p>
							</div>
							<a href="" class="epilogue__link js-link-hover">상세보기</a>
						</li>
						<!--//epilogue__item-->
						<li class="epilogue__item">
							<div class="epilogue__img">
								<img src="../../images/review/epilogue/epi_img01.jpg" alt="" class="img-responsive">
								<div class="epilogue__border">bg</div>
							</div>
							<div class="epilogue__box">
								<p class="epilogue__txt">
									웃음이의 윤곽3종+눈성형+코필러 후기입니다!
								</p>
							</div>
							<a href="" class="epilogue__link js-link-hover">상세보기</a>
						</li>
						<!--//epilogue__item-->
						<li class="epilogue__item">
							<div class="epilogue__img">
								<img src="../../images/review/epilogue/epi_img01.jpg" alt="" class="img-responsive">
								<div class="epilogue__border">bg</div>
							</div>
							<div class="epilogue__box">
								<p class="epilogue__txt">
									웃음이의 윤곽3종+눈성형+코필러 후기입니다!
								</p>
							</div>
							<a href="" class="epilogue__link js-link-hover">상세보기</a>
						</li>
						<!--//epilogue__item-->
						<li class="epilogue__item">
							<div class="epilogue__img">
								<img src="../../images/review/epilogue/epi_img01.jpg" alt="" class="img-responsive">
								<div class="epilogue__border">bg</div>
							</div>
							<div class="epilogue__box">
								<p class="epilogue__txt">
									웃음이의 윤곽3종+눈성형+코필러 후기입니다!
								</p>
							</div>
							<a href="" class="epilogue__link js-link-hover">상세보기</a>
						</li>
						<!--//epilogue__item-->
						<li class="epilogue__item">
							<div class="epilogue__img">
								<img src="../../images/review/epilogue/epi_img01.jpg" alt="" class="img-responsive">
								<div class="epilogue__border">bg</div>
							</div>
							<div class="epilogue__box">
								<p class="epilogue__txt">
									웃음이의 윤곽3종+눈성형+코필러 후기입니다!
								</p>
							</div>
							<a href="" class="epilogue__link js-link-hover">상세보기</a>
						</li>
						<!--//epilogue__item-->
						<li class="epilogue__item">
							<div class="epilogue__img">
								<img src="../../images/review/epilogue/epi_img01.jpg" alt="" class="img-responsive">
								<div class="epilogue__border">bg</div>
							</div>
							<div class="epilogue__box">
								<p class="epilogue__txt">
									웃음이의 윤곽3종+눈성형+코필러 후기입니다!
								</p>
							</div>
							<a href="" class="epilogue__link js-link-hover">상세보기</a>
						</li>
						<!--//epilogue__item-->
						<li class="epilogue__item">
							<div class="epilogue__img">
								<img src="../../images/review/epilogue/epi_img01.jpg" alt="" class="img-responsive">
								<div class="epilogue__border">bg</div>
							</div>
							<div class="epilogue__box">
								<p class="epilogue__txt">
									웃음이의 윤곽3종+눈성형+코필러 후기입니다!
								</p>
							</div>
							<a href="" class="epilogue__link js-link-hover">상세보기</a>
						</li>
						<!--//epilogue__item-->
						<li class="epilogue__item">
							<div class="epilogue__img">
								<img src="../../images/review/epilogue/epi_img01.jpg" alt="" class="img-responsive">
								<div class="epilogue__border">bg</div>
							</div>
							<div class="epilogue__box">
								<p class="epilogue__txt">
									웃음이의 윤곽3종+눈성형+코필러 후기입니다!
								</p>
							</div>
							<a href="" class="epilogue__link js-link-hover">상세보기</a>
						</li>
						<!--//epilogue__item-->
						<li class="epilogue__item">
							<div class="epilogue__img">
								<img src="../../images/review/epilogue/epi_img01.jpg" alt="" class="img-responsive">
								<div class="epilogue__border">bg</div>
							</div>
							<div class="epilogue__box">
								<p class="epilogue__txt">
									웃음이의 윤곽3종+눈성형+코필러 후기입니다!
								</p>
							</div>
							<a href="" class="epilogue__link js-link-hover">상세보기</a>
						</li>
						<!--//epilogue__item-->
						<li class="epilogue__item">
							<div class="epilogue__img">
								<img src="../../images/review/epilogue/epi_img01.jpg" alt="" class="img-responsive">
								<div class="epilogue__border">bg</div>
							</div>
							<div class="epilogue__box">
								<p class="epilogue__txt">
									웃음이의 윤곽3종+눈성형+코필러 후기입니다!
								</p>
							</div>
							<a href="" class="epilogue__link js-link-hover">상세보기</a>
						</li>
						<!--//epilogue__item-->
						<li class="epilogue__item">
							<div class="epilogue__img">
								<img src="../../images/review/epilogue/epi_img01.jpg" alt="" class="img-responsive">
								<div class="epilogue__border">bg</div>
							</div>
							<div class="epilogue__box">
								<p class="epilogue__txt">
									웃음이의 윤곽3종+눈성형+코필러 후기입니다!
								</p>
							</div>
							<a href="" class="epilogue__link js-link-hover">상세보기</a>
						</li>
						<!--//epilogue__item-->
						<li class="epilogue__item">
							<div class="epilogue__img">
								<img src="../../images/review/epilogue/epi_img01.jpg" alt="" class="img-responsive">
								<div class="epilogue__border">bg</div>
							</div>
							<div class="epilogue__box">
								<p class="epilogue__txt">
									웃음이의 윤곽3종+눈성형+코필러 후기입니다!
								</p>
							</div>
							<a href="" class="epilogue__link js-link-hover">상세보기</a>
						</li>
						<!--//epilogue__item-->
					</ul>
				</div>
				<p class="review__noti">
					<span class="review__point">위의 게시물을 무단 도용 시 저작권 및 초상권 침해로 <span class="inline-block">법적 제재를 받으실 수 있습니다.</span></span>
					본 이미지는 실제와 다소 차이가 있을 수 있습니다.
				</p>
			</div>
		</div><!-- //board-->
		<div class="pagination">
			<ul class="pagination__list">
				<li class="pagination__item pagination__item-first">
					<a href="" class="pagination__link">처음</a>
				</li>
				<li class="pagination__item pagination__item-prev">
					<a href="" class="pagination__link">이전</a>
				</li>
				<li class="pagination__item pagination__item-num is-active">
					<a href="" class="pagination__link">1</a>
				</li>
				<li class="pagination__item pagination__item-num is-acitve">
					<a href="" class="pagination__link">2</a>
				</li>
				<li class="pagination__item pagination__item-num">
					<a href="" class="pagination__link">3</a>
				</li>
				<li class="pagination__item pagination__item-num">
					<a href="" class="pagination__link">4</a>
				</li>
				<li class="pagination__item pagination__item-num">
					<a href="" class="pagination__link">5</a>
				</li>
				<li class="pagination__item pagination__item-next">
					<a href="" class="pagination__link">다음</a>
				</li>
				<li class="pagination__item pagination__item-last">
					<a href="" class="pagination__link">마지막</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
