<%
	type = "detail"
	page = "only"
%>
<% include ../_include/_header %>
<div class="onepage">
	<div class="content-section type-visual only-section0" data-section-name="only-section0">
		<div class="inner-wrap">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="detail-visual">
							<h3 class="detail-visual__tit">
								BANOBAGI<br>
								ALL-IN-ONE<br>
								<strong>DETAIL</strong>
							</h3>
							<p class="onepage__subtit detail-visual__subtit">
								기술과 신뢰의 치료 솔루션<br>
								복합 치료 방식으로 해결하는 복합 피부 고민
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="scroll type-detail">
			<div class="scroll__inner">
				<i class="scroll__ball"></i>
			</div>
			<p class="scroll__txt">SCROLL</p>
		</div>
	</div>
	<div class="content-section only-section1" data-section-name="only-section1">
		<div class="inner-wrap">
			<div class="onepage__box type-half type-r">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="detail__img">
							<img src="../../images/only/only_detail_bg1_t.png" alt="01 - core" class="only-detail1__img">
						</div>
						<h3 class="detail__tit only-detail1__tit">
							올인원시리즈는<br>
							바노바기피부과 <strong class="only-detail1__color section-color">핵심 치료법</strong>입니다.
						</h3>
						<p class="onepage__subtit only-detail1__subtit">
							여러가지 피부고민을 해결하는 복합 치료 방식
						</p>
						<p class="onepage__txt type-detail only-detail1__txt">
							피부 문제는 한가지만 원인이 되지는 않습니다.
							타고난 피부 타입과 노화 정도, 피부 환경 유수분 밸런스 등에 따라
							피부 색소, 탄력, 텍스쳐 등이 결정되고, 그에 따른 치밀한 치료 방법이
							필요합니다. <br><br>

							바노바기의 올인원 프로그램은 17년 피부과전문의 경험을 토대로 만든
							복합치료 방식으로, 복합적인 피부 고민을 복합적인 방식으로 접근하여
							문제를 해결하고자 합니다.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section only-section2" data-section-name="only-section2">
		<div class="inner-wrap">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="detail__img">
							<img src="../../images/only/only_detail_bg2_t.png" alt="02 - know">
						</div>
						<h3 class="detail__tit only-detail2__tit">
							올인원시리즈는<br>
							피부를 정말 <strong class="only-detail2__color">잘 알아야</strong>가능합니다.
						</h3>
						<p class="onepage__subtit only-detail2__subtit">
							17년 피부과전문의  경험이 만들어낸 독특한 치료 방식
						</p>
						<p class="onepage__txt type-detail only-detail2__txt">
							점이나 기미, 검버섯 등 피부 색소 질환만 해도 아주 다양하고,
							그 치료 방법 또한 조금씩 달라져야 합니다.
							피부 탄력을 개선하 기 위해서도 피부 두께나 유수분
							상태에 따라 치료법이 달라집니다.
							그러기 위해서는 일단 피부에 대한 정확한 이해가 필요합니다.<br><br>

							바노바기피부과의 올인원 시리즈는 피부과 전문의 17년
							경험이 축적된 치료 솔루션입니다.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section only-section3" data-section-name="only-section3">
		<div class="inner-wrap">
			<div class="onepage__box type-half type-r">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="detail__img">
							<img src="../../images/only/only_detail_bg3_t.png" alt="03 - skill">
						</div>
						<h3 class="detail__tit only-detail3__tit">
							올인원시리즈는<br>
							<strong class="only-detail3__color">기술</strong>의 치료법입니다.
						</h3>
						<p class="onepage__subtit only-detail3__subtit">
							20여 가지의  프리미엄 의료기기 보유
						</p>
						<p class="onepage__txt type-detail only-detail3__txt">
							피부과 치료는 기술의 영역이 큰 비중을 차지합니다.
							다양한 레이저, 초음파, 고주파 등을 이용한 의료장비의 발전으로
							더욱 수준 높은 피부 치료가 가능해졌습니다.<br><br>

							바노바기피부과는 각종 색소 치료 레이저, 모공, 흉터 치료 레이저,
							리프팅 장비 등 프리미엄급 의료 장비를 보유하는 데 투자를 아끼지 않습니다.
							올인원 시리즈를 아무나 흉내 낼 수 없는 이유이기도 합니다.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section only-section4" data-section-name="only-section4">
		<div class="inner-wrap">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="detail__img">
							<img src="../../images/only/only_detail_bg4_t.png" alt="04 - trust">
						</div>
						<h3 class="detail__tit only-detail4__tit">
							올인원시리즈는<br>
							<strong class="only-detail4__color">신뢰</strong>의 치료법입니다.
						</h3>
						<p class="onepage__subtit only-detail4__subtit">
							의사와 환자 간의 신뢰와 소통이 만드는 아름다운 결과
						</p>
						<p class="onepage__txt type-detail only-detail4__txt">
							올인원 치료는 사실 조금 지루합니다. 최소 서너번은
							내원해야 하고, 길게는 석 달 정도 시간이 필요한 치료법입니다.
							그만큼 오랜 시간 공을 들여 치료하는 것이고,
							그 정성만큼 결과는 만족스러우실 겁니다.
							이 기다림의 시간 동안 의사와 환자의 소통은 필수이고,
							신뢰는 더욱 단단해집니다.<br><br>

							환자의 이야기를 듣고, 의사 치료법을 믿어야 하는 프로그램,
							바노바기 올인원은 그래서 더 자신 있습니다.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
