<%
	type = "main"
	page = "main"
%>
<% include ../_include/_header %>

<div class="intro">
	<div class="intro-video nth-1">
		<iframe src="https://player.vimeo.com/video/348079698?muted=1&amp;autoplay=1&amp;loop=1" class="intro-video__iframe" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-ready="true"></iframe>
		<div class="intro-video__bg">영상 어둡게 처리</div>
	</div>
	<div class="intro-inner">
		<!-- 라인 -->
		 <div class="intro-border type-borderh" id="borderTopBar"></div>
		 <div class="intro-border type-borderv" id="borderLeftBar01"></div>
		 <div class="intro-border type-borderv" id="borderLeftBar02"></div>
		 <div class="intro-border type-borderv" id="borderRightBar"></div>
		 <div class="intro-border type-borderh" id="borderBottomBar01"></div>
		 <div class="intro-border type-borderh" id="borderBottomBar02"></div>
		 <!-- //라인 -->
		 <!-- sns -->
		<ul class="intro-sns">
			<li class="intro-sns__item">
				<a href="" class="intro-sns__link type-facebook">
				</a>
			</li>
			<!-- <li class="intro-sns__item">
				<a href="" class="intro-sns__link">
					<i class="fa fa-instagram"></i>
				</a>
			</li> -->
			<li class="intro-sns__item">
				<a href="" class="intro-sns__link type-blog">
				</a>
			</li>
			<!-- <li class="intro-sns__item">
				<a href="" class="intro-sns__link">
					<i class="fa fa-youtube-play"></i>
				</a>
			</li> -->
		</ul>
		<!-- //sns -->
		<div class="intro-inner__box">
			<p class="intro-inner__txt nth-1 js-main-txt1">
				아름다움을 넘어
			</p>
			<p class="intro-inner__txt nth-2 js-main-txt2">
				자연스러움이 보여질 때까지, <br>
				한 순간도 눈을 떼지 않는
			</p>
			<div class="intro-inner__wrap">
				<div class="intro-inner__typed" id="typed-strings">
					<h3 class="intro-inner__tit">나는 <span class="point-color">디테일리스트</span>입니다</h3>
				</div>
				<h3 class="intro-inner__tit" id="typed"></h3>
			</div>
			<p class="intro-inner__subtit js-main-txt3">이것이 우리가 스스로를 디테일리스트라 부르는 이유</p>
		</div>
		<!-- //txt-box-->
		<div class="scroll">
			<p class="scroll__txt">SCROLL</p>
			<div class="scroll__inner">
				<i class="scroll__ball"></i>
			</div>
		</div>
	</div>
	<!--//intro-inner-->
	<div class="intro-info">
		<div class="intro-info__relative">
			<div class="intro-info__wrap">
				<img src="../../images/main/logo_s.png" alt="" class="intro-info__logo">
				<a href="" class="counseling-btn">상담신청</a>
				<ul class="intro-info__list">
					<!-- <li class="intro-info__item type-time">평일 10:00~18:30 . 화,금 10:00~20:00 . 주말 10:00~16:00</li> -->
					<li class="intro-info__item type-map">서울특별시 강남구논현로 517 바노바기성형외과</li>
					<li class="intro-info__item type-btn">
						<a href="" class="intro-info__btn"><i class="fa fa-phone"></i>1588.6508</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="detail">
	<ul class="detail__list">
		<li class="detail__item nth-1-1">
			<div class="detail__bg">
				<div class="detail__wrap">
					<div class="detail__front">
						<p class="detail__subtit">Detaillist</p>
						<p class="detail__name">반재용</p>
						<p class="detail__job">피부과전문의 17년 경력</p>
					</div>
					<div class="detail__back">
						<div class="detail__box">
							<span class="detail__icon">&amp;</span>
							<p class="detail__tit">
								피부 깊은 층의<br class="hidden-tm">
								문제까지 진단하는<br>
								나는 <span class="point-color2">디테일리스트</span>입니다.
							</p>
							<p class="detail__txt">
								피부는 보이지 않는 곳까지 세심하게 케어를 해야<br class="hidden-tm">
								좋은 결과를 낳습니다.<br class="hidden-m">
								17년 경력의 노하우로 진단하고 치료합니다.
							</p>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="detail__item nth-2-1">
			<div class="detail__bg">
				<div class="detail__wrap">
					<div class="detail__front">
						<p class="detail__subtit">Detaillist</p>
						<p class="detail__name">박애경</p>
						<p class="detail__job">바노바기피부과 총괄실장</p>
					</div>
					<div class="detail__back">
						<div class="detail__box">
							<span class="detail__icon">&amp;</span>
							<p class="detail__tit">
								부족한 것이 없나<br class="hidden-m">
								항상 두루두루 살피는<br>
								나는 <span class="point-color2">디테일리스트</span>입니다.
							</p>
							<p class="detail__txt">
								우리 병원을 찾는 분들이 최대한 편안하실 수 있게<br class="hidden-m">
								빈틈을 메우고 배려하는 것 바노바기의 기본입니다.
							</p>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="detail__item nth-3-1">
			<div class="detail__bg">
				<div class="detail__wrap">
					<div class="detail__front">
						<p class="detail__subtit">Detaillist</p>
						<p class="detail__name">이진희</p>
						<p class="detail__job">바노바기피부과 에스테틱 팀장</p>
					</div>
					<div class="detail__back">
						<div class="detail__box">
							<span class="detail__icon">&amp;</span>
							<p class="detail__tit">
								치료의 마무리를 책임지는<br>
								나는 <span class="point-color2">디테일리스트</span>입니다.
							</p>
							<p class="detail__txt">
								피부과 치료는 시술 후 관리가 무척 중요합니다. <br class="hidden-m">
								그래서 더욱 꼼꼼하게 마지막까지 소홀히 하지<br class="hidden-tm">
								않습니다
							</p>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="detail__item nth-4-1">
			<div class="detail__bg">
				<div class="detail__wrap">
					<div class="detail__front">
						<p class="detail__subtit">Detaillist</p>
						<p class="detail__name">박민희</p>
						<p class="detail__job">바노바기피부과 간호 팀장</p>
					</div>
					<div class="detail__back">
						<div class="detail__box">
							<span class="detail__icon">&amp;</span>
							<p class="detail__tit">
								안전하고 정확한 치료를<br class="hidden-m">
								위해 철저히 준비하는<br class="hidden-m">
								나는 <span class="point-color2">디테일리스트</span>입니다.
							</p>
							<p class="detail__txt">
								수많은 레이저 장비와 여러가지 치료 과정을<br class="hidden-m">
								정확하게 이해해야 하기 때문에 늘 공부하고<br class="hidden-tm">
								않습니다
							</p>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
<div class="main-photo">
	<a href="" class="main-photo__close js-photo-close">닫기</a>
	<div class="main-photo__wrap">
		<div class="gender">
			<form action="" class="gender__form">
				<input type="radio" name="gender" id="gender_f" value="F" class="gender__input type-f" checked="checked">
				<label for="gender_f" class="gender__label">여</label>
				<input type="radio" name="gender" id="gender_m" value="M" class="gender__input type-m">
				<label for="gender_m" class="gender__label">남</label>
			</form>
		</div>
		<div class="photo-slide type-main">
			<div class="photo-slide__slide owl-carousel">
				<!-- 첫번째 이미지 -->
				<div class="photo-slide__wrap type-big">
					<div class="photo-slide__area">
						<div class="photo-slide__box type-before">
							<span class="photo-slide__cate">BEFORE</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/before_img_01_01.jpg" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_02.jpg" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_03.jpg" alt="" class="img-responsive">
							</div>
						</div>
						<div class="photo-slide__box type-after">
							<span class="photo-slide__cate">수술 후 6개월</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/after_img_01_01.jpg" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_02.jpg" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_03.jpg" alt="" class="img-responsive">
							</div>
						</div>
						<div class="photo-slide__popup">
							<div class="photo-slide__inner">
								<div class="photo-slide__vertical">
									<h4 class="photo-slide__tit">수술후 6개월</h4>
									<p class="photo-slide__bar">/</p>
									<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) +
										지방이식(이마) 골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마 골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마</p>
								</div>
							</div>
						</div>
					</div>
					<ul class="photo-slide__list">
						<li class="photo-slide__item is-active"><a href="" class="photo-slide__link">정면2</a></li>
						<li class="photo-slide__item"><a href="" class="photo-slide__link">반측면</a></li>
						<li class="photo-slide__item"><a href="" class="photo-slide__link">측면</a></li>
					</ul>

				</div>
				<!-- 두번째 이미지 -->
				<div class="photo-slide__wrap type-big">
					<div class="photo-slide__area">
						<div class="photo-slide__box type-before">
							<span class="photo-slide__cate">BEFORE</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/before_img_02_01.jpg" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_02.jpg" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_03.jpg" alt="" class="img-responsive">
							</div>
						</div>
						<div class="photo-slide__box type-after">
							<span class="photo-slide__cate">수술 후 6개월</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/after_img_01_01.jpg" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_02.jpg" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_03.jpg" alt="" class="img-responsive">
							</div>
						</div>
						<div class="photo-slide__popup">
							<div class="photo-slide__inner">
								<div class="photo-slide__vertical">
									<h4 class="photo-slide__tit">수술후 6개월</h4>
									<p class="photo-slide__bar">/</p>
									<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) +
										지방이식(이마) 골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마 골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마</p>
								</div>
							</div>
						</div>
					</div>
					<ul class="photo-slide__list">
						<li class="photo-slide__item is-active"><a href="" class="photo-slide__link">정면1</a></li>
						<li class="photo-slide__item"><a href="" class="photo-slide__link">반측면</a></li>
						<li class="photo-slide__item"><a href="" class="photo-slide__link">측면</a></li>
					</ul>
				</div>
			</div>
			<a href="" class="photo-slide__btn type-prev js-slide-prev">이전</a>
			<a href="" class="photo-slide__btn type-next js-slide-next">다음</a>
			<a href="" class="photo-slide__view is-active js-photo-open">보기</a>
		</div>
		<p class="photo-slide__noti">※ 본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수 있으며, <span class="inline-block">환자 본인의 동의를 얻어 촬영 후 게재하였습니다.</span></p>
		<a href="" class="main-photo__btn main-btn">더보기<i class="fa fa-angle-right"></i></a>

	</div>
</div>
<div class="main-search">
	<div class="main-search__wrap">
		<h3 class="main-search__tit main__tit">SEARCH</h3>
		<div class="search-keyword">
			<div class="search-keyword__box">
				<label for="p_keyword" class="search-keyword__label">검색어</label>
				<button type="submit" class="search-keyword__btn">검색</button>
				<input type="text" class="search-keyword__input" id="main_keyword" name="main_keyword" placeholder="검색어를 입력해주세요">
			</div>
		</div>
		<div class="main-search__box">
			<div class="main-search__bg">
				<div class="main-keyword">
					<div class="main-keyword__box">
						<h4 class="main-keyword__tit">인기검색어</h4>
						<ul class="main-keyword__area">
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item type-first">
										<a class="main-keyword__link" href="">
											<span class="main-keyword__num">1</span>모티바
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="">
											<span class="main-keyword__num">2</span>엘라스티꿈
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="">
											<span class="main-keyword__num">3</span>모티바
										</a>
									</li>
								</ul>
							</li><!--//main-keyword__area-box-->
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="">
											<span class="main-keyword__num">4</span>모티바
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="">
											<span class="main-keyword__num">5</span>엘라스티꿈
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="">
											<span class="main-keyword__num">6</span>모티바
										</a>
									</li>
								</ul>
							</li><!--//main-keyword__area-box-->
						</ul><!--//main-keyword__area-->
					</div>
					<div class="main-keyword__box">
						<h4 class="main-keyword__tit">추천검색어</h4>
						<ul class="main-keyword__area">
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item type-first">
										<a class="main-keyword__link" href="">
											<span class="main-keyword__icon">#</span>모티바
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="">
											<span class="main-keyword__icon">#</span>엘라스티꿈
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="">
											<span class="main-keyword__icon">#</span>모티바
										</a>
									</li>
								</ul>
							</li>
							<!--//main-keyword__area-box-->
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="">
											<span class="main-keyword__icon">#</span>모티바
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="">
											<span class="main-keyword__icon">#</span>모티바
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="">
											<span class="main-keyword__icon">#</span>안티에이징
										</a>
									</li>
								</ul>
							</li>
							<!--//main-keyword__area-box-->
						</ul><!--//main-keyword__area-->
					</div><!-- //main-keyword__box-->
				</div><!-- //main-keyword-->
			</div><!--//main-search__bg-->
		</div><!--//main-search__box-->
	</div>
</div>
<div class="focus">
	<div class="focus__area">
		<h2 class="focus__tit main__tit">focus PICK</h2>
		<p class="focus__txt">바노바기 기획사이트 및 현재 진행하는 프로그램을 한눈에 보실 수 있습니다</p>
		<div class="focus__slider">
			<ul class="focus__list">
				<li class="focus__item">
					<div class="focus__bg">
						<img src="../../images/main/focus_img_01.jpg" alt="" class="focus__img">
					</div>
					<div class="focus__box">
						<p class="focus__category type-1">기획사이트</p>
						<h3 class="focus__item-tit">괋괋괋괋괋괋괋괋괋괋<!--10자--></h3> <!--10자 -->
						<p class="focus__item-txt">
							<span class="focus__item-block">괋괋괋괋괋괋괋괋괋괋<!--10자-->괋괋괋괋괋괋괋<!--10자--></span><!--17자 -->
							<span class="focus__item-block">괋괋괋괋괋괋괋괋괋괋<!--10자-->괋괋괋괋괋괋괋<!--10자--></span><!--17자 -->
						</p>
						<a href="" class="focus__btn main-btn">자세히보기<i class="fa fa-angle-right"></i></a>
					</div>
				</li>
				<li class="focus__item">
					<div class="focus__bg">
						<img src="../../images/main/focus_img_01.jpg" alt="" class="focus__img">
					</div>
					<div class="focus__box">
						<p class="focus__category type-2">프로모션</p>
						<h3 class="focus__item-tit">모티바 가슴성형</h3>
						<p class="focus__item-txt">
							<span class="focus__item-block">괋괋괋괋괋괋괋괋괋괋<!--10자-->괋괋괋괋괋괋괋괋괋괋<!--10자--></span>
						</p>
						<a href="" class="focus__btn main-btn">자세히보기<i class="fa fa-angle-right"></i></a>
					</div>
				</li>
				<li class="focus__item">
					<div class="focus__bg">
						<img src="../../images/main/focus_img_01.jpg" alt="" class="focus__img">
					</div>
					<div class="focus__box">
						<p class="focus__category type-1">기획사이트</p>
						<h3 class="focus__item-tit">모티바 가슴성형</h3>
						<p class="focus__item-txt">
							<span class="focus__item-block">괋괋괋괋괋괋괋괋괋괋<!--10자-->괋괋괋괋괋괋괋괋괋괋<!--10자--></span>
						</p>
						<a href="" class="focus__btn main-btn">자세히보기<i class="fa fa-angle-right"></i></a>
					</div>
				</li>
				<li class="focus__item">
					<div class="focus__bg">
						<img src="../../images/main/focus_img_01.jpg" alt="" class="focus__img">
					</div>
					<div class="focus__box">
						<p class="focus__category type-1">기획사이트</p>
						<h3 class="focus__item-tit">모티바 가슴성형</h3>
						<p class="focus__item-txt">
							<span class="focus__item-block">괋괋괋괋괋괋괋괋괋괋<!--10자-->괋괋괋괋괋괋괋괋괋괋<!--10자--></span>
						</p>
						<a href="" class="focus__btn main-btn">자세히보기<i class="fa fa-angle-right"></i></a>
					</div>
				</li>
			</ul>
			<a href="" class="focus__list-btn focus__list-prev js-focus-prev">이전</a>
			<a href="" class="focus__list-btn focus__list-next js-focus-next">다음</a>
		</div>
	</div>
</div>
<div class="detail-slide">
	<div class="detail-slide__wrap">
		<ul class="detail-slide__list js-detail-slide">
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">01</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						대한민국 2%<br>
						피부과 전문의가 진료
					</h3>
					<p class="detail-slide__txt">
						바노바기피부과는 모든 의료진이 피부과전문의로서<br>
						피부에 대한 정확한 이해를 바탕으로 진단하고 치료합니다.
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img1.jpg" alt="피부과전문의 인증 - 피부건강지킴 - 대한피부과의사회" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img1_t.jpg" alt="피부과전문의 인증 - 피부건강지킴 - 대한피부과의사회" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">02</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						바노바기만의 독특한<br>
						복합 치료 시스템
					</h3>
					<p class="detail-slide__txt">
						바노바기피부과는 오랜 경험을 바탕으로 바노바기만의<br>
						독특한 복합 치료 시스템을 완성하여 만족도를 높였습니다.
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img2.jpg" alt="바노바기 복합 치료 시스템 - 올인원목주름, 올인원토닝, 올인원테라피, 올인원올모공, 올인원리프팅" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img2_t.jpg" alt="바노바기 복합 치료 시스템 - 올인원목주름, 올인원토닝, 올인원테라피, 올인원올모공, 올인원리프팅" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">03</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						프리미엄급 첨단<br>
						의료장비 20여종 보유
					</h3>
					<p class="detail-slide__txt">
						피부 상태를 진단하는 장비부터 치료 장비, 케어 장비 등<br>
						프리미엄급 장비를 엄선하여 사용합니다.
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img3.jpg" alt="의료 장비 사진" class="img-responsive hiddent-tm">
						<img src="../../images/main/detail_img3_t.jpg" alt="의료 장비 사진" class="img-responsive hiddent-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">04</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						학계에서 인정하는<br>
						의료진
					</h3>
					<p class="detail-slide__txt">
						국내외 심포지엄, 세미나 등 다양한 대외적 활동을 통해<br>
						학계에서부터 우리 의료진의 우수성을 인정받고 있습니다.
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img4.jpg" alt="김은진원장, 반재용원장, 전희대원장, *원장" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img4_t.jpg" alt="김은진원장, 반재용원장, 전희대원장, *원장" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">05</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						전문적이고 표준화된
						<span class="inline-block">의료서비스 제공</span>
					</h3>
					<p class="detail-slide__txt">
						자체 세미나와 체계적인 교육을 통해 고객분들께 안전하고<br>
						표준화된 의료 시술 및 서비스를 제공합니다.
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img5.jpg" alt="의료서비스 제공" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img5_t.jpg" alt="의료서비스 제공" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
		</ul>
	</div>
</div>
<div class="main-location">
	<div class="main-location__area">
		<div id="map" class="main-location__map"></div><!-- 구글지도-->
		<div class="map-motion__fake">
			<div class="map-motion__bg">
				<p class="map-motion__noti">지도를 움직이려면 클릭해 주세요</p>
			</div>
		</div>
	</div>
	<div class="main-location__box">
		<div class="main-location__wrap">
			<div class="main-location__inner">
				<h3 class="main__tit">CONTA CT US</h3>
				<dl class="main-location__dl">
					<dt class="main-location__dt type-map">위치</dt>
					<dd class="main-location__dd">
						<ul class="main-location__list">
							<li class="main-location__item">서울특별시 강남구 논현로 523 4층</li>
							<li class="main-location__item">서울특별시 강남구 역삼동 641-3 4층</li>
							<li class="main-location__item">역삼역 6번 출구 ,  언주역 7번 출구</li>
						</ul>
					</dd>
				</dl>
				<dl class="main-location__dl">
					<dt class="main-location__dt type-time">시간</dt>
					<dd class="main-location__dd type-time">
						<ul class="main-location__list">
							<li class="main-location__item">
								평     일 10:00 ~ 19:00
							</li>
							<li class="main-location__item">
								화, 금 10:00 ~ 20:30<span class="main-location__night">야간진료</span>
							</li>
							<li class="main-location__item">
								토요일 10:00 ~ 15:00
							</li>
						</ul>
					</dd>
				</dl>
				<dl class="main-location__dl">
					<dt class="main-location__dt type-phone">전화</dt>
					<dd class="main-location__dd type-phone">
						<ul class="main-location__list">
							<li class="main-location__item"><a href="" class="main-location__link">02.3288.3322</a></li>
						</ul>
					</dd>
				</dl>
				<div class="main-location__group">
					<a href="" class="main-location__btn main-btn type-another js-sms-btn">
						<span class="main-btn__icon type-sms">sms</span>
						<span class="main-btn__wrap">모바일 전송</span>
						<span class="main-btn__wrap"><i class="fa fa-angle-right"></i></span>
					</a>
					<a href="#" onClick="open_win()" class="main-location__btn main-btn type-another hidden-tm">
						<span class="main-btn__icon type-print">sms</span>
						<span class="main-btn__wrap">약도 프린트</span>
						<span class="main-btn__wrap"><i class="fa fa-angle-right"></i></span>
					</a>
					<div class="main-form">
						<form id="mobileForm" class="main-form__form" method="post">
							<div class="main-form__wrap">
								<label for="mobileSend" class="main-form__label">sms</label>
								<input type="text" class="main-form__input" name="mobileSend" id="mobileSend" placeholder="연락처를 입력해주세요." required="">
								<button type="button" class="main-form__btn" id="">전송</button>
								<a href="" class="main-form__close js-sms-close">닫기</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
