<%
	type = "main"
	page = "main"
%>
<% include ../_include/_header %>

<div class="intro">
	<div class="intro-video nth-1">
		<iframe src="https://player.vimeo.com/video/266233440?autoplay=1&loop=1&quality=1080p" allow="autoplay; fullscreen" frameborder="0" class="intro-video__iframe" webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>
		<div class="intro-video__bg">영상 어둡게 처리</div>
	</div>
	<div class="intro-inner">
		<!-- 라인 -->
		 <div class="intro-border type-borderh" id="borderTopBar"></div>
		 <div class="intro-border type-borderv" id="borderLeftBar01"></div>
		 <div class="intro-border type-borderv" id="borderLeftBar02"></div>
		 <div class="intro-border type-borderv" id="borderRightBar"></div>
		 <div class="intro-border type-borderh" id="borderBottomBar01"></div>
		 <div class="intro-border type-borderh" id="borderBottomBar02"></div>
		 <!-- //라인 -->
		 <!-- sns -->
		<ul class="intro-sns">
			<li class="intro-sns__item">
				<a href="" class="intro-sns__link">
					<i class="fa fa-facebook"></i>
				</a>
			</li>
			<li class="intro-sns__item">
				<a href="" class="intro-sns__link">
					<i class="fa fa-instagram"></i>
				</a>
			</li>
			<li class="intro-sns__item">
				<a href="" class="intro-sns__link type-blog">
				</a>
			</li>
			<li class="intro-sns__item">
				<a href="" class="intro-sns__link">
					<i class="fa fa-youtube-play"></i>
				</a>
			</li>
		</ul>
		<!-- //sns -->
		<div class="intro-inner__box">
			<p class="intro-inner__txt nth-1 js-main-txt1">
				아름다움을 넘어
			</p>
			<p class="intro-inner__txt nth-2 js-main-txt2">
				자연스러움이 보여질 때까지, <br>
				한 순간도 눈을 떼지 않는
			</p>
			<div class="intro-inner__wrap">
				<div class="intro-inner__typed" id="typed-strings">
					<h3 class="intro-inner__tit">나는 <span class="point-color">디테일리스트</span>입니다</h3>
				</div>
				<h3 class="intro-inner__tit" id="typed"></h3>
			</div>
			<p class="intro-inner__subtit js-main-txt3">이것이 우리가 스스로를 디테일리스트라 부르는 이유</p>
		</div>
		<!-- //txt-box-->
		<div class="scroll">
			<p class="scroll__txt">SCROLL</p>
			<div class="scroll__inner">
				<i class="scroll__ball"></i>
			</div>
		</div>
	</div>
	<!--//intro-inner-->
	<div class="intro-info">
		<div class="intro-info__relative">
			<div class="intro-info__wrap">
				<img src="../../images/main/logo_s.png" alt="" class="intro-info__logo">
				<a href="" class="counseling-btn">상담신청</a>
				<ul class="intro-info__list">
					<!-- <li class="intro-info__item type-time">평일 10:00~18:30 . 화,금 10:00~20:00 . 주말 10:00~16:00</li> -->
					<li class="intro-info__item type-map">서울특별시 강남구논현로 517 바노바기성형외과</li>
					<li class="intro-info__item type-btn">
						<a href="" class="intro-info__btn"><i class="fa fa-phone"></i>1588.6508</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="detail">
	<ul class="detail__list">
		<li class="detail__item nth-1-2">
			<div class="detail__bg">
				<div class="detail__wrap">
					<div class="detail__front">
						<p class="detail__subtit">Detail list</p>
						<p class="detail__name">전희대</p>
						<p class="detail__job">피부과전문의 17년 경력</p>
					</div>
					<div class="detail__back">
						<div class="detail__box">
							<span class="detail__icon">&amp;</span>
							<p class="detail__tit">
								기본에 충실하면서<br class="hidden-m">
								새로운 시술을 개발하는<br class="hidden-m">
								나는 <span class="point-color2">디테일리스트</span>입니다.
							</p>
							<p class="detail__txt">
								더 좋은 결과를 위해 새로운 치료법을<br class="hidden-tm">
								연구하고 도전하는 것을 좋아합니다.<br class="hidden-m">
								아름다움은 노력입니다.
							</p>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="detail__item nth-1-3">
			<div class="detail__bg">
				<div class="detail__wrap">
					<div class="detail__front">
						<p class="detail__subtit">Detail list</p>
						<p class="detail__name">김은진</p>
						<p class="detail__job">피부과전문의</p>
					</div>
					<div class="detail__back">
						<div class="detail__box">
							<span class="detail__icon">&amp;</span>
							<p class="detail__tit">
								환자의 입장에서<br class="hidden-tm">
								먼저 듣고 고민하는<br>
								나는 <span class="point-color2">디테일리스트</span>입니다.
							</p>
							<p class="detail__txt">
								환자의 고민을 보다 잘 이해하기<br class="hidden-tm">
								위해서 항상 환자 입장에서 생각하고<br class="hidden-m">
								치료 방법을 고민합니다.
							</p>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="detail__item nth-1-4">
			<div class="detail__bg">
				<div class="detail__wrap">
					<div class="detail__front">
						<p class="detail__subtit">Detail list</p>
						<p class="detail__name">전인경</p>
						<p class="detail__job">피부과전문의</p>
					</div>
					<div class="detail__back">
						<div class="detail__box">
							<span class="detail__icon">&amp;</span>
							<p class="detail__tit">
								더 오래 아름다울 수<br class="hidden-tm"> 있도록 치료하는<br>
								나는 <span class="point-color2">디테일리스트</span>입니다.
							</p>
							<p class="detail__txt">
								일시적으로 예뻐 보이는 피부보다<br class="hidden-m">
								건강함이 오래 유지되는 피부<br class="hidden-tm">
								제가 생각하는 좋은 피부이자 치료법입니다.
							</p>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li class="detail__item nth-2-2">
			<div class="detail__bg">
				<div class="detail__wrap">
					<div class="detail__front">
						<p class="detail__subtit">Detail list</p>
						<p class="detail__name">박하나</p>
						<p class="detail__job">바노바기피부과 상담실장</p>
					</div>
					<div class="detail__back">
						<div class="detail__box">
							<span class="detail__icon">&amp;</span>
							<p class="detail__tit">
								오랜 고객들의 마음을<br class="hidden-tm">
								누구보다 먼저 읽는<br>
								나는 <span class="point-color2">디테일리스트</span>입니다.
							</p>
							<p class="detail__txt">
								바노바기피부과는 유난히 오래된 고객분들이 많아요.<br class="hidden-m">
								서로에 대한 신뢰를 기본으로,<br class="hidden-tm">
								언제나 처음처럼 맞이하려 합니다.
							</p>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>

<% include ../_include/_footer %>
