<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="program">
		<div class="program__visual">
			<img src="../../images/program/program_visual.jpg" alt="" class="hidden-tm">
			<img src="../../images/program/program_visual_m.jpg" alt="" class="hidden-p">
		</div>
		<div class="inner-wrap">
			<div class="program__area">
				<ul class="program__list">
					<li class="program__item">
						<div class="program__wrap">
							<img src="../../images/temp/program_img1.jpg" alt="" class="img-responsive">
							<a href="" class="program__link">상세보기</a>
						</div>
					</li>
					<li class="program__item">
						<div class="program__wrap">
							<img src="../../images/temp/program_img1.jpg" alt="" class="img-responsive">
							<a href="" class="program__link">상세보기</a>
						</div>
					</li>
					<li class="program__item">
						<div class="program__wrap">
							<img src="../../images/temp/program_img1.jpg" alt="" class="img-responsive">
							<a href="" class="program__link">상세보기</a>
						</div>
					</li>
					<li class="program__item">
						<div class="program__wrap">
							<img src="../../images/temp/program_img1.jpg" alt="" class="img-responsive">
							<a href="" class="program__link">상세보기</a>
						</div>
					</li>
					<li class="program__item">
						<div class="program__wrap">
							<img src="../../images/temp/program_img1.jpg" alt="" class="img-responsive">
							<a href="" class="program__link">상세보기</a>
						</div>
					</li>
					<li class="program__item">
						<div class="program__wrap">
							<img src="../../images/temp/program_img1.jpg" alt="" class="img-responsive">
							<a href="" class="program__link">상세보기</a>
						</div>
					</li>
				</ul>
				<div class="pagination">
					<ul class="pagination__list">
					    <li class="pagination__item pagination__item-first">
					        <a href="" class="pagination__link">처음</a>
					    </li>
					    <li class="pagination__item pagination__item-prev">
					        <a href="" class="pagination__link">이전</a>
					    </li>
					    <li class="pagination__item pagination__item-num is-active">
					        <a href="" class="pagination__link">1</a>
					    </li>
					    <li class="pagination__item pagination__item-num is-acitve">
					        <a href="" class="pagination__link">2</a>
					    </li>
					    <li class="pagination__item pagination__item-num">
					        <a href="" class="pagination__link">3</a>
					    </li>
					    <li class="pagination__item pagination__item-num">
					        <a href="" class="pagination__link">4</a>
					    </li>
					    <li class="pagination__item pagination__item-num">
					        <a href="" class="pagination__link">5</a>
					    </li>
					    <li class="pagination__item pagination__item-next">
					        <a href="" class="pagination__link">다음</a>
					    </li>
					    <li class="pagination__item pagination__item-last">
					        <a href="" class="pagination__link">마지막</a>
					    </li>
					</ul>
					</div>
			</div>
		</div>
	</div>
	<div class="quick">
		<ul class="quick__list">
			<li class="quick__item type-top">
				<a href="" class="quick__link js-top"><span class="quick__wrap">TOP</span></a>
			</li>
		</ul>
	</div>
</div>

<% include ../_include/_footer %>
