<%
	type = "content"
	page = "pore"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="container__wrap">
		<div class="content-visual type-acne">
			<div class="content-visual__box type-left">
				<div class="content-visual__wrap">
					<h2 class="content-visual__tit">
						바노바기 모공 탄력
						<span class="content-visual__tit-point">성인<span class="inline-block">여드름</span> <span class="inline-block">퀵 테라피</span></span>
					</h2>
					<p class="content-visual__txt1">
						어른이 되어서도 수시로 찾아 오는 불청객 여드름,<br class="hidden-tm">
						방치하지 말고 바노바기 여드름 퀵테라피로 치료하세요.
					</p>
					<p class="content-visual__point">POINT</p>
					<p class="content-visual__txt2">
						좁쌀 여드름, 염증성 여드름, 여드름 자국까지<br class="hidden-tm">
						빠르게 치료
					</p>
				</div>
			</div>
			<div class="content-visual__box type-right">
				<div class="content-visual__img">성인여드름 이미지</div>
			</div>
		</div>
		<!-- //content-visual-->
		<div class="content-seciton">
			<div class="acne-box1">
				<div class="content-top type-acne">
					<p class="content-top__subtit subtit-v1">피부타입에 따른 여드름 치료</p>
					<h2 class="content-top__tit tit-v1">성인여드름 <span class="color-acne1">퀵 테라피</span></h2>
					<p class="content-top__txt txt-v1">
						바노바기 피부과는 개인별 피부타입, 여드름이 생기는 원인을 파악하여<br class="hidden-m">
						올바른 여드름 치료방법을 제시합니다.
					</p>
				</div>
				<!-- //content-top-->
			</div><!-- //acne-box1 -->
			<div class="advantage box-style1 type-acne">
				<p class="advantage__subtit subtit-v1">AcnE QUICK therapy</p>
				<h2 class="advantage__tit tit-v1">성인여드름 퀵 테라피의 <span class="color-acne1">장점</span></h2>
				<div class="advantage__img">성인여드림 이미지</div>
				<div class="advantage__bg">
					<ul class="advantage__list">
						<li class="advantage__item">
							<div class="advantage__box">ONE DAY 시술</div>
						</li>
						<li class="advantage__item">
							<div class="advantage__box">빠르게 치료 가능</div>
						</li>
						<li class="advantage__item">
							<div class="advantage__box">여드름 원인부터 치료</div>
						</li>
						<li class="advantage__item">
							<div class="advantage__box">여드름 자국이나 흉터가 거의 남지 않음</div>
						</li>
						<li class="advantage__item">
							<div class="advantage__box">여드름 붉은 자국을 동시에 치료</div>
						</li>
						<li class="advantage__item">
							<div class="advantage__box">피부 타입에 맞는 맞춤형 시술</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="acne-box2 box-style1 type-another">
				<p class="acne-box2__subtit subtit-v1">여드름 퀵 테라피 program 1</p>
				<h2 class="acne-box2__tit tit-v1"><span class="color-acne1">피지 분비가 많은 피부</span>에 추천</h2>
				<p class="acne-box2__subtit2 subtit-v1">맞춤 스케일링으로 숨어 있는 피지까지 쏙쏙 뽑아낸다! </p>
				<div class="acne-box2__box">
					<h3 class="acne-box2__subject">1주차</h3>
					<ul class="acne-box2__list">
						<li class="acne-box2__item">
							<div class="acne-box2__img">
								<img src="../../images/pore/acne/acne_program1_1.png" alt="스킨스케일링" class="img-responsive">
							</div>
							<p class="acne-box2__txt">스킨스케일링</p>
						</li>
						<li class="acne-box2__item">
							<div class="acne-box2__img">
								<img src="../../images/pore/acne/acne_program1_2.png" alt="여드름 압출" class="img-responsive">
							</div>
							<p class="acne-box2__txt">여드름 압출</p>
						</li>
						<li class="acne-box2__item">
							<div class="acne-box2__img">
								<img src="../../images/pore/acne/acne_program1_3.png" alt="크라이오셀 재생관리" class="img-responsive">
							</div>
							<p class="acne-box2__txt">크라이오셀 재생관리</p>
						</li>
						<li class="acne-box2__item">
							<div class="acne-box2__img">
								<img src="../../images/pore/acne/acne_program1_4.png" alt="초음파 염증 치료" class="img-responsive">
							</div>
							<p class="acne-box2__txt">초음파 염증 치료</p>
						</li>
					</ul>
				</div>
				<!-- //acne-box2__box-->
				<div class="acne-box2__box">
					<h3 class="acne-box2__subject">2주차</h3>
					<ul class="acne-box2__list">
						<li class="acne-box2__item">
							<div class="acne-box2__img">
								<img src="../../images/pore/acne/acne_program1_1.png" alt="스킨스케일링" class="img-responsive">
							</div>
							<p class="acne-box2__txt">스킨스케일링</p>
						</li>
						<li class="acne-box2__item">
							<div class="acne-box2__img">
								<img src="../../images/pore/acne/acne_program1_2.png" alt="여드름 압출" class="img-responsive">
							</div>
							<p class="acne-box2__txt">여드름 압출</p>
						</li>
						<li class="acne-box2__item">
							<div class="acne-box2__img">
								<img src="../../images/pore/acne/acne_program1_5.png" alt="PDT" class="img-responsive">
							</div>
							<p class="acne-box2__txt">PDT</p>
						</li>
					</ul>
				</div>
				<!-- //acne-box2__box-->
				<div class="acne-box2__box">
					<h3 class="acne-box2__subject">3주차</h3>
					<ul class="acne-box2__list type-five">
						<li class="acne-box2__item">
							<div class="acne-box2__img">
								<img src="../../images/pore/acne/acne_program1_1.png" alt="스킨스케일링" class="img-responsive">
							</div>
							<p class="acne-box2__txt">스킨스케일링</p>
						</li>
						<li class="acne-box2__item">
							<div class="acne-box2__img">
								<img src="../../images/pore/acne/acne_program1_2.png" alt="여드름 압출" class="img-responsive">
							</div>
							<p class="acne-box2__txt">여드름 압출</p>
						</li>
						<li class="acne-box2__item">
							<div class="acne-box2__img">
								<img src="../../images/pore/acne/acne_program1_3.png" alt="크라이오셀 재생관리" class="img-responsive">
							</div>
							<p class="acne-box2__txt">크라이오셀 재생관리</p>
						</li>
						<li class="acne-box2__item">
							<div class="acne-box2__img">
								<img src="../../images/pore/acne/acne_program1_6.png" alt="브이빔레이저" class="img-responsive">
							</div>
							<p class="acne-box2__txt">브이빔레이저</p>
						</li>
						<li class="acne-box2__item">
							<div class="acne-box2__img">
								<img src="../../images/pore/acne/acne_program1_7.png" alt="레이저토닝/I2PL" class="img-responsive">
							</div>
							<p class="acne-box2__txt">레이저토닝/I2PL</p>
						</li>
					</ul>
				</div>
				<!-- //acne-box2__box-->
				<p class="acne-box2__noti">* 4~6주는 1~3주차 프로그램과 동일합니다.</p>
			</div>
			<div class="acne-box2 box-style1">
				<p class="acne-box2__subtit subtit-v1">여드름 퀵 테라피 program 2</p>
				<h2 class="acne-box2__tit tit-v1"><span class="color-acne1">건조하고 예민한 피부</span>에 추천</h2>
				<p class="acne-box2__subtit2 subtit-v1">피지는 줄이고, 염증은 완화하고, 보습은 충분히!</p>
				<div class="acne-box2__box">
					<h3 class="acne-box2__subject">1주차</h3>
					<ul class="acne-box2__list">
						<li class="acne-box2__item">
							<div class="acne-box2__img">
								<img src="../../images/pore/acne/acne_program2_1.png" alt="스킨스케일링" class="img-responsive">
							</div>
							<p class="acne-box2__txt">스킨스케일링</p>
						</li>
						<li class="acne-box2__item">
							<div class="acne-box2__img">
								<img src="../../images/pore/acne/acne_program2_2.png" alt="여드름 압출" class="img-responsive">
							</div>
							<p class="acne-box2__txt">여드름 압출</p>
						</li>
						<li class="acne-box2__item">
							<div class="acne-box2__img">
								<img src="../../images/pore/acne/acne_program2_3.png" alt="크라이오셀 재생관리" class="img-responsive">
							</div>
							<p class="acne-box2__txt">크라이오셀 재생관리</p>
						</li>
						<li class="acne-box2__item">
							<div class="acne-box2__img">
								<img src="../../images/pore/acne/acne_program2_4.png" alt="초음파 염증 치료" class="img-responsive">
							</div>
							<p class="acne-box2__txt">초음파 염증 치료</p>
						</li>
					</ul>
				</div>
				<!-- //acne-box2__box-->
				<div class="acne-box2__box">
					<h3 class="acne-box2__subject">2주차</h3>
					<ul class="acne-box2__list">
						<li class="acne-box2__item">
							<div class="acne-box2__img">
								<img src="../../images/pore/acne/acne_program2_1.png" alt="스킨스케일링" class="img-responsive">
							</div>
							<p class="acne-box2__txt">스킨스케일링</p>
						</li>
						<li class="acne-box2__item">
							<div class="acne-box2__img">
								<img src="../../images/pore/acne/acne_program2_2.png" alt="여드름 압출" class="img-responsive">
							</div>
							<p class="acne-box2__txt">여드름 압출</p>
						</li>
						<li class="acne-box2__item">
							<div class="acne-box2__img">
								<img src="../../images/pore/acne/acne_program2_5.png" alt="PDT" class="img-responsive">
							</div>
							<p class="acne-box2__txt">PDT</p>
						</li>
					</ul>
				</div>
				<!-- //acne-box2__box-->
				<div class="acne-box2__box">
					<h3 class="acne-box2__subject">3주차</h3>
					<ul class="acne-box2__list">
						<li class="acne-box2__item">
							<div class="acne-box2__img">
								<img src="../../images/pore/acne/acne_program2_1.png" alt="스킨스케일링" class="img-responsive">
							</div>
							<p class="acne-box2__txt">스킨스케일링</p>
						</li>
						<li class="acne-box2__item">
							<div class="acne-box2__img">
								<img src="../../images/pore/acne/acne_program2_6.png" alt="물광주사" class="img-responsive">
							</div>
							<p class="acne-box2__txt"><span class="color-acne1">물광주사</span></p>
						</li>
						<li class="acne-box2__item">
							<div class="acne-box2__img">
								<img src="../../images/pore/acne/acne_program2_7.png" alt="브이빔레이저" class="img-responsive">
							</div>
							<p class="acne-box2__txt">브이빔레이저</p>
						</li>
						<li class="acne-box2__item">
							<div class="acne-box2__img">
								<img src="../../images/pore/acne/acne_program2_8.png" alt="레이저토닝/I2PL" class="img-responsive">
							</div>
							<p class="acne-box2__txt">레이저토닝/I2PL</p>
						</li>
					</ul>
				</div>
				<!-- //acne-box2__box-->
				<p class="acne-box2__noti">* 4~6주는 1~3주차 프로그램과 동일합니다.</p>
			</div>
			<div class="acne-box3 box-style1">
				<p class="acne-box3__subtit subtit-v1">체계적인 여드름 치료</p>
				<h2 class="acne-box3__tit tit-v1">여드름 퀵 테라피<br class="hidden-pt"> 프로그램<br class="hidden-m"> <span class="color-acne1">시술방법</span></h2>
				<div class="acne-box3__box">
					<h3 class="acne-box3__subject">맞춤 스킨 스케일링</h3>
					<p class="acne-box3__txt txt-v1">바노바기 스케일링은 일상생활에 거의 지장을 주지 않으면서 <span class="color-acne1">피부 타입에 맞게</span> 효과적으로 피지와 각질을 제거 하도록 노력합니다.</p>
					<div class="acne-box3__img">
						<img src="../../images/pore/acne/acne_quick1.jpg" alt="맞춤 스킨 스케일링" class="img-responsive">
					</div>
					<ul class="acne-box3__list">
						<li class="acne-box3__item">
							<strong class="acne-box3__point">바노바기 필링 A (블랙필)</strong> : 바노바기 필링 A (반복되는 여드름, 피지분비가 많은 피부,
							강력한 살균 작용,  각질 제거, 피지 감소, 진정 효과가 뛰어납니다. 블랙필)
						</li>
						<li class="acne-box3__item">
							<strong class="acne-box3__point">바노바기 필링 B (GA필)</strong> : 노화된 각질을 녹이고 피지를 효과적으로 배출, 미백효과가
							있어서 피부톤이 칙칙한 피부, 건조한 피부에 좋습니다.
						</li>
						<li class="acne-box3__item">
							<strong class="acne-box3__point">바노바기 필링 C-1 </strong> : 심한 염증성 여드름, 화농성 여드름을 빠르게 진정시키고 과도하게
							쌓여 있는 각질과 피지 등의 노폐물을 깨끗하게 완화합니다.
						</li>
						<li class="acne-box3__item">
							<strong class="acne-box3__point">바노바기 필링 C-2 </strong> : 좁쌀 여드름을 제거하는 데 효과적입니다.
						</li>
						<li class="acne-box3__item">
							<strong class="acne-box3__point">바노바기 필링 C-3 </strong> : 자극이 적어 예민한 피부에 효과적입니다.
						</li>
					</ul>
				</div><!-- //acne-box3__box-->
				<div class="acne-box3__box">
					<h3 class="acne-box3__subject">초음파 염증 치료 - 하이퍼럭스</h3>
					<p class="acne-box3__txt txt-v1">
						염증을 완화하는 탁월한 효과, 아픈 염증 주사를 맞지 않아도 됩니다.
						피지배출을 쉽게 유도하기 때문에 여드름 압출 시 통증이 적고 흉터를 거의 남기지 않습니다.
						붉어진 피부톤을 안정시키는 역할도 합니다.
					</p>
					<div class="acne-box3__img">
						<img src="../../images/pore/acne/acne_quick2.jpg" alt="초음파 염증 치료 - 하이퍼럭스" class="img-responsive">
					</div>
				</div><!-- //acne-box3__box-->
				<div class="acne-box3__box">
					<h3 class="acne-box3__subject">크라이오셀 재생 관리</h3>
					<p class="acne-box3__txt txt-v1">
						여드름압출로 자극 받은 피부를 빠르게 진정시켜 홍반, 열감 등 감소.
						재생 앰플을 깊숙이 침투, 빠르게 피부 재생과 회복을 유도
					</p>
					<div class="acne-box3__img">
						<img src="../../images/pore/acne/acne_quick3.jpg" alt="크라이오셀 재생 관리" class="img-responsive">
					</div>
				</div><!-- //acne-box3__box-->
				<div class="acne-box3__box">
					<h3 class="acne-box3__subject">PDT</h3>
					<p class="acne-box3__txt txt-v1">
						특수 약물을 도포한 후 특정 파장의 레이저를 조사, 피지선과 여드름 균을 선택적으로
						파괴하여 여드름의 원인이 되는 피지 분비를 억제해줍니다.
					</p>
					<div class="acne-box3__img">
						<img src="../../images/pore/acne/acne_quick4.jpg" alt="초음파 염증 치료 - 하이퍼럭스" class="img-responsive">
					</div>
				</div><!-- //acne-box3__box-->
				<div class="acne-box3__box">
					<h3 class="acne-box3__subject">브이빔 레이저</h3>
					<p class="acne-box3__txt txt-v1">
						여드름 붉은 자국과 붉은기를 잡는 레이저. 울긋불긋한 여드름 자국을 빠르게 치료합니다.
					</p>
					<div class="acne-box3__img">
						<img src="../../images/pore/acne/acne_quick5.jpg" alt="브이빔 레이저" class="img-responsive">
					</div>
				</div><!-- //acne-box3__box-->
				<div class="acne-box3__box">
					<h3 class="acne-box3__subject">레이저토닝 / I2PL</h3>
					<p class="acne-box3__txt txt-v1">
						칙칙해진 피부톤을 밝게 해주고 여드름으로 인한 색소침착을 개선합니다.
					</p>
					<div class="acne-box3__img">
						<img src="../../images/pore/acne/acne_quick6.jpg" alt="물광주사" class="img-responsive">
					</div>
				</div><!-- //acne-box3__box-->
				<div class="acne-box3__box">
					<h3 class="acne-box3__subject">물광주사 (프로그램 B에만 포함됩니다)</h3>
					<p class="acne-box3__txt txt-v1">
						피부 진피층에 히알루론산을 직접 주입하여 보습 효과를 충분히 주어 건조해진 피부를 촉촉하고 맑게 가꾸어줍니다.
					</p>
					<div class="acne-box3__img">
						<img src="../../images/pore/acne/acne_quick7.jpg" alt="물광주사" class="img-responsive">
					</div>
				</div><!-- //acne-box3__box-->
			</div>
			<div class="acne-box4 box-style1">
				<p class="acne-box4__subtit">
					퀵 테라피 프로그램으로 염증성 여드름,<br class="hidden-p"> 붉은 여드름을 빠르게 잡고 난 뒤<br class="hidden-tm">
					이후 <span class="color-acne1">재발을 방지하고<br class="hidden-p"> 지속적인 관리</span>를 위해
				</p>
				<h2 class="acne-box4__tit">다음 단계를 컨설팅 해드립니다.</h2>
				<ul class="acne-box4__list">
					<li class="acne-box4__item">
						<div class="acne-box4__img">
							<img src="../../images/pore/acne/acne_img3.jpg" class="img-responsive" alt="여드름 흉터가 많은 경우">
						</div>
						<div class="acne-box4__wrap">
							<div class="vertical clear-m">
								<h3 class="tit-v2">01. 여드름 흉터가 많은 경우</h3>
								<p class="txt-v2">올인원올모공, 프락셀듀얼, 엑스카, 서브시전</p>
							</div>
						</div>
					</li>
					<li class="acne-box4__item">
						<div class="acne-box4__img">
							<img src="../../images/pore/acne/acne_img4.jpg" class="img-responsive" alt="여드름 색소 침착">
						</div>
						<div class="acne-box4__wrap">
							<div class="vertical clear-m">
								<h3 class="tit-v2">02. 여드름 색소 침착</h3>
								<p class="txt-v2">올인원테라피, 루비레이저, 레이저토닝, 브이빔</p>
							</div>
						</div>
					</li>
					<li class="acne-box4__item">
						<div class="acne-box4__img">
							<img src="../../images/pore/acne/acne_img5.jpg" class="img-responsive" alt="">
						</div>
						<div class="acne-box4__wrap">
							<div class="vertical clear-m">
								<h3 class="tit-v2">03. 유수분 밸런스 맞추기</h3>
								<p class="txt-v2">PDT + 물광치료</p>
							</div>
						</div>
					</li>
					<li class="acne-box4__item">
						<div class="acne-box4__img">
							<img src="../../images/pore/acne/acne_img6.jpg" class="img-responsive" alt="">
						</div>
						<div class="acne-box4__wrap">
							<div class="vertical clear-m">
								<h3 class="tit-v2">04. 여드름에 동반된 얼굴 잔털</h3>
								<p class="txt-v2">G-max 제모</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="acne-box5">
				<div class="acne-box5__box">
					<p class="acne-box5__subtit">생리전증후군으로 인한 여드름도<br> 바노바기에서 특별하게 케어하세요.</p>
					<h2 class="acne-box5__tit tit-v1">성인여드름 <strong class="color-acne2">핑크 테라피</strong></h2>
					<p class="acne-box5__noti">생리 시작 전, 딱 한 시간만 투자하세요!</p>
					<p class="acne-box5__txt txt-v1">
						한 달에 한 번, 생리를 시작할 즈음 보기 싫은 여드름이 올라온다면?<br>
						이 시기에는 육체 피로도가 더해지고 스트레스도 심해지기 때문에 몸과 피부를 진정시켜 여드름을  예방하는 것이 좋습니다.
						이때 여드름을 방치하면 오히려 악화되거나 반복될 가능성이 커지고 색소침착과 여드름 흉터로 이어질 수 있으니,<br>
						<strong>생리 전 한 시간만 투자하세요!</strong>
					</p>
				</div>
				<div class="acne-box5__bg">
					<ul class="acne-box5__list">
						<li class="acne-box5__item">
							<div class="vertical">스트레스 검사</div>
						</li>
						<li class="acne-box5__item">
							<div class="vertical">비타민주사 처방</div>
						</li>
						<li class="acne-box5__item">
							<div class="vertical">맞춤 스케일링</div>
						</li>
						<li class="acne-box5__item">
							<div class="vertical"><span class="color-acne3">초음파 염증 치료</span></div>
						</li>
					</ul>
					<p class="acne-box5__txt2 txt-v1">
						고용량 비타민 공급으로 스트레스를 낮추고, 피부톤은 맑게<br class="hidden-m">
						피부 타입에 맞는 맞춤 스케일링으로 피지를 개선하고 각질을 녹여내<br class="hidden-m">
						여드름 유발 원인 치료
					</p>
				</div>
			</div>
		</div>

	</div>
</div>
<% include ../_include/_footer %>
