<%
	type = "content"
	page = "pore"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="container__wrap">
		<div class="content-visual type-allpore">
			<div class="content-visual__box type-left">
				<div class="content-visual__wrap">
					<h2 class="content-visual__tit">
						바노바기 모공 탄력
						<span class="content-visual__tit-point">올인원<span class="inline-block">올모공</span></span>
					</h2>
					<p class="content-visual__txt1">
						탄력과 함께 되살아는 동안 피부결!<br>
						더욱 특별한 피부 관리 프로그램
					</p>
					<p class="content-visual__point">POINT</p>
					<p class="content-visual__txt2">
						기존 올인원 올모공 프로그램에 물광PRP, 더블로 레이저<br class="hidden-m">
						파스텔 토닝이 추가된 프로그램입니다.
					</p>
				</div>
			</div>
			<div class="content-visual__box type-right">
				<div class="content-visual__img">올인원올모공 이미지</div>
			</div>
			<div class="content-visual__box type-left type-another">
				<div class="content-visual__table">
					<h3 class="content-visual__subject">올인원올모공 핵심 포인트</h3>
				</div>
			</div>
			<div class="content-visual__box type-right type-another">
				<ul class="content-table">
					<li class="content-table__item">
						<div class="content-table__tr">
							<div class="content-table__th">One-stop 솔루션</div>
							<div class="content-table__td">올인원 테라피 + 모공관리를 동시에 진행하여 피부 개선 효과를 높임</div>
						</div>
					</li>
					<li class="content-table__item">
						<div class="content-table__tr">
							<div class="content-table__th">개인 맞춤형</div>
							<div class="content-table__td">정밀한 분석을 바탕으로 프로그램을 유동적으로적용 </div>
						</div>
					</li>
					<li class="content-table__item">
						<div class="content-table__tr">
							<div class="content-table__th">안전하고 간편함</div>
							<div class="content-table__td">멍, 부기, 통증 등의 부작용이 거의 없는 안전한 시술</div>
						</div>
					</li>
				</ul>
				<!-- //content-table-->
			</div>
		</div>
		<!-- //content-visual-->
		<div class="content-seciton">
			<div class="allpore-box1">
				<div class="content-top type-allpore">
					<p class="content-top__subtit subtit-v1">기존 올인원 테라피와 모공 치료 시술을 추가한<br class="hidden-pt"> 새로운 구성의 프로그램</p>
					<h2 class="content-top__tit tit-v1">바노바기 <span class="color-allpore1">올인원 올모공</span></h2>
					<p class="content-top__txt txt-v1">
						점, 잡티, 검버섯, 여드름 개선 및 흉터치료와 제모 등 다양한 피부관리는 물론<br class="hidden-tm">
						모공관리, 주름개선, 리프팅에도 탁월한 효과를 나타냅니다.
					</p>
					<div class="allpore-box1__img">
						<ul class="allpore-box1__list">
							<li class="allpore-box1__item type-left">
								<p class="allpore-box1__txt vertical">올인원 테라피</p>
							</li>
							<li class="allpore-box1__item type-right">
								<p class="allpore-box1__txt vertical">특별 모공 관리</p>
							</li>
						</ul>
					</div>
				</div>
				<!-- //content-top-->
			</div><!-- //allpore-box1 -->
			<div class="content-line type-allpore1">
				<div class="vertical">
					특별 모공 관리 : 에센셜 PRP + 물광주사, 프락셀듀얼 or 셀라스레이저, 플로라셀레이저, 폴라리스레이저, 메조보톡스
				</div>
			</div>
			<div class="img-list6 box-style1 type-allpore">
				<h2 class="img-list6__tit tit-v1">올인원 올모공 <span class="color-allpore1">시술과정</span></h2>
				<p class="img-list6__subtit">올인원올모공 시술과정</p>
				<ul class="img-list6__list">
					<li class="img-list6__item">
						<div class="img-list6__img">
							<img src="../../images/pore/allpore/allpore_surgical1.jpg" alt="올인원테라피, 재생관리" class="img-responsive">
						</div>
						<div class="img-list6__box">
							<div class="vertical">
								<h3 class="img-list6__subject">1주</h3>
								<p class="img-list6__txt">올인원테라피, 재생관리</p>
							</div>
						</div>
					</li>
					<li class="img-list6__item">
						<div class="img-list6__img">
							<img src="../../images/pore/allpore/allpore_surgical2.jpg" alt="화이트닝케어" class="img-responsive">
						</div>
						<div class="img-list6__box">
							<div class="vertical">
								<h3 class="img-list6__subject">2주</h3>
								<p class="img-list6__txt">화이트닝케어</p>
							</div>
						</div>
					</li>
					<li class="img-list6__item">
						<div class="img-list6__img">
							<img src="../../images/pore/allpore/allpore_surgical3.jpg" alt="프락셀듀얼" class="img-responsive">
						</div>
						<div class="img-list6__box">
							<div class="vertical">
								<h3 class="img-list6__subject">3주</h3>
								<p class="img-list6__txt">프락셀듀얼</p>
							</div>
						</div>
					</li>
					<li class="img-list6__item">
						<div class="img-list6__img">
							<img src="../../images/pore/allpore/allpore_surgical4.jpg" alt="화이트닝케어" class="img-responsive">
						</div>
						<div class="img-list6__box">
							<div class="vertical">
								<h3 class="img-list6__subject">4주</h3>
								<p class="img-list6__txt">화이트닝케어</p>
							</div>
						</div>
					</li>
					<!--/img-list6__item 4개-->
					<li class="img-list6__item">
						<div class="img-list6__img">
							<img src="../../images/pore/allpore/allpore_surgical5.jpg" alt="물광 DNA" class="img-responsive">
						</div>
						<div class="img-list6__box">
							<div class="vertical">
								<h3 class="img-list6__subject">5주</h3>
								<p class="img-list6__txt">물광 DNA</p>
							</div>
						</div>
					</li>
					<li class="img-list6__item">
						<div class="img-list6__img">
							<img src="../../images/pore/allpore/allpore_surgical6.jpg" alt="화이트닝케어" class="img-responsive">
						</div>
						<div class="img-list6__box">
							<div class="vertical">
								<h3 class="img-list6__subject">6주</h3>
								<p class="img-list6__txt">화이트닝케어</p>
							</div>
						</div>
					</li>
					<li class="img-list6__item">
						<div class="img-list6__img">
							<img src="../../images/pore/allpore/allpore_surgical7.jpg" alt="메조 보톡스" class="img-responsive">
						</div>
						<div class="img-list6__box">
							<div class="vertical">
								<h3 class="img-list6__subject">7주</h3>
								<p class="img-list6__txt">메조 보톡스</p>
							</div>
						</div>
					</li>
					<li class="img-list6__item">
						<div class="img-list6__img">
							<img src="../../images/pore/allpore/allpore_surgical8.jpg" alt="화이트닝케어" class="img-responsive">
						</div>
						<div class="img-list6__box">
							<div class="vertical">
								<h3 class="img-list6__subject">8주</h3>
								<p class="img-list6__txt">화이트닝케어</p>
							</div>
						</div>
					</li>
					<!--/img-list6__item 4개-->
					<li class="img-list6__item">
						<div class="img-list6__img">
							<img src="../../images/pore/allpore/allpore_surgical9.jpg" alt="프락셀듀얼 2차" class="img-responsive">
						</div>
						<div class="img-list6__box">
							<div class="vertical">
								<h3 class="img-list6__subject">9주</h3>
								<p class="img-list6__txt">프락셀듀얼 2차</p>
							</div>
						</div>
					</li>
					<li class="img-list6__item">
						<div class="img-list6__img">
							<img src="../../images/pore/allpore/allpore_surgical10.jpg" alt="화이트닝케어" class="img-responsive">
						</div>
						<div class="img-list6__box">
							<div class="vertical">
								<h3 class="img-list6__subject">10주</h3>
								<p class="img-list6__txt">화이트닝케어</p>
							</div>
						</div>
					</li>
					<li class="img-list6__item">
						<div class="img-list6__img">
							<img src="../../images/pore/allpore/allpore_surgical11.jpg" alt="Floracel+물광 DNA 2차" class="img-responsive">
						</div>
						<div class="img-list6__box">
							<div class="vertical">
								<h3 class="img-list6__subject">11주</h3>
								<p class="img-list6__txt">Floracel+물광 DNA 2차</p>
							</div>
						</div>
					</li>
					<li class="img-list6__item">
						<div class="img-list6__img">
							<img src="../../images/pore/allpore/allpore_surgical12.jpg" alt="화이트닝케어" class="img-responsive">
						</div>
						<div class="img-list6__box">
							<div class="vertical">
								<h3 class="img-list6__subject">12주</h3>
								<p class="img-list6__txt">화이트닝케어</p>
							</div>
						</div>
					</li>
					<!--/img-list6__item 4개-->
				</ul>
				<p class="img-list6__subtit">업그레이드 된<span class="color-allpore1"> NEW올인원올모공</span> 시술과정</p>
				<ul class="img-list6__list">
					<li class="img-list6__item">
						<div class="img-list6__img">
							<img src="../../images/pore/allpore/allpore_surgical13.jpg" alt="올인원테라피, 재생관리" class="img-responsive">
						</div>
						<div class="img-list6__box">
							<div class="vertical">
								<h3 class="img-list6__subject">1주</h3>
								<p class="img-list6__txt">올인원테라피, 재생관리</p>
							</div>
						</div>
					</li>
					<li class="img-list6__item">
						<div class="img-list6__img">
							<img src="../../images/pore/allpore/allpore_surgical14.jpg" alt="이온자임 화이트닝 + 레이저 토닝" class="img-responsive">
						</div>
						<div class="img-list6__box">
							<div class="vertical">
								<h3 class="img-list6__subject">2주</h3>
								<p class="img-list6__txt">이온자임 화이트닝 + 레이저 토닝</p>
							</div>
						</div>
					</li>
					<li class="img-list6__item">
						<div class="img-list6__img">
							<img src="../../images/pore/allpore/allpore_surgical15.jpg" alt="울트라펄스" class="img-responsive">
						</div>
						<div class="img-list6__box">
							<div class="vertical">
								<h3 class="img-list6__subject">3주</h3>
								<p class="img-list6__txt"><span class="color-allpore1">울트라펄스</span></p>
							</div>
						</div>
					</li>
					<li class="img-list6__item">
						<div class="img-list6__img">
							<img src="../../images/pore/allpore/allpore_surgical16.jpg" alt="화이트닝 케어 + 레이저 토닝" class="img-responsive">
						</div>
						<div class="img-list6__box">
							<div class="vertical">
								<h3 class="img-list6__subject">4주</h3>
								<p class="img-list6__txt">화이트닝 케어 + 레이저 토닝</p>
							</div>
						</div>
					</li>
					<!--/img-list6__item 4개-->
					<li class="img-list6__item">
						<div class="img-list6__img">
							<img src="../../images/pore/allpore/allpore_surgical17.jpg" alt="물광 PRP 1차" class="img-responsive">
						</div>
						<div class="img-list6__box">
							<div class="vertical">
								<h3 class="img-list6__subject">5주</h3>
								<p class="img-list6__txt">물광 PRP 1차</p>
							</div>
						</div>
					</li>
					<li class="img-list6__item">
						<div class="img-list6__img">
							<img src="../../images/pore/allpore/allpore_surgical18.jpg" alt="화이트닝 케어 + 레이저 토닝" class="img-responsive">
						</div>
						<div class="img-list6__box">
							<div class="vertical">
								<h3 class="img-list6__subject">6주</h3>
								<p class="img-list6__txt">화이트닝 케어 + 레이저 토닝</p>
							</div>
						</div>
					</li>
					<li class="img-list6__item">
						<div class="img-list6__img">
							<img src="../../images/pore/allpore/allpore_surgical19.jpg" alt="프락셀듀얼 1차" class="img-responsive">
						</div>
						<div class="img-list6__box">
							<div class="vertical">
								<h3 class="img-list6__subject">7주</h3>
								<p class="img-list6__txt">프락셀듀얼 1차</p>
							</div>
						</div>
					</li>
					<li class="img-list6__item">
						<div class="img-list6__img">
							<img src="../../images/pore/allpore/allpore_surgical20.jpg" alt="화이트닝 케어 + 레이저 토닝" class="img-responsive">
						</div>
						<div class="img-list6__box">
							<div class="vertical">
								<h3 class="img-list6__subject">8주</h3>
								<p class="img-list6__txt">화이트닝 케어 + 레이저 토닝</p>
							</div>
						</div>
					</li>
					<!--/img-list6__item 4개-->
					<li class="img-list6__item">
						<div class="img-list6__img">
							<img src="../../images/pore/allpore/allpore_surgical21.jpg" alt="더블로 레이저" class="img-responsive">
						</div>
						<div class="img-list6__box">
							<div class="vertical">
								<h3 class="img-list6__subject">9주</h3>
								<p class="img-list6__txt">더블로 레이저</p>
							</div>
						</div>
					</li>
					<li class="img-list6__item">
						<div class="img-list6__img">
							<img src="../../images/pore/allpore/allpore_surgical22.jpg" alt="화이트닝 케어 + 레이저 토닝" class="img-responsive">
						</div>
						<div class="img-list6__box">
							<div class="vertical">
								<h3 class="img-list6__subject">10주</h3>
								<p class="img-list6__txt">화이트닝 케어 + 레이저 토닝</p>
							</div>
						</div>
					</li>
					<li class="img-list6__item">
						<div class="img-list6__img">
							<img src="../../images/pore/allpore/allpore_surgical23.jpg" alt="프락셀 듀얼 2차 + 물광PRP 2차" class="img-responsive">
						</div>
						<div class="img-list6__box">
							<div class="vertical">
								<h3 class="img-list6__subject">11주</h3>
								<p class="img-list6__txt">프락셀 듀얼 2차 + <span class="color-allpore1 inline-block">물광PRP 2차</span></p>
							</div>
						</div>
					</li>
					<li class="img-list6__item">
						<div class="img-list6__img">
							<img src="../../images/pore/allpore/allpore_surgical24.jpg" alt="화이트닝 케어 + 레이저 토닝" class="img-responsive">
						</div>
						<div class="img-list6__box">
							<div class="vertical">
								<h3 class="img-list6__subject">12주</h3>
								<p class="img-list6__txt">화이트닝 케어 + 레이저 토닝</p>
							</div>
						</div>
					</li>
					<!--/img-list6__item 4개-->
				</ul>
			</div>
			<div class="allpore-box3">
				<div class="allpore-box3__box">
					<h2 class="allpore-box3__tit"><span class="color-allpore1">NEW</span> 올인원 올모공이란?</h2>
					<p class="allpore-box3__txt">
						기존 올인원 올모공 프로그램에 피부 재생이 탁월한 <span class="color-black1">물광 PRP</span>와 리프팅에 뛰어난 <span class="color-black1">더블로 레이저,</span>
						미백관리에 효과적인 <span class="color-black1">파스텔 토닝</span>이 6회 추가된 것으로, 더욱 고급스러운 모공 치료를 원하시는
						분들을 위해 특별히 마련하였습니다.
					</p>
				</div>
			</div>
			<div class="allpore-box4 box-style1 type-pb0">
				<p class="allpore-box4__subtit subtit-v1">
					세밀한 진단이 <span class="color-allpore1">만족스러운 시술 결과</span>를 만듭니다.
				</p>
				<h3 class="allpore-box4__tit tit-v1 type-bar">더마비전 (DermaVision)</h3>
				<p class="allpore-box4__txt txt-v1">
					더마비전은 디지털 카메라를 통해 환자의 피부 상태를  면밀하게 분석하는 피부 정밀검사 기기입니다.<br class="hidden-tm">
					바노바기는 더마비전을 통해 환자의 상태를 진단하고, 증상에 따른 적절한 치료를 맞춤식으로 진행합니다.
				</p>
				<div class="allpore-box4__img">
					더마비전 이미지
				</div>
			</div>
			<div class="content-line type-allpore2">
				<div class="vertical">
					분석영역 : 기미, 주근깨, 잡티, 색소침착, 여드름, 홍조, 주름 및 표피면, 피부 미백, 수분 및 모공의 상태 등
				</div>
			</div>
			<div class="equipment box-style1 type-allpore">
				<p class="equipment__subtit subtit-v1">일석이조, 동안 얼굴과 모공치료를 한 번에 잡다!</p>
				<h2 class="equipment__tit tit-v1">올인원 올모공 <span class="color-allpore1">주요장비</span></h2>
				<ul class="equipment__list">
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<div class="equipment__mark">
									<div class="equipment__mark-border">올인원 테라피</div>
								</div>
								<img src="../../images/pore/allpore/allpore_eq1.jpg" alt="I2PL 레이저" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">I2PL 레이저</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<div class="equipment__mark">
									<div class="equipment__mark-border">올인원 테라피</div>
								</div>
								<img src="../../images/pore/allpore/allpore_eq2.jpg" alt="젠틀맥스 레이저" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">젠틀맥스 레이저</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<div class="equipment__mark">
									<div class="equipment__mark-border">올인원 테라피</div>
								</div>
								<img src="../../images/pore/allpore/allpore_eq3.jpg" alt="CO2 레이저" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">CO2 레이저</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<div class="equipment__mark">
									<div class="equipment__mark-border">올인원 테라피</div>
								</div>
								<img src="../../images/pore/allpore/allpore_eq4.jpg" alt="Ruby 레이저" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">Ruby 레이저</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<div class="equipment__mark">
									<div class="equipment__mark-border">올인원 테라피</div>
								</div>
								<img src="../../images/pore/allpore/allpore_eq5.jpg" alt="Sellas 레이저" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">Sellas 레이저</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<div class="equipment__mark">
									<div class="equipment__mark-border">올인원 테라피</div>
								</div>
								<img src="../../images/pore/allpore/allpore_eq6.jpg" alt="파스텔 토닝" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">파스텔 토닝</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<div class="equipment__mark">
									<div class="equipment__mark-border">올인원 테라피</div>
								</div>
								<img src="../../images/pore/allpore/allpore_eq7.jpg" alt="뉴브이빔 레이저" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">뉴브이빔 레이저</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<div class="equipment__mark">
									<div class="equipment__mark-border">올인원 테라피</div>
								</div>
								<img src="../../images/pore/allpore/allpore_eq8.jpg" alt="어븀 야그 레이저" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">어븀 야그 레이저</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<div class="equipment__mark type-purple">
									<div class="equipment__mark-border">올모공</div>
								</div>
								<img src="../../images/pore/allpore/allpore_eq9.jpg" alt="CO2 레이저" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">물광 PRP</h3>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<div class="equipment__mark type-purple">
									<div class="equipment__mark-border">올모공</div>
								</div>
								<img src="../../images/pore/allpore/allpore_eq10.jpg" alt="듀엣 RF 레이저" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">듀엣 RF 레이저</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<div class="equipment__mark type-purple">
									<div class="equipment__mark-border">올모공</div>
								</div>
								<img src="../../images/pore/allpore/allpore_eq11.jpg" alt="플로라셀 레이저" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">플로라셀 레이저</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<div class="equipment__mark type-purple">
									<div class="equipment__mark-border">올모공</div>
								</div>
								<img src="../../images/pore/allpore/allpore_eq12.jpg" alt="폴라리스 레이저" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">폴라리스 레이저</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<div class="equipment__mark type-purple">
									<div class="equipment__mark-border">올모공</div>
								</div>
								<img src="../../images/pore/allpore/allpore_eq13.jpg" alt="메조 보톡스" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">메조 보톡스</h3>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<div class="equipment__mark type-purple">
									<div class="equipment__mark-border">올모공</div>
								</div>
								<img src="../../images/pore/allpore/allpore_eq14.jpg" alt="프락셀 듀얼" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">프락셀 듀얼</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item type-logo">
						<div class="equipment__border">
							<div class="equipment__img">
								blank
							</div>
							<div class="equipment__wrap">
								blank
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- //equipment -->
			<div class="hexa-box box-style1">
				<p class="hexa-box__subtit">SKIN BANOBAGI</p>
				<h2 class="hexa-box__tit tit-v1">바노바기 피부과의 <span class="color-allpore1">특별함</span></h2>
				<div class="hexa-box__box">
					<div class="hexa-box__hexa">
						<div class="vertical">
							<h3 class="hexa-box__subject">
								<span class="color-allpore1">바노바기</span>
								<div class="inline-block">피부과 진료</div>
							</h3>
						</div>
						<ul class="hexa-box__list">
							<li class="hexa-box__item nth-1">
								풍부한 임상경험과 노하우
							</li>
							<li class="hexa-box__item nth-2">
								신형 의료 시설 및 시스템
							</li>
							<li class="hexa-box__item nth-3">
								고도의 시술 테크닉을 갖춘 전문 의료진
							</li>
							<li class="hexa-box__item nth-4">
								환자를 먼저 생각하는 바노바기의 진료 철학
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="bubble-box box-style1">
				<h2 class="bubble-box__tit tit-v1"><strong class="color-allpore1">끊임없이</strong> 노력하는 바노바기</h2>
				<p class="bubble-box__subtit subtit-v1">
					바노바기는 심포지엄 강의, 세미나 발표, 시술 공개 시연 등 다양한 학술, 학회 활동을 통해<br class="hidden-tm">
					피부 관리에 대한 <strong class="color-white">높은 전문성과 시술 테크닉의 우수성</strong>을 널리 인정받았습니다.
				</p>
				<ul class="bubble-box__list">
					<li class="bubble-box__item type-img nth-1">
						2008년 아시아 항노화학회 후 대만 CCTV 인터뷰 이미지
					</li>
					<li class="bubble-box__item type-txt">
						<div class="vertical">2008년 아시아 항노화학회 후 대만 CCTV 인터뷰 (타이베이, 대만)</div>
					</li>
					<li class="bubble-box__item type-img nth-2 type-right">
						2011년 제 3차 국제 미세침습성형외과 학회 (MIPS) 라이브 워크샵 강의 (상해, 중국) 이미지
					</li>
					<li class="bubble-box__item type-txt type-another">
						<div class="vertical">2011년 제 3차 국제 미세침습성형외과 학회 (MIPS) 라이브 워크샵 강의 (상해, 중국)</div>
					</li>
					<li class="bubble-box__item type-img nth-3">
						제 14회 대한피부과의사회 추계 심포지언 강의 이미지
					</li>
					<li class="bubble-box__item type-txt">
						<div class="vertical">제 14회 대한피부과의사회 추계 심포지언 강의</div>
					</li>
					<li class="bubble-box__item type-img nth-4 type-right">
						중국과 한국 여성 얼굴형의 비교 2014년 중국 광동 제 2인민병원 필러 강의와 라이브 시연 이미지
					</li>
					<li class="bubble-box__item type-txt type-another">
						<div class="vertical">중국과 한국 여성 얼굴형의 비교 2014년 중국 광동 제 2인민병원 필러 강의와 라이브 시연</div>
					</li>
					<li class="bubble-box__item type-img nth-5">
						제 4회 APAS (쁘띠성형학회) 심포지엄 필러 시술 강의 이미지
					</li>
					<li class="bubble-box__item type-txt">
						<div class="vertical">제 4회 APAS (쁘띠성형학회) 심포지엄 필러 시술 강의</div>
					</li>
					<li class="bubble-box__item type-img nth-6 type-right">
						제 14회 대한피부과의사회 추계 심포지언 강의 이미지
					</li>
					<li class="bubble-box__item type-txt type-another">
						<div class="vertical">제 14회 대한피부과의사회 추계 심포지언 강의</div>
					</li>
				</ul>
			</div>
		</div>
		<% include ../_include/_bfaf %>
	</div>
</div><!-- //container -->
<% include ../_include/_footer %>
