<%
	type = "detail"
	page = "pore"
%>
<% include ../_include/_header %>
<div class="onepage type-another">
	<div class="content-section type-visual pore-section0" data-section-name="pore-section0">
		<div class="inner-wrap">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="detail-visual">
							<h3 class="detail-visual__tit">
								BANOBAGI<br>
								pores<br>
								ELASTIC<br>
								<strong>DETAIL</strong>
							</h3>
							<p class="onepage__subtit detail-visual__subtit">
								피부 속에서부터 채우는 탄력 <br>
								결점 없는 피부를 위한 여정
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="scroll type-detail">
			<div class="scroll__inner">
				<i class="scroll__ball"></i>
			</div>
			<p class="scroll__txt">SCROLL</p>
		</div>
	</div>
	<div class="content-section pore-section1" data-section-name="pore-section1">
		<div class="inner-wrap">
			<div class="onepage__box type-half type-r">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<h3 class="detail__tit pore-detail1__tit">
							<strong class="pore-detail1__color">좋은 장비</strong>에 대한 투자를<br class="hidden-p"> 아끼지 않습니다
						</h3>
						<p class="onepage__subtit pore-detail1__subtit">
							더 좋은 결과를 위한 투자, 바노바기의 기본
						</p>
						<p class="onepage__txt type-detail pore-detail1__txt">
							피부 치료를 위한 여러가지 장비가 있고 그 가격이나 효과도 천차만별입니다.
							바노바기피부과는 가급적 고가의 오리지널 장비를 보유하고자 합니다.
							오리지널 장비는 그만큼 오랜 기간 임상을 거쳐 더 안전하고, 치료 효과도 입증된
							것들이기 때문입니다.<br><br>

							바노바기피부과 의료진은 내 가족이 치료를 받는다는 마음으로, 좋은 장비로
							좋은 치료를 제공하고 싶습니다.
							바노바기피부과에서 모공과 탄력, 여드름 흉터에 사용하는 프락셀듀얼,
							울트라펄스, 뉴브이빔퍼펙타, 놀리스 등은 모두 오리지널 수입장비로 치료 효과를
							더 높일 것입니다.
						</p>
					</div>
					<div class="detail__img2 pore-detail1__img">
						미국-프락셀듀얼-모공, 탄력, 흉터 치료
						미국-뉴브이빔퍼펙타-붉은 자국 치료
						미국-울트라펄스-깊은 흉터 치료
						덴마크-놀리스-붉은 색소 등 치료
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section pore-section2" data-section-name="pore-section2">
		<div class="inner-wrap">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<h3 class="detail__tit pore-detail2__tit">
							바노바기는 <strong class="pore-detail2__color">피부 겉</strong>만 보지 않습니다
						</h3>
						<p class="onepage__subtit pore-detail2__subtit">
							피부 속에서부터  탄력이 재생될 수 있도록 피부의 힘을 키웁니다
						</p>
						<p class="onepage__txt type-detail pore-detail2__txt">
							모공이나 흉터를 치료할 때 물론 피부 표면의 결과를 좋아 보이게 하는 것도 중요합니다.
							하지만 더 중요한 것은 피부 속에서의 치유입니다.
							<br><br>
							특히 모공이나 탄력, 여드름흉터와 같은 치료를 할 때는 피부 속 콜라겐 세포를 활성화시켜
							피부 속에서부터 탄력이 차오르게 하고, 또 여드름 원인을 제거하면서 치료하여 재발 하지
							않고 오래 효과를 유지하는 게 중요합니다.
						</p>
					</div>
					<div class="detail__img2 pore-detail2__img">Skin layer</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section pore-section3" data-section-name="pore-section3">
		<div class="inner-wrap">
			<div class="onepage__box type-half type-r">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<h3 class="detail__tit pore-detail3__tit">
							<strong class="pore-detail3__color">사후관리</strong>를 철저하게 합니다
						</h3>
						<p class="onepage__subtit pore-detail3__subtit">
							피부가 충분히 회복할 수 있도록 철처한 관리
						</p>
						<p class="onepage__txt type-detail pore-detail3__txt">
							모공, 흉터, 여드름 치료는 무리하게 진행해서는 결코 안됩니다.
							욕심을 부려서 강하게 레이저를 조사하거나 빠른 효과를 위해 성급하게 치료
							일정을 앞당기는 것도 도움이 되지 않습니다.
							강한 레이저 치료 후에는 피부가 충분히 진정하고 회복하여 재생할 수 있도록
							철저하게 사후관리를 해주어야 합니다.
							<br><br>
							바노바기 피부과에서는 메인 치료 중간 중간, 물광치료나 피부 세포 재생 주사,
							진정 재생 관리를 반복하여 치료 효과를 높입니다.
						</p>
					</div>
					<div class="detail__img2 pore-detail3__img">물광치료, 피부 세포 재생 치료, 진정,재생관리</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section pore-section4" data-section-name="pore-section4">
		<div class="inner-wrap">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<h3 class="detail__tit pore-detail4__tit">
							<strong class="pore-detail4__color">어려운 치료</strong>라서 더 자신 있습니다
						</h3>
						<p class="onepage__subtit pore-detail4__subtit">
							모공, 흉터, 여드름 치료는 어렵다는 편견,<br> 바노바기에서는 갖지 않습니다
						</p>
						<p class="onepage__txt type-detail pore-detail4__txt">
							특히 흉터 치료나 여드름치료를 위해 이것저것 안 해본 게 없다고 하시는 분들 많습니다.
							좋아지는 것 같지만 피부가 상한 것 같거나 재발하고, 흡족할 정도로 만족하지 못한
							경우도 많습니다.
							바노바기피부과에도 혹시나 하는 심정으로 오시는 분들을 어렵지 않게 목격합니다.
							<br><br>
							솔직히 100% 모든 분들을 속시원하게 치료해드릴 수는 없습니다. 그러나 대체로 많은
							분들을 통해서 “바노바기에서 치료 받고 달라졌다”는 말을 들을 수 있게 하고 싶습니다.
						</p>
					</div>
					<div class="detail__img2 pore-detail4__img">모델 사진</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
