<%
	type = "content"
	page = "pore"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="container__wrap">
		<div class="content-visual type-scar">
			<div class="content-visual__box type-left">
				<div class="content-visual__wrap">
					<h2 class="content-visual__tit">
						바노바기 모공 탄력
						<span class="content-visual__tit-point">굿바이 <span class="inline-block">스카</span></span>
					</h2>
					<p class="content-visual__txt1">
						지긋지긋한 여드름 흉터, 이제는 안녕!
					</p>
					<p class="content-visual__point">POINT</p>
					<p class="content-visual__txt2">
						세계적인 흉터레이저를 이용한 복합 치료!<br class="hidden-tm">
						피부 타입, 흉터 정도에 따른 맞춤 프로그램 설계!
					</p>
				</div>
			</div>
			<div class="content-visual__box type-right">
				<div class="content-visual__img">굿바이스카 이미지</div>
			</div>
		</div>
		<!-- //content-visual-->
		<div class="content-seciton">
			<div class="scar-box1">
				<div class="content-top type-scar">
					<p class="content-top__subtit subtit-v1">울긋 불긋, 울퉁불퉁한 여드름 확실하게 없애자!</p>
					<h2 class="content-top__tit tit-v1"><span class="color-scar1">굿바이 스카</span> 프로젝트</h2>
					<p class="content-top__txt txt-v1">
						바노바기 피부과 의료진이 피부에 대한 이해, 그리고 흉터 치료에 대한<br class="hidden-m">
						자신감으로 권해드리는 여드름 흉터 치료 프로그램. 이제 여드름 흉터와 이별하세요.
					</p>
				</div>
				<!-- //content-top-->
			</div><!-- //scar-box1 -->
			<div class="scar-box2 box-style1">
				<h2 class="scar-box2__tit tit-v1">여드름 흉터 치료는 <span class="color-scar1">어렵습니다.</span></h2>
				<p class="scar-box2__txt">
					그래서 바노바기가 해볼까 합니다. 여드름 흉터의 모양, 종류, 색깔 등 고려해야 할 것도 많고<br class="hidden-tm">
					각자의 피부 환경도 중요합니다. 바노바기 피부과 의료진이 피부에 대한 이해,<br class="hidden-tm">
					그리고 흉터 치료에 대한 자신감으로 권해드리는 여드름 흉터 치료 프로그램. <span class="color-black1">이제 여드름 흉터와 이별하세요.</span>
				</p>
				<h3 class="scar-box2__subtit">
					세계 유명 흉터 레이저
				</h3>
				<ul class="scar-box2__list">
					<li class="scar-box2__item">
						<div class="scar-box2__img">
							<img src="../../images/pore/scar/scar_laser1.png" alt="뉴 울트라펄스 앙코르 레이저">
						</div>
						<p class="scar-box2__subject">뉴 울트라펄스 앙코르 레이저</p>
					</li>
					<li class="scar-box2__item">
						<div class="scar-box2__img">
							<img src="../../images/pore/scar/scar_laser2.png" alt="프락셀듀얼">
						</div>
						<p class="scar-box2__subject">프락셀듀얼</p>
					</li>
					<li class="scar-box2__item">
						<div class="scar-box2__img">
							<img src="../../images/pore/scar/scar_laser3.png" alt="뉴 브이빔 퍼펙타">
						</div>
						<p class="scar-box2__subject">뉴 브이빔 퍼펙타</p>
					</li>
				</ul>
			</div>
			<div class="scar-box3 box-style1">
				<h2 class="scar-box3__tit tit-v1">여드름 흉터와 이별하는, <span class="color-scar1 inline-block">빈틈 없는 여정</span></h2>
				<p class="scar-box3__subtit subtit-v1">
					주 1회 치료, 총 18주 프로그램, 피부과 전문의가 피부타입,<br>
					흉터 타입에 맞춰 꼼꼼하게 설계합니다.
				</p>
				<div class="scar-box3__img">
					피부과 의료진 이미지
				</div>
				<div class="program">
					<p class="program__subtit">good bye scar 18weeks program</p>
					<h3 class="program__tit">굿바이 스카 18주 프로그램</h3>
					<ul class="program__list">
						<li class="program__item">
							<div class="program__box">
								<div class="vertical">
									<h4 class="program__subject">레이저 치료</h4>
									<p class="program__txt">울트라펄스, 프락셀듀얼 등</p>
								</div>
							</div>
						</li>
						<li class="program__item">
							<div class="program__box">
								<div class="vertical">
									<h4 class="program__subject">피부 세포 재생술</h4>
									<p class="program__txt">리쥬란 힐러, PDRN 주사 등</p>
								</div>
							</div>
						</li>
						<li class="program__item">
							<div class="program__box">
								<div class="vertical">
									<h4 class="program__subject">메디컬스킨케어</h4>
									<p class="program__txt">크라이오 재생관리 등</p>
								</div>
							</div>
						</li>
						<li class="program__item">
							<div class="program__box">
								<div class="vertical">
									<h4 class="program__subject">흉터 집중 복원술</h4>
									<p class="program__txt">TCA 흉터복원술, 엑스카 등</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="scar-box4 box-style1">
				<h2 class="scar-box3__tit tit-v1">굿바이 스카 <span class="color-scar1">솔루션</span></h2>
				<div class="img-list3__box">
					<h3 class="img-list3__tit"><span class="img-list3__num type-scar">1</span><span>세계 유명 레이저 보유!</span></h3>
					<ul class="equipment__list type-scar">
						<li class="equipment__item">
							<div class="equipment__border">
								<div class="equipment__img">
									<img src="../../images/pore/scar/scar_eq1.jpg" alt="울트라펄스" class="img-responsive">
								</div>
								<div class="equipment__wrap">
									<div class="vertical">
										<h3 class="equipment__name">울트라펄스</h3>
										<a href="" class="equipment__btn btn1">자세히보기</a>
									</div>
								</div>
							</div>
						</li>
						<li class="equipment__item">
							<div class="equipment__border">
								<div class="equipment__img">
									<img src="../../images/pore/scar/scar_eq2.jpg" alt="프락셀듀얼" class="img-responsive">
								</div>
								<div class="equipment__wrap">
									<div class="vertical">
										<h3 class="equipment__name">프락셀듀얼</h3>
										<a href="" class="equipment__btn btn1">자세히보기</a>
									</div>
								</div>
							</div>
						</li>
						<li class="equipment__item">
							<div class="equipment__border">
								<div class="equipment__img">
									<img src="../../images/pore/scar/scar_eq3.jpg" alt="뉴 브이빔 퍼펙타" class="img-responsive">
								</div>
								<div class="equipment__wrap">
									<div class="vertical">
										<h3 class="equipment__name">뉴 브이빔 퍼펙타</h3>
										<a href="" class="equipment__btn btn1">자세히보기</a>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="img-list3__box">
					<h3 class="img-list3__tit"><span class="img-list3__num type-scar">2</span><span>피부 세포 재생 주사</span></h3>
					<div class="img-list1 type-scar">
						<ul class="img-list1__list">
							<li class="img-list1__item nth-1">
								<div class="img-list1__box">
									<div class="img-list1__wrap">
										<h4 class="img-list1__tit">힐링 주사</h4>
										<h5 class="img-list1__subtit">피부를 더욱 건강하게 만드는 치료</h5>
										<p class="img-list1__txt txt-v1">
											세포에서 DNA를 만드는 원료들의 복합체를 고농도로 압축한
											것으로 피부에 직접 주입 하여 피부재생 및 피부환경을 건강하게
											복원시킵니다.
										</p>
									</div>
								</div>
							</li>
							<li class="img-list1__item nth-2">
								<div class="img-list1__box">
									<div class="img-list1__wrap">
										<h4 class="img-list1__tit">PDRN 주사</h4>
										<h5 class="img-list1__subtit">뛰어난 상처 치유 효과</h5>
										<p class="img-list1__txt txt-v1">
											안전하면서 상처 치유에 뛰어난 효과를 보이는 성분을  피부에
											주입하여 여드름치료 효과를 배가시킵니다.
										</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- //img-list3__box -->
				<div class="img-list3__box">
					<h3 class="img-list3__tit"><span class="img-list3__num type-scar">3</span><span>흉터 집중 복원술</span></h3>
					<div class="img-list1 type-scar">
						<ul class="img-list1__list">
							<li class="img-list1__item nth-3">
								<div class="img-list1__box">
									<div class="img-list1__wrap">
										<h4 class="img-list1__tit">TCA 흉터 복원술</h4>
										<h5 class="img-list1__subtit">깊게 패인 흉터 집중 치료</h5>
										<p class="img-list1__txt txt-v1">
											특수약물을 패인 흉터에 침투시켜 진피 내 섬유아 세포를 자극,
											콜라겐과 엘라스틴의 합성을 통해 흉터를 없애는 시술.
										</p>
									</div>
								</div>
							</li>
							<li class="img-list1__item nth-4">
								<div class="img-list1__box">
									<div class="img-list1__wrap">
										<h4 class="img-list1__tit">엑스카 / 서브시전</h4>
										<h5 class="img-list1__subtit">흉터 섬유 조직을 정상적으로 복원</h5>
										<p class="img-list1__txt txt-v1">
											섬유화된 흉터 아래 조직을 박리하고 재생시키기 위한 치료.
											엑스카는 순간적으로 강력한 가스를 침투시킨 흉터 치료 전문 장비.
										</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="img-list3__box">
					<h3 class="img-list3__tit"><span class="img-list3__num type-scar">4</span><span>메디컬 스킨케어</span></h3>
					<div class="img-list1 type-scar">
						<ul class="img-list1__list">
							<li class="img-list1__item nth-5">
								<div class="img-list1__box">
									<div class="img-list1__wrap">
										<h4 class="img-list1__tit">크라이오 재생관리</h4>
										<h5 class="img-list1__subtit">피부 진정, 회복 유도 케어</h5>
										<p class="img-list1__txt txt-v1">
											강한 자극의 흉터 치료를 반복하다 보면 피부가 예민해지거나
											건조해질 수 있기 때문에 꼼꼼한 재생 관리로 피부를 진정시키고
											빠른 회복을 유도합니다.
										</p>
									</div>
								</div>
							</li>
							<li class="img-list1__item nth-6">
								<div class="img-list1__box">
									<div class="img-list1__wrap">
										<h4 class="img-list1__tit">더미오케어 음이온 치료</h4>
										<h5 class="img-list1__subtit">피부 면역력 강화</h5>
										<p class="img-list1__txt txt-v1">
											고농도의 음이온을 피부와 호흡을 통해 체내에 침투시켜
											피부 재생을 빠르게 유도하고 피부 면역력을 강화하여 여드름흉터
											치료 효과를 높입니다.
										</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- //img-list3__box-->
			</div>
			<div class="scar-box5 box-style1">
				<h2 class="scar-box5__tit tit-v1">여드름흉터 치료,<br><strong class="color-scar1">왜 바노바기가 잘 할까요?</strong></h2>
				<div class="img-list7 type-scar">
					<ul class="img-list7__list">
						<li class="img-list7__item nth-1">
							<div class="img-list7__box">
								<div class="img-list7__wrap">
									<h3 class="img-list7__tit"><span class="color-scar1">다양한 흉터 치료 장비</span> 보유</h3>
									<p class="img-list7__txt txt-v1">
										바노바기 피부과진료에는 뉴 울트라 펄스앙코르, 프락셀듀얼,
										뉴 브이빔 퍼펙타와 같은 흉터 치료 3대 레이저를
										모두 보유하고 있으며 셀라스, 플로라셀, 엑스카,
										레이저토닝과 같은 보조적 장비 또한 다양하게 구비하고 있습니다.
										<span>따라서 피부 상태, 여드름 흉터 종류 등에 따른 체계적인
											맞춤 치료 설계가 가능합니다.</span>
									</p>
								</div>
							</div>
						</li>
						<li class="img-list7__item nth-2">
							<div class="img-list7__box">
								<div class="img-list7__wrap">
									<h3 class="img-list7__tit">피부과전문의의 <span class="color-scar1">정밀한 진단과 개선</span></h3>
									<p class="img-list7__txt txt-v1">
										전체 의사 중 <span>피부과 전문의는 단 2.5%.</span> 피부과 전문의가
										되려면 4년 이상의 임상 경험 과정을 거쳐야 하기 때문에
										그 실력과 경험에 있어서 다를 수밖에 없습니다.
										<span>바노바기는 풍부한 경험의 피부과 전문의들이 정밀하게
											진단하고 효과적으로 개선</span>하여 피부 고민을 해결해드리도록
										노력하고 있습니다.
									</p>
								</div>
							</div>
						</li>
						<li class="img-list7__item nth-3">
							<div class="img-list7__box">
								<div class="img-list7__wrap">
									<h3 class="img-list7__tit">수년간의 흉터 치료 <span class="color-scar1">임상 경험</span>,<span class="inline-block"> 끊임없는 <span class="color-scar1">연구와 노력</span></span></h3>
									<p class="img-list7__txt txt-v1">
										바노바기 피부과 진료 의료진은 <span>권위 있는 학회와 국내외
											심포지엄, 세미나 등에 수시로 초대 받아 각종 시술 케이스에 대한
											노하우를 발표하고 교육</span>하면서
										전문성과 우수성을 널리 인정받고 있습니다.
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</div><!-- //container-->
<% include ../_include/_footer %>
