<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>바노바기피부과</title>
<script type="text/javascript" src="../../scripts/libs/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/content_common.css">
<link rel="stylesheet" href="../../css/contour.css">
<link rel="stylesheet" href="../../css/pore.css">
<link rel="stylesheet" href="../../css/guide.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCoreDefault.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shCore.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shAutoloader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushCss.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushXml.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushJScript.js"></script>
<script type="text/javascript">
SyntaxHighlighter.all();
</script>
</head>
<body class="guide-body">
	<div class="g-gnb">
		<a href="" class="g-gnb__btn">메뉴 닫기</a>
		<div class="g-gnb__area">
			<ul class="g-gnb__depth1-list">
				<li class="g-gnb__depth1-item"><a href="guide_font.html" class="g-gnb__depth1-link">font</a></li>
				<li class="g-gnb__depth1-item is-active"><a href="guide_content.html" class="g-gnb__depth1-link">content</a></li>
			    <li class="g-gnb__depth1-item"><a href="guide_form.html" class="g-gnb__depth1-link">form</a></li>
			</ul>
			<div class="g-gnb__scroll">
				<div class="g-gnb__wrap">
					<ul class="g-gnb__depth2-list">
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container__wrap">


		<div class="guide-tit">img-list1</div>
		<div class="guide-wrap">

			<div>
				<div class="img-list1 type-lifting">
					<ul class="img-list1__list">
						<li class="img-list1__item nth-1">
							<div class="img-list1__box">
								<div class="img-list1__wrap">
									<h4 class="img-list1__tit">더블로 리프팅</h4>
									<p class="img-list1__txt txt-v1">
										<span>SMAS층의 수축 효과와 지속적인 피부 재생 효과</span>를 동시에 얻을 수 있어 안티에이징 시술로 곽광받고 있습니다.
									</p>
									<ul class="img-list1__area">
										<li class="img-list1__bullet">초음파 영상을 통해 시술이 진행되므로, 개인에 따른 맞춤식 치료가 가능합니다.</li>
										<li class="img-list1__bullet">KFDA의 승인을 받은 안전한 시술로 부작용이 적고 회복이 빠릅니다.</li>
										<li class="img-list1__bullet">한 번의 시술로 콜라겐과 엘라스틴 생성이 촉진되며, 이 효과는 약 일 년 이상 지속됩니다.</li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</div><!-- //img-list1-->
			</div>
			<pre class="brush: html;">
				<!-- 각페이지에 맞게 타입추가 -->
				<div>
					<div class="img-list1 type-lifting">
						<ul class="img-list1__list">
							<li class="img-list1__item nth-1">
								<div class="img-list1__box">
									<div class="img-list1__wrap">
										<h4 class="img-list1__tit">더블로 리프팅</h4>
										<p class="img-list1__txt txt-v1">
											<span>SMAS층의 수축 효과와 지속적인 피부 재생 효과</span>를 동시에 얻을 수 있어 안티에이징 시술로 곽광받고 있습니다.
										</p>
										<ul class="img-list1__area">
											<li class="img-list1__bullet">초음파 영상을 통해 시술이 진행되므로, 개인에 따른 맞춤식 치료가 가능합니다.</li>
											<li class="img-list1__bullet">KFDA의 승인을 받은 안전한 시술로 부작용이 적고 회복이 빠릅니다.</li>
											<li class="img-list1__bullet">한 번의 시술로 콜라겐과 엘라스틴 생성이 촉진되며, 이 효과는 약 일 년 이상 지속됩니다.</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</div><!-- //img-list1-->
				</div>
			</pre>

		</div>

		<div class="guide-tit">img-list2</div>
		<div class="guide-wrap">
			<div>
				<div class="container__wrap">
					<div class="box-style1">
						<div class="img-list2">
							<ul class="img-list2__list">
								<li class="img-list2__item">
									<div class="img-list2__img">
										<img src="../../images/heal/thermage/thermage_collagen1.jpg" alt="수술직후" class="img-responsive">
									</div>
									<div class="img-list2__wrap">
										<h3 class="img-list2__tit">01. 수술직후</h3>
										<p class="img-list2__txt">
											피부 속 깊이 전달된 열 에너지가<br>
											콜라겐의 변성을 일으킵니다.
										</p>
									</div>
								</li>
								<li class="img-list2__item">
									<div class="img-list2__img">
										<img src="../../images/heal/thermage/thermage_collagen2.jpg" alt="4주" class="img-responsive">
									</div>
									<div class="img-list2__wrap">
										<h3 class="img-list2__tit">02. 4주</h3>
										<p class="img-list2__txt">
											콜라겐 리모델링이 본격화되면서<br>
											잔주름이 자연스럽게 개선됩니다.
										</p>
									</div>
								</li>
							</ul>
						</div><!-- //img-list2 -->
					</div>
				</div>

			</div>
			<pre class="brush: html;">
				<!-- 각페이지에 맞게 타입추가 -->
				<div class="box-style1">
					<div class="img-list2">
						<ul class="img-list2__list">
							<li class="img-list2__item">
								<div class="img-list2__img">
									<img src="../../images/heal/thermage/thermage_collagen1.jpg" alt="수술직후" class="img-responsive">
								</div>
								<div class="img-list2__wrap">
									<h3 class="img-list2__tit">01. 수술직후</h3>
									<p class="img-list2__txt">
										피부 속 깊이 전달된 열 에너지가<br>
										콜라겐의 변성을 일으킵니다.
									</p>
								</div>
							</li>
							<li class="img-list2__item">
								<div class="img-list2__img">
									<img src="../../images/heal/thermage/thermage_collagen2.jpg" alt="4주" class="img-responsive">
								</div>
								<div class="img-list2__wrap">
									<h3 class="img-list2__tit">02. 4주</h3>
									<p class="img-list2__txt">
										콜라겐 리모델링이 본격화되면서<br>
										잔주름이 자연스럽게 개선됩니다.
									</p>
								</div>
							</li>
						</ul>
					</div><!-- //img-list2 -->
				</div>

			</pre>

		</div>

		<div class="guide-tit">img-list3</div>
		<div class="guide-wrap">

			<div>
				<div class="container__wrap">
					<div class="box-style1">
						<div class="img-list3">
							<div class="img-list3__box">
								<h4 class="img-list3__tit"><span class="img-list3__num">1</span><span>울쎄라Pro + 써마지FLX</span></h4>
								<p class="img-list3__txt">처진 볼살과 잔주름 개선</p>
								<ul class="img-list3__list">
									<li class="img-list3__item">
										<div class="img-list3__img">
											<img src="../../images/heal/ulthera/ulthera_synergy1.jpg" alt="울쎄라Pro" class="img-responsive">
										</div>
										<div class="img-list3__wrap">
											<h5 class="img-list3__subject">울쎄라Pro</h5>
										</div>
									</li>
									<li class="img-list3__item">
										<div class="img-list3__img">
											<img src="../../images/heal/ulthera/ulthera_synergy2.jpg" alt="써마지FLX" class="img-responsive">
										</div>
										<div class="img-list3__wrap">
											<h5 class="img-list3__subject">써마지FLX</h5>
										</div>
									</li>
								</ul>
							</div>
							<!-- //img-list3__box-->
						</div>
					</div>
				</div>

			</div>
			<pre class="brush: html;">
				<!-- 각페이지에 맞게 타입추가 -->
				<div class="img-list3">
					<div class="img-list3__box">
						<h4 class="img-list3__tit"><span class="img-list3__num">1</span><span>울쎄라Pro + 써마지FLX</span></h4>
						<p class="img-list3__txt">처진 볼살과 잔주름 개선</p>
						<ul class="img-list3__list">
							<li class="img-list3__item">
								<div class="img-list3__img">
									<img src="../../images/heal/ulthera/ulthera_synergy1.jpg" alt="울쎄라Pro" class="img-responsive">
								</div>
								<div class="img-list3__wrap">
									<h5 class="img-list3__subject">울쎄라Pro</h5>
								</div>
							</li>
							<li class="img-list3__item">
								<div class="img-list3__img">
									<img src="../../images/heal/ulthera/ulthera_synergy2.jpg" alt="써마지FLX" class="img-responsive">
								</div>
								<div class="img-list3__wrap">
									<h5 class="img-list3__subject">써마지FLX</h5>
								</div>
							</li>
						</ul>
					</div>
					<!-- //img-list3__box-->
				</div>

			</pre>

		</div>

		<div class="guide-tit">img-list4</div>
		<div class="guide-wrap">

			<div>
				<div class="container__wrap">
					<div class="box-style1">
						<div class="img-list4 type-filler box-style1">
							<h2 class="img-list4__tit">이미지필러의 <strong>장점</strong></h2>
							<ol class="img-list4__list">
								<li class="img-list4__item">
									<h3 class="img-list4__subject">자연스럽게 아름다워지는 변화</h3>
									<p class="img-list4__txt">
										다른 사람들의 관점에서 성형 의혹 없이 어딘지 모르게
										예뻐졌다고 반응할 정도로, 본인의 고유한 매력을 유지하면서
										자연스럽게 아름다워집니다.
									</p>
								</li>
								<li class="img-list4__item">
									<h3 class="img-list4__subject">오랫동안 지속되는 시술 효과</h3>
									<p class="img-list4__txt">
										시술 후 비교적 빠른 시술 효과가 나타나며, 다이어트를 해도
										얼굴 살이 빠지거나 거의 처지지 않습니다.
									</p>
								</li>
								<li class="img-list4__item">
									<h3 class="img-list4__subject">시술 후 비교적 빠른 일상 복귀 가능</h3>
									<p class="img-list4__txt">
										이미지 필러는 멍 · 부기 · 통증 등의 부작용이 거의 없어,
										바쁜 현대인들에게 적합한 주사 시술입니다.
									</p>
								</li>
								<li class="img-list4__item">
									<h3 class="img-list4__subject">균형감이 느껴지는 디테일한 교정</h3>
									<p class="img-list4__txt">
										 입술 라인 및 눈 밑 애교 등에서의 섬세한 균형감을 살림으로써 전체적으로 조화로운 이미지를 완성합니다.
									</p>
								</li>
							</ol>
						</div>
					</div>
				</div>

			</div>
			<pre class="brush: html;">
				<!-- 각페이지에 맞게 타입추가 -->
				<div class="img-list4 type-filler box-style1">
					<h2 class="img-list4__tit">이미지필러의 <strong>장점</strong></h2>
					<ol class="img-list4__list">
						<li class="img-list4__item">
							<h3 class="img-list4__subject">자연스럽게 아름다워지는 변화</h3>
							<p class="img-list4__txt">
								다른 사람들의 관점에서 성형 의혹 없이 어딘지 모르게
								예뻐졌다고 반응할 정도로, 본인의 고유한 매력을 유지하면서
								자연스럽게 아름다워집니다.
							</p>
						</li>
						<li class="img-list4__item">
							<h3 class="img-list4__subject">오랫동안 지속되는 시술 효과</h3>
							<p class="img-list4__txt">
								시술 후 비교적 빠른 시술 효과가 나타나며, 다이어트를 해도
								얼굴 살이 빠지거나 거의 처지지 않습니다.
							</p>
						</li>
						<li class="img-list4__item">
							<h3 class="img-list4__subject">시술 후 비교적 빠른 일상 복귀 가능</h3>
							<p class="img-list4__txt">
								이미지 필러는 멍 · 부기 · 통증 등의 부작용이 거의 없어,
								바쁜 현대인들에게 적합한 주사 시술입니다.
							</p>
						</li>
						<li class="img-list4__item">
							<h3 class="img-list4__subject">균형감이 느껴지는 디테일한 교정</h3>
							<p class="img-list4__txt">
								 입술 라인 및 눈 밑 애교 등에서의 섬세한 균형감을 살림으로써 전체적으로 조화로운 이미지를 완성합니다.
							</p>
						</li>
					</ol>
				</div>

			</pre>

		</div>

		<div class="guide-tit">img-list5</div>
		<div class="guide-wrap">

			<div>
				<div class="container__wrap">
					<div class="box-style1">
						<div class="img-list5">
							<h2 class="img-list5__tit tit-v1">
								높은 전문성과<br><span class="color-cute1">시술 테크닉의</span>우수성
							</h2>
							<p class="img-list5__txt txt-v1">
								바노바기는 심포지엄 강의, 세미나 발표, 시술 공개 시연 등 다양한 학술 · 학회 활동을 통해<br class="hidden-m">
								<strong>피부 관리에 대한 높은 전문성과 시술 테크닉의 우수성을 널리 인정받았습니다.</strong>
							</p>
							<ul class="img-list5__list">
								<li class="img-list5__item">
									<div class="img-list5__img">
										<img src="../../images/contour/cute/cute_technique1.jpg" alt="전희대원장" class="img-responsive">
									</div>
									<div class="img-list5__wrap">
										2008년 아시아 항노화학회 후<br>
										대만 CCTV 인터뷰(타이베이, 대만)
									</div>
								</li>
								<li class="img-list5__item">
									<div class="img-list5__img">
										<img src="../../images/contour/cute/cute_technique2.jpg" alt="전희대원장" class="img-responsive">
									</div>
									<div class="img-list5__wrap">
										2011년 제3차 국제 미세침습성형외과학회 (MIPS)<br>
										라이브 워크샵 강의(상해, 중국)
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
			<pre class="brush: html;">
				<div class="img-list5">
					<h2 class="img-list5__tit tit-v1">
						높은 전문성과<br><span class="color-cute1">시술 테크닉의</span>우수성
					</h2>
					<p class="img-list5__txt txt-v1">
						바노바기는 심포지엄 강의, 세미나 발표, 시술 공개 시연 등 다양한 학술 · 학회 활동을 통해<br class="hidden-m">
						<strong>피부 관리에 대한 높은 전문성과 시술 테크닉의 우수성을 널리 인정받았습니다.</strong>
					</p>
					<ul class="img-list5__list">
						<li class="img-list5__item">
							<div class="img-list5__img">
								<img src="../../images/contour/cute/cute_technique1.jpg" alt="전희대원장" class="img-responsive">
							</div>
							<div class="img-list5__wrap">
								2008년 아시아 항노화학회 후<br>
								대만 CCTV 인터뷰(타이베이, 대만)
							</div>
						</li>
						<li class="img-list5__item">
							<div class="img-list5__img">
								<img src="../../images/contour/cute/cute_technique2.jpg" alt="전희대원장" class="img-responsive">
							</div>
							<div class="img-list5__wrap">
								2011년 제3차 국제 미세침습성형외과학회 (MIPS)<br>
								라이브 워크샵 강의(상해, 중국)
							</div>
						</li>
					</ul>
				</div>
			</pre>

		</div>

		<div class="guide-tit">img-list6</div>
		<div class="guide-wrap">

			<div>
				<div class="container__wrap">
					<div class="box-style1">
						<div class="img-list6">
							<h2 class="img-list6__tit tit-v1">올인원 올모공 <span class="color-allpore1">시술과정</span></h2>
							<p class="img-list6__subtit">올인원올모공 시술과정</p>
							<ul class="img-list6__list">
								<li class="img-list6__item">
									<div class="img-list6__img">
										<img src="../../images/pore/allpore/allpore_surgical1.jpg" alt="올인원테라피, 재생관리" class="img-responsive">
									</div>
									<div class="img-list6__box">
										<div class="vertical">
											<h3 class="img-list6__subject">1주</h3>
											<p class="img-list6__txt">올인원테라피, 재생관리</p>
										</div>
									</div>
								</li>
								<li class="img-list6__item">
									<div class="img-list6__img">
										<img src="../../images/pore/allpore/allpore_surgical2.jpg" alt="화이트닝케어" class="img-responsive">
									</div>
									<div class="img-list6__box">
										<div class="vertical">
											<h3 class="img-list6__subject">2주</h3>
											<p class="img-list6__txt">화이트닝케어</p>
										</div>
									</div>
								</li>
								<li class="img-list6__item">
									<div class="img-list6__img">
										<img src="../../images/pore/allpore/allpore_surgical3.jpg" alt="프락셀듀얼" class="img-responsive">
									</div>
									<div class="img-list6__box">
										<div class="vertical">
											<h3 class="img-list6__subject">3주</h3>
											<p class="img-list6__txt">프락셀듀얼</p>
										</div>
									</div>
								</li>
								<li class="img-list6__item">
									<div class="img-list6__img">
										<img src="../../images/pore/allpore/allpore_surgical4.jpg" alt="화이트닝케어" class="img-responsive">
									</div>
									<div class="img-list6__box">
										<div class="vertical">
											<h3 class="img-list6__subject">4주</h3>
											<p class="img-list6__txt">화이트닝케어</p>
										</div>
									</div>
								</li>
								<!--/img-list6__item 4개-->
							</ul>
							<p class="img-list6__subtit">업그레이드 된<span class="color-allpore1"> NEW올인원올모공</span> 시술과정</p>
							<ul class="img-list6__list">
								<li class="img-list6__item">
									<div class="img-list6__img">
										<img src="../../images/pore/allpore/allpore_surgical13.jpg" alt="올인원테라피, 재생관리" class="img-responsive">
									</div>
									<div class="img-list6__box">
										<div class="vertical">
											<h3 class="img-list6__subject">1주</h3>
											<p class="img-list6__txt">올인원테라피, 재생관리</p>
										</div>
									</div>
								</li>
								<li class="img-list6__item">
									<div class="img-list6__img">
										<img src="../../images/pore/allpore/allpore_surgical14.jpg" alt="이온자임 화이트닝 + 레이저 토닝" class="img-responsive">
									</div>
									<div class="img-list6__box">
										<div class="vertical">
											<h3 class="img-list6__subject">2주</h3>
											<p class="img-list6__txt">이온자임 화이트닝 + 레이저 토닝</p>
										</div>
									</div>
								</li>
								<li class="img-list6__item">
									<div class="img-list6__img">
										<img src="../../images/pore/allpore/allpore_surgical15.jpg" alt="울트라펄스" class="img-responsive">
									</div>
									<div class="img-list6__box">
										<div class="vertical">
											<h3 class="img-list6__subject">3주</h3>
											<p class="img-list6__txt"><span class="color-allpore1">울트라펄스</span></p>
										</div>
									</div>
								</li>
								<li class="img-list6__item">
									<div class="img-list6__img">
										<img src="../../images/pore/allpore/allpore_surgical16.jpg" alt="화이트닝 케어 + 레이저 토닝" class="img-responsive">
									</div>
									<div class="img-list6__box">
										<div class="vertical">
											<h3 class="img-list6__subject">4주</h3>
											<p class="img-list6__txt">화이트닝 케어 + 레이저 토닝</p>
										</div>
									</div>
								</li>
								<!--/img-list6__item 4개-->
							</ul>
						</div>
					</div>
				</div>

			</div>
			<pre class="brush: html;">
				<div class="img-list6">
					<h2 class="img-list6__tit tit-v1">올인원 올모공 <span class="color-allpore1">시술과정</span></h2>
					<p class="img-list6__subtit">올인원올모공 시술과정</p>
					<ul class="img-list6__list">
						<li class="img-list6__item">
							<div class="img-list6__img">
								<img src="../../images/pore/allpore/allpore_surgical1.jpg" alt="올인원테라피, 재생관리" class="img-responsive">
							</div>
							<div class="img-list6__box">
								<div class="vertical">
									<h3 class="img-list6__subject">1주</h3>
									<p class="img-list6__txt">올인원테라피, 재생관리</p>
								</div>
							</div>
						</li>
						<li class="img-list6__item">
							<div class="img-list6__img">
								<img src="../../images/pore/allpore/allpore_surgical2.jpg" alt="화이트닝케어" class="img-responsive">
							</div>
							<div class="img-list6__box">
								<div class="vertical">
									<h3 class="img-list6__subject">2주</h3>
									<p class="img-list6__txt">화이트닝케어</p>
								</div>
							</div>
						</li>
						<li class="img-list6__item">
							<div class="img-list6__img">
								<img src="../../images/pore/allpore/allpore_surgical3.jpg" alt="프락셀듀얼" class="img-responsive">
							</div>
							<div class="img-list6__box">
								<div class="vertical">
									<h3 class="img-list6__subject">3주</h3>
									<p class="img-list6__txt">프락셀듀얼</p>
								</div>
							</div>
						</li>
						<li class="img-list6__item">
							<div class="img-list6__img">
								<img src="../../images/pore/allpore/allpore_surgical4.jpg" alt="화이트닝케어" class="img-responsive">
							</div>
							<div class="img-list6__box">
								<div class="vertical">
									<h3 class="img-list6__subject">4주</h3>
									<p class="img-list6__txt">화이트닝케어</p>
								</div>
							</div>
						</li>
						<!--/img-list6__item 4개-->
					</ul>
					<p class="img-list6__subtit">업그레이드 된<span class="color-allpore1"> NEW올인원올모공</span> 시술과정</p>
					<ul class="img-list6__list">
						<li class="img-list6__item">
							<div class="img-list6__img">
								<img src="../../images/pore/allpore/allpore_surgical13.jpg" alt="올인원테라피, 재생관리" class="img-responsive">
							</div>
							<div class="img-list6__box">
								<div class="vertical">
									<h3 class="img-list6__subject">1주</h3>
									<p class="img-list6__txt">올인원테라피, 재생관리</p>
								</div>
							</div>
						</li>
						<li class="img-list6__item">
							<div class="img-list6__img">
								<img src="../../images/pore/allpore/allpore_surgical14.jpg" alt="이온자임 화이트닝 + 레이저 토닝" class="img-responsive">
							</div>
							<div class="img-list6__box">
								<div class="vertical">
									<h3 class="img-list6__subject">2주</h3>
									<p class="img-list6__txt">이온자임 화이트닝 + 레이저 토닝</p>
								</div>
							</div>
						</li>
						<li class="img-list6__item">
							<div class="img-list6__img">
								<img src="../../images/pore/allpore/allpore_surgical15.jpg" alt="울트라펄스" class="img-responsive">
							</div>
							<div class="img-list6__box">
								<div class="vertical">
									<h3 class="img-list6__subject">3주</h3>
									<p class="img-list6__txt"><span class="color-allpore1">울트라펄스</span></p>
								</div>
							</div>
						</li>
						<li class="img-list6__item">
							<div class="img-list6__img">
								<img src="../../images/pore/allpore/allpore_surgical16.jpg" alt="화이트닝 케어 + 레이저 토닝" class="img-responsive">
							</div>
							<div class="img-list6__box">
								<div class="vertical">
									<h3 class="img-list6__subject">4주</h3>
									<p class="img-list6__txt">화이트닝 케어 + 레이저 토닝</p>
								</div>
							</div>
						</li>
						<!--/img-list6__item 4개-->
					</ul>
				</div>
			</pre>

		</div>

		<div class="guide-tit">img-list7</div>
		<div class="guide-wrap">

			<div>
				<div class="container__wrap">
					<div class="box-style1">
						<div class="img-list7 type-scar">
							<ul class="img-list7__list">
								<li class="img-list7__item nth-1">
									<div class="img-list7__box">
										<div class="img-list7__wrap">
											<h3 class="img-list7__tit"><span class="color-scar1">다양한 흉터 치료 장비</span> 보유</h3>
											<p class="img-list7__txt txt-v1">
												바노바기 피부과진료에는 뉴 울트라 펄스앙코르, 프락셀듀얼,
												뉴 브이빔 퍼펙타와 같은 흉터 치료 3대 레이저를
												모두 보유하고 있으며 셀라스, 플로라셀, 엑스카,
												레이저토닝과 같은 보조적 장비 또한 다양하게 구비하고 있습니다.
												<span>따라서 피부 상태, 여드름 흉터 종류 등에 따른 체계적인
													맞춤 치료 설계가 가능합니다.</span>
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
			<pre class="brush: html;">
				<div class="img-list7 type-scar">
					<ul class="img-list7__list">
						<li class="img-list7__item nth-1">
							<div class="img-list7__box">
								<div class="img-list7__wrap">
									<h3 class="img-list7__tit"><span class="color-scar1">다양한 흉터 치료 장비</span> 보유</h3>
									<p class="img-list7__txt txt-v1">
										바노바기 피부과진료에는 뉴 울트라 펄스앙코르, 프락셀듀얼,
										뉴 브이빔 퍼펙타와 같은 흉터 치료 3대 레이저를
										모두 보유하고 있으며 셀라스, 플로라셀, 엑스카,
										레이저토닝과 같은 보조적 장비 또한 다양하게 구비하고 있습니다.
										<span>따라서 피부 상태, 여드름 흉터 종류 등에 따른 체계적인
											맞춤 치료 설계가 가능합니다.</span>
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</pre>

		</div>

		<div class="guide-tit">img-list8</div>
		<div class="guide-wrap">

			<div>
				<div class="container__wrap">
					<div class="box-style1">
						<div class="img-list8">
							<h2 class="img-list8__tit tit-v1">베이비페이스 테라피가 <span class="color-baby1">필요한 분들</span></h2>
							<ul class="img-list8__list">
								<li class="img-list8__item">
									<div class="img-list8__img">
										<img src="../../images/heal/baby/baby_circle1.png" alt="피부 노화가 진행되는 분" class="img-responsive">
									</div>
									<p class="img-list8__txt">
										피부 노화가 진행되는 분
									</p>
								</li>
								<li class="img-list8__item">
									<div class="img-list8__img">
										<img src="../../images/heal/baby/baby_circle2.png" alt="피부가 건조하고 탄력이 떨어져 나이 들어 보이는 분" class="img-responsive">
									</div>
									<p class="img-list8__txt">
										피부가 건조하고 탄력이 떨어져 <span class="inline-block">나이 들어 보이는 분</span>
									</p>
								</li>
								<li class="img-list8__item">
									<div class="img-list8__img">
										<img src="../../images/heal/baby/baby_circle3.png" alt="피부톤이 칙칙하고 모공이 늘어져 보이는 분" class="img-responsive">
									</div>
									<p class="img-list8__txt">
										피부톤이 칙칙하고 모공이 <span class="inline-block">늘어져 보이는 분</span>
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
			<pre class="brush: html;">
				<div class="img-list8">
					<h2 class="img-list8__tit tit-v1">베이비페이스 테라피가 <span class="color-baby1">필요한 분들</span></h2>
					<ul class="img-list8__list">
						<li class="img-list8__item">
							<div class="img-list8__img">
								<img src="../../images/heal/baby/baby_circle1.png" alt="피부 노화가 진행되는 분" class="img-responsive">
							</div>
							<p class="img-list8__txt">
								피부 노화가 진행되는 분
							</p>
						</li>
						<li class="img-list8__item">
							<div class="img-list8__img">
								<img src="../../images/heal/baby/baby_circle2.png" alt="피부가 건조하고 탄력이 떨어져 나이 들어 보이는 분" class="img-responsive">
							</div>
							<p class="img-list8__txt">
								피부가 건조하고 탄력이 떨어져 <span class="inline-block">나이 들어 보이는 분</span>
							</p>
						</li>
						<li class="img-list8__item">
							<div class="img-list8__img">
								<img src="../../images/heal/baby/baby_circle3.png" alt="피부톤이 칙칙하고 모공이 늘어져 보이는 분" class="img-responsive">
							</div>
							<p class="img-list8__txt">
								피부톤이 칙칙하고 모공이 <span class="inline-block">늘어져 보이는 분</span>
							</p>
						</li>
					</ul>
				</div>
			</pre>

		</div>

		<div class="guide-tit">img-list9</div>
		<div class="guide-wrap">

			<div>
				<div class="container__wrap">
					<div class="box-style1">
						<div class="img-list9">
							<p class="img-list9__subtit subtit-v3">BANOBAGI ULTHERA PRO</p>
							<h3 class="img-list9__tit tit-v3">바노바기 울쎄라Pro <span class="color-ulthera1">시술부위</span></h3>
							<div class="img-list9__box">
								<ul class="img-list9__list">
									<li class="img-list9__item">
										<div class="img-list9__img">
											<img src="../../images/heal/ulthera/ulthera_area1.png" alt="이마 사진" class="img-responsive"><!-- pc용 -->
										</div>
										<h4 class="img-list9__subject">이마</h4>
										<p class="img-list9__txt">이마 주름, 미간 주름 개선</p>
									</li>
									<li class="img-list9__item">
										<div class="img-list9__img">
											<img src="../../images/heal/ulthera/ulthera_area2.png" alt="눈가 사진" class="img-responsive"><!-- pc용 -->
										</div>
										<h4 class="img-list9__subject">눈가</h4>
										<p class="img-list9__txt">눈꺼풀 처짐, 눈가 주름, 다크서클 개선</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>
			<pre class="brush: html;">
				<div class="img-list9">
					<p class="img-list9__subtit subtit-v3">BANOBAGI ULTHERA PRO</p>
					<h3 class="img-list9__tit tit-v3">바노바기 울쎄라Pro <span class="color-ulthera1">시술부위</span></h3>
					<div class="img-list9__box">
						<ul class="img-list9__list">
							<li class="img-list9__item">
								<div class="img-list9__img">
									<img src="../../images/heal/ulthera/ulthera_area1.png" alt="이마 사진" class="img-responsive"><!-- pc용 -->
								</div>
								<h4 class="img-list9__subject">이마</h4>
								<p class="img-list9__txt">이마 주름, 미간 주름 개선</p>
							</li>
							<li class="img-list9__item">
								<div class="img-list9__img">
									<img src="../../images/heal/ulthera/ulthera_area2.png" alt="눈가 사진" class="img-responsive"><!-- pc용 -->
								</div>
								<h4 class="img-list9__subject">눈가</h4>
								<p class="img-list9__txt">눈꺼풀 처짐, 눈가 주름, 다크서클 개선</p>
							</li>
						</ul>
					</div>
				</div>
			</pre>

		</div>

		<div class="guide-tit">img-list10</div>
		<div class="guide-wrap">

			<div>
				<div class="container__wrap">
					<div class="box-style1">
						<div class="img-list10">
							<ul class="img-list10__list">
								<li class="img-list10__item">
									<div class="img-list10__img">
										<img src="../../images/heal/thermage/flx_img_3.jpg" alt="ThermaCool® TC 시스템" class="img-responsive">
									</div>
									<div class="img-list10__wrap">
										<h3 class="img-list10__tit">ThermaCool® TC 시스템</h3>
										<p class="img-list10__txt">
											최초의 비침습적 주름개선 장비 - KFDA : 2003 / FDA : 2002
										</p>
									</div>
								</li>
								<li class="img-list10__item">
									<div class="img-list10__img">
										<img src="../../images/heal/thermage/flx_img_4.jpg" alt="Thermage NXT® TC 시스템" class="img-responsive">
									</div>
									<div class="img-list10__wrap">
										<h3 class="img-list10__tit">Thermage NXT® TC 시스템</h3>
										<p class="img-list10__txt">
											2세대 시스템 - KFDA : 2008 / FDA : 2007
										</p>
									</div>
								</li>
								<li class="img-list10__item">
									<div class="img-list10__img">
										<img src="../../images/heal/thermage/flx_img_5.jpg" alt="Thermage FLX® 시스템" class="img-responsive">
									</div>
									<div class="img-list10__wrap">
										<h3 class="img-list10__tit">Thermage FLX® 시스템</h3>
										<p class="img-list10__txt">
											Comfort Pulse Technology™ - KFDA : 2011 / FDA : 2009
										</p>
									</div>
								</li>
								<li class="img-list10__item">
									<div class="img-list10__img">
										<img src="../../images/heal/thermage/flx_img_6.jpg" alt="Thermage FLX™  시스템" class="img-responsive">
									</div>
									<div class="img-list10__wrap">
										<h3 class="img-list10__tit">Thermage FLX™  시스템</h3>
										<p class="img-list10__txt">
											AccuREP™ - KFDA : 2018 / FDA : 2017
										</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
			<pre class="brush: html;">
				<div class="img-list10">
					<ul class="img-list10__list">
						<li class="img-list10__item">
							<div class="img-list10__img">
								<img src="../../images/heal/thermage/flx_img_3.jpg" alt="ThermaCool® TC 시스템" class="img-responsive">
							</div>
							<div class="img-list10__wrap">
								<h3 class="img-list10__tit">ThermaCool® TC 시스템</h3>
								<p class="img-list10__txt">
									최초의 비침습적 주름개선 장비 - KFDA : 2003 / FDA : 2002
								</p>
							</div>
						</li>
						<li class="img-list10__item">
							<div class="img-list10__img">
								<img src="../../images/heal/thermage/flx_img_4.jpg" alt="Thermage NXT® TC 시스템" class="img-responsive">
							</div>
							<div class="img-list10__wrap">
								<h3 class="img-list10__tit">Thermage NXT® TC 시스템</h3>
								<p class="img-list10__txt">
									2세대 시스템 - KFDA : 2008 / FDA : 2007
								</p>
							</div>
						</li>
						<li class="img-list10__item">
							<div class="img-list10__img">
								<img src="../../images/heal/thermage/flx_img_5.jpg" alt="Thermage FLX® 시스템" class="img-responsive">
							</div>
							<div class="img-list10__wrap">
								<h3 class="img-list10__tit">Thermage FLX® 시스템</h3>
								<p class="img-list10__txt">
									Comfort Pulse Technology™ - KFDA : 2011 / FDA : 2009
								</p>
							</div>
						</li>
						<li class="img-list10__item">
							<div class="img-list10__img">
								<img src="../../images/heal/thermage/flx_img_6.jpg" alt="Thermage FLX™  시스템" class="img-responsive">
							</div>
							<div class="img-list10__wrap">
								<h3 class="img-list10__tit">Thermage FLX™  시스템</h3>
								<p class="img-list10__txt">
									AccuREP™ - KFDA : 2018 / FDA : 2017
								</p>
							</div>
						</li>
					</ul>
				</div>
			</pre>

		</div>

		<div class="guide-tit">circle-style</div>
		<div class="guide-wrap">
			<div class="circle-style">
				<ul class="circle-style__list">
					<li class="circle-style__item nth-1">
						<div class="circle-style__wrap">
							<h2 class="circle-style__tit">더욱 안전하게</h2>
							<p class="circle-style__txt">제로 에너지 트레이닝 모드<span class="fw-light inline-block">(Zero Energy Training Mode)</span></p>
						</div>
					</li>
					<li class="circle-style__item nth-2">
						<div class="circle-style__wrap">
							<h2 class="circle-style__tit">더욱 정교하게</h2>
							<p class="circle-style__txt"><span class="fw-light">다양한 깊이의 시술이 가능하도록 </span>치료 가이드맵 추가</p>
						</div>
					</li>
					<li class="circle-style__item nth-3">
						<div class="circle-style__wrap">
							<h2 class="circle-style__tit">더욱 편안하게</h2>
							<p class="circle-style__txt">개별 맞춤 모드 가능</p>
						</div>
					</li>
				</ul>
			</div>
			<pre class="brush: html;">
				<div class="circle-style">
					<ul class="circle-style__list">
						<li class="circle-style__item nth-1">
							<div class="circle-style__wrap">
								<h2 class="circle-style__tit">더욱 안전하게</h2>
								<p class="circle-style__txt">제로 에너지 트레이닝 모드<span class="fw-light inline-block">(Zero Energy Training Mode)</span></p>
							</div>
						</li>
						<li class="circle-style__item nth-2">
							<div class="circle-style__wrap">
								<h2 class="circle-style__tit">더욱 정교하게</h2>
								<p class="circle-style__txt"><span class="fw-light">다양한 깊이의 시술이 가능하도록 </span>치료 가이드맵 추가</p>
							</div>
						</li>
						<li class="circle-style__item nth-3">
							<div class="circle-style__wrap">
								<h2 class="circle-style__tit">더욱 편안하게</h2>
								<p class="circle-style__txt">개별 맞춤 모드 가능</p>
							</div>
						</li>
					</ul>
				</div>
			</pre>
		</div>

		<div class="guide-tit">circle-style2</div>
		<div class="guide-wrap">
			<div class="circle-style2 box-style1">
				<h2 class="circle-style2__tit">
					울쎄라와 써마지,<br class="hidden-p"> <strong class="color-ulthermage2">왜 바노바기에서 하면<br> 결과가 다를까요?</strong>
				</h2>
				<ul class="circle-style2__list">
					<li class="circle-style2__item">
						<img src="../../images/heal/ulthermage/ulthermage_circle1.png" alt="울쎄라–리프팅 전문 의료기관 인증 사진">
						<p class="circle-style2__txt">울쎄라–리프팅 전문<br class="hidden-pt"> 의료기관 인증</p>
					</li>
					<li class="circle-style2__item">
						<img src="../../images/heal/ulthermage/ulthermage_circle2.png" alt="써마지FLX –정품 사용 인증 우수 의료기관 사진">
						<p class="circle-style2__txt">써마지FLX –정품 사용 인증<br class="hidden-pt"> 우수 의료기관</p>
					</li>
					<li class="circle-style2__item">
						<img src="../../images/heal/ulthermage/ulthermage_circle3.png" alt="PRP–PRP 세포치료 연구회 이사 사진">
						<p class="circle-style2__txt">PRP–PRP 세포치료<br class="hidden-pt"> 연구회 이사</p>
					</li>
					<li class="circle-style2__item">
						<img src="../../images/heal/ulthermage/ulthermage_circle4.png" alt="다양한 분야에 대한 앞서가는 연구와 시술 노하우로 국내외 의료진에게 강연하는 의료기관 사진">
						<p class="circle-style2__txt">다양한 분야에 대한 앞서가는 연구와 시술 노하우로 국내외 의료진에게 강연하는 의료기관</p>
					</li>
				</ul>
			</div>
			<pre class="brush: html;">
				<div class="circle-style2 box-style1">
					<h2 class="circle-style2__tit">
						울쎄라와 써마지,<br class="hidden-p"> <strong class="color-ulthermage2">왜 바노바기에서 하면<br> 결과가 다를까요?</strong>
					</h2>
					<ul class="circle-style2__list">
						<li class="circle-style2__item">
							<img src="../../images/heal/ulthermage/ulthermage_circle1.png" alt="울쎄라–리프팅 전문 의료기관 인증 사진">
							<p class="circle-style2__txt">울쎄라–리프팅 전문<br class="hidden-pt"> 의료기관 인증</p>
						</li>
						<li class="circle-style2__item">
							<img src="../../images/heal/ulthermage/ulthermage_circle2.png" alt="써마지FLX –정품 사용 인증 우수 의료기관 사진">
							<p class="circle-style2__txt">써마지FLX –정품 사용 인증<br class="hidden-pt"> 우수 의료기관</p>
						</li>
						<li class="circle-style2__item">
							<img src="../../images/heal/ulthermage/ulthermage_circle3.png" alt="PRP–PRP 세포치료 연구회 이사 사진">
							<p class="circle-style2__txt">PRP–PRP 세포치료<br class="hidden-pt"> 연구회 이사</p>
						</li>
						<li class="circle-style2__item">
							<img src="../../images/heal/ulthermage/ulthermage_circle4.png" alt="다양한 분야에 대한 앞서가는 연구와 시술 노하우로 국내외 의료진에게 강연하는 의료기관 사진">
							<p class="circle-style2__txt">다양한 분야에 대한 앞서가는 연구와 시술 노하우로 국내외 의료진에게 강연하는 의료기관</p>
						</li>
					</ul>
				</div>
			</pre>
		</div>


		<div class="guide-tit">circle-style3</div>

		<div class="guide-wrap">
			<div class="circle-style3 box-style1 type-pb0">
				<h2 class="circle-style3__tit tit-v1">
					써마지 FLX <span class="color-thermage1">시술부위</span>
				</h2>
				<ul class="circle-style3__list">
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/heal/thermage/thermage_area1.png" alt="이마" class="img-responsive">
						</div>
						<p class="circle-style3__subject">이마</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/heal/thermage/thermage_area2.png" alt="눈가" class="img-responsive">
						</div>
						<p class="circle-style3__subject">눈가</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/heal/thermage/thermage_area3.png" alt="볼" class="img-responsive">
						</div>
						<p class="circle-style3__subject">볼</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/heal/thermage/thermage_area4.png" alt="입가" class="img-responsive">
						</div>
						<p class="circle-style3__subject">입가</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/heal/thermage/thermage_area5.png" alt="목" class="img-responsive">
						</div>
						<p class="circle-style3__subject">목</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/heal/thermage/thermage_area6.png" alt="팔" class="img-responsive">
						</div>
						<p class="circle-style3__subject">팔</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/heal/thermage/thermage_area7.png" alt="옆구리" class="img-responsive">
						</div>
						<p class="circle-style3__subject">옆구리</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/heal/thermage/thermage_area8.png" alt="복부" class="img-responsive">
						</div>
						<p class="circle-style3__subject">복부</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/heal/thermage/thermage_area9.png" alt="엉덩이" class="img-responsive">
						</div>
						<p class="circle-style3__subject">엉덩이</p>
					</li>
					<li class="circle-style3__item">
						<div class="circle-style3__img">
							<img src="../../images/heal/thermage/thermage_area10.png" alt="허벅지" class="img-responsive">
						</div>
						<p class="circle-style3__subject">허벅지</p>
					</li>
				</ul>
			</div><!-- //circle-style3-->
			<pre class="brush: html;">
				<div class="circle-style3 box-style1 type-pb0">
					<h2 class="circle-style3__tit tit-v1">
						써마지 FLX <span class="color-thermage1">시술부위</span>
					</h2>
					<ul class="circle-style3__list">
						<li class="circle-style3__item">
							<div class="circle-style3__img">
								<img src="../../images/heal/thermage/thermage_area1.png" alt="이마" class="img-responsive">
							</div>
							<p class="circle-style3__subject">이마</p>
						</li>
						<li class="circle-style3__item">
							<div class="circle-style3__img">
								<img src="../../images/heal/thermage/thermage_area2.png" alt="눈가" class="img-responsive">
							</div>
							<p class="circle-style3__subject">눈가</p>
						</li>
						<li class="circle-style3__item">
							<div class="circle-style3__img">
								<img src="../../images/heal/thermage/thermage_area3.png" alt="볼" class="img-responsive">
							</div>
							<p class="circle-style3__subject">볼</p>
						</li>
						<li class="circle-style3__item">
							<div class="circle-style3__img">
								<img src="../../images/heal/thermage/thermage_area4.png" alt="입가" class="img-responsive">
							</div>
							<p class="circle-style3__subject">입가</p>
						</li>
						<li class="circle-style3__item">
							<div class="circle-style3__img">
								<img src="../../images/heal/thermage/thermage_area5.png" alt="목" class="img-responsive">
							</div>
							<p class="circle-style3__subject">목</p>
						</li>
						<li class="circle-style3__item">
							<div class="circle-style3__img">
								<img src="../../images/heal/thermage/thermage_area6.png" alt="팔" class="img-responsive">
							</div>
							<p class="circle-style3__subject">팔</p>
						</li>
						<li class="circle-style3__item">
							<div class="circle-style3__img">
								<img src="../../images/heal/thermage/thermage_area7.png" alt="옆구리" class="img-responsive">
							</div>
							<p class="circle-style3__subject">옆구리</p>
						</li>
						<li class="circle-style3__item">
							<div class="circle-style3__img">
								<img src="../../images/heal/thermage/thermage_area8.png" alt="복부" class="img-responsive">
							</div>
							<p class="circle-style3__subject">복부</p>
						</li>
						<li class="circle-style3__item">
							<div class="circle-style3__img">
								<img src="../../images/heal/thermage/thermage_area9.png" alt="엉덩이" class="img-responsive">
							</div>
							<p class="circle-style3__subject">엉덩이</p>
						</li>
						<li class="circle-style3__item">
							<div class="circle-style3__img">
								<img src="../../images/heal/thermage/thermage_area10.png" alt="허벅지" class="img-responsive">
							</div>
							<p class="circle-style3__subject">허벅지</p>
						</li>
					</ul>
				</div><!-- //circle-style3-->
			</pre>
		</div>


		<div class="guide-tit">content-step</div>
		<div class="guide-wrap">
			<div class="content-step type-ulthera">
				<div class="content-step__box">
					<h2 class="content-step__tit">울쎄라Pro <span class="color-ulthera1">시술과정</span></h2>
					<ul class="content-step__list">
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/ulthera/ulthera_step1.jpg" alt="step1 - 전문의 상담" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 01</h3>
									<p class="txt-v2">전문의 상담</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/ulthera/ulthera_step2.jpg" alt="step2 - 클렌징" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 02</h3>
									<p class="txt-v2">클렌징</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/ulthera/ulthera_step3.jpg" alt="step3 - 마취연고" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 03</h3>
									<p class="txt-v2">마취연고</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/ulthera/ulthera_step4.jpg" alt="step4 - 초음파젤" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 04</h3>
									<p class="txt-v2">초음파젤</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/ulthera/ulthera_step5.jpg" alt="step5 - 울쎄라 리프팅" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 05</h3>
									<p class="txt-v2">울쎄라 리프팅</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
						<li class="content-step__item">
							<div class="content-step__img">
								<img src="../../images/heal/ulthera/ulthera_step6.jpg" alt="step6 - 마무리팩" class="img-responsive">
							</div>
							<div class="content-step__wrap">
								<div class="vertical clear-t">
									<h3 class="tit-v2">STEP 06</h3>
									<p class="txt-v2">마무리팩</p>
								</div>
							</div>
						</li>
						<!-- //content-step__item -->
					</ul>
				</div>
			</div>
			<pre class="brush: html;">
				<div class="content-step type-ulthera">
					<div class="content-step__box">
						<h2 class="content-step__tit">울쎄라Pro <span class="color-ulthera1">시술과정</span></h2>
						<ul class="content-step__list">
							<li class="content-step__item">
								<div class="content-step__img">
									<img src="../../images/heal/ulthera/ulthera_step1.jpg" alt="step1 - 전문의 상담" class="img-responsive">
								</div>
								<div class="content-step__wrap">
									<div class="vertical clear-t">
										<h3 class="tit-v2">STEP 01</h3>
										<p class="txt-v2">전문의 상담</p>
									</div>
								</div>
							</li>
							<!-- //content-step__item -->
							<li class="content-step__item">
								<div class="content-step__img">
									<img src="../../images/heal/ulthera/ulthera_step2.jpg" alt="step2 - 클렌징" class="img-responsive">
								</div>
								<div class="content-step__wrap">
									<div class="vertical clear-t">
										<h3 class="tit-v2">STEP 02</h3>
										<p class="txt-v2">클렌징</p>
									</div>
								</div>
							</li>
							<!-- //content-step__item -->
							<li class="content-step__item">
								<div class="content-step__img">
									<img src="../../images/heal/ulthera/ulthera_step3.jpg" alt="step3 - 마취연고" class="img-responsive">
								</div>
								<div class="content-step__wrap">
									<div class="vertical clear-t">
										<h3 class="tit-v2">STEP 03</h3>
										<p class="txt-v2">마취연고</p>
									</div>
								</div>
							</li>
							<!-- //content-step__item -->
							<li class="content-step__item">
								<div class="content-step__img">
									<img src="../../images/heal/ulthera/ulthera_step4.jpg" alt="step4 - 초음파젤" class="img-responsive">
								</div>
								<div class="content-step__wrap">
									<div class="vertical clear-t">
										<h3 class="tit-v2">STEP 04</h3>
										<p class="txt-v2">초음파젤</p>
									</div>
								</div>
							</li>
							<!-- //content-step__item -->
							<li class="content-step__item">
								<div class="content-step__img">
									<img src="../../images/heal/ulthera/ulthera_step5.jpg" alt="step5 - 울쎄라 리프팅" class="img-responsive">
								</div>
								<div class="content-step__wrap">
									<div class="vertical clear-t">
										<h3 class="tit-v2">STEP 05</h3>
										<p class="txt-v2">울쎄라 리프팅</p>
									</div>
								</div>
							</li>
							<!-- //content-step__item -->
							<li class="content-step__item">
								<div class="content-step__img">
									<img src="../../images/heal/ulthera/ulthera_step6.jpg" alt="step6 - 마무리팩" class="img-responsive">
								</div>
								<div class="content-step__wrap">
									<div class="vertical clear-t">
										<h3 class="tit-v2">STEP 06</h3>
										<p class="txt-v2">마무리팩</p>
									</div>
								</div>
							</li>
							<!-- //content-step__item -->
						</ul>
					</div>
				</div>
			</pre>
		</div>

		<div class="guide-tit">content-faq</div>
		<div class="guide-wrap">
			<div class="content-faq">
				<div class="content-faq__box">
					<div class="content-faq__border">
						<p class="content-faq__txt">바노바기 꿀팁!</p>
						<h2 class="content-faq__tit">물광주사 FAQ</h2>
					</div>
				</div>
				<div class="content-faq__wrap box-style1">
					<ul class="content-faq__list">
						<!-- 질문 -->
						<li class="content-faq__item">
							<div class="talk type-1">
								<div class="talk__border">
									<h3 class="talk__tit">물광 주사 시술은 얼마나 안전한가요?</h3>
								</div>
							</div>
						</li>
						<!-- //질문 -->
						<!-- 답변 -->
						<li class="content-faq__item">
							<div class="talk type-2">
								<div class="talk__border">
									<p class="talk__txt">
										바노바기 피부과가 사용하는 히알루론산 제품은 관절에도 사용이 가능할 정도로 안정성을
										갖추고 있습니다. 얼굴에 주사했을 때 약물이 뭉치지 않고 부드럽게 퍼져 시술 후 멍울이나
										구진이 생기는 경우가 거의 없으므로 안심하셔도 됩니다.
									</p>
								</div>
							</div>
						</li>
						<!-- //답변 -->
						<!-- 질문 -->
						<li class="content-faq__item">
							<div class="talk type-1">
								<div class="talk__border">
									<h3 class="talk__tit">시술 효과는 언제쯤 나타나나요?</h3>
								</div>
							</div>
						</li>
						<!-- //질문 -->
						<!-- 답변 -->
						<li class="content-faq__item">
							<div class="talk type-2">
								<div class="talk__border">
									<p class="talk__txt">
										개인에 따라 차이가 있을 수 있으나, 보통 일주일 후에 효과를 느낄 수 있습니다. 지속기간은
										3개월 정도 예상하나 개인차가 있습니다. 물광DNA 또는 물광PRP 시술의 경우 지속기간이
										더 길어집니다. (물광DNA:6개월 / 물광PRP:1년)
									</p>
								</div>
							</div>
						</li>
						<!-- //답변 -->
						<!-- 질문 -->
						<li class="content-faq__item">
							<div class="talk type-1">
								<div class="talk__border">
									<h3 class="talk__tit">몇 회 정도 시술받아야 하나요?</h3>
								</div>
							</div>
						</li>
						<!-- //질문 -->
						<!-- 답변 -->
						<li class="content-faq__item">
							<div class="talk type-2">
								<div class="talk__border">
									<p class="talk__txt">
										한 달 간격으로 3회 정도 시술받는 것이 좋습니다. 그 후에는 1년에 한 두번 정도 시술 받는 것을 권유해드립니다.
									</p>
								</div>
							</div>
						</li>
						<!-- //답변 -->
						<!-- 질문 -->
						<li class="content-faq__item">
							<div class="talk type-1">
								<div class="talk__border">
									<h3 class="talk__tit">시술 시 통증은 어떠한가요?</h3>
								</div>
							</div>
						</li>
						<!-- //질문 -->
						<!-- 답변 -->
						<li class="content-faq__item">
							<div class="talk type-2">
								<div class="talk__border">
									<p class="talk__txt">
										간단한 연고 마취 후 진행하며 통증을 거의 느끼지 못합니다.
									</p>
								</div>
							</div>
						</li>
						<!-- //답변 -->
					</ul>
				</div>
			</div>
			<pre class="brush: html;">
				<div class="content-faq">
					<div class="content-faq__box">
						<div class="content-faq__border">
							<p class="content-faq__txt">바노바기 꿀팁!</p>
							<h2 class="content-faq__tit">물광주사 FAQ</h2>
						</div>
					</div>
					<div class="content-faq__wrap box-style1">
						<ul class="content-faq__list">
							<!-- 질문 -->
							<li class="content-faq__item">
								<div class="talk type-1">
									<div class="talk__border">
										<h3 class="talk__tit">물광 주사 시술은 얼마나 안전한가요?</h3>
									</div>
								</div>
							</li>
							<!-- //질문 -->
							<!-- 답변 -->
							<li class="content-faq__item">
								<div class="talk type-2">
									<div class="talk__border">
										<p class="talk__txt">
											바노바기 피부과가 사용하는 히알루론산 제품은 관절에도 사용이 가능할 정도로 안정성을
											갖추고 있습니다. 얼굴에 주사했을 때 약물이 뭉치지 않고 부드럽게 퍼져 시술 후 멍울이나
											구진이 생기는 경우가 거의 없으므로 안심하셔도 됩니다.
										</p>
									</div>
								</div>
							</li>
							<!-- //답변 -->
							<!-- 질문 -->
							<li class="content-faq__item">
								<div class="talk type-1">
									<div class="talk__border">
										<h3 class="talk__tit">시술 효과는 언제쯤 나타나나요?</h3>
									</div>
								</div>
							</li>
							<!-- //질문 -->
							<!-- 답변 -->
							<li class="content-faq__item">
								<div class="talk type-2">
									<div class="talk__border">
										<p class="talk__txt">
											개인에 따라 차이가 있을 수 있으나, 보통 일주일 후에 효과를 느낄 수 있습니다. 지속기간은
											3개월 정도 예상하나 개인차가 있습니다. 물광DNA 또는 물광PRP 시술의 경우 지속기간이
											더 길어집니다. (물광DNA:6개월 / 물광PRP:1년)
										</p>
									</div>
								</div>
							</li>
							<!-- //답변 -->
							<!-- 질문 -->
							<li class="content-faq__item">
								<div class="talk type-1">
									<div class="talk__border">
										<h3 class="talk__tit">몇 회 정도 시술받아야 하나요?</h3>
									</div>
								</div>
							</li>
							<!-- //질문 -->
							<!-- 답변 -->
							<li class="content-faq__item">
								<div class="talk type-2">
									<div class="talk__border">
										<p class="talk__txt">
											한 달 간격으로 3회 정도 시술받는 것이 좋습니다. 그 후에는 1년에 한 두번 정도 시술 받는 것을 권유해드립니다.
										</p>
									</div>
								</div>
							</li>
							<!-- //답변 -->
							<!-- 질문 -->
							<li class="content-faq__item">
								<div class="talk type-1">
									<div class="talk__border">
										<h3 class="talk__tit">시술 시 통증은 어떠한가요?</h3>
									</div>
								</div>
							</li>
							<!-- //질문 -->
							<!-- 답변 -->
							<li class="content-faq__item">
								<div class="talk type-2">
									<div class="talk__border">
										<p class="talk__txt">
											간단한 연고 마취 후 진행하며 통증을 거의 느끼지 못합니다.
										</p>
									</div>
								</div>
							</li>
							<!-- //답변 -->
						</ul>
					</div>
				</div>
			</pre>
		</div>

		<div class="guide-tit">talk</div>

		<div class="guide-wrap">
			<div class="talk type-1">
				<div class="talk__border">
					<h3 class="talk__tit">물광 주사 시술은 얼마나 안전한가요?</h3>
				</div>
			</div>
			<pre class="brush: html;">
				<div class="talk type-1">
					<div class="talk__border">
						<h3 class="talk__tit">물광 주사 시술은 얼마나 안전한가요?</h3>
					</div>
				</div>
			</pre>
		</div>

		<div class="guide-tit">advantage</div>
		<div class="guide-wrap">
			<div class="advantage box-style1 type-acne">
				<p class="advantage__subtit subtit-v1">AcnE QUICK therapy</p>
				<h2 class="advantage__tit tit-v1">성인여드름 퀵 테라피의 <span class="color-acne1">장점</span></h2>
				<div class="advantage__img">성인여드림 이미지</div>
				<div class="advantage__bg">
					<ul class="advantage__list">
						<li class="advantage__item">
							<div class="advantage__box">ONE DAY 시술</div>
						</li>
						<li class="advantage__item">
							<div class="advantage__box">빠르게 치료 가능</div>
						</li>
						<li class="advantage__item">
							<div class="advantage__box">여드름 원인부터 치료</div>
						</li>
						<li class="advantage__item">
							<div class="advantage__box">여드름 자국이나 흉터가 거의 남지 않음</div>
						</li>
						<li class="advantage__item">
							<div class="advantage__box">여드름 붉은 자국을 동시에 치료</div>
						</li>
						<li class="advantage__item">
							<div class="advantage__box">피부 타입에 맞는 맞춤형 시술</div>
						</li>
					</ul>
				</div>
			</div>
			<pre class="brush: html;">
				<div class="advantage box-style1 type-acne">
					<p class="advantage__subtit subtit-v1">AcnE QUICK therapy</p>
					<h2 class="advantage__tit tit-v1">성인여드름 퀵 테라피의 <span class="color-acne1">장점</span></h2>
					<div class="advantage__img">성인여드림 이미지</div>
					<div class="advantage__bg">
						<ul class="advantage__list">
							<li class="advantage__item">
								<div class="advantage__box">ONE DAY 시술</div>
							</li>
							<li class="advantage__item">
								<div class="advantage__box">빠르게 치료 가능</div>
							</li>
							<li class="advantage__item">
								<div class="advantage__box">여드름 원인부터 치료</div>
							</li>
							<li class="advantage__item">
								<div class="advantage__box">여드름 자국이나 흉터가 거의 남지 않음</div>
							</li>
							<li class="advantage__item">
								<div class="advantage__box">여드름 붉은 자국을 동시에 치료</div>
							</li>
							<li class="advantage__item">
								<div class="advantage__box">피부 타입에 맞는 맞춤형 시술</div>
							</li>
						</ul>
					</div>
				</div>
			</pre>
		</div>

		<div class="guide-tit">hexa-box</div>
		<div class="guide-wrap">
			<div class="hexa-box tab-style1 type-water type-another">
				<p class="hexa-box__subtit">SKIN BANOBAGI</p>
				<h2 class="hexa-box__tit tit-tab">물광PRP의 <span class="color-therapy1">다양한 시술 효과</span></h2>
				<div class="hexa-box__box">
					<div class="hexa-box__hexa">
						<div class="vertical">
							<h3 class="hexa-box__subject">
								<div class="inline-block">물광PRP</div>
							</h3>
						</div>
						<ul class="hexa-box__list">
							<li class="hexa-box__item nth-1">
								콜라겐과 엘라스틴 재생을 통한 탄력 강화
							</li>
							<li class="hexa-box__item nth-2">
								기미, 주근깨, 색소침착 검버섯 등 색소질환 치료
							</li>
							<li class="hexa-box__item nth-3">
								여드름 치료 및 여드름 자국 여드름 흉터 개선
							</li>
							<li class="hexa-box__item nth-4">
								피부톤 개선, 모공축소 튼살 개선, 다크서클 완화
							</li>
							<li class="hexa-box__item nth-5">
								이마, 눈가, 입가, 목. 팔자주름 개선
							</li>
						</ul>
					</div>
				</div>
			</div>
			<pre class="brush: html;">
				<div class="hexa-box tab-style1 type-water type-another">
					<p class="hexa-box__subtit">SKIN BANOBAGI</p>
					<h2 class="hexa-box__tit tit-tab">물광PRP의 <span class="color-therapy1">다양한 시술 효과</span></h2>
					<div class="hexa-box__box">
						<div class="hexa-box__hexa">
							<div class="vertical">
								<h3 class="hexa-box__subject">
									<div class="inline-block">물광PRP</div>
								</h3>
							</div>
							<ul class="hexa-box__list">
								<li class="hexa-box__item nth-1">
									콜라겐과 엘라스틴 재생을 통한 탄력 강화
								</li>
								<li class="hexa-box__item nth-2">
									기미, 주근깨, 색소침착 검버섯 등 색소질환 치료
								</li>
								<li class="hexa-box__item nth-3">
									여드름 치료 및 여드름 자국 여드름 흉터 개선
								</li>
								<li class="hexa-box__item nth-4">
									피부톤 개선, 모공축소 튼살 개선, 다크서클 완화
								</li>
								<li class="hexa-box__item nth-5">
									이마, 눈가, 입가, 목. 팔자주름 개선
								</li>
							</ul>
						</div>
					</div>
				</div>
			</pre>
		</div>

		<div class="guide-tit">bubble-box</div>
		<div class="guide-wrap">
			<div class="bubble-box box-style1">
				<h2 class="bubble-box__tit tit-v1"><strong class="color-allpore1">끊임없이</strong> 노력하는 바노바기</h2>
				<p class="bubble-box__subtit subtit-v1">
					바노바기는 심포지엄 강의, 세미나 발표, 시술 공개 시연 등 다양한 학술, 학회 활동을 통해<br class="hidden-tm">
					피부 관리에 대한 <strong class="color-white">높은 전문성과 시술 테크닉의 우수성</strong>을 널리 인정받았습니다.
				</p>
				<ul class="bubble-box__list">
					<li class="bubble-box__item type-img nth-1">
						2008년 아시아 항노화학회 후 대만 CCTV 인터뷰 이미지
					</li>
					<li class="bubble-box__item type-txt">
						<div class="vertical">2008년 아시아 항노화학회 후 대만 CCTV 인터뷰 (타이베이, 대만)</div>
					</li>
					<li class="bubble-box__item type-img nth-2 type-right">
						2011년 제 3차 국제 미세침습성형외과 학회 (MIPS) 라이브 워크샵 강의 (상해, 중국) 이미지
					</li>
					<li class="bubble-box__item type-txt type-another">
						<div class="vertical">2011년 제 3차 국제 미세침습성형외과 학회 (MIPS) 라이브 워크샵 강의 (상해, 중국)</div>
					</li>
					<li class="bubble-box__item type-img nth-3">
						제 14회 대한피부과의사회 추계 심포지언 강의 이미지
					</li>
					<li class="bubble-box__item type-txt">
						<div class="vertical">제 14회 대한피부과의사회 추계 심포지언 강의</div>
					</li>
					<li class="bubble-box__item type-img nth-4 type-right">
						중국과 한국 여성 얼굴형의 비교 2014년 중국 광동 제 2인민병원 필러 강의와 라이브 시연 이미지
					</li>
					<li class="bubble-box__item type-txt type-another">
						<div class="vertical">중국과 한국 여성 얼굴형의 비교 2014년 중국 광동 제 2인민병원 필러 강의와 라이브 시연</div>
					</li>
					<li class="bubble-box__item type-img nth-5">
						제 4회 APAS (쁘띠성형학회) 심포지엄 필러 시술 강의 이미지
					</li>
					<li class="bubble-box__item type-txt">
						<div class="vertical">제 4회 APAS (쁘띠성형학회) 심포지엄 필러 시술 강의</div>
					</li>
					<li class="bubble-box__item type-img nth-6 type-right">
						제 14회 대한피부과의사회 추계 심포지언 강의 이미지
					</li>
					<li class="bubble-box__item type-txt type-another">
						<div class="vertical">제 14회 대한피부과의사회 추계 심포지언 강의</div>
					</li>
				</ul>
			</div>
			<pre class="brush: html;">
				<div class="bubble-box box-style1">
					<h2 class="bubble-box__tit tit-v1"><strong class="color-allpore1">끊임없이</strong> 노력하는 바노바기</h2>
					<p class="bubble-box__subtit subtit-v1">
						바노바기는 심포지엄 강의, 세미나 발표, 시술 공개 시연 등 다양한 학술, 학회 활동을 통해<br class="hidden-tm">
						피부 관리에 대한 <strong class="color-white">높은 전문성과 시술 테크닉의 우수성</strong>을 널리 인정받았습니다.
					</p>
					<ul class="bubble-box__list">
						<li class="bubble-box__item type-img nth-1">
							2008년 아시아 항노화학회 후 대만 CCTV 인터뷰 이미지
						</li>
						<li class="bubble-box__item type-txt">
							<div class="vertical">2008년 아시아 항노화학회 후 대만 CCTV 인터뷰 (타이베이, 대만)</div>
						</li>
						<li class="bubble-box__item type-img nth-2 type-right">
							2011년 제 3차 국제 미세침습성형외과 학회 (MIPS) 라이브 워크샵 강의 (상해, 중국) 이미지
						</li>
						<li class="bubble-box__item type-txt type-another">
							<div class="vertical">2011년 제 3차 국제 미세침습성형외과 학회 (MIPS) 라이브 워크샵 강의 (상해, 중국)</div>
						</li>
						<li class="bubble-box__item type-img nth-3">
							제 14회 대한피부과의사회 추계 심포지언 강의 이미지
						</li>
						<li class="bubble-box__item type-txt">
							<div class="vertical">제 14회 대한피부과의사회 추계 심포지언 강의</div>
						</li>
						<li class="bubble-box__item type-img nth-4 type-right">
							중국과 한국 여성 얼굴형의 비교 2014년 중국 광동 제 2인민병원 필러 강의와 라이브 시연 이미지
						</li>
						<li class="bubble-box__item type-txt type-another">
							<div class="vertical">중국과 한국 여성 얼굴형의 비교 2014년 중국 광동 제 2인민병원 필러 강의와 라이브 시연</div>
						</li>
						<li class="bubble-box__item type-img nth-5">
							제 4회 APAS (쁘띠성형학회) 심포지엄 필러 시술 강의 이미지
						</li>
						<li class="bubble-box__item type-txt">
							<div class="vertical">제 4회 APAS (쁘띠성형학회) 심포지엄 필러 시술 강의</div>
						</li>
						<li class="bubble-box__item type-img nth-6 type-right">
							제 14회 대한피부과의사회 추계 심포지언 강의 이미지
						</li>
						<li class="bubble-box__item type-txt type-another">
							<div class="vertical">제 14회 대한피부과의사회 추계 심포지언 강의</div>
						</li>
					</ul>
				</div>
			</pre>
		</div>

		<div class="guide-tit">care-list1</div>
		<div class="guide-wrap">
			<div class="care-list1 box-style1 type-cute">
				<h2 class="care-list1__tit tit-v1">애교필러 <span class="color-cute1">시술 후 관리</span></h2>
				<ul class="care-list1__list">
					<li class="care-list1__item nth-1">
						<p class="care-list1__txt">
							시술 후 약 2주간 시술 부위에 압력이 가해지지 않도록 주의 바랍니다.
						</p>
					</li>
					<li class="care-list1__item nth-2">
						<p class="care-list1__txt">
							시술 후 약 일주일간 흡연과 음주를 삼가해 주시기 바랍니다.
						</p>
					</li>
				</ul>
			</div>
			<pre class="brush: html;">
				<div class="care-list1 box-style1 type-cute">
					<h2 class="care-list1__tit tit-v1">애교필러 <span class="color-cute1">시술 후 관리</span></h2>
					<ul class="care-list1__list">
						<li class="care-list1__item nth-1">
							<p class="care-list1__txt">
								시술 후 약 2주간 시술 부위에 압력이 가해지지 않도록 주의 바랍니다.
							</p>
						</li>
						<li class="care-list1__item nth-2">
							<p class="care-list1__txt">
								시술 후 약 일주일간 흡연과 음주를 삼가해 주시기 바랍니다.
							</p>
						</li>
					</ul>
				</div>
			</pre>
		</div>

		<div class="guide-tit">comparison</div>
		<div class="guide-wrap">
			<div class="comparison box-style1">
				<h2 class="comparison__tit tit-v1">일반적인 필러 VS <span class="color-filler1 inline-block">이미지 필러</span></h2>
				<div class="comparison__wrap">
					<div class="comparison__box nth-1">
						<div class="comparison__hexagon">
							<p class="comparison__txt">일반필러</p>
						</div>
						<ol class="comparison__list">
							<li class="comparison__item"><span class="comparison__subject">시술의 주안점 : </span><span class="comparison__txt2">볼륨감 증대 (지방이식의 연장 개념)</span></li>
							<li class="comparison__item"><span class="comparison__subject">강조 부위 : </span><span class="comparison__txt2">T존 강조</span></li>
							<li class="comparison__item"><span class="comparison__subject type-another">개요 : </span><span class="comparison__txt2 type-another">꺼진 부위에 필러를 채움으로써, 볼륨감을 높이고 입체적인 인상을 완성</span></li>
						</ol>
					</div>
					<div class="comparison__box nth-2">
						<div class="comparison__hexagon">
							<p class="comparison__txt">이미지 필러</p>
						</div>
						<ol class="comparison__list">
							<li class="comparison__item"><span class="comparison__subject">시술의 주안점 : </span><span class="comparison__txt2">비대칭 교정 (자연스러운 아름다움을 추구)</span></li>
							<li class="comparison__item"><span class="comparison__subject">강조 부위 : </span><span class="comparison__txt2">V라인 강조</span></li>
							<li class="comparison__item"><span class="comparison__subject type-another">개요 : </span><span class="comparison__txt2 type-another">얼굴 라인을 매끄럽게 만들어, 균형감 있고 좌우대칭적인 이미지를 완성</span></li>
						</ol>
					</div>
				</div>
			</div>
			<pre class="brush: html;">
				<div class="comparison box-style1">
					<h2 class="comparison__tit tit-v1">일반적인 필러 VS <span class="color-filler1 inline-block">이미지 필러</span></h2>
					<div class="comparison__wrap">
						<div class="comparison__box nth-1">
							<div class="comparison__hexagon">
								<p class="comparison__txt">일반필러</p>
							</div>
							<ol class="comparison__list">
								<li class="comparison__item"><span class="comparison__subject">시술의 주안점 : </span><span class="comparison__txt2">볼륨감 증대 (지방이식의 연장 개념)</span></li>
								<li class="comparison__item"><span class="comparison__subject">강조 부위 : </span><span class="comparison__txt2">T존 강조</span></li>
								<li class="comparison__item"><span class="comparison__subject type-another">개요 : </span><span class="comparison__txt2 type-another">꺼진 부위에 필러를 채움으로써, 볼륨감을 높이고 입체적인 인상을 완성</span></li>
							</ol>
						</div>
						<div class="comparison__box nth-2">
							<div class="comparison__hexagon">
								<p class="comparison__txt">이미지 필러</p>
							</div>
							<ol class="comparison__list">
								<li class="comparison__item"><span class="comparison__subject">시술의 주안점 : </span><span class="comparison__txt2">비대칭 교정 (자연스러운 아름다움을 추구)</span></li>
								<li class="comparison__item"><span class="comparison__subject">강조 부위 : </span><span class="comparison__txt2">V라인 강조</span></li>
								<li class="comparison__item"><span class="comparison__subject type-another">개요 : </span><span class="comparison__txt2 type-another">얼굴 라인을 매끄럽게 만들어, 균형감 있고 좌우대칭적인 이미지를 완성</span></li>
							</ol>
						</div>
					</div>
				</div>
			</pre>
		</div>

	</div>
<!-- 개발적용시 제거 -->
<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../js/guide.js"></script>
<script type="text/javascript" src="../../js/libs/Cycle2.js"></script>
<script type="text/javascript" src="../../js/libs/cycle2.swipe.js"></script>
<script type="text/javascript" src="../../js/libs/owl.carousel.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
</body>
</html>
