<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>바노바기피부과</title>
<script type="text/javascript" src="../../scripts/libs/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/content_common.css">
<link rel="stylesheet" href="../../css/contour.css">
<link rel="stylesheet" href="../../css/pore.css">
<link rel="stylesheet" href="../../css/guide.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCoreDefault.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shCore.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shAutoloader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushCss.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushXml.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushJScript.js"></script>
<script type="text/javascript">
SyntaxHighlighter.all();
</script>
</head>
<body class="guide-body">
	<div class="g-gnb">
		<a href="" class="g-gnb__btn">메뉴 닫기</a>
		<div class="g-gnb__area">
			<ul class="g-gnb__depth1-list">
				<li class="g-gnb__depth1-item is-active"><a href="guide_font.html" class="g-gnb__depth1-link">font</a></li>
				<li class="g-gnb__depth1-item"><a href="guide_content.html" class="g-gnb__depth1-link">content</a></li>
			    <li class="g-gnb__depth1-item"><a href="guide_form.html" class="g-gnb__depth1-link">form</a></li>
			</ul>
			<div class="g-gnb__scroll">
				<div class="g-gnb__wrap">
					<ul class="g-gnb__depth2-list">
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container__wrap">
		<!-- 페이지 컬러 &amp; 포인트 컬러 -->
        <div class="guide-box">
            <div class="guide-tit">페이지 컬러 &amp; 포인트 컬러</div>
            <div class="guide-wrap">
                <div>
                    <div class="guide-color">
                        <div class="guide-color__box type-light">
                            <h3 class="guide-subtit guide-color__tit">흰 배경, 밝은 배경</h3>
                            <ul class="guide-color__list">
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 01<br>
                                        #000000
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 02<br>
                                        #444444
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 03<br>
                                        #777777<br>
                                    </div>
                                </li>
								<li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 04<br>
                                        #999999
                                    </div>
                                </li>
								<li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 05<br>
                                        #555555
                                    </div>
                                </li>
                            </ul>
                        </div><!-- //guide-color__box -->
                    </div><!-- //guide-color -->
                </div>
            </div>
        </div>


        <!-- 타이틀 폰트 -->
        <div class="guide-box">
            <div class="guide-tit">타이틀 폰트</div>
            <div class="guide-wrap">
            <div class="guide-bg">
                <p class="tit-v1">
                    안녕하세요.
                    <span class="guide-span">(font-size:60px;font-weight:100;color:#000;)</span>
                </p>
				<p class="tit-v3">
                    안녕하세요.
                    <span class="guide-span">(margin-top:20px; font-size:60px; font-weight:100;color:#fff;)</span>
                </p>
				<p class="tit-v2">
                    안녕하세요.
                    <span class="guide-span">(font-size:24px;font-weight:400;color:#000;)</span>
                </p>

            </div>
            <pre class="brush: html;">
        		<div>
                    <p class="tit-v1">안녕하세요.</p>
					<p class="tit-v3">안녕하세요.</p>
                    <p class="tit-v2">안녕하세요.</p>
        		</div>
        	</pre>
        </div>
        </div>

        <!-- 텍스트 폰트 -->
        <div class="guide-box">
            <div class="guide-tit">텍스트 폰트</div>
            <div class="guide-wrap">
            <div class="guide-bg">
				<p class="txt-v1">
                    안녕하세요. 바노바기 성형외과입니다.
                    <span class="guide-span">(font-size:17px;color:#777;line-height:2;)</span>
                </p>
				<p class="txt-v2">
                    안녕하세요. 바노바기 성형외과입니다.
                    <span class="guide-span">(margin-top:8px; font-size:16px;font-weight:300;color:#777;line-height:1.5;)</span>
                </p>
            </div>
            <pre class="brush: html;">
        		<div>
                    <p class="txt-v1">안녕하세요. 바노바기 성형외과입니다.</p>
                    <p class="txt-v2">안녕하세요. 바노바기 성형외과입니다.</p>
        		</div>
        	</pre>
        </div>
        </div>
	</div><!-- //container__wrap-->
<!-- 개발적용시 제거 -->
<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../js/guide.js"></script>
<script type="text/javascript" src="../../js/libs/Cycle2.js"></script>
<script type="text/javascript" src="../../js/libs/cycle2.swipe.js"></script>
<script type="text/javascript" src="../../js/libs/owl.carousel.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
</body>
</html>
