<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>바노바기피부과</title>
<script type="text/javascript" src="../../scripts/libs/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/guide.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCoreDefault.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shCore.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shAutoloader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushCss.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushXml.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushJScript.js"></script>
<script type="text/javascript">
SyntaxHighlighter.all();
</script>
<style>
	.guide-body { height:auto; margin:20px; }
	.guide-tit { margin-top:1em; font-size:26px; color:#333; font-weight:500;  }
	.guide-wrap { margin:10px 0; padding:10px; border:1px solid #aaa; }
	.syntaxhighlighter{overflow:visible !important}
</style>
</head>
<body class="guide-body">
	<div class="g-gnb">
		<a href="" class="g-gnb__btn">메뉴 닫기</a>
		<div class="g-gnb__area">
			<ul class="g-gnb__depth1-list">
				<li class="g-gnb__depth1-item"><a href="guide_font.html" class="g-gnb__depth1-link">font</a></li>
				<li class="g-gnb__depth1-item"><a href="guide_content.html" class="g-gnb__depth1-link">content</a></li>
			    <li class="g-gnb__depth1-item is-active"><a href="guide_form.html" class="g-gnb__depth1-link">form</a></li>
			</ul>
			<div class="g-gnb__scroll">
				<div class="g-gnb__wrap">
					<ul class="g-gnb__depth2-list">
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container__wrap">
		<div class="guide-tit">Btn1</div>
		<div class="guide-wrap">

			<div>
				<a href="" class="btn1"><span>자세히보기</span></a>
				<!-- //tab1 -->
			</div>
			<pre class="brush: html;">
				<!-- [카테고리 - 소분류] 사용 -->
				<div>
					<a href="" class="btn1"><span>자세히보기</span></a>
				</div>
			</pre>

		</div>

		<div class="guide-tit">Btn2</div>
		<div class="guide-wrap">

			<div>
				<a href="" class="btn2"><span>상담신청</span></a>
				<!-- //tab1 -->
			</div>
			<pre class="brush: html;">
				<!-- [카테고리 - 소분류] 사용 -->
				<div>
					<a href="" class="btn2"><span>상담신청</span></a>
				</div>
			</pre>

		</div>

		<div class="guide-tit">Btn2 - 카톡</div>
		<div class="guide-wrap">

			<div>
				<a href="" class="btn2 type-katalk"><span>카톡 상담신청</span></a>
				<!-- //tab1 -->
			</div>
			<pre class="brush: html;">
				<!-- [카테고리 - 소분류] 사용 -->
				<div>
					<a href="" class="btn2"><span>카톡 상담신청</span></a>
				</div>
			</pre>

		</div>
		<!-- //guide-wrap -->

		<div class="guide-tit">페이징</div>
		<div class="guide-wrap">

			<div>
				<div class="pagination">
					<ul class="pagination__list">
						<li class="pagination__item pagination__item-first">
							<a href="" class="pagination__link">처음</a>
						</li>
						<li class="pagination__item pagination__item-prev">
							<a href="" class="pagination__link">이전</a>
						</li>
						<li class="pagination__item pagination__item-num is-active">
							<a href="" class="pagination__link">1</a>
						</li>
						<li class="pagination__item pagination__item-num is-acitve">
							<a href="" class="pagination__link">2</a>
						</li>
						<li class="pagination__item pagination__item-num">
							<a href="" class="pagination__link">3</a>
						</li>
						<li class="pagination__item pagination__item-num">
							<a href="" class="pagination__link">4</a>
						</li>
						<li class="pagination__item pagination__item-num">
							<a href="" class="pagination__link">5</a>
						</li>
						<li class="pagination__item pagination__item-next">
							<a href="" class="pagination__link">다음</a>
						</li>
						<li class="pagination__item pagination__item-last">
							<a href="" class="pagination__link">마지막</a>
						</li>
					</ul>
				</div>
			</div>
			<pre class="brush: html;">
				<div class="pagination">
					<ul class="pagination__list">
						<li class="pagination__item pagination__item-first">
							<a href="" class="pagination__link">처음</a>
						</li>
						<li class="pagination__item pagination__item-prev">
							<a href="" class="pagination__link">이전</a>
						</li>
						<li class="pagination__item pagination__item-num is-active">
							<a href="" class="pagination__link">1</a>
						</li>
						<li class="pagination__item pagination__item-num is-acitve">
							<a href="" class="pagination__link">2</a>
						</li>
						<li class="pagination__item pagination__item-num">
							<a href="" class="pagination__link">3</a>
						</li>
						<li class="pagination__item pagination__item-num">
							<a href="" class="pagination__link">4</a>
						</li>
						<li class="pagination__item pagination__item-num">
							<a href="" class="pagination__link">5</a>
						</li>
						<li class="pagination__item pagination__item-next">
							<a href="" class="pagination__link">다음</a>
						</li>
						<li class="pagination__item pagination__item-last">
							<a href="" class="pagination__link">마지막</a>
						</li>
					</ul>
				</div>
			</pre>

		</div>
		<!-- //guide-wrap -->

		<div class="guide-tit">탭 - v1</div>
		<div class="guide-wrap">
			<div>
				<div class="tab-v1">
					<ul class="tab-v1__list">
						<li class="tab-v1__item is-active"><a href="tab-content1" class="tab-v1__link" da>물광 PRP</a></li>
						<li class="tab-v1__item"><a href="tab-content2" class="tab-v1__link">물광 DNA</a></li>
						<li class="tab-v1__item"><a href="tab-content3" class="tab-v1__link">물광주사</a></li>
					</ul>
				</div>
			</div>
			<pre class="brush: html;">
				<div class="tab-v1">
					<ul class="tab-v1__list">
						<li class="tab-v1__item is-active"><a href="tab-content1" class="tab-v1__link" da>물광 PRP</a></li>
						<li class="tab-v1__item"><a href="tab-content2" class="tab-v1__link">물광 DNA</a></li>
						<li class="tab-v1__item"><a href="tab-content3" class="tab-v1__link">물광주사</a></li>
					</ul>
				</div>
			</pre>
		</div>
		<div class="guide-tit">탭 - v2</div>
		<div class="guide-wrap">
			<div>
				<div class="tab-v2">
					<ul class="tab-v2__list">
						<li class="tab-v2__item"><a href="" class="tab-v2__link">media</a></li>
						<li class="tab-v2__item is-active"><a href="" class="tab-v2__link">news</a></li>
					</ul>
				</div>
			</div>
			<pre class="brush: html;">
				<div class="tab-v2">
					<ul class="tab-v2__list">
						<li class="tab-v2__item"><a href="" class="tab-v2__link">media</a></li>
						<li class="tab-v2__item is-active"><a href="" class="tab-v2__link">news</a></li>
					</ul>
				</div>
			</pre>
		</div>
		<div class="guide-tit">탭 - v3</div>
		<div class="guide-wrap">
			<div>
				<div class="tab-v3">
					<ul class="tab-v3__list">
						<li data-tab="etc1" class="tab-v3__item is-active"><a class="tab-v3__link js-tab-link" href="">개인정보취급방침</a></li>
						<li data-tab="etc2" class="tab-v3__item"><a class="tab-v3__link js-tab-link" href="">개인정보 수집 및 이용 동의</a></li>
					</ul>
				</div>
			</div>
			<pre class="brush: html;">
				<div class="tab-v3">
					<ul class="tab-v3__list">
						<li data-tab="etc1" class="tab-v3__item is-active"><a class="tab-v3__link js-tab-link" href="">개인정보취급방침</a></li>
						<li data-tab="etc2" class="tab-v3__item"><a class="tab-v3__link js-tab-link" href="">개인정보 수집 및 이용 동의</a></li>
					</ul>
				</div>
			</pre>
		</div>
		<div class="guide-tit">탭 - v4</div>
		<div class="guide-wrap">
			<div>
				<ul class="tab-v4">
					<li class="tab-v4__item is-active" data-tab="profile">
						<a href="" class="tab-v4__link js-tab-link">약력</a>
					</li>
					<li class="tab-v4__item" data-tab="thesis">
						<a href="" class="tab-v4__link js-tab-link">논문 &middot; 저서</a>
					</li>
				</ul>
			</div>
			<pre class="brush: html;">
				<ul class="tab-v4">
					<li class="tab-v4__item is-active" data-tab="profile">
						<a href="" class="tab-v4__link js-tab-link">약력</a>
					</li>
					<li class="tab-v4__item" data-tab="thesis">
						<a href="" class="tab-v4__link js-tab-link">논문 &middot; 저서</a>
					</li>
				</ul>
			</pre>
		</div>
		<div class="guide-tit">탭 - v5</div>
		<div class="guide-wrap">
			<div>
				<ul class="tab-v5">
					<li class="tab-v5__item is-active" data-tab="type-doctor">
						<a href="" class="tab-v5__link js-tab-link">의료진 (4)</a>
					</li>
					<li class="tab-v5__item" data-tab="type-academic">
						<a href="" class="tab-v5__link js-tab-link">학술교류</a>
					</li>
					<li class="tab-v5__item" data-tab="type-video">
						<a href="" class="tab-v5__link js-tab-link">동영상</a>
					</li>
					<li class="tab-v5__item" data-tab="type-news">
						<a href="" class="tab-v5__link js-tab-link">뉴스</a>
					</li>
				</ul>
			</div>
			<pre class="brush: html;">
				<ul class="tab-v5">
					<li class="tab-v5__item is-active" data-tab="type-doctor">
						<a href="" class="tab-v5__link js-tab-link">의료진 (4)</a>
					</li>
					<li class="tab-v5__item" data-tab="type-academic">
						<a href="" class="tab-v5__link js-tab-link">학술교류</a>
					</li>
					<li class="tab-v5__item" data-tab="type-video">
						<a href="" class="tab-v5__link js-tab-link">동영상</a>
					</li>
					<li class="tab-v5__item" data-tab="type-news">
						<a href="" class="tab-v5__link js-tab-link">뉴스</a>
					</li>
				</ul>
			</pre>
		</div>
	</div>


<!-- 개발적용시 제거 -->
<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../js/guide.js"></script>
<script type="text/javascript" src="../../js/libs/Cycle2.js"></script>
<script type="text/javascript" src="../../js/libs/cycle2.swipe.js"></script>
<script type="text/javascript" src="../../js/libs/owl.carousel.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
</body>
</html>
