<%
	type = "content"
	page = "whitening"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="container__wrap">
		<div class="content-visual type-luminance">
			<div class="content-visual__box type-left">
				<div class="content-visual__wrap">
					<h2 class="content-visual__tit">
						바노바기 미백 브라이트닝
						<span class="content-visual__tit-point">광채토닝</span>
					</h2>
					<p class="content-visual__txt1">
						피부 속에서부터 빛나는 프리미엄 토닝 프로그램
					</p>
					<p class="content-visual__point">POINT</p>
					<p class="content-visual__txt2">
						레이저토닝 시술에 고농축의 비타민C를 더한 물광주사<br class="hidden-m">
						시술을 추가하여 속에서부터 빛나는 피부로 만들어줍니다.
					</p>
				</div>
			</div>
			<div class="content-visual__box type-right">
				<div class="content-visual__img">광채토닝 이미지</div>
			</div>
		</div>
		<!-- //content-visual-->
		<div class="content-seciton">
			<div class="luminance-box1">
				<div class="content-top type-luminance">
					<p class="content-top__subtit subtit-v1">프리미엄 토닝 프로그램</p>
					<h2 class="content-top__tit tit-v1">바노바기  <span class="color-therapy1">광채토닝</span></h2>
					<p class="content-top__txt txt-v1">
						기존 기미 치료보다 치료 효과가 더 좋고, 주 1회 간격으로 물광주사 치료를 하기 때문에<br class="hidden-tm">
						피부가 더욱 맑고 투명해지면서 진피층이 탄탄하게 회복되어 기미 재발을 방지해줍니다.
					</p>
				</div>
				<!-- //content-top-->
			</div><!-- //therapy-box1 -->
			<div class="toning-box2 box-style1 type-luminance">
				<h2 class="toning-box2__tit tit-v1">광채토닝  <span class="color-toning1">치료효과</span></h2>
				<ul class="toning-box2__list">
					<li class="toning-box2__item">
						<div class="toning-box2__img">
							<img src="../../images/whitening/luminance/luminance_effect1.png" alt="기미 색소 치료" class="img-responsive">
						</div>
						<h3 class="toning-box2__subject">기미 색소 치료</h3>
					</li>
					<li class="toning-box2__item">
						<div class="toning-box2__img">
							<img src="../../images/whitening/luminance/luminance_effect2.png" alt="피부톤 개선" class="img-responsive">
						</div>
						<h3 class="toning-box2__subject">피부톤 개선</h3>
					</li>
					<li class="toning-box2__item">
						<div class="toning-box2__img">
							<img src="../../images/whitening/luminance/luminance_effect3.png" alt="피부 환경 개선" class="img-responsive">
						</div>
						<h3 class="toning-box2__subject">피부 환경 개선</h3>
					</li>
					<li class="toning-box2__item">
						<div class="toning-box2__img">
							<img src="../../images/whitening/luminance/luminance_effect4.png" alt="피부결 개선" class="img-responsive">
						</div>
						<h3 class="toning-box2__subject">피부결 개선</h3>
					</li>
				</ul>
			</div>
			<!-- //toning-box2 -->
			<div class="equipment box-style1 type-toning">
				<p class="equipment__subtit subtit-v1">티 없이 맑고 깨끗한 자체 발광 피부</p>
				<h2 class="equipment__tit tit-v1">올인원 토닝 <span class="color-toning1">시술내용</span></h2>
				<ul class="equipment__list">
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<img src="../../images/whitening/toning/toning_eq1.jpg" alt="이온자임" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">이온자임</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<img src="../../images/whitening/toning/toning_eq2.jpg" alt="바이탈이온토" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">바이탈이온토</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<img src="../../images/whitening/toning/toning_eq3.jpg" alt="더마샤인" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">더마샤인</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<img src="../../images/whitening/toning/toning_eq4.jpg" alt="레이저토닝" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">레이저토닝</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item type-logo type-multi">
						<div class="equipment__border">
							<div class="equipment__img">
								blank
							</div>
							<div class="equipment__wrap">
								blank
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- //equipment -->
			<div class="content-info type-toning">
				<div class="content-info__box type-subject">
					<div class="vertical clear-t">
						<h3 class="content-info__tit">
							광채토닝<br class="hidden-tm"> 치료 후 주의사항
						</h3>
					</div>
				</div>
				<div class="content-info__box type-list">
					<div class="vertical clear-t">
						<ul class="content-info__list">
							<li class="content-info__item txt-v1">밤 12시 이전에 잠들도록 하고 7~8시간의 충분한 수면을 취하는 것이 좋습니다.</li>
							<li class="content-info__item txt-v1">물과 비타민 C를 충분히 섭취합니다.</li>
							<li class="content-info__item txt-v1">술과 담배를 끊는 편이 좋습니다.</li>
							<li class="content-info__item txt-v1">피임약, 식이 억제제 등의 경구 복용약은 기미를 악화시킬 수 있으니 삼가는 편이 좋습니다.</li>
							<li class="content-info__item txt-v1">자외선 차단제는 아침, 점심에 바르셔야 하며, SPF 30 이상의 차단제를 사용하시는 것이 좋습니다.</li>
							<li class="content-info__item txt-v1">치료 코스가 끝난 후에도 철저한 관리가 필요합니다.</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- //content-info -->
			<div class="toning-box3 box-style1 type-pb0">
				<h2 class="toning-box3__tit">
					<span class="color-toning1">대한민국 2%, 피부과 전문의</span>의<br> 정확한 진단과 치료
				</h2>
				<h3 class="toning-box3__subtit">전체 의사중 피부과 전문의는 <span class="toning-box3__color">단 2.5%<i>!</i></span></h3>
				<p class="toning-box3__txt txt-v1">
					피부과 전문의가 되려면 4년 이상의 임상 경험 과정을 거쳐야 하기 때문에 그 실력과 경험이 다릅니다.<br class="hidden-tm">
					바노바기는 풍부한 경험의 피부과 전문의들이 정확하게 진단하고 확실하게 치료하여 근본적인 피부고민을 해결해 드립니다.
				</p>
				<div class="toning-box3__img">
					<img src="../../images/whitening/toning/toning_img2.jpg" alt="피부과 의료진" class="img-responsive">
				</div>
			</div>
			<!--//toning-box3-->
			<div class="toning-box3 box-style1 type-another">
				<h2 class="toning-box3__tit">
					<span class="color-toning1">뛰어난 성능의 신형 의료장비<br>
					 	20여종 보유</span> &amp; 정품, 정량 준수
				</h2>
				<p class="toning-box3__txt txt-v1">
					바노바기는 고가의 레이저기기 및 다양한 의료 설비를 구비하고 있어 치료 완성도와<br class="hidden-tm">
					만족도를 높입니다. 또한 모든 장비와 시술 시 사용하는 소모품은 반드시 정품만을 사용하며 보톡스,<br class="hidden-tm">
					필러 시술 시에도 정품과 정량을 준수합니다.
				</p>
				<div class="toning-box3__img">
					<img src="../../images/whitening/toning/toning_img3.jpg" alt="피부과 의료진" class="img-responsive">
				</div>
				<p class="toning-box3__caption">뛰어난 성능의 신형 의료장비</p>
				<ul class="toning-box3__list">
					<li class="toning-box3__item">
						<div class="toning-box3__img2">
							<img src="../../images/whitening/toning/toning_medal1.png" class="img-responsive" alt="울쎄라 – 리프팅 전문 병원 인증">
						</div>
						<p class="toning-box3__subject">울쎄라 – 리프팅 전문 병원 인증</p>
					</li>
					<li class="toning-box3__item">
						<div class="toning-box3__img2">
							<img src="../../images/whitening/toning/toning_medal2.png" class="img-responsive" alt="더블로 – 리프팅 전문 시술 병원">
						</div>
						<p class="toning-box3__subject">더블로 – 리프팅 전문 시술 병원</p>
					</li>
					<li class="toning-box3__item">
						<div class="toning-box3__img2">
							<img src="../../images/whitening/toning/toning_medal3.png" class="img-responsive" alt="프락셀 – 장비와 정품팁을 사용하는 병원 인증">
						</div>
						<p class="toning-box3__subject">프락셀 – 장비와 정품팁을 사용하는 병원 인증</p>
					</li>
					<li class="toning-box3__item">
						<div class="toning-box3__img2">
							<img src="../../images/whitening/toning/toning_medal4.png" class="img-responsive" alt="엘레간 – 정품 사용 병원 인증">
						</div>
						<p class="toning-box3__subject">엘레간 – 정품 사용 병원 인증</p>
					</li>
				</ul>
			</div>
			<!-- //toning-box3-->
			<div class="toning-box3 box-style1 type-pb0 type-another2">
				<h2 class="toning-box3__tit">
					<span class="color-toning1">학계와 언론에서 인정받는</span><br>
					바노바기 피부과
				</h2>
				<p class="toning-box3__txt txt-v1">
					바노바기 피부과 의료진은 권위 있는 학회와 국내외 심포지엄, 세미나 등에 수시로 초대 받아<br class="hidden-tm">
					각종시술 케이스에 대한 노하우를 발표하고 교육하면서 전문성과 우수성을 널리 인정받고 있습니다.
				</p>
				<div class="toning-box3__img">
					<img src="../../images/whitening/toning/toning_img4.jpg" alt="피부과 의료진" class="img-responsive">
				</div>
			</div>
			<!--//toning-box3-->
			<div class="toning-box3 box-style1 type-another type-bg">
				<h2 class="toning-box3__tit">
					<span class="color-toning1">Beyond Beauty</span> 바노바기
				</h2>
				<p class="toning-box3__txt txt-v1">
					바노바기 피부과는 안전한 시술과 보다 만족스러운 결과를 위해 한 분 한 분, 정성스럽게 치료합니다.<br class="hidden-tm">
					아름다움, 그 이상의 가치를 드리기 위해 모든 의료진이 최선을 다하고 있으며<br class="hidden-tm">
					고객님들의 평생 피부 건강을 책임지는 피부 주치의가 되고자 합니다.
				</p>
				<div class="toning-box3__img">
					<img src="../../images/whitening/toning/toning_img5.jpg" alt="피부과 의료진" class="img-responsive">
				</div>
			</div>
			<!-- //toning-box3-->
		</div>
		<% include ../_include/_bfaf %>
	</div>
</div><!-- //container-->
<% include ../_include/_footer %>
