<%
	type = "content"
	page = "whitening"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="container__wrap">
		<div class="content-visual type-therapy">
			<div class="content-visual__box type-left">
				<div class="content-visual__wrap">
					<h2 class="content-visual__tit">
						바노바기 미백 브라이트닝
						<span class="content-visual__tit-point">올인원<span class="inline-block">테라피</span></span>
					</h2>
					<p class="content-visual__txt1">
						맑고 투명한 피부를 만드는 바노바기의<br class="hidden-m">
						스페셜 1-day 프로그램!
					</p>
					<p class="content-visual__point">POINT</p>
					<p class="content-visual__txt2">
						다양한 피부 트러블을 종합적으로 치료하기위해<br class="hidden-tm">
						적절한 레이저 시술을 배치하는 안전하고 만족도 높은<br class="hidden-tm">
						시술입니다.
					</p>
				</div>
			</div>
			<div class="content-visual__box type-right">
				<div class="content-visual__img">성인여드름 이미지</div>
			</div>
			<div class="content-visual__box type-left type-another">
				<div class="content-visual__table">
					<h3 class="content-visual__subject">올인원테라피 핵심 포인트</h3>
				</div>
			</div>
			<div class="content-visual__box type-right type-another">
				<ul class="content-table">
					<li class="content-table__item">
						<div class="content-table__tr">
							<div class="content-table__th">복합치료</div>
							<div class="content-table__td">8가지 레이저 시술을 하루에 진행하여 치료 효과를 높임</div>
						</div>
					</li>
					<li class="content-table__item">
						<div class="content-table__tr">
							<div class="content-table__th">개인 맞춤형</div>
							<div class="content-table__td">환자에 대한 철저한 분석을 바탕으로 프로그램을 유동적으로 적용</div>
						</div>
					</li>
					<li class="content-table__item">
						<div class="content-table__tr">
							<div class="content-table__th">안전하고 간편함</div>
							<div class="content-table__td">멍, 부기, 통증 등의 부작용이 거의 없는 안전한 시술</div>
						</div>
					</li>
				</ul>
				<!-- //content-table-->
			</div>
		</div>
		<!-- //content-visual-->
		<div class="content-seciton">
			<div class="therapy-box1">
				<div class="content-top type-therapy">
					<p class="content-top__subtit subtit-v1">8가지 레이저 시술을 하루에 모두 받는 스페셜 프로그램</p>
					<h2 class="content-top__tit tit-v1">바노바기  <span class="color-therapy1">올인원테라피</span></h2>
					<p class="content-top__txt txt-v1">
						올인원테라피는 퍼즐을 마추듯이 문제가 있는 곳에 적절한 레이저 시술을 배치하는<br class="hidden-tm">
						독특한 시술 방법이자, 안전하면서도 만족도가 높은 시술입니다.
					</p>
				</div>
				<!-- //content-top-->
			</div><!-- //therapy-box1 -->
			<div class="therapy-box2 box-style1">
				<h2 class="therapy-box2__tit tit-v1">올인원테라피 <span class="color-therapy1">시술과정</span></h2>
				<ul class="therapy-box2__list">
					<li class="therapy-box2__item">
						<div class="therapy-box2__img">
							<img src="../../images/whitening/therapy/therapy_surgery1.png" alt="연고마취" class="img-responsive">
						</div>
						<h3 class="therapy-box2__subject">STEP 01</h3>
						<p class="therapy-box2__txt">연고마취</p>
					</li>
					<li class="therapy-box2__item">
						<div class="therapy-box2__img">
							<img src="../../images/whitening/therapy/therapy_surgery2.png" alt="I2PL레이저" class="img-responsive">
						</div>
						<h3 class="therapy-box2__subject">STEP 02</h3>
						<p class="therapy-box2__txt">I2PL레이저</p>
					</li>
					<li class="therapy-box2__item">
						<div class="therapy-box2__img">
							<img src="../../images/whitening/therapy/therapy_surgery3.png" alt="젠틀맥스레이저" class="img-responsive">
						</div>
						<h3 class="therapy-box2__subject">STEP 03</h3>
						<p class="therapy-box2__txt">젠틀맥스레이저</p>
					</li>
					<li class="therapy-box2__item">
						<div class="therapy-box2__img">
							<img src="../../images/whitening/therapy/therapy_surgery4.png" alt="Co2레이저" class="img-responsive">
						</div>
						<h3 class="therapy-box2__subject">STEP 04</h3>
						<p class="therapy-box2__txt">Co2레이저</p>
					</li>
					<li class="therapy-box2__item">
						<div class="therapy-box2__img">
							<img src="../../images/whitening/therapy/therapy_surgery5.png" alt="Ruby레이저" class="img-responsive">
						</div>
						<h3 class="therapy-box2__subject">STEP 05</h3>
						<p class="therapy-box2__txt">Ruby레이저</p>
					</li>
					<li class="therapy-box2__item">
						<div class="therapy-box2__img">
							<img src="../../images/whitening/therapy/therapy_surgery6.png" alt="Sellas레이저" class="img-responsive">
						</div>
						<h3 class="therapy-box2__subject">STEP 06</h3>
						<p class="therapy-box2__txt">Sellas레이저</p>
					</li>
					<!-- <li class="therapy-box2__item">
						<div class="therapy-box2__img">
							<img src="../../images/whitening/therapy/therapy_surgery7.png" alt="파스텔토닝" class="img-responsive">
						</div>
						<h3 class="therapy-box2__subject">STEP 07</h3>
						<p class="therapy-box2__txt">파스텔토닝</p>
					</li> -->
					<li class="therapy-box2__item">
						<div class="therapy-box2__img">
							<img src="../../images/whitening/therapy/therapy_surgery8.png" alt="뉴브이빔레이저" class="img-responsive">
						</div>
						<h3 class="therapy-box2__subject">STEP 07</h3>
						<p class="therapy-box2__txt">뉴브이빔레이저</p>
					</li>
					<li class="therapy-box2__item">
						<div class="therapy-box2__img">
							<img src="../../images/whitening/therapy/therapy_surgery9.png" alt="어붐야그레이저" class="img-responsive">
						</div>
						<h3 class="therapy-box2__subject">STEP 08</h3>
						<p class="therapy-box2__txt">어붐야그레이저</p>
					</li>
					<li class="therapy-box2__item">
						<div class="therapy-box2__img">
							<img src="../../images/whitening/therapy/therapy_surgery10.png" alt="진정 마스크" class="img-responsive">
						</div>
						<h3 class="therapy-box2__subject">STEP 9</h3>
						<p class="therapy-box2__txt">진정 마스크</p>
					</li>
				</ul>
				<p class="therapy-box2__noti">※ 개인에 따라 시술 내용 및 과정이 달라질 수 있습니다.</p>
			</div>
			<!-- //therapy-box2 -->
			<div class="therapy-box3 box-style1 type-pb0">
				<p class="therapy-box3__subtit subtit-v1">
					세밀한 진단이 <span class="color-therapy1">만족스러운 시술 결과</span>를 만듭니다.
				</p>
				<h3 class="therapy-box3__tit tit-v1 type-bar">더마비전 (DermaVision)</h3>
				<p class="therapy-box3__txt txt-v1">
					더마비전은 디지털 카메라를 통해 환자의 피부 상태를  면밀하게 분석하는 피부 정밀검사 기기입니다.<br class="hidden-tm">
					바노바기는 더마비전을 통해 환자의 상태를 진단하고, 증상에 따른 적절한 치료를 맞춤식으로 진행합니다.
				</p>
				<div class="therapy-box3__img">
					더마비전 이미지
				</div>
			</div>
			<div class="content-line type-therapy">
				<div class="vertical">
					분석영역 : 기미, 주근깨, 잡티, 색소침착, 여드름, 홍조, 주름 및 표피면, 피부 미백, 수분 및 모공의 상태 등
				</div>
			</div>
			<div class="equipment box-style1 type-therapy">
				<p class="equipment__subtit subtit-v1">아름다움의 완성은 깨끗한 피부!</p>
				<h2 class="equipment__tit tit-v1">올인원 테라피 <span class="color-therapy1">주요장비</span></h2>
				<ul class="equipment__list">
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<img src="../../images/pore/allpore/allpore_eq1.jpg" alt="I2PL 레이저" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">I2PL 레이저</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<img src="../../images/pore/allpore/allpore_eq2.jpg" alt="젠틀맥스 레이저" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">젠틀맥스 레이저</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<img src="../../images/pore/allpore/allpore_eq3.jpg" alt="CO2 레이저" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">CO2 레이저</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<img src="../../images/pore/allpore/allpore_eq4.jpg" alt="Ruby 레이저" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">Ruby 레이저</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<img src="../../images/pore/allpore/allpore_eq5.jpg" alt="Sellas 레이저" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">Sellas 레이저</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<img src="../../images/pore/allpore/allpore_eq6.jpg" alt="파스텔 토닝" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">파스텔 토닝</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<img src="../../images/pore/allpore/allpore_eq7.jpg" alt="뉴브이빔 레이저" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">뉴브이빔 레이저</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item">
						<div class="equipment__border">
							<div class="equipment__img">
								<img src="../../images/pore/allpore/allpore_eq8.jpg" alt="어븀 야그 레이저" class="img-responsive">
							</div>
							<div class="equipment__wrap">
								<div class="vertical">
									<h3 class="equipment__name">어븀 야그 레이저</h3>
									<a href="" class="equipment__btn btn1">자세히보기</a>
								</div>
							</div>
						</div>
					</li>
					<li class="equipment__item type-logo">
						<div class="equipment__border">
							<div class="equipment__img">
								blank
							</div>
							<div class="equipment__wrap">
								blank
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- //equipment -->
			<div class="hexa-box box-style1 type-therapy">
				<p class="hexa-box__subtit">SKIN BANOBAGI</p>
				<h2 class="hexa-box__tit tit-v1">바노바기 피부과의 <span class="color-therapy1">특별함</span></h2>
				<div class="hexa-box__box">
					<div class="hexa-box__hexa">
						<div class="vertical">
							<h3 class="hexa-box__subject">
								<span class="color-therapy1">바노바기</span>
								<div class="inline-block">피부과 진료</div>
							</h3>
						</div>
						<ul class="hexa-box__list">
							<li class="hexa-box__item nth-1">
								풍부한 임상경험과 노하우
							</li>
							<li class="hexa-box__item nth-2">
								신형 의료 시설 및 시스템
							</li>
							<li class="hexa-box__item nth-3">
								고도의 시술 테크닉을 갖춘 전문 의료진
							</li>
							<li class="hexa-box__item nth-4">
								환자를 먼저 생각하는 바노바기의 진료 철학
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="bubble-box box-style1 type-therapy">
				<h2 class="bubble-box__tit tit-v1"><strong class="color-therapy1">끊임없이</strong> 노력하는 바노바기</h2>
				<p class="bubble-box__subtit subtit-v1">
					바노바기는 심포지엄 강의, 세미나 발표, 시술 공개 시연 등 다양한 학술, 학회 활동을 통해<br class="hidden-tm">
					피부 관리에 대한 <strong class="color-white">높은 전문성과 시술 테크닉의 우수성</strong>을 널리 인정받았습니다.
				</p>
				<ul class="bubble-box__list">
					<li class="bubble-box__item type-img nth-1">
						2008년 아시아 항노화학회 후 대만 CCTV 인터뷰 이미지
					</li>
					<li class="bubble-box__item type-txt">
						<div class="vertical">2008년 아시아 항노화학회 후 대만 CCTV 인터뷰 (타이베이, 대만)</div>
					</li>
					<li class="bubble-box__item type-img nth-2 type-right">
						2011년 제 3차 국제 미세침습성형외과 학회 (MIPS) 라이브 워크샵 강의 (상해, 중국) 이미지
					</li>
					<li class="bubble-box__item type-txt type-another">
						<div class="vertical">2011년 제 3차 국제 미세침습성형외과 학회 (MIPS) 라이브 워크샵 강의 (상해, 중국)</div>
					</li>
					<li class="bubble-box__item type-img nth-3">
						제 14회 대한피부과의사회 추계 심포지언 강의 이미지
					</li>
					<li class="bubble-box__item type-txt">
						<div class="vertical">제 14회 대한피부과의사회 추계 심포지언 강의</div>
					</li>
					<li class="bubble-box__item type-img nth-4 type-right">
						중국과 한국 여성 얼굴형의 비교 2014년 중국 광동 제 2인민병원 필러 강의와 라이브 시연 이미지
					</li>
					<li class="bubble-box__item type-txt type-another">
						<div class="vertical">중국과 한국 여성 얼굴형의 비교 2014년 중국 광동 제 2인민병원 필러 강의와 라이브 시연</div>
					</li>
					<li class="bubble-box__item type-img nth-5">
						제 4회 APAS (쁘띠성형학회) 심포지엄 필러 시술 강의 이미지
					</li>
					<li class="bubble-box__item type-txt">
						<div class="vertical">제 4회 APAS (쁘띠성형학회) 심포지엄 필러 시술 강의</div>
					</li>
					<li class="bubble-box__item type-img nth-6 type-right">
						제 14회 대한피부과의사회 추계 심포지언 강의 이미지
					</li>
					<li class="bubble-box__item type-txt type-another">
						<div class="vertical">제 14회 대한피부과의사회 추계 심포지언 강의</div>
					</li>
				</ul>
			</div>
		</div>
		<% include ../_include/_bfaf %>
	</div>
</div><!-- //container-->
<% include ../_include/_footer %>
