<%
	type = "content"
	page = "whitening"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="container__wrap">
		<div class="content-visual type-water">
			<div class="content-visual__box type-left">
				<div class="content-visual__wrap">
					<h2 class="content-visual__tit">
						바노바기 미백 브라이트닝
						<span class="content-visual__tit-point">물광치료<span class="inline-block">시스템</span></span>
					</h2>
					<p class="content-visual__txt1">
						동안 피부의 절대 조건은 촉촉한 보습력과<br class="hidden-tm">
						탱탱한 피부 탄력!
					</p>
					<p class="content-visual__point">POINT</p>
					<p class="content-visual__txt2">
						피부 본연의 아름다움을 되살리기 위해 물광PRP / 물광DNA<br class="hidden-tm">
						/ 물광주사로 시술하는 치료법 입니다.
					</p>
				</div>
			</div>
			<div class="content-visual__box type-right">
				<div class="content-visual__img">물광치료 시스템 이미지</div>
			</div>
		</div>
		<!-- //content-visual-->
		<div class="content-seciton">
			<div class="water-box1">
				<div class="content-top type-water">
					<p class="content-top__subtit subtit-v1">물기를 머금은 듯 촉촉하고 반짝이는 물광 피부</p>
					<h2 class="content-top__tit tit-v1">바노바기  <span class="color-water1">물광치료</span></h2>
					<p class="content-top__txt txt-v1">
						바노바기 피부과는 보습 · 피부 재생 · 안티에이징 · 리프팅 · 미백 및 색소 질환 치료 등<br class="hidden-tm">
						물광 치료의 다양한 효과를 통해, 물기를 머금은 듯 촉촉하고 반짝이는 물광 피부를 만들어드립니다.
					</p>
				</div>
				<!-- //content-top-->
			</div><!-- //water-box1 -->
			<div class="water-box2 box-style1 type-pb0">
				<p class="water-box2__subtit">HYALURONIC ACID</p>
				<h2 class="water-box2__tit tit-v1">피부 나이를 결정하는 <span class="color-water1">히알루론산</span></h2>
				<p class="water-box2__txt txt-v1">
					피부의 진피층을 구성하는 주요 성분이자, 1997년 미국 FDA의 승인을 받은 생체적합성 고분자 물질입니다.<br class="hidden-tm">
					나이가 들면서 피부 내 히알루론산의 양이 감소함에 따라 피부 볼륨감이 점점 줄어들게됩니다.<br class="hidden-tm">
					평균적으로 18~20세의 피부 볼륨감이 가장 높으며, 이후로 서서히 줄어들다가 40~50세 이후부터 급격히 감소합니다.
				</p>
				<div class="water-box2__box">
					<ul class="water-box2__list">
						<li class="water-box2__item nth-1">
							<p class="water-box2__subject">청년기</p>
						</li>
						<li class="water-box2__item nth-2">
							<p class="water-box2__subject">중년기</p>
						</li>
						<li class="water-box2__item nth-3">
							<p class="water-box2__subject">노년기</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="water-box3 box-style1">
				<h2 class="water-box3__tit">히알루론산의 기능</h2>
				<ul class="water-box3__list">
					<li class="water-box3__item">
						<div class="water-box3__box">
							<div class="water-box3__img">
								<img src="../../images/whitening/water/water_function1.png" alt="수분공급" class="img-responsive">
							</div>
							<h3 class="water-box3__subject">수분 공급</h3>
							<p class="water-box3__txt txt-v1">
								HA 분자 하나당 218개의 물 분자를
								끌어들이는수분 흡수 및 보습
								작용으로 피부 건조를 막아줍니다.
							</p>
						</div>
					</li>
					<li class="water-box3__item">
						<div class="water-box3__box">
							<div class="water-box3__img">
								<img src="../../images/whitening/water/water_function2.png" alt="볼륨감 증대" class="img-responsive">
							</div>
							<h3 class="water-box3__subject">볼륨감 증대</h3>
							<p class="water-box3__txt txt-v1">
								히알루론산이 주입된 깊이에 따라,
								진피 및 피하지방층의
								볼륨감을 높여줍니다.
							</p>
						</div>
					</li>
					<li class="water-box3__item">
						<div class="water-box3__box">
							<div class="water-box3__img">
								<img src="../../images/whitening/water/water_function3.png" alt="피부 탄력 강화" class="img-responsive">
							</div>
							<h3 class="water-box3__subject">피부 탄력 강화</h3>
							<p class="water-box3__txt txt-v1">
								시술 부위의 섬유아세포를
								자극하여 콜라겐 및 탄력섬유의
								생성을 증가시킵니다.
							</p>
						</div>
					</li>
					<li class="water-box3__item">
						<div class="water-box3__box">
							<div class="water-box3__img">
								<img src="../../images/whitening/water/water_function4.png" alt="항산화 작용" class="img-responsive">
							</div>
							<h3 class="water-box3__subject">항산화 작용</h3>
							<p class="water-box3__txt txt-v1">
								자외선에 의해 유발된 산화 물질을
								개선하는 항산화 작용을
								합니다.
							</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="water-box4 box-style1 type-pb0">
				<p class="water-box4__subtit">시술 시간 단축 / 통증 완화 / 세밀한 약물 주입</p>
				<h2 class="water-box4__tit tit-v1">
					물광 PRP의 핵심기기<br>
					<span class="color-water1">더마샤인</span>
				</h2>
				<p class="water-box4__txt txt-v1">
					물광치료 시술 시 손으로 직접 주사하는 것도 좋은 방법이지만,<br>
					더마샤인을 이용할 경우 시술의 효과를 더욱 높일 수 있습니다.
				</p>
				<div class="water-box4__img">
					더마샤인 이미지
				</div>
			</div>
			<div class="tab-v1">
				<ul class="tab-v1__list">
					<li class="tab-v1__item is-active"><a href="tab-content1" class="tab-v1__link" da>물광 PRP</a></li>
					<li class="tab-v1__item"><a href="tab-content2" class="tab-v1__link">물광 DNA</a></li>
					<li class="tab-v1__item"><a href="tab-content3" class="tab-v1__link">물광주사</a></li>
				</ul>
			</div>
			<div class="tab-content tab-content1 is-active">
				<div class="water-tab2 tab-style1">
					<h2 class="water-tab2__tit tit-tab">근본적인 피부 재생술 <span class="color-water1">물광PRP</span></h2>
					<p class="water-tab2__txt txt-v1">
						혈액을 고속 회전시키면 혈장, 혈소판, 적혈구로 분리되는데 이러한 원심분리<br class="hidden-tm">
						방식으로 얻어낸 혈소판을 PRP라고 합니다. 각종 성장인자가 풍부하게 함유되어 있는 PRP와 히알루론산을 이용하여,<br class="hidden-tm">
						다양한 피부 증상들을 근본적으로 개선하는 시술이 바노바기의 물광PRP입니다.
					</p>
					<ul class="water-tab2__list">
						<li class="water-tab2__item">
							<div class="water-tab2__border">
								<div class="water-tab2__img">
									<img src="../../images/whitening/water/water_prp1.jpg" alt="PRP" class="img-responsive">
								</div>
							</div>
							<p class="water-tab2__subject">PRP</p>
						</li>
						<li class="water-tab2__item">
							<div class="water-tab2__border">
								<div class="water-tab2__img">
									<img src="../../images/whitening/water/water_prp2.jpg" alt="히알루론산" class="img-responsive">
								</div>
							</div>
							<p class="water-tab2__subject">히알루론산</p>
						</li>
						<li class="water-tab2__item type-total">
							<div class="water-tab2__border">
								<div class="water-tab2__img">
									<img src="../../images/whitening/water/water_prp3.jpg" alt="물광 PRP" class="img-responsive">
								</div>
							</div>
							<p class="water-tab2__subject">물광 PRP</p>
						</li>
					</ul>
				</div>
				<!-- //water-tab2 -->
				<div class="img-list8 tab-style1 type-water">
					<h2 class="img-list8__tit tit-tab">물광PRP가 <span class="color-water1">필요한 분들</span></h2>
					<ul class="img-list8__list">
						<li class="img-list8__item">
							<div class="img-list8__img">
								<img src="../../images/whitening/water/water_circle1.png" alt="피부가 건조한 편이라 쉽게 푸석푸석해지시는 분" class="img-responsive">
							</div>
							<p class="img-list8__txt">
								피부가 건조한 편이라 <span class="inline-block">쉽게 푸석푸석해지시는 분</span>
							</p>
						</li>
						<li class="img-list8__item">
							<div class="img-list8__img">
								<img src="../../images/whitening/water/water_circle2.png" alt="피부가 칙칙하고 톤이 어두우신 분" class="img-responsive">
							</div>
							<p class="img-list8__txt">
								피부가 칙칙하고 톤이 <span class="inline-block">어두우신 분</span>
							</p>
						</li>
						<li class="img-list8__item">
							<div class="img-list8__img">
								<img src="../../images/whitening/water/water_circle3.png" alt="피부재생이 잘 되지않고 모공이 넓으신 분" class="img-responsive">
							</div>
							<p class="img-list8__txt">
								피부재생이 잘 되지않고 <span class="inline-block">모공이 넓으신 분</span>
							</p>
						</li>
						<li class="img-list8__item">
							<div class="img-list8__img">
								<img src="../../images/whitening/water/water_circle4.png" alt="잔주름과 탄력부족으로인해 고민이신 분" class="img-responsive">
							</div>
							<p class="img-list8__txt">
								잔주름과 탄력부족으로인해 <span class="inline-block">고민이신 분</span>
							</p>
						</li>
						<li class="img-list8__item">
							<div class="img-list8__img">
								<img src="../../images/whitening/water/water_circle5.png" alt="깨끗하고 매끄러운 동안피부를 원하시는 분" class="img-responsive">
							</div>
							<p class="img-list8__txt">
								깨끗하고 매끄러운 동안피부를 <span class="inline-block">원하시는 분</span>
							</p>
						</li>
						<li class="img-list8__item">
							<div class="img-list8__img">
								<img src="../../images/whitening/water/water_circle6.png" alt="피부가 민감해서 레이저 시술이 두려우신 분" class="img-responsive">
							</div>
							<p class="img-list8__txt">
								피부가 민감해서 레이저 <span class="inline-block">시술이 두려우신 분</span>
							</p>
						</li>
					</ul>
					<p class="img-list8__noti txt-v1">
						※ 모든 레이저 시술 후 물광 PRP를 병용하실 경우, 물광 PRP의 탁월한 피부 재생, 진정<br class="hidden-tm">
 						보습 효과를 통해 레이저 시술의 효과를 더욱 극대화할 수 있습니다.
					</p>
				</div>
				<!-- //img-list8-->
				<div class="hexa-box tab-style1 type-water type-another">
					<p class="hexa-box__subtit">SKIN BANOBAGI</p>
					<h2 class="hexa-box__tit tit-tab">물광PRP의 <span class="color-therapy1">다양한 시술 효과</span></h2>
					<div class="hexa-box__box">
						<div class="hexa-box__hexa">
							<div class="vertical">
								<h3 class="hexa-box__subject">
									<div class="inline-block">물광PRP</div>
								</h3>
							</div>
							<ul class="hexa-box__list">
								<li class="hexa-box__item nth-1">
									콜라겐과 엘라스틴 재생을 통한 탄력 강화
								</li>
								<li class="hexa-box__item nth-2">
									기미, 주근깨, 색소침착 검버섯 등 색소질환 치료
								</li>
								<li class="hexa-box__item nth-3">
									여드름 치료 및 여드름 자국 여드름 흉터 개선
								</li>
								<li class="hexa-box__item nth-4">
									피부톤 개선, 모공축소 튼살 개선, 다크서클 완화
								</li>
								<li class="hexa-box__item nth-5">
									이마, 눈가, 입가, 목. 팔자주름 개선
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="water-tab3 tab-style1">
					<h2 class="water-tab3__tit tit-tab"><span class="color-water1">PRP Cell Research</span> 학회 증명서</h2>
					<ul class="water-tab3__list">
						<li class="water-tab3__item">
							<div class="water-tab3__img">
								<img src="../../images/whitening/water/water_medal1.jpg" alt="피부과 전문의 전희대 원장">
							</div>
							<p class="water-tab3__txt">피부과 전문의 전희대 원장</p>
						</li>
						<li class="water-tab3__item">
							<div class="water-tab3__img">
								<img src="../../images/whitening/water/water_medal2.jpg" alt="피부과 전문의 반재용 원장">
							</div>
							<p class="water-tab3__txt">피부과 전문의 반재용 원장</p>
						</li>
					</ul>
				</div>
				<div class="content-step type-water">
					<div class="content-step__box">
						<h2 class="content-step__tit">물광PRP <span class="color-water1">시술과정</span></h2>
						<ul class="content-step__list">
							<li class="content-step__item">
								<div class="content-step__img">
									<img src="../../images/whitening/water/water_step1.jpg" alt="step1 - 환자에게서 10~20ml의 혈액을 추출" class="img-responsive">
								</div>
								<div class="content-step__wrap">
									<div class="vertical clear-t">
										<h3 class="tit-v2">STEP 01</h3>
										<p class="txt-v2">환자에게서 10~20ml의 혈액을 추출</p>
									</div>
								</div>
							</li>
							<!-- //content-step__item -->
							<li class="content-step__item">
								<div class="content-step__img">
									<img src="../../images/whitening/water/water_step2.jpg" alt="step2 - 특수 원심 분리기를 이용하여 2번에 걸쳐 혈소판을 분리" class="img-responsive">
								</div>
								<div class="content-step__wrap">
									<div class="vertical clear-t">
										<h3 class="tit-v2">STEP 02</h3>
										<p class="txt-v2">특수 원심 분리기를 이용하여 2번에 걸쳐 혈소판을 분리</p>
									</div>
								</div>
							</li>
							<!-- //content-step__item -->
							<li class="content-step__item">
								<div class="content-step__img">
									<img src="../../images/whitening/water/water_step3.jpg" alt="step3 - 물광PRP는 더마샤인 단독 시술로 진행" class="img-responsive">
								</div>
								<div class="content-step__wrap">
									<div class="vertical clear-t">
										<h3 class="tit-v2">STEP 03</h3>
										<p class="txt-v2">물광PRP는 더마샤인 단독 시술로 진행</p>
									</div>
								</div>
							</li>
							<!-- //content-step__item -->
							<li class="content-step__item">
								<div class="content-step__img">
									<img src="../../images/whitening/water/water_step4.jpg" alt="step4 - 이온자임" class="img-responsive">
								</div>
								<div class="content-step__wrap">
									<div class="vertical clear-t">
										<h3 class="tit-v2">STEP 04</h3>
										<p class="txt-v2">이온자임</p>
									</div>
								</div>
							</li>
							<!-- //content-step__item -->
							<li class="content-step__item">
								<div class="content-step__img">
									<img src="../../images/whitening/water/water_step5.jpg" alt="step5 - 마스크 팩" class="img-responsive">
								</div>
								<div class="content-step__wrap">
									<div class="vertical clear-t">
										<h3 class="tit-v2">STEP 05</h3>
										<p class="txt-v2">마스크 팩</p>
									</div>
								</div>
							</li>
							<!-- //content-step__item -->
							<li class="content-step__item">
								<div class="content-step__img">
									<img src="../../images/whitening/water/water_step6.jpg" alt="step6 - 진정재생 레이저" class="img-responsive">
								</div>
								<div class="content-step__wrap">
									<div class="vertical clear-t">
										<h3 class="tit-v2">STEP 06</h3>
										<p class="txt-v2">진정재생 레이저</p>
									</div>
								</div>
							</li>
							<!-- //content-step__item -->
						</ul>
					</div>
				</div>
				<!-- //content-step-->
				<div class="circle-style type-water">
					<h2 class="circle-style__subject tit-tab">물광PRP의 <span class="color-water1">특징</span></h2>
					<ul class="circle-style__list">
						<li class="circle-style__item nth-1">
							<div class="circle-style__wrap">
								<h2 class="circle-style__tit">근본적인 치료</h2>
								<p class="circle-style__txt">근본적인 피부 재생을 유도하여 손상된 부위를 회복시킵니다.</p>
							</div>
						</li>
						<li class="circle-style__item nth-2">
							<div class="circle-style__wrap">
								<h2 class="circle-style__tit">더욱 정교하게</h2>
								<p class="circle-style__txt">본인의 혈액을 이용하므로 감염, 알레르기 반응이 없습니다.</p>
							</div>
						</li>
						<li class="circle-style__item nth-3">
							<div class="circle-style__wrap">
								<h2 class="circle-style__tit">다양한 효과</h2>
								<p class="circle-style__txt">다양한 피부 개선 효과를 통해 젊고 건강한 피부를 완성합니다.</p>
							</div>
						</li>
						<li class="circle-style__item nth-4">
							<div class="circle-style__wrap">
								<h2 class="circle-style__tit">오랜 지속기간</h2>
								<p class="circle-style__txt">피부 속부터 변화되는 치료 효과가 오랜 기간 지속됩니다.</p>
							</div>
						</li>
					</ul>
				</div>
				<!-- //circle-style -->
				<div class="content-info type-water">
					<div class="content-info__box type-subject">
						<div class="vertical clear-t">
							<h3 class="content-info__tit">
								물광PRP<br class="hidden-tm"> 치료 후 주의사항
							</h3>
						</div>
					</div>
					<div class="content-info__box type-list">
						<div class="vertical clear-t">
							<ul class="content-info__list">
								<li class="content-info__item txt-v1">시술 후 작열감과 가려움증이 나타날 수 있으나 2~3일 정도 지나면 자연스럽게 사라집니다.</li>
								<li class="content-info__item txt-v1">위의 증상이 나타날 경우 찬 수건으로 냉찜질을 하는 편이 좋습니다.</li>
								<li class="content-info__item txt-v1">시술 후 일주일간 사우나와 격렬한 운동은 삼가해야 합니다.</li>
								<li class="content-info__item txt-v1">시술 후 일주일간 금주, 금연을 해야 합니다.</li>
								<li class="content-info__item txt-v1">외출 시 자외선 차단제를 반드시 꼼꼼하게 발라야 합니다.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- // tab-content1 -->
			<div class="tab-content tab-content2">
				<div class="water-tab2 tab-style1">
					<h2 class="water-tab2__tit tit-tab">신개념 피부 힐링술 <span class="color-water1">물광DNA</span></h2>
					<p class="water-tab2__txt txt-v1">
						물광 DNA는 연어에서 추출한 DNA성분 (PN:Polynucleotide)과 히알루론산을 혼합 주사하는시술로<br class="hidden-tm">
						피부세포 재생을 활성화하여 젊고 건강한 피부로 회복시키는 새로운 개념의 피부 치료 방법입니다.
					</p>
					<ul class="water-tab2__list">
						<li class="water-tab2__item">
							<div class="water-tab2__border">
								<div class="water-tab2__img">
									<img src="../../images/whitening/water/water_dna1.jpg" class="img-responsive" alt="DNA">
								</div>
							</div>
							<p class="water-tab2__subject">DNA</p>
						</li>
						<li class="water-tab2__item">
							<div class="water-tab2__border">
								<div class="water-tab2__img">
									<img src="../../images/whitening/water/water_prp2.jpg" class="img-responsive" alt="히알루론산">
								</div>
							</div>
							<p class="water-tab2__subject">히알루론산</p>
						</li>
						<li class="water-tab2__item type-total">
							<div class="water-tab2__border">
								<div class="water-tab2__img">
									<img src="../../images/whitening/water/water_dna2.jpg" class="img-responsive" alt="물광 DNA">
								</div>
							</div>
							<p class="water-tab2__subject">물광 DNA</p>
						</li>
					</ul>
				</div>
				<!-- //water-tab2 -->
				<div class="img-list9 tab-style1 type-water">
					<h3 class="img-list9__tit tit-tab">바노바기 물광DNA <span class="color-water1">시술부위 </span></h3>
					<div class="img-list9__box">
						<ul class="img-list9__list">
							<li class="img-list9__item">
								<div class="img-list9__img">
									<img src="../../images/heal/ulthera/ulthera_area1.png" alt="얼굴 사진" class="img-responsive"><!-- pc용 -->
								</div>
								<h4 class="img-list9__subject">얼굴</h4>
								<p class="img-list9__txt">얼굴노화, 피부손상 개선 피부탄력 회복, 색소질환치료</p>
							</li>
							<li class="img-list9__item">
								<div class="img-list9__img">
									<img src="../../images/heal/ulthera/ulthera_area2.png" alt="목 사진" class="img-responsive"><!-- pc용 -->
								</div>
								<h4 class="img-list9__subject">목</h4>
								<p class="img-list9__txt">목주름 개선, 피부 탄력 회복</p>
							</li>
							<li class="img-list9__item">
								<div class="img-list9__img">
									<img src="../../images/heal/ulthera/ulthera_area3.png" alt="쇄골라인 사진" class="img-responsive"><!-- pc용 -->
								</div>
								<h4 class="img-list9__subject">쇄골라인</h4>
								<p class="img-list9__txt">쇄골라인의 피부 결 개선 잔주름 개선</p>
							</li>
							<li class="img-list9__item">
								<div class="img-list9__img">
									<img src="../../images/heal/ulthera/ulthera_area4.png" alt="손 사진" class="img-responsive"><!-- pc용 -->
								</div>
								<h4 class="img-list9__subject">손</h4>
								<p class="img-list9__txt">손등의 잔주름개선 </p>
							</li>
						</ul>
					</div>
					<p class="img-list9__noti txt-v1">1달 간격으로 3회 물광DNA 시술 시 최적의 피부재생 효과를 기대할 수 있습니다.</p>
				</div>
				<!-- //img-list9 -->
				<div class="comparison tab-style1 type-water">
					<h2 class="comparison__tit tit-tab">물광DNA의 <span class="color-water1">시술 후 변화</span></h2>
					<div class="comparison__wrap">
						<div class="comparison__box nth-1">
							<div class="comparison__hexagon">
								<p class="comparison__txt">피부 정상화</p>
							</div>
							<ol class="comparison__list">
								<li class="comparison__item"><span class="comparison__txt2">피부 볼륨 회복, 피부 보습 작용</span></li>
								<li class="comparison__item"><span class="comparison__txt2">색소질환 치료, 피부 미백 작용</span></li>
							</ol>
						</div>
						<div class="comparison__box nth-2">
							<div class="comparison__hexagon">
								<p class="comparison__txt">피부 탄력 회복</p>
							</div>
							<ol class="comparison__list">
								<li class="comparison__item"><span class="comparison__txt2">각종 주름 개선, 피부 처짐 개선</span></li>
								<li class="comparison__item"><span class="comparison__txt2">모공 축소 , 튼실 개선</span></li>
							</ol>
						</div>
					</div>
				</div>
				<!-- //comparison-->
				<div class="water-tab4 tab-style1">
					<h2 class="water-tab4__tit tit-tab">물광DNA <span class="color-water1">시술경과</span></h2>
					<ul class="water-tab4__list">
						<li class="water-tab4__item">
							<div class="water-tab4__img">
								<img src="../../images/whitening/water/water_surgical1.png" alt="시술후 1주일 경과" class="img-responsive">
							</div>
							<h3 class="water-tab4__subject">시술 후 1주일 경과</h3>
							<p class="water-tab4__txt txt-v1">
								피부 결 개선, 강력한 보습 효과<br class="hidden-tm">
								피부 유수분의 밸런스 조절 효과
							</p>
						</li>
						<li class="water-tab4__item">
							<div class="water-tab4__img">
								<img src="../../images/whitening/water/water_surgical2.png" alt="시술 후 2~3주 경과" class="img-responsive">
							</div>
							<h3 class="water-tab4__subject">시술 후 2~3주 경과</h3>
							<p class="water-tab4__txt txt-v1">
								피부탄력 증가, 잔주름 개선<br class="hidden-tm">
								모공 축소 및 각질 개선 효과
							</p>
						</li>
						<li class="water-tab4__item">
							<div class="water-tab4__img">
								<img src="../../images/whitening/water/water_surgical3.png" alt="시술 후 한 달 경과" class="img-responsive">
							</div>
							<h3 class="water-tab4__subject">시술 후 한 달 경과</h3>
							<p class="water-tab4__txt txt-v1">
								탄력 증가로 인한 자연스러운 리프팅 효과<br class="hidden-tm">
								진피층이 두꺼워지면서 볼륨감 증대
							</p>
						</li>
					</ul>
				</div>
				<div class="circle-style type-water type-another">
					<h2 class="circle-style__subject tit-tab">물광DNA의 <span class="color-water1">특징</span></h2>
					<ul class="circle-style__list">
						<li class="circle-style__item nth-1">
							<div class="circle-style__wrap">
								<h2 class="circle-style__tit">근본적인 치료</h2>
								<p class="circle-style__txt">근본적인 피부 재생을 유도하여 손상된 부위를 회복시킵니다.</p>
							</div>
						</li>
						<li class="circle-style__item nth-2">
							<div class="circle-style__wrap">
								<h2 class="circle-style__tit">더욱 정교하게</h2>
								<p class="circle-style__txt">본인의 혈액을 이용하므로 감염, 알레르기 반응이 없습니다.</p>
							</div>
						</li>
						<li class="circle-style__item nth-3">
							<div class="circle-style__wrap">
								<h2 class="circle-style__tit">다양한 효과</h2>
								<p class="circle-style__txt">다양한 피부 개선 효과를 통해 젊고 건강한 피부를 완성합니다.</p>
							</div>
						</li>
						<li class="circle-style__item nth-4">
							<div class="circle-style__wrap">
								<h2 class="circle-style__tit">오랜 지속기간</h2>
								<p class="circle-style__txt">피부 속부터 변화되는 치료 효과가 오랜 기간 지속됩니다.</p>
							</div>
						</li>
					</ul>
				</div>
				<!-- //circle-style -->
				<div class="content-info type-water">
					<div class="content-info__box type-subject">
						<div class="vertical clear-t">
							<h3 class="content-info__tit">
								물광DNA의<br class="hidden-tm"> 안전성
							</h3>
						</div>
					</div>
					<div class="content-info__box type-list">
						<div class="vertical clear-t">
							<ul class="content-info__list">
								<li class="content-info__item txt-v1">물광DNA는 인체의 염기조성과 가장 유사한 연어에게서 추출한 DNA를 사용합니다.</li>
								<li class="content-info__item txt-v1">열에 안정적이고 이물 작용이 나타나지 않으며, 단백질 이하의구조로 면역 반응이 거의 없습니다.</li>
								<li class="content-info__item txt-v1">생물학적 실험을 통해 우수성과 안전성을 입증한 시술입니다.</li>
								<li class="content-info__item txt-v1">과증식 없이 피부 조직을 정상화하고 피부 구조를 복원합니다.</li>
								<li class="content-info__item txt-v1">회복 과정이 매우 짧아 시술 후 빠른 일상 복귀가 가능합니다.  </li>
							</ul>
						</div>
					</div>
				</div>
				<div class="content-line2">
					<div class="vertical">물광DNA는 생체 적합 물질인 DNA를 사용하므로, 별도의 시술 후 관리가 필요 없습니다. </div>
				</div>
			</div>
			<div class="tab-content tab-content3">
				<div class="water-tab1 tab-style1">
					<h2 class="water-tab1__tit tit-tab">피부 보습력을 강화하는 <span class="color-water1">물광주사</span></h2>
					<p class="water-tab1__txt txt-v1">피부에 히알루론산을 직접 주입하여 노화의 원인을 해소함으로써, 젊고 건강한<br class="hidden-tm"> 피부를 만들어 드리는 안전하고 간편한 주사시술입니다.</p>
					<ul class="water-tab1__list">
						<li class="water-tab1__item">
							<div class="water-tab1__wrap">
								<span class="water-tab1__plus"><span>plus</span></span>
								<div class="water-tab1__box">시술 할 때 통증이 거의 없습니다.</div>
							</div>
						</li>
						<li class="water-tab1__item">
							<div class="water-tab1__wrap">
								<span class="water-tab1__plus"><span>plus</span></span>
								<div class="water-tab1__box">피부에 남는 자국도 거의 없습니다.</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="hexa-box tab-style1 type-water">
					<p class="hexa-box__subtit">SKIN BANOBAGI</p>
					<h2 class="hexa-box__tit tit-tab">물광주사의 <span class="color-therapy1">시술효과</span></h2>
					<div class="hexa-box__box">
						<div class="hexa-box__hexa">
							<div class="vertical">
								<h3 class="hexa-box__subject">
									<div class="inline-block">물광주사</div>
								</h3>
							</div>
							<ul class="hexa-box__list">
								<li class="hexa-box__item nth-1">
									리프팅 효과, 피부탄력 강화
								</li>
								<li class="hexa-box__item nth-2">
									피부 미백 효과
								</li>
								<li class="hexa-box__item nth-3">
									잔주름 개선
								</li>
								<li class="hexa-box__item nth-4">
									피부 결 정돈
								</li>
								<li class="hexa-box__item nth-5">
									강력한 보습 작용
								</li>
								<li class="hexa-box__item nth-6">
									각질 개선
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="content-faq type-water">
					<div class="content-faq__box">
						<div class="content-faq__border">
							<p class="content-faq__txt">바노바기 꿀팁!</p>
							<h2 class="content-faq__tit">물광주사 FAQ</h2>
						</div>
					</div>
					<div class="content-faq__wrap box-style1">
						<ul class="content-faq__list">
							<!-- 질문 -->
							<li class="content-faq__item">
								<div class="talk type-1">
									<div class="talk__border">
										<h3 class="talk__tit">물광 주사 시술은 얼마나 안전한가요?</h3>
									</div>
								</div>
							</li>
							<!-- //질문 -->
							<!-- 답변 -->
							<li class="content-faq__item">
								<div class="talk type-2">
									<div class="talk__border">
										<p class="talk__txt">
											바노바기 피부과가 사용하는 히알루론산 제품은 관절에도 사용이 가능할 정도로 안정성을
											갖추고 있습니다. 얼굴에 주사했을 때 약물이 뭉치지 않고 부드럽게 퍼져 시술 후 멍울이나
											구진이 생기는 경우가 거의 없으므로 안심하셔도 됩니다.
										</p>
									</div>
								</div>
							</li>
							<!-- //답변 -->
							<!-- 질문 -->
							<li class="content-faq__item">
								<div class="talk type-1">
									<div class="talk__border">
										<h3 class="talk__tit">시술 효과는 언제쯤 나타나나요?</h3>
									</div>
								</div>
							</li>
							<!-- //질문 -->
							<!-- 답변 -->
							<li class="content-faq__item">
								<div class="talk type-2">
									<div class="talk__border">
										<p class="talk__txt">
											개인에 따라 차이가 있을 수 있으나, 보통 일주일 후에 효과를 느낄 수 있습니다. 지속기간은
											3개월 정도 예상하나 개인차가 있습니다. 물광DNA 또는 물광PRP 시술의 경우 지속기간이
											더 길어집니다. (물광DNA:6개월 / 물광PRP:1년)
										</p>
									</div>
								</div>
							</li>
							<!-- //답변 -->
							<!-- 질문 -->
							<li class="content-faq__item">
								<div class="talk type-1">
									<div class="talk__border">
										<h3 class="talk__tit">몇 회 정도 시술받아야 하나요?</h3>
									</div>
								</div>
							</li>
							<!-- //질문 -->
							<!-- 답변 -->
							<li class="content-faq__item">
								<div class="talk type-2">
									<div class="talk__border">
										<p class="talk__txt">
											한 달 간격으로 3회 정도 시술받는 것이 좋습니다. 그 후에는 1년에 한 두번 정도 시술 받는 것을 권유해드립니다.
										</p>
									</div>
								</div>
							</li>
							<!-- //답변 -->
							<!-- 질문 -->
							<li class="content-faq__item">
								<div class="talk type-1">
									<div class="talk__border">
										<h3 class="talk__tit">시술 시 통증은 어떠한가요?</h3>
									</div>
								</div>
							</li>
							<!-- //질문 -->
							<!-- 답변 -->
							<li class="content-faq__item">
								<div class="talk type-2">
									<div class="talk__border">
										<p class="talk__txt">
											간단한 연고 마취 후 진행하며 통증을 거의 느끼지 못합니다.
										</p>
									</div>
								</div>
							</li>
							<!-- //답변 -->
						</ul>
					</div>
				</div>
				<!-- //content-faq -->
				<div class="content-info type-water">
					<div class="content-info__box type-subject">
						<div class="vertical clear-t">
							<h3 class="content-info__tit">
								물광주사<br class="hidden-tm"> 시술 후 관리
							</h3>
						</div>
					</div>
					<div class="content-info__box type-list">
						<div class="vertical clear-t">
							<ul class="content-info__list">
								<li class="content-info__item txt-v1">홍반, 부기, 멍 등의 부작용이 거의 없으며, 혹시 발생하더라도 2~3일 내에 자연스럽게 사라집니다.</li>
								<li class="content-info__item txt-v1">시술 후 가벼운 세안과 화장은 가능합니다.</li>
								<li class="content-info__item txt-v1">사우나, 심한 운동 등 몸에 열을 내는 활동들은 3~5일 정도 피해주시기 바랍니다.</li>
								<li class="content-info__item txt-v1">술이나 담배는 시술의 효과를 떨어뜨리므로, 3주간 중단해주시기 바랍니다.</li>
								<li class="content-info__item txt-v1">샤워나 세안 후 피부를 문지르지 마시고 두드려서 물기를 제거해주시기 바랍니다. </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% include ../_include/_bfaf %>
	</div>
</div><!-- //container-->
<% include ../_include/_footer %>
