<%
	type = "detail"
	page = "whitening"
%>
<% include ../_include/_header %>
<div class="onepage type-another">
	<div class="content-section type-visual whitening-section0" data-section-name="whitening-section0">
		<div class="inner-wrap">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="detail-visual">
							<h3 class="detail-visual__tit">
								BANOBAGI<br>
								WHITENING<br>
								BRIGNING<br>
								<strong>DETAIL</strong>
							</h3>
							<p class="onepage__subtit detail-visual__subtit">
								깨끗한 피부가 주는 즐거움 <br>
								그것을 알게 해드리는 우리의 기쁨
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="scroll type-detail">
			<div class="scroll__inner">
				<i class="scroll__ball"></i>
			</div>
			<p class="scroll__txt">SCROLL</p>
		</div>
	</div>
	<div class="content-section whitening-section1" data-section-name="whitening-section1">
		<div class="inner-wrap">
			<div class="onepage__box type-half type-r">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<h3 class="detail__tit whitening-detail1__tit">
							<strong class="whitening-detail1__color">색소</strong>? 꼭 없애야 하는 것은 아니지만
						</h3>
						<p class="onepage__subtit whitening-detail1__subtit">
							기쁨을 만드는 치료, 그래서 더 치밀한 치료
						</p>
						<p class="onepage__txt type-detail whitening-detail1__txt">
							기미나 점, 주근깨, 검버섯, 다양한 양상의 모반들. 나이가 들면서 혹은 여러 원인에 의해
							얼굴에 드러나곤 합니다.
							이들 색소 질환은 치료를 하지 않는다고 해서 큰일나는 것은 아니기 때문에 그냥 내버려두고
							사시는 분들이 많습니다.<br><br>
							하지만 어떠한 계기로든 치료를 받아보신 분들은 생각보다 훨씬 더 큰 만족감에 깜짝
							놀라시곤 합니다.
							잡티 없이 깨끗한 피부를 본다는 게 이토록 기분 좋은 일인 줄 몰랐다는 것이죠.
						</p>
					</div>
					<div class="detail__img2 whitening-detail1__img">

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section whitening-section2" data-section-name="whitening-section2">
		<div class="inner-wrap">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<h3 class="detail__tit whitening-detail2__tit">
							기왕이면 더 <strong class="whitening-detail2__color">깨끗하게 </strong>없애고 싶습니다
						</h3>
						<p class="onepage__subtit whitening-detail2__subtit">
							가장 기본이지만 쉽지 않은 치료, <span class="inline-block">그래서 더 연구합니다</span>
						</p>
						<p class="onepage__txt type-detail whitening-detail2__txt">
							얼굴 색소 제거 치료는 피부과전문의라면 제일 많이 하는 치료 중 하나일 것입니다.
							그만큼 기본이 되는 치료이지만 그래서 더 잘 하기 어려운 치료이기도 합니다.
							<br><br>
							바노바기피부과는 올인원 테라피, 광채 토닝, 올인원 토닝, 원데이 브라이트닝 프로그램 등 얼굴 색소
							치료를 위한 독자적인 프로그램을 개발하였습니다.
							기본이라고 해서 어디에서나 받을 수 있는 그런 치료가 아니라, 바노바기에서만 받을 수 있는
							특별한 치료 솔루션입니다.
						</p>
					</div>
					<div class="detail__img2 whitening-detail2__img"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section whitening-section3" data-section-name="whitening-section3">
		<div class="inner-wrap">
			<div class="onepage__box type-half type-r">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<h3 class="detail__tit whitening-detail3__tit">
							색소를 둘러싼<br> <strong class="whitening-detail3__color">피부 환경</strong>을 고려합니다
						</h3>
						<p class="onepage__subtit whitening-detail3__subtit">
							색소가 생기지 않는 피부로 개선하기 위한 노력
						</p>
						<p class="onepage__txt type-detail whitening-detail3__txt">
							기미치료를 할 때 일반적으로 레이저토닝으로 멜라닌 색소를 제거합니다.
							하지만 레이저토닝 치료만 반복하다 보면 피부가 건조해지거나 민감해질 수 있습니다.
							그래서 바노바기피부과에서는 기미치료를 할 때 물광주사나 이온자임 치료를 병행합니다.
							멜라닌 자체에 대한 치료와 함께 멜라닌을 둘러싼 피부 환경을 치료하면 치료 효과가 더
							좋기 때문이지요.<br><br>

							색소를 없애는 것 이상으로 피부를 건강하게 하고 피부 본연의 광채를 찾게 하는 것,
							바로 바노바기피부과 미백-브라이트닝 치료의 핵심입니다
						</p>
					</div>
					<div class="detail__img2 whitening-detail3__img">물광치료, 피부 세포 재생 치료, 진정,재생관리</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-section whitening-section4" data-section-name="whitening-section4">
		<div class="inner-wrap">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<h3 class="detail__tit whitening-detail4__tit">
							디테일한 치료를 위한<br> <strong class="whitening-detail4__color">10가지 색소 치료 레이저</strong>
						</h3>
						<p class="onepage__subtit whitening-detail4__subtit">
							완성도 높은 치료, 진정한 맞춤식 색소 치료
						</p>
						<p class="onepage__txt type-detail whitening-detail4__txt">
							레블라이트, 루비레이저, 엑셀브이, 뉴브이빔퍼펙타, 젠틀맥스, 헬리오스, 놀리스, 실펌, Co2 레이저,
							어븀야그레이저... 바노바기피부과에서 보유하고 있는 색소치료용 장비입니다.
							웬만한 피부과에서는 보유하지 못하는 다양한 종류입니다.
							<br><br>
							이렇게 여러가지 장비를 보유하게 된 것은 치료 완성도를 위해서, 그리고 바노바기피부과 의료진의
							완벽주의 때문일 것입니다.
							아주 작은 색소 하나라도 그에 꼭 맞는 레이저를 사용해서 치료하고자 하는 바노바기의 디테일입니다.
						</p>
					</div>
					<div class="detail__img2 whitening-detail4__img">모델 사진</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
