@charset "utf-8";
@import "mixins";
.content-visual{
	$this:&;
	&.type-acne{
		#{$this}__img{background:url('../images/pore/acne/acne_visual.jpg') no-repeat center center / cover;}
		#{$this}__point{background-color:$pore;}
		#{$this}__tit-point{color:$pore;}
		#{$this}__table{background-color:#d7af6a;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-acne{
			#{$this}__img{background:url('../images/pore/acne/acne_visual.jpg') no-repeat center center/ cover;}
			#{$this}__wrap{padding:0 40px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-acne{
			#{$this}__wrap{padding:0 12px;}
		}
	}
}
.content-top{
	$this:&;
	&.type-acne{padding:150px 200px 845px; box-sizing:border-box; background:url('../images/pore/acne/acne_img1.jpg') no-repeat center bottom / cover;
		#{$this}__subtit{margin-top:0;}
		#{$this}__txt{
			&:before{border-color:#d8d8d8;}
		}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-acne{padding:100px 30px 105.46%; background:url('../images/pore/acne/acne_img1_t.jpg') no-repeat center bottom / cover;
			#{$this}__txt{padding-left:50px; padding-right:50px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-acne{padding:50px 30px 118.75%;
			#{$this}__txt{padding-left:20px; padding-right:20px;}
		}
	}
}
.advantage{
	$this:&;
	&.type-acne{
		#{$this}__img{overflow:hidden;background:url('../images/pore/acne/acne_img2.png') no-repeat center bottom;}
		@media only screen and (max-width: $mobile-size) {padding-left:12px; padding-right:12px;
			#{$this}__img{background-size:cover;}
			#{$this}__tit{margin:16px 0 0;}
			#{$this}__subtit{margin:0; letter-spacing:5px; padding-left:5px;}
			#{$this}__bg{margin:0;}
		}
	}
}

.acne-box2{
	&.type-another{padding-bottom:70px; background-color:#fbfbfb;}
	$this:&;
	&__box{text-align:center;}
	&__tit{margin-top:15px;}
	&__subtit{color:$black1;}
	&__subtit2{display:inline-block; margin-top:26px; padding:8px 16px; background-color:#3f3f3f; color:#fff; font-style: italic; box-sizing:border-box;}
	&__subject{margin:0; font-size:28px; color:$black1; font-weight:$light;}
	&__list{margin:-10px 0 0 -28px; padding:0; font-size:0;
		&.type-five{
			#{$this}__item{
				&:nth-child(1){margin-left:1px;}
				&:nth-child(3){margin-right:1px;}
			}
		}
	}
	&__item{display:inline-block; width:25%; margin-top:46px; padding-left:28px; box-sizing:border-box;}
	&__box{margin-top:10px; padding:60px 0 56px;  box-sizing:border-box;
		& + &{margin-top:0px; border-top:1px solid #dbdbdb;}
	}
	&__img{position:relative; width:100%; height:0; padding-bottom:100%; margin:0px auto;}
	&__txt{margin:24px 0 0 0; font-size:20px; color:$black2;}
	&__noti{margin:50px 0 0 0; font-size:18px; color:$black2;}
	@media only screen and (max-width: $tablet-size){
		&__tit{margin:15px -10px 0;}
		&__list{margin:0 0 0 -74px;
			&:after{display:block; clear:both; content:'';}
			&.type-five{
				#{$this}__item{
					&:nth-child(1){margin-left:0px;}
					&:nth-child(3){margin-right:0px;}
				}
			}
		}
		&__item{float:left; width:50%; margin-top:36px; padding-left:74px;}
		&__box{padding:60px 42px 70px;}
		&__noti{margin-top:0;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__tit{margin:12px 0 0; padding:0 50px; box-sizing:border-box;}
		&__subject{font-size:1.7rem;}
		&__subtit2{margin-top:20px; padding:4px 8px;}
		&__box{margin-top:-10px;padding:40px 20px;}
		&__list{margin-left:-40px;}
		&__item{margin-top:18px; padding-left:40px;}
		&__txt{margin-top:12px; font-size:1.2rem;}
		&__noti{font-size:1.3rem;}
		&.type-another{padding-bottom:40px;}
	}
}

.acne-box3{background-color:#2b2420;
	&__subtit{display:inline-block; padding-left:5px; letter-spacing:5px; color:#fff; box-sizing:border-box;}
	&__tit{margin-top:30px; color:#fff;}
	&__box{margin-top:80px; padding:80px 200px; background-color:#fff; box-sizing:border-box;
		& + &{margin-top:40px;}
	}
	&__subject{margin:0; font-size:28px; color:$black1; font-weight:$light;}
	&__txt{margin:20px 0 0 0; padding:0 60px; box-sizing:border-box; line-height:1.64;}
	&__img{position:relative; display:block; width:100%; height:0; margin-top:36px; padding-bottom:48.19%;}
	&__list{padding:0; margin:24px 0 0 0; counter-reset:acne;}
	&__item{position:relative; padding:26px 0 26px 40px; border-bottom:1px solid #d8d8d8; list-style:none; text-align:left; font-size:18px; line-height:1.66; color:$black3;
		&:before{position:absolute; top:26px; left:0; display:block; width:30px; height:30px; margin:auto 0; background-color:#000; border-radius:50%;
			text-align:center; color:#fff; counter-increment:acne; content:counter(acne);}
	}
	&__point{font-weight:$light; color:$black1;}
	@media only screen and (max-width: $tablet-size){
		&__box{margin-top:60px; padding:80px 28px;}
		&__txt{padding:0 20px; box-sizing:border-box;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__tit{margin-top:20px;}
		&__txt{margin-top:10px; padding:0 10px;}
		&__box{margin-top:30px; padding:40px 12px;
			& + &{margin-top:20px;}
		}
		&__img{margin-top:18px;}
		&__list{margin-top:12px;}
		&__item{padding:12px 0 12px 24px; font-size:1.2rem;
			&:before{top:12px; width:18px; height:18px;}
		}
		&__subject{font-size:1.8rem;}
	}
}
.acne-box4{
	&__subtit{margin:0; font-size:24px; font-weight:$thin; line-height:1.5;}
	&__tit{margin:20px 0 0 0; font-size:45px; font-weight:$light;}
	&__list{padding:0; margin:50px 0 0 -16px;;
		&:after{display:block; clear:both; content:'';}
	}
	&__img{position:relative; width:100%; height:0; padding-bottom:49.23%;}
	&__item{float:left; width:50%; margin-top:16px; padding-left:16px; list-style:none; box-sizing:border-box;}
	&__wrap{height:130px; border:1px solid #eeeeee;}
	@media only screen and (max-width: $tablet-size){
		&__list{margin:0; padding-left:50px; padding-right:50px;}
		&__item{width:100%; padding-left:0; margin-top:40px;}
	}
	@media only screen and (max-width: $mobile-size){
		&__wrap{height:auto; padding:14px 0;}
		&__subtit{font-size:1.3rem;}
		&__tit{margin-top:10px; font-size:2.3rem;}
		&__list{padding-left:16px; padding-right:16px;}
		&__item{margin-top:20px;}
	}
}
.acne-box5{
	&__box{padding:150px 220px 60px; background-color:#fe7d8b; text-align:center; box-sizing:border-box;}
	&__subtit{margin:0; font-size:24px; color:#fff; font-weight:$regular; line-height:1.5;}
	&__tit{color:#fff;}
	&__noti{display:inline-block; width:572px; margin:30px 0 0 0; padding:12px 0; font-size:20px; color:#d1507c; text-align:center; background-color:#fff; font-weight:$regular;}
	&__txt{margin-top:30px; color:#ffe7ef;
		strong{font-weight:$medium;}
	}
	&__bg{padding:760px 0 86px; background:url('../images/pore/acne/acne_bg2.jpg') no-repeat center center / cover; box-sizing:border-box;}
	&__list{padding:0; margin:-15px; font-size:0; text-align:center;}
	&__item{display:inline-block; width:220px; height:220px; border-radius:50%; margin:15px; border:10px solid #ff8499; font-size:26px; color:$black3; text-align:center;
		background-color:#fff; line-height:1.23; list-style:none;
		.vertical{padding:0 50px; box-sizing:border-box;}
	}
	&__txt2{margin:26px 0 0 0; color:$black2; text-align:center;}
	@media only screen and (max-width: $tablet-size){overflow:hidden;
		&__subtit{margin:0 -60px;}
		&__tit{margin:20px -60px 0; font-size:60px;}
		&__noti{width:100%; max-width:572px;}
		&__list{margin:-10px -40px;}
		&__item{margin:10px 40px;}
		&__box{padding:100px 98px 40px;}
		&__bg{padding:77.34% 0 11.2%; background:url('../images/pore/acne/acne_bg2_t.jpg') no-repeat center center / cover;}
		&__txt2{margin-top:36px;}
	}
	@media only screen and (max-width: $mobile-size){
		&__subtit{margin:0; font-size:1.3rem;}
		&__box{padding:50px 18px;}
		&__tit{margin:16px 0 0 0; font-size:3.1rem;}
		&__txt{margin-top:16px;}
		&__noti{margin-top:18px; padding:6px 0; font-size:1.4rem;}
		&__list{margin:-5px -20px;}
		&__item{width:110px; height:110px; margin:5px 20px;  border-width:5px; font-size:1.4rem;
			.vertical{padding:0 25px;}
		}
		&__txt2{margin-top:18px; padding:0 64px;}
	}
}
.color-acne1{color:$pore;}
.color-acne2{color:#fffcad;}
.color-acne3{color:#ff6b9a;}
