@charset "utf-8";
@import "mixins";
.content-visual{
	$this:&;
	&.type-allpore{
		#{$this}__img{background:url('../images/pore/allpore/allpore_visual.jpg') no-repeat center center / cover;}
		#{$this}__point{background-color:$pore;}
		#{$this}__tit-point{color:$pore;}
		#{$this}__table{background-color:#d7af6a;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-allpore{
			#{$this}__img{background:url('../images/pore/allpore/allpore_visual.jpg') no-repeat center left -142px/ cover;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-allpore{
			#{$this}__img{background:url('../images/pore/allpore/allpore_visual_m.jpg') no-repeat center center / cover;}
		}
	}
}
.content-top{
	$this:&;
	&.type-allpore{padding:140px 10% 0; box-sizing:border-box; background:url('../images/pore/allpore/allpore_img1.jpg') no-repeat center bottom / cover;
		#{$this}__subtit{margin-top:0; color:#fff;}
		#{$this}__tit{color:#fff;}
		#{$this}__txt{color:#e9e5df;
			&:before{border-color:#d8d8d8;}
		}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-allpore{padding:100px 65px 0; background:url('../images/pore/allpore/allpore_img1_t.jpg') no-repeat center bottom / cover;
			#{$this}__txt{padding-left:40px; padding-right:40px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-allpore{padding:50px 12px 0; background:url('../images/pore/allpore/allpore_img1_m.jpg') no-repeat center bottom / cover;
			#{$this}__tit{margin:14px -10px 0;}
		}
	}
}
.allpore-box1{
	&__list{margin:190px 0 0 0; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{width:294px; height:254px; background:url('../images/pore/allpore/allpore_hexagon.png'); list-style:none; box-sizing:border-box;
		&.type-left{float:left;}
		&.type-right{float:right;}
	}
	&__txt{padding:0 70px; box-sizing:border-box; font-size:30px; color:#fff; line-height:1.26; text-align:center;}
	&__img{overflow:hidden; width:100%; height:0; margin-top:60px; padding-bottom:76.66%;  background:url('../images/pore/allpore/allpore_bg1_1.png') no-repeat center left 46% / contain; }
	@media only screen and (max-width: $tablet-size){
		&__list{margin-top:240px;}
		&__item{width:216px; height:186px; background:url('../images/pore/allpore/allpore_hexagon_t.png') no-repeat center center;}
		&__txt{padding:0 56px; font-size:22px;}
		&__img{margin-top:40px; padding-bottom:100%; background-position:center left 28%;}
	}
	@media only screen and (max-width: $mobile-size){
		&__list{margin-top:144px;}
		&__item{width:86px; height:75px;  background:url('../images/pore/allpore/allpore_hexagon_t.png') no-repeat center center; background-size:86px 75px;}
		&__txt{padding:0 10px;; font-size:1.2rem;}
		&__img{margin-top:20px; padding-bottom:108.1%;}
	}
}
.content-line{
	&.type-allpore1{background-color:#33302a;}
	&.type-allpore2{background-color:#ccac75;}
}

.img-list6{
	&.type-allpore{padding-bottom:84px;
		@media only screen and (max-width: $mobile-size){padding-bottom:42px;}
	}
}
.allpore-box3{padding-left:92px; padding-right:92px; text-align:center;
	&__box{padding:88px 216px; background:url('../images/pore/allpore/allpore_bg1.jpg') no-repeat center center / cover;}
	&__tit{margin:0; font-size:28px; font-weight:$light; color:$black1;
		&:after{display:block; width:30px; margin:26px auto; border-top:2px solid #000; content:'';}
	}
	&__txt{margin:0; font-size:18px; color:$black3; line-height:1.66;}
	@media only screen and (max-width: $tablet-size){padding-left:0; padding-right:0;
		&__box{padding:80px 160px; background:url('../images/pore/allpore/allpore_bg1_t.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $mobile-size){
		&__box{padding:40px 60px; background:url('../images/pore/allpore/allpore_bg1_m.jpg') no-repeat center center / cover;}
		&__tit{font-size:1.6rem;
			&:after{width:15px; margin:13px auto; border-width:1px;}
		}
		&__txt{font-size:1.2rem;}
	}
}
.allpore-box4{margin-top:150px; background-color:#2b2420; padding-left:0; padding-right:0;
	&__subtit{color:#fff;}
	&__tit{color:#fff;}
	&__txt{margin-top:40px; color:#b4ada9;}
	&__img{overflow:hidden; position:relative; width:100%; height:0; padding-bottom:47.65%; background:url('../images/pore/allpore/allpore_img2.jpg') no-repeat center bottom / cover; text-indent:-9999px;}
	@media only screen and (max-width: $tablet-size){margin-top:0;
		&__txt{padding:0 100px; box-sizing:border-box;}
		&__img{margin-top:10px; padding-bottom:80.72%; background:url('../images/pore/allpore/allpore_img2_t.jpg') no-repeat center bottom / cover;}
	}
	@media only screen and (max-width: $mobile-size){
		&__tit{padding:0 44px;}
		&__txt{margin-top:16px; padding:0 44px;}
		&__img{margin-top:0;}
	}
}
.equipment{
	$this:&;
	&.type-allpore{background-color:#f9f9f9;
		#{$this}__tit{margin-top:30px;}
		#{$this}__list{margin-top:5px;}
		@media only screen and (max-width: $mobile-size) {
			#{$this}__tit{margin-top:14px;}
		}
	}
}


.color-allpore1{color:$pore;}
.color-allpore2{color:#ead8b9;}
