@charset "utf-8";
@import "mixins";
.content-visual{
	$this:&;
	&.type-baby{
		#{$this}__img{background:url('../images/heal/baby/baby_visual.jpg') no-repeat center center / cover;}
		#{$this}__point{background-color:$ulthera;}
		#{$this}__tit-point{color:$ulthera;}
		#{$this}__table{background-color:#690a1c;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-baby{
			#{$this}__img{background:url('../images/heal/baby/baby_visual.jpg') no-repeat center left -72px / cover;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-baby{
			#{$this}__img{background:url('../images/heal/baby/baby_visual.jpg') no-repeat center left -30px / cover;}
		}
	}
}
.content-top{
	$this:&;
	&.type-baby{padding:140px 320px 850px; box-sizing:border-box; background:url('../images/heal/baby/baby_img1.jpg') no-repeat center bottom / cover;
		#{$this}__subtit{margin-top:0;}
		#{$this}__txt{
			&:before{border-color:#828282;}
		}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-baby{padding:100px 30px 90.625%; background:url('../images/heal/baby/baby_img1_t.jpg') no-repeat center bottom / cover;
			#{$this}__txt{padding-left:60px; padding-right:60px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-baby{padding:50px 40px 111.25%; background:url('../images/heal/baby/baby_img1_m.jpg') no-repeat center bottom / cover;
			#{$this}__txt{padding-left:0px; padding-right:0px;}
		}
	}
}

.baby-box2{
	&__list{margin:60px 0 0 -16px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; padding-left:16px; list-style:none; box-sizing:border-box;
		& + & + &{margin-top:46px;}
	}
	&__img{position:relative; width:100%; height:0; padding-bottom:57.25%;}
	&__txt{margin:26px 0 0 0; font-size:20px; color:#333;}
	@media only screen and (max-width: $tablet-size){
		&__list{margin-left:0; padding:0 40px; box-sizing:border-box;}
		&__item{width:100%; padding-left:0;
			& + &{margin-top:36px;}
			& + & + &{margin-top:36px;}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&__list{margin-top:24px; padding-left:16px; padding-right:16px;}
		&__item{
			& + &{margin-top:18px;}
			& + & + &{margin-top:18px;}
		}
		&__txt{margin-top:15px; font-size:1.2rem;}
	}
}




.baby-box5{padding-left:92px; padding-right:92px; background-color:#5f0a1a;
	&__subtit{padding-left:10px; letter-spacing:10px; color:#fff;}
	&__tit{margin-top:20px; color:#fff;}
	&__wrap{margin-top:46px; padding:100px 206px; box-sizing:border-box; background-color:#fff;}
	&__list{margin:0; padding:0;}
	&__item{list-style:none;
		& + &{margin-top:80px;}
	}
	&__subject{margin:0; font-size:30px; font-weight:$regular; color:$black1;}
	&__txt{margin:24px -50px 0; font-size:26px; font-weight:$regular; color:$black2;}
	&__point{margin:26px 0 0 0; display:inline-block; width:350px; height:50px; line-height:50px; font-size:17px; color:#fff; border-radius:25px; background-color:$ulthera;}
	&__img{position:relative; width:100%; height:0; padding-bottom:48.19%;}
	&__box{margin-top:50px;
		&.type-another{margin-top:30px;}
	}
	&__content{padding:50px; background-color:#f8f8f8;  box-sizing:border-box; text-align:left; line-height:1.64;}
	&__noti{margin:40px 0 0 0; color:$black3; font-size:14px; text-align:left; line-height:2;}
	@media only screen and (max-width: $tablet-size){padding-left:65px; padding-right:65px;
		&__wrap{padding:100px 65px;}
		&__noti{margin-top:30px;}
	}
	@media only screen and (max-width: $mobile-size){padding-left:32px; padding-right:32px;
		&__subtit{padding-left:5px; letter-spacing:5px;}
		&__tit{margin-top:15px;}
		&__wrap{margin-top:24px; padding:50px 20px;}
		&__subject{font-size:1.6rem;}
		&__txt{margin:14px 0 0; font-size:1.4rem;}
		&__point{width:200px; margin-top:15px; height:30px; line-height:30px; font-size:1.1rem;}
		&__box{margin-top:20px;}
		&__content{padding:28px 18px;}
		&__item{
			& + &{margin-top:25px;}
		}
		&__noti{margin-top:20px; font-size:1.1rem;}
	}
}
.real-story{background-color:#f6d9d9;
	&__tit{overflow:hidden; display:inline-block; width:434px; margin:0; padding:16px 0 35px; border-top:3px solid #333333; border-bottom:3px solid #333; text-align: justify;}
	&__wrap{position:relative;
		&:before,&:after{position:absolute; top:0; bottom:0; margin:auto 0; width:224px; height:0; border-top:3px solid #333; content:'';}
		&:before{left:0;}
		&:after{right:0;}
	}
	&__point{display:block;}
	&__txt-wrap{display:block; margin-bottom:-126px;
		&:after{display:inline-block; width:100%;  content:'';}
		&.type-1{font-size:50px; margin-bottom:-18px; font-weight:$thin; color:$black1; letter-spacing: -1px;
			&:after{display:none;}
		}
		&.type-2{font-size:80px; font-weight:$bold; color:#a62840;}
		&.type-3{font-size:80px; font-weight:$bold; color:$black1;}
	}
	&__subtit{width:470px; margin:40px auto 0; font-size:26px; color:$black2; line-height:1.38;}
	&__visual{position:relative; height:874px; margin-top:70px; background:url('../images/heal/baby/baby_bg2.jpg') no-repeat center bottom; }
	&__area{position:absolute; top:390px; width:180px; font-size:26px; color:$black2; line-height:1.38;
		&:before{display:block; width:100%; height:124px; content:'';}
		&.nth-1{width:164px; left:108px;
			&:before{background:url('../images/heal/baby/real_icon1.png') no-repeat center bottom; }
		}
		&.nth-2{right:108px;
			&:before{background:url('../images/heal/baby/real_icon2.png') no-repeat center bottom; }
		}
	}
	&__subject{margin:20px -50px 0;}
	&__noti{position:absolute; width:100%; bottom:40px; margin:0; font-size:14px; color:#fff; font-weight:$regular; text-align:center;}
	&__list{margin:0; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; position:relative;  width:50%; height:498px; list-style:none;
		&.type-img{overflow:hidden; position:relative; height:0; padding-bottom:498px; text-indent:-9999px;
			&.nth-1{background:url('../images/heal/baby/real_img1.jpg') no-repeat center center;}
			&.nth-2{float:right; background:url('../images/heal/baby/real_img2.jpg') no-repeat center center;}
		}
		&.type-txt{text-align:left;
			&.type-brown{background-color:#5f4b52;}
			&.type-gray{float:left; background-color:#53505a;}
		}
	}
	&__wrap2{position:absolute; bottom:60px; left:0; width:100%; padding:0 40px; box-sizing:border-box;}
	&__tit2{margin:0; font-size:50px; font-weight:$thin; color:#fff;}
	&__txt{margin:40px 0 0 0; font-size:18px; font-weight:$regular; color:#949297; line-height:1.44;}
	@media only screen and (max-width: $minpc-size3){
		&__wrap{
			&:before,&:after{display:none;}
		}
	}
	@media only screen and (max-width: $tablet-size){padding-left:90px; padding-right:90px;
		&__subject{margin:20px -4px 0;}
		&__area{
			&.nth-1{left:65px;}
			&.nth-2{right:55px}
		}
		&__list{
			& + &{margin-top:-1px;}
		}
		&__item{float:none; width:100%; height:auto;
			&.type-img{padding-bottom:84.4%;
				&.nth-1{background:url('../images/heal/baby/real_img1_t.jpg') no-repeat center center / cover;}
				&.nth-2{float:none; background:url('../images/heal/baby/real_img2_t.jpg') no-repeat center center / cover;}
			}
			&.type-txt{
				&.type-gray{float:none;}
			}
		}
		&__wrap2{position:static; padding:60px 40px;}
	}
	@media only screen and (max-width: $mobile-size){padding-left:12px; padding-right:12px;
		&__tit{width:100%; padding-bottom:26px;}
		&__txt-wrap{margin-bottom:-64px;
			&.type-1{font-size:2.6rem; margin-bottom:-10px; letter-spacing:2px; text-align:center;}
			&.type-2,&.type-3{font-size:4.1rem;}
		}
		&__wrap{padding:0 38px; box-sizing:border-box;}
		&__subtit{width:100%; margin-top:16px; font-size:1.4rem;}
		&__visual{height:0; margin:35px 0px 0; padding-bottom:148.13%; background:url('../images/heal/baby/baby_bg2_m.jpg') no-repeat center center / cover; }
		&__area{top:195px; width:82px; font-size:1.4rem;
			&.nth-1{width:82px; left:33px;
				&:before{background-size:82px 53px;}
			}
			&.nth-2{width:90px; right:33px;
				&:before{ background-size:90px 62px;}
			}
		}
		&__subject{margin-top:10px;}
		&__noti{bottom:25px; font-size:1rem;}
		&__tit2{font-size:2.6rem;}
		&__txt{margin-top:18px; font-size:1.2rem;}
		&__wrap2{padding:24px 20px;}
	}
}

.color-baby1{color:$ulthera;}
.color-baby2{color:#ead8b9;}
