@charset "UTF-8";
// @import "variables";
@import "mixins";
// @import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css' ) ;
@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/notokr-thin.eot');
    src: url('../fonts/notokr-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-thin.woff2') format('woff2'),
         url('../fonts/notokr-thin.woff') format('woff'),
         url('../fonts/notokr-thin.ttf') format('truetype'),
         url('../fonts/notokr-thin.svg#notokr-thin') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/notokr-light.eot');
    src: url('../fonts/notokr-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-light.woff2') format('woff2'),
         url('../fonts/notokr-light.woff') format('woff'),
         url('../fonts/notokr-light.ttf') format('truetype'),
         url('../fonts/notokr-light.svg#notokr-light') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/notokr-demilight.eot');
    src: url('../fonts/notokr-demilight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-demilight.woff2') format('woff2'),
         url('../fonts/notokr-demilight.woff') format('woff'),
         url('../fonts/notokr-demilight.ttf') format('truetype'),
         url('../fonts/notokr-demilight.svg#notokr-demilight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/notokr-regular.eot');
    src: url('../fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-regular.woff2') format('woff2'),
         url('../fonts/notokr-regular.woff') format('woff'),
         url('../fonts/notokr-regular.ttf') format('truetype'),
         url('../fonts/notokr-regular.svg#notokr-regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/notokr-medium.eot');
    src: url('../fonts/notokr-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-medium.woff2') format('woff2'),
         url('../fonts/notokr-medium.woff') format('woff'),
         url('../fonts/notokr-medium.ttf') format('truetype'),
         url('../fonts/notokr-medium.svg#notokr-medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/notokr-bold.eot');
    src: url('../fonts/notokr-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-bold.woff2') format('woff2'),
         url('../fonts/notokr-bold.woff') format('woff'),
         url('../fonts/notokr-bold.ttf') format('truetype'),
         url('../fonts/notokr-bold.svg#notokr-bold') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/notokr-black.eot');
    src: url('../fonts/notokr-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-black.woff2') format('woff2'),
         url('../fonts/notokr-black.woff') format('woff'),
         url('../fonts/notokr-black.ttf') format('truetype'),
         url('../fonts/notokr-black.svg#notokr-black') format('svg');
    font-weight: 700;
    font-style: normal;
}

.counseling-btn{display:inline-block; width:110px; padding:3px 0px; margin-left:20px; border:1px solid #fff; border-radius:15px 15px 15px 15px; text-align:center;
    font-size:14px; color:#fff; vertical-align:middle; font-weight:400; text-decoration:none;
    &:hover{background-color:#fff; color:$color-txt; font-weight:500;}
    &:link{color:#fff}
    &.type-another{margin:10px 0 0 0; background-color:#fff; color:$color-txt;
        &:hover{background-color:transparent; color:#fff;}
    }
}
@media only screen and (max-width: 1200px) {
	.counseling-btn{display:none;
        &.type-another{display:block; width:95px; margin:10px auto 0; font-size:1.3rem;}
    }
}


.btn1{display:inline-block; width:130px; background-color:#444; color:#fff; height:36px; font-size:14px; box-sizing:border-box; vertical-align:middle; text-align:center; border-radius:12px; text-decoration:none;
    &:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
    span{display:inline-block; vertical-align:middle;}
    @media only screen and (max-width: $mobile-size) {width:86px; height:24px; font-size:1.1rem; border-radius:12px;}
}

.btn2{display:inline-block; height:44px; margin-top:50px; padding:0 30px; background-color:#fff; color:$black2;  font-size:16px; box-sizing:border-box;
    border:1px solid $black3; vertical-align:middle; text-align:center; border-radius:22px; text-decoration:none; transition:all 0.5s;
    &.type-katalk{
        &:hover{background-color:#ffe139; border-color:#ffe139;}
    }
    &:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
    span{display:inline-block; vertical-align:middle;}
    &:hover{background-color:$color-point; border-color:$color-point;}
    @media only screen and (max-width: $mobile-size) {margin-top:20px; padding:0 14px; height:24px; font-size:1.1rem; border-radius:12px;}
}



.color-normal{color:$color-normal;}
.color1{color:$color-txt2};
.color-black1{color:$black2;}
.img-responsive{position:absolute; top:0; left:0; width:100%; height:100%;}
.img-normal{max-width:100%; vertical-align:middle;}

.fw-light{font-weight:$light !important;}

//검색결과없을시
.no-data{padding:102px 0; text-align:center; box-sizing:border-box;
	&__txt{margin:0; font-size: 18px; color: $black3; word-break: keep-all;
		&:before{display:block; width:108px; height:108px; margin:0px auto 15px; background:url('../images/common/alarm.png') no-repeat center center / contain; content:'';}
	}
    &__point{display:block; margin-top:10px; color:$black1;}
	@media only screen and (max-width: $mobile-size) {padding:56px 0;
		&__txt{font-size:1.2rem;
            &:before{width:54px; height:54px; margin-bottom:7px;}
        }
        &__point{margin-top:5px;}
	}
}
.inner-wrap{max-width:1296px; padding:0 8px; margin:0px auto; box-sizing:border-box;
    &:after{display:block; clear:both; content:'';}
	@media only screen and (max-width:$tablet-size){padding:0;}
}



.txt-l{text-align:left;}
.txt-r{text-align:right;}
.txt-c{text-align:center;}
label.error{display:block; margin-top:5px; text-align:left; color:#f61919; font-size:13px;}
