@charset "UTF-8";
@import "mixins";
.content-section{
	&.contour-section0{
		&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:url('../images/contour/detail/contour_detail_top.jpg') no-repeat center center / cover; content:'';}
		.detail-visual{margin-top:0;}
	}
	&.contour-section1{background-color:#ebebeb;
		&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:url('../images/contour/detail/contour_detail_bg1.jpg') no-repeat center center / cover;  content:'';}
	}
	&.contour-section2{background-color:#1f1f1f;
		&:before{position:absolute; top:0; right:0; display:block; width:50%; height:100%; background:url('../images/contour/detail/contour_detail_bg2.jpg') no-repeat center center / cover;  content:'';}
	}
	&.contour-section3{
		&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:url('../images/contour/detail/contour_detail_bg3.jpg') no-repeat center center / cover;  content:'';}
	}
	&.contour-section4{background-color:#25113a;
		&:before{position:absolute; top:0; right:0; display:block; width:50%; height:100%; background:url('../images/contour/detail/contour_detail_bg4.jpg') no-repeat center center / cover;  content:'';}
	}
	@media only screen and (max-width:$tablet-size){
		&.contour-section0{
			.detail-visual{margin-top:210px;}
		}
		&:not(.contour-section0):before{display:none !important;}
	}
	@media only screen and (max-width:$mobile-size){
		&.contour-section0:before{background:url('../images/contour/detail/contour_detail_top_m.jpg') no-repeat top center / cover;}
		&.contour-section0{
			.detail-visual{margin-top:0px;}
		}
	}
}

.contour-detail1{
	&__color{color:#893adb;}
	&__tit{margin-right:-10px;}
	@media only screen and (max-width:$tablet-size){
		&__img{padding-bottom:57.8%; background:url('../images/contour/detail/contour_detail_bg1_t.jpg') no-repeat center bottom / cover;}
	}
}
.contour-detail2{
	&__tit{color:#fff;}
	&__subtit{color:#fff;}
	&__txt{color:#999}
	&__color{color:#bc7bff;}
	@media only screen and (max-width:$tablet-size){
		&__img{padding-bottom:57.8%; background:url('../images/contour/detail/contour_detail_bg2_t.jpg') no-repeat center bottom / cover;}
	}
}
.contour-detail3{
	&__color{color:#893adb;}
	@media only screen and (max-width:$tablet-size){
		&__img{padding-bottom:57.8%; background:url('../images/contour/detail/contour_detail_bg3_t.jpg') no-repeat center bottom / cover;}
	}
}
.contour-detail4{
	&__tit{color:#fff;}
	&__subtit{color:#fff;}
	&__color{color:#fff7a1;}
	&__txt{color:#d4c8e0;}
	@media only screen and (max-width:$tablet-size){
		&__img{padding-bottom:57.03%; background:url('../images/contour/detail/contour_detail_bg4_t.jpg') no-repeat center bottom / cover;}
	}
}
