@charset "utf-8";
@import "mixins";
.content-visual{
	$this:&;
	&.type-cute{
		#{$this}__img{background:url('../images/contour/cute/cute_visual.jpg') no-repeat center center / cover;}
		#{$this}__point{background-color:$lifting;}
		#{$this}__tit-point{color:$lifting;}
		#{$this}__table{background-color:#690a1c;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-cute{
			#{$this}__img{background:url('../images/contour/cute/cute_visual.jpg') no-repeat center right -44px / cover;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-cute{
			#{$this}__img{background:url('../images/contour/cute/cute_visual.jpg') no-repeat center right -20px / cover;}
		}
	}
}
.content-top{
	$this:&;
	&.type-cute{padding:140px 346px 816px; box-sizing:border-box; background:url('../images/contour/cute/cute_img1.jpg') no-repeat center bottom / cover;
		#{$this}__subtit{margin-top:0;}
		#{$this}__txt{
			&:before{border-color:#828282;}
		}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-cute{padding:100px 30px 87.23%; background:url('../images/contour/cute/cute_img1_t.jpg') no-repeat center bottom / cover;
			#{$this}__txt{padding-left:60px; padding-right:60px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-cute{padding:50px 30px 103.75%; background:url('../images/contour/cute/cute_img1_m.jpg') no-repeat center bottom / cover;
			#{$this}__txt{padding-left:0px; padding-right:0px;}
		}
	}
}

.cute-box2{padding-left:200px; padding-right:200px;
	&__box{display:inline-block; padding:56px 88px 50px; border:5px solid $black1;  box-sizing:border-box;}
	&__tit{margin-top:20px;}
	&__list{position:relative; margin:86px 0 -20px 0; padding:660px 0 0 0; box-sizing:border-box; text-align: justify;
		&:before{display:block; position:absolute; top:0; left:0; width:100%; height:0; padding-bottom:89.09%;
			background:url('../images/contour/cute/cute_bg1.jpg') no-repeat center center / cover; z-index:-1; content:'';}
		&:after{display:inline-block; width:100%; content:'';}
	}
	&__item{display:inline-block; width:264px; height:264px; padding:0 50px; background-color:#9a5ed7; list-style:0; color:#fff; font-size:32px; box-sizing:border-box;
		font-weight:$regular; line-height:1.3; border-radius:50%; text-align:center;
		&:nth-child(even){background-color:#3f3f3f;}
	}
	@media only screen and (max-width: $tablet-size){padding-left:40px; padding-right:20px;
		&__box{width:100%; padding:56px 10px 50px;}
		&__list{padding-top:82.03%;}
		&__item{width:216px; height:216px; padding:0 30px; font-size:28px;}
	}
	@media only screen and (max-width: $mobile-size) {padding-left:12px; padding-right:12px;
		&__box{padding:26px 10px 22px;}
		&__list{margin-top:30px; padding-top:80%;}
		&__item{width:104px; height:104px; padding:0 14px; font-size:1.3rem;}
		&__tit{margin-top:10px;}
	}
	@media only screen and (max-width: $iphone-size) {
		&__item{width:90px; height:90px;}
	}
}

.care-list1{
	$this:&;
	&.type-cute{background-color:#f3e9fb;
		#{$this}__item{
			&.nth-1{
				&:before{background:url('../images/contour/cute/cute_care1.png') no-repeat center center / cover;}
			}
			&.nth-2{
				&:before{background:url('../images/contour/cute/cute_care2.png') no-repeat center center / cover;}
			}
		}
		#{$this}__txt{margin-left:-30px; margin-right:-30px;}
	}
	@media only screen and (max-width: $tablet-size){

	}
	@media only screen and (max-width: $mobile-size){
		&.type-cute{
			#{$this}__txt{margin-left:0px; margin-right:0px;}
		}
	}
}


.color-cute1{color:$lifting;}
