@charset "utf-8";
@import "mixins";
.epilogue{
	$this:&;
	&.type-search{margin-top:24px;
		#{$this}__list{margin-left:-32px;}
		#{$this}__item{width:33.33%; padding-left:32px;}
		#{$this}__txt{margin-top:4px; padding:0 20px; font-size:14px; box-sizing:border-box;}
		#{$this}__box{padding:0;}
	}
	&__list{margin:-30px 0 0 -16px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__img{position:relative; width:100%; height:0; padding-bottom:63.63%;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{position:relative; float:left; width:25%; margin-top:30px; padding-left:16px; list-style:none; box-sizing:border-box;
		&.is-active{
			#{$this}__border{overflow:hidden; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6); z-index:5; text-indent: -9999px;
				&:before{position:absolute; top:0; left:0; right:0; bottom:0; width:calc(100% - 12px); height:calc(100% - 12px); margin:auto; border:1px solid rgba(255,255,255,0.2); content:''; }
			}
			#{$this}__img{
				&:before,&:after{position:absolute; top:0; left:0; right:0; bottom:0; display:block; margin:auto; content:''; z-index:10;}
				&:before{width:35px; height:0; border-top:1px solid #fff;}
				&:after{height:35px; width:0; border-left:1px solid #fff;}
			}
			#{$this}__box{background:#eee;}
			#{$this}__txt{color:$color-txt;}
		}
	}
	&__txt{margin:0; font-size:15px;}
	&__tit{overflow:hidden; margin:0; padding:0 20px; font-size:16px; font-weight:$regular; color:$color-txt2; text-overflow:ellipsis; white-space:nowrap; box-sizing:border-box;}
	&__box{display:table-cell; width:1%; height:84px; padding:5px 30px; border-left:1px solid #eee; border-right:1px solid #eee; border-bottom:4px solid $color-bg;
		vertical-align:middle; box-sizing:border-box; line-height:1.5;
	}
	&__link{overflow:hidden; position:absolute; top:0; left:0; display:block; width:100%; height:100%; z-index:20; text-indent:-9999px; content:'';}
	@media only screen and (max-width: $tablet-size) {
		&.type-search{
			#{$this}__item{width:50%;}
		}
		&__list{margin-left:-12px;}
		&__item{width:33.33%; padding-left:12px;}
		&__box{padding:5px 16px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-search{
			#{$this}__list{margin:0; }
			#{$this}__item{width:100%; margin-top:0; padding-left:0;
				& + #{$this}__item{margin-top:15px;}
			}
			#{$this}__box{height:auto; padding:20px 0;}
		}
		&__list{margin-top:-20px;}
		&__item{width:50%; margin-top:20px;}
		&__tit{font-size:1.6rem;}
		&__txt{font-size:1.3rem;}
		&__box{overflow:hidden; height:50px; padding:2px 12px;}
	}
}

.gallery{
	$this:&;
	&__tit{margin:0; font-size:30px; color:#333; font-weight:$medium; text-align:center;}
	&__wrap{margin-top:36px; padding:50px 112px 0; border-top:1px solid #eeeeee; box-sizing:border-box;}
	&__list{margin:-30px 0 0 0; padding:0; font-size:0; text-align:center;}
	&__item{position:relative; display:inline-block; width:92px; margin-top:30px; list-style:none;
		& + &{margin-left:16px;}
		&.is-active{
			#{$this}__box{background-color:#f8f8f8; color:$color-txt; border-bottom-color:$color-bg;}
			#{$this}__icon{top:12px; color:$color-line; transform: rotate(180deg);}
		}
	}
	&__img{position:relative; display:block; width:100%; height:0; padding-bottom:68.47%;}
	&__txt{overflow:hidden; width:100%; margin:0; padding:8px 0; text-overflow: ellipsis; white-space:nowrap; box-sizing:border-box;}
	&__box{position:relative; padding-left:2px; padding-right:10px; border-bottom:1px solid #eee; font-size:13px; box-sizing:border-box;}
	&__icon{overflow:hidden; position:absolute; top:10px; right:2px; margin:auto 0; font-size:10px; transition:transform 0.1s;
		&:before{content:'\f078';}
	}
	&__link{position:absolute; display:block; top:0; left:0; width:100%; height:100%; z-index:1;}
	&__content{position:relative; margin-top:30px; padding:100px 150px; border:1px solid #eee; box-sizing:border-box;
		&.type-old{padding:5px;}
	}
	&__close{overflow:hidden; position:absolute; top:30px; right:30px; display:block; width:34px; height:34px; background:url('../images/review/epilogue/close.png'); text-indent:-999px; content:'';}
	&__inner{text-align:center; font-size:16px; line-height:1.7; box-sizing:border-box;
		p{margin:0;}
		img{max-width:100%;}
	}
	@media only screen and (max-width: $tablet-size) {
		&__wrap{padding:50px 0 0;}
		&__content{padding:86px 60px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__tit{font-size:1.9rem;}
		&__scroll{overflow-x:scroll; overflow-y:hidden; padding-bottom:10px;-webkit-overflow-scrolling: touch; }
		&__list{margin:0; white-space:nowrap; text-align:left; overflow:visible}
		&__item{margin-top:0;
			& + &{margin-left:10px;}
		}
		&__box{font-size:1.1rem;}
		&__wrap{margin-top:25px; padding:25px 0 0;}
		&__content{margin-top:10px; padding:44px 22px;}
		&__inner{font-size:1.4rem;}
		&__icon{font-size:1rem;}
		&__close{top:15px; right:15px; width:17px; height:17px; background-size:contain;}
	}
}

.scroll-btn{position:fixed; top:50%; right:50%; margin-right:-590px; z-index:10;
	$this:&;
	&__list{margin:0; padding:0; font-size:0;}
	&__item{display:block; width:46px; height:46px; border:1px solid #eee; box-sizing:border-box; list-style:none; text-align:center; background-color:#fff;
		& + &{margin-top:10px;}
	}
	&__link{display:table-cell; width:1%; height:inherit; text-decoration:none; vertical-align:middle; font-size:13px; color:#666;}
	@media only screen and (max-width: $tablet-size) {right:18px; margin-right:0;}
	@media only screen and (max-width: $mobile-size) {display:none;}
}
