@charset "utf-8";
@import "mixins";
.etc{
	$this:&;
	&__content{display:none; padding:60px 34px; border:1px solid #e1e1e1;
		&.is-active{display:block;}
		@media only screen and (max-width:$tablet-size){padding:30px 24px; margin-bottom:0;}
		@media only screen and (max-width:$mobile-size){padding:20px 16px;}
	}
	&__subject{color:#333; font-weight:500; font-size:16px; line-height:1.8; letter-spacing:-1px;
		@media only screen and (max-width:$tablet-size){letter-spacing: 0;}
		@media only screen and (max-width:$mobile-size){font-size:1.3rem;}
	}
	&__txt{margin:0; font-size:16px; line-height:1.875; color:#666;
		&.type-another{margin-top:5px;}
		@media only screen and (max-width:$mobile-size){font-size:1.2rem; line-height:1.6;}
	}
	&__tit{margin:30px 0 0 0;font-size:16px; font-weight:400;
		&.type-another{margin-top:0; margin-bottom:10px; font-weight:500;}
		@media only screen and (max-width:$tablet-size){
			&.type-another + #{$this}__sub-tit{margin-top:20px;}
		}
		@media only screen and (max-width:$mobile-size){margin-top:20px; font-size:1.3rem;}
	}
	&__box{margin-top:40px; padding:50px 100px; background-color:#fbf6f4;
		&:after{display:block; clear:both; content:'';}
		@media only screen and (max-width:$tablet-size){padding:40px 44px;}
		@media only screen and (max-width:$mobile-size){margin-top:24px; padding:25px 20px;}
	}
	&__box-double{float:left; width:50%;
		@media only screen and (max-width:$tablet-size){float:none; width:100%;
			& + #{$this}__box-double{margin-top:18px;}
		}
		@media only screen and (max-width:$mobile-size){
			& + #{$this}__box-double{margin-top:12px;}
		}
	}
	&__box-list{margin:0; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__box-item{position:relative; padding-left:24px; font-size:16px; color:#333; list-style:none;
		& + #{$this}__box-item {margin-top:18px; }
		&:before{position:absolute; top:0px; left:0; content:'';}
		&.nth-1:before{content:'01.'}
		&.nth-2:before{content:'02.'}
		&.nth-3:before{content:'03.'}
		&.nth-4:before{content:'04.'}
		&.nth-5:before{content:'05.'}
		&.nth-6:before{content:'06.'}
		&.nth-7:before{content:'07.'}
		&.nth-8:before{content:'08.'}
		&.nth-9:before{content:'09.'}
		&.nth-10:before{content:'10.'}
		&.nth-11:before{content:'11.'}
		&.nth-12:before{content:'12.'}
		@media only screen and (max-width:$mobile-size){padding-left:18px; font-size:1.2rem;
			& + #{$this}__box-item {margin-top:12px;}
		}
	}
	&__box-link{color:inherit; text-decoration:none;
		&:hover{color:inherit;}
	}
	&__list{margin-top:50px; padding:0; font-size:16px;
		&.type-another{margin-top:0;}
		&.type-terms{margin-top:0;
			& #{$this}__item{padding:60px 0;
				& + #{$this}__item{margin-top:0; border-top:1px solid #e1e1e1;}
				&:last-child{padding-bottom:0;}
			}
			& #{$this}__dd{padding-top:0px;}
			@media only screen and (max-width:$tablet-size){
				& #{$this}__item{padding:64px 0;
					&:last-child{padding-bottom:34px;}
				}
			}
			@media only screen and (max-width:$mobile-size){margin-top:0;
				& #{$this}__item{padding:26px 0;
					&:last-child{padding-bottom:10px;}
				}
				& #{$this}__dt br{display:none;}
			}
		}
		@media only screen and (max-width:$tablet-size){margin-top:40px;}
		@media only screen and (max-width:$mobile-size){margin-top:35px; font-size:1.3rem;}
	}
	&__item{list-style:none;
		& + #{$this}__item{margin-top:120px;}
		@media only screen and (max-width:$tablet-size){
			& + #{$this}__item{margin-top:80px;}
		}
		@media only screen and (max-width:$mobile-size){
			& + #{$this}__item{margin-top:40px;}
		}
	}
	&__dl{margin:0;}
	&__dt{float:left; width:284px; margin:0; font-weight:500; line-height:1.75;
		@media only screen and (max-width:$tablet-size){width:205px;}
		@media only screen and (max-width:$mobile-size){float:none; width:100%;}
	}
	&__dd{margin:0; padding-top:20px; padding-left:300px; line-height:1.8; color:#666;
		@media only screen and (max-width:$tablet-size){padding-left:212px;}
		@media only screen and (max-width:$mobile-size){margin-top:20px; padding:0;}
	}
	&__num{font-weight:400;}
	&__sub-tit{display:block; margin-top:16px; font-weight:500; color:#333;
		& + .bullet__list{margin-top:7px; padding:0;}
		&.type-another{margin-top:40px; font-weight:400;
			@media only screen and (max-width:$tablet-size){margin-top:36px;}
			@media only screen and (max-width:$mobile-size){margin-top:18px;}
		}
		@media only screen and (max-width:$tablet-size){margin-top:36px;}
		@media only screen and (max-width:$mobile-size){margin-top:18px;
			& + .bullet__list{margin-top:0px;}
		}
	}
	&__point{display:block; margin-top:18px; color:$color-txt; font-weight:600;
		@media only screen and (max-width:$mobile-size){margin-top:10px;}
	}
	&__para{
		& + #{$this}__para{margin-top:60px;
			&.type-another{margin-top:30px;}
		}
		@media only screen and (max-width:$tablet-size){
			& + #{$this}__para{margin-top:36px;}
		}
		@media only screen and (max-width:$mobile-size){
			& + #{$this}__para{margin-top:30px;}
		}
	}
}
.bullet{
	$this:&;
	&__list{margin:30px 0 0 0; padding:0;
		&.type-another{margin-top:10px; color:#333;
			@media only screen and (max-width:$mobile-size){margin-top:5px;}
		}
		&.type-circle{margin-top:0;
			& > #{$this}__item{padding-left:22px;
				& + #{$this}__item{margin-top:30px;}
				&:before{top:0;}
				&.nth-1:before{content:'①'}
				&.nth-2:before{content:'②'}
				&.nth-3:before{content:'③'}
			}
			@media only screen and (max-width:$mobile-size){
				& > #{$this}__item{padding-left:17px;}
			}
		}
		&.type-num{margin-left:-2px; margin-top:4px; counter-reset: section;
			& #{$this}__item{padding-left:18px;
				&:before{top:0; content:counter(section)"."; counter-increment: section;}
			}
			@media only screen and (max-width:$mobile-size){
				& #{$this}__item{padding-left:13px;}
			}
		}
	}
	&__item{position:relative; padding-left:10px; list-style:none;
		&:before{position:absolute; top:1px; left:0; content:'·';}
	}
}
.fake-table{margin-top:28px; border:1px solid #cccccc; box-sizing:border-box;
	$this:&;
	&:after{display:block; clear:both; content:'';}
	&__dl{float:left; width:25%; height:100%; margin:0; text-align:center; box-sizing:border-box;
		& + #{$this}__dl{border-left:1px solid #ccc;}
	}
	&__dt{padding:14px; border-bottom:1px solid #ccc; font-weight:300; box-sizing:border-box;}
	&__dd{display:table-cell; width:1%; height:84px; padding:0 24px; vertical-align:middle; line-height:1.875; word-break:keep-all; box-sizing:border-box;}
	@media only screen and (max-width:$minpc-size3){border-left:0; border-right:0;
		&__dl{width:50%; border-left:1px solid #ccc;
			& + #{$this}__dl + #{$this}__dl{margin-top:10px; border-top:1px solid #ccc;}
			&:nth-child(2n){border-right:1px solid #ccc;}
			&:nth-child(1){border-bottom:1px solid #ccc;}
			&:nth-child(2){border-bottom:1px solid #ccc;}
		}
		&__dt{padding:7px;}
		&__dd{padding:0 10px;}
	}
	@media only screen and (max-width:$mobile-size){
		&__dd{height:46px; padding:2px; line-height:1.6;}
	}
	@media only screen and (max-width:$iphone-size){
		&__dd{height:66px;}
	}
}
