@charset "utf-8";
@import "mixins";
.content-visual{
	$this:&;
	&.type-filler{
		#{$this}__img{background:url('../images/contour/filler/filler_visual.jpg') no-repeat center center / cover;}
		#{$this}__point{background-color:$lifting;}
		#{$this}__tit-point{color:$lifting;}
		#{$this}__table{background-color:#690a1c;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-filler{
			#{$this}__img{background:url('../images/contour/filler/filler_visual.jpg') no-repeat center right -44px / cover;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-filler{
			#{$this}__img{background:url('../images/contour/filler/filler_visual_m.jpg') no-repeat center right / cover;}
		}
	}
}
.content-top{
	$this:&;
	&.type-filler{padding:140px 346px 800px; box-sizing:border-box; background:url('../images/contour/filler/filler_img1.jpg') no-repeat center bottom / cover;
		#{$this}__subtit{margin-top:0;}
		#{$this}__txt{
			&:before{border-color:#828282;}
		}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-filler{padding:100px 30px 86.84%; background:url('../images/contour/filler/filler_img1_t.jpg') no-repeat center bottom / cover;
			#{$this}__txt{padding-left:50px; padding-right:50px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-filler{padding:50px 30px 104.68%;
			#{$this}__txt{padding-left:0px; padding-right:0px;}
		}
	}
}




.circle-style3{background-color:#fafafa;
	$this:&;
	&.type-filler{padding-left:170px; padding-right:170px;
		#{$this}__list{margin-left:-46px;}
		#{$this}__item{width:25%; padding-left:46px;}
		#{$this}__subject{margin-top:40px; font-size:18px; color:$black2;}
		@media only screen and (max-width: $tablet-size){
			&.type-filler{padding-left:65px; padding-right:65px;
				#{$this}__list{margin-left:-18px;}
				#{$this}__item{width:33.33%; margin-top:40px; padding-left:18px;}
			}
		}
		@media only screen and (max-width: $mobile-size){overflow:hidden;
			&.type-filler{padding-left:36px; padding-right:36px;
				#{$this}__list{margin-top:5px; margin-left:-48px;}
				#{$this}__item{width:50%; margin-top:20px; padding-left:48px;}
				#{$this}__subject{margin-top:20px; font-size:1.2rem; color:$black2;}
			}
		}
	}
}


.filler-box3{padding-top:150px; background-color:#473656; text-align:center;
	&__tit{color:#fff;
		strong{font-weight:$regular; color:#fff79a;}
	}
	&__txt{margin-top:60px; color:#fff;}
	&__list{margin:100px 0 0 0; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; list-style:none; font-size:0;
		img{width:100%;}
	}
	@media only screen and (max-width: $tablet-size){padding-top:100px;}
	@media only screen and (max-width: $mobile-size){padding:50px 12px 0;
		&__txt{margin-top:30px;}
		&__list{margin:50px -12px 0;}
	}
}
.img-list4{
	$this:&;
	&.type-filler{background-color:#fcf1e1;
		#{$this}__list{
			&:before{background:url('../images/contour/filler/filler_img4.png') no-repeat top left / contain;}
		}
		#{$this}__item:before{color:#d3b6df;}
		#{$this}__subject{color:$lifting;}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-filler{
			#{$this}__list{
				&:before{background-position:center center;}
			}
		}
	}
}

.care-list1{
	$this:&;
	&.type-filler{
		#{$this}__item{
			&.nth-1{
				&:before{background:url('../images/contour/filler/filler_care1.png') no-repeat center center / cover;}
			}
			&.nth-2{
				&:before{background:url('../images/contour/filler/filler_care2.png') no-repeat center center / cover;}
			}
			&.nth-3{
				&:before{background:url('../images/contour/filler/filler_care3.png') no-repeat center center / cover;}
			}
			&.nth-4{
				&:before{background:url('../images/contour/filler/filler_care4.png') no-repeat center center / cover;}
				#{$this}__txt{margin-left:-46px; margin-right:-46px;}
			}
			&.nth-5{
				&:before{background:url('../images/contour/filler/filler_care5.png') no-repeat center center / cover;}
			}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&.type-filler{
			#{$this}__item{
				&.nth-4{
					#{$this}__txt{margin-left:0px; margin-right:0px;}
				}
			}
		}
	}
}

.color-filler1{color:$lifting;}
.color-filler2{color:#d8b2ff}
