@charset "UTF-8";
// @import "variables";
@import "mixins";

.pagination{margin-top:50px;
	&.is-hide{display:none;}
	$this:&;
	&__list{margin:0; padding:0; font-size:0; text-align:center;}
	&__item{overflow:hidden; display:inline-block;
		& + &{margin-left:2px;}
	}
	&__link{display:inline-block; width:30px; height:30px; padding-top:4px; font-size:12px; color:$black3; text-decoration:none; text-align:center; vertical-align:middle;
		border:1px solid #fff; box-sizing:border-box;
		&:before{display:inline-block; height:100%; vertical-align:middle; content:'';}
	}
	&__item-first,&__item-prev,&__item-next,&__item-last{
		#{$this}__link{text-indent:-9999px; border-color:#eee;}
	}
	&__item-first{
		#{$this}__link{background:url('../images/common/paging_first.png') no-repeat center center / 10px 7px;
			&:hover{background:url('../images/common/paging_first_on.png') no-repeat center center / 10px 7px;}
		}
	}
	&__item-prev{
		#{$this}__link{background:url('../images/common/paging_prev.png') no-repeat center center / 6px 7px;
			&:hover{background:url('../images/common/paging_prev_on.png') no-repeat center center / 6px 7px;}
		}
	}
	&__item-last{
		#{$this}__link{background:url('../images/common/paging_last.png') no-repeat center center / 10px 7px;
			&:hover{background:url('../images/common/paging_last_on.png') no-repeat center center / 10px 7px;}
		}
	}
	&__item-next{
		#{$this}__link{background:url('../images/common/paging_next.png') no-repeat center center / 6px 7px;
			&:hover{background:url('../images/common/paging_next_on.png') no-repeat center center / 6px 7px;}
		}
	}
	&__item-num{
		#{$this}__link{
			&:hover{border-color:#eee;}
		}
		&.is-active{
			#{$this}__link{border-color:$color-line; background-color:$color-line; color:#fff}
		}
	}
	@media only screen and (max-width: $tablet-size) {margin-top:30px;}
	@media only screen and (max-width: $mobile-size) {
		&__link{font-size:1.2rem;}
	}
}
.tab-v1{margin-top:140px;
	$this:&;
	&__list{margin:0; padding:0;}
	&__item{display:table-cell; width:1%; list-style:none; text-align:center; vertical-align:middle; border:1px solid #e1e1e1; border-bottom-color:#969696; border-left:none; border-right:none;
		&.is-active{border-bottom:none; border-color:#969696; border-left:1px solid #969696; border-right:1px solid #969696;
			#{$this}__link{color:$black1;}
			& + #{$this}__item{border-left:none;}
		}
		&:first-child{border-left:1px solid #e1e1e1;
			&.is-active{border-color:#969696;}
		}
		&:last-child{border-right:1px solid #e1e1e1;
			&.is-active{border-color:#969696;}
		}
		& + &{border-left:1px solid #e1e1e1;
			&.is-active{border-left-color:#969696;}
		}
	}
	&__link{display:inline-block; width:100%; height:60px; font-size:22px; color:$black3; font-weight:$regular; text-decoration:none; vertical-align:middle;
		&:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
	}
	@media only screen and (max-width: $tablet-size){margin-top:110px;}
	@media only screen and (max-width: $mobile-size){margin-top:50px;
		&__link{height:30px; font-size:1.2rem;}
	}
}
.tab-v2{text-align:center;
	&__content{display:none; padding-top:76px; box-sizing:border-box;
		&.is-active{display:block;}
		&.type-membership{padding:120px 10px 110px; border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1;}
	}
	&__list{width:100%; margin:0; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{display:table-cell; width:1%; height:60px; vertical-align:middle; border:1px solid #dcdcdc; color:#333; font-size:20px; text-transform:uppercase;
		&.is-active{border-color:#555555; background-color:#555555; color:#fff;}
	}
	&__link{display:block; width:100%; height:100%; line-height:60px; color:inherit; text-decoration:none;
		&:hover{color:inherit;}
	}
	@media only screen and (max-width:$tablet-size){margin-top:0;}
	@media only screen and (max-width:$mobile-size){
		&__content{padding-top:36px;
			&.type-membership{padding:50px 30px 60px;}
		}
		&__item{height:35px; font-size:1.2rem;}
		&__link{line-height:35px;}
	}
}

.tab-v3{
	&__list{margin:0; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; list-style:none; color:#555; box-sizing:border-box; border-bottom:4px solid #fff;
		&.is-active{border-bottom-color:#555;}
	}
	&__link{display:table-cell; width:1%; height:60px; font-size:20px; text-decoration:none; text-align:center; color:inherit; vertical-align:middle;}
	@media only screen and (max-width:$mobile-size){
		&__item{border-bottom-width:2px;}
		&__link{height:46px; font-size:1.3rem;}
	}
}

.tab-v4{margin:0; padding:0;
	$this:&;
	&:after{display:block; clear:both; content:'';}
	&__item{float:left; width:50%; list-style:none; box-sizing:border-box;
		&.is-active{
			#{$this}__link{border-color:#333; background-color:#333333; color:#fff;}
		}
		& + &{margin-left:-1px;}
	}
	&__link{display:table-cell; width:1%; height:36px; color:$black2; font-size:16px; border:1px solid #d7d7d7; text-decoration:none; vertical-align:middle; text-align:center;}
	&__content{display:none; overflow:auto; height:570px; margin-top:52px; padding:0 5px; box-sizing:border-box;
		&.is-active{display:block;}
	}
	@media only screen and (max-height:$minH-size) {
		&__content{height:300px;}
	}
	@media only screen and (max-width: $tablet-size) {position:fixed; left:0; right:0; padding:50px 27.4% 0 27.4%; width:100%; background-color:#fff; box-sizing:border-box; z-index:100;
		&__content{height:auto; margin-top:0; padding-top:126px; box-sizing:border-box;}
	}
	@media only screen and (max-width: $mobile-size) {padding:30px 40px 0 40px;
		&__link{height:30px; font-size:1.2rem;}
		&__content{padding-top:80px;}
	}
}

.tab-v5{margin:0; padding:0;
	$this:&;
	&:after{display:block; clear:both; content:'';}
	&__item{float:left; width:25%; list-style:none; border:1px solid #d7d7d7; box-sizing:border-box; text-align:center;
		&.is-active{background-color:#333333; border-color:#333333 !important;
			#{$this}__link{color:#fff;}
			& + #{$this}__item{border-left:1px solid #d7d7d7;}
		}
		& + &{border-left:none;}
	}
	&__link{display:table-cell; width:1%; height:34px; vertical-align:middle; font-size:16px; color:$black2; text-decoration:none;}
	&__content{display:none; padding-top:50px;
		&.is-active{display:block;}
	}
	@media only screen and (max-width:$tablet-size){
		&__item{width:50%;
			& + & + &{border-top:none;}
			&:nth-child(3){border-left:1px solid #d7d7d7;
				&.is-acitve{border-color:red;}
			}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__link{font-size:1.3rem;}
		&__content{padding-top:30px;}
	}
}

.page{border-bottom:1px solid #e1e1e1;
	$this:&;
	&__list{position:relative; margin:0; padding:0;
		&:before{position:absolute; top:0; left:0; right:0; bottom:0; display:block; margin:auto; width:1px; height:35px; background-color:#e1e1e1; content:'';}
		&:after{display:block; clear:both; content:'';}
	}
	&__btn{position:relative; display:block; color:#999; font-size:12px;
		&:before{position:absolute; top:0; bottom:0; width:4px; height:6px; margin:auto 0; content:'';}
	}
	&__item{float:left; display:inline-block; width:50%; height:100px; padding:0 25px; vertical-align:middle; box-sizing:border-box;
		&.type-prev{
			& #{$this}__btn{padding-left:20px;
				&:before{left:0; background:url('../images/common/board_prev.png');}
			}
		}
		&.type-next{float:right; padding-right:20px; text-align:right;
			& #{$this}__btn{padding-right:20px;
				&:before{right:0; background:url('../images/common/board_next.png');}
			}
		}
	}
	&__wrap{display:table-cell; width:1%; height:100px; vertical-align:middle;}
	&__link{display:block;  font-size:14px; color:#666; text-decoration:none;
		&:hover{color:inherit;}
	}
	&__overflow{display:block; width:100%; max-width:480px;overflow:hidden;  text-overflow: ellipsis; white-space:nowrap;}
	@media only screen and (max-width:$mobile-size){
		&__list{
			&:before{height:48px;}
		}
		&__btn{font-size:1.3rem;
			&:before{width:3px; height:6px;}
		}
		&__item{height:80px; padding:0 20px;
			&.type-prev{
				& #{$this}__btn{padding-left:20px;
					&:before{background:url('../images/common/board_prev_m.png'); background-size:3px 6px;}
				}
			}
			&.type-next{
				& #{$this}__btn{padding-right:20px;
					&:before{background:url('../images/common/board_next_m.png'); background-size:3px 6px;}
				}
			}
		}
		&__wrap{height:80px;}
		&__link{font-size:1.4rem;
			&:hover{color:inherit;}
		}
		&__overflow{width:100%;}
	}
}
.page-bottom{margin:30px 0 0 0; text-align:right;
	&__btn{display:inline-block; padding:5px 24px; font-size:14px; font-weight:400; color:#333; box-sizing:border-box; border-radius:16px 16px 16px 16px; border:1px solid #333; text-decoration:none;
		&:hover{background-color:#333; color:#fff;}
	}
	@media only screen and (max-width:$tablet-size){
		&__btn{
			&:hover{background-color:#fff; color:#333;}
		}
	}
	@media only screen and (max-width:$mobile-size){margin:24px 0 0 0; text-align:center;}
}

/*게시판*/

.board{width:100%; margin:0px auto; padding:0 108px; box-sizing:border-box;
	$this:&;
	&__table{display:table; width:100%; border-top:3px solid $color-line; border-spacing: 0;  border-collapse:collapse; table-layout: fixed;}
	&__td{display:table-cell; vertical-align:middle; line-height:1.5;  font-size:15px;
		&.type-list{height:70px;}
		&.type-center{text-align:center;}
	}
	&__tr{display:table-row; border-bottom:1px solid #e1e1e1; box-sizing:border-box;
		&.is-active{background-color:#fbfbfb;}
	}
	&__number{position:relative; width:80px; text-align:right; text-align:center;}
	&__line{position:relative; display:inline-block; width:100%;
		&:after{position:absolute; top:0; bottom:0; right:0; width:2px; height:16px; background-color:#e5e5e5; margin:auto 0; content:'';}

	}
	&__title{width:100%; padding:5px 40px;}
	&__date{width:130px; text-align:center;}
	&__category{margin-right:10px;font-weight:500; color:$color-txt;}
	&__link{display:block; width:100%; overflow:hidden; text-overflow:ellipsis; color:#666; text-decoration:none;
		&:hover{color:inherit;}
	}
	&__content{display:block; padding:50px 100px 100px; font-size:15px; line-height:1.6; box-sizing:border-box;
		& h2{margin:0 0 40px 0; font-size:25px; font-weight:400; color:#333;}
		&.type-another{padding:50px 150px 100px;}
		&.type-society{padding:50px 85px 100px;}
	}
	&__find{position:relative; display:inline-block; width:234px; height:32px; margin-left:16px; padding:0 42px 0px 12px; border:1px solid #ddd; border-radius:16px 16px 16px 16px; vertical-align:middle;
		box-sizing:border-box;
	}
	&__find-input{width:100%; height:100%; margin:0; padding:0; border:none; outline:none;}
	&__find-btn{overflow:hidden; position:absolute; top:0; bottom:0; right:18px; display:inline-block; width:18px; height:18px; margin:auto 0 ; background:url('../images/common/board_search.png'); font-size:0; text-indent:-9999px; border:none; cursor:pointer; outline:0;}
	&__nodata{padding:85px 0; text-align:center;
		& img{max-width:100px;}
	}
	&__nodata-txt{margin:18px 0 0 0;  font-size: 18px; color: #969696;  line-height: 170%;}
	&__academic{font-size:17px; font-weight:400; color:#535353; vertical-align:middle;}
	&__national{width:30px; vertical-align:middle;
		& + #{$this}__academic{margin-left:10px;}
		&.hidden-m{display:inline-block !important;}
	}
	@media only screen and (max-width:$tablet-size){padding:0;
		&__content{
			& img{max-width:100%;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__find{width:100%; height:30px; margin-left:0; border-radius:15px 15px 15px 15px;}
		&__find-btn{width:16px; height:17px;  background:url('../images/common/board_search_m.png'); background-size:16px 17px;}
		&__table{display:block;
			&.type-view{
				& #{$this}__date{display:none;}
			}
		}
		&__tr{display:block; padding:20px 15px;}
		&__td{height:auto; font-size:1.5rem;
			&.type-list{height:auto;}
		}
		&__number{display:none;}
		&__title{display:block; width:100%; padding:0;}
		&__date{display:block; margin-top:2px; font-size:1.2rem; text-align:left;}
		&__link{padding:0;}
		&__content{display:block; padding:30px 7px 60px; font-size:1.4rem;
			& h2{margin:0; font-size:1.7rem;}
			&.type-another,&.type-society{padding:30px 7px 60px;}
		}
		&__nodata{padding:46px 0; text-align:center;
			& img{max-width:53px;}
		}
		&__nodata-txt{font-size: 1.5rem;}
		&__academic{font-size:1.5rem;}
		&__national{width:20px; vertical-align:middle;
			&.hidden-pt{display:inline-block !important;}
			&.hidden-m{display:none !important;}
			& + #{$this}__academic{margin-left:5px;}
		}
	}
}
@media only screen { .radio1 { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0); }
  .radio1 + label { display: inline-block; position: relative; height: 20px; margin-bottom:0; margin-left: 0; padding-left: 28px; cursor: pointer; line-height: 20px; font-size:16px; font-weight:300; color:#666; }
  .radio1 + label:before { position: absolute; top: 0; bottom: 0; left: 0; box-sizing: border-box; width: 20px; height: 20px; margin: auto; border: 1px solid #c8c8c8; border-radius: 50%; background-color: #fff; content: ''; cursor: pointer; }
  .radio1 + label:after { overflow: hidden; position: absolute; top: 5px; left: 5px; width: 10px; height: 10px; border-radius: 50%; background-color: #dcdcdc; cursor: pointer; content: ''; }
  .radio1:checked + label:after {background-color: $color-txt}
  @media only screen and (max-width:$mobile-size){
	.radio1 + label {font-size:1.4rem; padding-left: 25px;}
  }
}
.radio1 + label + .radio1 + label { margin-left: 20px;
	@media only screen and (max-width:$mobile-size){margin-left:10px;}
	@media only screen and (max-width:$iphone-size){margin-left:5px;}
}
