@charset "utf-8";
@import "mixins";

.gear{
	&__visual{height:570px; background:url('../images/introduce/gear/gear_bg.jpg') no-repeat center center / cover;}
	&__visual-wrap{width:100%; height:inherit; max-width:1280px; padding:0 740px 0 108px; margin:0px auto; box-sizing:border-box; background:url('../images/introduce/gear/gear_visual1.png') no-repeat right 86px bottom;}
	&__visual-tit{margin:0; font-size:70px; color:#80c1bb; font-weight:$lightDown;}
	&__visual-txt{margin:30px 0 0 0; font-size:18px; color:#ccc; line-height:1.77; font-weight:$lightDown;}
	&__list{margin:0; padding:0 108px;}
	&__item{position:relative; list-style:none;
		&:after{display:block; clear:both; content:'';}
		& + &{margin-top:60px;}
	}
	&__table{width:100%; padding:0; border-spacing:0px; border:0; border-top:2px solid #52d6c9; border-collapse:collapse;}
	&__th,&__td{padding:5px 14px; font-size:17px; vertical-align:middle; box-sizing:border-box; line-height:2;}//padding:25px 14px;
	&__tr{border-bottom:1px solid #e5e5e5; box-sizing:border-box;
		&.type-tit{height:84px;}
		&.type-content{height:153px;}
		&.type-effect{height:120px;}
	}
	&__th{font-weight:$medium;}
	&__th-w{width:102px;}
	&__td-w{width:auto;}
	&__td{font-weight:$light;}
	&__box{height:360px;
		&.type-img{position:absolute; top:0; left:0; width:54.51%; height:360px;}
		&.type-txt{padding-left:57.33%; box-sizing:border-box;}
	}
	&__img{position:relative; width:100%; height:100%;}
	@media only screen and (max-width: $tablet-size) {
		&__visual{height:auto; background-image:none; background-color:#120008; text-align:center;}
		&__visual-wrap{position:relative; padding:100px 164px 75.26%; background:none;
			&:after{position:absolute; left:0; bottom:0; width:100%; height:0; padding-bottom:75.26%; background:url('../images/introduce/gear/gear_bg_t.jpg') center center / cover; content:'';}
		}
		&__list{padding:0 52px; box-sizing:border-box;}
		&__box{height:auto;
			&.type-img{position:static; top:auto; left:auto; width:100%; height:auto;}
			&.type-txt{padding-left:0;}
			& + &{margin-top:40px;}
		}
		&__img{width:100%; height:0; padding-bottom:62.06%;}
		&__tr{
			&.type-tit{height:auto}
			&.type-content{height:auto;}
			&.type-effect{height:auto;}
		}
		&__th,&__td{padding:25px 12px; vertical-align:top;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__visual-tit{font-size:3.6rem;}
		&__visual-txt{margin-top:18px; font-size:1.2rem;}
		&__visual-wrap{padding:50px 30px 75.26%;}
		&__list{padding:0 36px;}
		&__item{
			& + &{margin-top:30px;}
		}
		&__box{
			& + &{margin-top:20px;}
		}
		&__th,&__td{padding:12px 7px; font-size:1.2rem;}
		&__td{line-height:1.7;}
		&__th-w{width:51px;}
	}
}
