@charset "UTF-8";
@import "mixins";
.content-section{
	&.heal-section0{
		&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:url('../images/heal/detail/heal_detail_top.jpg') no-repeat center center / cover; content:'';}
	}
	&.heal-section1{
		&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:url('../images/heal/detail/heal_detail_bg1.jpg') no-repeat left center / cover;  content:'';}
		.inner-wrap{position:relative; }
	}
	&.heal-section2{
		&:before{position:absolute; top:0; right:0; display:block; width:100%; height:100%; background:url('../images/heal/detail/heal_detail_bg2.jpg') no-repeat center right / cover;  content:'';}
	}
	&.heal-section3{background-color:#f4f4f4;
		&:before{position:absolute; top:0; left:0; display:block; width:50%; height:100%; background:url('../images/heal/detail/heal_detail_bg3.jpg') no-repeat left center / contain;  content:'';}
	}
	&.heal-section4{background-color:#f3e5e2;
		&:before{position:absolute; top:0; right:0; display:block; width:100%; height:100%; background:url('../images/heal/detail/heal_detail_bg4.jpg') no-repeat center center / cover;  content:'';}
	}
	@media only screen and (max-width:$tablet-size){
		&.heal-section1{ background:url('../images/heal/detail/heal_detail_bg1_t.jpg') no-repeat left center / cover; }
		&.heal-section2{ background:url('../images/heal/detail/heal_detail_bg2_t.jpg') no-repeat left center / cover; }
		&:not(.heal-section0):before{display:none !important;}
	}
	@media only screen and (max-width:$mobile-size){
		&.heal-section0:before{background:url('../images/heal/detail/heal_detail_top_m.jpg') no-repeat center center / cover;}
	}
}

.heal-detail1{
	&__color{color:#ed5154;}
	&__list{margin:56px 0 0 0; padding:0; font-size:0;}
	&__item{display:inline-block; list-style:none;
		& + &{margin-left:10px;}
	}
	&__caption{height:30px; margin:0; line-height:30px; background-color:#5d1404; color:#fff; font-size:16px; text-align:center;font-weight:$light; text-transform: uppercase;}
	&__noti{position:absolute; left:0; bottom:50px; font-size:14px; color:#fff; z-index:10;}
	@media only screen and (max-width:$tablet-size){
		&__img{padding-bottom:63.15%; background:url('../images/heal/detail/heal_detail_bg1_1_t.png') no-repeat left bottom / contain;}
		&__noti{left:20px; bottom:60px;}
		&__list{position:absolute; bottom:90px; right:110px; width:190px; margin:0;}
		&__item{display:block;
			& + &{margin:16px 0 0 0;}
		}
		&__box{position:relative;width:100%; height:0; padding-bottom:66.11%;
			img{position:absolute; top:0; left:0; width:100%; height:100%;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__list{bottom:55px; right:12px; width:95px;}
		&__item{
			& + &{margin-top:8px;}
		}
		&__caption{height:18px; line-height:20px; font-size:1rem;}
		&__noti{left:12px; bottom:55px; font-size:1rem;}
	}
}
.heal-detail2{
	&__tit{color:#fff;}
	&__subtit{color:#fff;}
	&__txt{color:#cfaaaa;}
	&__color{color:#ffea76;}
	@media only screen and (max-width:$tablet-size){
		&__img{margin-top:0; padding-bottom:64.58%; background:url('../images/heal/detail/heal_detail_bg2_1_t.png') no-repeat center bottom / contain;}
	}
	@media only screen and (max-width:$mobile-size){
		&__img{margin-top:20px;}
	}
}
.heal-detail3{
	&__color{color:#ed5154;}
	@media only screen and (max-width:$tablet-size){
		&__img{padding-bottom:55.07%; background:url('../images/heal/detail/heal_detail_bg3_t.jpg') no-repeat center bottom / cover;}
	}
	@media only screen and (max-width:$mobile-size){
		&__img{background-position:left bottom;}
	}
}
.heal-detail4{
	&__color{color:#ed5154;}
	@media only screen and (max-width:$tablet-size){
		&__img{padding-bottom:57.81%; background:url('../images/heal/detail/heal_detail_bg4_t.jpg') no-repeat center bottom / cover;}
	}
}
