@charset "utf-8";
@import "mixins";
.content-visual{
	$this:&;
	&.type-indian{
		#{$this}__img{background:url('../images/contour/indian/indian_visual.jpg') no-repeat center center / cover;}
		#{$this}__point{background-color:$lifting;}
		#{$this}__tit-point{color:$lifting;}
		#{$this}__table{background-color:#690a1c;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-indian{
			#{$this}__img{background:url('../images/contour/indian/indian_visual.jpg') no-repeat center right -44px / cover;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-indian{
			#{$this}__img{background:url('../images/contour/indian/indian_visual.jpg') no-repeat center right -18px / cover;}
		}
	}
}
.content-top{
	$this:&;
	&.type-indian{padding:150px 200px 770px; box-sizing:border-box; background:url('../images/contour/indian/indian_img1.jpg') no-repeat center bottom / cover;
		#{$this}__subtit{margin-top:0;}
		#{$this}__txt{
			&:before{border-color:#828282;}
		}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-indian{padding:100px 30px 76.56%; background:url('../images/contour/indian/indian_img1_t.jpg') no-repeat center bottom / cover;
			#{$this}__txt{padding-left:50px; padding-right:50px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-indian{padding:50px 30px 92.81%; background:url('../images/contour/indian/indian_img1_m.jpg') no-repeat center bottom / cover; }
	}
}

.indian-box1{position:relative;
	&__list{position:absolute; bottom:34%; right:calc(50% - 400px); margin:0; padding:0;}
	&__item{display:inline-block; width:180px; height:180px;  border-radius:50%; border:10px solid #9e89b4;  text-align:center;
		font-size:20px; color:$black1; background-color:#fff; line-height:1.5;
		& + &{margin-left:20px;}
	}
	@media only screen and (max-width: $tablet-size){
		&__list{right:65px; bottom:26%;}
		&__item{width:160px; height:160px;}
	}
	@media only screen and (max-width: $mobile-size){
		&__list{right:16px; bottom:28%;}
		&__item{width:70px; height:70px; border-width:5px; font-size:1rem;
			& + &{margin-left:7px;}
		}
	}
}

.indian-box2{box-sizing:border-box; background-color:#333;
	&__tit{color:#fff;}
	&__txt{margin-top:40px; color:#bbb;}
	&__img{overflow:hidden; position:relative; width:100%; height:0; padding-bottom:61.84%; background:url('../images/contour/indian/indian_img2.jpg') #333 no-repeat center bottom / cover; }
	@media only screen and (max-width: $tablet-size){padding-left:0; padding-right:0;
		&__txt,&__tit{padding-left:60px; padding-right:60px; box-sizing:border-box;}
		&__img{padding-bottom:71.6%; background:url('../images/contour/indian/indian_img2_t.jpg') #333 no-repeat center bottom / cover;}
	}
	@media only screen and (max-width: $mobile-size){
		&__txt,&__tit{padding-left:30px; padding-right:30px;}
	}
}
.indian-box3{padding:70px 200px; background-color:#0a0a0a; text-align:center; box-sizing:border-box;
	&__txt{color:#fff;}
	@media only screen and (max-width: $tablet-size){padding:54px 100px;}
	@media only screen and (max-width: $mobile-size){padding:24px 22px;
		&__txt{font-size:1.2rem;}
	}
}
.indian-box4{padding-top:0; padding-bottom:0;
	&__txt{margin-top:40px;}
	&__txt2{margin:50px 0 0 0; font-size:20px; color:$black2; line-height:1.8;}
	&__box{position:relative; padding:150px 55% 150px 0; box-sizing:border-box; text-align:left;
		&:after{position:absolute; top:0; right:0; display:block; width:50%; height:100%; background:url('../images/contour/indian/indian_img3.jpg') no-repeat right bottom / contain; content:'';}
	}
	@media only screen and (max-width: $tablet-size){
		&__txt{margin-top:30px;}
		&__txt2{margin-top:40px;}
		&__box{padding-right:0; padding-bottom:120.06%;
			&:after{position:absolute; top:auto; bottom:0; width:100%; height:0; padding-bottom:120%; background:url('../images/contour/indian/indian_img3_t.jpg') no-repeat right bottom / contain; }
		}
	}
	@media only screen and (max-width: $mobile-size){
		&__txt{margin-top:15px;}
		&__txt2{margin-top:20px; font-size:1.5rem;}
		&__box{padding-top:50px;}
	}
}
.indian-box5{padding-bottom:90px; background-color:#dcdcf6;
	&__txt{margin-top:50px;}
	&__list{margin:50px 0 0 0; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; height:370px; list-style:none;
		&.type-img{overflow:hidden; text-indent:-9999px; font-size:0; background:url('../images/contour/indian/indian_img4.jpg') no-repeat center center / cover;}
		&.type-txt{padding:0 80px; background-color:#482d58; color:#fff; font-size:22px; line-height:1.72; text-align:left; box-sizing:border-box;}
	}
	&__noti{margin:30px 0 0 0; font-size:14px; color:$black2; line-height: 1.7;}
	@media only screen and (max-width: $tablet-size){padding:100px 118px; box-sizing:border-box;
		&__txt{margin:40px -40px 0;}
		&__list{margin-top:30px;}
		&__item{width:100%; height:auto;
			&.type-img{position:relative; height:0; padding-bottom:69.54%;}
			&.type-txt{padding:56px 40px;}
		}
	}
	@media only screen and (max-width: $mobile-size){padding:50px 27px;
		&__list{margin-top:24px;}
		&__txt{margin:24px 0 0;}
		&__item{
			&.type-txt{padding:26px 20px; font-size:1.2rem;}
		}
		&__noti{margin-top:24px; font-size:1rem;}
	}
}
.indian-box6{padding:170px 45% 170px 108px; background:url('../images/contour/indian/indian_bg1.jpg') no-repeat center center / cover; text-align:left; box-sizing:border-box;
	&__subtit{margin:0; font-size:18px; font-weight:$light; color:#bab0c0; line-height:1.44;}
	&__tit{margin:34px 0 0 0; font-size:40px; font-weight:$thin; color:#fff; line-height:1.375;}
	&__point{color:#ffac1b; font-weight:$regular;}
	@media only screen and (max-width: $tablet-size){padding:150px 300px 150px 65px; background:url('../images/contour/indian/indian_bg1_t.jpg') no-repeat center center / cover;}
	@media only screen and (max-width: $mobile-size){padding:74px 120px 74px 12px;
		&__subtit{font-size:1.1rem;}
		&__tit{font-size:2.2rem;}
	}
}


.color-indian1{color:$lifting;}
.color-indian2{color:#d8b2ff}
