@charset "utf-8";
@import "mixins";
.content-visual{
	$this:&;
	&.type-lifting{
		#{$this}__img{background:url('../images/contour/lifting/all_visual.jpg') no-repeat center center / cover;}
		#{$this}__point{background-color:$lifting;}
		#{$this}__tit-point{color:$lifting;}
	}
}
.allinone-box1{position:relative;
	.content-top{padding:0 11.7% 19.5%; box-sizing:border-box;}
	&__list{margin:250px 0 0 0; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{width:240px; height:240px; border:10px solid #9e89b4; border-radius:50%; list-style:none; background-color:#fff;
		&.type-left{float:left;}
		&.type-right{float:right;}
	}
	&__txt{padding:0 30px; box-sizing:border-box; font-size:20px; color:$black1; line-height:1.5; text-align:center;}
	@media only screen and (max-width: $tablet-size) {
		.content-top{padding:0 65px 17.5%;}
		&__item{width:190px; height:190px;}
	}
	@media only screen and (max-width: $mobile-size) {
		.content-top{padding:0 12px 17.5%;}
		&__list{margin:130px -10px 0;}
		&__item{width:100px; height:100px; border-width:5px;}
		&__txt{padding:0 15px; font-size:1.1rem;}
	}
}
.allinone-box2{background-color:#f3ecf8; text-align:left;
	&__tit{margin:0;}
	&__box{padding:140px 0 110px; background:url('../images/contour/lifting/all_img2.jpg') no-repeat center right / cover;}
	&__txt{margin:40px 0 0 0;}
	&__list{margin:0; padding:0;}
	&__item{list-style:none;
		& + &{margin-top:30px}
	}
	.solution__item{
		&:first-child{
			.solution__wrap{background-color:#929292;}
		}
	}
	@media only screen and (max-width: $tablet-size) {margin: 0;
		&__box{margin:0 -65px; padding:130px 65px 320px; background:url('../images/contour/lifting/all_img2_t.jpg') no-repeat right top / cover;}
		&__list{margin-top:-250px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__box{margin:0 -12px; padding:75px 160px 75px 12px; background:url('../images/contour/lifting/all_img2_m.jpg') no-repeat right top / cover;}
		&__list{margin-top:-25px;}
	}
}

.allinone-box3{text-align:center; box-sizing:border-box;
	$this:&;
	&__tit{margin:0;}
	&__box{display:table-cell; width:1%; height:130px; border:1px solid #eeeeee; box-sizing:border-box; vertical-align:middle;}
	&__img{overflow:hidden; width:100%; height:0; padding-bottom:49.42%; text-indent:-9999px;}
	&__list{margin:80px 0 0 -50px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; padding-left:50px; list-style:none; box-sizing:border-box;
		&.nth-1{
			#{$this}__img{background:url('../images/contour/lifting/thum_img7.jpg') no-repeat center center / cover;}
		}
		&.nth-2{
			#{$this}__img{background:url('../images/contour/lifting/thum_img8.jpg') no-repeat center center / cover;}
		}
		&.nth-3{
			#{$this}__img{background:url('../images/contour/lifting/thum_img9.jpg') no-repeat center center / cover;}
		}
		&.nth-4{
			#{$this}__img{background:url('../images/contour/lifting/thum_img10.jpg') no-repeat center center / cover;}
		}
		& + & + &{margin-top:46px;}
	}
	&__subject{margin:0; font-size:24px; font-weight:$light; color:$black1;}
	&__txt{margin:12px 0 0 0; font-size:16px; color:$black3;}
	@media only screen and (max-width: $tablet-size) {padding-bottom:0;
		&__list{margin-left:-18px;}
		&__item{padding-left:18px;
			&.nth-1{
				#{$this}__img{background:url('../images/contour/lifting/thum_img7_t.jpg') no-repeat center center / cover;}
			}
			&.nth-2{
				#{$this}__img{background:url('../images/contour/lifting/thum_img8_t.jpg') no-repeat center center / cover;}
			}
			&.nth-3{
				#{$this}__img{background:url('../images/contour/lifting/thum_img9_t.jpg') no-repeat center center / cover;}
			}
			&.nth-4{
				#{$this}__img{background:url('../images/contour/lifting/thum_img10_t.jpg') no-repeat center center / cover;}
			}
			& + & + &{margin-top:18px;}
		}
		&__img{padding-bottom:67.41%;}
	}
	@media only screen and (max-width: $mobile-size){
		&__list{margin:25px 0 0 -10px;}
		&__item{padding-left:10px;
			& + & + &{margin-top:18px;}
		}
		&__box{height:65px;}
		&__subject{font-size:1.4rem;}
		&__txt{margin-top:6px; font-size:1.2rem;}
	}
}
.allinone-box4{background-color:#25202b; text-align:center;
	&__subtit{margin:0; color:#fff; font-weight:$thin;}
	&__tit{ color:#fff;}
	&__txt{margin:40px 0 0 0; color:#b1acb7;}
	&__img{overflow:hidden; height:0; margin:0 -108px; padding-bottom:56.4%; background:url('../images/contour/lifting/all_img3.jpg') center bottom / cover; text-indent:-4449px;}
	@media only screen and (max-width: $tablet-size) {margin:0;
		&__img{margin:0 -65px; padding-bottom:99.4%; background:url('../images/contour/lifting/all_img3_t.jpg') center bottom / cover;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__txt{margin-top:20px;}
		&__img{margin:-30px -12px 0; padding-bottom:88.6%;}
	}
}
.allinone-box5{background-color:#a39bc6; text-align:center;}




.solution{
	$this:&;
	&__list{margin:0 0 0 -64px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; padding-left:64px; width:50%; list-style:none; box-sizing:border-box;
		&.nth-1{
			#{$this}__box{
				&:before{background:url('../images/contour/lifting/thum_img1.jpg') no-repeat center center / cover;}
			}
		}
		&.nth-2{
			#{$this}__box{
				&:before{background:url('../images/contour/lifting/thum_img2.jpg') no-repeat center center / cover;}
			}
		}
		&.nth-3{
			#{$this}__box{
				&:before{background:url('../images/contour/lifting/thum_img3.jpg') no-repeat center center / cover;}
			}
		}
		&.nth-4{
			#{$this}__box{
				&:before{background:url('../images/contour/lifting/thum_img4.jpg') no-repeat center center / cover;}
			}
		}
		&.nth-5{
			#{$this}__box{
				&:before{background:url('../images/contour/lifting/thum_img5.jpg') no-repeat center center / cover;}
			}
		}
		&.nth-6{
			#{$this}__box{
				&:before{background:url('../images/contour/lifting/thum_img6.jpg') no-repeat center center / cover;}
			}
		}
		& + &{position:relative;
			&:before{position:absolute; top:0; bottom:0; left:20px; width:26px; height:28px; margin:auto 0; background:url('../images/contour/lifting/allinone_icon1.png') no-repeat center center / cover; content:'';}
		}
	}
	&__box{position:relative; padding-left:50%; box-sizing:border-box;
		&:before{position:absolute; left:0; top:0; width:50%; height:100%; content:'';}
	}
	&__wrap{display:table-cell; width:1%; height:240px; padding:0 20px; box-sizing:border-box; vertical-align:middle; color:#fff; background-color:#3c2454;}
	&__tit{margin:0; font-size:24px; font-weight:$light;}
	&__txt{margin:20px 0 0 0; font-size:16px; line-height:1.5;}
	@media only screen and (max-width: $tablet-size) {
		&__box{padding-left:0;
			&:before{position:static; display:block; width:100%; height:0; padding-bottom:82.75%;}
		}
		&__wrap{height:130px; padding:0 15px;  text-align:center;}
		&__txt{margin-top:10px;}
		&__list{margin-left:-58px;}
		&__item{padding-left:58px;
			&.nth-1{
				#{$this}__box{
					&:before{background:url('../images/contour/lifting/thum_img1_t.jpg') no-repeat center center / cover;}
				}
			}
			&.nth-2{
				#{$this}__box{
					&:before{background:url('../images/contour/lifting/thum_img2_t.jpg') no-repeat center center / cover;}
				}
			}
			&.nth-3{
				#{$this}__box{
					&:before{background:url('../images/contour/lifting/thum_img3_t.jpg') no-repeat center center / cover;}
				}
			}
			&.nth-4{
				#{$this}__box{
					&:before{background:url('../images/contour/lifting/thum_img4_t.jpg') no-repeat center center / cover;}
				}
			}
			&.nth-5{
				#{$this}__box{
					&:before{background:url('../images/contour/lifting/thum_img5_t.jpg') no-repeat center center / cover;}
				}
			}
			&.nth-6{
				#{$this}__box{
					&:before{background:url('../images/contour/lifting/thum_img6_t.jpg') no-repeat center center / cover;}
				}
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&__wrap{height:85px;}
		&__tit{font-size:1.6rem;}
		&__txt{margin-top:5px; font-size:1.2rem;}
		&__list{overflow:hidden; margin-left:-29px;}
		&__item{padding-left:29px;
			&.nth-1{
				#{$this}__box{
					&:before{background:url('../images/contour/lifting/thum_img1_t.jpg') no-repeat center center / cover;}
				}
			}
			&.nth-2{
				#{$this}__box{
					&:before{background:url('../images/contour/lifting/thum_img2_t.jpg') no-repeat center center / cover;}
				}
			}
			&.nth-3{
				#{$this}__box{
					&:before{background:url('../images/contour/lifting/thum_img3_t.jpg') no-repeat center center / cover;}
				}
			}
			&.nth-4{
				#{$this}__box{
					&:before{background:url('../images/contour/lifting/thum_img4_t.jpg') no-repeat center center / cover;}
				}
			}
			&.nth-5{
				#{$this}__box{
					&:before{background:url('../images/contour/lifting/thum_img5_t.jpg') no-repeat center center / cover;}
				}
			}
			&.nth-6{
				#{$this}__box{
					&:before{background:url('../images/contour/lifting/thum_img6_t.jpg') no-repeat center center / cover;}
				}
			}
			& + &{
				&:before{left:10px; width:13px; height:14px; background-size:13px 14px;}
			}
		}
	}
}
//왼쪽 이미지
.img-list1{
	$this:&;
	&.type-lifting{
		#{$this}__item{
			&.nth-1{
				#{$this}__box{
					&:before{background:url('../images/contour/lifting/thum_img11.jpg') no-repeat center center / cover;}
				}
			}
			&.nth-2{
				#{$this}__box{
					&:before{background:url('../images/contour/lifting/thum_img12.jpg') no-repeat center center / cover;}
				}
			}
			&.nth-3{
				#{$this}__box{
					&:before{background:url('../images/contour/lifting/thum_img13.jpg') no-repeat center center / cover;}
				}
			}
		}
	}
	@media only screen and (max-width: $minpc-size3) {
		&.type-lifting{
			#{$this}__item{
				&.nth-1{
					#{$this}__box{
						&:before{background:url('../images/contour/lifting/thum_img11_t.jpg') no-repeat center center / cover;}
					}
				}
				&.nth-2{
					#{$this}__box{
						&:before{background:url('../images/contour/lifting/thum_img12_t.jpg') no-repeat center center / cover;}
					}
				}
				&.nth-3{
					#{$this}__box{
						&:before{background:url('../images/contour/lifting/thum_img13_t.jpg') no-repeat center center / cover;}
					}
				}
			}
		}
	}
}
.color-allinone1{color:$lifting;}
.color-allinone2{color:#ffac1b;}
