@charset "utf-8";
@import "mixins";
/*올인원토닝이랑 같이씀*/
.content-visual{
	$this:&;
	&.type-luminance{
		#{$this}__img{background:url('../images/whitening/luminance/luminance_visual.jpg') no-repeat center center / cover;}
		#{$this}__point{background-color:$whitening;}
		#{$this}__tit-point{color:$whitening;}
		#{$this}__table{background-color:#49a9d5;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-luminance{
			#{$this}__img{background:url('../images/whitening/luminance/luminance_visual.jpg') no-repeat center left -64px/ cover;}
			#{$this}__wrap{padding:0 40px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-luminance{
			#{$this}__img{background:url('../images/whitening/luminance/luminance_visual.jpg') no-repeat center left -26px/ cover;}
			#{$this}__wrap{padding:0 12px;}
		}
	}
}
.content-top{
	$this:&;
	&.type-luminance{padding:150px 200px 845px; box-sizing:border-box; background:url('../images/whitening/luminance/luminance_img1.jpg') no-repeat center bottom / cover;
		#{$this}__subtit{margin-top:0;}
		#{$this}__txt{
			&:before{border-color:#d8d8d8;}
		}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-luminance{padding:100px 30px 88.15%; background:url('../images/whitening/luminance/luminance_img1_t.jpg') no-repeat center bottom / cover;
			#{$this}__txt{padding-left:90px; padding-right:90px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-luminance{padding:50px 30px 112.5%;
			#{$this}__txt{padding-left:0px; padding-right:0px;}
		}
	}
}
.toning-box2{}
.color-luminance1{color:$whitening;}
