@charset "UTF-8";
@import "mixins";
$medical-color:#534c44;

.content-section{
	&.medical-section0{
		&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:url('../images/medical/detail/medical_detail_top.jpg') no-repeat center center / cover; content:'';}
		.detail-visual{margin-top:0;}
	}
	&.medical-section1{background-color:$medical-color;
		&:before{position:absolute; top:0; left:0; display:block; width:50%; height:100%; background:url('../images/medical/detail/medical_detail_bg1.jpg') no-repeat center center / cover;  content:'';}
		.inner-wrap{position:relative; }
	}
	&.medical-section2{background-color:#fafafa;
		&:before{position:absolute; top:0; right:0; display:block; width:100%; height:100%; background:url('../images/medical/detail/medical_detail_bg2.jpg') no-repeat center right / cover;  content:'';}
	}
	&.medical-section3{background-color:$medical-color;
		&:before{position:absolute; top:0; left:0; display:block; width:50%; height:100%; background:url('../images/medical/detail/medical_detail_bg3.jpg') no-repeat center center / cover;  content:'';}
	}
	&.medical-section4{background-color:#f2f1f6;
		&:before{position:absolute; top:0; right:0; display:block; width:100%; height:100%; background:url('../images/medical/detail/medical_detail_bg4.jpg') no-repeat center center / cover;  content:'';}
	}
	@media only screen and (max-width:$tablet-size){
		&.medical-section0{
			.detail-visual{margin-top:210px;}
		}
		&:not(.medical-section0):before{display:none !important;}
	}
	@media only screen and (max-width:$mobile-size){
		&.medical-section0:before{background:url('../images/medical/detail/medical_detail_top_m.jpg') no-repeat center center / cover;}
	}
}
.medical-detail1{
	&__tit{color:#ffffff;}
	&__subtit{color:#fff;}
	&__txt{color:#ccc7c1;}
	&__color{color:#d6b49b;}
	@media only screen and (max-width:$tablet-size){
		&__img{padding-bottom:64.06%; background:url('../images/medical/detail/medical_detail_bg1_t.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width:$mobile-size){
		&__list{bottom:55px; right:12px; width:95px;}
		&__item{
			& + &{margin-top:8px;}
		}
		&__caption{height:18px; line-height:20px; font-size:1rem;}
		&__noti{left:12px; bottom:55px; font-size:1rem;}
	}
}
.medical-detail2{
	&__tit{color:#000;}
	&__subtit{color:#000;}
	&__txt{color:#777;}
	&__color{color:#d6b49b;}
	@media only screen and (max-width:$tablet-size){
		&__img{ padding-bottom:70.05%; background:url('../images/medical/detail/medical_detail_bg2_t.jpg') no-repeat center bottom / contain;}
	}
	@media only screen and (max-width:$mobile-size){
	}
}
.medical-detail3{
	&__tit{color:#fff;}
	&__subtit{color:#fff;}
	&__txt{color:#9e9a98;}
	&__color{color:#d6b49b;}
	@media only screen and (max-width:$tablet-size){
		&__img{padding-bottom:64.06%; background:url('../images/medical/detail/medical_detail_bg3_t.jpg') no-repeat center bottom / cover;}
	}
	@media only screen and (max-width:$mobile-size){
		&__img{background-position:left bottom;}
	}
}
.medical-detail4{
	&__tit{color:#000;}
	&__subtit{color:#000;}
	&__txt{color:#777;}
	&__color{color:#d6b49b;}
	@media only screen and (max-width:$tablet-size){
		&__img{padding-bottom:69.79%; background:url('../images/medical/detail/medical_detail_bg4_t.jpg') no-repeat center bottom / cover;}
	}
}
.medical-color1{color:$medical-color;}
.medical-color2{color:#d6b49b;}
.popup-style1{width:520px;
	$this:&;
	&__list{margin:10px -16px 0; padding:0; font-size:0; text-align:center; }
	&__item{display:inline-block; width:150px; margin:30px 16px 0; list-style:none; vertical-align:top;
		&.nth-1{
			#{$this}__tit{
				&:before{background:url('../images/medical/detail/medical_popup_img1.png') no-repeat center center / contain;}
			}
		}
		&.nth-2{
			#{$this}__tit{
				&:before{background:url('../images/medical/detail/medical_popup_img2.png') no-repeat center center / contain;}
			}
		}
		&.nth-3{
			#{$this}__tit{
				&:before{background:url('../images/medical/detail/medical_popup_img3.png') no-repeat center center / contain;}
			}
		}
		&.nth-4{
			#{$this}__tit{
				&:before{background:url('../images/medical/detail/medical_popup_img4.png') no-repeat center center / contain;}
			}
		}
		&.nth-5{
			#{$this}__tit{
				&:before{background:url('../images/medical/detail/medical_popup_img5.png') no-repeat center center / contain;}
			}
		}
	}
	&__tit{margin:0; font-size:16px; color:#d6b49b; font-weight:$regular;
		&:before{display:block; width:150px; height:150px; margin:0 auto 10px; content:'';}
	}
	&__txt{margin:4px 0 0 0; font-size:12px; color:#666;}
	@media only screen and (max-width:$mobile-size){width:auto; padding:0 20px; box-sizing:border-box;
		&__list{margin-top:-20px;}
		&__tit{font-size:1.4rem;
			&:before{width:90px; height:90px;}
		}
		&__txt{font-size:1rem;}
		&__item{width:96px; margin:20px 10px 0;}
	}
}
.popup-style2{width:400px; padding:0 40px; box-sizing:border-box;
	$this:&;
	&__list{margin:34px 0 0 0; padding:0;}
	&__item{position:relative; display:block; height:70px; list-style:none; background-color:#eeeeee;
		& + &{margin-top:12px;}
		&:nth-child(even){
			#{$this}__num{background-color:#ae8e69;}
			#{$this}__txt:after{border-left-color:#ae8e69;}
		}
	}
	&__num{position:absolute; top:0; left:0; width:70px; height:70px; margin:0; line-height:70px; font-size:28px; background-color:#534c44; color:#fff;}
	&__wrap{display:table-cell; width:1%; height:inherit; padding-left:70px; vertical-align:middle; color:#000; font-size:16px; box-sizing:border-box;}
	&__txt{position:relative; padding:0 20px 0 30px; margin:0; text-align:left; box-sizing:border-box; line-height:1.625;
		&:after{position:absolute; top:0; bottom:0; left:0; display:block; width: 0px;height: 0px; margin:auto 0; border-top:10px solid transparent; border-left:10px solid #534c44;
			border-right:10px solid none; border-bottom: 10px solid  transparent; content:'';}
	}
	@media only screen and (max-width:$mobile-size){width:auto; padding:0 20px;
		&__list{margin-top:0;}
		&__item{height:40px;
			& + &{margin-top:10px;}
		}
		&__num{width:40px; height:40px; line-height:40px; font-size:1.8rem;}
		&__wrap{padding-left:40px; font-size:1.2rem;}
		&__txt{padding-left:15px; padding-right:10px; line-height:1.4;
			&:after{border-width:5px;}
		}
	}
}
.detail-circle{max-width:560px; margin-top:34px; margin-left:-30px;
	$this:&;
	&__list{position:relative; margin:0; padding:0; font-size:0; text-align:left;}
	&__item{position:absolute; display:inline-block; width:188px; height:188px; border-radius:50%; border:6px solid rgba(80,190,165,0.2); background-color:#fff; text-align:center; list-style:none;
		&.nth-1{position:static;
			#{$this}__tit{color:#50bea6;}
		}
		&.nth-2{left:0; right:0; margin:0px auto; z-index:1; border-color:rgba(241,141,141,0.2);
			#{$this}__tit{color:#f18d8d;}
		}
		&.nth-3{z-index:2; right:0; border-color:rgba(80,153,190,0.2);
			#{$this}__tit{color:#5099be;}
		}
	}
	&__subject{width:100%; height:30px; margin:10px 0 0 0; line-height:30px; color:#fff; background-color:#5b5b5b; font-size:16px; text-align:center;}
	&__txt{margin:0; font-size:16px; color:#000; line-height:1.625;}
	&__tit{margin:4px 0 0 0; font-size:22px; font-weight:$regular; line-height:1.45;}
	.vertical{padding:0 10px; box-sizing:border-box;}
	@media only screen and (max-width:$tablet-size){margin-left:0;}
	@media only screen and (max-width:$mobile-size){margin-top:16px;
		&__item{width:130px; height:130px; border-width:3px;}
		&__txt{font-size:1rem;}
		&__tit{font-size:1.4rem;}
		&__subject{height:24px; margin-top:7px; line-height:24px; font-size:1.2rem;}
	}
	@media only screen and (max-width:$iphone-size){
		&__item{width:104px; height:104px;}
	}
}
