@charset "utf-8";

$font-pt:'Roboto',sans-serif;

$font-normal:'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 돋음, Dotum, 'Helvetica Neue', Helvetica, Arial, serif;


//mixin
@mixin background-image-retina($file, $type, $width, $height:null ) {
	background-image: url($file + '.' + $type);
	@media only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (-moz-min-device-pixel-ratio: 2),
		only screen and (-o-min-device-pixel-ratio: 2/1),
		only screen and (min-device-pixel-ratio: 2),
		only screen and (min-resolution: 192dpi),
		only screen and (min-resolution: 2dppx){
		& {
			background-image: url($file + '@2x.' + $type);
			-webkit-background-size: $width $height;
			-moz-background-size: $width $height;
			-o-background-size: $width $height;
			background-size: $width $height;
		}
	}
}

@mixin hidden { overflow:hidden; position:absolute; width:0; height:0; }
@mixin block {
	&:before,
	&:after { clear:both; display:block; overflow:hidden; height:0; content:""; }
}
@mixin line-clamp($lines, $line-height) { display:block; display:-webkit-box; -webkit-box-orient:vertical; position:relative; text-overflow: ellipsis; -webkit-line-clamp:$lines; white-space:normal;
	&:after { position:absolute; right:0; bottom:0; width:77px; height:$line-height+em; background:url(../images/common/line-clamp.png) repeat-y right bottom; content:''; pointer-events:none; }
	@supports (-webkit-line-clamp: $lines) {
		height:auto;
		&:after { content:none}
	}
}

@mixin img-wrap {
	&__img-wrap { overflow:hidden; position:relative; }
	&__img { position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; max-width:100%; }
}

$mobile-size:680px;
$tablet-size:1025px;
$minpc-size1:1700px;
$minpc-size2:1480px; //1280?
$minpc-size3:1180px;
$iphone-size:340px;
$minH-size:900px;

$thin:100;
$lightDown:200;
$light:300;
$regular :400;
$medium :500;
$bold:600;
$black:700;

$black1:#000;
$black2:#444;
$black3:#777;
$black4:#999;
$black5:#555;

$lifting:#893adb;
$wedding:#d6b49b;
$stress:#d6b49b;
$ulthera:#ed1941; //울써마지랑 같이사용
$pore:#ffac1b;
$whitening:#71c3e9;
$color-normal:#444;
$color-line:#61cdc2;
$color-txt:#12a080;
$color-point:#52d6c9;
$color-bg:#23d6ae;
$color-yellow:#fff191;
$color-txt2:#18b3a4;

@mixin background($file, $backOption, $ver:190729 ) {
	background: url($file + '?ver=' + $ver)+" "+$backOption
}
