@charset "utf-8";
@import "mixins";
.content-visual{
	$this:&;
	&.type-necklift{
		#{$this}__img{background:url('../images/heal/necklift/necklift_visual.jpg') no-repeat center center / cover;}
		#{$this}__point{background-color:$ulthera;}
		#{$this}__tit-point{color:$ulthera;}
		#{$this}__table{background-color:#690a1c;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-necklift{
			#{$this}__img{background:url('../images/heal/necklift/necklift_visual.jpg') no-repeat center left -72px / cover;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-necklift{
			#{$this}__img{background:url('../images/heal/necklift/necklift_visual.jpg') no-repeat center left -50px / cover;}
		}
	}
}
.content-top{
	$this:&;
	&.type-necklift{padding:140px 200px 850px; box-sizing:border-box; background:url('../images/heal/necklift/necklift_img1.jpg') no-repeat center bottom / cover;
		#{$this}__subtit{margin-top:0;}
		#{$this}__txt{
			&:before{border-color:#828282;}
		}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-necklift{padding:100px 30px 90.625%; background:url('../images/heal/necklift/necklift_img1_t.jpg') no-repeat center bottom / cover;
			#{$this}__txt{padding-left:60px; padding-right:60px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-necklift{padding:50px 40px 111.5%;
			#{$this}__txt{padding-left:0px; padding-right:0px;}
		}
	}
}
.necklift-box2{background-color:#4c0815;
	&__tit{color:#fff;}
	&__list{margin:70px 0 0 -28px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:25%; padding-left:28px; list-style:none; box-sizing:border-box;}
	&__img{position:relative; width:100%; height:0; padding-bottom:100%;}
	&__subject{margin:30px 0 0 0; font-size:24px; font-weight:$light; color:#fff;}
	&__txt{margin:10px -5px 0; color:#f4cdcd; line-height:1.64;}
	@media only screen and (max-width: $tablet-size){overflow:hidden;
		&__list{margin:20px 0 0 -76px;}
		&__item{width:50%; margin-top:50px; padding-left:76px;}
		&__txt{margin:10px 0 0;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__list{margin:5px 0 0 -30px;}
		&__item{margin-top:25px; padding-left:30px;}
		&__subject{margin-top:14px; font-size:1.4rem;}
	}
}
.necklift-box3{background-color:#fedfe2;
	&__txt{margin:40px 0 0 0;}
	&__noti{margin:0;}
	&__img{position:relative; width:100%; height:0; margin-top:50px; padding-bottom:58.45%; background:url('../images/heal/necklift/necklift_img2.jpg') no-repeat center bottom / cover;}
	&__noti{position:absolute; left:0; right:0; bottom:40px; text-align:center; color:#fff;}
	@media only screen and (max-width: $tablet-size){
		&__txt{margin:40px -30px 0;}
		&__img{width:auto; margin:50px -65px 0; padding-bottom:96.25%; background:url('../images/heal/necklift/necklift_img2_t.jpg') no-repeat center bottom / cover; }
	}
	@media only screen and (max-width: $mobile-size) {
		&__txt{margin:20px 0 0; padding:0 30px; box-sizing:border-box;}
		&__img{margin:24px -12px 0; padding-bottom:85.5%;}
		&__noti{bottom:25px; font-size:1rem;}
	}
}
.necklift-box4{
	$this:&;
	&__list{margin:50px 0 0 0; padding:0;}
	&__item{position:relative; height:400px; padding-right:540px; list-style:none;
		&.nth-1{
			#{$this}__img{background:url('../images/heal/necklift/prevention_necklift1.jpg') no-repeat center center;}
		}
		&.nth-2{
			#{$this}__img{background:url('../images/heal/necklift/prevention_necklift2.jpg') no-repeat center center;}
		}
		&.nth-3{
			#{$this}__img{background:url('../images/heal/necklift/prevention_necklift3.jpg') no-repeat center center;}
		}
		& + &{margin-top:40px;}
	}
	&__img{overflow:hidden; width:100%; height:inherit; text-indent:-9999px;}
	&__box{position:absolute; top:0; right:0; width:504px; height:inherit; box-sizing:border-box; text-align:left;}
	&__subject{margin:0; font-size:24px; font-weight:$light; color:$black1;}
	@media only screen and (max-width: $tablet-size){padding-left:122px; padding-right:122px;
		&__item{height:auto; padding-right:0;}
		&__img{height:0; padding-bottom:76.33%;}
		&__box{position:static; width:100%; margin-top:36px;}
	}
	@media only screen and (max-width: $mobile-size) {padding-left:28px; padding-right:28px;
		&__list{margin-top:28px;}
		&__item{
			& + &{margin-top:20px;}
		}
		&__box{margin-top:16px;}
	}
}

.necklift-box5{background:url('../images/heal/necklift/necklift_bg1.jpg') no-repeat center center / cover;
	&__subtit{margin:0; font-size:30px; font-weight:$thin; color:#fff;
		&.type-another{margin-top:44px;}
		strong{font-weight:$regular}
	}
	&__tit{margin:30px 0 0 0; font-weight:$regular; color:#fff;}
	&__subject{margin:0; font-size:24px; color:#fff; font-weight:$light; line-height:1.25;}
	&__list{margin:50px -45px 0; padding:0; font-size:0;}
	&__item{display:inline-block; width:250px; height:290px; margin:0 45px; padding:0 10px; box-sizing:border-box; list-style:none;
		&.nth-1{background:url('../images/heal/necklift/necklift_hexa1.png') no-repeat center center / cover;}
		&.nth-2{background:url('../images/heal/necklift/necklift_hexa2.png') no-repeat center center / cover;}
		&.nth-3{background:url('../images/heal/necklift/necklift_hexa3.png') no-repeat center center / cover;}
	}
	&__txt{margin-top:10px; line-height:1.64; color:#f4cdcd;}
	@media only screen and (max-width: $tablet-size){
		&__list{position:relative; margin:50px -20px 0; padding-bottom:244px; box-sizing:border-box;}
		&__item{margin:0 20px;
			&.nth-2{position:absolute; left:0; right:0; bottom:0; margin:0px auto;}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&__subtit{font-size:1.6rem;
			&.type-another{margin-top:22px;}
		}
		&__tit{margin-top:16px;}
		&__list{margin:26px 0 0; padding-bottom:122px;}
		&__subject{font-size:1.6rem;}
		&__item{width:125px; height:145px; margin:0 10px; padding:0 4px; box-sizing:border-box; list-style:none;}
	}
}

.necklift-box6{padding-bottom:70px; background:url('../images/heal/necklift/necklift_bg2.jpg') no-repeat center center / cover;
	&__tit{margin:0; font-size:46px; font-weight:$thin;}
	&__txt{margin:42px 0 0 0; padding:0 120px; box-sizing:border-box; color:$black3; box-sizing:border-box;
		strong{color:$black2; font-weight:$light;}
	}
	&__list{margin:40px -20px 0; padding:0; font-size:0;}
	&__item{display:inline-block; width:196px; height:196px; margin:16px 20px; border:20px solid $ulthera; border-radius:50%; list-style:none; background-color:#fff;
		&:nth-child(even){border-color:#4c0815;}
	}
	&__subject{margin:0; font-size:24px; color:$black1;}
	@media only screen and (max-width: $tablet-size){overflow:hidden; background:url('../images/heal/necklift/necklift_bg2_t.jpg') no-repeat center center / cover;
		&__txt{padding:0 22px;}
	}
	@media only screen and (max-width: $mobile-size){padding-bottom:26px;
		&__tit{font-size:2.4rem;}
		&__txt{padding:0 16px;}
		&__list{margin:10px -18px 0;}
		&__item{width:98px; height:98px; margin:14px 18px; border-width:10px;}
		&__subject{font-size:1.3rem;}
	}
}
.necklift-box7{padding-top:0; padding-left:92px; padding-right:92px; background-color:#f9ecec;
	&__box{padding:90px 50px; background-color:#fff; box-sizing:border-box;}
	&__tit{margin:0; font-size:30px; color:$black1; font-weight:$regular;}
	&__txt{margin:30px 0 0 0;}
	&__img{margin-top:46px;
		img{max-width:100%;}
	}
	@media only screen and (max-width: $tablet-size){padding-left:65px; padding-right:65px;
		&__box{padding:90px 65px 80px;}
	}
	@media only screen and (max-width: $mobile-size){padding-left:12px; padding-right:12px;
		&__tit{font-size:1.6rem;}
		&__box{padding:28px 14px 34px;}
		&__img{margin-top:20px;}
	}
}

.necklift-box8{padding-bottom:144px; background:url('../images/heal/necklift/necklift_bg3.jpg') no-repeat center bottom / cover;
	&__tit{margin:0; font-size:46px; font-weight:$thin; color:#fff;}
	&__subtit{margin:40px 0 0 0; color:#fff; font-weight:$regular;}
	&__txt{margin-top:30px; padding:0 170px; color:#bfbfbf; box-sizing:border-box;}
	@media only screen and (max-width: $tablet-size){padding-bottom:84px; background:url('../images/heal/necklift/necklift_bg3_t.jpg') no-repeat center bottom / cover;
		&__txt{padding:0;}
	}
	@media only screen and (max-width: $mobile-size){padding:66px 12px 40px;
		&__tit{font-size:2.4rem;}
		&__subtit{margin-top:20px;}
		&__txt{margin-top:18px;}
	}
}
.necklift-box9{margin-top:-64px; padding:0 92px 150px; background-color:#323232;
	&__wrap{padding:76px 125px; background-color:#fff; text-align:center;}
	&__tit{margin:0; font-size:30px; color:$black1; font-weight:$regular;}
	&__txt{margin-top:32px; }
	&__img{position:relative; width:100%; height:0; margin-top:40px;
		&.nth-1{padding-bottom:41.88%;}
		&.nth-2{padding-bottom:36.79%;}
	}
	&__box{
		& + &{margin-top:50px; padding-top:50px; border-top:1px solid #d8d8d8;}
	}
	@media only screen and (max-width: $tablet-size){margin-top:-1px; padding:0 65px 100px;
		&__wrap{padding-left:65px; padding-right:65px;}
		&__img{
			&.nth-2{padding-bottom:59.42%;}
		}
	}
	@media only screen and (max-width: $mobile-size){padding:0 12px 50px;
		&__wrap{padding:40px 17px;}
		&__tit{font-size:1.6rem;}
		&__txt{margin-top:16px;}
		&__img{margin-top:16px;}
		&__box{
			& + &{margin-top:25px; padding-top:25px;}
		}
	}
}

.content-info{
	$this:&;
	&.type-necklift{margin-top:0; background-color:#690a1c;
		#{$this}__box{height:180px;
			&.type-subject{width:300px;}
			&.type-list{padding-left:300px;}
		}
		#{$this}__tit{padding-left:0; color:#fff;
			&:before{display:none;}
		}
		#{$this}__item{color:#c6b1b3;
			&:before{background:url('../images/heal/necklift/necklift_icon.png');}
		}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-necklift{margin-left:0; margin-right:0;
			#{$this}__box{height:auto;
				&.type-subject{width:100%;}
				&.type-list{padding-left:0;}
			}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&.type-necklift{
			#{$this}__item{
				&:before{width:6px; height:6px; background:url('../images/heal/necklift/necklift_icon.png'); background-size:6px 6px;}
			}
		}
	}
}



.number-style{margin:10px 0 0 0; padding:0; counter-reset:section;
	&__item{position:relative; padding:30px 0 30px 50px; list-style:none; border-bottom:1px solid #ccc; font-size:17px; color:$black3; box-sizing:border-box; line-height:1.5; letter-spacing:-1px;
		&:before{position:absolute; top:22px; left:0; display:block; width:40px; height:40px; border:4px solid #000000; counter-increment:section; content:"0"counter(section); border-radius:50%;
			line-height:32px; box-sizing:border-box; text-align:center; font-size:20px; color:$black1; font-weight:$medium;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__item{padding:14px 0 14px 27px; font-size:1.1rem;
			&:before{top:10px; width:22px; height:22px; border-width:2px; font-size:1.1rem; line-height: 18px;}
		}
	}
}
.color-necklift1{color:$ulthera;}
.color-necklift2{color:#ffc4cf;}
.color-necklift3{color:#ff869d;}
