@charset "UTF-8";
@import "mixins";
.fs-nav{
	@media only screen and (max-width:$tablet-size){display:none;}
}
.content-section{position:relative;
	&.section1{background:url('../images/introduce/philosophy/philosophy_bg1.jpg') no-repeat center center / cover;}
	&.section2{background:url('../images/introduce/philosophy/philosophy_bg2.jpg') no-repeat center center / cover;}
	&.section3{background:url('../images/introduce/philosophy/philosophy_bg3.jpg') no-repeat center bottom / cover;}
	&.section4{background:url('../images/introduce/philosophy/philosophy_bg4.jpg') no-repeat center bottom / cover;}
	@media only screen and (max-width:$tablet-size){height:auto !important; padding:0 65px; box-sizing:border-box;
		&.section1{overflow:hidden; background:url('../images/introduce/philosophy/philosophy_bg1_t.jpg') no-repeat center top / cover; padding-bottom:120px;}
		&.section2{background:url('../images/introduce/philosophy/philosophy_bg2_t.jpg') no-repeat center bottom / cover;}
		&.section3{background-image:none; background-color:#38c2d2;}
		&.section4{background:url('../images/introduce/philosophy/philosophy_bg4_t.jpg') no-repeat center bottom / cover;}
	}
	@media only screen and (max-width:$mobile-size){padding:0 12px; box-sizing:border-box;
		&.section1{padding-bottom:60px;}
	}
}

.leaf{overflow:hidden; position:absolute; left:0; bottom:-20px; display:block; width:800px; height:702px; background:url('../images/introduce/philosophy/philosophy_leaf.png') no-repeat center bottom / contain; text-indent:-999px;
	@media only screen and (max-width:$tablet-size){left:120px; bottom:0; width:100%;}
	@media only screen and (max-width:$mobile-size){left:27px;}
}
.philosophy-box1{padding-left:16px; box-sizing:border-box;
	&__tit{
		strong{margin-left:180px;}
	}
	&__subtit{margin-top:84px;}
	&__img{position:relative; width:100%; height:0; padding-bottom:149.24%;}
	&.type-img{padding-left:76px; box-sizing:border-box;}
	@media only screen and (max-width:$tablet-size){padding-left:0; padding-top:120px;
		&__img{margin-top:60px;}
		&.type-img{padding:0 54px;}
	}
	@media only screen and (max-width:$mobile-size){padding-top:90px; text-align:center;
		&.type-img{padding:0 15px; box-sizing:border-box;}
		&__tit{display:inline-block; box-sizing:border-box; text-align:left;
			strong{margin-left:90px;}
		}
		&__subtit{margin-top:24px;}
		&__img{margin-top:38px;}
	}
}
.philosophy-box2{margin-top:-340px; text-align:center;
	&__tit{color:#fff;}
	&__subtit{color:#fff;}
	&__txt{color:#aaa;}
	@media only screen and (max-width:$tablet-size){margin-top:0; padding-top:150px; padding-bottom:90%;}
	@media only screen and (max-width:$mobile-size){padding-top:70px; padding-bottom:118.6%;}
}
.philosophy-box3{text-align:center;
	&__tit{color:#fff;}
	&__subtit{color:#fff;}
	&__txt{color:#b0e9f0;}
	&__img{display:none;}
	@media only screen and (max-width:$tablet-size){padding-top:150px; padding-bottom:0%;
		&__img{position:relative; display:block; height:0; margin:60px -65px 0; padding-bottom:103.12%;}
	}
	@media only screen and (max-width:$mobile-size){margin-top:20px; padding-top:50px;
		&__img{position:relative; height:0; margin:20px -12px 0; padding-bottom:91.45%;}
	}
}
.philosophy-box4{width:802px; margin:0px auto; text-align:center;
	&__tit{color:#fff;}
	&__subtit{color:#fff;}
	&__txt{color:#949494;}
	&__list{margin:56px 0 0 -2px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; padding-left:2px; list-style:none; box-sizing:border-box;}
	&__img{position:relative; width:100%; height:0; padding-bottom:50%;}
	@media only screen and (max-width:$tablet-size){width:100%; padding:310px 0;
		&__tit{font-size:80px;}
	}
	@media only screen and (max-width:$mobile-size){padding:170px 0;
		&__tit{font-size:4rem;}
		&__list{margin-top:24px;}
	}
}
