@charset "UTF-8";
@import "mixins";
.content-section{
	&.pore-section0{
		&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:url('../images/pore/detail/pore_detail_top.jpg') no-repeat center center / cover; content:'';}
		.detail-visual{margin-top:0;}
	}
	&.pore-section1{background-color:#ebebeb;
		&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:url('../images/pore/detail/pore_detail_bg1.jpg') no-repeat left center / cover;  content:'';}
		.inner-wrap{position:relative; }
	}
	&.pore-section2{background-color:#271900;
		&:before{position:absolute; top:0; right:0; display:block; width:100%; height:100%; background:url('../images/pore/detail/pore_detail_bg2.jpg') no-repeat center right / cover;  content:'';}
	}
	&.pore-section3{
		&:before{position:absolute; top:0; left:0; display:block; width:50%; height:100%; background:url('../images/pore/detail/pore_detail_bg3.jpg') no-repeat left center / contain;  content:'';}
	}
	&.pore-section4{background-color:#ebebeb;
		&:before{position:absolute; top:0; right:0; display:block; width:100%; height:100%; background:url('../images/pore/detail/pore_detail_bg4.jpg') no-repeat center center / cover;  content:'';}
	}
	@media only screen and (max-width:$tablet-size){
		&.pore-section0{
			.detail-visual{margin-top:210px;}
		}
		&.pore-section3{background-color:#fff;}
		&:not(.pore-section0):before{display:none !important;}
	}
	@media only screen and (max-width:$mobile-size){
		&.pore-section0:before{background:url('../images/pore/detail/pore_detail_top_m.jpg') no-repeat center center / cover;}
	}
}
$pore-color:#ffac1b;
.pore-detail1{
	&__color{color:$pore-color;}
	@media only screen and (max-width:$tablet-size){
		&__img{overflow:hidden; padding-bottom:86.97%; background:url('../images/pore/detail/pore_detail_bg1_t.jpg') no-repeat center center / cover; text-indent:-9999px;}
	}
	@media only screen and (max-width:$mobile-size){
		&__img{padding-bottom:133.125%; background:url('../images/pore/detail/pore_detail_bg1_m.jpg') no-repeat center center / cover; text-indent:-9999px;}
	}
}
.pore-detail2{
	&__tit{color:#fff;}
	&__subtit{color:#fff;}
	&__txt{color:#9c978b;}
	&__color{color:$pore-color;}
	@media only screen and (max-width:$tablet-size){
		&__img{overflow:hidden; padding-bottom:70.05%; background:url('../images/pore/detail/pore_detail_bg2_t.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width:$mobile-size){
		&__img{padding-bottom:85.93%; background:url('../images/pore/detail/pore_detail_bg2_m.jpg') no-repeat center center / cover;}
	}
}
.pore-detail3{
	&__color{color:$pore-color;}
	@media only screen and (max-width:$tablet-size){
		&__img{padding-bottom:56.51%; background:url('../images/pore/detail/pore_detail_bg3_t.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width:$mobile-size){
		&__img{padding-bottom:77.34%; background:url('../images/pore/detail/pore_detail_bg3_m.jpg') no-repeat center center / cover;}
	}
}
.pore-detail4{
	&__color{color:$pore-color;}
	@media only screen and (max-width:$tablet-size){
		&__img{padding-bottom:55.46%; background:url('../images/pore/detail/pore_detail_bg4_t.jpg') no-repeat center center / cover;}
	}
}
