@charset "utf-8";
@import "mixins";
.content-visual{
	$this:&;
	&.type-scar{
		#{$this}__img{background:url('../images/pore/scar/scar_visual.jpg') no-repeat center center / cover;}
		#{$this}__point{background-color:$pore;}
		#{$this}__tit-point{color:$pore;}
		#{$this}__table{background-color:#d7af6a;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-scar{
			#{$this}__img{background:url('../images/pore/scar/scar_visual.jpg') no-repeat center center/ cover;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-scar{
			#{$this}__img{background:url('../images/pore/scar/scar_visual_m.jpg') no-repeat center center / cover;}
		}
	}
}
.content-top{
	$this:&;
	&.type-scar{padding:150px 200px 845px; box-sizing:border-box; background:url('../images/pore/scar/scar_img1.jpg') no-repeat center bottom / cover;
		#{$this}__subtit{margin-top:0;}
		#{$this}__txt{
			&:before{border-color:#d8d8d8;}
		}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-scar{padding:100px 30px 104.16%; background:url('../images/pore/scar/scar_img1_t.jpg') no-repeat center bottom / cover;
			#{$this}__txt{padding-left:50px; padding-right:50px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-scar{padding:50px 30px 120%; background:url('../images/pore/scar/scar_img1_m.jpg') no-repeat center bottom / cover;
			#{$this}__txt{padding-left:20px; padding-right:20px;}
		}
	}
}

.scar-box2{overflow:hidden; padding-left:92px; padding-right:92px; box-sizing:border-box;
	&__txt{margin:50px 0 0 0; font-size:18px; color:$black3; line-height:1.66;}
	&__subtit{margin:50px 0 0 0; font-size:28px; color:$black1; font-weight:$light;}
	&__list{padding:0; margin:0 -38px -40px; font-size:0;}
	&__item{display:inline-block; margin:40px 38px; list-style:none;}
	&__subject{margin:36px 0 0 0; font-size:20px; color:$black3;}
	@media only screen and (max-width: $tablet-size){padding-left:65px; padding-right:65px;
		&__txt{margin:50px 10px 0;}
		&__list{margin:20px -40px -28px;}
		&__item{margin:24px 10px;}
	}
	@media only screen and (max-width: $mobile-size){padding-left:12px; padding-right:12px;
		&__txt{margin:25px 0 0;font-size:1.2rem;}
		&__subtit{margin-top:20px; font-size:1.7rem;}
		&__list{margin:15px 0 0 -11px;}
		&__item{display:inline-block; margin:11px 5px;}
		&__img{width:154px; margin:0 auto;
			img{width:100%;}
		}
		&__subject{margin-top:16px; font-size:1.2rem;}
	}
}

.scar-box3{background-color:#fafafa;
	&__subtit{margin-top:36px; font-style:italic;}
	&__img{overflow:hidden; width:100%; height:0; margin-top:30px; padding-bottom:29.13%; text-indent:-9999px; background:url('../images/pore/scar/scar_img2.jpg') no-repeat center center / cover;}
	@media only screen and (max-width: $tablet-size){padding-bottom:0;
		&__subtit{margin-top:40px;}
		&__img{margin-top:40px; padding-bottom:45.31%; background:url('../images/pore/scar/scar_img2_t.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $mobile-size){margin:0;
		&__subtit{margin-top:20px;}
		&__img{margin-top:20px;}
	}
}
.scar-box4{
	@media only screen and (max-width: $mobile-size){overflow:hidden;}
}
.program{margin:0 -65px;padding:80px 17.4%; background-color:#4c443a; box-sizing:border-box;
	$this:&;
	&__subtit{margin:0; display:inline-block; padding-left:8px; font-size:14px; color:#c4c3c0; letter-spacing:8px; box-sizing:border-box; font-weight:$regular;}
	&__tit{margin:20px 0 0 0; font-size:44px; font-weight:$regular; color:#fff;}
	&__list{margin:-50px 0 0 -100px; padding:0;text-align:center; font-size:0; box-sizing:border-box;
		&:after{display:block; clear:both; content:'';}
	}
	&__box{position:relative;  width:100%; height:140px;}
	&__item{float:left; display:inline-block;width:50%;  margin-top:100px; color:#fff; padding-left:100px; box-sizing:border-box;
		&:nth-child(2),&:nth-child(3){
			.vertical{border-color:#a9a192;}
		}
		&:nth-child(1){
			#{$this}__box{
				&:before{position:absolute; top:0; bottom:0; right:-86px; display:block; width:76px; height:0; margin:auto 0; border-top:5px solid #706961; content:'';}
				&:after{position:absolute; top:0; bottom:0; right:-90px; display:block; width:0; height:0; margin:auto 0; border-top:6px solid transparent;
					border-bottom:6px solid transparent; border-left:8px solid #706961; content:'';}
			}
		}
		&:nth-child(2){
			#{$this}__box{
				&:before{position:absolute; left:0; right:0; bottom:-86px; display:block; height:76px; width:0; margin:0 auto; border-left:5px solid #706961; content:'';}
				&:after{position:absolute; left:0; right:0; bottom:-90px; display:block; width:0; height:0; margin:0 auto; border-right:6px solid transparent;
					border-left:6px solid transparent; border-top:8px solid #706961; content:'';}
			}
		}
		&:nth-child(3){
			#{$this}__box{
				&:before{position:absolute; left:0; right:0; top:-86px; display:block; height:76px; width:0; margin:0 auto; border-left:5px solid #706961; content:'';}
				&:after{position:absolute; left:0; right:0; top:-90px; display:block; width:0; height:0; margin:0 auto; border-right:6px solid transparent;
					border-left:6px solid transparent; border-bottom:8px solid #706961; content:'';}
			}
		}
		&:nth-child(4){
			#{$this}__box{
				&:before{position:absolute; top:0; bottom:0; left:-86px; display:block; width:76px; height:0; margin:auto 0; border-top:5px solid #706961; content:'';}
				&:after{position:absolute; top:0; bottom:0; left:-90px; display:block; width:0; height:0; margin:auto 0; border-top:6px solid transparent;
					border-bottom:6px solid transparent; border-right:8px solid #706961; content:'';}
			}
		}
		.vertical{border:8px solid #dcc59c; border-radius:20px; box-sizing:border-box;}
	}
	&__subject{margin:0; font-size:22px; font-weight:$regular;}
	&__txt{margin:16px 0 0 0; font-size:18px;}
	@media only screen and (max-width: $tablet-size){overflow:hidden; padding:80px 38px;}
	@media only screen and (max-width: $mobile-size){padding:50px 12px; margin:0 -12px;
		&__subtit{padding-left:3px; letter-spacing:3px; font-size:1rem; }
		&__tit{font-size:2.3rem;}
		&__box{height:70px;}
		&__list{margin:-16px 0 0 -42px;}
		&__item{margin-top:42px; padding-left:42px;
			.vertical{border-width:4px; padding:0 5px; border-radius:10px;}
			&:nth-child(1){
				#{$this}__box{
					&:before{right:-37px; display:block; width:32px;  border-width:3px;}
					&:after{right:-39px;  border-top-width:4px;
						border-bottom-width:4px; border-left-width:5px;}
				}
			}
			&:nth-child(2){
				#{$this}__box{
					&:before{bottom:-37px; height:32px; border-width:3px;}
					&:after{bottom:-39px; border-top-width:5px; border-bottom-width:4px; border-left-width:4px;}
				}
			}
			&:nth-child(3){
				#{$this}__box{
					&:before{top:-37px; height:32px; border-width:3px;}
					&:after{top:-39px; border-right-width:4px; border-bottom-width:5px; border-left-width:4px;}
				}
			}
			&:nth-child(4){
				#{$this}__box{
					&:before{left:-37px; width:32px; border-width:3px;}
					&:after{left:-39px; border-right-width:5px; border-bottom-width:4px; border-top-width:4px;}
				}
			}
		}
		&__subject{margin:0; font-size:1.4rem;}
		&__txt{margin:6px 0 0 0; font-size:1.2rem;}
	}
}
.img-list3{
	&__num{
		&.type-scar{background-color:$pore;
			&:before{background-color:$pore;}
		}
	}
}
.img-list1{
	$this:&;
	&.type-scar{
		#{$this}__list{margin-top:45px;}
		#{$this}__item{
			&.nth-1{
				#{$this}__box{
					&:before{background:url('../images/pore/scar/scar_img3.jpg') no-repeat center center / cover;}
				}
			}
			&.nth-2{
				#{$this}__box{
					&:before{background:url('../images/pore/scar/scar_img4.jpg') no-repeat center center / cover;}
				}
			}
			&.nth-3{
				#{$this}__box{
					&:before{background:url('../images/pore/scar/scar_img5.jpg') no-repeat center center / cover;}
				}
			}
			&.nth-4{
				#{$this}__box{
					&:before{background:url('../images/pore/scar/scar_img6.jpg') no-repeat center center / cover;}
				}
			}
			&.nth-5{
				#{$this}__box{
					&:before{background:url('../images/pore/scar/scar_img7.jpg') no-repeat center center / cover;}
				}
			}
			&.nth-6{
				#{$this}__box{
					&:before{background:url('../images/pore/scar/scar_img8.jpg') no-repeat center center / cover;}
				}
			}
		}
		#{$this}__box{padding-left:50%; padding-right:0;height:240px;
			&:before{width:50%;}
		}
		#{$this}__wrap{height:240px; padding:0 50px; border:1px solid #ddd; box-sizing:border-box;}
		#{$this}__tit{font-size:24px;color:$pore;}
		#{$this}__txt{margin-top:10px; color:$black3;  line-height:1.6;}
	}
	@media only screen and (max-width: $minpc-size3){
		&.type-scar{
			#{$this}__box{padding:0; height:auto;
				&:before{width:100%;}
			}
			#{$this}__wrap{height:auto; padding:40px;}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&.type-scar{
			#{$this}__list{margin-top:25px;}
			#{$this}__tit{font-size:1.6rem;}
			#{$this}__wrap{padding:20px 25px;}
		}
	}
}
.equipment{
	$this:&;
	&__list{
		&.type-scar{margin-top:-30px;
			@media only screen and (max-width: $tablet-size){margin-top:30px;}
			@media only screen and (max-width: $mobile-size){margin-top:15px;
				#{$this}__item{margin-top:10px;}
			}
		}
	}
}


.scar-box5{background-color:#2b2420;
	&__tit{color:#fff;}
}

.img-list7{
	$this:&;
	&__tit{margin:0 -20px;}
	&.type-scar{
		#{$this}__item{
			&.nth-1{
				#{$this}__box{
					&:before{background:url('../images/pore/scar/scar_img9.jpg') no-repeat center center / cover;}
				}
			}
			&.nth-2{
				#{$this}__box{
					&:before{background:url('../images/pore/scar/scar_img10.jpg') no-repeat center center / cover;}
				}
			}
			&.nth-3{
				#{$this}__tit{}
				#{$this}__box{
					&:before{background:url('../images/pore/scar/scar_img11.jpg') no-repeat center center / cover;}
				}
			}
		}
	}
}
.color-scar1{color:$pore;}
.color-scar2{color:#ead8b9;}
