@charset "utf-8";
@import "mixins";
.content-visual{
	$this:&;
	&.type-stress{
		#{$this}__img{background:url('../images/medical/stress/stress_visual.jpg') no-repeat center center / cover;}
		#{$this}__point{background-color:$stress;}
		#{$this}__tit-point{color:$stress;}
		#{$this}__table{background-color:#8f7b6c;}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-stress{
			#{$this}__wrap,#{$this}__img{height:490px;}
			// #{$this}__img{background:url('../images/medical/wedding/wedding_visual.jpg') no-repeat top left -30px / cover;}
		}
	}
}
.content-top{
	$this:&;
	&.type-stress{padding:150px 300px 720px; box-sizing:border-box; background:url('../images/medical/stress/stress_img1.jpg') no-repeat center bottom / cover;
		#{$this}__subtit{margin-top:0;}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-stress{padding:100px 65px 73.43%;}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-stress{padding:50px 24px 84%;  background:url('../images/medical/stress/stress_img1_m.jpg') no-repeat center bottom / cover;}
	}
}

.stress-box2{padding:64px 130px; box-sizing:border-box; background:url('../images/medical/stress/stress_img2.jpg') no-repeat center center / cover; box-sizing:border-box;
	&__tit{margin:0; font-size:30px; color:#fff; font-weight:$light;}
	&__txt{margin:20px 0 0 0;font-size:18px; color:#c9c3bd; line-height:1.6;}
	@media only screen and (max-width: $tablet-size){padding:50px 264px 50px 65px;}
	@media only screen and (max-width: $mobile-size){padding:24px 80px 24px 12px;
		&__tit{font-size:1.6rem;}
		&__txt{margin-top:8px; font-size:1.1rem;}
	}
}

.stress-box3{text-align:center;
	&__subtit{margin:0; font-size:20px; color:$black3;}
	&__tit{margin:26px 0 0 0; font-size:55px; font-weight:$thin; color:$black1;}
	@media only screen and (max-width: $mobile-size) {
		&__subtit{font-size:1.1rem;}
		&__tit{margin-top:14px; font-size:2.9rem;}
	}
}

.injection{
	$this:&;
	&__tit{margin:0; font-size:28px; font-weight:$light; color:$black1;}
	&__tit2{margin:60px 0 0 0; font-size:22px; font-weight:$light; color:$black1;}
	&__txt{margin:30px 0 0 0; font-size:18px; color:$black3; line-height:1.6;}
	&__subject{margin:0; font-size:16px; color:$black2;}
	&__list{margin:40px 0 0 0; padding:0; font-size:0; text-align: justify;
		&:after{display:inline-block; width:100%; content:'';}
		&.type-another{text-align:center;
			#{$this}__item{margin:0 8px;}
		}
		&.type-one{text-align:center;
			#{$this}__item{width:100%; border:1px solid #e5e5e5; box-sizing:border-box;}
			#{$this}__img{padding-bottom:48.87%;}
		}
	}
	&__box{margin:0 -108px; padding:56px 108px 60px; box-sizing:border-box;
		&:nth-child(even){background-color:#fbfbfb;}
		&:last-child{padding-bottom:0px;}
	}
	&__item{display:inline-block; width:200px; list-style:none;}
	&__img{position:relative; top:0; left:0; width:100%; height:0; padding-bottom:99.5%;}
	&__wrap{height:58px; border:1px solid #aaaaaa; text-align:center;}
	@media only screen and (max-width: $tablet-size){
		&__tit2{margin-top:40px; font-size:18px;}
		&__box{margin:0 -65px; padding:56px 65px 60px;}
		&__txt{padding:0 46px; box-sizing:border-box;
			&.type-another{padding:0 20px;}
		}
		&__list{text-align:left; margin:20px 0 0 -16px;
			&.type-another{margin-left:0;
				#{$this}__item{margin:20px 8px 0; padding-left:0;}
			}
			&.type-one{margin-left:0;
				#{$this}__item{padding-left:0;}
			}
		}
		&__item{width:33.33%; margin-top:20px; padding-left:16px; box-sizing:border-box;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__box{margin:0 -12px; padding:30px 12px 34px;}
		&__tit{font-size:1.6rem;}
		&__tit2{margin-top:16px; font-size:1.1rem;}
		&__txt{margin-top:16px; padding:0 20px; font-size:1.2rem;}
		&__area{padding:0 44px; box-sizing:border-box;}
		&__list{margin:16px 0 0 -8px;
			&.type-another{margin-left:-8px;
				#{$this}__item{margin:8px 0 0; padding-left:8px;}
			}
			&.type-one{margin-top:4px;
			}
		}
		&__item{width:50%; margin-top:8px; padding-left:8px;}
		&__wrap{height:30px;}
		&__subject{font-size:1.1rem;}
	}
}

.injection-point{margin-top:50px; padding:60px; box-sizing:border-box;
	&.type-another{margin-top:0;}
	&.nth-1{background:url('../images/medical/stress/injection_bg1.jpg') no-repeat center center / cover;}
	&.nth-2{background:url('../images/medical/stress/injection_bg2.jpg') no-repeat center center / cover;}
	&.nth-3{background:url('../images/medical/stress/injection_bg3.jpg') no-repeat center center / cover;}
	&.nth-4{background:url('../images/medical/stress/injection_bg4.jpg') no-repeat center center / cover;}
	&.nth-5{background:url('../images/medical/stress/injection_bg5.jpg') no-repeat center center / cover;}
	&.nth-6{background:url('../images/medical/stress/injection_bg6.jpg') no-repeat center center / cover;}
	&.nth-7{background:url('../images/medical/stress/injection_bg7.jpg') no-repeat center center / cover;}
	&__point{display:inline-block; margin:0; padding: 0 20px; font-size:14px; color:#fff; border:1px solid #fff; line-height:30px; letter-spacing:5px; box-sizing:border-box; text-transform: uppercase;}
	&__txt{margin:16px 0 0 0; font-size:22px; color:#fff; line-height:1.5; font-style:italic;}
	@media only screen and (max-width: $tablet-size){margin-top:60px; padding:60px 30px;
		&.type-another{margin-top:40px;}
	}
	@media only screen and (max-width: $mobile-size){margin-top:30px; padding:28px 8px;
		&__point{padding:0 10px; line-height:20px; font-size:1rem; letter-spacing: 4px;}
		&__txt{margin-top:8px; font-size:1.3rem;}
	}
}

.stress-box4{background-color:#847569; text-align:center;
	&__eng{margin:0; font-size:15px; letter-spacing:6px; color:#fff;}
	&__subtit{margin:36px 0 0 0; color:#fff;}
	&__txt{margin:20px 0 0 0; color:#d7c8bc;}
	@media only screen and (max-width: $tablet-size){padding:100px 65px;}
	@media only screen and (max-width: $mobile-size){padding:50px 12px;
		&__subtit{margin-top:18px;}
		&__eng{font-size:1rem;}
		&__txt{margin-top:10px; padding:0 10px; box-sizing:border-box;}
	}
}
//왼쪽 이미지
.img-list1{
	$this:&;
	&.type-lifting{
		#{$this}__item{
			&.nth-1{
				#{$this}__box{
					&:before{background:url('../images/medical/stress/stress_thum1.jpg') no-repeat center center / cover;}
				}
			}
			&.nth-2{
				#{$this}__box{
					&:before{background:url('../images/medical/stress/stress_thum2.jpg') no-repeat center center / cover;}
				}
			}
			&.nth-3{
				#{$this}__box{
					&:before{background:url('../images/medical/stress/stress_thum3.jpg') no-repeat center center / cover;}
				}
			}
			&.nth-4{
				#{$this}__box{
					&:before{background:url('../images/medical/stress/stress_thum4.jpg') no-repeat center center / cover;}
				}
			}
			&.nth-5{
				#{$this}__box{
					&:before{background:url('../images/medical/stress/stress_thum5.jpg') no-repeat center center / cover;}
				}
			}
			&.nth-6{
				#{$this}__box{
					&:before{background:url('../images/medical/stress/stress_thum6.jpg') no-repeat center center / cover;}
				}
			}
		}
	}
	@media only screen and (max-width: $minpc-size3) {
		&.type-lifting{
			#{$this}__item{
				&.nth-1{
					#{$this}__box{
						&:before{background:url('../images/medical/stress/stress_thum1_t.jpg') no-repeat center center / cover;}
					}
				}
				&.nth-2{
					#{$this}__box{
						&:before{background:url('../images/medical/stress/stress_thum2_t.jpg') no-repeat center center / cover;}
					}
				}
				&.nth-3{
					#{$this}__box{
						&:before{background:url('../images/medical/stress/stress_thum3_t.jpg') no-repeat center center / cover;}
					}
				}
				&.nth-4{
					#{$this}__box{
						&:before{background:url('../images/medical/stress/stress_thum4_t.jpg') no-repeat center center / cover;}
					}
				}
				&.nth-5{
					#{$this}__box{
						&:before{background:url('../images/medical/stress/stress_thum5_t.jpg') no-repeat center center / cover;}
					}
				}
				&.nth-6{
					#{$this}__box{
						&:before{background:url('../images/medical/stress/stress_thum6_t.jpg') no-repeat center center / cover;}
					}
				}
			}
		}
	}
}
.color-stress1{color:$stress;}
// .color-stress2{color:#d9baa3;}
