@charset "utf-8";
@import "mixins";
.content-visual{
	$this:&;
	&.type-therapy{
		#{$this}__img{background:url('../images/whitening/therapy/therapy_visual.jpg') no-repeat center center / cover;}
		#{$this}__point{background-color:$whitening;}
		#{$this}__tit-point{color:$whitening;}
		#{$this}__table{background-color:#49a9d5;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-therapy{
			#{$this}__img{background:url('../images/whitening/therapy/therapy_visual.jpg') no-repeat center center/ cover;}
			#{$this}__wrap{padding:0 40px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-therapy{
			#{$this}__wrap{padding:0 12px;}
		}
	}
}
.content-top{
	$this:&;
	&.type-therapy{padding:150px 200px 845px; box-sizing:border-box; background:url('../images/whitening/therapy/therapy_img1.jpg') no-repeat center bottom / cover;
		#{$this}__subtit{margin-top:0;}
		#{$this}__txt{
			&:before{border-color:#d8d8d8;}
		}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-therapy{padding:100px 30px 88.54%; background:url('../images/whitening/therapy/therapy_img1_t.jpg') no-repeat center bottom / cover;
			#{$this}__txt{padding-left:50px; padding-right:50px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-therapy{padding:50px 30px 111.875%;
			#{$this}__txt{padding-left:20px; padding-right:20px;}
		}
	}
}
.therapy-box2{
	&__list{margin:0 0 0 -16px; padding:0; font-size:0; text-align:center;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{display:inline-block; width:20%; margin-top:46px; list-style:none; padding-left:16px; box-sizing:border-box;}
	&__img{position:relative; height:0; width:100%; height:0; padding-bottom:100%;}
	&__subject{margin:36px 0 0 0; font-size:24px; color:$black1; font-weight:$light;}
	&__txt{margin:10px 0 0 0; font-size:18px; color:$black3;}
	&__noti{margin:74px 0 0 0; font-size:14px; font-weight:$light; color:$black3;}
	@media only screen and (max-width: $tablet-size){
		&__list{margin:20px 0 0 -18px;}
		&__item{width:33.33%; padding-left:18px;}
	}
	@media only screen and (max-width: $mobile-size){overflow:hidden; padding-left:36px; padding-right:36px;
		&__list{margin:0 0 0 -48px; text-align:left;}
		&__item{width:50%; margin-top:24px; padding-left:48px; text-align:center;}
		&__subject{margin-top:18px; font-size:1.4rem;}
		&__txt{margin-top:8px; font-size:1.2rem;}
		&__noti{margin-top:32px; font-size:1.1rem;}
	}
}
.therapy-box3{background-color:#20242b; padding-left:0; padding-right:0;
	&__subtit{color:#fff;}
	&__txt{margin-top:40px; color:#b4ada9;}
	&__img{overflow:hidden; position:relative; width:100%; height:0; padding-bottom:47.65%; background:url('../images/whitening/therapy/therapy_img2.jpg') no-repeat center bottom / cover; text-indent:-9999px;}
	@media only screen and (max-width: $tablet-size){margin-top:0;
		&__txt{padding:0 100px; box-sizing:border-box;}
		&__img{margin-top:10px; padding-bottom:80.72%; background:url('../images/whitening/therapy/therapy_img2_t.jpg') no-repeat center bottom / cover;}
	}
	@media only screen and (max-width: $mobile-size){
		&__tit{padding:0 44px;}
		&__txt{margin-top:16px; padding:0 44px;}
		&__img{margin-top:0;}
	}
}
.content-line{
	&.type-therapy{background-color:#7cb2cb;}
}
.equipment{
	$this:&;
	&.type-therapy{background-color:#f9f9f9;
		#{$this}__tit{margin-top:30px;}
	}
}
.hexa-box{
	$this:&;
	&.type-therapy{
		#{$this}__hexa{background:url('../images/whitening/therapy/therapy_hexagon.png') no-repeat center center / cover;}
	}
}
.bubble-box{
	$this:&;
	&.type-therapy{
		#{$this}__item{
			&.type-txt{background-color:#88c0da;
				&:before{border-right-color:#88c0da;}
				&.type-another{background-color:#37629c;
					&:before{border-left-color:#37629c;}
				}
			}
		}
	}
}
.color-therapy1{color:$whitening;}
