@charset "utf-8";
@import "mixins";
.content-visual{
	$this:&;
	&.type-thermage{
		#{$this}__img{background:url('../images/heal/thermage/thermage_visual.jpg') no-repeat center center / cover;}
		#{$this}__point{background-color:$ulthera;}
		#{$this}__tit-point{color:$ulthera;}
		#{$this}__table{background-color:#690a1c;}
	}
	@media only screen and (max-width: $mobile-size) {}
}
.content-top{
	$this:&;
	&.type-thermage{padding:150px 200px 770px; box-sizing:border-box; background:url('../images/heal/thermage/thermage_img1.jpg') no-repeat center bottom / cover;
		#{$this}__subtit{margin-top:0;}
		#{$this}__txt{
			&:before{border-color:#828282;}
		}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-thermage{padding:100px 30px 82.03%; background:url('../images/heal/thermage/thermage_img1_t.jpg') no-repeat center bottom / cover;}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-thermage{padding:50px 40px 79.68%; background:url('../images/heal/thermage/thermage_img1_m.jpg') no-repeat center bottom / cover; }
	}
}

// .thermage-box2{background:url('../images/heal/thermage/thermage_img2.jpg') no-repeat center bottom / cover;
// 	&__subtit{margin:0; font-size:30px; font-weight:$thin; color:#fff;}
// 	&__tit{margin-top:36px; color:#fff;
// 		strong{font-weight:$regular;}
// 	}
// 	&__list{margin:280px 0 0 0; padding:0;
// 		&:after{display:block; clear:both; content:'';}
// 	}
// 	&__item{display:inline-block;  list-style:none;
// 		&.type-left{float:left;}
// 		&.type-right{float:right;}
// 	}
// 	&__box{width:308px; min-height:348px; padding:50px 0; background-color:#fff; box-sizing:border-box;}
// 	&__list2{position:relative; margin:0; padding:0;
// 		&:before{display:block; width:30px; height:0; margin:26px auto; border-top:2px solid #000; content:'';}
// 	}
// 	&__item2{list-style:none; font-size:20px; color:$black3;
// 		& + &{margin-top:5px;}
// 	}
// 	&__subject{margin:0; font-size:24px; color:$black1; font-weight:$light;}
// 	&__txt{margin:16px 0 0 0; font-size:16px; color:$black3;}
// 	@media only screen and (max-width: $mobile-size) {padding-bottom:25px;
// 		&__subtit{font-size:1.6rem;}
// 		&__tit{margin-top:18px;}
// 		&__list{margin-top:190px;}
// 		&__item{width:50%;}
// 		&__box{width:auto; min-height:190px; padding:20px 0;}
// 		&__subject{font-size:1.3rem;}
// 		&__txt{font-size:1rem;}
// 		&__item{padding-left:10px; font-size:1.1rem; box-sizing:border-box;}
// 		&__list{margin-left:-10px;
// 			&:before{}
// 		}
// 		&__list2{
// 			&:before{border-width:1px; width:15px; margin:15px auto;}
// 		}
// 		&__item2{font-size:1.1rem;}
// 	}
// }

.thermage-box3{
	&__txt{margin-top:56px;}
	&__list{margin:56px 0 0 -16px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; padding-left:16px; box-sizing:border-box; list-style:none;}
	&__img{position:relative; width:100%; height:0; padding-bottom:57.25%;}
	&__subject{margin:24px 0 0 0; font-size:20px; font-weight:$light; color:$black1;}
	&__noti{margin:60px 0 0 0; border:4px solid #eee; padding:16px 0; font-size:14px; color:$black3; box-sizing:border-box;}
	@media only screen and (max-width: $tablet-size){
		&__txt{margin:56px -20px 0;}
		&__list{margin-left:0; padding:0 56px; box-sizing:border-box;}
		&__item{width:100%; padding-left:0;
			& + &{margin-top:50px;}
		}
		&__subject{margin:30px 0 0;}
		&__noti{margin-top:50px; padding:30px 65px; line-height:1.8;}
	}
	@media only screen and (max-width: $mobile-size){padding:50px 28px;
		&__txt{margin:20px 0 0 0;}
		&__list{margin-top:20px; padding:0;}
		&__item{
			& + &{margin-top:25px;}
		}
		&__subject{margin-top:15px; font-size:1.2rem;}
		&__noti{margin-top:25px; padding:14px 18px; border-width:2px; font-size:1rem;}
	}
}
.thermage-box4{padding-top:100px; padding-bottom:100px; background:url('../images/heal/thermage/thermage_bg1.jpg') no-repeat center bottom / cover;
	&__tit{margin:0; font-size:45px; color:#fff; font-weight:$thin;
		strong{font-weight:$regular;}
	}
	&__list{margin:50px 0 0 0; padding:0; font-size:0;}
	&__item{display:inline-block; width:250px; margin:0 30px; list-style:none; vertical-align:top;}
	&__img{position:relative; width:100%; height:0; padding-bottom:100%;}
	&__subject{margin:26px 0 0 0; font-size:20px; color:#fff;}
	@media only screen and (max-width: $tablet-size){ background:url('../images/heal/thermage/thermage_bg1_t.jpg') no-repeat center bottom / cover;
		&__tit{line-height:1.33;}
		&__list{margin-top:20px;}
		&__item{margin-top:30px;}
	}
	@media only screen and (max-width: $mobile-size){overflow:hidden; padding-top:50px; padding-bottom:50px;
		&__tit{font-size:2.6rem;}
		&__list{margin:14px -14px 0;}
		&__item{width:125px; margin:14px;}
		&__subject{margin-top:14px; font-size:1.1rem;}
	}
}
.thermage-box5{position:relative; padding:110px 15.625%; background-color:#1a1a1a; text-align:center; box-sizing:border-box;
	&:before{position:absolute; top:0; left:15.625%; height:100%; width:300px; background:url('../images/heal/thermage/thermage_tip4.png') no-repeat center center / contain; content:''; }
	&__tit{margin:0; font-size:30px; font-weight:$thin; color:#fff;
		strong{font-weight:$regular;}
	}
	&__txt{margin:30px 0 0 0; color:#ccc;}
	&__box{padding-left:376px; box-sizing:border-box; text-align:left;}
	@media only screen and (max-width: $tablet-size){padding:60px 65px;
		&:before{left:65px;}
		&__box{padding-left:324px; margin-right:-20px;}
	}
	@media only screen and (max-width: $mobile-size){padding:35px 0;
		&:before{top:35px; left:0; width:100%; height:0; padding-bottom:46.875%;}
		&__box{padding-top:46.875%; padding-left:32px; padding-right:32px; margin-right:0px; text-align:center;}
		&__tit{margin-top:30px; font-size:1.9rem; }
		&__txt{margin-top:15px;}
	}
}


.thermage-box7{
	&__tit{margin:0; font-weight:$thin; color:$black1;}
	&__list{margin:60px 0 0 0; padding:0; background-color:#fff;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; height:267px; list-style:none;
		&.type-video{position:relative; width:358px; overflow:hidden;}
		&.type-txt{float:none; width:100%; padding-left:414px; padding-right:56px; box-sizing:border-box; text-align:left; background-color:#f3f3f3;}
	}
	&__txt{margin:0;}
	@media only screen and (max-width: $minpc-size3){
		&__item{float:none; height:auto;
			&.type-video{width:100%; height:0; padding-bottom:56.25%;
				.video__iframe{position:absolute; top:0; left:0; width:100%; height:100%;}
			}
			&.type-txt{width:100%; padding:50px 56px; box-sizing:border-box; background-color:#fff;}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&__list{margin-top:25px;}
		&__item{
			&.type-txt{padding:18px 20px; box-sizing:border-box;}
		}
	}
}
.thermage-box8{
	.img-list2__list{margin-top:-10px}
	.img-list2__item{margin-top:10px;}
	.img-list2__tit{color:$ulthera;}
	.img-list2__img{padding-bottom:45.8%;}
	.img-list2__wrap{height:160px;}
	@media only screen and (max-width: $tablet-size){
		.img-list2{padding:0 56px; box-sizing:border-box;}
		.img-list2__item{margin-top:0px;
			& + .img-list2__item{margin-top:46px;}
		}
		.img-list2__wrap{height:auto; padding:0; margin-top:40px;}
		.img-list2__txt{margin-top:18px;}
	}
	@media only screen and (max-width: $mobile-size){
		.img-list2{padding:0 16px;}
		.img-list2__wrap{margin-top:20px;}
		.img-list2__txt{margin-top:9px;}
		.img-list2__item{
			& + .img-list2__item{margin-top:22px;}
		}
	}
}
.thermage-box9{background:url('../images/heal/thermage/thermage_bg2.jpg') no-repeat center center / cover;
	&__subtit{padding-left:10px; letter-spacing:10px; box-sizing:border-box;}
	&__tit{margin-top:40px;
		strong{font-weight:$regular;}
	}
	&__list{margin:60px 0 0 -16px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:25%; padding-left:16px; box-sizing:border-box; list-style:none;}
	&__img{position:relative; width:100%; padding-bottom:100%;}
	&__txt{margin-top:16px; line-height:1.5;}
	@media only screen and (max-width: $tablet-size){
		&__tit{margin:40px -10px 0;}
		&__list{margin-top:10px; margin-left:-50px; padding:0 40px; box-sizing:border-box;}
		&__item{width:50%; padding-left:50px; margin-top:50px;}
	}
	@media only screen and (max-width: $mobile-size){padding-left:20px; padding-right:20px;
		&__subtit{padding-left:5px; letter-spacing:5px;}
		&__tit{margin:20px 0 0;}
		&__list{margin-top:0; margin-left:-23px; padding:0;}
		&__item{margin-top:30px; padding-left:23px;}
	}
}
.thermage-box10{background-color:#5f0a1a;
	&__subtit{padding-left:10px; color:#fff; letter-spacing:10px; box-sizing:border-box;}
	&__tit{margin-top:30px; color:#fff;}
	.img-list1{
		$this:img-list1;
		&.type-thermage{
			.#{$this}__item{
				&.nth-1{
					.#{$this}__box{
						&:before{background:url('../images/heal/thermage/thermage_img5.jpg') no-repeat center center / cover;}
					}
				}
				&.nth-2{
					.#{$this}__box{
						&:before{background:url('../images/heal/thermage/thermage_img6.jpg') no-repeat center center / cover;}
					}
				}
				&.nth-3{
					.#{$this}__box{
						&:before{background:url('../images/heal/thermage/thermage_img7.jpg') no-repeat center center / cover;}
					}
				}
			}
			.#{$this}__box{padding-left:50%; padding-right:0;height:240px;
				&:before{width:50%; background:url('../images/heal/thermage/thermage_img5.jpg') no-repeat center center / cover;}
			}
			.#{$this}__wrap{height:240px; padding:0 50px; box-sizing:border-box;}
		}
		&__tit{font-size:24px;color:$ulthera;}
		&__txt{color:$black3;  line-height:1.6;}
	}
	@media only screen and (max-width: $minpc-size3){
		.img-list1{
			$this:img-list1;
			&.type-thermage{
				.#{$this}__list{margin-top:50px;}
				.#{$this}__box{padding-left:0; padding-right:0;height:auto;
					&:before{width:100%; }
				}
				.#{$this}__wrap{height:auto; padding:60px 50px; box-sizing:border-box;}
				.#{$this}__txt{margin-top:16px;}
			}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&__subtit{padding-left:5px; letter-spacing:5px;}
		&__tit{margin-top:15px;}
		&__txt{color:$black3;}
		.img-list1{
			$this:img-list1;
			&.type-thermage{
				.#{$this}__list{margin-top:30px;}
				.#{$this}__wrap{height:auto; padding:25px 20px; box-sizing:border-box;}
				.#{$this}__tit{font-size:1.5rem;}
				.#{$this}__txt{margin-top:12px;}
			}
		}
	}
}
//cpt - flx 변환에 다른 css 추가

.flx-box1{position:relative; padding:150px 310px 0; text-align:center; background:url('../images/heal/thermage/flx_bg_1.jpg') no-repeat center center / cover;
	&__subtit,&__tit,&__txt{color:#fff;}
	&__subtit{margin:0; font-size:30px; font-weight:$thin;}
	&__tit{margin-top:22px;}
	&__txt{margin-top:40px;}
	&__img{margin-top:50px;}
	&__list{margin:0; padding: 0;}
	&__item{position:absolute; bottom:150px;list-style:none;
		&.nth-1{left:50%; margin-left:-310px;}
		&.nth-2{right:50%; margin-right:-310px;}
	}
	@media only screen and (max-width: $tablet-size){padding-left:65px; padding-right:65px;}
	@media only screen and (max-width: $mobile-size){padding:50px 12px 0;
		&__subtit{font-size:1.6rem;}
		&__tit{margin-top:16px;}
		&__txt{margin-top:24px;}
		&__item{bottom:60px; width:110px;
			&.nth-1{left:12px; margin-left:0;}
			&.nth-2{right:12px; margin-right:0;}
		}
		&__img{position:relative; margin-top:24px; padding-bottom:89.83%;
			img{position:absolute; max-height:100%; left:50%; bottom:0; transform: translateX(-50%);}
		}
	}
}

.flx-box2{text-align:center; background:#fcd9e0; padding-bottom:100px; transform: translateZ(0);
	&__box{position:relative; margin-top:54px; padding:50px 0; box-sizing: border-box;
		&:after{position:absolute; top:0; right:0; width:38.9%; height:100%; background:url('../images/heal/thermage/flx_img_2.png') no-repeat center center / contain; content:''; z-index:-1;}
	}
	&__list{margin:0; padding:0; font-size:0; text-align:left;}
	&__item{display:inline-block; width:190px; height:220px; list-style:none; background:url('../images/heal/thermage/flx_hexa_1.png') no-repeat center center / cover; color:#fff; text-align:center;
		& + &{margin-left:10px;}
		&.type-pink{background:url('../images/heal/thermage/flx_hexa_2.png') no-repeat center center / cover; }
	}
	&__subject{margin:0; font-size:30px; font-weight:$light; text-transform: uppercase;
		strong{font-weight:$bold;}
	}
	&__txt{margin:10px 0 0 0; font-size:20px; font-weight:$thin;}
	&__tit{
		strong{font-weight:$regular}
	}
	@media only screen and (max-width: $minpc-size3){
		&__box{padding:53.9% 0 0 0;
			&:after{width:100%; height:calc(100% - 180px);}
		}
		&__list{text-align:center;}
	}
	@media only screen and (max-width: $mobile-size){ padding-bottom:50px;
		&__box{margin-top:20px; padding-top:50.71%;
			&:after{height:calc(100% - 90px); background-size:70%}
		}
		&__item{width:95px; height:110px;
			& + &{margin-left:5px;}
		}
		&__subject{font-size:1.6rem;}
		&__txt{margin-top:6px; font-size:1.1rem;}
	}
}

.vertical-style{
	$this:&;
	&.type-flx1{background:url('../images/heal/thermage/flx_bg_2.jpg') no-repeat center right / contain;}
	&.type-flx2{background:url('../images/heal/thermage/flx_bg_3.jpg') #f3e6e5 no-repeat center center / cover;
		#{$this}__box{float:right;}
	}
	&.type-flx3{background-color:#f5f5f5;
		#{$this}__img{margin-top:0;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-flx1{background:none; padding-bottom:0;}
		&.type-flx2{background-image:none; background-color:#f3e6e5;}
		&.type-flx3{
			#{$this}__img{margin-top:32px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-flx3{
			#{$this}__img{margin-top:22px;}
		}
	}
}


.color-thermage1{color:$ulthera;}
.color-thermage2{color:#ffc4cf;}
.color-thermage3{color:#005cd7;}
.color-thermage4{color:#ff8ea3;}
