@charset "utf-8";
@import "mixins";
/*광채토닝이랑 같이씀*/
.content-visual{
	$this:&;
	&.type-toning{
		#{$this}__img{background:url('../images/whitening/toning/toning_visual.jpg') no-repeat center center / cover;}
		#{$this}__point{background-color:$whitening;}
		#{$this}__tit-point{color:$whitening;}
		#{$this}__table{background-color:#49a9d5;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-toning{
			#{$this}__img{background:url('../images/whitening/toning/toning_visual.jpg') no-repeat center center/ cover;}
			#{$this}__wrap{padding:0 40px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-toning{
			#{$this}__wrap{padding:0 12px;}
		}
	}
}
.content-top{
	$this:&;
	&.type-toning{padding:150px 200px 845px; box-sizing:border-box; background:url('../images/whitening/toning/toning_img1.jpg') no-repeat center bottom / cover;
		#{$this}__subtit{margin-top:0;}
		#{$this}__txt{
			&:before{border-color:#d8d8d8;}
		}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-toning{padding:100px 30px 84.63%; background:url('../images/whitening/toning/toning_img1_t.jpg') no-repeat center bottom / cover;
			#{$this}__txt{padding-left:120px; padding-right:120px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-toning{padding:50px 30px 112.5%;
			#{$this}__txt{padding-left:0px; padding-right:0px;}
		}
	}
}

.toning-box2{background-color:#383838; padding-left:17.8%; padding-right:17.8%;
	$this:&;
	&__tit{color:#fff;}
	&__list{margin:14px 0 0 -70px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:33.33%; margin-top:46px; padding-left:70px; box-sizing:border-box; list-style:none;}
	&__img{position:relative; width:100%; height:0; padding-bottom:100%;}
	&__subject{margin:26px 0 0 0; color:#fff; font-size:22px; font-weight:$light;}
	&.type-luminance{padding-left:11%; padding-right:11%;
		#{$this}__list{margin-left:-28px;}
		#{$this}__item{width:25%; padding-left:28px;}
	}
	@media only screen and (max-width: $tablet-size){overflow:hidden; padding-left:14%; padding-right:14%;
		&__list{margin-left:-88px;}
		&__item{width:50%; padding-left:88px;}
		&.type-luminance{padding-left:14%; padding-right:14%;
			#{$this}__list{margin-left:-88px;}
			#{$this}__item{width:50%; padding-left:88px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {padding-left:15%; padding-right:15%;
		&__tit{margin:0 -20px;}
		&__list{margin-top:10px; margin-left:-32px;}
		&__item{margin-top:22px; padding-left:32px;}
		&__subject{margin-top:14px; font-size:1.2rem;}
		&.type-luminance{padding-left:15%; padding-right:15%;
			#{$this}__list{margin-left:-32px;}
			#{$this}__item{padding-left:32px;}
		}
	}
}

.equipment{
	$this:&;
	&.type-toning{background-color:#f9f9f9;
		#{$this}__tit{margin-top:30px;}
	}
}
.content-info{
	$this:&;
	&.type-toning{margin-top:0; background-color:#08283a;
		#{$this}__tit{color:#fff;
			&:before{background:url('../images/whitening/toning/toning_icon1.png') no-repeat center center / cover;}
		}
		#{$this}__box{height:240px;
			&.type-subject{width:454px;}
			&.type-list{padding-left:454px;}
		}
		#{$this}__item{color:#fff;
			&:before{background:url('../images/whitening/toning/toning_icon2.png') no-repeat center center / cover;}
		}
		#{$this}__list{border-color:#5a6d78;}
		@media only screen and (max-width: $minpc-size3) {margin-left:0; margin-right:0;
			#{$this}__box{height:auto;
				&.type-subject{width:100%;}
				&.type-list{padding-left:0;}
			}
		}
	}
}

.toning-box3{padding-left:0; padding-right:0;
	$this:&;
	&__tit{margin:0; font-size:48px; font-weight:$thin; line-height:1.3;}
	&__subtit{margin:56px 0 0 0; padding-left:10px; font-size:24px; font-weight:$light; letter-spacing: 10px; box-sizing:border-box;}
	&__color{display:inline-block; background-color:#dbf0f9;}
	&__txt{margin-top:40px; padding:0 100px; box-sizing:border-box;}
	&__img{position:relative; width:100%; height:0; margin-top:60px; padding-bottom:31.25%;}
	&__img2{position:relative; width:100%; height:0; padding-bottom:100%;}
	&__caption{margin:26px 0 0 0; font-size:20px; color:#fff;}
	&__list{margin:10px 0 0 -140px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; margin-top:50px; padding-left:140px; box-sizing:border-box; list-style:none;}
	&__subject{margin:26px -40px 0 -40px; font-size:20px; color:#fff;}
	&.type-another{background-color:#3a3a3a; padding-left:240px; padding-right:240px;
		&.type-bg{background-color:#111e24;}
		#{$this}__tit{color:#fff;}
		#{$this}__txt{padding:0; color:#c0c0c0;}
		#{$this}__img{margin-top:44px; padding-bottom:41.25%;}
	}
	&.type-another2{
		#{$this}__img{margin-top:44px; padding-bottom:37.5%;}
	}
	@media only screen and (max-width: $tablet-size){
		&__txt{padding:0 80px;}
		&.type-another{background-color:#3a3a3a; padding-left:65px; padding-right:65px;
			#{$this}__txt{padding:0 40px;}
		}
		&.type-another2{padding:100px 65px;
			#{$this}__txt{padding:0 40px;}
		}
		&__list{margin:90px 0 0 0; padding-left:155px; padding-right:155px;}
		&__item{float:none; width:100%; padding-left:0;
			&:first-child{margin-top:0;}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&__tit{font-size:2.5rem;}
		&__subtit{margin-top:24px; padding-left:17px; padding-right:12px; letter-spacing:5px; font-size:1.4rem; line-height:1.3;}
		&__txt{margin-top:20px; padding:0 12px;}
		&__img{margin-top:25px;}
		&.type-another{padding-left:12px; padding-right:12px;
			#{$this}__img{margin-top:25px;}
			#{$this}__txt{padding:0 14px;}
		}
		&.type-another2{padding:50px 12px;
			#{$this}__txt{padding:0 14px;}
		}
		&__caption{margin-top:12px; font-size:1.2rem;}
		&__list{margin-top:26px; padding-left:21.5%; padding-right:21.5%;}
		&__item{margin-top:26px;}
		&__subject{margin-top:12px; font-size:1.2rem;}
	}
}
.color-toning1{color:$whitening;}
