@charset "utf-8";
@import "mixins";
.content-visual{
	$this:&;
	&.type-ulthera{
		#{$this}__img{background:url('../images/heal/ulthera/ulthera_visual.jpg') no-repeat center center / cover;}
		#{$this}__point{background-color:$ulthera;}
		#{$this}__tit-point{color:$ulthera;}
		#{$this}__table{background-color:#690a1c;}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-ulthera{
			#{$this}__img{background:url('../images/heal/ulthera/ulthera_visual.jpg') no-repeat center right -74px / cover;}
			#{$this}__wrap,#{$this}__img{height:490px;}
		}
	}
}
.content-top{
	$this:&;
	&.type-ulthera{padding:150px 200px 770px; box-sizing:border-box; background:url('../images/heal/ulthera/ulthera_img1.jpg') no-repeat center bottom / cover;
		#{$this}__subtit{margin-top:0; color:$black4;}
		#{$this}__tit{color:#fff;}
		#{$this}__txt{color:#bbb;}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-ulthera{padding:100px 30px 82.03%; background:url('../images/heal/ulthera/ulthera_img1_t.jpg') no-repeat center bottom / cover;}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-ulthera{padding:50px 12px 92.18%; }
	}
}

.ulthera-box2{padding:150px 256px 110px; background:url('../images/heal/ulthera/ulthera_img2.jpg') no-repeat center center / cover;  text-align:center;
	&__tit{margin:0; font-size:30px; font-weight:$thin; color:$black1;}
	&__txt{margin:0; font-size:60px; font-weight:$thin; color:$black1;}
	&__box{width:100%; margin-top:30px; padding:60px 10px; border:5px solid #000; background-color:#fff; box-sizing:border-box;}
	@media only screen and (max-width: $tablet-size){padding:100px 65px;
		&__txt{font-size:55px;}
		&__box{padding:55px 10px;}
	}
	@media only screen and (max-width: $mobile-size){padding:50px 12px;
		&__tit{font-size:1.6rem;}
		&__txt{font-size:2.6rem;}
		&__box{margin-top:15px; padding:30px 5px; border-width:2px;}
	}
}
.ulthera-box3{text-align:center; box-sizing:border-box;
	&__txt{margin-top:56px;}
	&__list{margin:60px 0 0 0; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:25%; list-style:none;}
	&__img{position:relative; width:100%; height:0; padding-bottom:124.06%;}
	&__wrap{display:table-cell; width:1%; height:70px; vertical-align:middle; background-color:#838383;
		&.type-another{background-color:#ed1941;}
	}
	&__subject{margin:0; font-size:24px; color:#fff; font-weight:$regular;}
	&__noti{margin:40px 0 0 0; color:$black2;}
	@media only screen and (max-width: $tablet-size){
		&__tit{margin:0 -10px;}
		&__list{margin-top:50px;}
		&__subject{font-size:15px;}
		&__wrap{height:40px;}
		&__noti{margin-top:30px;}
	}
	@media only screen and (max-width: $mobile-size){
		&__tit{margin:0;}
		&__txt{margin-top:16px; padding:0 20px; box-sizing:border-box;}
		&__list{margin-top:26px;}
		&__subject{font-size:1rem;}
		&__wrap{display:block; width:100%; height:auto; line-height:24px;}
		&__noti{margin-top:15px; font-size:1.1rem;}
	}
}

.ulthera-box4{ background-color:#fafafa; box-sizing:border-box; text-align:center;}
.ulthera-box5{background:url('../images/heal/ulthera/ulthera_bg1.jpg') no-repeat center top / cover; text-align:center;
	&__subtit{position:relative;margin:0; color:#fff; font-size:25px; color:#fff; letter-spacing:5px;
		&:before{display:block; width:42px; height:62px; margin:0px auto 26px; background:url('../images/heal/ulthera/ulthera_icon4.png'); content:'';}
	}
	&__tit{margin:20px 0 0 0; color:#fff;}
	&__txt{margin:30px 0 0 0; padding:0 200px; color:#ffc2ce; box-sizing:border-box;}
	&__list{margin:60px 0 0 0; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{position:relative; float:left; width:50%; height:0; padding-bottom:31.105%; list-style:none;}
	@media only screen and (max-width: $tablet-size){padding:100px 65px;
		&__txt{padding:0;}
	}
	@media only screen and (max-width: $mobile-size){padding:50px 12px;
		&__subtit{font-size:1.4rem;
			&:before{width:21px; height:31px; margin:0px auto 12px; background:url('../images/heal/ulthera/ulthera_icon4.png'); background-size:21px 31px;}
		}
		&__tit{margin-top:10px;}
		&__txt{margin-top:15px; padding:0 5px; box-sizing:border-box;}
		&__list{margin-top:30px;}
	}
}
.content-step{
	$this:&;
	&.type-ulthera{background-color:#fff;
		#{$this}__list{margin-top:78px;}
		#{$this}__tit{font-size:55px; color:$black1; font-weight:$thin;}
		#{$this}__wrap{border:1px solid #eeeeee;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-ulthera{
			#{$this}__list{margin-top:50px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-ulthera{
			#{$this}__tit{font-size:2.4rem;}
			#{$this}__list{margin-top:20px;}
		}
	}
}

.color-ulthera1{color:$ulthera;}
.color-ulthera2{color:#fff191;}
