@charset "utf-8";
@import "mixins";
.content-visual{
	$this:&;
	&.type-ulthermage{
		#{$this}__img{background:url('../images/heal/ulthermage/ulthermage_visual.jpg') no-repeat center center / cover;}
		#{$this}__point{background-color:$ulthera;}
		#{$this}__tit-point{color:$ulthera;}
		#{$this}__table{background-color:#690a1c;}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-ulthermage{
			#{$this}__img{background:url('../images/heal/ulthermage/ulthermage_visual.jpg') no-repeat center center / cover;}
			#{$this}__wrap,#{$this}__img{height:490px;}
		}
	}
}
.content-top{
	$this:&;
	&.type-ulthermage{padding:150px 200px 770px; box-sizing:border-box; background:url('../images/heal/ulthermage/ulthermage_img1.jpg') no-repeat center bottom / cover;
		#{$this}__subtit{margin-top:0;}
		#{$this}__txt{
			&:before{border-color:#828282;}
		}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-ulthermage{padding:100px 30px 81%; background:url('../images/heal/ulthermage/ulthermage_img1_t.jpg') no-repeat center bottom / cover;}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-ulthermage{padding:50px 12px 86.56%; background:url('../images/heal/ulthermage/ulthermage_img1_m.jpg') no-repeat center bottom / cover; }
	}
}

.content-step{
	$this:&;
	&.type-ulthermage{background-color:#fff;
		#{$this}__list{margin-top:78px;}
		#{$this}__tit{font-size:55px; color:$black1; font-weight:$thin;}
		#{$this}__wrap{border:1px solid #eeeeee;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-ulthermage{
			#{$this}__list{margin-top:50px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-ulthermage{
			#{$this}__tit{font-size:2.4rem;}
			#{$this}__list{margin-top:20px;}
		}
	}
}
.ulthermage-box2{
	$this:&;
	&__txt{display:inline-block; margin:0; padding-left:13px; font-size:30px; font-weight:$thin; color:$black1; letter-spacing:13px; box-sizing:border-box;}
	&__tit{margin:26px 0 0 0; display:inline-block; padding:18px 0 20px; border-top:2px solid $black1; border-bottom:2px solid $black1; font-size:50px; font-weight:$regular; color:$black1;}
	&__box{width:100%; max-width:960px; margin:0px auto;}
	&__list{margin:70px 0 0 -16px; padding:0;
		&:after{display:block; clear:both; content:'';}
		&.type-four{margin:34px 0 0 -16px;
			#{$this}__item{width:25%;}
		}
	}
	&__item{float:left; width:33.33%; padding-left:16px; height:118px; box-sizing:border-box; list-style:none;}
	&__wrap{display:table-cell; width:1%; height:inherit; border:2px solid $black1; vertical-align:middle; box-sizing:border-box;}
	&__subject{margin:0; color:$black1; font-weight:$lightDown;}
	&__txt2{line-height:1.5;}
	&__img{margin-top:35px;}
	@media only screen and (max-width: $tablet-size){
		&__txt{padding-left:10px; letter-spacing:10px;}
		&__tit{letter-spacing:-1px;}
		&__list{margin:60px 0 0 -8px;
			&.type-four{margin-left:-8px;}
		}
		&__item{padding-left:8px;}
		&__subject{letter-spacing:-1px;}
		&__txt2{letter-spacing:-1px;}
	}
	@media only screen and (max-width: $mobile-size){
		&__list{margin-top:30px; margin-left:-10px;
			&.type-four{margin-top:18px; margin-left:-10px;
				#{$this}__item{width:50%; height:84px;}
				#{$this}__item + #{$this}__item + #{$this}__item{margin-top:10px;}
			}
		}
		&__item{height:94px; padding-left:10px;}
		&__txt{font-size:1.6rem; letter-spacing:5px; padding-left:5px;}
		&__tit{padding:10px 0; font-size:3.1rem; border-width:1px;}
		&__img{margin-top:18px;padding:0 45px; box-sizing: border-box;
			img{width:100%;}
		}
		&__subject{font-size:1.2rem;}
		&__txt2{font-size:1.1rem;}
	}
}
.img-list4{
	$this:&;
	&.type-ulthermage{background-color:#fedfe2;
		#{$this}__list{
			&:before{background:url('../images/heal/ulthermage/ulthermage_img3.png') no-repeat top left / contain;}
		}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-ulthermage{
			#{$this}__list{
				&:before{background-position:center center;}
			}
		}
	}
}
.ulthermage-box4{background-color:#242424;
	&__subtit{color:#bbb;}
	&__tit{margin:20px 0 0 0; font-size:55px; color:#fff;
		strong{font-weight:$regular;}
	}
	&__img{position:relative; width:100%; height:0; padding-bottom:41.27%;}
	&__wrap{padding:50px; box-sizing:border-box; background-color:#fff; text-align:left;}
	&__name{margin:0; font-size:24px; color:$black1; font-weight:$light;}
	&__list{margin:56px 0 0 0; padding:0 108px; box-sizing:border-box;}
	&__item{list-style:none;
		& + &{margin-top:40px;}
	}
	&__list2{margin:30px 0 0 0; padding:0;}
	&__item2{list-style:none; font-size:17px; color:$black3; line-height:1.3; letter-spacing:-1px;
		& + &{margin-top:20px;}
	}
	@media only screen and (max-width: $tablet-size){
		&__item{
			& + &{margin-top:80px;}
		}
		&__list{padding:0;}
	}
	@media only screen and (max-width: $tablet-size){
		&__tit{margin-top:10px; font-size:2.9rem;}
		&__list{margin-top:26px;}
		&__wrap{padding:25px;}
		&__item{
			& + &{margin-top:45px;}
		}
		&__name{font-size:1.3rem;}
		&__list2{margin-top:15px;}
		&__item2{font-size:1.1rem;
			& + &{margin-top:12px;}
		}
	}
}
.color-ulthermage1{color:$ulthera;}
.color-ulthermage2{color:#ff8ea3;}
.color-ulthermage3{color:#ff5777;}
