@charset "utf-8";
@import "mixins";
/*광채토닝이랑 같이씀*/
.content-visual{
	$this:&;
	&.type-water{
		#{$this}__img{background:url('../images/whitening/water/water_visual.jpg') no-repeat center center / cover;}
		#{$this}__point{background-color:$whitening;}
		#{$this}__tit-point{color:$whitening;}
		#{$this}__table{background-color:#49a9d5;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-water{
			#{$this}__img{background:url('../images/whitening/water/water_visual.jpg') no-repeat center left -50px/ cover;}
			#{$this}__wrap{padding:0 40px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-water{
			#{$this}__img{background:url('../images/whitening/water/water_visual.jpg') no-repeat center left -20px/ cover;}
			#{$this}__wrap{padding:0 12px;}
		}
	}
}
.content-top{
	$this:&;
	&.type-water{padding:150px 200px 845px; box-sizing:border-box; background:url('../images/whitening/water/water_img1.jpg') no-repeat center bottom / cover;
		#{$this}__subtit{margin-top:0;}
		#{$this}__txt{
			&:before{border-color:#d8d8d8;}
		}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-water{padding:100px 30px 89.19%; background:url('../images/whitening/water/water_img1_t.jpg') no-repeat center bottom / cover;
			#{$this}__txt{padding-left:120px; padding-right:120px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-water{padding:50px 30px 112.5%;
			#{$this}__txt{padding-left:0px; padding-right:0px;}
		}
	}
}

.water-box2{
	$this:&;
	&__subtit{margin:0; font-size:20px; font-weight:$thin; color:$black1; letter-spacing:10px;
		&:before{display:block; width:54px; height:44px; margin:0px auto 34px; background:url('../images/whitening/water/water_icon.jpg'); content:'';}
	}
	&__tit{margin-top:30px;}
	&__txt{margin-top:40px;}
	&__box{margin-top:56px; padding:60px 0;  background-color:#f9f9f9;}
	&__list{margin:0; padding:0; font-size:0;}
	&__item{display:inline-block; list-style:none; font-size:22px; color:$black1;
		& + &{margin-left:90px;}
		&.nth-1{
			#{$this}__subject{
				&:before{background:url('../images/whitening/water/water_skin1.jpg') no-repeat center bottom;}
			}
		}
		&.nth-2{
			#{$this}__subject{
				&:before{background:url('../images/whitening/water/water_skin2.jpg') no-repeat center bottom;}
			}
		}
		&.nth-3{
			#{$this}__subject{
				&:before{background:url('../images/whitening/water/water_skin3.jpg') no-repeat center bottom;}
			}
		}
	}
	&__subject{margin:0;
		&:before{display:block; width:184px; height:230px; margin-bottom:26px; content:'';}
	}
	@media only screen and (max-width: $tablet-size){
		&__box{margin-left:-65px; margin-right:-65px;}
		&__item{
			& + &{margin-left:44px;}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&__subtit{padding-left:5px; letter-spacing:5px; font-size:1.1rem;
			&:before{width:27px; height:22px; margin-bottom:17px; background-size:27px 22px;}
		}
		&__tit{margin-top:12px;}
		&__txt{margin-top:16px;}
		&__box{margin:22px -12px 0; padding:25px 0;}
		&__list{}
		&__item{
			&.nth-1{
				#{$this}__subject{
					&:before{background:url('../images/whitening/water/water_skin1.jpg') no-repeat center bottom / contain;}
				}
			}
			&.nth-2{
				#{$this}__subject{
					&:before{background:url('../images/whitening/water/water_skin2.jpg') no-repeat center bottom / contain;}
				}
			}
			&.nth-3{
				#{$this}__subject{
					&:before{background:url('../images/whitening/water/water_skin3.jpg') no-repeat center bottom / contain;}
				}
			}
			& + &{margin-left:18px;}
		}
		&__subject{font-size:1.2rem;
			&:before{width:78px; height:97px; margin-bottom:13px; background-size:contain;}
		}
	}
}

.water-box3{padding-top:100px;
	$this:&;
	&__tit{margin:0; font-size:44px; font-weight:$thin; color:$black1;}
	&__list{margin:50px 0 0 -40px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:25%; padding-left:40px; list-style:none; box-sizing:border-box;
		&:first-child{
			#{$this}__txt{margin:20px -10px 0;}
		}
	}
	&__img{position:relative; width:100%; height:0; padding-bottom:100%; margin:0px auto 30px;}
	&__subject{margin:0; font-size:22px; color:$black1; font-weight:$light;}
	&__txt{margin:20px -4px 0 -4px; line-height:1.6;}
	&__box{padding:0 4px; box-sizing:border-box;}
	@media only screen and (max-width: $tablet-size){overflow:hidden;
		&__box{padding:0;}
		&__item{width:50%;
			& + & + &{margin-top:46px;}
		}
		&__txt{min-height:82px; padding:0 36px; box-sizing:border-box;}
	}
	@media only screen and (max-width: $mobile-size){padding-top:50px; padding-bottom:40px;
		&__tit{font-size:2.3rem;}
		&__list{margin-top:28px;}
		&__item{
			&:first-child{
				#{$this}__txt{margin:10px 0 0 0;}
			}
			& + & + &{margin-top:22px;}
		}
		&__img{margin-bottom:14px;}
		&__subject{font-size:1.5rem;}
		&__txt{min-height:80px; margin:10px 0 0 0; padding:0; font-size:1.2rem;}
	}
}
.water-box4{padding-top:110px; background:url('../images/whitening/water/water_bg1.jpg') no-repeat center center / cover;
	&__subtit{margin:0; font-size:20px; font-weight:$thin; color:#fff;}
	&__tit{margin:40px 0 0 0; color:#fff;}
	&__txt{margin:40px 0 0 0; color:#a3acb1;}
	&__img{overflow:hidden; width:100%; height:0; margin-top:70px; padding-bottom:42.38%; text-indent:-9999px; background:url('../images/whitening/water/water_eq1.png') no-repeat center bottom / contain;}
	@media only screen and (max-width: $mobile-size){padding-top:50px;
		&__subtit{font-size:1.4rem;}
		&__tit{margin-top:22px;}
		&__txt{margin-top:22px;}
		&__img{margin-top:32px;}
	}
}

.water-tab1{
	&__txt{margin-top:30px;}
	&__list{margin:56px 0 0 -40px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; padding-left:40px; box-sizing:border-box; list-style:none;}
	&__wrap{position:relative; padding-left:20px;}
	&__plus{overflow:hidden; position:absolute; top:0; left:0; width:60px; height:60px; border-radius:50%; text-indent:-9999px; background:$whitening;
		span{position:relative; display:block; width:inherit; height:inherit;
			&:before,&:after{position:absolute; display:block; top:0; bottom:0; right:0; left:0; margin:auto; content:''; }
			&:before{width:25px; height:0; border-top:3px solid #fff;}
			&:after{height:25px; width:0; border-left:3px solid #fff;}
		}
	}
	&__box{display:table-cell; width:1%; height:60px; padding-left:60px; border:1px solid #ddd; border-radius:10px; vertical-align:middle; font-size:24px; color:$black3;
		box-sizing:border-box; text-align:left;}
	@media only screen and (max-width: $tablet-size){
		&__list{margin:46px 0 0 0; padding:0 60px; box-sizing:border-box;}
		&__item{width:100%; padding-left:0;
			& + &{margin-top:30px;}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&__list{margin-top:24px; padding:0 20px;}
		&__plus{width:30px; height:30px;
			span{
				&:before{width:14px; border-width:2px;}
				&:after{height:14px; border-width:2px;}
			}
		}
		&__box{height:30px; padding-left:30px; font-size:1.3rem; border-radius:5px;}
		&__wrap{padding-left:11px;}
		&__item{
			& + &{margin-top:15px;}
		}
	}
}

.content-faq{
	$this:&;
	&.type-water{
		#{$this}__box{background:url('../images/whitening/water/water_bg3.jpg') no-repeat center center / cover;}
		.talk{
			&.type-1:before{background:url('../images/whitening/water/water_icon1.png') no-repeat center center / cover;}
		}
	}
}

.content-info{
	$this:&;
	&.type-water{margin-top:0; background-color:#08283a;
		#{$this}__tit{color:#fff;
			&:before{background:url('../images/whitening/toning/toning_icon1.png') no-repeat center center / cover;}
		}
		#{$this}__box{height:240px;
			&.type-subject{width:454px;}
			&.type-list{padding-left:454px;}
		}
		#{$this}__item{color:#fff;
			&:before{background:url('../images/whitening/toning/toning_icon2.png') no-repeat center center / cover;}
		}
		#{$this}__list{border-color:#5a6d78;}
		@media only screen and (max-width: $minpc-size3) {margin-left:0; margin-right:0;
			#{$this}__box{height:auto;
				&.type-subject{width:100%;}
				&.type-list{padding-left:0;}
			}
		}
	}
}

.hexa-box{
	$this:&;
	&.type-water{background:url('../images/whitening/water/water_bg2.jpg') no-repeat center center / cover; padding-bottom:150px;
		#{$this}__hexa{margin-top:156px; background:url('../images/whitening/water/water_hexagon.png') no-repeat center center / cover;}
		&.type-another{background:url('../images/whitening/water/water_bg2_1.jpg') no-repeat center center / cover; padding-bottom:100px;
			#{$this}__item{width:200px;
				&.nth-1,&.nth-3{left:-230px;}
				&.nth-2,&.nth-4{right:-230px;}
				&.nth-5{width:280px;}
			}
		}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-water{
			&.type-another{
				#{$this}__item{width:130px;
					&.nth-1,&.nth-3{left:-170px;}
					&.nth-2,&.nth-4{right:-170px;}
				}
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-water{padding-bottom:80px;
			#{$this}__hexa{margin-top:55px;}
			#{$this}__item{
				&.nth-5{top:-30px; width:90px;}
				&.nth-6{bottom:-30px;}
			}
			&.type-another{padding-bottom:50px;
				#{$this}__item{width:70px;
					&.nth-1,&.nth-3{left:-84px;}
					&.nth-2,&.nth-4{right:-84px;}
					&.nth-5{width:auto; margin:0 -20px; }
				}
			}
		}
	}
}

.water-tab2{
	$this:&;
	&__txt{margin-top:36px;}
	&__list{margin:50px 0 0 0; padding:0; font-size:0;}
	&__item{position:relative; display:inline-block; width:250px; list-style:none;
		& + &{margin-left:80px;
			&:before,&:after{position:absolute; top:0; bottom:0; display:block; margin:auto 0; content:'';}
			&:before{left:-63px; width:47px; height:0; border-top:7px solid #dadada;}
			&:after{left:-43px; width:0; height:47px; border-left:7px solid #dadada;}
			&.type-total{margin-left:120px;
				&:before{top:-14px; left:-83px; width:47px; height:0; border-top:7px solid #dadada;}
				&:after{top:14px; left:-83px; width:47px; height:0; border-top:7px solid #dadada; border-left:none;}
				#{$this}__subject{background-color:$whitening;}
			}
		}
	}
	&__border{border:1px solid #ccc; border-bottom:none;}
	&__img{position:relative; width:100%; height:0; padding-bottom:96.37%;}
	&__subject{display:table-cell; width:1%; height:60px; vertical-align:middle; background-color:#7a7a7a; color:#fff; font-size:22px;}
	@media only screen and (max-width: $tablet-size){
		&__item{
			& + &.type-total{display:block; margin:150px auto 0px auto;
				&:before{top:-98px; left:-14px; right:0; bottom:auto; width:0; height:47px; margin:0px auto; border-left:7px solid #dadada; border-top:none;}
				&:after{top:-98px; left:14px; right:0; bottom:auto; width:0; height:47px; margin:0px auto; border-left:7px solid #dadada; border-top:none;}
			}
		}
	}
	@media only screen and (max-width: $mobile-size){overflow:hidden;
		&__list{margin:22px 0 0 -45px; text-align:center;
			&:after{display:block; clear:both; content:'';}
		}
		&__item{width:50%; padding-left:45px; box-sizing:border-box;
			& + &{margin-left:0;
				&:before{left:11px; width:23px; border-top-width:3px;}
				&:after{left:21px; height:23px; border-left-width:3px;}
				&.type-total{display:block; margin:75px auto 0px auto;
					&:before{top:-49px; left:-7px; right:-45px; height:23px; border-left-width:3px;}
					&:after{top:-49px; left:7px; right:-45px; height:23px; border-left-width:3px;}
				}
			}
		}
		&__subject{height:30px; font-size:1.2rem;}
		&__txt{margin-top:16px;}
	}
}

.water-tab3{background-color:#08283a;
	&__tit{color:#fff;}
	&__list{margin:56px 0 0 0; padding:0;}
	&__item{list-style:none;
		& + &{margin-top:50px;}
	}
	&__img{font-size:0;
		img{width:100%;}
	}
	&__txt{display:table-cell; width:1%; height:70px;font-size:22px; color:#fff; background-color:#71c3e9; vertical-align:middle;}
	@media only screen and (max-width: $tablet-size){
		&__list{margin-top:40px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__list{margin-top:22px;}
		&__txt{height:35px; font-size:1.2rem;}
	}
}

.water-tab4{padding-top:0; padding-left:210px; padding-right:210px;
	&__list{margin:64px 0 0 -100px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:33.33%; list-style:none; padding-left:100px; box-sizing:border-box;}
	&__img{position:relative; width:100%; height:0; padding-bottom:100%;}
	&__subject{margin:26px 0 0 0; font-size:22px; color:$black1; font-weight:$light;}
	&__txt{margin:10px -40px 0; line-height:1.6;}
	@media only screen and (max-width: $tablet-size){padding-left:116px; padding-right:116px;
		&__item{width:50%;
			& + & + &{margin-top:46px;}
		}
	}
	@media only screen and (max-width: $mobile-size){overflow:hidden; padding-left:30px; padding-right:30px;
		&__list{margin:32px 0 0 -36px;}
		&__item{padding-left:36px;
			& + & + &{margin-top:20px;}
		}
		&__subject{margin-top:13px; font-size:1.4rem;}
		&__txt{margin:8px -10px 0; font-size:1.2rem;}
	}
}


.circle-style{
	$this:&;
	&.type-water{padding-top:100px; background-color:#fff;
		&.type-another{background:#fbfbfb;}
		#{$this}__list{margin-top:30px;}
		#{$this}__item{padding-left:170px;
			&:before{width:136px; height:136px;}
			&.nth-1{
				&:before{background:url('../images/whitening/water/water_prp_icon1.png') no-repeat center center / contain;}
			}
			&.nth-2{
				&:before{background:url('../images/whitening/water/water_prp_icon2.png') no-repeat center center / contain;}
			}
			&.nth-3{
				&:before{background:url('../images/whitening/water/water_prp_icon3.png') no-repeat center center / contain;}
			}
			&.nth-4{
				&:before{background:url('../images/whitening/water/water_prp_icon4.png') no-repeat center center / contain;}
			}
		}
		#{$this}__wrap{height:136px;}
		#{$this}__tit{font-size:30px;}
		#{$this}__txt{font-size:22px;}
	}
	@media only screen and (max-width: $mobile-size){
		&.type-water{padding-top:50px;
			#{$this}__list{margin-top:10px;}
			#{$this}__item{padding-left:85px;
				&:before{width:68px; height:68px;}
			}
			#{$this}__wrap{height:68px;}
			#{$this}__tit{font-size:1.6rem;}
			#{$this}__txt{font-size:1.2rem;}
		}
	}
}
.content-step{
	$this:&;
	&.type-water{padding:100px 92px 0; background-color:#fff;
		#{$this}__tit{font-size:46px; color:$black1; font-weight:$thin;}
		#{$this}__wrap{border:1px solid #eee;}
	}
	@media only screen and (max-width: $tablet-size){
		&.type-water{padding:100px 122px 0;}
	}
	@media only screen and (max-width: $mobile-size){
		&.type-water{padding:50px 28px 0;
			#{$this}__tit{font-size:2.4rem;}
		}
	}
}
.img-list8{
	&.type-water{background-color:#f0f8fc;}
}
.img-list9{
	$this:&;
	&.type-water{background-color:#e3f0fa;
		@media only screen and (max-width: $mobile-size){
			#{$this}__txt{min-height:34px;}
		}
	}
}
.comparison{
	$this:&;
	&.type-water{
		#{$this}__wrap{
			&:before{display:none;}
		}
		#{$this}__box{
			&.nth-1{
				#{$this}__hexagon{background:url('../images/whitening/water/water_hexagon2.png') no-repeat center center / cover;}
			}
			&.nth-2{
				#{$this}__hexagon{background:url('../images/whitening/water/water_hexagon3.png') no-repeat center center / cover;}
			}
		}
	}
}
.color-water1{color:$whitening;}
