@charset "utf-8";
@import "mixins";
/*공통사항*/
.content-visual{
	$this:&;
	&.type-wedding{border-bottom:1px solid #d7d7d7;
		#{$this}__img{background:url('../images/medical/wedding/wedding_visual.jpg') no-repeat center center / cover;}
		#{$this}__point{background-color:$wedding;}
		#{$this}__tit-point{color:$wedding;}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-wedding{
			#{$this}__wrap,#{$this}__img{height:490px;}
			#{$this}__img{background:url('../images/medical/wedding/wedding_visual.jpg') no-repeat top left -30px / cover;}
		}
	}
}
.content-top{padding-top:150px; padding-bottom:600px; box-sizing:border-box;
	$this:&;
	&.type-wedding{background:url('../images/medical/wedding/wedding_img1.jpg') no-repeat center center / cover;
		#{$this}__subtit{margin-top:0; color:#fff;}
		#{$this}__txt{color:#fff;}
		#{$this}__tit{color:#fff;}
	}
	@media only screen and (max-width: $mobile-size) {padding-top:50px; padding-bottom:83.43%;
		&.type-wedding{
			#{$this}__txt{padding-left:20px; padding-right:20px; box-sizing:border-box;}
		}
	}
}

.wedding-box1{
	&__box{padding:40px 0; box-sizing:border-box; background-color:#d3c2ae; text-align:center;}
	&__list{margin:0; padding:0; font-size:0;}
	&__item{display:inline-block; width:172px; height:172px; margin:0 15px; padding:0 20px; border-radius:50%; background-color:#fff; font-size:18px; color:$black2; list-style:none; box-sizing:border-box; line-height:1.44;}
	@media only screen and (max-width: $tablet-size) {
		&__box{padding:30px 0;}
		&__item{width:162px; height:162px; margin:10px; font-size:17px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__box{padding:15px;}
		&__item{width:110px; height:110px; font-size:1.2rem;}
	}
}

.wedding-box2{text-align:center;
	&__tit{margin:0;}
	&__txt{margin:20px 0 0 0;}
	&__list{margin:50px 0 0 0; padding:0; font-size:0;}
	&__item{display:inline-block; width:300px; height:300px; padding:0; margin:0 25px; list-style:none; font-size:28px; font-weight:$regular; color:#fff; line-height:1.3;
		&.nth-1{background:url('../images/medical/wedding/wedding_circle1.png') no-repeat center center / cover;}
		&.nth-2{background:url('../images/medical/wedding/wedding_circle2.png') no-repeat center center / cover;}
		&.nth-3{background:url('../images/medical/wedding/wedding_circle3.png') no-repeat center center / cover;}
	}
	@media only screen and (max-width: $tablet-size) {
		&__list{margin-left:-65px; margin-right:-65px;}
		&__item{
			&.nth-3{margin-top:-18px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&__list{margin-top:20px; margin-left:-12px; margin-right:-12px;}
		&__item{width:150px; height:150px; margin:0 10px; font-size:1.4rem;
			&.nth-3{margin-top:-10px;}
		}
	}
}
.wedding-box3{padding:150px 108px; background:url('../images/medical/wedding/wedding_img2.jpg') no-repeat center center / cover; box-sizing:border-box; text-align:center;
	&__tit{margin:0;}
	&__txt{margin:20px 0 0 0;}
	&__box{margin-top:60px; padding:70px 108px; background-color:#fff; box-sizing:border-box;}
	&__subject{margin:0; font-size:26px; font-weight:$regular; color:$black1;}
	&__list{margin:26px 0 0 -48px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; display:block; width:33.33%; height:60px; padding-left:48px; box-sizing:border-box; list-style:none; text-decoration:none;
		.vertical{border:2px solid #e2e2e2; box-sizing:border-box;}
	}
	@media only screen and (max-width: $tablet-size) {padding:100px 65px;
		&__subject{font-size:1.4rem;}
		&__txt{padding:0 40px; box-sizing:border-box;}
		&__list{margin-left:0;}
		&__item{float:none; width:100%; padding-left:0;
			& + &{margin-top:20px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {padding:50px 12px;
		&__txt{padding:0 10px;}
		&__box{margin-top:40px; padding:25px 35px;}
		&__list{margin-top:15px;}
		&__item{height:30px;
			& + &{margin-top:10px;}
			.vertical{padding-top:2px; border-width:1px;}
		}
	}
}




.color-wedding1{color:$wedding;}
