@charset "UTF-8";
@import "mixins";
.content-section{
	&.whitening-section0{
		&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:url('../images/whitening/detail/whitening_detail_top.jpg') no-repeat center center / cover; content:'';}
		.detail-visual{margin-top:0;}
	}
	&.whitening-section1{background-color:#f8f8fa;
		&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:url('../images/whitening/detail/whitening_detail_bg1.jpg') no-repeat left center / cover;  content:'';}
		.inner-wrap{position:relative; }
	}
	&.whitening-section2{background-color:#0a1c24;
		&:before{position:absolute; top:0; right:0; display:block; width:100%; height:100%; background:url('../images/whitening/detail/whitening_detail_bg2.jpg') no-repeat center right / cover;  content:'';}
	}
	&.whitening-section3{background-color:#8eb0e5;
		&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:url('../images/whitening/detail/whitening_detail_bg3.jpg') no-repeat left center / cover;  content:'';}
	}
	&.whitening-section4{background-color:#242728;
		&:before{position:absolute; top:0; right:0; display:block; width:100%; height:100%; background:url('../images/whitening/detail/whitening_detail_bg4.jpg') no-repeat center center / cover;  content:'';}
	}
	@media only screen and (max-width:$tablet-size){
		&.whitening-section0{
			.detail-visual{margin-top:210px;}
		}
		&:not(.whitening-section0):before{display:none !important;}
	}
	@media only screen and (max-width:$mobile-size){
		&.whitening-section0:before{background:url('../images/whitening/detail/whitening_detail_top_m.jpg') no-repeat center center / cover;}
	}
}
$whitening-color:#49a9d5;
.whitening-detail1{
	&__color{color:$whitening-color;}
	@media only screen and (max-width:$tablet-size){
		&__img{overflow:hidden; padding-bottom:64.58%; background:url('../images/whitening/detail/whitening_detail_bg1_t.jpg') no-repeat center center / cover; text-indent:-9999px;}
	}
	@media only screen and (max-width:$mobile-size){
	}
}
.whitening-detail2{
	&__tit{color:#fff;}
	&__subtit{color:#fff;}
	&__txt{color:#8fa1a9;}
	&__color{color:$whitening-color;}
	@media only screen and (max-width:$tablet-size){
		&__img{overflow:hidden; padding-bottom:68.09%; background:url('../images/whitening/detail/whitening_detail_bg2_t.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width:$mobile-size){
	}
}
.whitening-detail3{
	&__tit{color:#fff;}
	&__subtit{color:#fff;}
	&__txt{color:#d8e9ff;}
	&__color{color:#ffea74}
	@media only screen and (max-width:$tablet-size){
		&__img{padding-bottom:81.38%; background:url('../images/whitening/detail/whitening_detail_bg3_t.jpg') no-repeat center center / cover;}
	}
	@media only screen and (max-width:$mobile-size){
	}
}
.whitening-detail4{
	&__tit{color:#fff;}
	&__subtit{color:#fff;}
	&__txt{color:#aeb7bd;}
	&__color{color:$whitening-color;}
	@media only screen and (max-width:$tablet-size){
		&__img{padding-bottom:60.67%; background:url('../images/whitening/detail/whitening_detail_bg4_t.jpg') no-repeat center center / cover;}
	}
}
