@charset "UTF-8";
@import "variables";
@import "mixins";

.bfaf{position: fixed; right:-320px; top: 50px;width: 310px; height: 100%; background: #f4f4f4; z-index: 50; -webkit-transition: right 0.5s linear; -moz-transition: right 0.5s linear;
	-ms-transition: right 0.5s linear; transition: right 0.5s linear;
	&__title{display:none;}
	&__scroll{position: absolute; width: 340px; height:calc(100% - 120px); overflow-y: scroll; z-index: 3;}
	&.is-active{right:0px;}
	&__box{position:relative; width:100%; height:0; padding-bottom:106.66%;}
	&__area{width:310px; padding:15px 30px 0; box-sizing:border-box;}
	&__noti{position: fixed; width: 320px; bottom: 20px; margin:0; font-size: 11px; color: #b0b0b0; text-align: center;}
	&__txt{position: absolute; bottom: 16px; width: 100%;  text-align: center;font-size: 15px;color: #555; letter-spacing: 7px; z-index:5;}
	&__bg{position: absolute; width: 100%; height: 100%; background: transparent; z-index: 10; border: 2px solid #d9dbe0; box-sizing:border-box;
		&.is-active{background: rgba(0,0,0,.35); border: transparent;}
	}
	@media only screen and (max-width: $tablet-size) {top:60px; width:250px;
		&__scroll{width:270px;  height:calc(100% - 100px);}
		&__area{width:250px; padding:0;}
		&__noti{bottom:5px; width:250px; font-size:10px;}
	}
	@media only screen and (max-width: $mobile-size) {position: static; width: 100%; right: auto; top: 0; height: auto; margin-top:50px; background: transparent; padding: 0 15px 0; box-sizing:border-box;
		&__title{display:block; margin:0; font-family: $font-pt; font-size:2.4rem; font-weight:400;}
		&__scroll{overflow: visible; position:static; width:100%; height:auto; margin-top:15px;}
		&__area{width:100%;}
		&__noti{position:static; width:100%; margin-top:20px; font-size:1.0rem;}
		&__box{float:left; width:50%; padding-bottom:53.33%;}
		&__txt{bottom:5px; font-size:1.1rem; letter-spacing:5px;}
	}
}
.pics{position: relative;
	&:before{position:absolute; display:block; top:-30px; left:0; width:100%;  height:0; border-top:1px solid #c2c2c2; content:'';}
	&:first-child{
		&:before{display:none;}
	}
	&__list{position: absolute; top: 12px; left: 10px; z-index: 20; padding:0; margin:0; list-style:none;}
	&__item{position: relative;}
	&__link{overflow:hidden; display:block; width:47px; height:47px; border-radius:50%; background:url('../images/common/bfaf/link.png') #fff no-repeat center center / 17px 33px; text-indent:-999px;}
	& + &{margin-top:60px;}
	@media only screen and (max-width: $tablet-size) {
		&:before{top:-17px;}
		& + &{margin-top:35px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&:after{display:block; clear:both; content:'';}
		&__link{width:42px; height:42px; background-size:16px 30px;}
	}
}
.pics-link{
	$this:&;
	&__list{display:block; margin:0; padding:0; list-style:none; //2개이상일때는 none
		&.is-active{display:block;}
	}
	&__tit{opacity: 0;position: absolute; top:16px;  margin-left: 60px; display: inline-block;background: #333;border-radius: 3px;color: #fefefe;font-size: 12px;padding: 2px 7px;
		&:before{content: '';position:absolute; top:3px; left:-7px;  width: 0px;height: 0px; border-top:3px solid transparent; border-bottom:3px solid transparent; border-right: 5px solid #333; border-left: 3px solid  transparent;}
	}
	&__item{position:relative; width:47px; height:47px; border-radius:50%; background-color:#333; //2개이상일때는 margin-top:10px;
		&.type-photo{
			&:hover{background-color:#ff4c1c;}
			#{$this}__link{background:url('../images/common/bfaf/link_photo.png') no-repeat center center / 29px 21px;}
		}
		&.type-real{
			&:hover{background-color:#ffa329;}
			#{$this}__link{background:url('../images/common/bfaf/link_real.png') no-repeat center center / 15px 27px;}
		}
		&:hover{
			#{$this}__tit{opacity: 1;}
		}
	}
	&__link{overflow:hidden; display:block; width:100%; height:100%;  text-indent:-999px;}
	@media only screen and (max-width: $mobile-size) {
		&__tit{display:none; opacity: 1; font-size:1.2rem;}
		&__item{width:42px; height:42px;
			&.type-photo{background-color:#ff4c1c;
				#{$this}__link{background-size:25px 18px;}
			}
			&.type-real{background-color:#ffa329;
				#{$this}__link{background-size:13px 22px;}
			}
		}
	}
}
.side-link{overflow:hidden; position: fixed; right: 45px; top: 75px; display:block; width: 47px; height: 47px; border-radius: 50%; background:url('../images/common/bfaf/sideFix.png') #afafaf;
	z-index: 60;  text-indent:-9999px;
	&.is-active{background-color:#8d217f;}
	@media only screen and (max-width: $tablet-size) {right:10px;}
	@media only screen and (max-width: $mobile-size) {display:none;}
}
.side-noti{display:none; position: fixed; background: #333; border-radius: 3px; top: 88px; right: 104px; margin:0; font-size: 14px; color: #fefefe; padding: 3px 7px; z-index: 50;
	span{color:#fe9af1;}
	&:after{content: '';position:absolute; top:6px; right:-8px;  width: 0px;height: 0px; border-top:3px solid transparent; border-bottom:3px solid transparent; border-right: 3px solid transparent; border-left: 6px solid #333;}
	&.is-active{display:block;}
	@media only screen and (max-width: $tablet-size) {right:70px;}
	@media only screen and (max-width: $mobile-size) {
		&.is-active{display:none;}
	}
}




.content-visual{
	&:after{display:block; clear:both; content:'';}
	&__tit{margin:0; font-size:22px; color:$black1; font-weight:$lightDown;}
	&__tit-point{display:block; margin-left:-5px; font-size:70px; font-weight:$thin;}
	&__box{float:left; box-sizing:border-box;
		&.type-left{width:540px; border-left:1px solid #d7d7d7;
			&.type-another{border-left:none;}
		}
		&.type-right{width:57.8%; width:calc(100% - 540px); border-right:1px solid #d7d7d7;
			&.type-another{border-right:none;}
		}
	}
	&__wrap{display:table-cell; width:1%; padding:0 45px; height:950px; vertical-align:middle; box-sizing:border-box;}
	&__txt1{position:relative; margin-top:64px; font-size:16px; color:$black3; line-height:1.375;
		&:before{display:block; width:26px; height:0; margin-bottom:28px; border-top:2px solid #000; content:'';}
	}
	&__point{width:110px; line-height:30px; margin:124px 0 0 0; color:#fff; border-radius:10px; text-align:center;}
	&__txt2{margin:18px 0 0 0; font-size:16px; color:$black2; line-height:1.625;}
	&__img{overflow:hidden; width:100%; height:950px; text-indent:-999px;}
	&__table{display:table-cell; width:1%; height:172px; background-color:#3d1f5c; vertical-align:middle; text-align:center;}
	&__subject{position:relative; display:inline-block; margin:0; padding-left:40px; color:#fff; font-size:25px; font-weight:400;
		&:before{position:absolute; top:0; left:0; bottom:0; width:32px; height:32px; margin:auto 0; background:url('../images/common/content/visual_icon1.png') no-repeat center center / cover; content:'';}
	}
	&__dl{margin:0; border-bottom:1px solid #d7d7d7; box-sizing:border-box;
		&:first-child{border-top:1px solid #d7d7d7;}
		&:after{display:block; clear:both; content:'';}
	}
	&__dt{float:left; height:56px; width:27%; padding:0 10px 0 30px; border-right:1px solid #d7d7d7; box-sizing:border-box; background-color:#f9f9f9;}
	&__dd{float:left; height:56px; width:73%; padding:0 18px;margin:0; box-sizing:border-box;}
	@media only screen and (max-width: $tablet-size) {
		&__box{float:left;
			&.type-left{width:45.6%;
				&.type-another{width:100%;}
			}
			&.type-right{width:54.4%;
				&.type-another{width:100%;}
			}
		}
		&__table{display:block; width:auto; height:auto; padding:16px 40px; text-align:left;}
		&__tit-point{word-break: break-all;}
		&__txt1{margin-top:50px;}
		&__point{margin-top:90px;}
		&__wrap{height:880px;}
		&__img{height:880px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__wrap{padding:0 12px;}
		&__tit{font-size:1.2rem;}
		&__tit-point{display:block; margin-top:5px; font-size:3.8rem; line-height:1.2;}
		&__txt1{margin-top:35px; font-size:1.2rem;
			&:before{width:13px; margin-bottom:13px; border-width:1px;}
		}
		&__txt2{font-size:1.2rem;}
		&__point{width:55px; margin-top:35px; font-size:0.9rem; line-height:20px; border-radius:7px;}
		&__box{float:left;
			&.type-left{width:50%;}
			&.type-right{width:50%;}
		}
		&__wrap{height:410px;}
		&__img{height:410px; background-position:center right -20px;}
		&__table{padding:13px 12px;}
		&__subject{padding-left:20px; font-size:1.4rem;
			&:before{width:16px; height:16px; background-size:16px 16px; content:'';}
		}
	}
}
.content-table{width:100%; margin:0; padding:0; border-top:1px solid #d7d7d7;  font-size:0;
	$this:&;
	&.type-multi{
		#{$this}__item{display:inline-block; width:50%; box-sizing:border-box;}
		#{$this}__th{width:160px;}
		#{$this}__wrap{display:table; width:100%;}
	}
	&__item{list-style:none; border-right:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7;}
	&__tr{display:table; width:100%;  border-spacing:0px; border-collapse:collapse;}
	&__th,&__td{display:table-cell; height:56px; padding:0; vertical-align:middle; font-size:15px; text-align:left;}
	&__th{width:200px; padding:0 10px 0 30px; border-right:1px solid #d7d7d7; box-sizing:border-box; background-color:#f9f9f9; font-weight:400; color:#666666;}
	&__th-w{width:200px;}
	&__td-w{width:auto;}
	&__th-w2{width:160px;}
	&__td-w2{width:210px;}
	&__td{width:auto; padding:0 18px; box-sizing:border-box; color:#999;}
	&__noti{font-size:13px; color:$black2;}
	@media only screen and (max-width: $tablet-size) {
		&__th,&__td{height:auto; padding-top:18px; padding-bottom:18px; vertical-align:top;}
		&__item{border-right:none;}
		&.type-multi{
			#{$this}__th,#{$this}__td{height:56px; padding-top:0; padding-bottom:0; vertical-align:middle;}
			#{$this}__item{
				&:nth-child(even){border-left:1px solid #d7d7d7;}
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&__th,&__td{padding:12px; font-size:1.2rem;}
		&__th{width:95px;}
		&.type-multi{
			#{$this}__item{display:block; width:100%;
				&:nth-child(even){border-left:none;}
			}
			#{$this}__th,#{$this}__td{height:auto; padding:12px;}
		}
		&__noti{font-size:1.1rem;}
	}
}


.subtit-v1{margin:0; font-weight:$lightDown; font-size:22px; color:$black2; line-height:1.5;
	@media only screen and (max-width: $mobile-size) {font-size:1.4rem;}
}


.tit-v1{margin:0; font-weight:$thin; font-size:60px; color:$black1;
	&.type-bar{margin:30px 0 0 0; color:#fff;
		&:before{display:block; width:45px; height:0; margin:0px auto 30px; border-top:2px solid #fff; content:'';}
	}
	strong{font-weight:$regular;}
	@media only screen and (max-width: $tablet-size) {font-size:55px;}
	@media only screen and (max-width: $mobile-size) {font-size:3.1rem;
		&.type-bar{margin-top:15px;
			&:before{width:22px; border-width:1px; margin-bottom:8px;}
		}
	}
}

.txt-v1{margin:0; font-size:17px; color:$black3; line-height:2;
	@media only screen and (max-width: $mobile-size) {font-size:1.2rem; line-height:1.5;}
}
/*썸네일 타입*/
.tit-v2{margin:0; font-weight:$regular; font-size:24px; color:$black1;
	@media only screen and (max-width: $mobile-size) {font-size:1.3rem;}
}
.txt-v2{margin:8px 0 0 ;font-size:16px; font-weight:$light; color:$black3; line-height:1.5;
	@media only screen and (max-width: $mobile-size) {margin-top:4px; font-size:1.2rem; line-height:1.5;}
}

/*영문+bar 타입*/
.subtit-v3{margin:0; font-size:15px; font-weight:$light; color:#fff; letter-spacing: 3px;
	@media only screen and (max-width: $mobile-size) {font-size:1rem;}
}
.tit-v3{margin:20px 0 0 0; font-weight:$thin; font-size:60px; color:#fff;
	&:before{display:block; width:45px; height:0; margin:0px auto 10px; border-top:1px solid #fff; content:'';}
	strong{font-weight:$light; color:#fff6b8;}
	@media only screen and (max-width: $tablet-size) {font-size:55px;}
	@media only screen and (max-width: $mobile-size) {margin-top:10px; font-size:3.1rem;
		&:before{width:22px; border-width:1px; margin-bottom:5px;}
	}
}

/*tab style*/
.tit-tab{margin:0; font-size:46px; font-weight:$thin; color:$black1;
	@media only screen and (max-width: $mobile-size){font-size:2.4rem;}
}



.box-style1{padding:150px 108px; box-sizing:border-box; text-align:center;
	&.type-pt0{padding-top:0;}
	&.type-pb0{padding-bottom:0;}
	&.type-mt{margin-top:150px;}
	@media only screen and (max-width: $tablet-size) {padding:100px 65px;
		&.type-mt{margin-top:100px;}
	}
	@media only screen and (max-width: $mobile-size) {padding:50px 12px;;
		&.type-mt{margin-top:50px;}
	}
}

.tab-content{display:none;
	&.is-active{display:block;}
}

.tab-style1{padding:100px 108px; text-align:center;
	&.type-pb0{padding-bottom:0;}
	@media only screen and (max-width: $tablet-size){padding:100px 65px;}
	@media only screen and (max-width: $mobile-size){padding:50px 12px;}
}


.content-top{background:url('../images/contour/lifting/all_img1.jpg') no-repeat center bottom / cover;
	&__subtit{margin:150px 0 0 0; text-align:center;}
	&__tit{margin:40px 0 0 0; text-align:center; font-weight:$thin;}
	&__txt{ position:relative; margin:30px 0 0 0; padding-top:60px; text-align:center; line-height:2;
		&:before{position:absolute; top:0; left:0; right:0; width:0; height:30px; margin:0 auto 30px; border-left:1px solid #d8d8d8; content:'';}
	}
	@media only screen and (max-width: $tablet-size) {
		&__subtit{margin-top:100px;}
		&__tit{margin-top:30px;}
	}
	@media only screen and (max-width: $mobile-size) {background-position: center bottom -30px;
		&__subtit{margin-top:50px;}
		&__tit{margin-top:15px;}
		&__txt{margin-top:15px; padding-top:30px;
			&:before{height:15px; margin-bottom:0;}
		}
	}
}

//왼쪽 이미지
.img-list1{
	$this:&;
	&__list{margin:60px 0 0 0; padding:0;}
	&__item{background-color:#fff; list-style:none;
		& + &{margin-top:30px;}
	}
	&__box{position:relative; padding-left:418px; padding-right:80px; text-align:left; box-sizing:border-box;
		&:before{position:absolute; top:0; left:0; display:block; width:418px; height:100%;  content:'';}
	}
	&__wrap{display:table-cell; height:370px; vertical-align:middle;}
	&__tit{margin:0; font-size:30px; font-weight:$light;}
	&__txt{margin:20px 0 0 0; color:$black2;
		& span{color:$lifting;}
	}
	&__area{margin:30px 0 0 0; padding:0;}
	&__bullet{position:relative; padding-left:10px; font-size:16px; color:$black3; line-height:1.5; list-style:none;
		&:before{position:absolute; top:-1px; left:0; vertical-align:middle; content:'-'; }
		& + &{margin-top:10px;}
	}
	&__subtit{margin:24px 0 0 0; font-size:18px; color:$black2; font-weight:$regular;}
	@media only screen and (max-width: $minpc-size3) {
		&__item{background-color:#fff; list-style:none;
			& + &{margin-top:40px;}
		}
		&__box{padding:0;
			&:before{position:static; width:100%; height:0; padding-bottom:43.88%;}
		}
		&__wrap{display:block; height:auto; padding:40px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&__list{margin-top:25px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__subtit{margin-top:14px; font-size:1.3rem;}
		&__item{
			& + &{margin-top:20px;}
		}
		&__wrap{padding:28px 18px;}
		&__tit{font-size:1.8rem;}
		&__txt{margin-top:10px;}
		&__area{margin-top:18px;}
		&__bullet{font-size:1.1rem;
			& + &{margin-top:6px;}
		}
	}
}
//2개 리스트형 이미지
.img-list2{margin-top:70px;
	$this:&;
	&__list{margin:-50px 0 0 -16px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; margin-top:50px; padding-left:16px; list-style:none; box-sizing:border-box;}
	&__wrap{display:table-cell; width:1%; height:234px; padding:0 54px; vertical-align:middle; background-color:#fff; box-sizing:border-box;
		&.type-another{padding:0 80px;}
	}
	&__img{position:relative; width:100%; height:0; padding-bottom:53.29%;}
	&__tit{margin:0; font-size:24px; color:$black1; font-weight:$regular;}
	&__txt{margin:24px 0 0 0; font-size:16px; color:$black3; font-weight:$light; line-height:1.6;}
	&__link{display:inline-block; margin-top:14px; padding:0 20px; line-height:34px; font-size:16px; color:$black1; box-sizing:border-box;  border:1px solid #aeaeae; text-decoration:none;
		span{position:relative; padding-right:14px; box-sizing:border-box;
			&:before,&:after{position:absolute; right:0; top:0; bottom:0; margin:auto 0;width: 0px;height: 0px;border-top:4px solid transparent;border-bottom:4px solid transparent;
				border-right: 5px solid none;border-left: 5px solid  red;content:'';}
			&:after{right:2px;border-left:5px solid #fff;}
		}
	}
	@media only screen and (max-width: $tablet-size) {margin-top:60px;
		&__list{margin:-40px 0 0 0;}
		&__item{width:100%; margin-top:40px; padding-left:0;}
		&__wrap{display:block; width:auto; height:auto; padding:40px 60px; box-sizing:border-box;
			&.type-another{padding:40px 60px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {margin-top:25px;
		&__list{margin:-30px 0 0 0;}
		&__item{margin-top:30px;}
		&__tit{font-size:1.5rem;}
		&__txt{margin-top:12px; font-size:1.2rem;}
		&__wrap{padding:20px 30px;
			&.type-another{padding:20px 30px;}
		}
		&__link{font-size:1.1rem;
			span{padding-right:9px;
				&:before,&:after{top:1px; border-top:3px solid transparent;border-bottom:3px solid transparent;
					border-right: 4px solid none;border-left: 4px solid  red;}
				&:after{right:2px; border-left:4px solid #fff;}
			}
		}
	}
}

.img-list3{
	&__box{margin-top:70px;}
	&__tit{margin:0; font-size:30px; font-weight:$regular; color:$black1;
		span{vertical-align:middle;}
	}
	&__txt{margin:16px 0 0 0; font-size:17px; color:$black2;}
	&__num{position:relative; display:inline-block; width:34px; height:36px; margin-right:16px; font-size:20px; line-height:36px; background-color:$ulthera; color:#fff; border-radius:8px;
		&:before{position:absolute; top:0; left:0; width:50%; height:50%; background-color:$ulthera; content:''; z-index:-1;}
	}
	&__list{margin:40px 0 0 -16px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__img{position:relative; width:100%; height:0; padding-bottom:57.06%;}
	&__item{float:left; width:50%; padding-left:16px; list-style:none; box-sizing:border-box;}
	&__wrap{display:table-cell; height:80px; width:1%; border:1px solid #eee; vertical-align:middle; box-sizing:border-box;}
	&__subject{margin:0; font-size:20px; color:$black1; font-weight:$regular;}
	@media only screen and (max-width: $tablet-size) {
		&__box{margin-top:60px;}
		&__list{margin-left:-8px;}
		&__item{padding-left:8px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__box{margin-top:30px;}
		&__tit{font-size:1.6rem;}
		&__txt{margin-top:10px; font-size:1.2rem;}
		&__num{width:18px; height:17px; margin-right:8px; line-height:17px; font-size:1.1rem; border-radius:4px;}
		&__list{margin-top:20px; margin-left:-10px;}
		&__item{padding-left:10px;}
		&__wrap{height:40px;}
		&__subject{font-size:1.1rem;}
	}
}


.img-list4{
	&__tit{margin:0; font-size:55px; font-weight:$thin; color:$black1;
		& strong{font-weight:$regular;}
	}
	&__list{position:relative; margin:100px 0 0 0; padding-top:30px; padding-left:50.77%; box-sizing:border-box;  counter-reset:section;
		&:before{position:absolute; top:0; left:0; width:45.67%; height:100%;  content:'';}
	}
	&__item{position:relative; padding-left:64px; list-style:none; text-align:left; box-sizing:border-box;
		&:before{position:absolute; top:-4px; left:0; font-size:80px; font-weight:$light; color:#e0a3aa; line-height:1; counter-increment:section; content:counter(section);}
		& + &{margin-top:50px;}
	}
	&__subject{margin:0; font-size:25px; font-weight:$regular;  color:#ae1532;}
	&__txt{margin:10px 0 0 0; font-size:18px; font-weight:$light;  color:$black1; line-height:1.6;
		strong{font-weight:$regular;}
	}
	@media only screen and (max-width: $tablet-size){
		&__list{margin-top:30px; padding:96.238% 65px 0 65px;
			&:before{width:100%; height:0; padding-bottom:96.238%; background-position:center center; }
		}
		&__item{
			&:first-child{margin-top:70px;}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&__list{margin-top:20px; padding-left:12px; padding-right:12px;}
		&__item{padding-left:32px;
			&:first-child{margin-top:35px;}
			&:before{top:-2px; font-size:4.1rem;}
			& + &{margin-top:25px;}
		}
		&__tit{font-size:2.9rem;}
		&__subject{font-size:1.6rem;}
		&__txt{margin-top:5px; font-size:1.3rem;}
	}
}
.img-list5{
	&__txt{margin:50px 0 0 0;
		strong{font-weight:$light; color:$black2;}
	}
	&__list{margin:0 0 0 -48px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; margin-top:50px; padding-left:48px; box-sizing:border-box; list-style:none;}
	&__img{position:relative; width:100%; height:0; padding-bottom:64.69%;}
	&__wrap{display:table-cell; width:1%; height:130px; border:1px solid #eee; font-size:16px; color:$black3; line-height:1.5; vertical-align:middle;}
	&__date{display:block;}
	@media only screen and (max-width: $tablet-size){
		&__list{margin-left:0; padding:0 56px; box-sizing:border-box;}
		&__item{width:100%; margin-top:40px; padding-left:0;}
		&__wrap{display:block; width:auto; height:auto; padding:40px 10px; box-sizing:border-box;}
	}
	@media only screen and (max-width: $mobile-size){
		&__txt{margin-top:22px; padding:0 8px; box-sizing:border-box;}
		&__list{padding:0 16px;}
		&__item{margin-top:20px;}
		&__wrap{padding:20px 5px; box-sizing:border-box; font-size:1.2rem;}
	}
}

.img-list6{padding-left:92px; padding-right:92px;
	$this:&;
	&__list{margin:20px 0 0 -16px; padding:0;
		&:after{display:block; clear:both; content:'';}
		& + #{$this}__subtit{margin-top:50px;}
	}
	&__subtit{margin:30px 0 0 0; font-size:28px; color:$black1;}
	&__item{float:left; width:25%; margin-top:16px; padding-left:16px; box-sizing:border-box; list-style:none;}
	&__img{position:relative; width:100%; height:0; padding-bottom:72.51%;}
	&__box{height:130px; border:1px solid #ccc; box-sizing:border-box;}
	&__subject{margin:0; font-size:22px; color:$black1; font-weight:$light;}
	&__txt{margin:14px 0 0 0; font-size:18px; color:$black3;}
	@media only screen and (max-width: $tablet-size){padding-left:114px; padding-right:114px;
		&__item{width:50%;}
	}
	@media only screen and (max-width: $mobile-size){padding-left:20px; padding-right:20px;
		&__subtit{margin:15px 0 0 0; font-size:1.5rem;}
		&__list{margin-top:12px; margin-left:-8px;
			& + #{$this}__subtit{margin-top:24px;}
		}
		&__item{margin-top:8px; padding-left:8px;}
		&__box{height:64px; padding:0 2px; box-sizing:border-box;}
		&__subject{font-size:1.4rem;}
		&__txt{margin-top:7px; font-size:1.2rem;}
	}
}
.img-list7{
	$this:&;
	&__list{margin:60px 0 0 0; padding:0;}
	&__item{background-color:#fff; list-style:none;
		& + &{margin-top:40px;}
	}
	&__box{position:relative; padding-left:524px; padding-right:0px; text-align:left; box-sizing:border-box;
		&:before{position:absolute; top:0; left:0; display:block; width:524px; height:100%;  content:'';}
	}
	&__wrap{display:table-cell; height:380px; padding:0 60px; vertical-align:middle; box-sizing:border-box; text-align:center;}
	&__tit{margin:0; font-size:24px; font-weight:$light; color:$black1;}
	&__txt{margin:20px 0 0 0; line-height:1.6;
		& span{color:$black2;}
	}
	@media only screen and (max-width: $minpc-size3) {
		&__item{background-color:#fff; list-style:none;
			& + &{margin-top:40px;}
		}
		&__box{padding:0;
			&:before{position:static; width:100%; height:0; padding-bottom:72.51%;}
		}
		&__wrap{display:block; height:auto; padding:40px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&__list{margin-top:25px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__item{
			& + &{margin-top:20px;}
		}
		&__wrap{padding:28px 18px;}
		&__tit{font-size:1.8rem;}
		&__txt{margin-top:10px;}
		&__area{margin-top:18px;}
		&__bullet{font-size:1.1rem;
			& + &{margin-top:6px;}
		}
	}
}
.img-list8{padding-left:216px; padding-right:216px;
	&__tit{font-size:55px;}
	&__list{padding:0; margin:10px 0 0 -48px;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:33.33%; margin-top:50px; padding-left:48px; list-style:none; box-sizing:border-box;}
	&__img{position:relative; width:100%; height:0; padding-bottom:100%;}
	&__txt{margin:20px 0 0 0; font-size:20px; color:$black1; line-height:1.5;}
	&__noti{margin:64px 0 0 0;}
	@media only screen and (max-width: $tablet-size){padding-left:108px; padding-right:108px;
		&__list{margin-top:0;}
		&__item{margin-top:40px;}
		&__item{width:50%;}
	}
	@media only screen and (max-width: $mobile-size){padding-left:22px; padding-right:22px;
		&__tit{font-size:3.1rem;}
		&__list{margin-top:5px; margin-left:-24px;}
		&__item{margin-top:20px; padding-left:24px;}
		&__txt{font-size:1.2rem;}
		&__noti{margin-top:34px;}
	}
}




.img-list10{
	$this:&;
	&__list{margin:-10px 0 0 -20px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; margin-top:10px; padding-left:20px; list-style:none; box-sizing:border-box;}
	&__wrap{display:table-cell; width:1%; height:116px; padding:0 20px; vertical-align:middle; box-sizing:border-box;}
	&__img{position:relative; width:100%; height:0; padding-bottom:45.59%;}
	&__tit{margin:0; font-size:20px; color:$black1; font-weight:$regular;}
	&__txt{margin:16px 0 0 0; font-size:17px; color:$black3; font-weight:$light; line-height:1.6;}
	@media only screen and (max-width: $tablet-size) {margin-top:60px;
		&__list{margin:0;}
		&__item{width:100%; margin-top:40px; padding-left:0;
			&:first-child{margin-top:0;}
		}
		&__wrap{display:block; width:auto; height:auto; padding:30px 10px 0; box-sizing:border-box;}
	}
	@media only screen and (max-width: $mobile-size) {margin-top:34px;
		&__item{margin-top:28px;}
		&__tit{font-size:1.1rem;}
		&__txt{margin-top:10px; font-size:1.2rem;}
		&__wrap{padding:18px 5px 0;}
	}
}


.img-list9{background-color:#fae3e6; text-align:center;
	&__subtit{color:$black2;}
	&__tit{color:$black1;
		&:before{border-color:$black3;}
	}
	&__box{margin-top:60px; padding:34px 0; background-color:#fff; text-align:center; box-sizing:border-box;}
	&__list{margin:0; padding:0;}
	&__item{display:inline-block; width:250px; margin:46px 11.3%;list-style:none; vertical-align:top;}
	&__img{position:relative; width:100%; height:0; padding-bottom:100%;}
	&__subject{margin:36px 0 0 0; font-size:30px; color:$black1; font-weight:$regular;}
	&__txt{margin:12px -10px 0 -10px; font-size:17px; color:$black2; font-weight:$light; line-height:1.4;}
	&__noti{margin-top:56px;}
	@media only screen and (max-width: $minpc-size3) {
		&__box{padding:25px 0;}
		&__tit{margin-left:-15px; margin-right:-15px;}
		&__item{margin:25px 32px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__box{margin-top:24px; padding:25px 0;}
		&__tit{margin-left:0; margin-right:0;}
		&__subject{margin-top:18px; font-size:1.6rem;}
		&__txt{margin:6px 0 0 0; font-size:1.2rem;}
		&__list{margin-top:-25px;
			&:after{display:block; clear:both; content:'';}
		}
		&__item{float:left; width:50%; margin:25px 0 0 0; padding:0 4.6%; box-sizing:border-box;}
		&__noti{margin-top:22px; padding:0 20px; box-sizing:border-box;}
	}
}

.comparison{
	$this:&;
	&__wrap{position:relative; margin-top:70px; margin-left:-56px;
		&:after{display:block; clear:both; content:'';}
		&:before{position:absolute; top:92px; left:0; width:100%; padding-left:36px; font-size:75px; color:#888; text-align:center; font-style: italic;  font-weight:$regular; content:'VS'; box-sizing:border-box;}
	}
	&__box{float:left; width:50%;  padding-left:56px; box-sizing:border-box;
		&.nth-1{
			#{$this}__hexagon{background:url('../images/contour/filler/filler_hexagon1.png') no-repeat center center / cover;}
		}
		&.nth-2{
			#{$this}__hexagon{background:url('../images/contour/filler/filler_hexagon2.png') no-repeat center center / cover;}
		}
	}
	&__hexagon{position:relative; width:250px; height:290px; margin:0 auto;}
	&__txt{position:absolute; bottom:34px; width:100%; margin:0; font-size:18px; color:#fff; text-align:center;}
	&__list{padding:0; margin:34px 0 0 0;  counter-reset:hexagon;}
	&__item{position:relative; padding:26px 0 26px 40px;list-style:none; border-bottom:1px solid #d8d8d8; text-align:left; font-size:18px; color:$black3; line-height:1.66;
		&:before{position:absolute; top:25px; left:0; display:block; width:30px; line-height:30px; border-radius:50%; background-color:#000000; color:#fff; counter-increment:hexagon; content:counter(hexagon); text-align:center;}
		&:after{display:block; clear:both; content:'';}
	}
	&__subject{color:$black1;
		&.type-another{position:absolute;}
	}
	&__txt2{
		&.type-another{display:block; padding-left:48px;}
	}
	@media only screen and (max-width: $tablet-size){padding-left:132px; padding-right:132px;
		&__tit{margin:0 -20px;}
		&__wrap{margin-left:0;
			&:before{display:none;}
		}
		&__box{width:100%; padding-left:0;
			& + &{margin-top:80px;}
		}
	}
	@media only screen and (max-width: $mobile-size){padding-left:12px; padding-right:12px;
		&__wrap{margin-top:30px;}
		&__hexagon{width:125px; height:145px;}
		&__tit{margin:0;}
		&__txt{bottom:17px; font-size:1rem;}
		&__list{margin-top:17px;}
		&__item{padding:13px 0 13px 20px; font-size:1.2rem;
			&:before{top:14px; width:17px; height:17px; line-height:17px;}
		}
		&__txt2{
			&.type-another{padding-left:33px;}
		}
		&__box{
			& + &{margin-top:30px;}
		}
	}
}
.care-list1{
	$this:&;
	&__list{margin:14px 0 0 0; padding:0; font-size:0;}
	&__item{display:inline-block; width:250px; margin:46px 35px 0; list-style:none; box-sizing:border-box; vertical-align:top;
		&:before{display:block; width:100%; height:0; padding-bottom:100%;  content:'';}
	}
	&__txt{margin:30px -10px 0; font-size:20px; color:$black1;}
	@media only screen and (max-width: $tablet-size){padding-left:98px; padding-right:98px;
		&__list{margin-left:-70px;
			&:after{display:block; clear:both; content:'';}
		}
		&__item{float:left; width:50%; margin:46px 0 0 0; padding-left:70px; box-sizing:border-box;}
	}
	@media only screen and (max-width: $mobile-size){overflow:hidden; padding-left:24px; padding-right:24px;
		&__list{margin-top:5px; margin-left:-22px;}
		&__item{margin-top:20px; padding-left:22px;}
		&__txt{min-height:48px; margin:20px 0 0; font-size:12px;}
	}
}
.circle-style{padding:50px 108px 100px; background-color:#f9ecec; box-sizing:border-box; text-align:center;
	&__list{margin:0; padding:0; text-align:left;}
	&__item{position:relative; padding:50px 50px 50px 216px; border-bottom:1px solid #bfbfbf; list-style:none; box-sizing:border-box;
		&:before{position:absolute; top:0; left:0; bottom:0; margin:auto 0; display:block; width:170px; height:170px; content:'';}
		&.nth-1:before{background:url('../images/heal/ulthera/ulthera_icon1.png') no-repeat center center / cover; }
		&.nth-2:before{background:url('../images/heal/ulthera/ulthera_icon2.png') no-repeat center center / cover; }
		&.nth-3:before{background:url('../images/heal/ulthera/ulthera_icon3.png') no-repeat center center / cover; }
	}
	&__wrap{display:table-cell; width:1%; height:170px; vertical-align:middle;}
	&__tit{margin:0; font-size:35px; color:$black1; font-weight:$regular;}
	&__txt{margin:24px 0 0 0; font-size:25px; color:$black2; font-weight:$regular; line-height:1.6;}
	@media only screen and (max-width: $tablet-size){padding:30px 65px 80px;}
	@media only screen and (max-width: $mobile-size) {padding:15px 12px 40px;
		&__item{padding:25px 25px 25px 110px;
			&:before{width:85px; height:85px;}
			&.nth-1:before{background:url('../images/heal/ulthera/ulthera_icon1.png') no-repeat center center / cover; background-size:85px 85px; }
			&.nth-2:before{background:url('../images/heal/ulthera/ulthera_icon2.png') no-repeat center center / cover; background-size:85px 85px;}
			&.nth-3:before{background:url('../images/heal/ulthera/ulthera_icon3.png') no-repeat center center / cover; background-size:85px 85px;}
		}
		&__wrap{height:90px;}
		&__tit{font-size:1.9rem;}
		&__txt{margin-top:10px; font-size:1.4rem;;}
	}
}


.content-step{padding:150px 92px 150px; background-color:#534c44; text-align:center; box-sizing:border-box;
	&.type-pb0{padding-bottom:0;}
	&__box{box-sizing:border-box;
		& + &{margin-top:80px;}
	}
	&__tit{margin:0; font-size:40px; font-weight:$regular; color:#fff;
		&.type-thin{font-weight:$thin;}
	}
	&__txt{margin:26px 0 0 0; color:#efe3d6; font-size:20px; font-weight:$thin;}
	&__list{margin:48px 0 0 -48px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; padding-left:48px; box-sizing:border-box; list-style:none; box-sizing:border-box;
		& + & + &{margin-top:48px;}
	}
	&__img{position:relative; width:100%; height:0; padding-bottom:49.42%;}
	&__wrap{height:130px; background-color:#fff;}
	@media only screen and (max-width: $tablet-size) {padding:100px 122px;
		&__list{margin-left:0;}
		&__item{width:100%; padding-left:0;
			& + &{margin-top:40px;}
			& + & + &{margin-top:40px;}
		}
		&__wrap{height:auto; padding:40px 5px;}
	}
	@media only screen and (max-width: $mobile-size) {padding:50px 30px;
		&__box{
			& + &{margin-top:44px;}
		}
		&__list{margin-top:20px;}
		&__item{
			& + &{margin-top:20px;}
			& + & + &{margin-top:20px;}
		}
		&__tit{font-size:2.1rem;}
		&__txt{margin-top:15px; font-size:1.2rem; line-height:1.7;}
		&__wrap{padding:20px 5px;}
	}
}

.content-faq{
	&__box{padding:108px 0; background:url('../images/heal/ulthermage/ulthermage_bg1.jpg') no-repeat center center / cover; color:#fff; text-align:center;}
	&__border{display:inline-block; width:710px; padding:34px 0; border:4px solid #fff; box-sizing:border-box;}
	&__tit{margin:10px 0 0 0; font-size:50px; font-weight:$regular;}
	&__txt{display:inline-block; margin:0; padding-left:10px; font-size:24px; letter-spacing:10px; box-sizing:border-box; font-weight:$thin;}
	&__wrap{padding-top:120px;}
	&__list{margin:0; padding:0;}
	&__item{list-style:none;
		& + &{margin-top:40px;}
	}
	@media only screen and (max-width: $tablet-size) {
		&__box{padding:108px 65px; box-sizing:border-box;}
		&__border{width:100%;}
		&__wrap{padding-top:100px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__box{padding:54px 12px;}
		&__wrap{padding-top:50px;}
		&__border{padding:17px 0; border-width:2px;}
		&__tit{font-size:2.6rem;}
		&__txt{padding-left:5px; letter-spacing:5px; font-size:1.3rem;}
		&__item{
			& + &{margin-top:20px;}
		}
	}
}
.talk{position:relative;
	$this:&;
	&:before{position:absolute; top:0;  width:150px; height:150px; content:'';}
	&.type-1{padding-left:172px; height:150px; padding-right:200px;
		&:before{left:0; background:url('../images/heal/ulthermage/ulthermage_icon1.png');}
		#{$this}__border{display:table-cell; width:1%; height:inherit; padding:30px 50px; vertical-align:middle;}
	}
	&.type-2{padding-left:200px; padding-right:172px;
		&:before{right:0; background:url('../images/heal/ulthermage/ulthermage_icon2.png');}
	}
	&__border{padding:40px 50px; border:4px solid #ddd; box-sizing:border-box; border-radius:20px; text-align:left;}
	&__tit{margin:0; font-size:28px; font-weight:$lightDown; color:$black1;}
	&__txt{margin:0; font-size:16px; font-weight:$regular; color:$black3; line-height:1.875;}
	&__point{color:$black2;}
	@media only screen and (max-width: $tablet-size) {
		&.type-1{height:150px; padding-right:0;
			&:before{left:0; background:url('../images/heal/ulthermage/ulthermage_icon1.png');}
			#{$this}__border{display:table-cell; width:1%; height:inherit; padding:20px 40px; vertical-align:middle;}
		}
		&.type-2{padding-left:0;
			&:before{right:0; background:url('../images/heal/ulthermage/ulthermage_icon2.png');}
		}
		&__border{padding:40px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&:before{width:75px; height:75px;}
		&.type-1{padding-left:86px; display:block; width:auto; height:auto;
			&:before{background-size:75px 75px;}
			#{$this}__border{padding:20px 25px;}
		}
		&.type-2{padding-right:86px;
			&:before{background-size:75px 75px;}
		}
		&__border{padding:20px 25px; border-width:2px; border-radius:10px;}
		&__tit{font-size:1.7rem;}
		&__txt{font-size:1.2rem;;}
	}
}
.equipment{text-align:center;
	$this:&;
	&__img{position:relative; width:100%; height:0; padding-bottom:97.38%;}
	&__list{margin:-20px 0 0 -70px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:33.33%; margin-top:70px; padding-left:70px; list-style:none; box-sizing:border-box;
		&.type-logo{overflow:hidden; text-indent:-9999px;
			#{$this}__border{background:url('../images/common/equiment_logo.png') no-repeat center center / contain; border:none;}
			#{$this}__wrap{border-top:none; background:transparent;}
			&.type-multi{width:66.66%;
				#{$this}__border{background-size:auto;}
				#{$this}__img{padding-bottom:43.872%;}
			}
		}
	}
	&__border{border:1px solid #dddddd; box-sizing:border-box;}
	&__wrap{height:160px; border-top:1px solid #dddddd; background-color:#fff;}
	&__txt{margin-top:20px;}
	&__name{margin:0; font-size:24px; color:#333; font-weight:$light;}
	&__btn{margin-top:16px; }
	&__mark{position:absolute; top:19px; left:19px; display:block; width:70px; height:70px; padding:5px; border-radius:50%; box-sizing:border-box; background:#ffac1b; z-index:1; color:#fff; font-size:14px;
		&.type-purple{background-color:#9770f0;}
	}
	&__mark-border{display:table-cell; width:1%; height:60px; border:2px solid #fff; border-radius:50%; box-sizing:border-box; vertical-align:middle;}
	@media only screen and (max-width: $tablet-size) {
		&__list{margin:30px 0 0 -20px;}
		&__item{width:50%; margin-top:20px; padding-left:20px;
			&.type-logo{display:none;
				&.type-show{display:block;
					#{$this}__border{background-size:70%;}
				}
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&__wrap{height:80px;}
		&__list{margin:20px 0 0 -10px;}
		&__item{margin-top:20px; padding-left:10px;}
		&__name{font-size:1.3rem;}
		&__btn{margin-top:8px;}
		&__mark{top:8px; left:8px; width:44px; height:44px; padding:2px; font-size:1rem;}
		&__mark-border{height:40px; border-width:1px;}
	}
}
.circle-style2{background:url('../images/heal/ulthermage/ulthermage_bg2.jpg') no-repeat center center / cover;
	&__tit{display:inline-block; margin:0; font-size:55px; color:#fff; font-weight:$thin; line-height:1.36;
		strong{font-weight:$regular;}
	}
	&__list{margin:26px 0 0 0; padding:0; font-size:0;}
	&__item{display:inline-block; width:330px; margin:26px 6.4%;list-style:none; text-align:center; vertical-align:top;
		img{width:100%;}
	}
	&__txt{margin:26px -50px 0 -50px; font-size:20px; color:#fff; line-height:1.5;}
	@media only screen and (max-width: $tablet-size) {
		&__list{margin:26px -20px 0;}
		&__item{width:280px; margin:40px 20px;}
		&__txt{margin:26px 0 0 0;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__tit{font-size:2.9rem;}
		&__list{margin:0 0 0 -10px;
			&:after{display:block; clear:both; content:'';}
		}
		&__item{float:left; width:50%; margin:32px 0 0 0; padding-left:10px; box-sizing:border-box;
			& + & + &{margin-top:26px;}
		}
		&__txt{margin:20px 0 0 0; font-size:1.2rem; }
	}
}

.circle-style3{
	$this:&;
	&__tit{margin:0; font-weight:$thin;}
	&__list{margin:0px 0 0 -16px;; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:20%; margin-top:50px; padding-left:16px; list-style:none; box-sizing:border-box;}
	&__img{position:relative; width:100%; height:0; padding-bottom:100%;}
	&__subject{margin:26px 0 0 0; font-size:20px; color:$black1; font-weight:$light;}
	@media only screen and (max-width: $tablet-size){
		&__item{width:33.33%;}
	}
	@media only screen and (max-width: $mobile-size){padding-left:45px; padding-right:45px;
		&__tit{margin:0 -33px;}
		&__list{margin-top:5px; margin-left:-30px;}
		&__item{width:50%; margin-top:25px; padding-left:30px;}
		&__subject{margin-top:14px; font-size:1.2rem;}
	}
}

.advantage{background:url('../images/heal/baby/baby_bg1.jpg') no-repeat center center / cover;
	&__subtit{padding-left:10px; letter-spacing:10px; text-transform: uppercase; box-sizing:border-box; color:#fff;}
	&__tit{margin-top:30px; color:#fff;}
	&__list{padding:0; margin:0 0 0 -54px; counter-reset:section;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; padding-left:54px; box-sizing:border-box; text-align:left; list-style:none;}
	&__img{overflow:hidden; position:relative; height:570px; margin-top:40px; background:url('../images/heal/baby/baby_img2.png') no-repeat center bottom; content:''; text-indent:-9999px;}
	&__noti{position:absolute; bottom:30px; width:100%; margin:0; text-align:center; color:#fff; font-size:10px; font-weight:$thin;}
	&__box{position:relative; padding:30px 0 30px 50px; box-sizing:border-box; font-size:20px; color:#333; font-size:20px; color:$black1; border-bottom:1px solid #cccccc;
		&:before{position:absolute; top:0; left:0; bottom:0; display:block; width:40px; height:40px; margin:auto 0; border:4px solid #000000; counter-increment:section; content:"0"counter(section); border-radius:50%;
			line-height:32px; box-sizing:border-box; text-align:center; font-size:20px; font-weight:$medium;}
	}
	&__bg{padding:30px 75px 50px 75px; background-color:#fff; box-sizing:border-box;}
	@media only screen and (max-width: $minpc-size3){
		&__list{margin-left:0;}
		&__item{width:100%; padding-left:0;}
		&__bg{padding:30px 100px 50px 100px;}
	}
	@media only screen and (max-width: $mobile-size){padding-left:65px; padding-right:65px;
		&__img{position:relative; height:0; padding-bottom:98.27%; margin-top:14px; background:url('../images/heal/baby/baby_img2.png') no-repeat center bottom / cover; content:'';}
		&__subtit{margin:0 -50px;}
		&__tit{margin:16px -50px 0;}
		&__noti{bottom:15px; font-size:1rem;}
		&__bg{margin:0 -53px; padding:10px 38px 20px 38px;}
		&__box{padding:14px 0 14px 27px; font-size:1.1rem;
			&:before{width:22px; height:22px; border-width:2px; font-size:1.1rem; line-height:18px;}
		}
	}
}

.hexa-box{background:url('../images/pore/allpore/allpore_bg2.jpg') no-repeat center center / cover;
	&__subtit{margin:0; padding-left:24px; font-size:14px; color:$black3; letter-spacing:24px; box-sizing:border-box;}
	&__tit{margin:30px 0 0 0;}
	&__hexa{position:relative; width:314px; height:362px; margin:90px auto 0; padding:0 32px; background:url('../images/pore/allpore/allpore_hexagon2.png') no-repeat center center / cover; box-sizing:border-box;}
	&__subject{margin:0; font-size:30px; font-weight:$regular; color:$black3;}
	&__list{margin:0; padding:0;}
	&__item{position:absolute; width:160px; list-style:none; font-size:18px; color:$black3; text-align:left; line-height:1.66;
		&.nth-1{top:70px; left:-190px; text-align: right;}
		&.nth-2{top:70px; right:-190px;}
		&.nth-3{bottom:50px; left:-190px; text-align: right;}
		&.nth-4{bottom:50px; right:-190px;}
		&.nth-5{top:-60px; left:0; right:0; margin:0 auto;  text-align:center;}
		&.nth-6{bottom:-60px; left:0; right:0; margin:0 auto;  text-align:center;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__subtit{padding-left:10px; font-size:1rem; letter-spacing:10px;}
		&__tit{margin-top:20px;}
		&__hexa{width:157px; height:181px; margin:40px auto 0; background-size:157px 181px;}
		&__subject{font-size:1.6rem;}
		&__item{width:70px; font-size:1.2rem;
			&.nth-1{top:0px; left:-84px; text-align: right;}
			&.nth-2{top:0px; right:-84px;}
			&.nth-3{bottom:0px; left:-84px; text-align: right;}
			&.nth-4{bottom:0px; right:-84px;}
		}
	}
}
.bubble-box{background:url('../images/pore/allpore/allpore_bg3.jpg') no-repeat center center / cover;
	$this:&;
	&__tit{color:#fff;}
	&__subtit{margin-top:50px; color:#999; line-height:1.72;
		strong{font-weight:$regular;}
	}
	&__list{margin:60px 0 0 0; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; height:240px; list-style:none;
		&.type-img{overflow:hidden; text-indent:-99999px;
			&.nth-1{background:url('../images/pore/allpore/allpore_seminar1.jpg') no-repeat center center;}
			&.nth-2{background:url('../images/pore/allpore/allpore_seminar2.jpg') no-repeat center center;}
			&.nth-3{background:url('../images/pore/allpore/allpore_seminar3.jpg') no-repeat center center;}
			&.nth-4{background:url('../images/pore/allpore/allpore_seminar4.jpg') no-repeat center center;}
			&.nth-5{background:url('../images/pore/allpore/allpore_seminar5.jpg') no-repeat center center;}
			&.nth-6{background:url('../images/pore/allpore/allpore_seminar6.jpg') no-repeat center center;}
		}
		&.type-txt{position:relative; padding:0 70px; color:#fff; font-size:20px; box-sizing:border-box; line-height:1.6; text-align:left; background-color:#ccac75;
			&:before{position:absolute; top:0; bottom:0; left:-12px; width:0; height:0; margin:auto 0; border-top:12px solid transparent;
				border-bottom:12px solid transparent; border-right:12px solid #ccac75; content:'';}
			&.type-another{background-color:#a29683;
				&:before{position:absolute; top:0; bottom:0; left:auto; right:-12px; width:0; height:0; margin:auto 0; border-top:12px solid transparent;
					border-bottom:12px solid transparent; border-right:none; border-left:12px solid #a29683; content:'';}
			}
		}
		&.type-right{float:right;}
	}
	@media only screen and (max-width: $tablet-size){
		&__subtit{margin-top:36px; padding:0 34px; box-sizing:border-box;}
		&__item{float:none; width:100%;
			&.type-right{float:none;}
			&.type-img{height:0; padding-bottom:45.14%;
				&.nth-1{background:url('../images/pore/allpore/allpore_seminar1_t.jpg') no-repeat center center / cover;}
				&.nth-2{background:url('../images/pore/allpore/allpore_seminar2_t.jpg') no-repeat center center / cover;}
				&.nth-3{background:url('../images/pore/allpore/allpore_seminar3_t.jpg') no-repeat center center / cover;}
				&.nth-4{background:url('../images/pore/allpore/allpore_seminar4_t.jpg') no-repeat center center / cover;}
				&.nth-5{background:url('../images/pore/allpore/allpore_seminar5_t.jpg') no-repeat center center / cover;}
				&.nth-6{background:url('../images/pore/allpore/allpore_seminar6_t.jpg') no-repeat center center / cover;}
			}
			&.type-txt{height:166px; text-align:center;
				&:before{display:none;}
				& + #{$this}__item.type-img{margin-top:40px;}
			}
		}
	}
	@media only screen and (max-width: $mobile-size){
		&__subtit{margin-top:16px; padding:0 10px;}
		&__list{margin-top:30px;}
		&__item{
			&.type-txt{height:82px; padding:0 50px; font-size:1.2rem;
				& + #{$this}__item.type-img{margin-top:20px;}
			}
		}
	}
}

.content-info{position:relative; margin-top:40px; background-color:#f7f7f7; padding:50px 0; box-sizing:border-box;
	&__box{height:120px;
		&.type-subject{float:left; width:350px; text-align:center;}
		&.type-list{width:100%;  padding-left:350px;  box-sizing:border-box;}
	}
	&__tit{position:relative; display:inline-block; margin:0;padding-left:130px; font-size:24px; color:$black1; font-weight:$regular; box-sizing:border-box; text-align:left; line-height:1.4;
		&:before{position:absolute; top:0; bottom:0; left:0; display:block; width:106px; height:106px; margin:auto 0; background:url('../images/contour/lifting/allinone_icon2.png'); content:'';}
	}
	&__list{margin:0; padding:0 0 0 46px; border-left:1px solid #d4d4d4;}
	&__item{position:relative; padding-left:20px; list-style:none; text-align:left; letter-spacing:-1px; box-sizing:border-box;
		& + &{margin-top:6px;}
		&:before{position:absolute; top:12px; left:0; width:12px; height:12px; background:url('../images/contour/lifting/allinone_icon3.png'); content:'';}
	}
	@media only screen and (max-width: $minpc-size3) {margin:100px -65px 0; padding:50px 65px;
		&__tit{padding-left:0;
			&:before{position:static; margin:0px auto 18px;}
		}
		&__box{height:auto;
			&.type-subject{float:none; width:100%;}
			&.type-list{width:100%; padding-left:0;}
		}
		&__list{margin-top:40px; padding:40px 0 0 0; border-top:1px solid #d4d4d4; border-left:none;}
	}
	@media only screen and (max-width: $mobile-size) {margin:50px -12px 0; padding:25px 12px;
		&__tit{font-size:1.7rem;
			&:before{width:53px; height:53px; margin:0px auto 14px;  background-size:53px 53px;}
		}
		&__list{margin-top:20px; padding:20px 0 0 0;}
		&__item{padding-left:12px; line-height:1.45;
			&:before{top:5px; width:6px; height:6px; background:url('../images/contour/lifting/allinone_icon3.png'); background-size:6px 6px; content:'';}
		}
	}
}
.vertical-style{height:650px; padding:0 108px; box-sizing:border-box;
	$this:&;
	&__box{float:left; width:50%; height:inherit; text-align:center;}
	&__wrap{display:table-cell; width:1%; height:inherit; padding:0 10px; vertical-align:middle; box-sizing:border-box;}
	&:after{display:block; clear:both; content:'';}
	&__subtit{margin:0; font-size:20px; font-weight:$thin; color:$black1;}
	&__tit{margin:20px 0 0 0; font-size:45px; font-weight:$regular; text-transform: uppercase; color:$black1;}
	&__txt{margin:22px 0 0 0;}
	&__img{margin-top:32px;}
	@media only screen and (max-width: $tablet-size) {height:auto; padding:100px 65px;
		&__box{width:100%;}
	}
	@media only screen and (max-width: $mobile-size) {padding:50px 12px;
		&__wrap{padding:0 24px;}
		&__subtit{font-size:1.4rem;}
		&__tit{margin-top:14px; font-size:2.6rem;}
		&__txt{margin-top:20px;}
		&__img{margin-top:22px;}
	}
}

.content-line{height:134px; color:#fff; font-size:20px; text-align:center;
	@media only screen and (max-width: $tablet-size) {height:164px; padding:0 90px; box-sizing:border-box; line-height:1.9;}
	@media only screen and (max-width: $mobile-size) {height:82px; padding:0 12px; font-size:1.2rem;}
}
.content-line2{height:70px; color:#fff; font-size:17px; text-align:center; background-color:#8cb9ce;
	@media only screen and (max-width: $tablet-size) {padding:0 10px; box-sizing:border-box;}
	@media only screen and (max-width: $mobile-size) {height:82px; padding:0 12px; font-size:1.2rem;}
}
.video__iframe{position:absolute; top:0; left:-58px;; width:475px; height:267px; border:none;
	@media only screen and (max-width: $tablet-size) {position:absolute; top:0; left:0; width:100%; height:100%; }
}
.color-black1{color:$black1;}
.color-white{color:#fff;}
.color-yellow{color:$color-yellow;}
