@charset "UTF-8";
@import "variables";
@import "mixins";
@import "motion";
@import "photo";
.main{
    &__tit{margin:0; font-size:40px; font-weight:$medium; color:#fff;}
    &__link{color:inherit; text-decoration:none;}
    @media only screen and (max-width: $tablet-size) {
        &__tit{font-size:35px;}
    }
    @media only screen and (max-width: $mobile-size) {
        &__tit{font-size:2.7rem;}
    }
}
.intro{overflow:hidden; position:relative; width:100%; height:100vh; box-sizing:border-box;}
.intro-video{position:absolute; top:0; left:0; right:0; bottom:0; width:100%; height:100%; z-index:1;
    &.nth-1{background:url('../images/main/intro_bg.jpg') no-repeat center center / cover;}
    &__iframe{position:absolute; height: 100%; width: 100vw; height: 56.25vw; min-height: 100vh; min-width: 177.77vh; top: 50%; left: 50%;
    -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
    &__bg{overflow:hidden; position:absolute; top:0; left:0; width:100%; height:100%; z-index:2; background: rgba(0,0,0,.35); text-indent:-9999px;}
    @media only screen and (max-width: $tablet-size) {
        &.nth-1{background:url('../images/main/intro_bg_t.jpg') no-repeat center center / cover;}
    }
    @media only screen and (max-width: $mobile-size) {
        &.nth-1{background:url('../images/main/intro_bg_m.jpg') no-repeat center center / cover;}
    }
}
.intro-inner{position:absolute; left:38px; right:38px; top:24px; bottom:105px; z-index:10; color:#fff;
    &__box{position:absolute; left:80px; top:35%;}
    &__tit{display:inline-block; margin:18px 0 0 0; font-size:72px; opacity:0; font-weight:$medium;}
    &__txt{margin:0; font-size:52px; font-weight:$thin; opacity:0;
        &.nth-1{position:relative; display:inline-block;
            &:after{position:absolute; right:-60px; bottom:12px; display:block; width:50px; height:0; border-top:2px solid #fff; content:'';}
        }
    }
    &__subtit{margin:70px 0 0 0;display: inline-block; font-size: 20px; background: #000; background: rgba(0,0,0,.05); padding: 0 5px; box-sizing:border-box; opacity:0;}
    @media only screen and (max-width: $tablet-size) {top:32px; left:22px; right:22px;
        &__box{left:50px;}
        &__txt{font-size:40px;
            &.nth-1{
                &:after{right:-48px; bottom:9px; width:40px; border-width:1px;}
            }
        }
        &__tit{font-size:56px;}
        &__subtit{font-size:16px;}
    }
    @media only screen and (max-width: $mobile-size) {top:26px; left:23px; right:23px; bottom:73px;
        &__box{top:45%; left:15px; bottom:100px;}
        &__txt{font-size:2.0rem;
            &.nth-1{
                &:after{right:-25px; bottom:5px; width:20px;}
            }
        }
        &__tit{margin-top:10px; font-size:2.8rem;}
        &__subtit{margin-top:40px; font-size:1.3rem;}
    }
}
.intro-border{position:absolute;}
.intro-info{position:absolute; left:0; bottom:0; right:0; height:65px; padding:0 38px; box-sizing:border-box; background-color:$color-bg; z-index:5;
    &__wrap{display:table-cell; width:1%; height:inherit; vertical-align:middle; font-size:0;}
    &__logo{vertical-align:middle;}
    &__list{position:absolute; top:0; right:0; bottom:0; display:inline-block; height:27px; margin:auto 0; padding:0; font-size:0;}
    &__item{position:relative; display:inline-block; padding-left:28px; list-style:none; font-size:13px; color:#fff; vertical-align:middle;
        & + &{margin-left:30px;}
        &:before{position:absolute; top:0; left:0; bottom:0; display:block; width:18px; height:20px; margin:auto 0; content:'';}
        &.type-time{
            &:before{background:url('../images/main/time_icon.png') no-repeat center center;}
        }
        &.type-map{
            &:before{background:url('../images/main/map_icon.png') no-repeat center center;}
        }
        &.type-btn{padding-left:0;
            &:before{display:none;}
        }
    }
    &__relative{position:relative; height:inherit;}
    &__btn{display: inline-block; border: 1px solid #bbb; border: 1px solid rgba(187,187,187,.4); border-radius: 30px; font-size: 17px; font-weight: 400;
	color: #fff; padding: 2px 25px 1px; margin-left: -12px; text-decoration:none;
		i{margin-right:5px;}
	}
    @media only screen and (max-width: $tablet-size) {padding:0 25px;}
    @media only screen and (max-width: $mobile-size) {height:50px; padding:0 15px;
        &__list{height:20px;}
        &__item{
            &.type-map{display:none;}
        }
        &__btn{font-size:1.3rem; padding:2px 11px 0;}
        &__logo{width:61px;}
    }
}
.intro-sns{position:absolute; top:50px; left:-15px; margin:0; padding:0; text-align:center; font-size:0;
    &__item{list-style:none;
        & + &{margin-top:15px;}
    }
    &__link{display:inline-block; width:30px; height:30px; transition:background .3s;
        &.type-blog{background:url('../images/main/blog_off.png') no-repeat center center / contain;
            &:hover{background:url('../images/main/blog_on.png') no-repeat center center / contain;}
        }
		&.type-facebook{background:url('../images/main/facebook_off.png') no-repeat center center / contain;
            &:hover{background:url('../images/main/facebook_on.png') no-repeat center center / contain;}
        }
    }
    & i{color:#d2d2d2; font-size:21px; transition:color .3s;
        &:hover{color:#fff;}
    }
    @media only screen and (max-width: $mobile-size) {left:-10px;
        &__item{
            & + &{margin-top:16px;}
        }
        &__link{width:20px; height:20px;}
        & i{font-size:19px;}
    }
}
.intro-border{
    &.type-borderh{height: 0px; border-top: 1px solid #d2d2d2;}
    &.type-borderv{width: 0px; border-left: 1px solid #d2d2d2;}
}


.detail{height:100vh; width:100vw; overflow:hidden;
    $this:&;
    &__list{width:9999px; white-space:nowrap; word-break:break-all; margin:0; padding:0; height:100%; font-size:0;}
    &__item{overflow:hidden; display:inline-block; height:100%; width:480px; list-style:none; vertical-align:top;
        &.nth-1-1{background:url('../images/main/detail_1_1.jpg') no-repeat center center / cover;}
        &.nth-1-2{background:url('../images/main/detail_1_2.jpg') no-repeat center center / cover;}
        &.nth-1-3{background:url('../images/main/detail_1_3.jpg') no-repeat center center / cover;}
        &.nth-1-4{background:url('../images/main/detail_1_4.jpg') no-repeat center center / cover;}
        &.nth-2-1{background:url('../images/main/detail_2_1.jpg') no-repeat center center / cover;}
        &.nth-2-2{background:url('../images/main/detail_2_2.jpg') no-repeat center center / cover;}
        &.nth-3-1{background:url('../images/main/detail_3_1.jpg') no-repeat center center / cover;}
        &.nth-4-1{background:url('../images/main/detail_4_1.jpg') no-repeat center center / cover;}
        &.is-active{
            #{$this}__front{display:none;}
            #{$this}__back{display:block;}
            #{$this}__bg{background:rgba(0,0,0,0.4);}
        }
    }
    &__icon{font-size:60px; font-weight:$thin;
        &:before{position:absolute; top:-990px; height:1000px; width:0; left:2px; border-left:1px solid #fff; content:';'}
    }
    &__wrap{display:table-cell; vertical-align:middle; text-align:center; }
    &__front{color:#c9c9c9;}
    &__back{display:none; margin-top:210px; padding:0 10px 0 140px; color:#fff; text-align:left; box-sizing:border-box; white-space:nowrap;}
    &__box{position:relative; display:inline-block; padding:14px 0 30px; box-sizing:border-box;
        &:before,&:after{position:absolute; display:block; width:16px; height:14px; content:'';}
        &:before{top:0; left:0; background:url('../images/main/q_icon1.png') no-repeat center center / contain;}
        &:after{bottom:0; right:0; background:url('../images/main/q_icon2.png') no-repeat center center / contain;}
    }
    &__tit{margin:14px 0 0 0; font-size:30px;}
    &__txt{margin:24px 0 0 0; font-size:16px; line-height:1.625;}
    &__bg{display:inline-table; width:101%; /*width:calc(100% + 1px);*/ height:100%; background:rgba(0,0,0,0.7); white-space:normal; word-break: keep-all;}
    &__subtit{margin:0; font-size:30px; font-weight:$thin; color:#fff;}
    &__name{position:relative; margin:16px 0 0 0; font-size:40px; font-weight:$regular; color:#fff;
        &:before{display:block; width:20px; height:0; margin:0px auto 10px; border-top:1px solid #fff; content:'';}
    }
    &__job{margin:13px 0 0 0; font-size:16px;}
    @media only screen and (max-width: $tablet-size) {
        &__subtit{display:none;}
        &__list{width:auto; white-space:normal;}
        &__item{display:block;
            &.nth-1-1{background:url('../images/main/detail_1_1_t.jpg') no-repeat center center / cover;}
            &.nth-1-2{background:url('../images/main/detail_1_2_t.jpg') no-repeat center center / cover;}
            &.nth-1-3{background:url('../images/main/detail_1_3_t.jpg') no-repeat center center / cover;}
            &.nth-1-4{background:url('../images/main/detail_1_4_t.jpg') no-repeat center center / cover;}
            &.nth-2-1{background:url('../images/main/detail_2_1_t.jpg') no-repeat center center / cover;}
            &.nth-2-2{background:url('../images/main/detail_2_2_t.jpg') no-repeat center center / cover;}
            &.nth-3-1{background:url('../images/main/detail_3_1_t.jpg') no-repeat center center / cover;}
            &.nth-4-1{background:url('../images/main/detail_4_1_t.jpg') no-repeat center center / cover;}
        }
        &__back{margin-top:40px; padding-left:160px; white-space:normal;}
        &__bg{width:100%; height:calc(100% + 1px); }
    }
    @media only screen and (max-width: $mobile-size) {
        &__name{font-size:1.8rem; color:#fff;
            &:before{width:14px; border-color:#fff; margin-bottom:5px;}
        }
        &__icon{font-size:3.4rem;
            &:before{top:-992px;}
        }
        &__job{margin-top:4px; font-size:1.2rem;}
        &__tit{margin-top:-4px; font-size:1.8rem;}
        &__txt{margin-top:10px; font-size:1.3rem;}
        &__back{margin-top:10px; padding:0 10%;}
        &__box{padding:6px 0 14px;
            &:before,&:after{width:11px; height:10px;}
        }
    }
}


/*포커스픽*/
.focus{text-align:center; background-color:#f5f5f5;
    &__area{padding:100px 0; box-sizing:border-box;}
    &__tit{position:relative; margin:0; text-transform:uppercase; color:$black1;
        &:after{display:block; width:25px; height:0; border-bottom:1px solid #333; margin:22px auto; content:'';}
    }
    &__txt{margin:20px 0 0 0; font-size:16px; color:#666;}
    &__slider{position:relative; display:inline-block; }
    &__list{margin:0; padding:0; width:1232px; margin:50px auto 0; }
    &__list-btn{display:block; overflow:hidden; position:absolute; width:60px; height:60px;top:0; bottom:0; margin:auto 0; font-size:0;text-indent:-9999px; transition:all 0.3s;}
    &__list-prev{left:-85px; background:url('../images/main/focus_prev_off.png');}
    &__list-prev:hover{background:url('../images/main/focus_prev_on.png');}
    &__list-next{right:-85px; background:url('../images/main/focus_next_off.png');}
    &__list-next:hover{right:-85px; background:url('../images/main/focus_next_on.png');}
    &__item{margin:0 10px; list-style:none;}
    &__box{min-height:300px; padding:40px; border:1px solid #e1e1e1; background-color:#fff; box-sizing:border-box;}
    &__bg{position:relative; width:100%; height:0; padding-bottom:100%; }
    &__img{position:absolute; top:0; left:0; width:100%; height:100%;}
    &__category{display:inline-block; margin:0; padding:3px 5px; font-size:14px; color:#fff; box-sizing:border-box;}
    &__category.type-1{background-color:#ead8b9;}
    &__category.type-2{background-color:$color-point;}
    &__category.type-3{background-color:#21478d;}
    &__item-tit{margin:16px 0 0 0; font-size:28px; color:#333333; font-weight:$medium;}
    &__item-txt{margin:16px 0 0 0; height:50px; font-size:16px; line-height:1.6; color:#999; }
    &__item-block{display:block;}
    &__dot{margin-top:30px;}
    &__btn{margin-top:30px;}
    @media only screen and (max-width: $tablet-size) {
        &__list-btn{display:none !important;}
    	&__area{padding:100px 30px;}
    	&__slider{width:100%;}
    	&__list{width:100%; }
    	&__box{padding:40px 30px;}
    	&__item-txt{font-size:14px;}
    }
    @media only screen and (max-width: $mobile-size) {
    	&__area{padding:50px 17px;}
    	&__tit{
            &:after{margin-top:20px; width:18px;}
        }
    	&__txt{margin-top:20px; font-size:1.3rem;}
    	&__list{margin-top:34px;}
    	&__box{min-height:230px; padding:30px;}
    	&__category{font-size:1.2rem;}
    	&__item{margin:0 5px;}
    	&__item-tit{margin-top:12px; font-size:2.1rem;}
    	&__item-txt{height:40px; margin-top:12px; font-size:1.3rem;}
        &__btn{margin-top:16px;}
    }
}

//메인 검색창
.main-search{padding:70px 0 34px; background:url('../images/main/main-search_bg.jpg') no-repeat center center / cover; box-sizing:border-box; text-align:center;
    &__tit{position:relative; margin:0;
        &:after{display:block; width:25px; height:0; margin:16px auto 0;  border-top:1px solid #fff; content:'';}
    }
    &__wrap{width:100%; max-width:760px; margin:0px auto; }
    &__box{margin-top:24px; padding:0 50px;  box-sizing:border-box;}
    &__bg{border:1px solid #1b1b1b; background-color:rgba(162,189,234,0.1);}
    @media only screen and (max-width: $tablet-size) {padding:50px 0;
        &__wrap{max-width:100%; padding:0 60px; box-sizing:border-box;}
        &__box{padding:0;}
    }
    @media only screen and (max-width: $mobile-size) { background:url('../images/main/main-search_bg_m.jpg') no-repeat center center / cover;
        &__box{margin:0;}
        &__wrap{padding:0 12px;}
        &__tit{
            &:after{width:18px; margin-top:10px;}
        }
        &__bg{margin-top:34px; background:transparent; border:none;}
    }
}
.search-keyword{width: 100%; margin:26px 0 0 0;
	&__box{position:relative; width: 100%; padding: 6px 30px 6px 64px; border: 2px solid #ffffff; border-radius: 50px; background:transparent; box-sizing:border-box;}
	&__wrap{ width:100%;}
	&__label{overflow: hidden; position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; clip: rect(0, 0, 0, 0); border: 0;
		// &.focus{background: url('../images/review/photo/photo_on.png') no-repeat center center / contain;}
	}
	&__input{width:100%; height:34px; border: 0; font-size: 16px; color: #fff; box-sizing:border-box; background:transparent; outline:0;
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #a5a8a8;}
		&::-moz-placeholder { /* Firefox 19+ */  color: #a5a8a8;}
		&:-ms-input-placeholder { /* IE 10+ */ color: #a5a8a8;}
		&:-moz-placeholder { /* Firefox 18- */ color: #a5a8a8;}
	}
	&__btn{overflow:hidden; position:absolute; top:0; bottom:0; left:30px; width: 20px; height:20px; margin:auto 0;border: 0;
        background: url('../images/main/search_main_off.png') no-repeat center center / contain; border-radius: 0; outline: 0; z-index:10; text-indent:-9999px; cursor:pointer;
        &.is-focus{background: url('../images/main/search_main_on.png') no-repeat center center / contain;}
    }
	@media only screen and (max-width: $mobile-size) {margin-top:24px;
        &__box{padding: 3px 16px 3px 50px; border-width:1px; border-radius:42px;}
        &__btn{left:20px; width:19px; height:21px;}
        &__input{font-size:1.2rem;}
	}
}
.main-keyword{padding:30px 0; box-sizing:border-box;
    $this:&;
    &:after{display:block; clear:both; content:'';}
    &__tit{margin:0; font-size:18px; font-weight:$regular;}
    &__box{float:left; width:50%; padding-left:110px; box-sizing:border-box; text-align:left;}
    &__area{margin:8px 0 0 0; padding:0;}
    &__area-box{list-style:none;}
    &__list{margin:0; padding:0;}
    &__item{margin-top:6px; list-style:none;
        &.type-first{
            #{$this}__link{color:$color-point;}
        }
    }
    &__tit{font-size:18px; color:#fff; font-weight:$regular;}
	&__link {display: block; font-size: 13px; color: #fff; font-weight:$medium; text-decoration:none;}
	&__num{top: 0px; position: relative; display: inline-block; width: 21px; height: 21px; line-height: 21px; text-align: center; color: #fff; background:rgba(242,244,248,0.1);
		margin-right: 10px; box-sizing:border-box;
	}
	&__icon {display: inline-block; width: 21px; height: 21px; line-height: 20px; text-align: center; color: $color-point; margin-right: 10px;}
    @media only screen and (max-width: $mobile-size) {padding:0;
        &__box{width:100%; padding:0 24px;
            & + &{margin-top:64px;}
        }
        &__item{margin-top:14px;}
        &__area{margin:0; padding:0;
            &:after{display:block; clear:both; content:'';}
        }
        &__area-box{float:left; width:50%;}
    }
}

//디테일 슬라이드
.detail-slide{
    &__wrap{width:100%; max-width:1296px; margin:0 auto; padding:0 8px; box-sizing:border-box;
        &:after{display:block; clear:both; content:'';}
    }
    &__box{
        &.type-img{float:left; width:61.57%; padding:0 86px; box-sizing:border-box;}
        &.type-txt{float:right; width:38.43%;padding:100px 0 0; box-sizing:border-box;}
    }
    &__img{position:relative; width:100%; height:0; padding-bottom:115.26%;}
    &__list{margin:0; padding:0; cursor:move;}
    &__item{list-style:none;}
    &__num{display:block; text-align:center; font-size:30px; color:$black3;}
    &__eng{margin:16px 0 0 0; font-size:70px; font-weight:$medium; color:$color-point;}
    &__tit{margin:0px 0 0 0; font-size:50px; color:$black1; font-weight:$light; line-height:1.2;}
    &__txt{margin:20px 0 0 0; font-size:18px; color:$black3; line-height:1.66;}
    &__dot{position:absolute; bottom:90px; right:46px; display:inline-block; z-index:10; cursor:default;}
    @media only screen and (max-width: $tablet-size) {
        &__num{text-align:left;}
        &__tit{font-size:44px;}
        &__wrap{padding:0 60px 60px;}
        &__box{
            &.type-txt{float:none; width:100%;}
            &.type-img{float:none; width:100%; padding:0;}
        }
        &__img{padding-bottom:87.96%;}
        &__dot{bottom:-30px; left:0; right:0; text-align:center;}
    }
    @media only screen and (max-width: $mobile-size) {
        &__wrap{padding:0 25px 60px;}
        &__box{
            &.type-txt{padding-top:60px;}
        }
        &__num{font-size:1.9rem;}
        &__eng{margin-top:12px; font-size:3.2rem;}
        &__tit{font-size:2.6rem;}
        &__txt{margin-top:10px; font-size:1.3rem;}
    }
}
//맵
.main-location{overflow:hidden; position:relative; height:594px;
    $this:&;
    &__area{width:100%; height:100%;}
    &__map{width:100%; height:100%;}
    &__box{position:absolute; top:0; right:0; width:636px; height:100%; padding:0 80px 0 110px; background-color:rgba(24,179,164,0.95); box-sizing:border-box; z-index:1;}
    &__wrap{display:inline-table; width:100%; height:100%;}
    &__inner{display:table-cell;  vertical-align:middle;}
    &__dl{margin:40px 0 0 0; position:relative;
        &:after{display:block; clear:both; content:'';}
    }
    &__dt{position:absolute; top:0; left:0; overflow:hidden; width:30px; height:36px; margin:0; text-indent:-9999px;
        &.type-map{background:url('../images/main/location.png') no-repeat center top;}
        &.type-time{background:url('../images/main/time.png') no-repeat center top;}
        &.type-phone{top:8px; background:url('../images/main/location_phone.png') no-repeat center top;}
    }
    &__dd{float:left; margin:0; padding-left:46px;
        &.type-phone{
            #{$this}__item{font-size:33px; color:#ead8b9;}
        }
        &.type-time{
            #{$this}__item{display:inline-block;
                & + #{$this}__item{
                    &:before{display:inline; margin:0 8px; content:'/'}
                }
                & + #{$this}__item + #{$this}__item{margin-top:5px;}
                &:last-child{
                    &:before{display:none;}
                }
            }
        }
    }
    &__list{margin:0; padding:0;}
    &__item{list-style:none; color:#fff; font-size:16px;
        & + &{margin-top:5px;}
        & + & + &{margin-top:16px;}
    }
    &__night{display:inline-block; margin-left:10px; padding:3px 7px; font-size:14px; color:#e6c69b; border:1px solid #e6c69b; text-decoration:none;}
    &__vertical{vertical-align:middle;}
    &__group{position:relative; display:inline-block; margin-top:32px; font-size:0;}
    &__btn{
        & + &{margin-left:25px;}
    }
    &__link{color:inherit; text-decoration:none;}
    @media only screen and (max-width: $tablet-size) {position:relative; height:auto;
        &__area{position:relative; width:100%; height:0; padding-bottom:65.1%;}
        &__map{position:absolute; top:0; left:0;}
        &__box{position:static; width:100%; padding:90px 170px; }
        &__wrap{display:block; width:auto; height:auto;}
        &__inner{display:block;}
        &__group{position:absolute; top:30px; left:30px; margin-top:0; z-index:50;}
    }
    @media only screen and (max-width: $mobile-size) {
        &__area{padding-bottom:132.8%;}
        &__box{padding:46px 28px;}
        &__dl{margin-top:30px;
            & + &{margin-top:24px;}
        }
        &__item{font-size:1.4rem;
            & + & + &{margin-top:12px;}
        }
        &__dt{width:25px; height:30px;
            &.type-map{top:4px; background:url('../images/main/location_m.png') no-repeat center top / 25px 30px;}
            &.type-time{top:4px; background:url('../images/main/time_m.png') no-repeat center top / 25px 26px;}
            &.type-phone{top:8px; background:url('../images/main/location_phone_m.png') no-repeat center top / 20px 21px;}
        }
        &__dd{padding-left:38px;
            &.type-phone{
                #{$this}__item{font-size:2.4rem;}
            }
            &.type-time{
                #{$this}__item{display:block;
                    & + #{$this}__item{margin-top:3px;
                        &:before{display:none;}
                    }
                    & + #{$this}__item + #{$this}__item{margin-top:3px;}
                }
            }
        }
        // &__link{display:block; width:60px; font-size:1.3rem; margin:6px 0 0 0; padding:2px 4px;}
        &__group{left:0; display:block; width:100%; padding:0 12px; box-sizing:border-box;}
    }
}



.main-btn{position: relative; display: inline-block;  height: 44px; padding:0 28px; line-height: 43px; border: 1px solid #838383; border-radius: 30px;
        text-align: center; font-size: 16px; color: #6f6c6c; text-decoration:none;
    i {font-size: 14px; top: -1px; margin-left: 5px; position: relative;}
    $this:&;
    &:hover {color: #fff; background-color: $color-point; border-color: $color-point;
        #{$this}__icon{
            &.type-sms{background:url('../images/main/sms_icon_on.png') no-repeat center center;}
            &.type-print{background:url('../images/main/print_icon_on.png') no-repeat center center;}
        }
    }
    &__icon{overflow:hidden; display:inline-block;  width:22px; height:20px; margin-right:6px; text-indent:-9999px; vertical-align:middle;
        &.type-sms{background:url('../images/main/sms_icon_off.png') no-repeat center center;}
        &.type-print{background:url('../images/main/print_icon_off.png') no-repeat center center;}
    }
    &__wrap{display:inline-block; vertical-align:middle;}
    &.type-another{border-color:#fff; color:#fff;
        &:hover{background:#fff; color:$color-point;}
    }
    @media only screen and (max-width: $tablet-size) {
        &.type-another{border-color:#333; color:#fff; background-color:#333333;
            &:hover{background:#fff; color:$color-point; border-color:#fff;}
        }
    }
    @media only screen and (max-width: $mobile-size) {position: relative; height: 40px; padding:0 46px; line-height: 38px;  border-radius: 30px; font-size: 1.2rem; vertical-align:middle;
        i {position:relative; font-size: 14px; margin-left: 5px; vertical-align:middle;}
        &.type-another{padding:0 32px;
            &:hover{background:#fff; color:$color-point;}
        }
        &__icon{width:15px; height:11px;
            &.type-sms{background:url('../images/main/sms_icon_off_m.png') no-repeat center center / contain;}
        }
    }
}
.main-form{display:none; position:absolute; top:0; left:0; width:100%; height:100%;z-index:10;
    &.is-active{display:block;}
    &__form{height:100%;}
    &__wrap{position:relative; width:100%; height:100%; padding:6px 110px 6px 60px; background:#fff; border-radius:48px; box-sizing:border-box;}
    &__label{position:absolute; top:0; bottom:0; left:30px; margin:auto 0; width:22px; height:16px; background:url('../images/main/sms_icon_b.png') no-repeat center center; }
    &__input{width:100%; height:100%;background:transparent; border:none; font-size:15px; font-weight:$regular; outline:0;
        &::placeholder{color:#666;}
    }
    &__btn{position:absolute; top:0; bottom:0; right:12px; width:94px; height:30px; line-height:30px; cursor:pointer;
        margin:auto 0; color:#fff; font-size:14px; font-weight:$medium; background:#000; border:none; border-radius:30px;}
    &__close{overflow:hidden; position:absolute; bottom:-26px; right:12px; display:block; width:18px; height:18px;
        background:url('../images/main/form_btn.png') no-repeat center center / contain; text-indent:-9999px;}
    @media only screen and (max-width: $tablet-size) {width:410px;
        &__wrap{background-color:#333;}
        &__label{background:url('../images/main/sms_icon_off.png') no-repeat center center; }
        &__input{color:#fff;
            &::placeholder{color:#fff;}
        }
        &__btn{background-color:#fff; color:#333;}
    }
    @media only screen and (max-width: $mobile-size) {right:0; width:calc(100% - 24px); margin:0 auto;
        &__input{font-size:1.2rem;}
        &__label{width:15px; height:11px; background:url('../images/main/sms_icon_off_m.png') no-repeat center center / contain; }
        &__btn{width:76px; height:28px; line-height:28px; font-size:1.2rem;}
        &__close{right:5px; bottom:-30px; width:24px; height:24px;}
    }
}
.main-photo{padding:110px 0; text-align:center; box-sizing:border-box;
    $this:&;
    &__wrap{width:1200px; margin:0px auto;}
    &__btn{margin-top:50px;}
    &__close{overflow:hidden; display:none; position:absolute; top:40px; right:24px; width:42px; height:42px;
        background:url('../images/main/main_photo_close.png') no-repeat center center / contain; text-indent:-9999px; z-index:60;
        &.is-active{display:block;}
    }
    .photo-slide__noti{margin:-30px 0 0 0; text-align:left; padding-left:40px; padding-right:200px; box-sizing:border-box;}
    @media only screen and (max-width: $tablet-size) {position:relative; padding:70px 0;
        &__wrap{width:100%; padding:0 65px; box-sizing:border-box;}
        &.is-active{
            &:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:rgba(0,0,0,0.85); z-index:50; content:'';}
            #{$this}__close{display:block;}
            .photo-slide__btn{z-index:40;}
        }
        .photo-slide__noti{margin-top:8px; padding:0; text-align:center;}
    }
    @media only screen and (max-width: $mobile-size) {
        &__wrap{padding:0 50px;}
        &__btn{margin-top:20px;}
        &__close{top:100px; right:50px; width:21px; height:21px;
        }
        .photo-slide__noti{margin:10px -50px 0;}
    }
}
