.content-visual.type-allpore .content-visual__img {
  background: url("../images/pore/allpore/allpore_visual.jpg") no-repeat center center/cover;
}

.content-visual.type-allpore .content-visual__point {
  background-color: #ffac1b;
}

.content-visual.type-allpore .content-visual__tit-point {
  color: #ffac1b;
}

.content-visual.type-allpore .content-visual__table {
  background-color: #d7af6a;
}

@media only screen and (max-width: 1025px) {
  .content-visual.type-allpore .content-visual__img {
    background: url("../images/pore/allpore/allpore_visual.jpg") no-repeat center left -142px/cover;
  }
}

@media only screen and (max-width: 680px) {
  .content-visual.type-allpore .content-visual__img {
    background: url("../images/pore/allpore/allpore_visual_m.jpg") no-repeat center center/cover;
  }
}

.content-top.type-allpore {
  padding: 140px 10% 0;
  box-sizing: border-box;
  background: url("../images/pore/allpore/allpore_img1.jpg") no-repeat center bottom/cover;
}

.content-top.type-allpore .content-top__subtit {
  margin-top: 0;
  color: #fff;
}

.content-top.type-allpore .content-top__tit {
  color: #fff;
}

.content-top.type-allpore .content-top__txt {
  color: #e9e5df;
}

.content-top.type-allpore .content-top__txt:before {
  border-color: #d8d8d8;
}

@media only screen and (max-width: 1025px) {
  .content-top.type-allpore {
    padding: 100px 65px 0;
    background: url("../images/pore/allpore/allpore_img1_t.jpg") no-repeat center bottom/cover;
  }
  .content-top.type-allpore .content-top__txt {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media only screen and (max-width: 680px) {
  .content-top.type-allpore {
    padding: 50px 12px 0;
    background: url("../images/pore/allpore/allpore_img1_m.jpg") no-repeat center bottom/cover;
  }
  .content-top.type-allpore .content-top__tit {
    margin: 14px -10px 0;
  }
}

.allpore-box1__list {
  margin: 190px 0 0 0;
  padding: 0;
}

.allpore-box1__list:after {
  display: block;
  clear: both;
  content: '';
}

.allpore-box1__item {
  width: 294px;
  height: 254px;
  background: url("../images/pore/allpore/allpore_hexagon.png");
  list-style: none;
  box-sizing: border-box;
}

.allpore-box1__item.type-left {
  float: left;
}

.allpore-box1__item.type-right {
  float: right;
}

.allpore-box1__txt {
  padding: 0 70px;
  box-sizing: border-box;
  font-size: 30px;
  color: #fff;
  line-height: 1.26;
  text-align: center;
}

.allpore-box1__img {
  overflow: hidden;
  width: 100%;
  height: 0;
  margin-top: 60px;
  padding-bottom: 76.66%;
  background: url("../images/pore/allpore/allpore_bg1_1.png") no-repeat center left 46%/contain;
}

@media only screen and (max-width: 1025px) {
  .allpore-box1__list {
    margin-top: 240px;
  }
  .allpore-box1__item {
    width: 216px;
    height: 186px;
    background: url("../images/pore/allpore/allpore_hexagon_t.png") no-repeat center center;
  }
  .allpore-box1__txt {
    padding: 0 56px;
    font-size: 22px;
  }
  .allpore-box1__img {
    margin-top: 40px;
    padding-bottom: 100%;
    background-position: center left 28%;
  }
}

@media only screen and (max-width: 680px) {
  .allpore-box1__list {
    margin-top: 144px;
  }
  .allpore-box1__item {
    width: 86px;
    height: 75px;
    background: url("../images/pore/allpore/allpore_hexagon_t.png") no-repeat center center;
    background-size: 86px 75px;
  }
  .allpore-box1__txt {
    padding: 0 10px;
    font-size: 1.2rem;
  }
  .allpore-box1__img {
    margin-top: 20px;
    padding-bottom: 108.1%;
  }
}

.content-line.type-allpore1 {
  background-color: #33302a;
}

.content-line.type-allpore2 {
  background-color: #ccac75;
}

.img-list6.type-allpore {
  padding-bottom: 84px;
}

@media only screen and (max-width: 680px) {
  .img-list6.type-allpore {
    padding-bottom: 42px;
  }
}

.allpore-box3 {
  padding-left: 92px;
  padding-right: 92px;
  text-align: center;
}

.allpore-box3__box {
  padding: 88px 216px;
  background: url("../images/pore/allpore/allpore_bg1.jpg") no-repeat center center/cover;
}

.allpore-box3__tit {
  margin: 0;
  font-size: 28px;
  font-weight: 300;
  color: #000;
}

.allpore-box3__tit:after {
  display: block;
  width: 30px;
  margin: 26px auto;
  border-top: 2px solid #000;
  content: '';
}

.allpore-box3__txt {
  margin: 0;
  font-size: 18px;
  color: #777;
  line-height: 1.66;
}

@media only screen and (max-width: 1025px) {
  .allpore-box3 {
    padding-left: 0;
    padding-right: 0;
  }
  .allpore-box3__box {
    padding: 80px 160px;
    background: url("../images/pore/allpore/allpore_bg1_t.jpg") no-repeat center center/cover;
  }
}

@media only screen and (max-width: 680px) {
  .allpore-box3__box {
    padding: 40px 60px;
    background: url("../images/pore/allpore/allpore_bg1_m.jpg") no-repeat center center/cover;
  }
  .allpore-box3__tit {
    font-size: 1.6rem;
  }
  .allpore-box3__tit:after {
    width: 15px;
    margin: 13px auto;
    border-width: 1px;
  }
  .allpore-box3__txt {
    font-size: 1.2rem;
  }
}

.allpore-box4 {
  margin-top: 150px;
  background-color: #2b2420;
  padding-left: 0;
  padding-right: 0;
}

.allpore-box4__subtit {
  color: #fff;
}

.allpore-box4__tit {
  color: #fff;
}

.allpore-box4__txt {
  margin-top: 40px;
  color: #b4ada9;
}

.allpore-box4__img {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 47.65%;
  background: url("../images/pore/allpore/allpore_img2.jpg") no-repeat center bottom/cover;
  text-indent: -9999px;
}

@media only screen and (max-width: 1025px) {
  .allpore-box4 {
    margin-top: 0;
  }
  .allpore-box4__txt {
    padding: 0 100px;
    box-sizing: border-box;
  }
  .allpore-box4__img {
    margin-top: 10px;
    padding-bottom: 80.72%;
    background: url("../images/pore/allpore/allpore_img2_t.jpg") no-repeat center bottom/cover;
  }
}

@media only screen and (max-width: 680px) {
  .allpore-box4__tit {
    padding: 0 44px;
  }
  .allpore-box4__txt {
    margin-top: 16px;
    padding: 0 44px;
  }
  .allpore-box4__img {
    margin-top: 0;
  }
}

.equipment.type-allpore {
  background-color: #f9f9f9;
}

.equipment.type-allpore .equipment__tit {
  margin-top: 30px;
}

.equipment.type-allpore .equipment__list {
  margin-top: 5px;
}

@media only screen and (max-width: 680px) {
  .equipment.type-allpore .equipment__tit {
    margin-top: 14px;
  }
}

.color-allpore1 {
  color: #ffac1b;
}

.color-allpore2 {
  color: #ead8b9;
}

.content-visual.type-scar .content-visual__img {
  background: url("../images/pore/scar/scar_visual.jpg") no-repeat center center/cover;
}

.content-visual.type-scar .content-visual__point {
  background-color: #ffac1b;
}

.content-visual.type-scar .content-visual__tit-point {
  color: #ffac1b;
}

.content-visual.type-scar .content-visual__table {
  background-color: #d7af6a;
}

@media only screen and (max-width: 1025px) {
  .content-visual.type-scar .content-visual__img {
    background: url("../images/pore/scar/scar_visual.jpg") no-repeat center center/cover;
  }
}

@media only screen and (max-width: 680px) {
  .content-visual.type-scar .content-visual__img {
    background: url("../images/pore/scar/scar_visual_m.jpg") no-repeat center center/cover;
  }
}

.content-top.type-scar {
  padding: 150px 200px 845px;
  box-sizing: border-box;
  background: url("../images/pore/scar/scar_img1.jpg") no-repeat center bottom/cover;
}

.content-top.type-scar .content-top__subtit {
  margin-top: 0;
}

.content-top.type-scar .content-top__txt:before {
  border-color: #d8d8d8;
}

@media only screen and (max-width: 1025px) {
  .content-top.type-scar {
    padding: 100px 30px 104.16%;
    background: url("../images/pore/scar/scar_img1_t.jpg") no-repeat center bottom/cover;
  }
  .content-top.type-scar .content-top__txt {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 680px) {
  .content-top.type-scar {
    padding: 50px 30px 120%;
    background: url("../images/pore/scar/scar_img1_m.jpg") no-repeat center bottom/cover;
  }
  .content-top.type-scar .content-top__txt {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.scar-box2 {
  overflow: hidden;
  padding-left: 92px;
  padding-right: 92px;
  box-sizing: border-box;
}

.scar-box2__txt {
  margin: 50px 0 0 0;
  font-size: 18px;
  color: #777;
  line-height: 1.66;
}

.scar-box2__subtit {
  margin: 50px 0 0 0;
  font-size: 28px;
  color: #000;
  font-weight: 300;
}

.scar-box2__list {
  padding: 0;
  margin: 0 -38px -40px;
  font-size: 0;
}

.scar-box2__item {
  display: inline-block;
  margin: 40px 38px;
  list-style: none;
}

.scar-box2__subject {
  margin: 36px 0 0 0;
  font-size: 20px;
  color: #777;
}

@media only screen and (max-width: 1025px) {
  .scar-box2 {
    padding-left: 65px;
    padding-right: 65px;
  }
  .scar-box2__txt {
    margin: 50px 10px 0;
  }
  .scar-box2__list {
    margin: 20px -40px -28px;
  }
  .scar-box2__item {
    margin: 24px 10px;
  }
}

@media only screen and (max-width: 680px) {
  .scar-box2 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .scar-box2__txt {
    margin: 25px 0 0;
    font-size: 1.2rem;
  }
  .scar-box2__subtit {
    margin-top: 20px;
    font-size: 1.7rem;
  }
  .scar-box2__list {
    margin: 15px 0 0 -11px;
  }
  .scar-box2__item {
    display: inline-block;
    margin: 11px 5px;
  }
  .scar-box2__img {
    width: 154px;
    margin: 0 auto;
  }
  .scar-box2__img img {
    width: 100%;
  }
  .scar-box2__subject {
    margin-top: 16px;
    font-size: 1.2rem;
  }
}

.scar-box3 {
  background-color: #fafafa;
}

.scar-box3__subtit {
  margin-top: 36px;
  font-style: italic;
}

.scar-box3__img {
  overflow: hidden;
  width: 100%;
  height: 0;
  margin-top: 30px;
  padding-bottom: 29.13%;
  text-indent: -9999px;
  background: url("../images/pore/scar/scar_img2.jpg") no-repeat center center/cover;
}

@media only screen and (max-width: 1025px) {
  .scar-box3 {
    margin: 0 -65px;
    padding-bottom: 0;
  }
  .scar-box3__subtit {
    margin-top: 40px;
  }
  .scar-box3__img {
    margin-top: 40px;
    padding-bottom: 45.31%;
    background: url("../images/pore/scar/scar_img2_t.jpg") no-repeat center center/cover;
  }
}

@media only screen and (max-width: 680px) {
  .scar-box3 {
    margin: 0;
  }
  .scar-box3__subtit {
    margin-top: 20px;
  }
  .scar-box3__img {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 680px) {
  .scar-box4 {
    overflow: hidden;
  }
}

.program {
  padding: 80px 17.4%;
  background-color: #4c443a;
  box-sizing: border-box;
}

.program__subtit {
  margin: 0;
  display: inline-block;
  padding-left: 8px;
  font-size: 14px;
  color: #c4c3c0;
  letter-spacing: 8px;
  box-sizing: border-box;
  font-weight: 400;
}

.program__tit {
  margin: 20px 0 0 0;
  font-size: 44px;
  font-weight: 400;
  color: #fff;
}

.program__list {
  margin: -50px 0 0 -100px;
  padding: 0;
  text-align: center;
  font-size: 0;
  box-sizing: border-box;
}

.program__list:after {
  display: block;
  clear: both;
  content: '';
}

.program__box {
  position: relative;
  width: 100%;
  height: 140px;
}

.program__item {
  float: left;
  display: inline-block;
  width: 50%;
  margin-top: 100px;
  color: #fff;
  padding-left: 100px;
  box-sizing: border-box;
}

.program__item:nth-child(2) .vertical, .program__item:nth-child(3) .vertical {
  border-color: #a9a192;
}

.program__item:nth-child(1) .program__box:before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -86px;
  display: block;
  width: 76px;
  height: 0;
  margin: auto 0;
  border-top: 5px solid #706961;
  content: '';
}

.program__item:nth-child(1) .program__box:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -90px;
  display: block;
  width: 0;
  height: 0;
  margin: auto 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 8px solid #706961;
  content: '';
}

.program__item:nth-child(2) .program__box:before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -86px;
  display: block;
  height: 76px;
  width: 0;
  margin: 0 auto;
  border-left: 5px solid #706961;
  content: '';
}

.program__item:nth-child(2) .program__box:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -90px;
  display: block;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-top: 8px solid #706961;
  content: '';
}

.program__item:nth-child(3) .program__box:before {
  position: absolute;
  left: 0;
  right: 0;
  top: -86px;
  display: block;
  height: 76px;
  width: 0;
  margin: 0 auto;
  border-left: 5px solid #706961;
  content: '';
}

.program__item:nth-child(3) .program__box:after {
  position: absolute;
  left: 0;
  right: 0;
  top: -90px;
  display: block;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-bottom: 8px solid #706961;
  content: '';
}

.program__item:nth-child(4) .program__box:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -86px;
  display: block;
  width: 76px;
  height: 0;
  margin: auto 0;
  border-top: 5px solid #706961;
  content: '';
}

.program__item:nth-child(4) .program__box:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -90px;
  display: block;
  width: 0;
  height: 0;
  margin: auto 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 8px solid #706961;
  content: '';
}

.program__item .vertical {
  border: 8px solid #dcc59c;
  border-radius: 20px;
  box-sizing: border-box;
}

.program__subject {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
}

.program__txt {
  margin: 16px 0 0 0;
  font-size: 18px;
}

@media only screen and (max-width: 1025px) {
  .program {
    overflow: hidden;
    padding: 80px 38px;
  }
}

@media only screen and (max-width: 680px) {
  .program {
    padding: 50px 12px;
    margin: 0 -12px;
  }
  .program__subtit {
    padding-left: 3px;
    letter-spacing: 3px;
    font-size: 1rem;
  }
  .program__tit {
    font-size: 2.3rem;
  }
  .program__box {
    height: 70px;
  }
  .program__list {
    margin: -16px 0 0 -42px;
  }
  .program__item {
    margin-top: 42px;
    padding-left: 42px;
  }
  .program__item .vertical {
    border-width: 4px;
    padding: 0 5px;
    border-radius: 10px;
  }
  .program__item:nth-child(1) .program__box:before {
    right: -37px;
    display: block;
    width: 32px;
    border-width: 3px;
  }
  .program__item:nth-child(1) .program__box:after {
    right: -39px;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 5px;
  }
  .program__item:nth-child(2) .program__box:before {
    bottom: -37px;
    height: 32px;
    border-width: 3px;
  }
  .program__item:nth-child(2) .program__box:after {
    bottom: -39px;
    border-top-width: 5px;
    border-bottom-width: 4px;
    border-left-width: 4px;
  }
  .program__item:nth-child(3) .program__box:before {
    top: -37px;
    height: 32px;
    border-width: 3px;
  }
  .program__item:nth-child(3) .program__box:after {
    top: -39px;
    border-right-width: 4px;
    border-bottom-width: 5px;
    border-left-width: 4px;
  }
  .program__item:nth-child(4) .program__box:before {
    left: -37px;
    width: 32px;
    border-width: 3px;
  }
  .program__item:nth-child(4) .program__box:after {
    left: -39px;
    border-right-width: 5px;
    border-bottom-width: 4px;
    border-top-width: 4px;
  }
  .program__subject {
    margin: 0;
    font-size: 1.4rem;
  }
  .program__txt {
    margin: 6px 0 0 0;
    font-size: 1.2rem;
  }
}

.img-list3__num.type-scar {
  background-color: #ffac1b;
}

.img-list3__num.type-scar:before {
  background-color: #ffac1b;
}

.img-list1.type-scar .img-list1__list {
  margin-top: 45px;
}

.img-list1.type-scar .img-list1__item.nth-1 .img-list1__box:before {
  background: url("../images/pore/scar/scar_img3.jpg") no-repeat center center/cover;
}

.img-list1.type-scar .img-list1__item.nth-2 .img-list1__box:before {
  background: url("../images/pore/scar/scar_img4.jpg") no-repeat center center/cover;
}

.img-list1.type-scar .img-list1__item.nth-3 .img-list1__box:before {
  background: url("../images/pore/scar/scar_img5.jpg") no-repeat center center/cover;
}

.img-list1.type-scar .img-list1__item.nth-4 .img-list1__box:before {
  background: url("../images/pore/scar/scar_img6.jpg") no-repeat center center/cover;
}

.img-list1.type-scar .img-list1__item.nth-5 .img-list1__box:before {
  background: url("../images/pore/scar/scar_img7.jpg") no-repeat center center/cover;
}

.img-list1.type-scar .img-list1__item.nth-6 .img-list1__box:before {
  background: url("../images/pore/scar/scar_img8.jpg") no-repeat center center/cover;
}

.img-list1.type-scar .img-list1__box {
  padding-left: 50%;
  padding-right: 0;
  height: 240px;
}

.img-list1.type-scar .img-list1__box:before {
  width: 50%;
}

.img-list1.type-scar .img-list1__wrap {
  height: 240px;
  padding: 0 50px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.img-list1.type-scar .img-list1__tit {
  font-size: 24px;
  color: #ffac1b;
}

.img-list1.type-scar .img-list1__txt {
  margin-top: 10px;
  color: #777;
  line-height: 1.6;
}

@media only screen and (max-width: 1180px) {
  .img-list1.type-scar .img-list1__box {
    padding: 0;
    height: auto;
  }
  .img-list1.type-scar .img-list1__box:before {
    width: 100%;
  }
  .img-list1.type-scar .img-list1__wrap {
    height: auto;
    padding: 40px;
  }
}

@media only screen and (max-width: 680px) {
  .img-list1.type-scar .img-list1__list {
    margin-top: 25px;
  }
  .img-list1.type-scar .img-list1__tit {
    font-size: 1.6rem;
  }
  .img-list1.type-scar .img-list1__wrap {
    padding: 20px 25px;
  }
}

.equipment__list.type-scar {
  margin-top: -30px;
}

@media only screen and (max-width: 1025px) {
  .equipment__list.type-scar {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 680px) {
  .equipment__list.type-scar {
    margin-top: 15px;
  }
  .equipment__list.type-scar .equipment__item {
    margin-top: 10px;
  }
}

.scar-box5 {
  background-color: #2b2420;
}

.scar-box5__tit {
  color: #fff;
}

.img-list7__tit {
  margin: 0 -20px;
}

.img-list7.type-scar .img-list7__item.nth-1 .img-list7__box:before {
  background: url("../images/pore/scar/scar_img9.jpg") no-repeat center center/cover;
}

.img-list7.type-scar .img-list7__item.nth-2 .img-list7__box:before {
  background: url("../images/pore/scar/scar_img10.jpg") no-repeat center center/cover;
}

.img-list7.type-scar .img-list7__item.nth-3 .img-list7__box:before {
  background: url("../images/pore/scar/scar_img11.jpg") no-repeat center center/cover;
}

.color-scar1 {
  color: #ffac1b;
}

.color-scar2 {
  color: #ead8b9;
}

.content-visual.type-acne .content-visual__img {
  background: url("../images/pore/acne/acne_visual.jpg") no-repeat center center/cover;
}

.content-visual.type-acne .content-visual__point {
  background-color: #ffac1b;
}

.content-visual.type-acne .content-visual__tit-point {
  color: #ffac1b;
}

.content-visual.type-acne .content-visual__table {
  background-color: #d7af6a;
}

@media only screen and (max-width: 1025px) {
  .content-visual.type-acne .content-visual__img {
    background: url("../images/pore/acne/acne_visual.jpg") no-repeat center center/cover;
  }
  .content-visual.type-acne .content-visual__wrap {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 680px) {
  .content-visual.type-acne .content-visual__wrap {
    padding: 0 12px;
  }
}

.content-top.type-acne {
  padding: 150px 200px 845px;
  box-sizing: border-box;
  background: url("../images/pore/acne/acne_img1.jpg") no-repeat center bottom/cover;
}

.content-top.type-acne .content-top__subtit {
  margin-top: 0;
}

.content-top.type-acne .content-top__txt:before {
  border-color: #d8d8d8;
}

@media only screen and (max-width: 1025px) {
  .content-top.type-acne {
    padding: 100px 30px 105.46%;
    background: url("../images/pore/acne/acne_img1_t.jpg") no-repeat center bottom/cover;
  }
  .content-top.type-acne .content-top__txt {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 680px) {
  .content-top.type-acne {
    padding: 50px 30px 118.75%;
  }
  .content-top.type-acne .content-top__txt {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.advantage.type-acne .advantage__img {
  overflow: hidden;
  background: url("../images/pore/acne/acne_img2.png") no-repeat center bottom;
}

@media only screen and (max-width: 680px) {
  .advantage.type-acne {
    padding-left: 12px;
    padding-right: 12px;
  }
  .advantage.type-acne .advantage__img {
    background-size: cover;
  }
  .advantage.type-acne .advantage__tit {
    margin: 16px 0 0;
  }
  .advantage.type-acne .advantage__subtit {
    margin: 0;
    letter-spacing: 5px;
    padding-left: 5px;
  }
  .advantage.type-acne .advantage__bg {
    margin: 0;
  }
}

.acne-box2.type-another {
  padding-bottom: 70px;
  background-color: #fbfbfb;
}

.acne-box2__box {
  text-align: center;
}

.acne-box2__tit {
  margin-top: 15px;
}

.acne-box2__subtit {
  color: #000;
}

.acne-box2__subtit2 {
  display: inline-block;
  margin-top: 26px;
  padding: 8px 16px;
  background-color: #3f3f3f;
  color: #fff;
  font-style: italic;
  box-sizing: border-box;
}

.acne-box2__subject {
  margin: 0;
  font-size: 28px;
  color: #000;
  font-weight: 300;
}

.acne-box2__list {
  margin: -10px 0 0 -28px;
  padding: 0;
  font-size: 0;
}

.acne-box2__list.type-five .acne-box2__item:nth-child(1) {
  margin-left: 1px;
}

.acne-box2__list.type-five .acne-box2__item:nth-child(3) {
  margin-right: 1px;
}

.acne-box2__item {
  display: inline-block;
  width: 25%;
  margin-top: 46px;
  padding-left: 28px;
  box-sizing: border-box;
}

.acne-box2__box {
  margin-top: 10px;
  padding: 60px 0 56px;
  box-sizing: border-box;
}

.acne-box2__box + .acne-box2__box {
  margin-top: 0px;
  border-top: 1px solid #dbdbdb;
}

.acne-box2__img {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  margin: 0px auto;
}

.acne-box2__txt {
  margin: 24px 0 0 0;
  font-size: 20px;
  color: #444;
}

.acne-box2__noti {
  margin: 50px 0 0 0;
  font-size: 18px;
  color: #444;
}

@media only screen and (max-width: 1025px) {
  .acne-box2__tit {
    margin: 15px -10px 0;
  }
  .acne-box2__list {
    margin: 0 0 0 -74px;
  }
  .acne-box2__list:after {
    display: block;
    clear: both;
    content: '';
  }
  .acne-box2__list.type-five .acne-box2__item:nth-child(1) {
    margin-left: 0px;
  }
  .acne-box2__list.type-five .acne-box2__item:nth-child(3) {
    margin-right: 0px;
  }
  .acne-box2__item {
    float: left;
    width: 50%;
    margin-top: 36px;
    padding-left: 74px;
  }
  .acne-box2__box {
    padding: 60px 42px 70px;
  }
  .acne-box2__noti {
    margin-top: 0;
  }
}

@media only screen and (max-width: 680px) {
  .acne-box2__tit {
    margin: 12px 0 0;
    padding: 0 50px;
    box-sizing: border-box;
  }
  .acne-box2__subject {
    font-size: 1.7rem;
  }
  .acne-box2__subtit2 {
    margin-top: 20px;
    padding: 4px 8px;
  }
  .acne-box2__box {
    margin-top: -10px;
    padding: 40px 20px;
  }
  .acne-box2__list {
    margin-left: -40px;
  }
  .acne-box2__item {
    margin-top: 18px;
    padding-left: 40px;
  }
  .acne-box2__txt {
    margin-top: 12px;
    font-size: 1.2rem;
  }
  .acne-box2__noti {
    font-size: 1.3rem;
  }
  .acne-box2.type-another {
    padding-bottom: 40px;
  }
}

.acne-box3 {
  background-color: #2b2420;
}

.acne-box3__subtit {
  display: inline-block;
  padding-left: 5px;
  letter-spacing: 5px;
  color: #fff;
  box-sizing: border-box;
}

.acne-box3__tit {
  margin-top: 30px;
  color: #fff;
}

.acne-box3__box {
  margin-top: 80px;
  padding: 80px 200px;
  background-color: #fff;
  box-sizing: border-box;
}

.acne-box3__box + .acne-box3__box {
  margin-top: 40px;
}

.acne-box3__subject {
  margin: 0;
  font-size: 28px;
  color: #000;
  font-weight: 300;
}

.acne-box3__txt {
  margin: 20px 0 0 0;
  padding: 0 60px;
  box-sizing: border-box;
  line-height: 1.64;
}

.acne-box3__img {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  margin-top: 36px;
  padding-bottom: 48.19%;
}

.acne-box3__list {
  padding: 0;
  margin: 24px 0 0 0;
  counter-reset: acne;
}

.acne-box3__item {
  position: relative;
  padding: 26px 0 26px 40px;
  border-bottom: 1px solid #d8d8d8;
  list-style: none;
  text-align: left;
  font-size: 18px;
  line-height: 1.66;
  color: #777;
}

.acne-box3__item:before {
  position: absolute;
  top: 26px;
  left: 0;
  display: block;
  width: 30px;
  height: 30px;
  margin: auto 0;
  background-color: #000;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  counter-increment: acne;
  content: counter(acne);
}

.acne-box3__point {
  font-weight: 300;
  color: #000;
}

@media only screen and (max-width: 1025px) {
  .acne-box3__box {
    margin-top: 60px;
    padding: 80px 28px;
  }
  .acne-box3__txt {
    padding: 0 20px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 680px) {
  .acne-box3__tit {
    margin-top: 20px;
  }
  .acne-box3__txt {
    margin-top: 10px;
    padding: 0 10px;
  }
  .acne-box3__box {
    margin-top: 30px;
    padding: 40px 12px;
  }
  .acne-box3__box + .acne-box3__box {
    margin-top: 20px;
  }
  .acne-box3__img {
    margin-top: 18px;
  }
  .acne-box3__list {
    margin-top: 12px;
  }
  .acne-box3__item {
    padding: 12px 0 12px 24px;
    font-size: 1.2rem;
  }
  .acne-box3__item:before {
    top: 12px;
    width: 18px;
    height: 18px;
  }
  .acne-box3__subject {
    font-size: 1.8rem;
  }
}

.acne-box4__subtit {
  margin: 0;
  font-size: 24px;
  font-weight: 100;
  line-height: 1.5;
}

.acne-box4__tit {
  margin: 20px 0 0 0;
  font-size: 45px;
  font-weight: 300;
}

.acne-box4__list {
  padding: 0;
  margin: 50px 0 0 -16px;
}

.acne-box4__list:after {
  display: block;
  clear: both;
  content: '';
}

.acne-box4__img {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 49.23%;
}

.acne-box4__item {
  float: left;
  width: 50%;
  margin-top: 16px;
  padding-left: 16px;
  list-style: none;
  box-sizing: border-box;
}

.acne-box4__wrap {
  height: 130px;
  border: 1px solid #eeeeee;
}

@media only screen and (max-width: 1025px) {
  .acne-box4__list {
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
  }
  .acne-box4__item {
    width: 100%;
    padding-left: 0;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 680px) {
  .acne-box4__wrap {
    height: auto;
    padding: 14px 0;
  }
  .acne-box4__subtit {
    font-size: 1.3rem;
  }
  .acne-box4__tit {
    margin-top: 10px;
    font-size: 2.3rem;
  }
  .acne-box4__list {
    padding-left: 16px;
    padding-right: 16px;
  }
  .acne-box4__item {
    margin-top: 20px;
  }
}

.acne-box5__box {
  padding: 150px 220px 60px;
  background-color: #fe7d8b;
  text-align: center;
  box-sizing: border-box;
}

.acne-box5__subtit {
  margin: 0;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
}

.acne-box5__tit {
  color: #fff;
}

.acne-box5__noti {
  display: inline-block;
  width: 572px;
  margin: 30px 0 0 0;
  padding: 12px 0;
  font-size: 20px;
  color: #d1507c;
  text-align: center;
  background-color: #fff;
  font-weight: 400;
}

.acne-box5__txt {
  margin-top: 30px;
  color: #ffe7ef;
}

.acne-box5__txt strong {
  font-weight: 500;
}

.acne-box5__bg {
  padding: 760px 0 86px;
  background: url("../images/pore/acne/acne_bg2.jpg") no-repeat center center/cover;
  box-sizing: border-box;
}

.acne-box5__list {
  padding: 0;
  margin: -15px;
  font-size: 0;
  text-align: center;
}

.acne-box5__item {
  display: inline-block;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin: 15px;
  border: 10px solid #ff8499;
  font-size: 26px;
  color: #777;
  text-align: center;
  background-color: #fff;
  line-height: 1.23;
  list-style: none;
}

.acne-box5__item .vertical {
  padding: 0 50px;
  box-sizing: border-box;
}

.acne-box5__txt2 {
  margin: 26px 0 0 0;
  color: #444;
  text-align: center;
}

@media only screen and (max-width: 1025px) {
  .acne-box5 {
    overflow: hidden;
  }
  .acne-box5__subtit {
    margin: 0 -60px;
  }
  .acne-box5__tit {
    margin: 20px -60px 0;
    font-size: 60px;
  }
  .acne-box5__noti {
    width: 100%;
    max-width: 572px;
  }
  .acne-box5__list {
    margin: -10px -40px;
  }
  .acne-box5__item {
    margin: 10px 40px;
  }
  .acne-box5__box {
    padding: 100px 98px 40px;
  }
  .acne-box5__bg {
    padding: 77.34% 0 11.2%;
    background: url("../images/pore/acne/acne_bg2_t.jpg") no-repeat center center/cover;
  }
  .acne-box5__txt2 {
    margin-top: 36px;
  }
}

@media only screen and (max-width: 680px) {
  .acne-box5__subtit {
    margin: 0;
    font-size: 1.3rem;
  }
  .acne-box5__box {
    padding: 50px 18px;
  }
  .acne-box5__tit {
    margin: 16px 0 0 0;
    font-size: 3.1rem;
  }
  .acne-box5__txt {
    margin-top: 16px;
  }
  .acne-box5__noti {
    margin-top: 18px;
    padding: 6px 0;
    font-size: 1.4rem;
  }
  .acne-box5__list {
    margin: -5px -20px;
  }
  .acne-box5__item {
    width: 110px;
    height: 110px;
    margin: 5px 20px;
    border-width: 5px;
    font-size: 1.4rem;
  }
  .acne-box5__item .vertical {
    padding: 0 25px;
  }
  .acne-box5__txt2 {
    margin-top: 18px;
    padding: 0 64px;
  }
}

.color-acne1 {
  color: #ffac1b;
}

.color-acne2 {
  color: #fffcad;
}

.color-acne3 {
  color: #ff6b9a;
}
