@charset "UTF-8";
@import "mixins";
@import "motion";
.fs-nav{ position: fixed; right: 50px; top: 50%; padding: 0; margin: 0; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); font-size: 0; z-index: 10; list-style: none;
	&__item {
		& + &{margin-top:20px;}
	}
	&__link{position:relative; display:block; width:16px; height:16px;
		&:after{position:absolute; top:0; bottom:0; left:0; right:0; margin:auto; display:block; width:100%; height:3px; background-color:#bcbcbc; transition:transform .2s; content:'';}
		&.is-active{
			&:after{transform: rotate(-50deg);}
		}
	}
	@media only screen and (max-width:$tablet-size){display:none;}
}

.onepage{
	$this:&;
	&__box{position:relative; height:100%;  box-sizing:border-box;
		&.type-half{float:left; width:50%;
			&.type-r{float:right; padding-left:60px;}
		}
		&.type-another{padding:0;}
	}
	&__tit{margin:0; font-size:100px; color:$black1; font-weight:$thin; line-height:1; text-transform:uppercase;
		span{display:block;}
		strong{font-weight:$regular; display:block; }
	}
	&__subtit{margin:54px 0 0 0; font-size:22px; color:$black1; font-weight:$light; line-height:1.45;}
	&__txt{width:500px; margin:40px 0 0 0; font-size:16px; color:$black3; line-height:1.75;
		&.type-philosophy{width:auto;}
	}
	&__inner{display:inline-table; width:100%; height:100%; vertical-align:middle;}
	&__vertical{display:table-cell; vertical-align:middle;}
	.inner-wrap{height:100%;}
	@media only screen and (max-width:$tablet-size){
		&__box{position:static; padding:0;
			&.type-half{width:100%;
				&.type-r{padding:0;}
			}
		}
		&__txt{width:auto;}
		&.type-another{
			.content-section{padding:0;
				&.type-visual{
					#{$this}__vertical{padding:0 90px;}
				}
				&:not(.type-visual){
					#{$this}__vertical{display:block; padding:140px 90px 0; box-sizing:border-box;}
					#{$this}__inner{display:block}
				}
			}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&.type-another{
			.content-section{
				&.type-visual{
					#{$this}__vertical{padding:0 12px;}
				}
				&:not(.type-visual){
					#{$this}__vertical{padding:50px 12px 0;}
					#{$this}__inner{display:block}
				}
			}
		}
		&__tit{font-size:5.2rem;}
		&__subtit{margin-top:24px; font-size:1.7rem;}
		&__txt{margin-top:24px; font-size:1.2rem;}
	}
}
.detail-visual{margin-top:210px;
	&__tit{margin:0;font-size:100px; font-weight:$thin; color:#fff; line-height:1; opacity:0; text-transform:uppercase;
		& strong{font-weight:$black;}
	}
	&__subtit{margin-top:44px; color:#fff; color:rgba(255,255,255,0.8); opacity:0;}
	@media only screen and (max-width:$mobile-size){position:absolute; margin-top:0; bottom:50px;
		&__tit{font-size:5.2rem;}
		&__subtit{margin-top:24px;}
	}
}
.detail{
	&__tit{margin:0; font-weight:$thin; color:$black1; font-size:40px;
		strong{font-weight:$medium;}
	}
	&__img{display:none;}
	&__img2{display:none;}
	&__popup-btn{overflow:hidden; position:relative; top:-2px; display:inline-block; width:22px; height:22px; margin-left:6px; border:1px solid #fff; vertical-align:middle; text-indent: -999px; box-sizing:border-box;
		&:before{position:absolute; top:0; left:0; right:0; bottom:0; display:block; width:10px; height:0; margin:auto; border-bottom:2px solid #fff; content:''; transition: all 0.5s; box-sizing:border-box;}
		&:after{position:absolute; top:0; left:0; right:0; bottom:0; display:block; width:0; height:10px; margin:auto; border-left:2px solid #fff; content:''; transition: all 0.5s; box-sizing:border-box;}
		&:hover{background-color:#fff;
			&:before,&:after{border-color:#534c44;}
		}
	}
	&__popup{display:none; position:absolute; right:0; height:100%; width:100%; background-color:#000; background-color:rgba(0,0,0,0.65); text-align:center; z-index:90;
		&:before{display:inline-block; height:100%; vertical-align:middle; content:'';}
	}
	&__popup-wrap{position:relative; display:inline-block; padding:60px 40px 70px; margin:auto; background-color:#fff; vertical-align:middle;}
	&__popup-tit{margin:0; font-size:42px; font-weight:$regular;}
	&__popup-subtit{display:block; font-size:22px;}
	&__section-bottom{position:absolute; bottom:45px; right:50px; font-size:16px; color:#fff; font-weight:$regular; line-height:22px;}
	&__section-bottomWrap{position:absolute; top:0; right:0; bottom:0; margin:auto 0;}
	&__section-set{position:relative; padding-right:30px;}
	&__dim{display:none; overflow:hidden; position:absolute; top:0; left:0; right:0; bottom:0; width:100%; height:100%; margin:auto; background:rgba(0,0,0,0.65); text-indent:-999px;content:'';}
	&__popup-close{position:absolute; top:25px; right:25px; overflow:hidden; display:block; width:25px; height:25px; background:url('../images/common/popup_close.png'); text-indent:-999px;
		&:hover{color:#fff;}
	}
	@media only screen and (max-width:$tablet-size){
		&__img{display:block; margin-bottom:54px; text-align:center;
			img{max-width:100%; }
		}
		&__img2{overflow:hidden; display:block; height:0; margin:50px 0 0; text-indent:-9999px;}
		&__popup{position:fixed; top:0; bottom:0; margin:auto; z-index:110; box-sizing:border-box;
			&:before{display:none;}
		}
		&__popup-wrap{top:50%; transform: translateY(-50%);}
		&__section-bottom{right:30px; bottom:20px;}
	}
	@media only screen and (max-width:$mobile-size){
		&__tit{font-size:2.1rem;}
		&__img{
			img{max-width:250px;}
		}
		&__section-set{padding-right:34px}
		&__section-bottom{bottom:12px; right:12px; font-size:1.2rem;}
		&__popup{padding:0 12px;}
		&__popup-wrap{width:100%; padding:30px 0 0;}
		&__popup-close{position:relative; top:0; right:0; width:100%; height:64px; margin-top:30px; line-height:64px; background:none; background-color:#333333; color:#fff;
			text-indent: 0; font-size:1.5rem; text-decoration:none;
			&:before{position:absolute; top:0; left:0; right:0; bottom:0; width:154px; height:40px; margin:auto; border-radius:20px 20px 20px 20px; border:1px solid #fff; content:'';}
		}
		&__popup-scroll{overflow:auto; margin-top:20px; max-height:290px; padding:0 15px; box-sizing:border-box;}
		&__popup-tit{font-size:2.5rem;}
		&__popup-subtit{font-size:1.3rem;}

	}
}
.content-section{overflow:hidden; position:relative; height:100vh;
	&.type-visual{
		&:before{transform:scale(1.2); transition:transform 1s ease;}
		&.is-active{
			&:before{transform:scale(1);}
		}
	}
	&.type-popup{
		.inner-wrap{max-width:100%; padding:0;}
		.onepage__box.type-half.type-r{padding:0;}
		.detail__tit, .onepage__subtit, .onepage__txt{width:500px; margin-left:auto; margin-right:auto;}
	}
	@media only screen and (max-width:$tablet-size){padding:100px 90px; box-sizing:border-box;
		&:not(.type-visual){height:auto !important;}
	}
	@media only screen and (max-width:$mobile-size){ padding:50px 12px; box-sizing:border-box;
		&.type-popup{
			.detail__tit, .onepage__subtit, .onepage__txt{width:auto; margin-left:auto; margin-right:auto;}
		}
	}
}


.visual-motion{opacity:0;}
