@charset "UTF-8";
@import "mixins";
.content-section{
	&.only-section0{
		&:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:url('../images/only/only_detail_top.jpg') no-repeat center center / cover; content:'';}
	}
	&.only-section1{
		&:before{position:absolute; top:0; left:0; display:block; width:50%; height:100%; background:url('../images/only/only_detail_bg1.jpg') no-repeat left center / contain;  content:'';}
	}
	&.only-section2{background-color:#84807a;
		&:before{position:absolute; top:0; right:0; display:block; width:50%; height:100%; background:url('../images/only/only_detail_bg2.jpg') no-repeat center right / contain;  content:'';}
	}
	&.only-section3{background-color:#ddf5fa;
		&:before{position:absolute; top:0; left:0; display:block; width:50%; height:100%; background:url('../images/only/only_detail_bg3.jpg') no-repeat left center / contain;  content:'';}
	}
	&.only-section4{background-color:#252321;
		&:before{position:absolute; top:0; right:0; display:block; width:50%; height:100%; background:url('../images/only/only_detail_bg4.jpg') no-repeat center center / contain;  content:'';}
	}
	@media only screen and (max-width:$tablet-size){
		&:not(.only-section0):before{display:none !important;}
	}
	@media only screen and (max-width:$mobile-size){
		&.only-section0:before{background:url('../images/only/only_detail_top_m.jpg') no-repeat center center / cover;}
	}
}

.only-detail1{
	&__color{color:#00bbab;}
	@media only screen and (max-width:$mobile-size){
		&__img{}
	}
}
.only-detail2{
	&__tit{color:#fff;}
	&__subtit{color:#fff;}
	&__txt{color:#c9c5bf;}
	&__color{color:#ffe0ae;}
}
.only-detail3{
	&__txt{color:#999;}
	&__color{color:#33a8c1;}
}
.only-detail4{
	&__tit{color:#fff;}
	&__subtit{color:#fff;}
	&__txt{color:#b1aca7;}
	&__color{color:#ffe3ba;}
}
