@charset "UTF-8";
@import "mixins";

/*new상담신청*/
.popup-c{display:none; position:fixed; top:0; left:0; right:0; bottom:0; z-index:110; text-align:center;
	$this:&;
	&.is-active{display:block;}
	&:before{position:absolute; z-index:-1; display:block; width:100%; height:100%; background-color:rgba(0,0,0,0.7); content:'';}
	&:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
	&.type-event{z-index:120;
		#{$this}__tit{padding-top:30px;}
		#{$this}__close{top:0;}
		.popup-content{padding-top:26px;}
		.popup-content__box{width:100%;
			&.type-check{text-align:left;}
		}
		.popup-content__tit2{text-align:center;}
		.popup-input1{height:40px; font-size:14px;}
		.popup-select{line-height:40px; font-size:14px;}
		.popup-textarea{height:120px; margin-top:20px; font-size:14px;}
		.popup-content__btn{margin-top:18px; height:50px; line-height:50px; font-size:20px;}
		.popup-select__item{font-size:14px;}
		.popup-select__tit, .popup-select2__subject{height:40px; line-height:40px; font-size:14px;}
		.radio1 + label{font-size:14px;}
		.popup-select:first-child{margin-top:0;}
		.popup-content__check{margin-left:8px;
			+ label.error{margin-left:8px;}
		}
	}
	&__wrap{position:relative; display:inline-block; width:770px; vertical-align:middle; background-color:#fff;}
	&__box{position:relative;}
	&__footer{padding:0 50px;  text-align:left;
		&:after{display:block; clear:both; content:'';}
	}
	&__dl{float:right; display:inline-block; font-size:0;
		&:first-child{float:left;}
	}
	&__dt{display:inline-block; font-size:15px; font-weight:$medium; color:#333;}
	&__dd{position:relative; display:inline-block; margin-left:8px; padding-left:8px;  font-size:15px; font-weight:$light;
		&:before{position:absolute; top:0; left:0; bottom:0; display:block;  width:0; height:13px;  margin:auto 0; border-left:1px solid #ddd; content:'';}
	}
	&__number{font-family: 'Roboto', sans-serif;}
	&__terms{ position:absolute; opacity:0; bottom:0; left:0; width:100%; height:100%; background:#fff; z-index:-1; transition:all 0.3s;
		&.is-active{display:block; opacity:1; z-index:10;}
	}
	&__info{display:block; width:100%; padding:24px 0 30px; border-top:1px solid #ddd;
		&:after{display:block; clear:both; content:'';}
	}
	&__close{position:absolute; top:74px; right:-44px; overflow:hidden; display:block; width:44px; height:44px; background:url('../images/common/consultaion/popup_close.gif'); text-indent:-9999px;}
	.invisible{display:none;}
	&__tit{font-size:32px; font-weight:$medium;}
	&__detail{margin-top:10px; padding-top:10px; border-top:1px solid #ddd;}
	@media only screen and (max-width:$tablet-size){
		&__tit{font-size:2.4rem;}
		&.type-event{
			#{$this}__tit{position:fixed; top:0; left:0; right:0; padding:10px 0; z-index:10; background-color:#fff;}
			#{$this}__scroll{padding-top:0;}
			#{$this}__box{padding-top:60px;}
			#{$this}__close{top:auto;}
			.popup-input1{font-size:1.4rem;}
			.popup-select{font-size:1.4rem;}
			.popup-textarea{font-size:1.4rem;}
			.popup-content{padding-top:0px;}
			.popup-content__btn{margin-top:14px; height:40px; line-height:40px; font-size:1.6rem;}
			.radio1 + label{font-size:1.4rem;}
			.popup-select__tit, .popup-select2__subject{font-size:1.4rem;}
			.popup-select__item{font-size:1.4rem;}
		}
		&__footer{padding:0;}
		&__wrap{width:100%; height:100%;}
		&__box{padding:0 30px; height:100%;}
		&__terms{display:none; position:fixed; top:74px; height:calc(100% - 74px;)}
		&__close{position:fixed; top:auto; right:0; bottom:0; z-index:110; width:100%; height:74px; line-height:74px; background-image:none; background-color:#666; font-size:17px; color:#fff; text-indent:0; text-decoration:none;}
		&__dl{float:none; display:block;  position:relative;
			&:first-child{float:none;}
			& + &{margin-top:6px;}
		}
		&__dt{position:absolute; top:0; left:0; float:left; width:60px;
			span{
				&:first-child{float:left;}
				&:last-child{float:right;}
			}
			&:after{display:block; clear:both; content:'';}
		}
		&__dd{margin-left:68px;
			&:before{top:3px; bottom:auto;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&.type-event{
            .popup-textarea{margin-top:10px;}
        }
		&__scroll{height:100%; padding:50px 0 45px; box-sizing:border-box;}
		&__box{position:static; overflow:auto; padding:0 15px; box-sizing:border-box;
			&.no-scroll{position:fixed; left:0; right:0; overflow:hidden;}
		}
		&__dt{ width:50px; font-size:1.3rem;}
		&__dd{margin-left:58px; font-size:1.3rem;}
		&__terms{top:50px; height:calc(100% - 50px;)}
		&__close{height:45px; line-height:45px;}
		&__info{padding:20px 0;}
	}
}
.popup-radio{margin-top:20px; padding:0 15px; box-sizing:border-box;
    $this:&;
	&__wrap{ padding:0 0 0 110px; text-align:left;}
	&__tit{float:left; margin:0; box-sizing:border-box; font-size:14px;color: #666;}
	@media only screen and (max-width:$mobile-size){margin-top:10px; padding:0 12px;
        &.type-age{
            #{$this}__wrap{margin-left: -10px;}
            .radio1 + label{margin-left: 10px;}
            .radio1 + label + .radio1 + label{margin-top: 5px;}
        }
		&__tit{ font-size:1.4rem;}
	}
}

.popup-content{display:none; padding:38px 50px 24px;
	&.is-active{display:block;}
	&__txt{margin:18px 0 0 0; font-size:16px; color:#404040;}
	&__tit{margin:15px 0 0 0;font-size:28px; color:#333;
		&.type-another{margin-top:20px;}
	}
	&__tit2{margin:0; font-size:17px; font-weight:$light; text-align:left;
		strong{font-weight:$medium;}
	}
	&__icon{width:150px; height:150px;}
	&__time{display:inline-block; height:26px; margin:12px 0 0 0; padding:0 18px; line-height:26px; border-radius: 13px; font-size:15px; color:#fff; background:#474747;}
	&__btn{display:block; width:100%; height:60px; margin-top:24px; line-height:60px; color:#fff; font-size:24px; font-weight:$regular; background-color:#333; border:none;
		&.type-katalk{background-color:#ffe800; color:#391f1f;}
		&.type-online{background-color:#18b3a4; color:#ffffff;}
	}
	&__btn2{color:#666; text-decoration:none;}
	&__info{margin:40px 0 0 0;font-size:15px; color:#666;}
	&__wrap{margin-top:30px; margin-left:-80px; box-sizing:border-box;
		&:after{display:block; clear:both; content:'';}
		& + &{margin-top:10px;}
	}
	&__box{float:left; width:50%;padding-left:80px; box-sizing:border-box;
		&.type-right{float:right;}
		&.type-check{margin-left:-8px;}
	}
	&__hidden{ position: absolute; width: 1px; height: 1px;  padding: 0; margin: -1px; overflow: hidden; clip: rect(0,0,0,0); border: 0;}
	&__subtit{position:relative; display:inline-block; margin:0; font-size:20px; text-decoration:none; color:inherit;
		span{vertical-align:middle;}
	}
	&__arrow{overflow:hidden;display:inline-block; width:20px; height:20px; margin-left:5px; background:url('../images/program/popup_arrow.png') no-repeat center center/ contain; text-indent:-999px;
		transition: transform 0.3s;
		&.is-active{transform: rotate(180deg);}
	}
	&__list{margin:0 0 0 -10px;; padding:0;
		&:after{display:block; clear:both; content:''; }
	}
	&__item{float:left; width:50%; padding-left:10px; list-style:none; box-sizing:border-box;}
	&__hide{display:none;}
	&__noti{margin:10px 0 0 0; font-size:14px;}
	&__check{display:inline-block; margin-top:8px; text-align:left;}
	@media only screen and (max-width:$tablet-size){padding:80px 0 18px;
		&__wrap{margin-top:15px; margin-left:0;}
		&__box{width:100%; padding-left:0;
			& + &{margin-top:15px;}
		}
		&__icon{margin-top:100px;}
	}
	@media only screen and (max-width:$mobile-size){padding-top:30px;
		&__icon{margin-top:20px; width:100px; height:100px;}
		&__time{margin-top:16px; font-size:1.4rem; line-height:28px; border-radius:14px;}
		&__info{margin-bottom:15px; font-size:1.3rem;}
		&__txt{margin-top:15px; font-size:1.3rem;}
		&__tit{font-size:2.4rem;}
		&__tit2{font-size:1.4rem; line-height:1.4; text-align:center;
			strong{font-weight:$regular;}
		}
		&__btn{height:45px; margin-top:20px; line-height:45px; font-size:1.4rem;}
		&__btn2{font-size:1.3rem;}
		&__subtit{font-size:1.6rem;}
		&__arrow{width:16px; height:16px; background:url('../images/program/popup_arrow_m.png') no-repeat center center/ contain;}
		&__noti{margin-top:5px; font-size:1.2rem;}
		label.error{ margin-top:3px; padding-left:10px; font-size:1.2rem;}
	}
}
.popup-tab{
	$this:&;
	&__list{margin:0; padding:0; height:74px;}
	&__item{display:table-cell; width:1%; height:inherit; vertical-align:middle; background-color:#282828;
		&.is-active{background-color:#fff;
			#{$this}__link{color:#333;}
			&.online{
				#{$this}__wrap{padding-left:30px;
					&:before{width:24px; height:22x; background:url('../images/common/consultaion/online_icon.png') no-repeat center center / contain;}
				}
			}
			&.katalk{
				#{$this}__wrap{padding-left:30px;
					&:before{width:24px; height:22px; background:url('../images/common/consultaion/katalk_icon.png') no-repeat center center / contain;}
				}
			}
		}
	}
	&__link{display:block; line-height:74px; font-size:17px; font-weight:$light; color:#fff; text-align:center; text-decoration:none;}
	&__wrap{position:relative;
		&:before{position:absolute; top:0; bottom:0; left:0; display:block;  margin:auto 0; content:'';}
	}
	@media only screen and (max-width:$mobile-size){position:fixed; z-index:50;
		&__list{height:50px;}
		&__item{display:table-cell; width:1%; height:inherit; vertical-align:middle; background-color:#333;
			&.is-active{background-color:#fff;
				#{$this}__link{color:#333;}
				&.live{
					#{$this}__wrap{padding-left:20px;
						&:before{width:18px; height:16px; background:url('../images/common/consultaion/naver_icon.png') no-repeat center center / contain;}
					}
				}
				&.katalk{
					#{$this}__wrap{padding-left:20px;
						&:before{width:16px; height:16px; background:url('../images/common/consultaion/katalk_icon.png') no-repeat center center / contain;}
					}
				}
				&.cost{
					#{$this}__wrap{padding-left:20px;
						&:before{width:11px; height:17px; background:url('../images/common/consultaion/cost_icon.png') no-repeat center center / contain;}
					}
				}
			}
		}
		&__link{line-height:50px; font-size:1.3rem;}
	}
}

.popup-input1{width:100%; height:50px; padding:0 15px; line-height:50px; background-color:#f2f2f2; font-size:16px; color:#666; border:none; outline:none; box-sizing:border-box; font-family:$font-normal;
	@media only screen and (max-width:$mobile-size){height:40px; line-height:40px; padding:0 12px; font-size:1.4rem;}
	&::-ms-clear{display:none;}
}
.input1{
	&__box{position:relative;
		& + &{margin-top:10px;}
	}
	&__clear{position:absolute; top:0; bottom:0; right:14px; display:block; width:26px; height:26px; margin:auto 0; background:url('../images/common/consultaion/clear_icon.png'); border:none;}
	@media only screen and (max-width:$mobile-size){
		&__box{
			&:first-child{margin-top:0;}
			& + &{margin-top:15px;}
		}
		&__clear{width:25px; height:25px;  background:url('../images/common/consultaion/clear_icon_m.png') no-repeat center center / contain;}
	}
}
.popup-textarea{width:100%; height:170px; padding:12px 15px; background-color:#f2f2f2; font-size:16px; color:#666; border:none; text-align:left; box-sizing:border-box;  font-family:$font-normal;
	&.type-another{margin-top:10px; height:110px;}
	@media only screen and (max-width:$mobile-size){font-size:1.4rem; padding:12px; height:120px;}
}
.popup-select {position:relative; margin-top:10px;  line-height:50px; background-color:#f2f2f2; font-size:16px; color:#666; text-align:left;
	$this:&;
	&.type-another{margin-top:0px;}
	&.is-active{border-bottom:none;
		#{$this}__list{border:1px solid #d5d5d5; border-top:none;}
	}
	&__tit{position:relative; display:block; overflow:hidden; padding:0 15px; color:#666; font-size:16px; border:1px solid #f2f2f2; transition:none; text-overflow: ellipsis; white-space:nowrap; text-decoration:none;
		&:after {position:absolute; top:5px; bottom:0; right:18px; margin:auto 0 ; display:block; height:5px; border-left:5px solid transparent; border-top:5px solid #666; border-right:5px solid transparent; border-bottom:5px solid transparent; content:'';}
	}
	&__box{position:absolute; width:100%;  top:0px; left:0;  background:#f2f2f2;  z-index:5;}
	&__list{overflow:auto; display:none; margin:0; padding:0; max-height:300px;
		&.is-active{display:block;}
	}
	&__item{overflow:hidden; text-overflow:ellipsis; cursor:pointer;  padding:0 15px; border-top:0; color:#666; font-size:16px; white-space:nowrap;
		&.is-hover{background-color:#636363; color:#fff;}
		&:first-child:after {display:block;}
		&.select{font-weight:$regular;}
	}
	@media only screen and (max-width:$mobile-size){margin-top:15px; line-height:40px;
		&__tit{padding:0 12px; font-size:1.4rem;}
		&__item{font-size:1.4rem;}
		&__list{max-height:150px;}
	}
}
.popup-select2{
	&__list{padding:0;}
	&__tit,&__subject{cursor:default; padding:0 15px; border-top:0; color:#666; line-height:50px; font-size:16px; font-weight:$thin;}
	&__subject{position:relative; display:none; margin:0; border:1px solid #d5d5d5; border-bottom:none; color:#2a59aa; font-weight:$regular; cursor:pointer;
		&:after {position:absolute; top:0px; bottom:0; right:18px; margin:auto 0 ; display:block; height:5px; border-left:5px solid transparent; border-top:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid #666; content:'';}
		&.is-active{display:block;}
		&.type-another{color:#666; font-weight:$medium;}
	}
	&__tit{margin:0; background-color:#d0d0d0; color:#333; font-weight:$regular;}
	@media only screen and (max-width:$mobile-size){line-height:40px;
		&__tit,&__subject{padding:0 12px;  font-size:1.4rem; line-height:40px;}
	}
}
.checkbox02 + label { display: inline-block; margin-bottom: 0; line-height:18px;  }

@media only screen { .checkbox02 { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0); }
  .checkbox02 + label { position: relative; margin-left: 0; padding-left: 24px; cursor: pointer; font-size: 12px; color: #666666; font-weight: 300; vertical-align:middle;} }
@media only screen and (max-width: 668px) { .checkbox02 + label { font-size: 1.3rem; } }

@media only screen { .checkbox02 + label:before { position: absolute; top: -1px; bottom: 0; left: 0; -webkit-box-sizing: border-box; box-sizing: border-box; width: 18px; height: 18px; margin: auto; border: 1px solid #c1c1c1; content: ''; cursor: pointer; }
  .checkbox02:checked + label:before { border:none; background: url("../images/common/consultaion/check_on1.gif");}
  .checkbox02.type-online:checked + label:before { border:none; background: url("../images/common/consultaion/check_on2.gif");}
}
@media only screen and (max-width:$mobile-size){
	.checkbox02 + label:before{top:1px; width:15px; height:15px;}
	.checkbox02:checked + label:before { border:none; background: url("../images/common/consultaion/check_on1_m.gif"); background-size:15px 15px;}
    .checkbox02.type-online:checked + label:before { border:none; background: url("../images/common/consultaion/check_on2_m.gif"); background-size:15px 15px;}
}
.terms-c{position:relative; padding:35px 50px; text-align:left; box-sizing:border-box;
	&__box{
		& + &{margin-top:28px;}
	}
	&__tit{margin:0; font-size:17px; color:#333; font-weight:$medium;}
	&__area{overflow:auto; height:130px; margin-top:15px; padding:18px 20px; background-color:#f2f2f2; font-size:15px; color:#666; line-height:1.5; box-sizing:border-box;}
	&__btn{overflow:hidden; position:absolute; top:18px; right:16px; display:block; width:25px; height:25px; background:url('../images/common/consultaion/terms_close.png'); text-indent:-9999px;}
	@media only screen and (max-width:$tablet-size){
		&__area{height:280px;}
	}
	@media only screen and (max-width:$mobile-size){padding:50px 15px;
		&__box{
			& + &{margin-top:10px;}
		}
		&__tit{font-size:1.8rem;}
		&__area{height:150px; margin-top:10px; padding:5px; font-size:1.3rem;}
		&__btn{background:url('../images/common/consultaion/terms_close_m.png') no-repeat center center/contain;}
	}
}

.popup-check{ margin-left:-10px;text-align:left;
	&:after{display:block; clear:both; content:'';}
	&__item{float:left; width:50%;  padding-left:10px; margin-top:5px;}
	&__wrap{position:relative; overflow:hidden; display:block; width:100%; height:100%; padding:0 20px 0 6px; line-height:24px; color:#666; text-overflow:ellipsis;  white-space:nowrap;}
	&__close{position:absolute; top:0; bottom:0; right:3px; width:16px; height:16px; margin:auto 0; background:url('../images/common/consultaion/clear_icon_small.png'); text-indent:-9999px;}
	@media only screen and (max-width:$mobile-size){
		&__close{background:url('../images/common/consultaion/clear_icon_m.png') no-repeat center center / contain;}
	}
}
