@charset "UTF-8";
@import "mixins";
.program{
	&__visual{font-size:0;
		img{width:100%;}
	}
	&__area{padding:0 16px; box-sizing:border-box;}
	&__list{margin:60px 0 0 -10px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:33.33%; margin-top:10px; padding-left:10px; box-sizing:border-box; list-style:none;}
	&__wrap{position:relative; width:100%; height:0; padding-bottom:100%;}
	&__link{overflow:hidden; position:absolute; top:0; left:0; display:block; width:100%; height:100%; text-indent:-9999px; font-size:0; z-index:10;
		&:hover{
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.6); content:'';}
			&:after{position:absolute; top:0; left:0; width:100%; height:100%; background:url('../images/program/plus.png') no-repeat center center; content:'';}
		}
	}
	&__view{padding-top:50px; font-size:0; box-sizing:border-box;
		img{width:100%;}
	}
	&__tel{display:block;}
	@media only screen and (max-width: $tablet-size) {
		&__list{margin-top:30px;}
		&__area{padding:0 18px;}
		&__item{width:50%;}
		&__view{padding-top:60px;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__list{margin-top:18px; margin-left:0;}
		&__item{width:100%; margin-top:0; padding:0;
			& + &{margin-top:20px;}
		}
		&__view{padding-top:50px;}
	}
}
.quick{position:fixed; bottom:60px; right:8.5%; list-style:none; z-index:80;
	$this:&;
	&__list{margin:0; padding:0; list-style:none;}
	&__item{width:80px; height:80px; border-radius:50%;
		& + &{margin-top:10px;}
		&.type-counsel{background-color:#ff3904; color:#fff; border:1px solid #ff3904;
			#{$this}__wrap{
				&:before{display:block; width:27px; height:18px; margin:0px auto 6px; box-sizing:border-box; background:url('../images/program/quick_counsel.png'); content:'';}
			}
		}
		&.type-list{background-color:#000; color:#fff; border:1px solid #000;
			#{$this}__wrap{
				&:before{display:block; width:18px; height:18px; margin:0px auto 6px; box-sizing:border-box; background:url('../images/program/quick_list.png'); content:'';}
			}
		}
		&.type-top{background-color:#fff; border:1px solid #b7b6b6; color:#333;
			#{$this}__wrap{
				&:before{display:block; width:19px; height:10px; margin:0px auto 6px; box-sizing:border-box; background:url('../images/program/top.png'); content:'';}
			}
		}
	}
	&__wrap{position:relative; color:inherit;}
	&__link{display:table-cell; width:1%; height:80px; font-size:12px; font-weight:400; text-decoration:none; color:inherit; text-align:center; vertical-align:middle;
		&:hover{color:inherit;}
	}
	@media only screen and (max-width: $tablet-size) {bottom:50px; right:30px;
		&__item{width:72px; height:72px;}
		&__link{height:72px;}
	}
	@media only screen and (max-width: $mobile-size) {bottom:68px; right:16px;
		&__item{width:50px; height:50px;
			&.type-counsel{background-color:#ff3904; color:#fff; border:1px solid #ff3904;
				#{$this}__wrap{
					&:before{display:block; width:20px; height:13px; margin-bottom:3px; background:url('../images/program/quick_counsel_m.png') no-repeat center center / 20px 13px; content:'';}
				}
			}
			&.type-list{
				#{$this}__wrap{
					&:before{display:block; width:14px; height:14px; margin-bottom:3px;  background:url('../images/program/quick_list_m.png') no-repeat center center / 14px 14px; content:'';}
				}
			}
			&.type-top{
				#{$this}__wrap{
					&:before{display:block; width:12px; height:7px; margin-bottom:3px; background:url('../images/program/top_m.png') no-repeat center center / 12px 7px; content:'';}
				}
			}
		}
		&__link{height:50px; font-size:1.2rem;}
	}
}
