@charset "UTF-8";
@import "mixins";
@import "epilogue";
@import "medi";

.sitemap{
	&__list{margin:-150px 0 0 -80px; padding:0; font-size:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{display:inline-block; width:33.33%; margin-top:150px; padding-left:80px; box-sizing:border-box; list-style:none; vertical-align:top;}
	&__dt{font-size:20px; font-weight:$regular; color:$black1;}
	&__dl{margin:0;}
	&__dd{position:relative; margin:0; font-size:16px; color:$black3; border-bottom:1px solid #e5e5e5; box-sizing:border-box;
		&:first-of-type{margin-top:26px; border-top:1px solid $black1;}
		&:before{position:absolute; top:33px; left:0; display:block; width:4px; height:4px; background:#d1d1d1; content:'';}
	}
	&__link{display:table-cell; width:1%; height:70px; padding-left:24px; vertical-align:middle; color:inherit; text-decoration:none;}
	@media only screen and (max-width: $tablet-size) {
		&__item{width:50%;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__list{margin:-40px 0 0 0}
		&__item{width:100%; margin-top:40px; padding:0;}
		&__dt{font-size:1.7rem;}
		&__dd{font-size:1.4rem;
			&:first-of-type{margin-top:18px;}
			&:before{top:0; bottom:0; width:2px; height:2px; margin:auto 0;}
		}
		&__link{display:block; width:auto; height:auto; padding:12px;}
	}
}
